[2018-01-01 09:57] nicolargo commented on #1181
Glances must access to system information. I just add all the interfaces (https://docs.snapcraft.io/reference/interfaces) needed by Glances, so please update your Glances Snap installation with the 5 release.

If it doesn't work after the upgrade, please enter the following commands lines:

[code]
@paranoicogm and  dhoomakethu : Can you test on your system and tell me if it's works (directly or af

[2018-01-01 17:14] nicolargo commented on #1164
REJECTED: not a Glances issue.

[2018-01-01 17:14] #1164 closed

[2018-01-01 17:18] nicolargo commented on #1163
Rejected cause: do not understand the issue...

[2018-01-01 17:18] #1163 closed

[2018-01-01 17:18] #1140 closed

[2018-01-01 17:37] nicolargo commented on #1105
See PsUtil documentation here: https://psutil.readthedocs.io/en/latest/#psutil.process_iter

[2018-01-02 03:05] siyaoyao commented on #1094
Same Problem.

Versions

Glances v2.11.1 with psutil v5.4.3

macOS

[2018-01-02 17:43] dhoomakethu commented on #1181
I will let you know how it goes in some days.

[2018-01-02 18:23] MBuchaus commented on #1203
I was getting the same and can confirm that --disable-sensors stops the error traceback.. but now the sensor displays aren't working (of course)

[2018-01-03 04:30] dhoomakethu commented on #1181
@nicolargo I could no longer see this issue, how ever when I started the web interface , I could see the following errors .

[code]
----------------------------------------

[2018-01-04 11:56] realies commented on #1212
Looks great. Looking to run a `sysbench` on a few architectures and report on results.

[2018-01-05 08:43] 2892931976 opened #1213 "glances -w -C glances.conf command error"
glances -w -p 63999 --password="123456"   command error

[2018-01-05 08:46] 2892931976 commented on #1213
“glances -w -C glances.conf”   How glances.conf documents set up passwords and users, there are examples

[2018-01-05 18:56] realies commented on #1212
Interestingly, running `sysbench --num-threads=1024 --test=threads --time=7200  run ` on an ` i7-4980HQ` on `Darwin 10.13.2 64bit` makes `ctx_sw` go up to only 8K and it does go into negative values while the benchmark is running. Quitting a browser with multiple tabs open makes `ctx_sw` spike to about 128K. Is context switching detected incorrectly under macOS or is `sysbench` not acting as expec

[2018-01-05 21:50] notFloran commented on #1213
Hi @2892931976

To set up a password you must execute `glances -w -p 63999 --password` then glances will ask you for the password and save it to a `glances.pwd` file.

<img width="412" alt="capture d ecran 2018-01-05 a 22 48 48" src="https://user-images.githubusercontent.com/523981/34630028-ad459a36-f26a-11e7-8dc9-bccaa31c2d13.png">

[2018-01-06 02:20] 2892931976 commented on #1213
Thank you! Solve the problem

[2018-01-06 20:37] rocketraman opened #1214 "Default alerts for io wait on CPU plugin seem wrong"
#### Description

IO Wait on Linux is a form of idle time. Its an indication that the processor is idle while one or more process is doing I/O. It doesn't necessarily indicate a problem, unless that I/O is itself taking a long time. This is a good description of it:

https://blog.pregos.info/wp-content/uploads/2010/09/iowait.txt

Given this information, I'm not sure that the following default conf

[2018-01-07 22:17] ladislavsulc commented on #1030
Hi. Similar problem here with Windows 10 and:

Glances v2.11.1 with psutil v5.4.3

[code]

[2018-01-08 16:19] drandreaskrueger opened #1215 "autostart on AWS ?"
#### Description

I want the simplest route to autostarting

    glances -s

and unfortunately the **AWS Amazon** default instances do not seem to have the [systemd](https://github.com/nicolargo/glances/wiki/Start-Glances-through-Systemd) `sudo systemctl` command.

#### Partial solution

I am trying to wiggle myself into the `init.d` labyrinth, but so far no full success. Using a script adapted fr

[2018-01-08 17:16] drandreaskrueger commented on #1215
I see a logfile:

[code]

[code]

[2018-01-09 06:54] #1213 closed

[2018-01-09 08:06] Lu-Yi-Hsun commented on #1203
i have same problem on arch manjaro python3.6
`
RequestsDependencyWarning: urllib3 (1.18.1) or chardet (3.0.4) doesn't match a supported version!
`

requests 2.18.4 has requirement urllib3<1.23,>=1.21.1, but you have urllib3 1.18.1.

[2018-01-09 20:25] nicolargo commented on #1214
The default value are not 50/70/90 but a percent based on the formula "1/Number of Core * 100" (see this post: http://blog.scoutapp.com/articles/2011/02/10/understanding-disk-i-o-when-should-you-be-worried).

[2018-01-09 22:58] rocketraman commented on #1214
@nicolargo  I have a ThreadRipper 32 core system, so if I'm reading the code correctly that results in the values:

2.5%
2.8125%
3.125%

If I'm understanding correctly, that's even worse than I thought initially. An I/O wait of 3.125% on a mostly idle system that is writing to rotational disk would be quite normal, which explains why I often get the critical CPU_IOWAIT alert from glances. Is this

[2018-01-11 06:56] rongmu commented on #1094
Same here.

Glances v2.11.1 with psutil v5.4.3
Ubuntu 17.10

[2018-01-15 16:52] patrodyne opened #1218 "Nice Process Priority Configuration"
#### Description

Enhancement: Implement configuration for 'nice' values. Define color levels using a comma separated list of 'nice' values for `nice_careful`, `nice_warning` and/or `nice_critical`. The list may contain negative, positive or zero values.

[code]
#### Versions

* Glances (glances -V): v2.3
* PSutil (glances -V): v3.4.2
* Operating System (lsb_release -a):
No LSB modules are availab

[2018-01-16 21:31] nicolargo commented on #1105
Merged in the latest commit on the DEVELOP branch.

@asergi @notFloran : Can you test on your system ? It is a relative big refactoring of the Glances processes plugin...

[2018-01-17 07:33] nicolargo commented on #1218
Ok done and merged in the DEVELOP branch (will be available in Glances 3.0).

@patrodyne Can you test it on the develop branch ?

[2018-01-17 07:48] nicolargo commented on #1215
@drandreaskrueger Can you try to run Glances with the --disable-autodiscover option ?

[2018-01-17 07:49] nicolargo commented on #1214
Yes, but you can overwrite this setting in the glances.conf file.

[2018-01-17 07:54] #1181 closed

[2018-01-17 07:57] nicolargo commented on #1146
Any heads-up ?

[2018-01-17 10:03] oppianmatt opened #1220 "ZeroDivisionError in IO Rate (ProcessList)"
#### Description

Hard to reproduce specifically but happens often enough.

#### Versions

* Glances (glances -V):
* PSutil (glances -V):
* Operating System (lsb_release -a):

Using docker version, hard to run -V as it's saying glances not in path.

nicolargo/glances                                        latest                          7f5f318d63df

[code]

#### Logs

[code]

The screen gets mess

[2018-01-17 10:15] nicolargo commented on #1220
Almost sure that this issue came from: https://github.com/nicolargo/glances/issues/1105

I will have a look.

Thanks !

[2018-01-17 10:18] oppianmatt commented on #1105
Is there a docker label for the develop branch? i.e. could I do something like this to test this out?

[code]

[2018-01-17 10:22] nicolargo commented on #1220
Should be corrected. You had to wait that the continious delivery process generate thenew Docker image...

Keep me inform if the patch solves the issue.

Thanks for the report.

[2018-01-17 10:25] nicolargo commented on #1105
Tags list is available here: https://hub.docker.com/r/nicolargo/glances/tags/

So latest (default) image is generated from the DEVELOP branch.

Stable from the MASTER.

[2018-01-17 11:50] nicolargo commented on #1105
The merge breaks:

- [ ] AMP (always no running process)
- [ ] Top 3 process on alert

[2018-01-17 18:36] htbase opened #1221 "InfluxDB/Grafana dashboard not working"
Hi there

Glances works perfectly well but when we try to import the JSON dashboard into grafana, it shows "no data points" for all monitoring.

Grafana connection to influxdb work well and if we start a query from scratch, it works well as well

Is there any updates to the JSON file?

[2018-01-17 18:44] nicolargo commented on #1221
Not reproduced on my side.

What is your Glances version ?
Grafana version ?
InfluxDB version ?

Thanks !

[2018-01-17 19:15] htbase commented on #1221
Glances v2.11.1 with psutil v5.4.3

Grafana v4.6.3 (commit: 7a06a47)

InfluxDB v1.0.2 (git: master ff307047057b7797418998a4ed709b0c0f346324)

[2018-01-17 19:23] nicolargo commented on #1221
Can you please join the Glances log file?

Le 17 janv. 2018 20:15, "HTBASE" <notifications@github.com> a écrit :

[2018-01-17 19:24] htbase commented on #1221
This is what we get:

root@HTMaster:/home/htbase# tail -f /tmp/glances-root.log
2018-01-17 14:24:14,085 -- ERROR -- Cannot export docker stats to InfluxDB (400: {"error":"unable to parse 'docker ': invalid field format"}
)
2018-01-17 14:24:18,610 -- ERROR -- Cannot export sensors stats to InfluxDB (400: {"error":"unable to parse 'sensors ': invalid field format"}
)
2018-01-17 14:24:18,616 -- ERROR

[2018-01-17 19:28] htbase commented on #1221
btw, I tried the --disable-sensors

glances --export-influxdb -C influx.conf --disable-sensors

here is the .conf file:

[influxdb]
host=localhost
port=8086
user=htbase
password=htbase
db=glances
prefiix=localhost
#tags=foo:bar,spam:eggs

[2018-01-17 19:57] htbase commented on #1221
2018-01-17 14:57:15,574 -- INFO -- Stop Glances
2018-01-17 14:57:27,104 -- INFO -- Start Glances 2.11.1
2018-01-17 14:57:27,105 -- INFO -- CPython 2.7.6 and PSutil 5.4.3 detected
2018-01-17 14:57:27,113 -- INFO -- Read configuration file 'influx.conf'
2018-01-17 14:57:27,124 -- INFO -- Start GlancesStandalone mode
2018-01-17 14:57:27,610 -- INFO -- Stats will be exported to InfluxDB server: http:/

[2018-01-17 20:34] rocketraman commented on #1214
Thank you, I have done this.

[2018-01-18 05:28] notFloran commented on #1105
First try on macOs :

[code]

[2018-01-18 19:01] goofballtech opened #1222 "InfluxDB error during stat conversion"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description
I'm having an export to influxDB issue. I have installed all dependencies as per the website just to make sure something else wasn't holding it up. I have been searching and have no

[2018-01-18 20:03] nicolargo commented on #1221
The ERROR message are not criticals, it just said that the Sensors and Dockers stats can not be exporter.

What is your InfluxDB Python lib version ?

    pip freeze | grep influx

Nicolas

[2018-01-18 20:12] nicolargo commented on #1222
There is only two errors on your log file:

[code]

The others are DEBUG messages because InfluxDB only accept numerical stats.

Example:

[code]

InfluxDB can not store "cpu_number".

For me everything is ok...

Have you check if there is anything in the InfluxDB database ?

[2018-01-18 20:18] htbase commented on #1221
Hi there, here is the output

/usr/local/lib/python2.7/dist-packages/pip/_vendor/pkg_resources/__init__.py:1874: UserWarning: /usr/lib/pymodules/python2.7/rpl-1.5.5.egg-info could not be properly decoded in UTF-8
  warnings.warn(msg)
influxdb==5.0.0

[2018-01-18 20:26] nicolargo commented on #1221
Strange, this is the latest one... Everything is ok for me...

Are you sure that your InfluxDB database is empty ? Perhaps it's a Grafana issue...

[2018-01-18 20:43] nicolargo commented on #1105
@notFloran Issue should be solved on the DEVELOP branch.

Can you test ?

[2018-01-18 20:59] goofballtech commented on #1222
Yes. InfluxDB is receiving data and some is getting graphed properly.

My expectation was that cpu_number is a variable that should be the actual CPU number and that would be stored as a number within the database that way. This is where the error was in my mind. Is this not the case? There are quite a few graphs in the prepared JSON file that get no data, i understand some would be hardware/OD de

[2018-01-18 20:59] nicolargo commented on #1105
Forget it, i will create a new specific branch and restart the dev from scratch. The current implementation is not good...

[2018-01-19 13:44] foxmask commented on #1221
Hi,
I've the same versions with the same error message about docker format.
in the influxdb log I have one line with code 400 for 9 lines code 204

    [httpd] server_ip - - [19/Jan/2018:14:36:57 +0100] "POST /write?db=telegraf HTTP/1.1" 204 0 "-" "python-requests/2.18.4" d1b2b3ef-fd1d-11e7-8297-000000000000 7481
    [httpd] server_ip - - [19/Jan/2018:14:36:03 +0100] "POST /write?db=telegraf HTTP/

[2018-01-19 15:33] htbase commented on #1221
InfluxDB is not empty actually but I still see these error messages

[2018-01-21 16:02] darwin opened #1224 "Display debug message if dep lib is not found"
I got a pristine VPS with Ubuntu 17.10 on Digital Ocean:
[code]

Installed python 2.7 via `apt install python`.
Installed glances via `pip install glances` and got `Glances v2.11.1 with psutil v5.4.3`.

When opening glances I was wondering why IP information is not available. When running with `-d` the log contains no errors/warnings, just `DEBUG -- Plugin ip update return {}`.

Turned out pip did

[2018-01-22 10:33] aaronkilik opened #1225 "Failed to run glances in web server mode in Ubuntu(16.04)"
Hello,

Am using Linux Mint 18 Sarah and Glances v2.3 with psutil v5.0.  ### Versions. I installed python-bottle to run glances in web server mode but i get the following error:

**`CRITICAL: Bottle module not found. Glances cannot start in web server mode.`**

Can any one please help me. Thanks in advance.

[2018-01-22 13:05] foxmask commented on #1221
I redo the install from scratch and have no data display once I imported https://github.com/nicolargo/glances/blob/master/conf/glances-grafana.json
But... The trap was the date range I did not change (and get from the json file) until now :)
Now everything is ok here.

[2018-01-26 15:32] fmonts commented on #1221
+1
glances-grafana.json is not working anymore, you need to update it to the new 3.1 version.
See http://docs.grafana.org/reference/export_import/#import-sharing-with-grafana-2x-or-30

[2018-01-27 12:48] nicolargo commented on #1221
Cause: PBKC...

[2018-01-27 12:48] #1221 closed

[2018-01-27 12:50] nicolargo commented on #1224
Agree, i will add logs messages for all dependencies not installed on the system.

[2018-01-27 12:52] nicolargo commented on #1225
Please can you enter the following command line and copy/paste the result:

[code]

[2018-01-27 13:03] nicolargo commented on #1105
Ok merged in the DEVELOP branch:

@asergi and @notFloran : Can you test it ?

[2018-01-28 09:59] notFloran commented on #1105
On macOS :

[code]

[2018-01-28 12:24] nicolargo commented on #1105
@notFloran Should be ok. can you test it (again) ?

[2018-01-28 20:53] nicolargo commented on #1224
Done in the latest commit on the DEVELOP branch.

Will be release in Glances 3.0.

@darwin Thanks for the proposal !

[2018-01-28 20:53] #1224 closed

[2018-01-28 23:00] darwin commented on #1224
Great. Isn't there a typo in "... plugin is disable"? It should read "... plugin is disabled". Maybe you could move that warning message template somewhere in shared code to make it DRY.

[2018-01-29 07:40] aaronkilik commented on #1225
Python 2.7.11+ (default, Apr 17 2016, 14:00:29)
[GCC 5.3.1 20160413] on linux2
Type "help", "copyright", "credits" or "license" for more information.

'0.12.13'

[2018-01-29 09:11] notFloran commented on #1105
List and sorts works without issues but the filtering system is ko :

<img width="1680" alt="capture d ecran 2018-01-29 a 10 07 10" src="https://user-images.githubusercontent.com/523981/35502189-78cf9de0-04dc-11e8-8be4-83443dd75732.png">

[2018-01-29 09:40] nicolargo commented on #1105
Arg... I will have a look tomorrow...

Le 29 janv. 2018 10:11 AM, "Floran Brutel" <notifications@github.com> a
écrit :

[2018-01-30 19:57] nicolargo commented on #1105
@notFloran can not reproduce on my system... Filter works like a charm... Anything relevant in the debug log file ?

[2018-01-31 09:42] iseriousnoob commented on #132
Is it available in master already?

[2018-01-31 16:30] gwh-cpnet commented on #1183
I have Glances (2.11.1) and psutil (5.4.3), running as a pip installation based on a container based debian:stretch-slim image.

The glances web server failed to respond in a few minutes, but nothing logged in /tmp.

[code]

[2018-02-01 19:51] nicolargo commented on #1183
What about a docker logs command on the container Id ?

[2018-02-03 15:38] #1218 closed

[2018-02-03 15:39] #1220 closed

[2018-02-03 15:41] #1222 closed

[2018-02-03 15:43] #1214 closed

[2018-02-03 15:43] #1212 closed

[2018-02-03 15:47] nicolargo commented on #993
@hunasdf Any news concerning PyADL ? Do you think that it will be available soon ? If not i have to postpone the implementation of the Glances AMD GPU... Let me know.

[2018-02-04 08:43] hunasdf commented on #993
@nicolargo I did not deal with it (i did not have enough time). In my opinion, we must to find other solution for linux. The latest ADL SDK came out on "08/10/2016", so .... I do not happy about it, but yes, we have to postpone the integration :(
What do you think, it is a problem to we will use this PyADL for windows and a totally other solution for linux? For example sysfs.

[2018-02-05 07:03] notFloran commented on #1105
@nicolargo some informations about the bug :

* file: filter.py
* function : `_is_process_filtered`
* process: `{'status': 'running', 'username': 'root', 'cpu_times': None, 'name': 'launchd', 'num_threads': None, 'cpu_percent': None, 'pid': 1, 'cmdline': None, 'memory_percent': None, 'memory_info': None, 'ppid': 0, 'gids': puids(real=0, effective=0, saved=0), 'nice': 0}`
* key: `cmdline`

[2018-02-06 04:57] realies commented on #1212
Apologies for the delay.

`sysbench --num-threads=1024 --test=threads --time=60 run` produced values between `-6000` and `300`.

`sysbench  --num-threads=2048 --test=threads --time=60 run` produces values between `-1500` and `7K`

Unable to allocate enough memory for a `4096` threads test. Are negative values possible at all?

[code]

[2018-02-06 08:58] markusdd opened #1226 "Centos7/RHEL7 API error messages of Docker Plugin"
#### Description
Hi. First of all thanks for this amazing tool.
I'm having an issue in CentOS7 and the system-provided docker. We're running 2 Kubernetes nodes with heavy workload-containers and would like to monitor these. We use the RHEL-provided docker.

Error message is:
docker plugin - Docker API error (400 Client Error: Bad Request ("client is newer than server (client API version: 1.35, ser

[2018-02-06 20:02] nicolargo commented on #1226
The error message is clear: "client is newer than server (client API version: 1.35, server API version: 1.24)".

Two solutions...

1) Downgrade your Python Docker lib used by Glances to grab the containers stats to 1.24.

    pip uninstall docker
    pip install docker==1.24

2) Upgrade your Docker server to 1.35

Easy choice: ===> 1)

[2018-02-06 20:18] nicolargo commented on #1105
@notFloran Last commit on the DEVELOP branch should correct this issue coming from the fact that 'cmdline' is none...

[2018-02-06 20:24] notFloran commented on #1105
Another issue when I try to filter:

[code]

* key: `cpu_percent`
* p: `{'status': 'R', 'username': 'root', 'cpu_times': None, 'name': 'launchd', 'num_threads': None, 'cpu_percent': None, 'pid': 1, 'time_since_update': 0.21837711334228516, 'io_counters': [0, 0, 0, 0, 0], 'cmdline': None, 'memory_percent': None, 'memory_info': None, 'ppid': 0, 'gids': puids(real=0, effective=0, saved=0), 'nice': 0}

[2018-02-06 20:28] nicolargo commented on #1105
Step by step, bug by bug...

It should be corrected, can you test it ?

[2018-02-06 20:36] nicolargo commented on #993
From a Glances dependencies point of view it is a problem because it is a cross platform software so the difference between Windows and others OS should be manage by the lib (PyADL), not by Glances.

[2018-02-06 20:49] notFloran commented on #1105
The filters are now ok!

But I have an another issue with the column "TIME+" : when I launch glances the column has data and then after 2-3 seconds all data are replaced with "?". The log: https://pastebin.com/9A1y7LBf

[2018-02-06 21:00] hunasdf commented on #993
Of course, PyADL should manage this. But if is use something other, maybe the "PyADL" name of the lib can be deception.

[2018-02-06 21:03] hunasdf commented on #993
Of course, PyADL should manage it. But if PyADL uses something other, its name can be deception, maybe.

[2018-02-06 21:10] nicolargo commented on #1105
For all processes ???

[2018-02-06 21:12] notFloran commented on #1105
Yes

<img width="703" alt="capture d ecran 2018-02-06 a 22 11 34" src="https://user-images.githubusercontent.com/523981/35884358-bbcd9f5c-0b8a-11e8-9210-0ce2ba6d6ef8.png">

[2018-02-06 21:14] nicolargo commented on #1105
Patched... Can you test (again ;)) ?

[2018-02-06 21:34] notFloran commented on #1105
It's all good !

[2018-02-08 09:47] summyer commented on #645
➜  # 解决 import sqlite3 报错
➜  yum install sqlite-devel

[2018-02-08 09:47] summyer commented on #645
➜  # 解决 import curses 报错
➜  yum install  ncurses-devel

[2018-02-08 17:51] dfkbg opened #1227 "macOS 10.13.3 does not report buffered and cached memory."
#### Description

On macOS 10.13.3 glances does not report buffered and cached memory.

#### Versions

Glances v2.11.1 with psutil v5.4.3
macOS 10.13.3 (17D47)

#### Logs

[2018-02-08 20:32] nicolargo commented on #1227
Glances used PsUtil to grab system stats. Concerning the memory buffers and cached memory are only available on Linux and BSD system (as said in the documentation: http://psutil.readthedocs.io/en/latest/#psutil.virtual_memory):

* buffers (Linux, BSD): cache for things like file system metadata.
* cached (Linux, BSD): cache for various things.

Actually, from what I understand, there's no way to i

[2018-02-08 20:32] #1227 closed

[2018-02-08 20:34] #1105 closed

[2018-02-09 11:39] hopp opened #1228 "Glances on Windows Subsystem for Linux throw an error"
#### Description

Using windows subsystem for linux, aka Ubuntu on Windows, when I run glances, immediately an exception is thrown and application is terminated.

#### Versions

* Glances (glances -V): v2.10
* PSutil (glances -V): v3.4.2
* Operating System (lsb_release -a): Description:    Ubuntu 16.04.3 LTS
* System Information (uname -a): Linux 4.4.0-43-Microsoft #&#xfeff;1-Microsoft Wed Dec 31

[2018-02-11 04:53] gwh-cpnet commented on #1183
@nicolargo nothing special

[2018-02-11 09:22] nicolargo commented on #1168
Proposed implementation:

[code]

[2018-02-12 20:21] nicolargo opened #1231 "Refactor --tree in Glances 3.0"
#### Description

Re-implement and refactor the --tree function in Glances.

Only level 2  of tree should be displayed:

![selection_354](https://user-images.githubusercontent.com/776747/36117625-a7b8c596-103a-11e8-9ec7-1a1a43e25f60.png)

#### Versions

* Glances (glances -V): target release 3.0

[2018-02-12 20:22] nicolargo commented on #1231
Note: do not forget to merge this PR: https://github.com/nicolargo/glances/pull/1230

[2018-02-12 21:25] spike008t commented on #1231
@nicolargo I'm in for helping

[2018-02-13 01:09] all-the-good-ones-are-gone opened #1233 "Ryzen CPU reporting current frequency as current and maximum frequency"
Running glances stand-alone, current frequency always reports for both current and max:

Installed via pip.
Glances v2.11.1 with psutil v5.4.3
openSUSE Tumbleweed 20180209 64bit / Linux 4.15.1-1-default

[2018-02-13 20:31] nicolargo commented on #1168
Ok merged in the DEVELOP branch.

Please test !

[2018-02-13 20:47] nicolargo commented on #1231
@spike008t you can start from the current DEVELOP branch and create a new branch (called issue1231). Most part of the job should be done in the process loop (https://github.com/nicolargo/glances/blob/develop/glances/processes.py#L281-L362), you can use the children method of the PsUtil Process class (see https://psutil.readthedocs.io/en/latest/#psutil.Process.children). When the tree is build, you

[2018-02-14 00:30] spike008t commented on #1231
@nicolargo thank for the information, I'll ask you more details if needed.
Otherwise, I've started some works to migrate the web stuff from bower + gulp => webpack, are you interested that? (That should be discussed on an other issue + PR once is done).

[2018-02-14 08:26] nicolargo commented on #1231
@spike008t perfect for the current PR. For the other one, please open a new issue with a description of the enhancement. It will open the discussion with @notFloran who is in charge of the Glances Web UI.

[2018-02-14 09:10] spike008t opened #1234 "Web UI - Migrate to webpack"
#### Description

As we know bower is deprecated, so it could be good to switching from npm + bower + gulp to webpack (and optionally yarn) and use the latest lts node version to be 'up to date', without upgrading vendor libs if possible.

#### Versions

* Glances (glances -V): 3.0
* PSutil (glances -V):
* Operating System (lsb_release -a):

[2018-02-14 11:19] dwyart commented on #1203
Sam problem on Debian unstable, and confirmed it looks related to wifi sensor: when wifi is not disabled everything is fine.
Any hint about a next step to make progress?

Thanks

[2018-02-14 21:16] nicolargo commented on #1234
@notFloran What do you think about this enhancement request ?

[2018-02-14 21:24] nicolargo commented on #1233
Glances use the Py-Cpuinfo lib to grab CPU stats.

Please open an issue on the Py-Cpuinfo official Github (). And copy paste the result o fthe following command line:

[code]

[2018-02-14 21:24] nicolargo commented on #1233
Rejected cause: not a Glances issue. Should be reported to dep lib ==> https://github.com/workhorsy/py-cpuinfo

[2018-02-14 21:24] #1233 closed

[2018-02-14 21:29] nicolargo commented on #1228
It is a know issue on PsUtil (https://github.com/giampaolo/psutil/issues/860). Please upgrade your PsUtil version.

[2018-02-14 21:29] #1228 closed

[2018-02-14 21:34] nicolargo commented on #1225
No idea, perhaps Glances is ran with Python 3 instead of Python 2 ?

Please run:

[code]

[2018-02-14 21:35] nicolargo commented on #1215
Any head up ?

[2018-02-14 21:41] nicolargo commented on #1079
I close this issue because the root issue is solved (thanks to the PsUtil upgrade).

Please feel free to open another issue for the second one.

[2018-02-14 21:41] #1079 closed

[2018-02-14 21:44] #1189 closed

[2018-02-14 21:53] nicolargo commented on #1182
@asergi Can you have a look on this issue, i want to include this issue in the Glances 3.0 release but i do not found any solution to this Python 3 issue...

[2018-02-15 05:18] notFloran commented on #1168
Looks good to me ! No problem with mac

[2018-02-15 06:39] aaronkilik commented on #1225
Am running Python 2, may be i should install Python 3 and see how it works. Thanks.

[2018-02-15 13:10] hopp commented on #1228
I've reinstalled psutil with pip to version 5.4.3, but I get another bunch of errors.
I'll report them to psutil.

[2018-02-18 23:45] spike008t commented on #1231
@nicolargo any idea how to build the tree on an elegant way? Should I use child or to avoid to iterate multiple time, i can use ppid and pid property to create a dict of pid (by using ppid) and list of pid as child (using pid).
But that required to setup a dict of pid.

Or should I create a children property on each stats array?

[2018-02-19 12:14] spike008t commented on #1234
I've prefix WIP the PR. I'll update until the `PR Quality Review` pass

[2018-02-19 12:51] richardallred commented on #1203
+1 here on Fedora 27 Linux 4.15.3.  When I disable wifi, I get this error, if I re-enable it, the error is resolved.  Hope that helps.

[2018-02-19 18:25] spike008t commented on #1234
now it's looking good :)

[2018-02-20 21:11] spike008t commented on #1234
So on this new PR, public folder is under git control.

[2018-02-20 21:32] nicolargo opened #1240 "Minor issue on the Web UI"
Two minors issues to resolve:

![selection_356](https://user-images.githubusercontent.com/776747/36450350-edaa4a9e-168d-11e8-9152-b56fa3439b47.png)

[2018-02-20 22:26] spike008t opened #1241 "[WEB UI] Flood if refresh_time is negative"
#### Description

On the web ui, the route `/<refresh_time:int>` can define the `refresh_time` on the webap.
But if we set a negative value (ie: `http://localhost:61208/-1`). We flood the server to refresh

<img width="1133" alt="screen shot 2018-02-20 at 23 10 44" src="https://user-images.githubusercontent.com/262459/36452192-d335e76c-1693-11e8-8719-3ea3afd311be.png">
<img width="559" alt="screen

[2018-02-21 12:35] notFloran commented on #1241
@spike008t thanks for the report, I have made a PR #1242

[2018-02-22 20:07] nicolargo commented on #1241
@spike008t Can we close this issue ?

[2018-02-23 09:22] adocampo commented on #1203
Same here, on a laptop with Arch and kernel 4.15.3 same error (and same workaround) happens. On a desktop computer with the same distro and kernel don't. So it seems something related to laptops. Enabling and disabling wifi on laptop doesn't help here.

[2018-02-24 15:00] #1234 closed

[2018-02-24 15:44] nicolargo commented on #1182
New test, same issue with:

# Python 2.7 and Bottle 0.12.13

Without compression: OK

[code]

With compression:

[code]

# Python 3.5 and Bottle 0.12.13

Without compression: OK

[code]

With compression: **NOT OK**

[code]

[2018-02-25 10:55] notFloran commented on #1182
With [this stackoveflow question](https://stackoverflow.com/questions/1835585/python-zlib-not-decodable-when-returned-by-an-http-response) I found this solution :  in `glances_bottle.py` replace `response.headers['Content-Encoding'] = 'gzip'` with `response.headers['Content-Encoding'] = 'deflate'`.

No more `ERR_CONTENT_DECODING_FAILED` and the WebUI is now Ok

[2018-02-25 12:07] nicolargo commented on #1182
Perfect ! Thanks @notFloran

Merged on the develop branch.

Will be available in Glances 3.0 :)

[2018-02-25 12:07] #1182 closed

[2018-02-25 12:42] nicolargo commented on #1201
Corrected in the develop branch.

Will be available in the next Glances 3.0 release.

[2018-02-25 12:42] #1201 closed

[2018-02-25 12:45] #1168 closed

[2018-02-25 12:48] nicolargo commented on #1121
Sorry but no time to work on this issue...

Looking for a contributor to take the control of the Glances browser function.

[2018-02-25 12:54] #1116 closed

[2018-02-25 12:57] nicolargo commented on #794
No time to work on this request for Glances 3.0. Need contributor !

[2018-02-25 12:58] #1241 closed

[2018-02-25 12:59] nicolargo commented on #1231
@spike008t I postpone this issue for Glances 3.1. You can start working on it when you want :)

[2018-02-25 13:01] nicolargo commented on #1240
@notFloran This is the latest issue before the Glances 3.0 release. Do you think that you can solve it or did i have to postpone it in the next release (it is not a blocking issue) ?

[2018-02-25 14:18] nicolargo commented on #1240
Corrected in the develop branch !

![selection_358](https://user-images.githubusercontent.com/776747/36642391-10d051d0-1a3f-11e8-99eb-f3646b8e38fd.png)

[2018-02-25 14:38] nicolargo opened #1244 "[Glances 3.0 RC1] Client/Server is broken"
#### Description

Run a server:

[code]

Than a client:

[code]

Exit with the following error in the glances.log file (see bellow).

[code]

#### Versions

* Glances (glances -V): Glances 3.0.rc1

#### Logs

[code]

[2018-03-02 21:23] msalvaris opened #1245 "Do not see GPU measurements in influxdb/grafana"
#### Description

I am running glances with the following command:
 glances -t 5 --export-influxdb

I have setup influxdb and grafana and configured glances.config. I am able to see all the cpu, memory measurements etc. I can't seem to find the GPU measurements. Looking at the curses dashboard I can see the GPU measurements there but I can't find them in influxdb and grafana. Am I missing a switch

[2018-03-05 06:11] jinyu121 commented on #1094
Same here

Glances v2.7.1 with psutil v5.0.1
Debian 9.3.0

Installed via `sudo apt install glances`

[2018-03-11 09:19] nicolargo commented on #1245
I never tested the export of GPU stats. Please can you run Glances with the -d (debug) option and paste bin us the log file. Perhaps a message will be displayed...

[2018-03-11 21:49] msalvaris commented on #1245
Sure, here are the logs [https://pastebin.com/m6xsX5iZ](https://pastebin.com/m6xsX5iZ)

Thanks in advance

[2018-03-15 10:01] piotrp88 commented on #613
I left glances running for about 16 hours (I can't determine exactly when the crash occured) and the software crashed with this message:

[code]

This is the command I used to run glances:

[code]

It's the first time I see this message but it's also the first time I let glances running so much long
and with the `--export-graph` option.

All the software on this machine is updated at the latest ve

[2018-03-15 11:37] tusharjambhekar commented on #646
How can I run Glances web server at Public IP.
I have installed glances on my AWS instance want to access glances -w to my public ip.

Kindly assist me.

[2018-03-15 11:44] piotrp88 opened #1247 "Possible wrong values printed on chart network interfaces transmission speeds?"
I've just transferred a bunch of big files over a 1Gb network on an interface named `eno2`. The overall file size was 176GB and many files are over 10GB in size, so each files took from several seconds to minutes in order be transferred.

Glances' GUI correctly reported the real-time transfer speed (`Tx/s`) at values near 1Gb/s (9xxMb/s), **BUT** the generated graph shows different values for the

[2018-03-19 10:17] gslav commented on #1094
Same problem
`Glances (2.11.1)` and `psutil (5.4.3)` installed via `pip`
Python 3.6.4
Manjaro 17.1.6

[2018-03-19 10:56] aftabnaveed commented on #1194
@nicolargo sorry for a long break though the issue is now closed but I am still getting the issue when I run  glances with an export flag such as `glances --export-restful`. This does not work with suprvisor and if I try to include -s flag  I get this error

`Export is only available in standalone or client mode`

Thank you.

[2018-03-24 14:10] nicolargo commented on #1247
Linked with https://github.com/nicolargo/glances/issues/697

[2018-03-26 13:47] drandreaskrueger commented on #1215
my simplistic workaround worked - adding it to `/etc/rc.local`

[code]

so I never needed to look back.

AWS machines are dead now; perhaps next time we deploy, I could try your `--disable-autodiscover `. Why would that improve the situation?

[2018-03-29 13:35] gMan1990 opened #1249 "Add time zone to the current time"
rt

[2018-04-02 00:10] Procuria commented on #1221
Dear @nicolargo
I want to thank you for your work which I appreciate very much.
I'm running into the same Problem as @htbase and @foxmask described above. Could you please elaborate what is ment with "The trap was the date range I did not change (and get from the json file)"?
Although I read all the manuals I'm absolutly clueless and would be very happy if this problem (I'm sure which is only betw

[2018-04-02 12:11] nicolargo commented on #697
Done in the latest commit.

See documentation here ==> https://github.com/nicolargo/glances/blob/develop/docs/gw/graph.rst

[2018-04-02 12:11] #697 closed

[2018-04-03 14:00] renegadeirfan commented on #1194
today i faced same issue. I want to run glances in background and want logs to be available on my api endpoint. But it does not work.
@nicolargo is it possible? If yes, then can you guide what should be proper setup or command?

[2018-04-03 18:57] nicolargo commented on #1194
@renegadeirfan you had to wait Glances version 3.0 (will be available soon) to export data without the interface.

[2018-04-08 12:29] nicolargo commented on #1249
Done in the DEVELOP branch.

Will be release in Glances 3.0.

[2018-04-08 12:29] #1249 closed

[2018-04-14 13:08] murmelbahn commented on #1221
Don't blame but I've the same problem. In the influxdb logfile I see glances ist writing data in it and everytime I click on refresh in grafana data is queried but in the dashboard I didnt see any datapoints. My time range is "Last 5 Minutes". I think im doing something really stupid wrong. Can someone help me?

[2018-04-16 19:30] mrichman commented on #1225
Same issue on macOS after installing via homebrew: `Glances v2.11 with psutil v5.4.3`

[2018-04-17 09:06] GJay17 commented on #1197
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/usr/lib/python3.5/threading.py", line 914, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.5/threading.py", line 862, in run
    self._target(*self._args, **self._kwargs)
  File "main.py", line 40, in ManageMotion
    motion.GetInformationOnNextFrame()
  File "/home/js13/Desktop/SmartMirror-master/Motion/motion.p

[2018-04-17 19:34] Ackis commented on #995
I'm not sure if I missed something in the documentation, but I just spent the last hour or so trying to get -w and -s to work together.

My assumption/understanding was that the -w parameter allows me to access glances status through a browser, and the -s parameter allows a central server to gather glances data from multiple machines that are running in client mode.  This understanding is/was wron

[2018-04-19 09:21] usd-yamazaki opened #1250 "Stats updated during export (thread issue)"
Related issue #971

environment
Glances v2.11.1 with psutil v3.4.2
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.4 LTS
Release:        16.04
Codename:       xenial

This happens when the PC load is high.
For example, the data obtained from plugins/glances_system.py is as follows.

Normal
[code]

High load
[code]

This is solved by commenting out the "self.reset()" function of the update func

[2018-04-20 07:31] Jannick-v commented on #1194
You can run Glances in the background by using the `-q` option.
I successfully used Glances to monitor system resources and export it into a json format by issuing the following command (use `-t` to specify the refresh rate in seconds):
```glances --export-json resource_log.json -q -t 1 &```

[2018-04-23 13:05] notFloran opened #1251 "OSX - Python 3 and empty percent and res"
#### Description

With Python 3 I have the following "empty" lines that broke the sorting of the list :

![capture d ecran 2018-04-23 a 15 02 33](https://user-images.githubusercontent.com/523981/39128217-7e296cae-4707-11e8-826f-3b6e53fdeb95.png)

With Python 2 no problem.

WebUI crash with:

[code]

#### Versions

* Glances (glances -V): Glances v3.0.rc2
* PSutil (glances -V): psutil v5.4.5
* Oper

[2018-04-23 16:04] adamelliotfields commented on #1087
Ubuntu 16.04, running into this issue as well. `glances` **v2.11.1** and `psutil` **v5.4.5**. Only happening on my laptop - haven't tried other machines.

`psutil.sensors_temperatures()` throws this:

[code]

I installed `glances` and `psutil` using `pip3`. This created a Python script at `/usr/local/bin/glances`. I added a line to always append `--disabled-sensors` to the arguments list.

[code]

[2018-04-23 20:34] ViennaCivicEP2 opened #1252 "Webserver Mode: failed because of iptables"
Hi,
tried to run the docker container in webserver mode resulting in:

`docker: Error response from daemon: driver failed programming external connectivity on endpoint sleepy_panini (458ea254322b019d3bbd3ea241321a799fe67483fc8bf56547d9fe20257f412b):  (iptables failed: iptables --wait -t nat -A DOCKER -p tcp -d 0/0 --dport 61209 -j DNAT --to-destination 172.17.0.2:61209 ! -i docker0: iptables: No c

[2018-04-28 13:09] nicolargo commented on #1250
Hi @usd-yamazaki

Thanks for this report.

I completely refactor the export code in Glances 3.0 (currently in RC2). Can you test it ?

[2018-04-28 21:04] nicolargo commented on #1251
Hi @notFloran ,

do you have the same issue with the Curse interface ?

[2018-04-29 04:11] fruch commented on #930
this sound like a cool feature, but seems like it's missing a powerful feature Prometheus, labels.

if we could label different stats based on process, docker instances. that would be great (or configuration like statsd-exporter)

[2018-04-30 08:00] nicolargo commented on #930
@fruch Please can you open a new issue (enhancement request) to describe how you want to configure the labels from the Glances configuration file.

Something like:

[code]

Note: With Glances 3.0 it will also be possible to use dynamic configuration value using system command. For example, if you to set the prefix of an Prometheus export to the current hostname, use:

[code]

Is it sound good for

[2018-04-30 14:47] notFloran commented on #1251
@nicolargo yes, the screenshot is from the curse interface

[2018-04-30 18:44] megamorphf opened #1254 "Reverse Proxy with nginx fails (Error: 403 Forbidden)"
#### Description

I have tried to reverse proxy glances using NGINX, I used your official wiki NGINX config and modified mine, but both yielded same results the "Error: 403 Forbidden" error (see. screenshot).  Glances web interface works fine if I provide the host ant the port e.g. 192.168.0.123:61208.

I am using let's encrypt ssl certificates. One thing I noticed while reviewing logs is that for

[2018-05-01 07:38] nicolargo opened #1255 "Add labels support to Promotheus exporter"
#### Description

Add support for labels: https://github.com/prometheus/client_python#labels

Something like:

[code]

Note: With Glances 3.0 it will also be possible to use dynamic configuration value using system command. For example, if you to set the prefix of an Prometheus export to the current hostname, use:

[code]

[2018-05-01 08:52] notFloran commented on #1254
Same error but nothing in the log.

@megamorphf for the error in the log I think is related to amp/ngix config. See `[amp_nginx]` and `status_url`

[2018-05-01 08:59] spike008t commented on #1254
Could you try to add the tailing / on `proxy_pass clause`?

[code]

[2018-05-01 20:49] megamorphf commented on #1254
hmm. I have just upgraded glances to `Glances v2.11.1 with psutil v5.4.5` and it started working. Not sure what was wrong there. I updated glances with pip.

[2018-05-02 00:33] serheang opened #1256 "glances --browser crashed when more than 40 glances servers on screen 78x45"
#### Description

Whenever run "glances --browser" to view more than 40 glances servers in a screen size 78x45, it will crashed with error:
Traceback (most recent call last):
  File "/usr/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.11.1', 'console_scripts', 'glances')()
  File "/usr/lib/python2.7/site-packages/glances/__init__.py", line 134, in main
    start(config=config,

[2018-05-02 07:17] TJuberg commented on #1203
I'm seeing the same issue after upgrading to Fedora 28 with glances-2.11.1-2.fc28.noarch and python-psutil-5.4.3-4.fc28.src.rpm

WiFi is disabled in BIOS in my case

[2018-05-03 19:52] xzj8b3 opened #1257 "On Fedora 28 x64 btrfs with the command "pip " Glances not install"
On Fedora 28 x64 btrfs with the command  "pip " Glances not install

Command "/usr/bin/python2 -u -c "import setuptools, tokenize;__file__='/tmp/pip-install-KL6moR/psutil/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-record-5aWXjI/install-record.txt --single-version-externally-man

[2018-05-04 18:16] Beasta commented on #1225
I just had to run
`pip install bottle`
and things began working

[2018-05-06 13:10] xoyabc opened #1258 "No restful configuration found"
#### Description

When I run `glances  --export-restful`,its output is `No restful configuration found`
![2.jpg](https://i.loli.net/2018/05/06/5aeefeec786a8.jpg)

#### Versions

* Glances (glances -V): Glances v2.11.1
* PSutil (glances -V): psutil v5.4.5
[code]
* Operating System (lsb_release -a):
[code]
#### Logs

https://pastebin.com/YW2RBUib

[code]

[2018-05-06 14:45] Hubbitus commented on #991
As far I known `docker-py` in obsoleted and replaced by `docker` module. Even [official project](https://github.com/docker/docker-py) said I should do:

    pip install docker

You may refer also [ansible similar bug](https://github.com/ansible/ansible/issues/37200).

So could you please update dependency and refresh API usage in `Glances`?

[2018-05-06 20:17] nicolargo commented on #1255
Done in the latest commit on the DEVELOP branch.
Will be available in Glances 3.0.

[2018-05-06 20:18] #1255 closed

[2018-05-06 20:35] nicolargo commented on #1258
As said in the documentation (http://glances.readthedocs.io/en/stable/gw/restful.html), you should define a restful section in the Glances configuration file.

[2018-05-06 20:35] #1258 closed

[2018-05-06 20:39] nicolargo commented on #1257
Please fill the issue as asked in the template.

===

Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

For an enhancement or new feature: Describe

[2018-05-06 20:41] #1254 closed

[2018-05-06 21:08] xzj8b3 commented on #1257
On Fedora 28 with  "Pip" You just can not install it.... Installed the
version in the distribution glances. Noarch 2.11.1-2. Fc28 but always
reports the following error:

/usr/lib64/python3.6/site-packages/psutil/_pslinux.py: 1150:
RuntimeWarning: Ignoring OSError (22, ' invalid argument ')

Glances v2.11.1 with psutil v5.4.3

Seguimi su Facebook <https://www.facebook.com/IvanDeFelice>  Seguimi su

[2018-05-07 04:43] xoyabc commented on #1258
@nicolargo  Where is the default Glances configuration file in?

[2018-05-07 05:52] notFloran commented on #1258
@xoyabc See http://glances.readthedocs.io/en/stable/config.html?highlight=configuration#location

[2018-05-07 06:00] xoyabc commented on #1258
@notFloran  Thanks!!!

[2018-05-08 08:12] usd-yamazaki commented on #1250
Thank you for your response.
When I tried to operate for about 30 minutes under high load condition, it worked normally.

[2018-05-08 08:12] #1250 closed

[2018-05-08 09:19] nicolargo commented on #1256
Corrected in the DEVELOP branch (Glances 3.0 RC3).
Will be available in Glances 3.0.

Thanks for the report @serheang !

[2018-05-08 09:19] #1256 closed

[2018-05-08 09:52] notFloran commented on #1251
@nicolargo no problem  when I run Glances with sudo

[2018-05-08 10:10] nicolargo commented on #1251
Can you try this (from a standard user (no sudo)):

[code]

And same with python2

[2018-05-08 14:03] nicolargo opened #1259 "Add threads number in the process list"
#### Description

Before:

[code]

After:

[code]

[2018-05-08 14:09] notFloran commented on #1251
Python 2: https://pastebin.com/kPY1GbHG

Python 3: https://pastebin.com/Sfim3w3r

[2018-05-08 15:41] nicolargo commented on #1259
@notFloran Please can you also done the job on the WebUI ?

- [ ]

Here is the result in the curses interface:

![image](https://user-images.githubusercontent.com/776747/39767429-09a653e2-52e7-11e8-89c3-dff819bf14c6.png)

[2018-05-08 16:05] nicolargo commented on #1251
The structure are identical for Python 2 and 3...

Most of the stats are only updated when process_iter is called twice. Please can you pastebin the result of this (for both Python 2 and Python 3):

[code]

[2018-05-08 18:30] nicolargo commented on #1231
@spike008t Any chance to implement this new feature ?

[2018-05-08 20:15] xzj8b3 commented on #1257
Could not find a version that satisfies the requirement psutils (from
versions: )
No matching distribution found for psutils

Seguimi su Facebook <https://www.facebook.com/IvanDeFelice>  Seguimi su
Twitter <https://twitter.com/xzj8b3>  Seguimi su Istagram
<https://www.instagram.com/defelice.ivan/> Seguimi su Pinterest
<https://it.pinterest.com/xzj8b3/>

                            Seguimi su Googl

[2018-05-08 20:25] nicolargo commented on #1257
And this:

    pip install python-psutil

[2018-05-09 05:33] notFloran commented on #1251
I have updated the pastebins with the new results.

[2018-05-09 06:55] nicolargo commented on #1251
If i take the AppleCameraAssis process (filled with ? in your screenshot), i have:

For Python 2:

[code]

and for Python 3:

[code]

and...

[code]

How can it works in Python 2 ?

And the main question: why does processes are filled with None stats... ?

Can you do another check (always with Python 2&3).

Run Glances and get the PID of a non working processes (for example 20 fir AppleCameraAssis

[2018-05-09 17:26] notFloran commented on #1251
Same result between python2 and python3: https://pastebin.com/81qStYtG

<img width="1679" alt="capture d ecran 2018-05-09 a 19 21 44" src="https://user-images.githubusercontent.com/523981/39829392-949b70d6-53be-11e8-87e7-b89b7e90a3f8.png">

After some tests I think the bug is present with python2 and 3 : the difference is that the sorting is not done in the same way and that the processes in error

[2018-05-11 04:31] mikehinchey commented on #1245
The problem might be that gpu is not in the plugins_to_export list: https://github.com/nicolargo/glances/blob/develop/glances/exports/glances_export.py#L58

[2018-05-12 17:13] mark9064 opened #1260 "Crashes when influxdb option set"
#### Description

Glances crashes when the influxdb option is set. It works fine during normal operation. The influxdb server is running and the glances database exists within influxdb. I have tried running glances with sudo but it didn't help.

Tracebacks:

[code]

#### Versions
glances -V
Glances v2.11.1 with psutil v5.4.5
lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Descr

[2018-05-12 19:14] nicolargo commented on #1260
Can you try this:

    $ glances -C ~/.config/glances.conf --export-influxdb -q -d --disable-sensors

[2018-05-12 20:49] mark9064 commented on #1260
Same traceback in console.

It seems I copied the wrong debug long last time. Attached is the full debug log

[glances_debug_log.txt](https://github.com/nicolargo/glances/files/1997927/glances_debug_log.txt)

[2018-05-13 10:39] mark9064 commented on #1260
I should probably note that I am running glances on an armhf system

[2018-05-13 13:44] SailorMax opened #1261 "AMP for kernel process is not working"
#### Description

Currently we can't setup AMP for processes without command line!
Can you add to amps_list.py:116
https://github.com/nicolargo/glances/blob/c2863629dda28d98a1df126c65c5da3540fbf4a2/glances/amps_list.py#L115
[code]

#### Versions

* Glances (glances -V): Glances v2.11.1
* PSutil (glances -V): with psutil v5.4.5
* Operating System (lsb_release -a): Distributor ID: Debian
Description

[2018-05-13 19:03] nicolargo commented on #1261
Yes you can setup an AMP without command line.

Example:

[code]

Result:

![image](https://user-images.githubusercontent.com/776747/39970735-0be8170e-56f1-11e8-9a3d-742f2843d62b.png)

[2018-05-13 19:18] nicolargo commented on #1260
Can you try with the DEVELOP branch ?

https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version

[2018-05-13 20:48] mark9064 commented on #1260
[code]
Any ideas?

[2018-05-13 20:58] spike008t commented on #1231
@nicolargo Hey! Sorry for the delay! I was busy at the moment. I'll send the implementation this week :)

[2018-05-14 04:43] nicolargo commented on #1260
The syntax have change.

Now it is - - export influxdb (with a space between export and influxdb).

Le dim. 13 mai 2018 à 22:48, mark9064 <notifications@github.com> a écrit :

[2018-05-14 07:04] SailorMax commented on #1261
@nicolargo I meant processes without command line! For example kernel modules. "regex" did not see them...

[2018-05-15 12:28] nonbinary commented on #991
I tried the above solutions on a CentOS 7 machine, and it does not help. pip allready has docker as installed, and --disable-docker does not make any difference. Glances still tries to load the docker extension, and cannot.

[2018-05-15 13:43] cubanpit commented on #1203
Same here on Glances v2.11.1 with psutil v5.4.5

Error messages look like this
`/usr/lib/python3.6/site-packages/psutil/_pslinux.py:1160: RuntimeWarning: ignoring OSError(6, 'No such device or address') for file '/sys/class/hwmon/hwmon2/temp6_input'
  RuntimeWarning)`

For every `tempN` that causes an error, the corresponding line in the output of `sensors` appears like this
`temp6:            N/A

[2018-05-15 19:41] nicolargo commented on #1261
What is the use case ? Any example ?

[2018-05-15 19:49] nicolargo commented on #1260
@mark9064 Just publish a patch on the DEVELOP branch, please update and test again.

Thanks !

[2018-05-15 19:54] mark9064 commented on #1260
It's working! Thanks! Going to close for now as issue is resolved. If I have any more problems I will reopen the issue. :smile:

[2018-05-15 19:54] #1260 closed

[2018-05-15 20:36] mark9064 opened #1262 "High CPU load in debug mode AND normal mode"
(im back again :tada: )

#### Description

Glances locks a thread to 100% usage when ran with the following options:
`/home/{user}/glances-venv/bin/python -m glances -C /home/{user}/.config/glances.conf -q -d --export influxdb --disable-plugin sensors --disable-plugin docker --disable-plugin gpu --disable-plugin wifi --disable-plugin hddtemp --disable-plugin raid --disable-plugin amps --disable-pl

[2018-05-16 03:28] dalberto commented on #1195
So I think this should be possible:

1. `hddtemp` has `--listen` option that would allow listening on all interfaces.
2. It is possible for a container to access services on the hosts but the address is different based on whether Docker is running natively or not (i.e. Docker for Mac / Windows). This seems like a simple wrapper script that can handle the differences though: https://github.com/buff

[2018-05-16 06:48] SailorMax commented on #1261
process "aacraid" for Adaptec Hardware Raid.
"aacraid" is kernel module driver and glances regex did not see it, but we can see it in process list.

[2018-05-16 15:58] mark9064 commented on #1262
[code]
checked the log, not in debug mode, full of these errors

[2018-05-17 17:46] juan11perez opened #1264 "glances: error: unrecognized arguments: --export-influxdb"
Good day, running Glances on docker. Trying to add this to my docker-compose
.yaml

    environment:
      GLANCES_OPT: -export-influxdb -w

But getting "glances: error: unrecognized arguments: -export-influxdb"

[2018-05-17 17:50] mark9064 commented on #1264
try `--export-influxdb`?

[2018-05-18 18:01] imbuedHope opened #1265 "Overlap in Web UI when monitoring a machine with 16 cpu threads"
#### Description

When running `glances` on a machine that has a large number of cpu threads and enabling the per cpu load view, the cpu info overlaps with the memory info making it somewhat unreadable.

![screenshot from 2018-05-14 11-15-13](https://user-images.githubusercontent.com/5403817/40249936-a6a21704-5aa2-11e8-90e1-3425ffc596e7.png)

This fixes itself on really high-resolution displays bu

[2018-05-19 06:50] nicolargo commented on #1265
Agree...

I propose to switch columns and lines when the number of CPU is > 4

[2018-05-19 08:41] nicolargo commented on #1265
Change my mind during the development.

The percpu plugin will be always displayed per line (one CPU = one line). If the quicklook plugin is enable, it is not necessary to display the sum.

With Quicklook:

![image](https://user-images.githubusercontent.com/776747/40266747-f493b900-5b50-11e8-8451-01bb865f1c20.png)

Without:

![image](https://user-images.githubusercontent.com/776747/40266750-f9a35f

[2018-05-19 08:41] #1265 closed

[2018-05-19 09:26] juan11perez commented on #1264
Thank you very much. And it is now possible to launch the web interface as well as export to influx, which was allowed before.

[2018-05-19 14:02] nicolargo commented on #1261
I understand your need but if you do not use the --hide-kernel-thread option (default behavior), the kernel process should be displayed (and AMP should work).

[2018-05-19 14:07] nicolargo commented on #1261
Forget my last message.

Bug reproduced on my side:

![image](https://user-images.githubusercontent.com/776747/40269427-ac1312c4-5b7e-11e8-879b-5e41d6341a39.png)

Kernel processes are displayed but not viewed by the AMP plugin.

I will have a look on it.

[2018-05-19 14:38] nicolargo commented on #1261
Correction done in the latest commit on the DEVELOP branch.

Can you test it ?

Note: https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version

[2018-05-20 14:53] juan11perez opened #1266 "apparmor="DENIED" operation="ptrace" profile="docker-default""
* Glances (glances -V): docker latest image
* Operating System (lsb_release -a): Ubuntu Server 18.04LTS

When running the docker in --export influxdb mode. The syslog is continuously spammed with the following error:

May 20 18:09:58 home kernel: [ 8661.017018] audit: type=1400 audit(1526825398.119:8268): apparmor="DENIED" operation="ptrace" profile="docker-default" pid=5868 comm="python" requeste

[2018-05-21 06:36] SailorMax commented on #1261
@nicolargo I think your solution can return double result... wrong count of founded processes.
Better check accessibility of cmdline in first search line, or add before second my `if`.

[2018-05-21 23:03] chetankabra opened #1267 "Glances UI is not updated after updating / passing glances.config file"
#### Description

I passed glances.conf file as an argument to the glances. but not able to see any update on
the UI.

Note- the theme got changed but none of the other changes are visible on the UI

glances -C 'path_to_the_glances_conf_file'

#### Versions

* Glances (glances -V): Glances v2.11.1 with psutil v5.4.5
* Operating System (lsb_release -a): Ubuntu 14.04 64bit / Linux 3.13.0-96-generic

[2018-05-22 01:39] serheang commented on #1256
Thank you.

Thank you.
Warmest regards,
Ser Heang TAN

On Tue, May 8, 2018 at 7:19 PM, Nicolas Hennion <notifications@github.com>
wrote:

[2018-05-23 08:21] giupardeb opened #1268 "fatal error: 'crypt.h' file not found when installing glances"
#### Description
I follow the tutorial to install glances on my android phone (Xiaomi redmi note4x Android version 7.0), when I launch the following command: `pip install glances`, I got this error:

#### Versions

* Glances (glances -V):
* PSutil (glances -V):
* Operating System (lsb_release -a): Android

[2018-05-27 02:32] zerolugithub commented on #1087
Ubuntu 16.04, running into this issue as well.Glances v2.11.1 with psutil v5.4.5. Only happening on my laptop - haven't tried other machines.

/usr/local/lib/python3.6/dist-packages/psutil/_pslinux.py:1160: RuntimeWarning: ignoring OSError(6, 'No such device or address') for file '/sys/class/hwmon/hwmon1/temp12_input'
  RuntimeWarning)
/usr/local/lib/python3.6/dist-packages/psutil/_pslinux.py:1160

[2018-05-29 13:34] andrewbernard commented on #1203
This is also happening on Ubuntu 18.04 LTS.

[code]

[2018-05-31 15:15] nicolargo commented on #1267
Not reproduced here.

Work fine with both master (Glances 2.11.1) and develop branch (3.0.rc5).

Can you have a look in the /tmp/glances-*.log file and check that:
- the good conf file is loaded
- there is no error message

[2018-05-31 15:19] nicolargo commented on #1266
Hi @juan11perez

not reproduced on my laptop (Docker version 17.05.0-ce, build 89658be).

What is your Docker engine version ?

[2018-05-31 15:22] nicolargo commented on #1268
The problem came from the PsUtil installation.

Please have a look here: https://github.com/giampaolo/psutil/issues/1261#issuecomment-378980760

[2018-05-31 15:22] #1268 closed

[2018-05-31 20:37] juan11perez commented on #1266
Good day @nicolargo
Docker version 18.03.1-ce, build 9ee9f40

[2018-06-02 15:11] #1261 closed

[2018-06-03 14:05] #1259 closed

[2018-06-07 18:58] nicolargo commented on #1094
Can not reproduce.

Please can you provide (paste/bin) full log in debug mode ?

[2018-06-08 01:05] jinyu121 commented on #1094
@nicolargo Can you tell me how to enter the debug mode and where the log file is?

There is a log, which is the result of `glances -w -d`:

[code]

And then, I opened `http://0.0.0.0:61208/` in my Chrome. The page is blank, and errors shown in console:

[code]

OS: Debian 9.3 x64
Installed via `sudo apt install glances`, which is `Glances v2.7.1 with psutil v5.0.1`
OS Language: zh-CN

[2018-06-08 11:15] anselal commented on #913
Had the same issue on openSuSE 42.3. Fixed it by installing python3-curses.
@nicolargo I think that python-curses and/or python3-curses package must be added to the requirements in the README.md file

[2018-06-09 08:20] nicolargo commented on #1094
I am a little bit disappointing because the error did not come from a Glances code but by the standard wsgiref/simple_server.py script used by the Bootle lib.

RFC 2616 is clear: if no encoding is declared in the Content-Type header, the encoding for text/html is assumed to be ISO-8859-1.

For all listening to this issue, can you please try to execute this little python script on your environment

[2018-06-09 12:50] jinyu121 commented on #1094
1. `{"b": "\u017d", "a": "\u4e09"}`
1. `{"b": "\u017d", "a": "\u4e09"}`
1. `{"b": "\u017d", "a": "\u4e09"}`

[2018-06-09 17:56] gslav commented on #1094
Running `glances -w -d` (installed with pip) have next result: [console log](https://pastebin.com/9S3zY97R) and [log file](https://pastebin.com/qVsNc7eC).
For develop branch `python3 -m glances -w -d`: [console log](https://pastebin.com/r6ki1t6P) and [log file](https://pastebin.com/EaS5mPjR)

Simple webserver script [result](https://pastebin.com/GGz7mWw1).

For `python -m glances -w -d` (develop b

[2018-06-10 10:07] nicolargo commented on #1094
@jinyu121 can you try to start Glances 3.0RC5 with the following options:

    python -m glances -w --disable-plugin docker,amps,sensors

[2018-06-12 20:30] nicolargo commented on #1094
@all i just push a new DEVELOP branch solving some encoding issue.

Can you try ?

Thanks !

[2018-06-13 14:19] DjDOESIT opened #1270 "Glances windows 8.1 API GET"
#### Description
Bonjour,

Je viens d'installer la version  windows de Glances sur un windows 8.1.

Lors ce que je lance le mode serveur il indique:
`Glances server is running on 0.0.0.0:61209`

Mais si j'utilise une commande GET ... il me retourne continuellement:
`Error response
Error code 501.
Message: Unsupported method ('GET').
Error code explanation: 501 = Server does not support this operat

[2018-06-14 08:32] Raptor039 opened #1271 "Glances error after docker installation"
#### Description

Just after install docker on my system, glances not working anymore except if I launch it with --disable-fs argument.

#### Versions

* Glances & psutil (glances -V): Glances v2.11.1 with psutil v5.4.6
* Operating System (lsb_release -a):

Distributor ID: Debian
Description:    Debian GNU/Linux 9.4 (stretch)
Release:        9.4
Codename:       stretch

Below a screen showing the

[2018-06-14 13:41] redjoe commented on #1094
env LANG in OS:
[code]
I try new DEVELOP with `LANG=ru_UA.UTF-8` and without `LC_ALL=en_US.UTF-8`  not working.
With `LANG=ru_UA.UTF-8` and `LC_ALL=en_US.UTF-8` working.
With `LANG=en_US.UTF-8` and without LC_ALL  working.

[2018-06-14 13:54] AllegroDvt opened #1272 "export to elasticsearch is broken for elastic 6.x"
[2018-06-14T15:46:42,117][DEBUG][o.e.a.a.i.m.p.TransportPutMappingAction] [zzz] failed to put mappings
 on indices [[[glances/QL4r1yDvRmi-shKTYkmq-A]]], type [sensors]
java.lang.IllegalArgumentException: Rejecting mapping update to [glances] as the final mapping would have
 more than 1 type: [sensors, cpu]

That's related to https://www.elastic.co/guide/en/elasticsearch/reference/6.0/removal-of-ty

[2018-06-15 04:58] gdahlm opened #1273 "setup.py should refrence nvidia-ml-py3 to avoid breaking on python3"
#### Description

Related to #1137 and the [documentation](http://glances.readthedocs.io/en/stable/aoa/gpu.html) related to the GPU option.  If you install `nvidia-ml-py3` on python3 it will be overwritten by ` nvidia-ml-py`.  This breaks the nvidia gpu function.

As `nvidia-ml-py3` is listed in: :https://github.com/nicolargo/glances/blob/b016d508f014721823d836486a419482c47e3fd4/optional-requireme

[2018-06-17 15:08] clyra commented on #1271
Mine is broken too and I'm also on debian stretch. --disable-plugin fs didn't help and the web ui seems to be frozen and not updating.

[2018-06-17 15:15] clyra commented on #1267
Hi,

I'm seeing the same behaviour after upgrading. Except that I'm not using a custom config file. The UI seems to be frozen and not updating.  Log files has:

2018-06-17 15:11:55,312 -- INFO -- Start Glances 3.0.rc5
2018-06-17 15:11:55,312 -- INFO -- CPython 2.7.15rc1 and psutil 5.4.3 detected
2018-06-17 15:11:55,314 -- INFO -- Search glances.conf file in /glances/conf/glances.conf
2018-06-17 15

[2018-06-17 18:50] nicolargo commented on #1270
L'API est uniquement disponible à partir de la version 2.0+.

[2018-06-17 18:50] #1270 closed

[2018-06-17 18:52] nicolargo commented on #1271
Duplicated: https://github.com/nicolargo/glances/issues/1094

[2018-06-17 18:52] #1271 closed

[2018-06-17 18:54] nicolargo commented on #1272
As a workaround can you try to deisable the sensor plufin (--disable-sensors)

[2018-06-17 18:55] nicolargo commented on #1273
Thanks for the issue and the PR :)

[2018-06-17 18:55] #1273 closed

[2018-06-18 09:56] SecKarma opened #1275 "Terminal window stuck at the last accessed *protected* server"
#### Description

The terminal window where you get to choose from the static servers you set in the configurations file, it just stops responding and cant move (the arrow) between the servers list, if you connect to a server and press "q" to go back to the servers list, in here the arrow wont move up and down, and also it would freeze, but you can still only access the same server by hitting ente

[2018-06-19 15:16] oppianmatt opened #1276 "Sort docker stats"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

We can sort the processes by a few different properties, but yet the docker stats we can't sort by anything. Would be nice if the same/similar sort options existed, like sorting do

[2018-06-21 17:52] jack10bells opened #1277 "How to send email when warnings or critical values come up?"
Hi, I would like to know if this feature is already available or the best way to develop it using the already Glances implemented code.
I've just taken contact with this amazing tool.
Thanks in advance
Gustavo

[2018-06-22 04:43] GMishx opened #1278 "Unable to connect to glances server"
#### Description

I have a server running on Debian Jessie (8) and installed glances using `apt`. After that I ran `glances -s` to run glances in server mode and ran `glances -c <ip>` on my client. It produced following error message:
[code]

#### Versions

##### Server
* Glances & psutil (glances -V): Glances v2.1.1 with psutil v2.1.1
* Operating System (lsb_release -a):
[code]
##### Client
* Gla

[2018-06-25 07:13] garciaev opened #1279 "Glances web server page is completely blank on Ubuntu 17.10, but not 16.04?"
Hi -

Title says it all. When I start the webserver:
glances -w
and open the webpage in my browser:
http://MY_IP:61208/

I get a completely blank/black screen. Inverting the color scheme or using --theme-white doesn't work either.

Glances v2.11.1 with psutil v4.4.2
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 17.10
Release:	17.10
Codename:	artful

[2018-06-25 11:51] wucl202000 commented on #910
I met the same situation.

[2018-06-26 02:13] garciaev commented on #1279
Nevermind. Now it works, after exiting the ubuntu virtual machine session and logging back in the next day.

[2018-06-26 02:13] #1279 closed

[2018-06-27 07:04] TheBestPessimist opened #1280 "Webserver over https"
#### Description

Is it possible that the webserver option `glances -w` works over https?

[2018-06-27 07:09] TheBestPessimist commented on #1280
Or should we use this?

https://github.com/nicolargo/glances/wiki/Reverse-proxy-to-the-Glances-Web-UI

[2018-06-28 08:41] Vadim-Stupakov commented on #1225
This is not the isssue
Read the [doc](https://glances.readthedocs.io/en/stable/install.html)

[2018-06-29 00:45] shawngiese commented on #1277
I think you want this... http://glances.readthedocs.io/en/stable/aoa/actions.html

[2018-07-02 11:12] CvBeijsterveldt commented on #1203
I'd like to add that I'm having the same issue on Arch Linux (4.17.3-1-ARCH) with `Glances v2.11.1 with psutil v5.4.6`. The complete error / warning message is `/usr/lib/python3.6/site-packages/psutil/_pslinux.py:1160: RuntimeWarning: ignoring OSError(22, 'Invalid argument') for file '/sys/class/hwmon/hwmon3/temp1_input'
  RuntimeWarning)`

The issue appears to be caused by a temperature sensor on

[2018-07-02 16:10] shawngiese opened #1281 "Add new status value to browser"
Glances is fun! Thanks.

Would be great if we could have a new status in glances_curses_browser.py like 'DEGRADED': self.ifWARNING_color2. Then we could add some if logic to the browser to highlight high resource usage. I mean, I did it for my browser but I think others might find it useful.

Maybe even another for ERROR in case an essential service failed.

[2018-07-02 16:12] shawngiese commented on #1278
Is it because they are running different versions of Glances? I had that problem where pip installed a different version than yum.

[2018-07-02 19:17] nicolargo commented on #1203
@CvBeijsterveldt Hello, i just push a patch on the DEVELOP branch. Can you test it on your system ?

[2018-07-02 19:19] nicolargo commented on #1275
Please, can you provide an extract of the servers list configured in the glances.conf file ?

[2018-07-02 19:24] nicolargo commented on #1277
@jack10bells Is it ok for you ?

[2018-07-02 19:28] nicolargo commented on #1280
If you want to use SSL to access to your Glances server, you should use a reverse proxy (Nginx or other).

[2018-07-02 19:28] #1280 closed

[2018-07-02 19:35] nicolargo commented on #1281
Duplicated: https://github.com/nicolargo/glances/issues/977

[2018-07-02 19:35] #1281 closed

[2018-07-05 09:08] SecKarma commented on #1275
i can give you an exact example of what i had in my configuration: (these are just random domains which i don't own if exist)

[code]
after the configuration up and after i launch glances in the background as a server on the servers listed up i do run glances locally using this command:
`glances --browser --disable-autodiscover`

it pops up a list of the servers configured up (ofcourse they're pro

[2018-07-05 11:41] seonghobae opened #1282 "Web server is not run properly with encoding issues"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

For an enhancement or new feature: Describe your needs.

#### Versions

* Glances & psutil (glance

[2018-07-06 06:11] nicolargo opened #1283 "Glances crash with extended process stats"
#### Description

glances
Traceback (most recent call last):
  File "/usr/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.11.1', 'console_scripts', 'glances')()
  File "/usr/lib/python2.7/site-packages/glances/__init__.py", line 134, in main
    start(config=config, args=args)
  File "/usr/lib/python2.7/site-packages/glances/__init__.py", line 103, in start
    mode.serve_foreve

[2018-07-07 12:06] fraoustin opened #1284 "Glances docker export influxdb problem with curse"
When run glances by docker, i have a error

#### Description

#### Versions

* Glances & psutil (glances -V): Glances v3.0.rc5 with psutil v5.4.3
* Operating System (lsb_release -a): docker ce

Can you help me please

[2018-07-07 19:28] nicolargo commented on #1282
Try this:

   $ LANG=en_US.UTF-8 glances

[2018-07-07 19:32] nicolargo commented on #1284
Try this:

    ... GLANCES_OPT="--quiet --export influxdb" ...

[2018-07-07 19:34] #1277 closed

[2018-07-07 19:41] nicolargo commented on #1283
Corrected in latest commit.

[2018-07-07 19:41] #1283 closed

[2018-07-08 08:59] fraoustin commented on #1284
it's working , thank you
For a next feature: add export in server mode it's a good idea ... I wish have the ihm web and the export influxdb in same instance
thank you

[2018-07-08 08:59] #1284 closed

[2018-07-08 22:47] jack10bells commented on #1277
Hi, sorry for not answering before. Yes, that's was what I was looking for.
It worked for a Python program execution (i.e. critical_action=python /path/to/foo.py) but didn't work when using mustache syntax (ie careful_action=echo {{percent}} > C:\tmp\memory.alert). It prints "{{percent}}" instead of the percentage itself.
I'm running on Windows platform.
Any idea?

[2018-07-10 23:58] gseluja opened #1286 "Configuration file issues"
Configuration file worked for a Python program execution (i.e. in **[mem]** section, **critical_action=python /path/to/foo.py** was ok) but it didn't work when using mustache syntax (ie **careful_action=echo {{percent}} > C:\Users\jack1\AppData\Roaming\glances\memory.alert**). It prints "{{percent}}" instead of the percentage itself.
Or even if I want to echo from **careful_action_repeat** and run

[2018-07-11 13:18] ctron opened #1287 "Disabling docker plugin not possible"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

When the docker plugin cannot be loaded properly, I would still be able to run glances without it:

Run:

[code]

#### Versions

* Glances & psutil (glances -V): Glances v2.5.1 wit

[2018-07-11 13:21] ctron commented on #1287
Deleting the plugin file results in the next problem:

[code]

[2018-07-12 07:04] rocketraman commented on #1087
Having this problem also, on Fedora 27. This seems to have started just recently. I don't actually care that the sensors information is not showing. The real problem is that the error from the python module keeps printing to the screen every few seconds, and corrupts the glances display.

The error is:

[code]

The psutil output:

[code]

[2018-07-12 19:38] btowntkd opened #1288 "Feature request: HDD S.M.A.R.T. reports"
#### Description

It would be very useful to include S.M.A.R.T. data from attached drives, especially since this application is geared towards server environments.

Drive temperature data and general health status would be the most useful.

Smartmontools seem to be the lowest barrier to entry for this feature, and it is multi-platform.
https://www.smartmontools.org/

I am running Glances on Window

[2018-07-14 15:32] nicolargo commented on #1286
Hi @jack10bells , some additional question regarding your configuration:
- what is your Glances version ? (glances -V)
- did the Python mustache lib installed on your system ? (pip list)

[2018-07-14 15:33] nicolargo commented on #1287
It is a know bug already solved in the latest version of Glances. Please update your Glances installation.

[2018-07-14 15:33] #1287 closed

[2018-07-14 15:51] nicolargo commented on #1288
Hi, this proposal has already be discussed. The main issue is that the Glances running process has to be ran as root in order to grab the S.M.A.R.T stats.

A test has been done with the pySMART lib (https://pypi.org/project/py.SMART/) and confirms it:

[code]

I do not want to implement a specific root function in Glances...

If you know another solution, let me know.

[2018-07-14 16:37] btowntkd commented on #1288
I think - for a system monitoring tool - it is reasonable for users to expect that certain features require admin privileges.  Wouldn't it be fair to wrap the entire "S.M.A.R.T." block of functionality in a try/except, and simply not display the info, with an error message in the log?

[2018-07-14 20:22] nicolargo commented on #1288
Ok will have a look on this issue.

[2018-07-15 04:55] cih9088 opened #1289 "Feature request: make the central client UI configurable (example: GPU status)"
central client feature in glances is very useful for me, I guess not only me, to monitor several servers at one go.
However it would be much useful if there were any options to show how many GPUs are not running or status of each GPUs for machine learning researchers or engineers.
As far as I know, no options for central client for now that is no way to customising it.
Thought?

[2018-07-16 06:18] richardk80 commented on #1225
I just ran sudo apt install python-bottle and sudo apt install python3-bottle for good measure and everything started working after that. I can even run glances -w when my server first starts up.

[2018-07-16 14:48] mcarlton00 opened #1290 "Swap isn't reported correctly in FreeBSD"
#### Description

On a FreeBSD machine, swap is reported at the correct percentage, but the wrong values.

Glances view:
[code]
Swapinfo view:
[code]

#### Versions

* Glances & psutil (glances -V): `Glances v2.11.1 with psutil v5.4.3`
* Operating System (lsb_release -a): `FreeBSD 11.1-RELEASE-p9`

#### Logging
This seems to be the relevant line.  I can provide more if needed:
[code]

[2018-07-16 17:17] imcdona commented on #910
I'm in the same situation as well.

[2018-07-18 04:58] ky0nch3ng commented on #910
@wucl202000
try this
apt-get install python3-dev

[2018-07-19 11:39] SecKarma commented on #1275
Any Updates so far on this issue?

[2018-07-19 22:35] jack10bells commented on #1286
Hi @nicolargo , the first issue is solved (mustache lib was missing).
Glances version is v2.11.1 with psutil v5.4.6.
Regards

[2018-07-20 07:14] kircal commented on #1087
I have the same problem on Ubuntu 18.04.
Python 3.6.5
Glances 2.11.1 with PSutil 5.4.6

`Python 3.6.5 (default, Apr  1 2018, 05:46:30)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

/home/kircal/.local/lib/python3.6/site-packages/psutil/_pslinux.py:1160: RuntimeWarning: ignoring OSError(22, 'Invalid argument') for file '/sys/class/hwmon/hwmon0/temp1_in

[2018-07-22 15:54] nicolargo commented on #1289
Hi @cih9088 !

For the moment, only majors stats (CPU/RAM) are available in the client central view. Your proposal to make it "configurable" is very interesting. Have to find a way to make it nice, not only for GPU.

If you have some requirements please let me know.

Nicolas

[2018-07-22 16:03] nicolargo commented on #1290
Hi,

the stats are provided by the PsUtil lib (https://psutil.readthedocs.io/en/latest/#psutil.swap_memory).

Please can you enter the following command lines in a terminal and copy/paste the result:

[code]

Thanks.

[2018-07-22 16:20] mcarlton00 commented on #1290
Different server than the first example, but still has the same problem:
[code]
`free` is a linux command and isn't available on freebsd.
[code]
If I'm reading this right, it looks like this may be a problem with psutil instead of glances, right?

[2018-07-22 16:48] mcarlton00 commented on #1290
One of these days I'll learn to run OS updates before opening bug reports.  I was still on psutil 5.4.3.  All fixed, thanks for the help.

[2018-07-22 16:48] #1290 closed

[2018-07-26 14:30] nicolargo commented on #1275
Vgv bave et rédtr

Le jeu. 19 juil. 2018 à 13:39, Mrs. Wonderful Falcon <
notifications@github.com> a écrit :

[2018-07-26 20:56] nicolargo commented on #1275
Also reproduced with Glances 3.0 RC...

With a simple dynamic configuration and two Glances server:

![selection_374](https://user-images.githubusercontent.com/776747/43287930-c1bf2b98-9126-11e8-9aeb-a34cc4751379.png)

Same issue with:
- password protected server
- no password protected server

[2018-07-27 13:09] LabSen opened #1291 "Invalid metric name: glances_processcount_?"
#### Description

I've Glances with Prometheus and Grafana. It's work, but Something in the logs is not correct

#### Versions

* Glances & psutil (glances -V): Glances v2.11.1 with psutil v5.4.6
* Operating System (lsb_release -a): Ubuntu 18.04.1 LTS

#### Logs

Jul 27 14:50:30 srv glances[1469]: Exception in thread Thread-10864:
Jul 27 14:50:30 srv glances[1469]: Traceback (most recent call last

[2018-07-28 12:35] nicolargo commented on #1275
Corrected in the DEBELOP branch. can you test it @SecKarma ?

[2018-07-28 12:52] nicolargo commented on #1094
Added in the doc: https://github.com/nicolargo/glances/blob/develop/docs/faq.rst#faq

[2018-07-28 12:52] #1094 closed

[2018-07-28 16:57] SecKarma commented on #1275
ofcourse, I will test it and will reply in couple of days later.

thank you so much.

[2018-07-28 20:10] Kronuz opened #1292 "Never starts in a server on Google Cloud and FreeBSD"
#### Description

In a server in **Google Cloud** (FreeBSD v11, glances 2.11.1), when I start glances it never starts, and when I press <kbd>ctrl</kbd>+<kbd>C</kbd>, I get this traceback:

[code]
Apparently, it cannot connect to the `hddtemp` server (host: '127.0.0.1', port: 7634), however, I still get the very same issue when I try to start glances with `glances --disable-hddtemp`

#### Versions

[2018-07-28 20:50] bussiere commented on #910
I'am in the same situation also :
[code]

[2018-07-30 09:08] Birne94 opened #1293 "Pin zeroconf dependency on 0.19 to maintain python 2 compatibility"
#### Description

[zeroconf](https://github.com/jstasiak/python-zeroconf) which is used for service discovery has recently removed support for python 2. In order to maintain compatibility with python 2, the dependency [should be pinned at 0.19.1](https://github.com/nicolargo/glances/blob/1cf84dfcef7f59435ccf10d2e4afd7bb8aeef948/setup.py#L83) which is the last python 2 compatible release.

#### Ver

[2018-07-30 14:35] SecKarma commented on #1275
Update: Works perfectly thanks! :heart:

[2018-07-30 14:38] SecKarma commented on #1267
running fine on Ubuntu 16.04
with Glances v3.0.rc5 with psutil v5.4.2
from source "develop"

:+1:

[2018-07-30 15:10] SecKarma opened #1295 "Glances Terminal Interface Crash on OFFLINE servers"
When you setup glances with --browser and do the configuration inside `glances.conf`
if a server went or is offline while / or after listing the servers, if you hit enter or try to access the offline marked server glances crash and gives the following:

[code]

OS: **Ubuntu 16.04**

Glances Version: **Glances v3.0.rc5**
Psutil: **psutil v5.4.2**
from source branch "**develop**"

Glances Version: *

[2018-07-31 22:29] jack10bells opened #1296 "Capture Glances alerts?"
Is it possible to capture Glances alerts and possible writing it on a file?

Warning or critical alerts (lasts 2 entries)
2018-07-31 19:28:03 (ongoing) - MEM (40.174265803272725)
2018-07-31 19:24:38 (00:01:51) - WARNING on MEM (44.04490948848545)

I want to capture both lines

[2018-08-01 09:30] cubanpit commented on #1203
I can confirm that `Glances v3.0.rc5 with psutil v5.4.6` behaves as expected.

[2018-08-02 06:56] dexception opened #1297 "Option to execute external programs remotely to manage video streams remotely | Enhancement"
I have a web interface for managing live video streams.  I would like the user to start | stop | restart these video streams with arguments which are running another machine. This has to be done via rest command.  Is there option or plugin to execute programs ?

[2018-08-03 08:58] beat commented on #1288
For display question: Suggestion: Any abnormal SMART state would making the reading of throughput indication red and add a line below with keyboard hint to display SMART info when abnormal.

[2018-08-03 08:58] beat opened #1298 "Disk throughput unit is missing in display, help, manpage and online ReadTheDocs"
#### Description

Disk throughput measurement unit is missing in display, help, manpage and online ReadTheDocs:

Is disk throughput I/O requests per seconds ? Is it Bytes per seconds ?

Both would be useful, and being able to toggle display like for networks would be nice too (possibly also adding disk latency as third toggle choice (#1070) and SMART state (#1288) as fourth (with any abnormal SMAR

[2018-08-03 15:52] piotrp88 opened #1299 "Glances shows mdadm RAID0 as degraded when chunksize=128k and the array isn't degraded."
`Glances v2.11.1 with psutil v5.4.3`

I'm observing a very strange behaviour after creating a new and clean RAID0 array using mdadm and six SSDs. Glances shows the following output when the chunk size of the array is 128k:

[code]

I tried with other values, like 64k, 256k and 512k and none of them displayed as degraded. For example:

[code]

I'm sure that the array isn't degraded for two reasons:

[2018-08-03 16:03] piotrp88 commented on #1299
Probably I found the issue. [In the code](https://github.com/nicolargo/glances/blob/4675fff26d6e03daf75b1e9b5e15d95544601950/glances/plugins/glances_raid.py#L135), you check the number of used disks (`x`) against the number of available disks (`y`). If `x` < `y` then the array is degraded, but in this case `x` equals the chunk size (`"128k"`) and not the number of used disks. Also, for some reason

[2018-08-03 22:57] Sethox opened #1300 "Allowing Glances through firewall"
#### Description

So I have a very hard firewall (iptables and ip6tables) filter and it would seem that it blocks the standalone runtime by having an unlimited timeout of not running. I tested by flushing my rules and volá glances runs perfectly without any delays.

I would like to know what port or interface/s (for further specified filter) needs to go through my filter, I looked in the wiki and

[2018-08-05 07:42] nicolargo commented on #1291
Hi Labsen,

can you try with the Glances DEVELOP branch (future Glances 3.0) and also paste/bin us the Glances log file.

Thanks

[2018-08-05 07:53] nicolargo commented on #1293
Done. Thanks for the head up.

[2018-08-05 07:53] #1293 closed

[2018-08-05 08:07] nicolargo commented on #1295
Not reproduced on my side (with Glances v3.0.rc5).

I declare two Glances server in my glances.conf file (same computer but different TCP listening ports).

I start the two servers.

I start Glances Browser with:

    python -m glances --browser -C ~/data/glances-browser-test.conf --disable-autodiscover

The two servers are displayed in green. Everything is ok.

I stop the first server. It become

[2018-08-05 08:14] nicolargo commented on #1296
What you looking for can be done with action.

Read this: http://glances.readthedocs.io/en/stable/aoa/actions.html

[2018-08-05 08:14] #1296 closed

[2018-08-05 08:26] nicolargo opened #1301 "Add disk I/O throughput requests per second"
#### Description

For the moment, Glances display Disk IO in bytes per second. This enhancement proposes to add I/O requests per seconds.

The user should switch from bytes to requests per second using:
- hot key
- option on the command line

#### Versions

* Glances & psutil (glances -V): 3.0

#### Logs

You can also pastebin the Glances logs file (https://glances.readthedocs.io/en/latest/config.

[2018-08-05 08:30] nicolargo commented on #1301
Already done... ==> --diskio-iops

DUPLICATED

[2018-08-05 08:30] #1301 closed

[2018-08-05 08:34] nicolargo commented on #1298
Hi @beat ,

the documentation can be found here: http://glances.readthedocs.io/en/stable/aoa/disk.html

Agree with you concerning the unit, it is in Bytes per seconds but it is not clear in the documentation.

Concerning the request per second, it can be done using the --diskio-iops option or *B* hot key.

Also agree with you that thoses options are not in the ReadTheDocs.

[2018-08-05 08:34] #1298 closed

[2018-08-05 09:26] nicolargo commented on #1300
Hi @Sethox ,

as said in the documentation ([here](http://glances.readthedocs.io/en/stable/quickstart.html#client-server-mode) or [here](http://glances.readthedocs.io/en/stable/cmds.html#cmdoption-p)) the default TCP port is 61209.

[2018-08-05 09:26] #1300 closed

[2018-08-05 14:36] #1275 closed

[2018-08-05 15:33] SecKarma commented on #1295
what python version are you using? maybe it's because of that.
because everything you mentioned is exactly i'm doing in here but i get a crash on offline access.
so it's a python issue from my side.

[2018-08-05 17:31] nung0707 commented on #1299
/ etc / mdstat

[2018-08-06 00:24] JamesDonaldChilds opened #1302 "Can't install glances"
This is my attempt

[code]

used to use sudo apt install glances but that no longer works, either, am I missing something personally or are dependencies missing from ubuntu repos. I am on ubuntu 18.04.1, glances works fine on one of my servers but won't install on my second one.

[2018-08-06 00:37] JamesDonaldChilds commented on #1302
nvmd im dumb, ive never managerd to install ubuntu with disabled universe repo until now

[2018-08-06 00:37] #1302 closed

[2018-08-06 06:03] dexception commented on #1297
The video streams are running on separate machines and the web server is running on separate machine. In order to start/stop/restart the program[program only works via command line] i have to connect via ssh and issue the command via java based ssh library.  It would be nice to have this script in the library to provide a complete solution for remote monitoring of server and issuing commands as we

[2018-08-06 07:11] piotrp88 commented on #1299
I have different RAID arrays on my server. The output from `pymdstat` seems the same as the output of `cat /proc/mdstat`.

[code]

[code]

[2018-08-06 08:41] nicolargo commented on #1299
Corrected in the Glances DEVELOP branch.

![image](https://user-images.githubusercontent.com/776747/43706296-3ac5bbd8-9965-11e8-807a-1da72c5352b3.png)

Thanks for the report !

[2018-08-06 13:50] piotrp88 commented on #1299
But what does "Avail" and "Used" mean? In my case I must interpret it reports 2 disks available for all my arrays, but there are a total of 6 used disks and 0 available disks for md125 and 2 used disks and 0 available disks for md126. I think the reported info is wrong, or probably I don't quite understand it.

[2018-08-06 14:52] nicolargo commented on #1299
Ok copy that. I just push another patch on the DEVELOP branch:

![image](https://user-images.githubusercontent.com/776747/43723801-d366f4be-9998-11e8-94b5-e7c405587e80.png)

For a RAID0, it display the number of used disks. Available disk has no sense in the RAID0 case because if one disk is down, all the RAID0 will be in failure.

Can you simulate a failure on one disk and show me the result of t

[2018-08-06 15:03] piotrp88 commented on #1299
I can't because this is a production server, I'm sorry.

[2018-08-06 21:10] jack10bells commented on #1296
Hi @nicolargo, I will use actions to do that, but my question is how can I capture the alerts? In which way? Which object should I call?
Regards

[2018-08-08 08:51] piotrp88 opened #1303 "Glances crashes after a variable and unpredictable period of time (KeyError: 'memory_info')"
#### Description

Glances crashes after randomly and unpredictably. This happens two or three time in a day usually (I leave glances running all day on a terminal while working). Sometimes it crashes after ten minutes, sometimes after some hours. The error is always the same (see traceback at the end of this message). I run glances as root.

#### Versions

* Glances & psutil (glances -V): `Glances

[2018-08-08 09:03] nicolargo commented on #1303
Hi @piotrp88

It should be solved in the DEVELOP branch.

Can you test it on your system ?

Nicolas

[2018-08-09 06:44] piotrp88 commented on #1303
I started a glances session using the DEVELOP branch. I forgot to mention that I always run glances with `glances -t 1`.

I will see what happens in the next hours.

PS in the DEVELOP version the RAID section doesn't show up.

[2018-08-10 06:41] piotrp88 commented on #1303
I used glances all day yesterday and it didn't crash. I observed a higher CPU usage compared to the stable version (near 100% on a single core), even without the `-d` flag. The left column is too big in my opinion, while on the stable version it has the perfect width. See the attached images.

![devel](https://user-images.githubusercontent.com/5948581/43942602-fe9d952e-9c78-11e8-91ff-50ae008dd433.

[2018-08-10 14:54] sylvainmouquet opened #1304 "View by CPU with more than 10 CPU cores"
Hello,

We have a server with 56 cpu-cores.
The view by CPU does not display all cores :

![image](https://user-images.githubusercontent.com/184874/43964732-c3882b08-9cbd-11e8-8a64-2818c8d88bf6.png)

Glances version 2.11.1
PSUtil 5.4.2
Linux

[2018-08-15 13:53] jjlawren commented on #1288
You can configure smartd to write reports to CSV files: https://www.smartmontools.org/browser/trunk/smartmontools/smartd.8.in#lbAE. It would require more setup to use, but it could avoid requiring root permissions.

[2018-08-16 09:35] nicolargo commented on #1304
Ooops... Never tested Glances with such hardware configuration.
Will have a look on this issue.

Any idea to display it ?
Like htop ?

[2018-08-16 09:38] nicolargo commented on #1303
Ok for the size of the left column, il will reduce it.

Concerning the CPU consumption it is strange... Have you enable the same plugins ?

[2018-08-16 10:29] nicolargo commented on #1303
Done for the column size.

Please open another issue for the the CPU consumption.

[2018-08-16 10:29] #1303 closed

[2018-08-16 10:55] #1299 closed

[2018-08-17 03:31] tnibert commented on #1288
If you would like, I am happy to implement this.  I have done something similar before.  I can also look into configuration to give a regular user permission for this and add to documentation and/or create a script.

[2018-08-19 05:26] tnibert commented on #1288
Ok, pySMART doesn't look like quite the silver bullet.  The library that is in pip only works on python2.  There are forks that are patched for python3, so I've just put in a check for python version to determine which library version to use.

With regards to using as non root, this is not looking very promising (see https://medium.com/opsops/why-smartctl-could-not-be-run-without-root-7ea0583b1323

[2018-08-20 04:50] CottonEaster commented on #1203
I have a similar problem on Mint 19 Cinnamon, and 'Glances v2.11.1 with psutil v5.4.2', _when there is no network_. For I see this before the program starts and subsequently the program's display is messed up:

`/usr/lib/python3/dist-packages/psutil/_pslinux.py:1150: RuntimeWarning: ignoring OSError(61, 'No data available') warnings.warn("ignoring %r" % err, RuntimeWarning)`

[2018-08-20 11:58] kramer65 opened #1308 "KeyError: 'address' (trying to run glances --export-influxdb)"
#### Description

We're looking for an easy monitoring tool for our servers and Glances with Grafana seems like a perfect solution for us. So as a test I'm trying it out on a fresh DigitalOcean Ubuntu 18.04 server. I installed glances with pip and influxdb and grafana using apt. I can run glances in the terminal and also the web interface runs fine. Following [the suggestions here](https://glances

[2018-08-21 12:32] bjornstromberg commented on #873
decent workaround on this one is sudoers.d conf file with no password on just that command `zpool status`

anyway i just found out about this project and from a quick look it seems like a keeper..

[2018-08-22 11:44] tnibert opened #1309 "CSV export does not create CSV"
#### Description

Export to CSV generates empty CSV when done per instructions in --help.

[code]

Per instructions in https://glances.readthedocs.io/en/latest/gw/csv.html.  No CSV file is generated.

[code]

#### Versions

* Glances & psutil (glances -V):
$ python -m glances -V
Glances v3.0.rc5 with psutil v5.4.3
(Current repository, git commit 1d2add124852cb8e88a7e99aaab631c7103f49e4)

* Operati

[2018-08-26 05:15] NatoBoram commented on #1101
We should probably create a separate issue for the `PermissionError`.

[code]

[code]

[2018-08-26 05:23] NatoBoram opened #1310 "Snap : Permission denied : "/etc/mtab""
Before filling this issue, please read the [manual](https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the [database](https://github.com/nicolargo/glances/issues).

The issue was mentioned in #1101.

#### Description

Glances crashes on start.

Steps to reproduce :

[code]

Result :

[code]

#### Versions

* Glances & psutil (glances -V)

[code]

* Operating

[2018-08-27 06:11] marcwaz opened #1311 "doesn't work with docker in swarm mode ?"
The option --pid host seems to be mandatory in order to use glances with docker. However docker in swarm mode is not supporting this option.

Is it possible to use glances without --pid host option ?

If not, it means that glances is currently not supporting docker in swarm mode, right !?

[2018-08-27 16:41] nicolargo commented on #1308
Hi @kramer65,

can you try the following workaround ?

Run Glances with:

[code]

[2018-08-27 16:47] nicolargo commented on #1309
Hi @tnibert ,

i can not reproduce the issue on my system:

[code]

[2018-08-27 16:52] nicolargo commented on #1311
Never tested...
What is the error message /log ?

[2018-08-29 03:03] TheInitializer opened #1312 "Glances opens in server mode by default"
#### Description

When I start glances it starts a web server instead of launching a curses interface like the documentation says it's supposed to. In addition, looking through `glances --help` doesn't reveal any obvious way of forcing curses mode.

#### Versions

* Glances & psutil (glances -V): Glances v2.11.1, psutil v5.4.7
* Operating System (lsb_release -a): Windows 10 1803

#### Logs

[code]

[2018-08-29 12:04] mario-g0 commented on #1225
I installed everything, even ran pip install bottle, but still the web server version won't work on macOS because it says bottle is missing

[2018-08-29 15:17] LChris314 opened #1313 "Processes list doesn't expand when top menu is disabled"
#### Description

Steps to reproduce:

1. Run `glances`.
2. Press `5` to disable the top menu.

Expected behaviour:

* The processes list expands to take up available vertical space.

Actual behaviour:

* The list may or may not expand at the moment of pressing `5`, but always become unexpanded after the next refresh.

#### Versions

* Glances & psutil (glances -V): Glances v2.11.1 with psutil v5.

[2018-09-01 06:40] tnibert commented on #1309
So I poked around at this today and may have some clue as to why it is happening on my system but not yours.

In exports/glance_csv.py, I put a "print(stat)" in the update() method after "for stat in all_stats[i]:".  Everything progresses well until stat=
`{'cpu_times': pcputimes(user=700.83, system=79.13, children_user=265.39, children_system=29.37), 'cpu_percent': 24.7, 'nice': 0, 'pid': 14477,

[2018-09-01 08:06] nicolargo commented on #1312
Glances 2.8 and higher did not support the Curses interface anymore...
Waiting a "real" terminal with native Curse support from Microsoft.

See issue #946

I will update the manual, your are right, it is not clear.

[2018-09-01 08:10] nicolargo commented on #1312
Done in latest commit.

[2018-09-01 08:10] #1312 closed

[2018-09-01 08:11] nicolargo commented on #1313
Already corrected in Glances 3.0_RC5.

[2018-09-01 08:11] #1313 closed

[2018-09-01 08:13] nicolargo commented on #1310
@NatoBoram Have you try this: https://github.com/nicolargo/glances/issues/1181#issuecomment-354645551

[2018-09-01 09:29] nicolargo commented on #1165
![image](https://user-images.githubusercontent.com/776747/44944623-55471e00-adda-11e8-9b49-ed2154e94f60.png)

[2018-09-01 11:07] nicolargo commented on #1288
Please test the feature from the DEVELOP branch (Glances 3.1_beta).

[2018-09-01 12:45] tnibert commented on #1288
Manually tested and passed on current DEVELOP branch at commit cee0caf7710d6cf3b67110eb3e482eefbca42fbb.

[code]

[2018-09-01 13:56] tnibert commented on #1309
Ok, if my flags are any indication, the exception is always raised on stat dicts of the form:
`{'cmdline': [], 'gids': pgids(real=0, effective=0, saved=0), 'memory_info': pmem(rss=0, vms=0, shared=0, text=0, lib=0, data=0, dirty=0), 'nice': 0, 'ppid': 2, 'memory_percent': 0.
0, 'name': 'kworker/1:2', 'pid': 28374, 'cpu_times': pcputimes(user=0.0, system=0.0, children_user=0.0, children_system=0.0)

[2018-09-04 16:08] G4Zz0L1 opened #1314 "AMPs error if no output are provided by the system call"
#### Description

With the latest version of Glances there are problems with AMPs. Until now it worked correctly, then I've got error on this line: https://github.com/nicolargo/glances/blob/cee0caf7710d6cf3b67110eb3e482eefbca42fbb/glances/amps/glances_default.py#L78

#### Versions

* Glances & psutil (glances -V):
	Glances v3.0 with psutil v5.4.7
* Operating System (lsb_release -a):
	LSB Version:

[2018-09-04 19:27] G4Zz0L1 commented on #1314
It's pretty most the default one

[code]

[2018-09-04 19:41] nicolargo commented on #1314
Ok reproduced with your configuration file.

The problem is on the following section:

[code]

I will have a look.

[2018-09-04 20:27] nicolargo commented on #1314
Ok... need to debug on my side.

[2018-09-04 20:31] NatoBoram commented on #1310
It works!

![image](https://user-images.githubusercontent.com/10495562/45056008-9f8d0100-b05f-11e8-8b49-ed38eb0711a0.png)

I had to `refresh glances` and create a new terminal to make it work.

[code]

[2018-09-04 20:31] #1310 closed

[2018-09-04 21:01] jrbenito commented on #1135
@nicolargo ,

How do you build X86 docker images?  More specifically, do you use a CI? I check the .travis.yml and it seems not, hence you might be doing it somehow manually...

Thanks

[2018-09-04 21:13] nicolargo commented on #1135
@jrbenito Done automatically  by hub.docker.com every time i push something on the develop or master branch.

[2018-09-05 12:46] G4Zz0L1 commented on #1314
It seems ok, even from the debug file. Thanks a lot!

[2018-09-06 03:44] kittyhacker101 commented on #1231
Is this still going to be implemented?

[2018-09-06 14:06] IchSchreiGleich opened #1315 "TypeError: '<' not supported between instances of 'float' and 'str'"
#### Description

If I start Glances and want to sort by process name, Glances stop working.

- Start Glances with "glances --disable-plugin sensors"
- Press "P"-Key to sort by process name

#### Versions

* Glances v3.0.1 with psutil v5.4.7
* FreeBSD 11.2-RELEASE-p2

#### Logs

I am so sorry, but this is excactly what I am get, when it crashes:

[code]

[2018-09-07 06:09] nicolargo commented on #1315
Hi @IchSchreiGleich !

Not reproduced on my Linux system. Could you please paste/bin us the Glances log file (/tmp/glances-$USER.log) ?

Thanks

[2018-09-07 11:17] IchSchreiGleich commented on #1315
Hi @nicolargo

Sure: https://pastebin.com/cbruDZZw
Possibly the last line is interesting?
[code]

[2018-09-08 06:13] juan11perez opened #1316 "From a Docker container, can't see additional drives in filesystem"
Glances v2.11.1 with psutil v5.4.3
docker image, ubuntu 18.04

Good day, I cant see the drive that's mounted onto /home. I can only see the system drive.
I tried adding #allow=zfs,misc,afpfs,autofs per another thread, but no change.
Below a pastebin of container errorlog and my docker compose.

https://hastebin.com/qezezurede.rb

![screen shot 2018-09-08 at 10 12 26](https://user-images.githubuser

[2018-09-08 08:03] nicolargo commented on #1315
Nope, it is not related to the issue...

Are the others sorts working without error ?

[2018-09-08 08:11] nicolargo commented on #1316
Reproduced...

I will have a look.

[2018-09-08 08:54] nicolargo commented on #1316
It is not a Glances or PsUtil issue:

[code]

As a workaround, add the following lines to your Glances configuration file:

[code]

[2018-09-08 13:26] nicolargo commented on #1276
Proposal: Containers sort key will be the same than the processes.

What do you think ?

[2018-09-08 14:13] nicolargo commented on #1288
An implementation of a basic UI (Curse and WebUI) will be nice.

Any contributors ?

[2018-09-08 14:14] nicolargo commented on #1276
@notFloran Can you implement the same sort algorithm to the Web UI ?

[2018-09-08 22:28] IchSchreiGleich commented on #1315
Latest release from DEVELOP branch works now, as expected. Good job.
Maybe interesting: Building with no errors, installing with this one:
[code]
Anyway, sorting is fine. :)

[2018-09-08 23:45] Hypocritus opened #1317 "[ENHANCEMENT] Disable automatic sorting between cpu_percent, io_counters and memory_percent"
A user can choose to sort the process list by cpu percentage, memory usage, i/o ... etc, or to have glances automatically sort the process list.

However even though the user can select their desired manner of sorting, the list reverts to being automatically sorted according to alert thresholds pre-set in the glances.conf file. This feature has been troublesome for me. (I have just now figured out

[2018-09-09 07:00] nicolargo commented on #1317
Hi @Hypocritus ,

if i understand your need, you want an option to disable the automatic processes sort when sort configuration is not set to "automatic" and an alert is reached.

Are we agree ?

Nicolas

[2018-09-09 12:04] Hypocritus commented on #1317
Hi @nicolargo,

Yes, that is correct.

[2018-09-09 16:30] nicolargo commented on #1317
Implementation done as a default behavior (without any command line option) in the DEVELOP branch.
Will be release in Glances 3.1.

Please can you test it on your system ?

[2018-09-10 03:15] tnibert commented on #1288
I'm happy to do this when I have a bit of time.

I gave the UI some thought and the only important attribute value for the UI to show, really, is the raw value.  If we display the attribute name and the raw value, this should save some UI space.  We can color the attribute if the raw value is outside the acceptable range.

[2018-09-12 05:31] monchin opened #1319 "After writing a new class inherited from Export, how should I run this new class?"
Hello!
I would like to just record gpu-related information in a .csv file, and after reading the exports code, I wrote a new class inherited from glaces_csv.Export
`from glances.exports.glances_csv import Export

class Export_GPU(Export):
    def plugins_to_export(self):
        r'''
        only record gpu information.
        '''
        return ['gpu']`

I saved this file as gpu_log.py somewhere

[2018-09-12 19:13] nicolargo commented on #1319
What is your need ? Do you want Glances to export GPU stats ?

[2018-09-13 01:43] monchin commented on #1319
@nicolargo  Thank you for your reply!
Yes, I found that when I run '$ glances --export csv --export-csv-file /tmp/glances.csv', there was no gpu information in .csv, and I found the reason is func 'plugins_to_export' in class GlancesExport in glances_export.py, so I wrote a class inherited from glances_csv.Export and rewrite the func 'plugins_to_export', but now I don't know how to run it just lik

[2018-09-13 05:14] nicolargo commented on #1319
Glances is not intendead to be a lib. To respond to your request i just push a patch on the develop branch ro enable GPU stats export.

Can you test it ?

[2018-09-13 13:05] nemchik opened #1320 "Docker image for ARM architecture"
#### Description

For an enhancement or new feature: it would be cool if there were a docker image for ARM, or if your existing image were multi-arch like portainer.

[2018-09-13 13:43] kramer65 commented on #1308
Yes, that works! Thanks!

I do get an empty Grafana dashboard though (see screenshot below) even though I do have output in the Glances terminal output (see second screenshot). Any idea what could still be wrong here? Any tips on where to start debugging this would be welcome as well.

![emptygrafana](https://user-images.githubusercontent.com/596581/45492057-9bea3000-b76b-11e8-93cf-4ff97dea231a.pn

[2018-09-13 15:36] piotrp88 commented on #1299
I can confirm that version 3.0.1 solves the bug.

[2018-09-15 16:27] ondrejchmelar commented on #1282
Did not work for me. The only fix was to change the encoding to `utf-8` in `/usr/lib/python3.6/wsgiref/headers.py:142` :/

[code]

[2018-09-16 07:32] nicolargo commented on #1320
Two new Dockerfiles added to the DEVELOP branch:

* [One based on Alpine](https://github.com/nicolargo/glances/blob/develop/docker-files/devel-alpine/Dockerfile)
* [One based on Alpine ARM](https://github.com/nicolargo/glances/tree/develop/docker-files/devel-arm)

The first one build ok on my computer but not on Docker Hub.
No idea for the second one. Do not have any ARM device to test it.

[2018-09-16 07:35] nicolargo commented on #1316
hide=/dev/loop*

[2018-09-16 07:35] #1316 closed

[2018-09-16 07:35] #1315 closed

[2018-09-16 07:35] #1317 closed

[2018-09-18 09:22] IchSchreiGleich opened #1321 "Sorting by process time works not as expected"
#### Description

Sorting by process time not sorting in expected order

![2018-09-18_112021](https://user-images.githubusercontent.com/5748547/45677607-dde0f080-bb34-11e8-9532-a87de494a144.png)

#### Versions

* Glances v3.1.0_beta with psutil v5.4.7
* FreeBSD 11.2-RELEASE-p2

#### Logs

Debug log offers no forther informations

[2018-09-18 16:53] onionwyl commented on #1282
How could i solve this problem on windows10?
Log here
`C:\Users\WYL>python.exe -m glances
Glances Web User Interface started on http://0.0.0.0:61209/
Traceback (most recent call last):
  File "C:\Anaconda3\lib\wsgiref\handlers.py", line 138, in run
    self.finish_response()
  File "C:\Anaconda3\lib\wsgiref\handlers.py", line 180, in finish_response
    self.write(data)
  File "C:\Anaconda3\lib\ws

[2018-09-18 20:19] nicolargo commented on #1321
It looks like a PsUtil issue:

[code]

It should be False. Only the user CPU time is take into account, not the system...

[2018-09-19 06:04] notFloran commented on #1276
@nicolargo I started to look at it but I cannot display my containers with develop, no problems with master. Any idea ?

[2018-09-19 06:30] nicolargo commented on #1276
Nope... Working fine for both master and dev branch.

Ubuntu 18.04 and Docker 17.05.0-ce

[2018-09-21 09:07] Burekas opened #1322 "Glances shows memory and used space in kilobytes while running in web server mode (in Safari)"
#### Description

Glances shows memory and used space in kilobytes while running in web server mode

#### Versions

* Glances & psutil (glances -V): Glances v3.0.1 with psutil v5.4.7
* Operating System (lsb_release -a): Ubuntu 18.04.1 LTS

<img width="372" alt="screen shot 2018-09-21 at 12 00 00 pm" src="https://user-images.githubusercontent.com/2567471/45871618-98bbf900-bd96-11e8-8ceb-a00f4764311

[2018-09-21 11:56] joker999 commented on #1322
Yes I got that too.
On Fri, 21 Sep 2018 at 9:07 PM, Illya <notifications@github.com> wrote:

[2018-09-21 11:59] nicolargo commented on #1322
@notFloran Can you have a look ?

[2018-09-21 16:31] notFloran commented on #1322
@joker999 @Burekas can you copy/paste the result of http://0.0.0.0:61208/api/3/mem or http://0.0.0.0:61208/api/3/fs ?

[2018-09-21 16:50] notFloran commented on #1276
@nicolargo I resolve my issue with https://github.com/docker/docker-py/issues/1796

[2018-09-21 18:06] Burekas commented on #1322
MEM:

FS:

[2018-09-22 08:07] joker999 commented on #1322
MEM:

FS:

[2018-09-22 15:41] atriwidada commented on #1315
not sure if this is the same error, but still happened on 3.1.0 beta:
called with params:  glances --disable-plugin amps,alert
also error if called without params.

Glances v3.1.0_beta with psutil v5.4.7

Traceback (most recent call last):
  File "/usr/local/bin/glances", line 11, in <module>
    load_entry_point('Glances==3.1.0b0', 'console_scripts', 'glances')()
  File "/usr/local/lib/python3.6/

[2018-09-23 09:08] notFloran commented on #1322
@joker999 @Burekas which browser did you use?

[2018-09-23 09:13] joker999 commented on #1322
first, on my ios12 iPhone 7 Plus (safari), I paste these code from my
chrome browsers Version 70.0.3538.22 (Official Build) beta (64-bit)  seem
fine on it. Just iPhone problem I guess.

On Sun, Sep 23, 2018 at 9:08 PM Floran Brutel <notifications@github.com>
wrote:

[2018-09-23 09:16] notFloran commented on #1322
Thanks, I can now reproduce the problem with safari (mac and ios)

[2018-09-23 15:31] nicolargo commented on #1322
@Burekas @joker999 Can you please test the DEVELOP branch and tell us if the problem is solved ?

Thnaks !

[2018-09-23 15:34] #1314 closed

[2018-09-23 15:38] nicolargo commented on #1308
@kramer65 Please read https://www.tecmint.com/install-glances-influxdb-grafana-to-monitor-centos-7/

[2018-09-24 17:46] chetankabra opened #1326 "Glances IO Errorno 22 - Invalid argument"
#### Description

I am running glances as a service using systemd on "Red Hat Enterprise Linux Server 7.5 (Maipo)" OS .
using Below command
.env/bin/python .env/bin/glances --quiet --export influxdb -C glances.conf

For an enhancement or new feature: Describe your needs.

#### Versions

* Glances & psutil (glances -V): Glances v3.0.1 with psutil v5.4.7
* Operating System (lsb_release -a): Red Hat

[2018-09-25 03:01] SirTerrific commented on #1320
I saw on the hub that the image ARM was on error. I build one with alpine:3.8 and it seems to work well

#
# Glances Dockerfile for ARM (based on Alpine ARM)
#
# https://github.com/nicolargo/glances
#

# Pull base image.
FROM alpine:3.8

# Install Glances (develop branch)
RUN apk add python py2-psutil py2-bottle
RUN apk add git
RUN git clone -b develop https://github.com/nicolargo/glances.git

# D

[2018-09-27 04:28] Snuggle opened #1327 "Glances crashess due to Python ValueError"
#### Description

Glances seemed to crash when I booted by system just now, this is the first time it has happened it seems to be working just fine now. I don't think I'll be able to reproduce (I'll tell you if I encounter this again!), but there might be a glaringly obvious logic issue that could be fixed.

![image](https://user-images.githubusercontent.com/26250962/46123259-4c990a80-c215-11e8-97

[2018-09-30 18:57] Snuggle commented on #1327
My apologies, thank you!

[2018-10-01 04:30] cricket007 commented on #1320
Added PR for this @nicolargo . I decided to build from `python:2.7-alpine` rather than `apk add python` manually.

[2018-10-01 06:36] #1320 closed

[2018-10-01 10:25] kirk86 opened #1329 "gpu order swapped"
Hi, thank you for making glances.
I was wondering if anyone could let me know why I get this weird result when using glances.
The problem that I'm facing is the following. I am running linux on my system and I have 2 gpus. The order of the gpus in glances is swapped. The reason that I know this is if we play with the `CUDA_VISIBLE_DEVICES` we can easily figure out which is gpu=0 and which is gpu=1

[2018-10-02 21:56] kirk86 commented on #1329
@nicolargo  exactly that!

![image](https://user-images.githubusercontent.com/2902390/46378939-c5bcb580-c68c-11e8-980b-3476f6233672.png)

On a closer look, I believe this might not have to do directly with glances but also with the nivdia monitoring devices software
`nvidia-smi`
![image](https://user-images.githubusercontent.com/2902390/46379052-2d730080-c68d-11e8-9896-76ee47f71a5f.png)

And here'

[2018-10-03 17:03] ATLief opened #1330 "RuntimeWarning: ignoring OSError(22, 'Invalid argument') warnings.warn("ignoring %r" % err, RuntimeWarning)"
Every time I open glances, the following message is printed before the main interface appears:
`/usr/lib/python3/dist-packages/psutil/_pslinux.py:1191: RuntimeWarning: ignoring OSError(22, 'Invalid argument') warnings.warn("ignoring %r" % err, RuntimeWarning)`

Everything else works, it's just annoying.

#### Versions

* Glances & psutil: Glances v2.11.1 with psutil v5.4.2
* Operating System: Ubun

[2018-10-03 17:17] chetankabra commented on #1326
Hello Nicolargo,

I am now receiving below error with the same setup.

proc.info = proc.as_dict(attrs=attrs, ad_value=ad_value)
File "/var/data/monitoring-ui/.env/lib/python2.7/site-packages/psutil/__init__.py", line 526, in as_dict
ret = meth()
File "/var/data/monitoring-ui/.env/lib/python2.7/site-packages/psutil/__init__.py", line 750, in io_counters
return self._proc.io_counters()
File "/var/da

[2018-10-05 07:35] Burekas commented on #1322
@nicolargo , it's fixed in develop. Thank you.

[2018-10-10 18:18] chetankabra opened #1331 "ValueError: need more than 1 value to unpack"
Description
I am running glances as a service using systemd on "Red Hat Enterprise Linux Server 7.5 (Maipo)" OS .
using Below command
.env/bin/python .env/bin/glances --quiet --export influxdb -C glances.conf

For an enhancement or new feature: Describe your needs.

Versions
Glances & psutil (glances -V): Glances v3.0.2 with psutil v5.4.7
Operating System (lsb_release -a): Red Hat Enterprise Linux

[2018-10-11 14:31] ccollinscj opened #1332 "Window 10 doesn't report cpu_temp"
Window 10 doesn't report cpu_temp,  run the latest version of Python and Glances.

[2018-10-13 14:18] nicolargo commented on #1330
Duplicated: https://github.com/nicolargo/glances/issues/1203

A patch is already available here: https://github.com/nicolargo/glances/commit/49fafb6db4d267d5484e32cfbeb65ec6d74c6d1a

It will be release in the next release.

[2018-10-13 14:18] #1330 closed

[2018-10-13 14:35] nicolargo commented on #1332
Glances 3.0 and higher uses the PsUtil lib to grab system temperatures values.

Unfortunately, and for the moment, the PsUtil sensor methods are only available on Linux and Mac OS (read this: https://github.com/giampaolo/psutil/issues/371).

[2018-10-13 14:35] #1332 closed

[2018-10-13 14:35] #1322 closed

[2018-10-14 16:21] p5a0u9l opened #1333 "gpu plugin not exported to influxdb"
#### Description

found problem, duplicate entry of `uptime` - not fixed on develop, so will fix and push a PR.

[2018-10-14 16:31] p5a0u9l commented on #1333
ok, well. unable to push my branch. So, may be easier for you to fix, or you can advise on pushing a new branch?

Here is output from `git diff`
[code]

[2018-10-14 16:35] p5a0u9l commented on #1333
I tested by restarting glances and verifying that the gpu plugin was now seen inside influx.

[2018-10-14 19:11] nicolargo commented on #1333
@p5a0u9l Thanks ! Just commit it on the develop branch.

[2018-10-14 19:11] #1333 closed

[2018-10-15 13:09] giampaolo commented on #1331
Can you put a `print(line)` statement before the culprit line in `psutil/_pslinux.py`?

[2018-10-16 19:20] giampaolo commented on #1331
Alternatively also `cat /proc/self/io` is fine.

[2018-10-17 12:48] rgarrigue opened #1334 "Add a docker-compose example"
Hi

Maybe you should add a docker-compose example running glances, either a file or in the doc, to get started straight away ?

Here's an example with traefik as a reverse proxy, a simple whoami, both of them to make it more realistic, and finaly glances.

[code]

And thanks a lot for glances, I've been using it for ages now, one of my best tools

[2018-10-17 12:55] giampaolo commented on #1331
That looks fine so probably the problem occurs for a specific PID only. Can you identify the PID and do `cat /proc/{PID}/io`?

[2018-10-17 18:30] jrmain opened #1335 "Crash after running fine for several hours"
#### Description

Since upgrading to Glances v3.0.2 with psutil v5.4.7, it crashes after running for a while, usually several hours but sometimes less. There doesn't seem to be any pattern. When it crashes, some text is displayed in the terminal, but it's formatted weirdly. There's still a functional bash prompt, but typed text does not appear on the screen. The only way to fix the problem is to e

[2018-10-17 19:28] nicolargo commented on #1335
Should be corrected in the latest commit.

Can you test the DEVELOP branch ?

Thanks for your report !

[2018-10-17 19:46] nicolargo commented on #1334
I discover Traefik with your message. Nice peace of code.

Can you propose a pull request on the DEVELOP branch with this example (or others) in the documentations (/docs).

Thanks !

[2018-10-18 04:40] jrmain commented on #1335
I installed the DEVELOP branch and am running it now. I'll let you know what happens. I used these instructions: https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version

[2018-10-18 10:55] travnewmatic commented on #873
Salutations!

I've managed to edit my /etc/sudoers.d/zfs to allow `sudo zpool status` without requiring a password, but I'm still not sure how to verify that glances is able to do what it needs.

Should I see a thing saying my pool is OK if there's nothing wrong?  Or will I see a thing only if something is wrong?  I have set `allow=zfs` in my /etc/glances/glances.conf

Thanks for such an awesome p

[2018-10-18 13:14] jrmain commented on #1335
I left the DEVELOP version running all night and it didn't crash. Problem seems to be fixed in that version. I did notice that it causes a series of apport.log entries every few seconds (an unrelated issue presumably):
[code]

[2018-10-18 18:48] chetankabra commented on #1331
Hi @giampaolo ,

I have edited psutil/_pslinux.py to see the results: PFA
proc.info = proc.as_dict(attrs=attrs, ad_value=ad_value)
File "/var/data/monitoring-ui/.env/lib/python2.7/site-packages/psutil/__init__.py", line 526, in as_dict
ret = meth()
File "/var/data/monitoring-ui/.env/lib/python2.7/site-packages/psutil/__init__.py", line 750, in io_counters
return self._proc.io_counters()
File "/var

[2018-10-19 10:25] johndrinkwater opened #1337 "Timezone listed doesn’t match system timezone, outputs wrong time"
#### Description

In the bottom left of a default glances install, it will output the current date, time, and timezone

Which appears as `2018-10-19 11:02:56 GMT`

However the current time is **11:02:56 BST**, which is _10:02:56 GMT_

[code]

#### Versions

* Glances & psutil (glances -V): Glances v3.0.2 with psutil v5.4.7
* Operating System (lsb_release -a): Ubuntu 15.10

Having quickly glanced o

[2018-10-19 11:13] giampaolo commented on #1331
Please add this:

[code]

(I want to see the content of the file)

[2018-10-19 17:01] chetankabra commented on #1331
Hi Giampaolo,

Contents of the files:

ValueError: ['rchar: 120', 'wchar: 1153', 'syscr: 9', 'syscw: 17', 'read_bytes: 0', 'write_bytes: 0', 'cancelled_write_bytes: 0', ' 0']

[2018-10-19 19:50] giampaolo commented on #1331
OK, I should have fixed this in https://github.com/giampaolo/psutil/commit/7300bd48b4ea6fd98309cc9da569d6015b1ac24a. If you want to confirm you can install latest psutil version from GIT/master but I think it's good.

[2018-10-20 08:37] nicolargo commented on #1337
Corrected in latest commit.

Thanks for the report !

[2018-10-20 08:37] #1337 closed

[2018-10-20 08:39] nicolargo commented on #1335
Ok thanks, the others errors are not related to Glances.

[2018-10-20 08:39] #1335 closed

[2018-10-20 08:48] nicolargo commented on #1334
Done

[2018-10-20 08:48] #1334 closed

[2018-10-20 08:52] nicolargo commented on #1311
Confirmed here: https://github.com/docker/docker.github.io/issues/5624

Docker in swarm mode is not compatible with --pid option...

[2018-10-20 08:52] #1311 closed

[2018-10-20 08:53] #1308 closed

[2018-10-20 08:54] #1295 closed

[2018-10-20 13:05] jrmain commented on #1335
That's weird. When I stopped the DEVELOP version of glances, these errors also stopped.

[2018-10-20 13:45] jrmain commented on #1335
Are you sure the DEVELOP version of Glances isn't trying to run sysinfo?

[2018-10-21 14:00] johndrinkwater commented on #1337
Hey, sorry for the feedback, but I don’t think this is robust enough as tzname will always be 2 items for my country whether in daylight time or not.

Had a quick poke in python interactive, and there are two easier solutions with strftime producing the output,

Either using `tzlocal` module to fetch local TZ & inject into the naive datetime variable:
[code]

or using just `time` to resolve this,

[2018-10-22 16:02] joe307bad opened #1339 "Columns aligned incorrectly"
#### Description

The processes and file system columns are aligned incorrectly, making the interface very difficult to read.

#### Versions

* Glances & psutil (glances -V): Glances v3.0.2, psutil v5.4.7
* Operating System (lsb_release -a): Ubuntu 18.04 64bit / Linux 4.14.73-rancher

#### Logs

![image](https://user-images.githubusercontent.com/1916208/47303405-cee8d480-d5f1-11e8-9ebc-ec358c1cf50

[2018-10-23 10:29] batchris opened #1340 "error type host : AWS EC2 on VM public OVH ;("
Hi,

when use Glances over VM (public cloud ovh)
the type of host is AWS EC2 ... WHOUA !
OVH reseal AWS EC2 ?!? joke ;)

the host type after is good.

"AWS EC2 hg-30-ssd-flex instance i-00b18f3e (nova)"
see screen

![glances_bug_vm_ovh_screenshot from 2018-10-23 11-24-46_bis](https://user-images.githubusercontent.com/926352/47350980-58160f00-d6b7-11e8-8a41-079401720624.png)

alors que
[code]

####

[2018-10-23 14:33] batchris commented on #1340
idem pour la version 3.x de glances

[code]

[2018-10-25 00:36] joe307bad commented on #1339
I was using the latest version of RancherOS (1.4.2) and rolled back to version 1.3.0 and everything seems to be aligned correctly now. (Ubuntu 16.04 64bit / Linux 4.9.80-rancher)

[2018-10-26 17:07] vielmetti commented on #1304
For reference, we have systems with 224 hardware threads (Cavium ThunderX2, arm64). The htop style just works here if you have a big screen and a teeny tiny font. It is definitely needed though; the arm64 server systems generally have lots of cores (up to 32 on Ampere, 48 on Qualcomm, 96 on ThunderX and 256 on ThunderX2).

[2018-10-27 00:09] LrrrAc opened #1341 "Glances CPU usage grows over time"
I use the docker version of glances and love it, but the CPU usage grows over time. I need to restart the containers which then lowers the usage. I have recreated the container to no avail. No other containers do this. This is on Ubuntu 18.04 and the latest docker image of glances. I can upload pictures of the usage, but it just slowly increases until I restart it so it seems unnecessary. Any help

[2018-10-27 09:00] tim77 commented on #1225
Web server mode not working on Fedora 29. Already installed `python2-bottle` and `python3-bottle`.

[2018-10-28 09:12] sachk opened #1342 "Static binary"
Hello, I'm just wondering if there's a way to compile a fully static binary for glances. It'd be useful in some edge cases.

[2018-10-28 11:00] hasge opened #1343 "Error with local server"
#### Description

I have Glances v3.0.2 with psutil v5.4.7  on a Linux Mint 19 Tara and  I have I tried to open glances on browser after I opened it in server mode but I received this error:
[code]
I attached a screenshot below:

#### Logs
![screenshot from 2018-10-28 12-53-16](https://user-images.githubusercontent.com/12661929/47614942-9ee97780-dab0-11e8-92d8-60db9de144e1.png)

[2018-10-28 11:11] hasge commented on #1343
Sorry, I read the manual page and I opened it again but with ```-w```. First time , Bottle module wasn't installed, but after i installed this module,  it works.

[2018-10-28 11:11] #1343 closed

[2018-11-01 08:00] nicolargo commented on #1340
C'est étrange... Cela veut dire qu'OVH a implémenté la même API de meta-donnée que AWS ? Pourtant je ne trouve pas trace de la requête /latest/meta-data dans la doc de l'API OVH: https://eu.api.ovh.com/console/#/

[2018-11-01 08:05] nicolargo commented on #1341
In the past i have some issues (resolved) with the RAM consumption but never with the CPU. I will make a long perf test on my side.

[2018-11-01 08:18] nicolargo commented on #1342
You can have a look on https://github.com/nicolargo/glancesautopkg
There is a target for a full self contain sh.
Never tested it...

[2018-11-01 08:19] nicolargo commented on #1342
If you find a way to do it, please feel free to contribute through a [Wiki page](https://github.com/nicolargo/glances/wiki).

[2018-11-01 08:59] sachk commented on #1342
Isn't that just an installer that still requires root access and is split among multiple dependencies when installed?

[2018-11-01 09:06] stephengmatthews opened #1344 "FileNotFoundError (/system/etc/mtab) on Android (termux)"
I installed glances according to the README on Android (7) under termux. When I run glances, it returns:
[code]

Is there any other information I can provide?

[2018-11-01 10:43] hurrtz opened #1345 "Enhancement: CPU clock rates"
#### Description

I have Manjaro running on a Thinkpad with 6 cpu cores and occasionally they are running quite hot. When I happen to reboot the system I can see, for a few seconds, some messages on my logout screen:
"Temperature too high, CPU throttled" (praphrased)

It would be cool, if glances were able to tell me about max clocking and current clocking of each core. Would this be possible to d

[2018-11-02 08:28] nicolargo commented on #1341
Here is my result after a 24 hours test:

![glances-cpu](https://user-images.githubusercontent.com/776747/47901815-3b30c700-de81-11e8-9f01-058f3ff74a1d.png)

CPU consumption increases from (+2%) and the RAM from 3 to 17 MB.
I can explain the RAM (Glances stores stats: Default is 28800: 1 day with 1 point every 3 seconds). And it can also explains the +2% for the CPU.

Do you have the same behavior

[2018-11-02 08:30] nicolargo commented on #1344
Can you try to disable the fs plugin:

[code]

[2018-11-02 08:39] nicolargo commented on #1345
The information is already available but not per Core...

![selection_006](https://user-images.githubusercontent.com/776747/47902559-93b49400-de82-11e8-81c2-8f581fe8d1f7.jpg)

In this screenshot, the CPU is overclocked to 2.27 Ghz (Turbo mode). The default CPU rate is 1.8 Ghz.

Glances uses the cpuinfo Python lib to grab this information.

Be sure this lib is installed on your system.

[code]

[2018-11-02 08:46] nicolargo commented on #1342
You can try to use https://pyinstaller.readthedocs.io/en/stable/usage.html

Never tested, keep us inform if you find a way to do it.

[2018-11-02 09:58] stephengmatthews commented on #1344
Thanks for your help. I tried it and got this response.

[code]

On Fri, 2 Nov 2018, 08:31 Nicolas Hennion, <notifications@github.com> wrote:

[2018-11-02 11:34] LrrrAc commented on #1341
Here is a graph from the past six hours. Its been running uninterrupted for well over that. ![capture](https://user-images.githubusercontent.com/27321984/47913067-b639b380-de68-11e8-9866-bda39b6ad475.PNG)
The percentage I believe is per core, so the 100% is only 25%, so it doesnt increase all that much anymore, it was much more drastic about a month or so ago, but it still increases quite a bit mo

[2018-11-02 11:38] LrrrAc commented on #1341
![capture](https://user-images.githubusercontent.com/27321984/47913361-d28a2000-de69-11e8-84eb-df6e1b44ca21.PNG)
Here is an older, more drastic increase, including a restart on my part.

[2018-11-02 19:26] dvelez73 commented on #1060
I installed the latest Glances with PSUtil: Glances v3.0.2 with psutil v5.4.8 and still can see 2 sensors but not all of them.
![glancessensors](https://user-images.githubusercontent.com/44710849/47936298-a09dab80-deb3-11e8-85ed-9c84c81564e2.png)
 I

[2018-11-03 16:10] Hotfirenet opened #1346 "Problem installation OVH Vps"
I can't install glances , have you got an idea ?

[code]

Thanks

[2018-11-03 17:02] batchris commented on #1340
Je ne suis sûr de rien ...

ce que je suis sur, c'est que OVH pour son public cloud utilise openStack pour le "compute"
qui implémente le meme genre de service metadata

https://docs.openstack.org/nova/latest/user/metadata-service.html

A suivre ...

[2018-11-03 17:08] nicolargo commented on #1340
Haha... les couccinous d'Amazon qui font passer leur API comme maison alors que c'est juste celle d'OpenStack...

Tu peux me donner le résultat de la commande suivante sur ta machine ?

[code]

[2018-11-03 17:11] nicolargo commented on #1346
What is your Python version ?

[code]

Glances 3.0 and higher is only compatible with Python 2.7...

If you want to use Glances with Python 2.6, try Glances 2.6.2 (latest Glances version with Python 2.6 support).

[2018-11-03 17:13] nicolargo commented on #1344
Strange...

@giampaolo Any idea ? Did you test PsUtil with the latest Android version ?

[2018-11-03 17:15] batchris commented on #1340
[code]

ps/ veux tu une vm en pret/test ? envoi moi clef ssh public si tu veux

[2018-11-03 17:17] nicolargo commented on #1340
Here it is:

[code]

[2018-11-03 17:44] giampaolo commented on #1344
Does `/etc/mtab` exist? It's weird it looks for `/system/etc/mtab`.

As for this one, psutil should probably avoid to expose `Process.io_counters()` methods in case this is not available. I'll file a ticket.

[2018-11-03 17:48] batchris commented on #1340
le mail vient de partir ;)

[2018-11-03 17:53] nicolargo commented on #1340
J'obtiens ca:

[code]

[2018-11-03 17:59] batchris commented on #1340
a l'air pas mal ;)

[2018-11-03 18:00] batchris commented on #1340
le post initiale

j'avais obtenu sur un autre type de machine

[code]

[2018-11-03 18:10] nicolargo commented on #1340
![selection_007](https://user-images.githubusercontent.com/776747/47955709-29901200-df9c-11e8-928c-517463b5190f.jpg)

[2018-11-03 18:11] nicolargo commented on #1340
J'ai fait la modification sur la branche DEVELOP.

[2018-11-03 18:11] batchris commented on #1340
Magnifique !

[2018-11-03 18:12] batchris commented on #1340
merci ton outil est tellement bien ! bravo !

[2018-11-03 18:13] nicolargo commented on #1340
C'est surtout grâce aux utilisateurs qui me pousse à encore le faire évoluer !

N'hésite pas si tu as d'autres remarques.

Encore merci pour la VM. Tu peux enlever ma clé SSH ;)

[2018-11-03 18:13] #1340 closed

[2018-11-04 12:30] stephengmatthews commented on #1344
```/etc/mtab``` does not exist.

On Sat, 3 Nov 2018, 17:45 giampaolo, <notifications@github.com> wrote:

[2018-11-04 14:41] Hotfirenet commented on #1346
Bonjour Nicolargo,
merci de prendre le temps de me répondre.
[code]
en faite j'ai utilisé basiquement initialement la commande
`
curl -L https://bit.ly/glances | /bin/bash
`

[2018-11-05 18:40] Ustilago opened #1348 "KeyError: 'eth0' when interface is not connected"
Hi,

When my eth0 interface is not connected (i'm using a laptop, some times on eth0, some times on wlan2), glances is crashing :
Traceback (most recent call last):
                                    File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
                                                                                                            "__main__", fname, loa

[2018-11-06 07:42] Hotfirenet commented on #1346
Une idée ?

[2018-11-06 08:04] nicolargo commented on #1346
pip install setuptools

[2018-11-06 12:37] Hotfirenet commented on #1346
yep impec, merci @nicolargo

[2018-11-06 12:37] #1346 closed

[2018-11-06 20:10] nicolargo commented on #1348
Corrected in the DEVELOP branch.

Can you test it ?

[2018-11-07 01:03] mendelgusmao commented on #1348
Same issue here

The patch did pretty well

[2018-11-09 07:41] neith00 opened #1349 "Is there a way to filter block devices by pattern"
On glances version v3.0.2 , Is there a way  to filter block devices by pattern?
I have dozen of block devices on the host and I want to be able to exclude some of them on display.
For example I would like to hide all loop devices such as /dev/loop* ou /dev/loop[0-9].
Any clue?

[2018-11-09 21:51] chetankabra opened #1350 "How to run glances in docker and get CPU/RAM/Process of the host machine?"
#### Description
I have used below configuration, to run glances in my docker-compose.yaml, but I am not able to get
the CPU/RAM and other details from the glances about the host machine.
glances are displaying me ram docker containers allocated ram and other details?

 glances:
    image:  nicolargo/glances
    ports:
      - "61208:61208"
    volumes:
      - /var/run/docker.sock:/var/run/docker

[2018-11-10 00:46] PaulReiber commented on #1350
This isn't an issue with glances - that's how docker is supposed to work.  The whole idea with containment is that the container is limited to only seeing the resources it's allowed to see.

The only way to get to resources "on the host machine" is to expose those resources to the container in your docker config.

[2018-11-10 14:43] nicolargo commented on #1349
Yes, it is poissible using the Glances configuration file.

Read this: https://glances.readthedocs.io/en/stable/aoa/disk.html

[2018-11-10 14:43] #1349 closed

[2018-11-10 14:46] #1348 closed

[2018-11-10 14:47] nicolargo commented on #1331
Thanks to both of you !

[2018-11-10 14:47] #1331 closed

[2018-11-10 14:51] nicolargo commented on #1345
@hurrtz Can i close the issue ?

[2018-11-10 14:52] #1342 closed

[2018-11-10 14:54] nicolargo commented on #1341
@LrrrAc Have you try to reduce the history_size in the Glances.conf file ?

[2018-11-10 15:06] nicolargo commented on #1291
Did you try with Glances 3 ?

[2018-11-10 15:06] #1215 closed

[2018-11-10 17:16] LrrrAc commented on #1341
How would I go about doing that?

[2018-11-11 15:11] nicolargo commented on #1321
Corrected in the latest commit.

@IchSchreiGleich Please can you check on the DEVELOP branch ?

[2018-11-11 15:12] #1276 closed

[2018-11-11 15:18] nicolargo commented on #1344
I close this issue.

Please track the PsUtil issue here: https://github.com/giampaolo/psutil/issues/1357

[2018-11-11 15:18] #1344 closed

[2018-11-13 12:35] jack10bells commented on #1157
Hi, I´ve got an issue but don´t know if it is about W2012 or something else. I need actions to be executed as the server starts up without a web client connect to it.
How can I do that?

[2018-11-14 22:11] jack10bells opened #1351 "ERROR -- Can not grab extended stats (invalid attr name 'num_fds')"
I've just installed Glances on Windows 2012R2 64bits server and found out this messaje in the log file.
Before that I tested on a Windows 10 Home laptop and works fine.

I point out that in the Windows server Glances was started in Web Server mode (glances -w) because in client/server mode didn't worked as stated in https://github.com/nicolargo/glances/issues/1157. In Windows 10 it was run in Stan

[2018-11-15 18:12] reikdas opened #1352 "Unable to see Sensors"
I am unable to see the sensors subheading.

I installed it using pip.
OS - Ubuntu 18.04

Screenshot - https://imgur.com/a/NMCkZz2

[2018-11-18 19:37] nicolargo commented on #1351
Please fill the issue with the following information:

* Glances & psutil (glances -V): ?
* Operating System (lsb_release -a): ?

[2018-11-18 20:03] jack10bells commented on #1351
Glances v3.0.2 with psutil v5.4.8
OS: Windows Server 2012 R2 Standard 64 bits

[2018-11-19 03:10] reikdas commented on #1352
Thanks!
Also, just moving the conf template to the appropriate directory worked because it had hide=loop.* enabled.

[2018-11-19 03:10] #1352 closed

[2018-11-19 13:15] jcaude commented on #1341
Same issue for me, I will check if the memory size also increases.

[2018-11-19 13:31] jack10bells commented on #1351
Hi Nicole, I will test it in a while and let you know about the results. On the other hand, I know that is out of this thread but I couldn't find the way to make actions work without client connection (as Standalone or Web Server modes). I need the server to be monitored without a client connection. Is that possible?
Thanks in advance

[2018-11-19 20:15] jack10bells commented on #1351
Nico, in Develop branch works just fine!!
Thanks a lot

[2018-11-19 20:15] #1351 closed

[2018-11-20 03:24] NatoBoram opened #1353 "Update the Snap package"
#### Description

I have installed the snap package of Glances using the workaround at #1310 and it works beautifully, except it recently started to nag me about updating it. However, there are no updates available for me.

[code]

#### Versions

* Glances v2.11.1 with psutil v5.4.2

[code]

#### Logs

[code]

[2018-11-21 22:23] gseluja opened #1354 "client"

[2018-11-21 22:24] #1354 closed, assigned to nobody

[2018-11-21 22:40] jack10bells opened #1355 "Trigger actions without a client connection on Windows"
Is it possible to monitor system without a client connection, no matter Standalone, Client/Server or WebServer mode?
I need to monitor servers without a client to connect to them and make them trigger actions according certain threshold, but don't need an operator to be connected to the servers.
Is it there any parameter or something to do that? I've tried --quite and nothing happens.
OS: Windows

[2018-11-24 07:21] scurrvy2020 opened #1356 "unable to see diskio"
I'm not able to view the diskio section of glances.  I have tried the latest version (3.0.2) and an older version (2.11) and I still have the issue.  I have the same issue with multiple computers.
I've pressed 'd' after loading and it still does not show me diskio.

I've checked journalctl for errors and there are no errors present.

I'd be grateful for any help.

[2018-11-24 10:47] nicolargo commented on #1353
As a workarround, you can disable the check using the --disable-check-update option on the command line.

Nevertheless, "snapping" of the Glances 3.x should be done. Any contributors are welcome.

[2018-11-24 10:50] nicolargo commented on #1355
Never tested it on Windows. Did you try to run Glances in server mode (-s) ?

The Glances' actions did not need any operator. Just ran Glances and all the trigger configured in the Glances configuration file will be done: https://glances.readthedocs.io/en/stable/aoa/actions.html

[2018-11-24 10:51] nicolargo commented on #1356
Any log message in the Glances log file  (/tmp/glances-*.log) ?

Do you have a screenshot ?

[2018-11-24 14:13] nicolargo commented on #1341
@jcaude As already said, increase of memory is a default behavor because Glances store all the stats for a couple of hours. If you have a look on yours stats, you can, it did not increase between 3h22 and 8h1.

If you want to reduce the memory footprint, change the history_size option in the Glances.conf file

[2018-11-24 14:15] nicolargo commented on #1341
@LrrrAc Edit your glances configuration file (https://glances.readthedocs.io/en/stable/config.html) and change the following line:

[code]

to

[code]

[2018-11-24 14:46] jcaude commented on #1341
Thanks and I will set the configuration file accordingly. Still, that doesn’t explain why the cpu usage increase to such extent.

[2018-11-26 16:35] LrrrAc commented on #1341
I have a configuration file, but it was made myself and didn't have a history size option. I added it in, but it hasn't affected anything. The other settings I've used all work. It sends data to influxdb as normal.

[2018-11-27 02:16] recteurlp commented on #1356
I got the same issue

Thanks for the log file path 😋

I thought my RAID was preventing the plugin from loading:

[code]

So after ```pip install pymdstat nvidia-ml-py3 py-cpuinfo wifi netifaces``` i got a new "RAID disks" section but still no Disk I/O with no error in log.

I'am on Fedora 29 with Python 3, i've tried the docker image as well with no luck.

[2018-11-27 03:36] balayanr commented on #1309
Same error happening on a fresh install (v2.11.1 with psutil v5.4.2, Ubuntu 18.04).

`Exception in thread Thread-17:
Traceback (most recent call last):
  File "/usr/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.6/threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/lib/python3/dist-packages/glances/exports/g

[2018-11-27 04:01] scurrvy2020 commented on #1356
My logs also do not have any errors.

[2018-11-27 04:04] scurrvy2020 commented on #1356
screen clip:
![image](https://user-images.githubusercontent.com/20618759/49057870-7d5ce680-f23c-11e8-9bed-069405ec2ca8.png)

[2018-11-27 16:58] MrAdam commented on #1135
If you want to use it as part of your docker-compose.yml, you can do the following so it's pulled directly from the repository and compiled on your ARM-machine, ensuring it works on your platform:
[code]

[2018-11-28 18:58] stenwt opened #1358 "Action on port/web and folders plugins is not working"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

Documentation for port + web checks do not list the syntax for running an action when a check fails. I've tried several permutations (web_N_status_critical_action, web_N_critical_a

[2018-11-28 21:04] nicolargo commented on #1358
Hi @stenwt ,

for the moment, it is not possible to run action with the port/web plugins. There is an issue on the plugin. I will have a look as soon as possible.

Thanks for the issue report.

Nicolas

[2018-11-28 23:42] jack10bells commented on #1355
Not working on Windows 2012R2 nor server mode
On the other hand, same config file on Windows 10 as Standalone or Webserver mode refreshes Glances every 8 seconds but on Windows 2012R2 Server it works every 15 minutes!!! No parameters for time refreshing used in the command line nor the URL. Where other place do I have to look for?

[2018-11-29 22:11] LrrrAc commented on #1341
Just figured it out. Replaced the config file I made with the one on the github page and modified the history size and so far at 24 hour it doesnt seem to be increasing at all. Thanks for all the help!

[2018-11-30 12:34] tcpaul opened #1359 "when does it come to iOS? do you want a dev to make an iOS app?"
Hi I see there is an android version of this, im wondering if there is an iOS version, if not I could start working on that kthx

[2018-11-30 23:31] jack10bells commented on #1355
I can't trigger actions on folders. Is there a differente way to do that?
In my conf file:

folder_1_path=c:\my_folder
folder_1_careful=2
folder_1_warning=3
folder_1_warning_action = python %%APPDATA%%\glances\nbk_monitor_stats.py "folders" {{size}} "warning"
folder_1_critical=4

nbk_monitor_stats.py is my Python script that receives 3 parameters
I running this on a Windows Server 2012R2

[2018-12-02 20:13] nicolargo commented on #1359
Yes, it will be nice but i think that PsUtil (the main lib used to grab system stats) is not available on IOS smarthphone...

[2018-12-02 20:16] nicolargo commented on #1356
Please can you run Glances in debug mode (-d) and paste/bin us the log file ?

[2018-12-02 20:17] nicolargo commented on #1355
Perhaps related to https://github.com/nicolargo/glances/issues/1358

[2018-12-02 20:20] nicolargo commented on #1355
Concerning the refresh time, can you paste/bin us the Glances log file (https://glances.readthedocs.io/en/stable/config.html) ?

[2018-12-02 23:39] JohannesBuchner commented on #976
Could you please put this in the FAQ?

Q: How do I use glances on a white terminal background?
A: glances --theme-white

[2018-12-03 06:53] meepmeep22 opened #1360 "Crashes upon start"
Good Evening,

I am wondering if anyone has experienced this error before.
If anyone knows how to fix it please let me know.
I have reinstalled it and it has not repaired it, so Im assuming there is something wrong with my environment.

meepmeep22@ubuntuMax:~$ glances
^CTraceback (most recent call last):
  File "/usr/local/bin/glances", line 11, in <module>
    sys.exit(main())
  File "/usr/local/

[2018-12-03 13:01] recteurlp commented on #1356
No relevant error in debug mode the plugin return [] (empty list)

[code]

Maybe something like :

[code]

with glances_diskio.py line 73
[code]

A psutil bug ? (5.4.8)

[2018-12-03 19:17] jack10bells commented on #1355
Already uploaded. Also check if folders section is all right.
[glances.conf.txt](https://github.com/nicolargo/glances/files/2640913/glances.conf.txt)

[2018-12-03 19:46] nicolargo commented on #1356
Perhaps related https://github.com/giampaolo/psutil/issues/1354

[2018-12-03 22:05] recteurlp commented on #1356
Thanks applying the patch manually did the trick.
Definitely need a new psutil version or a beta for 4.18+ kernel.
Thank you for your time and this great tool :+1:

@scurrvy2020 What kernel version do you use ?

[2018-12-04 13:08] Memphizzz commented on #1214
@rocketraman I think I have the same issue. Can you tell me how you calculated the OK values for your system so I can adjust my glances.conf as well? I get critical IOWAIT warnings every time the system has to do almost any work.

[2018-12-04 15:01] rocketraman commented on #1214
@Memphizzz Yeah, the default values in Glances really only work for a core count less than 4 or so... the source article referenced by @nicolargo doesn't really present a good understanding of IO wait, which is really a form of idle time, not (necessarily) of slow or overloaded I/O. The blog I referenced in the OP (https://blog.pregos.info/wp-content/uploads/2010/09/iowait.txt) has a very good exp

[2018-12-04 15:42] Memphizzz commented on #1214
I have a host machine with a total of 24 cores. It has some virtual machines running which I gave 8 cores each. With 8 cores per machine, can you suggest values to try and keep adjusting? None of them do excessive HDD work. Mostly servers like teamspeak etc which work in RAM. Only one of them runs an apt-mirror which shows up in glances as a warning as soon as it starts updating. Thanks for the ar

[2018-12-04 18:41] rocketraman commented on #1214
Try different workloads and print io/wait periodically with vmstat to understand your workload (and identify issues, if any), then set your glances thresholds accordingly.

[2018-12-05 10:44] Memphizzz commented on #1214
I see, thats a good Idea. Thank you very much!

[2018-12-05 10:44] bitchecker opened #1361 "Crashes while running on CentOs 7"
#### Description

during its use it stops working randomly reporting the following error message to the console.

#### Versions

* Glances & psutil (glances -V): `Glances v2.5.1 with psutil v2.2.1`
* Operating System (lsb_release -a): `CentOS Linux release 7.5.1804 (Core)`

#### Logs
[code]

[2018-12-05 13:32] Chaz6 opened #1362 "Support for monochrome (serial) terminals e.g. vt220"
When trying to run glances on a terminal via serial (e.g. vt220) it gives the following error:-
[code]
It would be nice to fallback to monochrome. Example situations: using a terminal multiplexer, or on a vps provider that provides a virtual terminal connection.

[2018-12-07 03:09] jack10bells commented on #1355
The following configuration shows the different thresholds in the curse screen but does not run any Python script (Windows 10 Home or Windows 2012R2 Server):

folder_1_path=C:\Users\jack1\AppData\Roaming\glances
folder_1_careful=20
folder_1_careful_action_repeat = python %%APPDATA%%\glances\nbk_monitor_stats.py "folder_1" {{size}} "careful"
folder_1_warning=30
folder_1_warning_action_repeat = pyth

[2018-12-07 21:51] nicolargo commented on #1355
Corrected on the latest commit.

Please test the DEVELOP branch.

Examples for folder:

[code]

and for ports:

[code]

[2018-12-07 21:52] nicolargo commented on #1358
Corrected on the latest commit.

Please test the DEVELOP branch.

Examples for folder:

[code]

and for ports:

[code]

[2018-12-07 23:12] jack10bells commented on #1355
Hi Nico, still is not working. Updated from DEVELOP branch glances dir and subdirs, not docker-files, not docs, etc, but glances dir and subdirs only

[2018-12-08 08:43] nicolargo commented on #1355
Can you start Glances with the debug mode option (-d) and paste/bin us the Glances log file (https://glances.readthedocs.io/en/stable/config.html#logging) ?

[2018-12-08 08:44] nicolargo commented on #1360
What is you Glances version ? Please follow the template when you open an issue...

[2018-12-08 08:46] nicolargo commented on #1361
Rejected. Duplicated https://github.com/nicolargo/glances/issues/709

Please upgrade your Glances version.

[2018-12-08 08:46] #1361 closed

[2018-12-08 09:30] nicolargo commented on #1362
Hi @Chaz6

i just publish a patch on the DEVELOP branch.

I tested it with a Jagacy VT 220 terminal emulator but i am not sure that it is monochrome.

![jagacy vt - swingvt_009](https://user-images.githubusercontent.com/776747/49684426-2bd21880-fad4-11e8-80d4-677656807b81.jpg)

Can you please test this patch on your VT220 monochrome configuration ?

[2018-12-08 09:32] #1356 closed

[2018-12-08 13:21] nicolargo opened #1363 "Add a CSV output format to the STDOUT output mode"
#### Description

For the moment, the STDOUT output mode display one stats per line:

[code]

The goal of this enhancement request is to add a --stdout-csv option

[code]

[2018-12-08 14:15] jack10bells commented on #1355
[glances-jack10bells.log](https://github.com/nicolargo/glances/files/2659740/glances-jack10bells.log)
Log file uploaded

[2018-12-08 16:02] nicolargo commented on #1355
Strange... Perhaps the action script is not found. Can you make a simple test with the following configuration and check if the file c:\test.txt is created.

[code]

[2018-12-08 21:11] nicolargo commented on #1363
Done in the DEVELOP branch.

Will be release with Glances 3.1.

Example:

[code]

[2018-12-08 21:11] #1363 closed

[2018-12-09 06:18] jack10bells commented on #1355
No, the file is not created

[2018-12-09 08:07] nicolargo commented on #1355
Are you sure that the folder size is higher than 500 MB ?

[2018-12-09 08:13] nicolargo commented on #1355
In your log file i see:

[code]
The size of the folder is 2314760 Bytes ==> 2.3 MBytes.
Your warning threshold is 3 MB...

[2018-12-09 14:41] jack10bells commented on #1355
No, folder size is 2.3 MBytes, just for testing actions in folders. I stated thresholds as follows:

folder_1_path=C:\Users\jack1\AppData\Roaming\glances
folder_1_careful=2
folder_1_careful_action = echo 'TEST' > c:\test.txt
folder_1_warning=3
folder_1_critical=4

In the curse inteface it works with these sizes as I can see folders stats change of colour (green, blue, violet, red) as it changes fo

[2018-12-09 20:07] nicolargo commented on #1355
It works on my Ubuntu system with the following configuration:

[code]

Action is triggered when i put a file in the folder:

![selection_010](https://user-images.githubusercontent.com/776747/49702237-51574300-fbf6-11e8-95b3-96b07b0b4650.jpg)

And the file is created in the /tmp folder:

![selection_011](https://user-images.githubusercontent.com/776747/49702247-5b794180-fbf6-11e8-91e6-42afc7405588

[2018-12-10 14:09] jack10bells commented on #1355
I will try to investigate inside the code. Should I have to dive into the glances_folders.py only or is any other piece of code to check?

[2018-12-10 21:50] gseluja opened #1364 "RHEL 5.3 offline installation"
We need to install Glances on a RHEL 5.3 with no internet connection:

lsb_release -a
LSB Version:    :core-3.1-amd64:core-3.1-ia32:core-3.1-noarch:graphics-3.1-amd64:graphics-3.1-ia32:graphics-3.1-noarch
Distributor ID: RedHatEnterpriseServer
Description:    Red Hat Enterprise Linux Server release 5.3 (Tikanga)
Release:        5.3
Codename:       Tikanga

Is there any way to find RPM packages for

[2018-12-11 04:15] cailiang9 opened #1365 "Feature request: support path prefix so we can watch glances via url like http://ip/urlprefix/"
Feature request: support path prefix so we can watch glances via url like http://ip/urlprefix/ . it's useful for very restricted environment(some companies only allow one port on server).
I implemented by adding an outer bottle server, though it's not very elegant:
[code]

[2018-12-11 04:21] cailiang9 opened #1366 "Feature request: support windows linux subsystem"
Feature request: support windows linux subsystem
Currently glances cannot run on windows linux subsystem.
Because it reads /proc/1/io which does not exists.

[2018-12-11 16:56] RyuuzakiJulio opened #1367 "MacOS Mojave ModuleNotFoundError:"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

Installed Python, pip, home-brew, etc, psutil.
Installed glances with brew

No matter what I do I get a Module Not Found Error "pkg_resources"

#### Versions

* Glances & psutil (g

[2018-12-13 13:20] leavesbnw opened #1368 "Prohibit some plug-in data from being exported to influxdb"
When I run command:   glances --queit --disable-plugin docker  --export influxdb
I hope docker data won't be stored in influxdb。
I saw the source, and found a solution:  vim  glances/exports/glances_export.py
modify method below:
[code]

Please give some suggestions.

[2018-12-17 10:00] conformist-mw opened #1370 "Provide an information to uninstall glances properly"
There are a lot of information how to install glances, I liked it, but there is no information how to uninstall it properly. During auto installation script install many things and I want be able to remove them if I want to remove this package.

[2018-12-17 19:42] grheard opened #1371 "Missing kernel task names when the webui is switched to long process names."
#### Description

When the webui is switched to show the long process names, the names of the kernel processes disappear.

In general the process list doesn't look the same between the cli interface and the webui.

#### Versions

* Glances & psutil (glances -V):

Glances v3.0.2 with psutil v5.4.8

* Operating System (lsb_release -a):

Distributor ID:	Debian
Description:	Debian GNU/Linux 9.6 (stret

[2018-12-17 19:48] grheard commented on #1371
Here is an example.

Long process names.
![screenshot from 2018-12-17 14-45-50](https://user-images.githubusercontent.com/11306237/50111374-a56fb200-020a-11e9-9904-bd144ed8f125.png)

Short process names.
![screenshot from 2018-12-17 14-45-35](https://user-images.githubusercontent.com/11306237/50111375-a56fb200-020a-11e9-97bf-f60052490ad1.png)

[2018-12-18 07:52] nicolargo commented on #1367
pkg_resources is provided by the setuptools Python lib...

Try this:

[code]

or (pip2 if you uses Python 2).

[2018-12-18 08:52] nicolargo opened #1372 "Some field name are incorrect in CSV export"
#### Description

Example processcount_FreeWifi_quality:
[code]

#### Versions

* Glances & psutil (glances -V): 3.0.1
* Operating System (lsb_release -a): Ubuntu

[2018-12-18 08:54] nicolargo commented on #1372
Corrected in patch c76a5f05 (on the DEVELOP branch). Will be release in Glances 3.1.

[2018-12-18 08:55] #1372 closed

[2018-12-18 08:55] nicolargo commented on #1368
Hi @leavesbnw, thnaks for the report !

Corrected in patch c76a5f05 (on the DEVELOP branch). Will be release in Glances 3.1.

[2018-12-18 08:55] #1368 closed

[2018-12-18 08:56] nicolargo commented on #1371
@notFloran Can you have a look on this issue ?

Thanks !

[2018-12-18 09:55] RyuuzakiJulio commented on #1367
That did the trick! Damn there is so much to learn. I love glances. Looks so sexy. Thank you!!

[2018-12-18 19:53] G4Zz0L1 opened #1373 "TypeError on opening (Wifi plugin)"
#### Description

At the start of Glances it errors out with this. It started today, but I see nothing 'pythonish' in the pacman update log. The debug file seems to contains nothing useful, but I'll attach it down below. I don't know where to look for other errors.

[code]

#### Versions

* Glances & psutil (glances -V):
Glances v3.0.2 with psutil v5.4.8
* Operating System (lsb_release -a):
LSB Ve

[2018-12-18 20:31] nicolargo commented on #1373
Should be corrected by the latest commit (229710d6) on the DEVELOP branch.

@G4Zz0L1  Can you test it ?

Thanks

[2018-12-19 00:51] drschwabe opened #1374 "Distribute as Flatpak"
After searching for it on flathub.org today, figured I would post here to make the suggestion/request to make Glances available as a Flatpak

[2018-12-19 16:27] oleksandrlazariev opened #1375 "How to use GPU stats under a docker container?"
Hi! I could not find how to enable GPU monitoring when Glances is running under a docker container using the official docker image and the `docker run -d --name glances --restart="always" -p 61208-61209:61208-61209 -e GLANCES_OPT="-w" -v /var/run/docker.sock:/var/run/docker.sock:ro --pid host docker.io/nicolargo/glances`
I've also entered into the running container to check if `nvidia-ml-py3` inst

[2018-12-21 12:01] roomcays opened #1376 "Standard output misbehaviour (need to flush)"
#### Description

I'm trying to marry glances with [lemonbar](https://github.com/LemonBoy/bar) using `--stdout` argument. While *echoing* some strings from bash scripts works well, glances keep silent. This is really weird as `glances --stdout` work well when redirecting output to file. I do not know where is the problem, it seems that either glances or lemonbar treat standard output differently (

[2018-12-23 13:41] nicolargo commented on #1373
Another day, another patch.

Can you test it agaib @G4Zz0L1 ?

[2018-12-23 13:45] nicolargo commented on #1375
Never tested it inside a container... Perhaps you should have a look on the official **nvidia-ml-py**  lib and check how the stats are grabbed from the system.

[2018-12-23 14:00] G4Zz0L1 commented on #1373
It seems to work now, but it doesn't fetch wifi info

![image](https://user-images.githubusercontent.com/13220636/50384312-6b4b5800-06c3-11e9-87a4-a50f2932668e.png)

[2018-12-23 14:07] nicolargo commented on #1376
You are right, Glances do not flush stdout.

I just publish a patch on the DEVELOP branch to correct this behavior on stdout and stdout-csv.

Can you test it ?

[2018-12-23 14:15] nicolargo commented on #1373
Yes because your Wifi network interface enp3s0 did not support scanning (see in your log file).

[code]

[2018-12-23 14:18] G4Zz0L1 commented on #1373
That's the wired one, the wifi one it's the wlp0. What command should I use for testing this?

[2018-12-23 14:30] nicolargo commented on #1373
What is the result of print(c) ?

[2018-12-23 14:35] G4Zz0L1 commented on #1373
![image](https://user-images.githubusercontent.com/13220636/50384668-56bd8e80-06c8-11e9-9580-ee49f68c05be.png)

But I can correctly scan it with the system command

[code]

[2018-12-23 14:45] nicolargo commented on #1373
Same issue here with Python 3. Work fine with Python 2...

The issue came from the Wifi lib (only compatible with Python 3.3...) and the project is unmaintained...

I will open another issue to find a new lib...

[2018-12-23 14:45] #1373 closed

[2018-12-23 14:48] nicolargo opened #1377 "Replace the Wifi lib by a new one"
#### Description

The Wifi lib (https://github.com/rockymeza/wifi) used by the Wifi plugin is unmaintained and did not work for Python > 3.3 (see https://github.com/nicolargo/glances/issues/1373#issuecomment-449640936).

Had to find a new lib...

For the moment, the plugin will be disable for Python 3...

[2018-12-23 18:08] geeseven commented on #1364
RHEL 5.3 is old, like really **really** old.  Extended support for RHEL 5.3 reached End of Life on [November 30, 2010][0] (no direct link available).  The first commit for glances was on [December 4, 2011][1].  EPEL did package glances for EL 5 for a bit but had to retire it due to [broken dependencies][2].  The archive repository for [EPEL 5][3] does not contain any glances packages, I would assu

[2018-12-23 19:01] geeseven opened #1378 "Disable plugin from Glances configuration file"
#### Description

I have used glances for some time, but I have just started getting into customizing it.  It would appear that there is not away to disable a plugin via the glances.config file. In my case, I am looking to disable the alert plugin.  It is possible with cli flags, ```glances --disable-plugin=alert``` or for older versions ```glances --disable-alert```.  Is there a way to disable it

[2018-12-24 08:48] nicolargo commented on #1370
Done by adding a an uninstall script in https://github.com/nicolargo/glancesautoinstall.

[2018-12-24 08:48] #1370 closed

[2018-12-25 08:53] StuxForce opened #1379 "Error in install.sh on CentOS 7"
#### Description
When I run https://raw.githubusercontent.com/nicolargo/glancesautoinstall/master/install.sh I'm getting output:

After deleting "[[" and "]]" near || [[ $distrib_name == "fedora" ]] || installation is continue

Also there is no packages in default CentOS repo:

#### Versions
* Operating System (CentOS Linux release 7.5.1804 (Core)):

[2018-12-25 12:12] nicolargo commented on #1379
Solved 1 minute ago... ;)

[2018-12-25 12:12] #1379 closed

[2018-12-26 12:41] nicolargo commented on #1377
**Status**

Current lib: Wifi (https://pypi.org/project/wifi/) version 0.3.8 (march 2016)
Problem: not compatible with Python 3.3 or higher.

https://user-images.githubusercontent.com/13220636/50384616-799b7300-06c7-11e9-940e-3fc211da7933.png

Other lib: Python-Wifi (version 0.61 november 2015...)
Problem: not compatible with Python 3 or higher.

[code]

[2018-12-26 12:45] nicolargo commented on #1377
One of the solution is to clone the existing lib and patch it for Python 3....

https://github.com/rockymeza/wifi

[2018-12-26 13:35] nicolargo commented on #1377
A PR has been proposed: https://github.com/rockymeza/wifi/pull/116

Wait and see...

[2018-12-26 16:16] #1376 closed

[2018-12-26 18:19] mplorentz opened #1380 "Docker plugin error: load_config() got an unexpected keyword"
#### Description

Docker stats do not show up at all. Launching glances and pressing 'D' to toggle Docker stats produces the following errors in the logs:

[code]

#### Versions

* Glances v3.0.2 with psutil v5.4.8
* Debian GNU/Linux 9.6 (stretch)
* python docker package version 3.6.0 (also tried 3.5.1 and 3.5.0)

#### Logs

[code]

[2018-12-26 18:34] nicolargo commented on #1380
Hi @mplorentz

can you tell us what is your Docker version (using the **docker info | grep Version** command line).

Glances (both 3.0.2 and DEVELOP branch) _works fine_ with  Docker:

[code]

[2018-12-26 18:36] nicolargo commented on #1380
You can also have a look on this Docker Python lib issue: https://github.com/docker/docker-py/issues/1916

[2018-12-26 18:53] mplorentz commented on #1380
@nicolargo thanks for linking that issue, that was my problem. The fix was to

[code]

And for posterity my docker version is:
[code]

[2018-12-26 18:53] #1380 closed

[2018-12-27 09:12] nicolargo commented on #1378
Done in the latest commit on the DEVELOP branch.

Will be release in Glances 3.1.

Thanks for the enhancement request @geeseven !

[2018-12-27 09:12] #1378 closed

[2018-12-27 09:13] #1358 closed

[2018-12-27 09:14] nicolargo commented on #1355
Any news ?

[2018-12-27 09:14] #1321 closed

[2018-12-27 09:15] nicolargo commented on #1371
@notFloran Any news ?

[2018-12-27 17:43] geeseven commented on #1378
@nicolargo, thanks for the timely update.  :+1:

[2018-12-27 21:31] jack10bells commented on #1355
Hi, I couldn't check any further. Is not working in Windows 10 nor Windows 2008 R2

[2018-12-28 14:34] GlobalRisk opened #1381 "Running Glances webserver as service using NSSM not working with --password"
#### Description

I'm trying to run the glances webserver as a service using NSSM and then use a reverse proxy to connect to it. It all worked well so I tried to get some authentication going by using the --password command but then glances won't run anymore (the service doesn't give any error and it just starts like usually but I can't connect to the webserver anymore). I suspect it just refuses

[2018-12-28 16:52] nicolargo commented on #1381
Hi @GlobalRisk

perhaps, using NSSM Glances can not found the glances.pwd file where the log/password hash is saved the first time you run Glances. This file should be located in %APPDATA%\glances and should be named glances.pwd.

You can also try to run Glances in verbose/debug mode (-d) in order to have additional log file in the glances-<user>.log file.

Keep us inform.

[2018-12-29 02:11] GlobalRisk commented on #1381
I gave up on running the webserver as a service and just used task scheduler. Is there any way that I can change the default username? Thanks for the help btw :)

[2018-12-29 07:14] nicolargo commented on #1381
After deleting the glances.pwd file, run Glances with the following command
line:

    glances --username --password

[2018-12-29 15:38] GlobalRisk commented on #1381
Yeah I read that in the docs but how to make it so that it defaults to that file and doens't ask me for a username the next time I run it with these arguments?

[2018-12-29 17:37] nicolargo commented on #1381
Correct ! It miss an option to set the username when the login/password has already been created.

I will implement it in the DEVELOP branch as soon as possible.
The behavior **will be** the following:

First of all create a login/password couple:

    glances -w --username --password

If you save the login/password, it will create a <username>.pwd file in the same folder than the glances.conf fil

[2018-12-29 17:39] GlobalRisk commented on #1381
That's great to hear :) Any idea what could cause the bug?

[2018-12-29 18:12] nicolargo commented on #1381
Done in the DEVELOP branch.

Can you test it ?

[2018-12-29 18:14] GlobalRisk commented on #1381
Sure, give me a sec :)

[2018-12-29 21:39] GlobalRisk commented on #1381
Ah nvm, my bad. I had forgotten the -w argument and that's when it started on 61209 😅
Thanks anyways 👍

[2018-12-30 14:21] #1371 closed

[2018-12-30 18:57] argorain opened #1383 "Drive name with special characters causes crash"
#### Description

For a bug: When my drive is connected, glances immediately crashes or won't start if drive is connected before glances start. It seems it doesn't like some characters in it's name.

#### Versions

* Glances & psutil (glances -V): Glances v3.0.2 with psutil v5.4.1
* Operating System (lsb_release -a):
No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linu

[2018-12-31 10:08] nicolargo commented on #1383
Corrected by the latest commit on the DEVELOP branch.

@argorain Can you test it ?

[2018-12-31 10:33] argorain commented on #1383
Tested using this: https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version#standalone-mode - it works. Thank you for quick bugfix. Good job.

[2018-12-31 10:42] nicolargo commented on #1383
You are welcome !

[2018-12-31 10:42] #1383 closed

[2018-12-31 17:20] #1355 closed

[2018-12-31 17:21] #1362 closed

[2019-01-03 16:38] bingfengfeifei commented on #910
I'm already install psutil. This issus still occured. It maybe caused by change the default python version.I changed my system python3 version from 3.6 to 3.7. But the psutil's dynamic library is still python3.6 version.
->cd /usr/lib/python3/dist-packages/psutil
->ls
_psutil_linux.cpython-36m-x86_64-linux-gnu.so
_psutil_posix.cpython-36m-x86_64-linux-gnu.so

If these two file's version is not mat

[2019-01-03 18:47] butterfly-pn opened #1384 "Cannot get stats in Cloud plugin (404)"
#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

I run glances web server and `/api/3/all` returns 404 error. This endpoint returns:

[code]

#### Versions

* Glances & psutil (glances -V): Glances v3.0.2 with psutil v5.4.8
* Operating System (lsb_release -a):
[code]
#### Logs

[code]

[2019-01-05 20:44] nicolargo commented on #1384
Is the terminal interface works fine ?

If yes, can you:
1) run glances in terminal / debug mode using: glances -d
2) paste/bin us the /tmp/glances-*.log file

Thanks.

[2019-01-07 09:45] butterfly-pn commented on #1384
I can run it, but sometimes it crashes:

[code]
Also when it crashes it breaks white characters, so end-of-line is not working

Here are the logs: https://pastebin.com/fEDsmx9z

[2019-01-08 12:21] nedbat opened #1386 "Documentation is unclear how to get Docker information"
The [docs section on Docker](https://glances.readthedocs.io/en/latest/aoa/docker.html) says:

There are two problems here: First, it doesn't make clear that the docker-py library is not installed by defaut, and to get Docker information you have to install it yourself.  Second, "pip install docker-py" will install a library, but not the right library (as I found out from a [glances issue](https://

[2019-01-08 12:50] nedbat commented on #1386
FWIW, even nicer would be to define a setup.py "extras" so that we could install like this:
[code]
to get the Docker support installed when we install glances.  I can make a pull request for this if you like.

[2019-01-09 06:55] AshishDixit opened #1387 "notification for push and commit mail not working.."
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

For an enhancement or new feature: Describe your needs.

#### Versions

* Glances & psutil (glance

[2019-01-09 18:38] pryorda opened #1388 "hyperkit/docker on mac"
Is there a link on getting this to work with hyperkit on mac? Would love to see those stats.

[2019-01-09 20:31] #1387 closed

[2019-01-11 07:52] apjanke opened #1389 ""glances" extra not provided"
#### Description

I tried the maximal install with all the extras as described at  https://github.com/nicolargo/glances#pypi-the-simple-way, and it's giving me a complaint about the extra "chart". Should that be removed from the install instructions?

[code]

#### Versions

[code]

#### Logs

Not relevant, I think.

[2019-01-11 23:38] frenck opened #1392 "MQTT: '<=' not supported between instances of 'str' and 'int'"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

As soon as I enable MQTT on a Docker based system, the following happens:

`'<=' not supported between instances of 'str' and 'int' `

Seems similar to #1315

Reproduction: Simply

[2019-01-12 20:09] frenck commented on #1392
How do I do that? This is the only thing it reports at this moment...

[2019-01-13 11:12] frenck commented on #1392
![image](https://user-images.githubusercontent.com/195327/51084570-7f1b3480-172c-11e9-9552-69023f3d828a.png)

![image](https://user-images.githubusercontent.com/195327/51084575-8cd0ba00-172c-11e9-8b1d-2b3d70e71d1c.png)

[2019-01-16 10:48] PrathikGopal commented on #880
I think it is now:

 for exporting stats to multiple locations. Someone please update [wiki](https://github.com/nicolargo/glances/wiki/Start-Glances-through-Systemd), it threw me off..

[2019-01-16 14:17] dimitris1ps opened #1393 "Glances freezes up in browser"
Hello,

Once i run `glances -w` in my cloud instance then go to browser http://<ip>:61208 i see just the initial screen of Glances.

Going to the url http://<ip>:61208/api/3/all i see

Though at ...api/3/mem i see a json string in the browser. Likewise for ...api/3/views

[2019-01-19 15:18] nicolargo commented on #1384
Corrected in latest commit.

[2019-01-19 15:18] #1384 closed

[2019-01-20 09:33] nicolargo commented on #1386
The extras docker dep in the setup.py file is already done.

I will improve  the Docker plugin doc.

Thanks !

[2019-01-20 09:57] #1386 closed

[2019-01-20 14:37] joeyfeldberg opened #1397 "Prometheus integration broken with latest prometheus_client"
#### Description

This affects prometheus integration only.
In version prometheus_client 0.5.0, integration breaks with an error:

     No label names were set when constructing <prometheus_client.metrics.Gauge object at ...>

It works with prometheus_client 0.4.*

#### Versions

* Glances & psutil (glances -V): Glances v3.1.0 with psutil v5.4.8
* Operating System (lsb_release -a): Ubuntu 16.04.5

[2019-01-20 17:14] UmbralSamurai opened #1398 "Fan speed and voltages section?"
#### Description

For an enhancement or new feature: Describe your needs:

First time poster, LONG LONG time user... (back under python2... God, it's been that long!)

I've scoured the docs, and pretty much every resource that I can find, but I can't find a way to actually display the fan speeds that are being reported under sensors. Sensors displays them completely, however, I can't find a way (a

[2019-01-21 09:03] frenck commented on #1392
Could be, since 3.1.0 is now released, I will go ahead and try that one out.
Will update this issue with the results.

[2019-01-21 14:48] molobrakos commented on #1392
Maybe we just miss a cast to int here: https://github.com/nicolargo/glances/blob/develop/glances/exports/glances_mqtt.py#L56

[2019-01-21 16:31] grheard commented on #1371
Updated to 3.1.0 this morning and this does not appear to be fixed.

Here's a little gif showing the version of glances and switching into/out of the long process names.

![peek 2019-01-21 11-27](https://user-images.githubusercontent.com/11306237/51486942-004b7a80-1d70-11e9-9db0-27c07bec298a.gif)

[2019-01-21 19:12] nicolargo commented on #1371
@grheard Did you clear your browser cache ? (CTRL-F5)

[2019-01-21 19:50] grheard commented on #1371
I've tried the CTRL-F5, I've tried clearing the entire browser cache, and I've tried a different browser (firefox as opposed to chrome).

[2019-01-23 03:59] VinhLoiIT opened #1401 "500 Internal Server Error /api/3/network/interface_name"
#### Description
Hi there,
I recently found the bug in RESTful-API
I have got the latest version of glances from python3-pip installer
When I start the webserver via: `glances -w -p 8282`
And access the RESTful-API: `localhost:8282/api/3/network/interface_name` (the one I just copied from https://github.com/nicolargo/glances/wiki/The-Glances-RESTFULL-JSON-API), I got the `500 Internal Server Error

[2019-01-23 09:20] tdeckers opened #1403 "Permission denied: '/etc/glances/glances.conf'"
#### Description

Steps:
1. Create /etc/glances/glances.conf, add any configuration.
2. Start glances from the command line without any options.

[code]
Running with an explicit option for config file (`-C`) has the same effect.  Running with `sudo` doesn't help either.

I assume the file needs to be added as interface for the snap somehow?

#### Versions

* Glances & psutil (glances -V):
[code]
*

[2019-01-23 14:23] Lin-Buo-Ren commented on #1353
It seems that the snap is already buildable in the current state, please consider setting up the [Snapcraft Build Service](https://snapcraft.io/build) for automated snap building on code push.

[2019-01-23 14:40] jeremyj opened #1404 "SNMP no output"
Hello,

I'm trying to monitor a device via SNMP but I'm not getting any output, just a blank screen for a few moments.

This is the command I'm running:
[code]
Here is the debug log:
https://pastebin.com/raw/PeeZvTnU

The relevant message seems to be ```2019-01-23 15:37:45,366 -- CRITICAL -- 'hostname'``` but I don't understand what it means.
[code]
Any help on this issue would be much appreciated

[2019-01-23 20:25] lediszep opened #1406 "REST API network tx values"
I'm building a webpage so I can display the servers eth0 upload speeds and more.

I use this api call to get the TX values for eth0: http://localhost:61208/api/3/network
It returns "tx" => "12718646" is this in bits or bytes? How would I output that amount to Mbps in PHP?

[2019-01-23 20:48] nicolargo commented on #1401
Hi @VinhLoiIT Many thanks for the issue report.

I just publish a patch on the DEVELOP branch. Can you test it ?

[2019-01-23 20:51] nicolargo commented on #1404
Hi @jeremyj

can you give us more information about the SNMP server ? OS ? version ?

Thanks.

[2019-01-23 21:04] nicolargo commented on #1406
The http://localhost:61208/api/3/network return a list of dicts. One dict per network interface.

A example of dict:

[code]

The tx is compute as following: tx = tx(current) - tx(last). The unit is in byte.
In order to display a byte rate, you should divide it by time_since_update.
Finally to display a bit rate, you should multiply by 8.

[2019-01-23 21:04] #1406 closed

[2019-01-23 21:23] nicolargo commented on #1403
Unfortunatly, it breaks the Snap buil: https://build.snapcraft.io/user/nicolargo/glances/440272

[2019-01-24 03:34] Lin-Buo-Ren commented on #1403
You may want to consider making the config file's path configurable via an environment variable, and set it to `$SNAP_USER_COMMON/glances.conf` in the Snapcraft recipe.

The `*-files` interface probably not yet supported by both Snapcraft & snapd.

[2019-01-24 03:39] Lin-Buo-Ren commented on #1353
@nicolargo It seems that you've set up the automatic build, is there currently any blockers that prevent the publishing of the development snapshot snap to the edge channel?

[2019-01-24 04:33] Lin-Buo-Ren commented on #1403
Note that this link is not public to non-snap publisher and collaborators

[2019-01-24 06:08] Lin-Buo-Ren commented on #1403
Quote from [The system-files interface - doc - snapcraft.io](https://forum.snapcraft.io/t/the-system-files-interface/9358):

You'll have to request an auto-connection to the `system-files` interface that binds with the `/etc/glances/glances.conf` path, and after it is granted, wait for the snapd distribution shipped in the `core` snap has the 2.37 release (`snap info core`), and finally start the

[2019-01-24 07:53] VinhLoiIT commented on #1401
Yeah this issues is solved. Should I append a short code in unittest-restful.py?

[2019-01-24 20:10] nicolargo commented on #1403
@Lin-Buo-Ren i am not very familiar with Snap. I just add you as a collaborator on Snapcraft. Can you have a look for me ? Thanks !

[2019-01-24 20:35] nicolargo commented on #1401
I will...

Thanks !

[2019-01-24 20:35] #1401 closed

[2019-01-24 20:44] nicolargo commented on #1401
Done in latest commit.

[2019-01-24 20:58] nicolargo commented on #1404
Not easy to investigate without the device...

Can you try the following command and [pastebin](https://pastebin.com/) use the result ?

[code]

[2019-01-24 21:08] nicolargo commented on #1398
Hi @UmbralSamurai

The fan stats has been disable long time ago because of an issue on Ubuntu system https://github.com/giampaolo/psutil/issues/1199

It is now solved in latest Ubuntu version.

I will include the fan speed stat in the next release.

Nicolas

[2019-01-25 03:12] Lin-Buo-Ren commented on #1403
Please keep the commit reverted as the feature is not in the stable release of snapd so it won't work even if it's gets pass the Snap Store automatic review process(a force-push might be preferable to keep the history clean).

I need your verbal authorization to request the usage of `system-files` interface in the Snapcraft Forum (a comment on this page will do).  Is this application has any user-

[2019-01-25 03:13] Lin-Buo-Ren commented on #1403
Also, you might want to make the application avoid from crashing when the system-wide config file isn't accessible.

[2019-01-25 08:47] Lin-Buo-Ren opened #1407 ""sorted by ?" is displayed when setting the sort criterion to "USER""
#### Description
1. Launch Glances
2. Use left/right keys to change the sort criterion to "USER"

The "TASKS N (N thr), N run, N slp, N oth sorted by ?" line is printed instead of something like "sorted by username" etc.

#### Versions

* Glances & psutil (glances -V): I use the locally built snap from the development snapshot 62debf2, I currently have no idea the version of psutil
* Operating Sys

[2019-01-25 12:10] UmbralSamurai commented on #1398
I remember the issue in Ubuntu, but I didn't think that it affected
Debian.  And I appreciate it being included again.

On Thu, Jan 24, 2019, 15:08 Nicolas Hennion <notifications@github.com wrote:

[2019-01-25 19:25] renat2985 opened #1409 "Not correct in display (Ubuntu 18.04)"
[code]

Start is ok:
![deepinscreenshot_io elementary terminal_20190125212528](https://user-images.githubusercontent.com/1230815/51768040-c53aa580-20e7-11e9-8d77-6ac7352fb677.png)

After 2 seconds i see:
![deepinscreenshot_io elementary terminal_20190125211847](https://user-images.githubusercontent.com/1230815/51767731-e6e75d00-20e6-11e9-8a68-56139789ab93.png)

![deepinscreenshot_ - _2019012522061

[2019-01-26 09:38] OrBin opened #1412 "GlancesAutoInstall claims to be incompliant with (Ubuntu-based) KDE neon"
#### Description
When trying to install glances by running `curl -L https://bit.ly/glances | /bin/bash`, GlancesAutoInstall script throws an error:
[code]

I am running KDE neon, which is based on Ubuntu and uses apt/apt-get as a package manager.
I believe KDE neon should be treated the same as Ubuntu.
I am going to try solving it and maybe submit a PR for this.

#### Versions

* Glances & psutil

[2019-01-28 13:15] colemanlee opened #1413 "Why I can't open http://0.0.0.0:61208/ web page in web broswer?"
#### Description
* For a issue: Why I can't open  http://0.0.0.0:61208/ web page in web broswer?

#### Versions
* Glances & psutil (glances -V):Glances v3.1.0 with psutil v5.5.0
* Operating System (lsb_release -a):Microsoft Windows 10 version 1803

#### Logs
C:\Users\Jeff> glances
Glances Web User Interface started on http://0.0.0.0:61209/
Then i copy *http://0.0.0.0:61209/* to web broswer and pre

[2019-01-28 16:26] bfiset opened #1414 "[DOCKER]Cannot get FILE SYS info for non-boot drive"
#### Description

Running Glances' official Docker container.

I have 5 volumes mounted on my host system.

- /dev/sda1
- /dev/sdb1
- /dev/sdc1
- /dev/sdd1
- /dev/sde1 (is boot drive)

I can only get FILE SYS info for /dev/sde1

#### Versions

* Glances & psutil (glances -V):
Using latest container: Glances v3.1.1b0 with psutil v5.4.8
* Operating System (lsb_release -a):
Distributor ID:	Ubuntu
Des

[2019-01-28 20:35] chetankabra opened #1415 "KeyError: glances_network.py"
Description
I am running glances as a service using systemd on "Red Hat Enterprise Linux Server 7.5 (Maipo)" OS .
using Below command
.env/bin/python .env/bin/glances --quiet --export influxdb -C glances.conf

For an enhancement or new feature: Describe your needs.

Versions
Glances & psutil (glances -V): Glances v3.0.2 with psutil v5.4.7
Operating System (lsb_release -a): Red Hat Enterprise Linux

[2019-01-29 05:27] #1409 closed, assigned to nobody

[2019-01-29 05:33] nicolargo commented on #1414
Hi !

What is the command line used to run the Docker container ?

Try to add the following option: --device=/dev/sda

Nicolas

[2019-01-29 05:52] nicolargo commented on #1415
Duplicated: https://github.com/nicolargo/glances/issues/1348

Please upgrade Glances to Glances 3.1 or higher.

[2019-01-29 05:53] #1415 closed

[2019-01-29 10:41] zucram opened #1416 "Getting sensor to work on Windows"
Is there anyway to get Sensor to work on a windows machine? Will it work if i run glances through docker perhaps? Is there any other workaround?

[2019-01-29 13:37] bfiset commented on #1414
It does expose the devices inside the container so it's a step in the right direction!

Sadly, it will not mount them so my guess is psutil will not list unmounted file systems.

I am running latest-alpine image as it is more lightweight than the regular image.

[2019-01-30 21:54] jpsutton opened #1417 "IP plugin displays incorrect subnet mask"
#### Description
When I start glances, the IP plugin displays my local IP and my public IP at the top of the display.  Unforunately, on the local IP the network mask seems to be showing a /24 rather than my configured /23 network mask.  I verified my NetworkManager config is set to /23 and ifconfig confirms it is set to /23 correctly.

#### Versions
* Glances & psutil (glances -V):
** Glances v3.1

[2019-02-03 14:49] gotjoshua opened #1418 "Readable API JSON"
I would love if the [API Docs JSON examples](https://github.com/nicolargo/glances/wiki/The-Glances-XML-RPC-API-How-to/212c9b96f440250bdbe80c5b380d9caecb460fcc) were a bit more readable.
I thought about cloning and making a PR, but maybe it isn't worth the trouble, if you agree you could just run the json through something like:
https://jsonformatter.curiousconcept.com/
and drop it into a code bloc

[2019-02-03 17:18] notFloran commented on #1413
@colemanlee Can you show us a screenshot of your browser web console (Ctrl-Maj-K with Firefox) ?

[2019-02-05 11:23] jeremyj commented on #1404
Hi @nicolargo
Sorry for the late reply.
I tried the command as you asked and there is no output.

[2019-02-05 15:45] colemanlee commented on #1413
My OS Version: Microsoft Windows® 10 version1803
I saw your code READ.ME page said "windows failing", maybe i should not run it in windows.
Here is the web console page of Chrome, I have no Firefox installed.
![pic_0205234305](https://user-images.githubusercontent.com/10258421/52284659-cd27fe80-299f-11e9-82f3-07d54481ac4e.jpg)

![pic_0205234239](https://user-images.githubusercontent.com/10258421/5

[2019-02-10 07:56] notFloran commented on #1413
Given the Chrome console message (ERR_ADDRESS_INVALID), the web browser can not reach the server.

Do you use a proxy or something similar?

[2019-02-10 23:45] ruddy17 commented on #1282
I have this problem too on windows 10. How can I solve it?

[2019-02-11 09:44] grewhit25 opened #1419 "Misleading image tag latest-arm"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

The tag 'latest-arm' implies a 32bits architecture. I download this image to my Raspberry Pi 3B running Raspbian OS, it did not work for the reasons pointed here; that it's actuall

[2019-02-11 11:09] spezialist1 opened #1420 "[WEB-UI] Glances-3.1.0: no Linux distribution name in the web GUI"
#### Description

It looks like a bug: after the standard installation (from https://nicolargo.github.io/glances/) of the stable release Glances 3.1.0 with psutil 5.5.0 under CentOS-7.6, the Linux distribution name is not displayed in the web-GUI. Below is my screenshot where the top is the web-GUI, and the bottom is the usual ssh-console. It is clearly seen, that the Linux distribution name is pr

[2019-02-11 12:19] colemanlee commented on #1413
No, I don't use any proxy or something similar, but i run ```glances -w``` in windows in this issue, glances can't run in windows, so i should not run glances in windows.
I will close this issue, thank you.

[2019-02-11 12:19] #1413 closed

[2019-02-11 18:50] kirk86 opened #1421 "documentation for connecting to external services contains very little info"
Hi and thanks for glances.
I was wondering if there is any better documentation in regards to connecting to external services like grafana, influxdb etc.?

I've read the manual but doesn't provide a comprehensive example on how to set things up.
Let me demonstrate with a simple example:

We have server X running glances and we want to connect the stats to grafana.
Personally I have a grafana insta

[2019-02-13 13:06] hkapanen commented on #882
sensor aliases still not supported?

[2019-02-14 23:45] pguizeline opened #1422 "Crash on start on Debian 9"
Hi, I'm trying to execute glances on Debian 9, I've installed it via apt, but I'm getting the following error:

#### Description

[code]

#### Versions

* Glances & psutil (glances -V):
`Glances v2.7.1 with psutil v5.0.1`

* Operating System (lsb_release -a):
[code]

#### Logs

[https://pastebin.com/EGFMktwH](https://pastebin.com/EGFMktwH)

Thanks in advance for any help!!

[2019-02-15 09:53] vehovsky commented on #1231
@spike008t any news on this one? Thanks

[2019-02-16 14:13] GiganteX opened #1423 "Tried glances in docker, glances container is running at 696% CPU...."
I'm a total newbie at glances so I might be misinterpreting things, but this sure looks weird...
I just now started up glances in a container on my CoreOS VM running on XenServer,
and glances seem to be a total resource hog, overclocking my CPU to the extreme... :D

See attached picture.
![image](https://user-images.githubusercontent.com/15637533/52900956-4aa00a00-31fd-11e9-9ca8-07ea3d3f2e3a.png)

[2019-02-17 20:33] Mellbourn opened #1424 "How to configure showing command name without path in process list"
I would like to configure glances to always show the short process name (without the path) in the processes list.

On a Mac the folder path is often so long that the actual command name is not visible. Even when the path is shorter than that, it is hard to quickly see the process name.

I know about the `/` command, and it does what I want, but I don't want to have to issue it every time I start g

[2019-02-18 13:53] nicolargo commented on #1416
Nope until PsUtil will include this feature...

[2019-02-20 18:03] Mustafa-C opened #1426 "Using glances programatically"
Is there any way to use glances as a module (such as import glances)?
This is in order to get usage information per process. I see glances is using the psutil library, however when using that directly long blockages are present due to having to set interval=1 or higher to get reasonable numbers (otherwise you just get 0.0 for everything) but this means every process takes 1 second which can take m

[2019-02-22 04:19] Lin-Buo-Ren commented on #1403
As per the reviewer's inquiry, I would like to ask if the application would modify either the user and global config files?

[2019-02-23 16:22] saitoh183 opened #1427 "Glances(Docker) - Grafana missing some info"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

I setup glance in docker and it seems that not all the info is showing up in Grafana. I dont know where to look to fix it. in Grafana, the Host, interface and disk are empty. Conta

[2019-02-25 15:00] saitoh183 commented on #1427
It seems to have started working on its own except for the disk information which is what i need the most

[2019-02-25 18:42] saitoh183 commented on #1427
Ok still dont understand how this works. No matter what disk i choose, no info changes. If i change the query to `SELECT mean("/etc/hostname.percent") FROM "localhost.fs" WHERE $timeFilter GROUP BY time($__interval)` I get the disk info of the host that i want...but what about the others?
![image](https://user-images.githubusercontent.com/1534197/53360151-c8050200-3902-11e9-9ab5-1eda3c843a45.png)

[2019-02-26 20:32] douglasg14b commented on #1418
It would be helpful to link to different docs that have the ugly JSON...

[2019-02-27 08:27] gotjoshua commented on #1418
good call @douglasg14b ... i edited the original, so we can actually delete these comments to keep the thread clean...

[2019-02-27 19:59] douglasg14b commented on #1418
No need to delete comments, it's all relevant. Also that is some pretty ugly json (not valid either as a copy/paste).

My recommendation is to prettify it, syntax highlight it, and then hide it under an accordion:

<details>
 <summary>Some JSON</summary>

[code]
</details>

[2019-02-28 05:28] danst0 opened #1428 "Glances crashes on docker restart"
I have glances open in one tmux session, in the other session I restart docker (service docker restart). Glances crashes.

[2019-03-01 18:09] foot-gloves commented on #1417
I see the same behavior. I have a /22 network and glances on my machine shows /24.

[2019-03-01 19:20] foot-gloves commented on #1417
it looks like netifaces library is being used to grab the info. I dug around in the library and did some tests and netifaces is returning the correct information for netmask on my affected systems. Maybe the section in glances_ip.py plugin which converts it to cidr is not working or grabbing the wrong ip to convert. However I don't have any /24 networks connected to my machines.

line 150
`return

[2019-03-02 03:49] Lin-Buo-Ren commented on #1403
Re-ping.

Also as per the reviewer's request, please answer the following question:

[2019-03-02 07:57] nicolargo commented on #1420
@notFloran Can you have a look ? i think that the distrib name is available in the API.

[2019-03-02 08:00] nicolargo commented on #1421
You can have a look on this post: https://www.tecmint.com/install-glances-influxdb-grafana-to-monitor-centos-7/

[2019-03-02 08:03] nicolargo commented on #1422
Duplicated: https://github.com/nicolargo/glances/issues/651

Please upgrade your Glances version.

[2019-03-02 08:03] #1422 closed

[2019-03-02 08:06] nicolargo commented on #1423
Strange...

Your global CPU is 26.9%. How many CPU core do you have on your Xen instance ?
Are you sure that the elastic_benz containers is the one hosting Glances ?

[2019-03-02 08:08] nicolargo commented on #1424
Have you try: --process-short-name ?

==> https://glances.readthedocs.io/en/stable/cmds.html#cmdoption-process-short-name

[2019-03-02 08:10] nicolargo commented on #1426
Yes you can but there is no documentation about this because Glances is not a Python module...

You can have a look in https://github.com/nicolargo/glances/blob/develop/unitest.py

[2019-03-02 08:10] #1426 closed

[2019-03-02 08:16] nicolargo commented on #1427
I will have a look on my side.

[2019-03-02 08:17] nicolargo commented on #1428
Is there a relevant message in the console or in the Glances log file ?
What is your Glances / Docker version.

Please fill the issue with all the information needed to investigate.

[2019-03-02 09:52] Mellbourn commented on #1424
Yeah, I guess I can create an alias so I always get this flag. Would still be nice if it could be configured in the config file.

[2019-03-02 10:27] GiganteX commented on #1423
"Virtual CPUs: 4"
"Topology: 2 sockets with 2 cores per socket"

Yes, elastic_bens is the glances container, I double-checked it right now.

[2019-03-02 11:55] ArielRosenfeld opened #1429 "DIsk I/O - hide partition or disk of single partition drive"
#### Description
DIsk I/O - hide partition or disk of single partition drive
if you have drives with a single partition you get to see the same i/o twice for example as sdd and sdd1
its just the same information twice showing just one of them is enough and if you have multiple drives it also pushes the FILE SYS plugin information down and some of it wont be visible

#### Versions
Glances v3.1.0 wi

[2019-03-03 09:01] AndyKassell commented on #1341
Same issue, running in Docker and sending info to InfluxDB. However it seems when memory stabilises (presuming history recycling) then the CPU usage doubles. This is running with process info off. Have not yet tried History = 0 will do so.

<img width="602" alt="glanesissue" src="https://user-images.githubusercontent.com/1412504/53693022-9e7c2880-3d91-11e9-9480-472846b2fd67.PNG">

[2019-03-04 16:04] adrian-enspired opened #1430 "Apparent Incongruity with Reported CPU Usage"
#### Description

I'm not sure what is expected/normal, but I see conflicting reports from different modules when it comes to CPU usage.

For example, ![Imgur](https://i.imgur.com/nsc4LWt.png)
In this (typical) moment,
- the CPU status bar shows `0.8%`
- the CPU module shows:
  - `7.2%` for the overall number
  - `97.0%` for the "idle" number (this agrees with user: 2.5% + system: 0.5%)
- the Proc

[2019-03-05 11:59] Mustafa-C opened #1431 "Can't query api endpoint with requests"
#### Description

Using the requests library to query /api/3/all

#### Versions

* Glances v3.1.0 with psutil v5.5.1
* Distributor ID: Ubuntu
Description:    Ubuntu 16.04.5 LTS
Release:        16.04
Codename:       xenial

#### Logs

[code]

[2019-03-05 19:43] nicolargo commented on #1429
You can use the hide option of the configuration file. For example, if you only want to display sdaX and not sda, use:

[code]

Before:

![image](https://user-images.githubusercontent.com/776747/53832784-59214c00-3f87-11e9-8489-6ce9e6aefa1d.png)

After:

![image](https://user-images.githubusercontent.com/776747/53832742-3f800480-3f87-11e9-92d3-06052b5b2fca.png)