[2015-05-10 02:27] desbma commented on #546
Reproduced in Ubuntu, with a program whose path is '/tmp/a b', generated with :
`echo "int main() { while(1) sleep(1); }" | gcc -x c - -o '/tmp/a b'`

In theory, this patch should do the trick :

    diff --git a/glances/plugins/glances_processlist.py b/glances/plugins/glances_processlist.py
    index 341ba88..43b47f4 100644
    --- a/glances/plugins/glances_processlist.py
    +++ b/glances/plugin

[2015-05-13 12:06] nclsHart commented on #561
The problem is more global because the web UI is not currently using the view endpoint. I'll add an issue for that.

For the splittable case we should try to do it using css in order to be as responsive as possible.

[2015-05-14 21:11] vsn4ik opened #598 "Action event for the [monitor] plugin"
Is it possible to use the action events for [monitor] section (countmin, countmax, process return code...)?

If not, do you plan to add?

[2015-05-16 20:27] nicolargo commented on #598
Thk for the proposal.
Added to the 2.5 roadmap.

[2015-05-16 20:30] nicolargo commented on #587
@notFloran / @nclsHart / @asergi : I am back from Ireland. Thanks for the amazing job done on the 2.4 release during my vacation. Glances 2.4 has never been so close to the final release !

[2015-05-17 19:37] nicolargo opened #600 "Allow export of Docker plugin stats to InfluxDB, StatsD..."
Asked by Baraise Valentin.

Allow export of specific plugins (Docker and Sensors).

[2015-05-18 12:47] nicolargo opened #601 "[Web UI] Display empty Battery sensors"
If Batinfo is installed and no battery is available on the system, the Web UI displays an empty list: [].
Nothing (no line) should be displayed instead.

![battery](https://cloud.githubusercontent.com/assets/776747/7681058/b624eee0-fd6c-11e4-8f7c-961a1aa4adcb.png)

[2015-05-20 15:08] nicolargo opened #602 "Fatal error using Python 3.4 and Docker plugin"
Here is the traceback using Glances 2.4:

[code]

[2015-05-20 15:12] #602 closed

[2015-05-20 19:38] davidkulak opened #603 "Error after 2.4 upgrade = AttributeError: 'module' object has no attribute 'gateways'"
After 2.4 upgrade glances doesn't start anymore :

Traceback (most recent call last):
  File "/usr/local/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.4.1', 'console_scripts', 'glances')()
  File "/usr/local/lib/python2.7/dist-packages/glances/__init__.py", line 122, in main
    args=core.get_args())
  File "/usr/local/lib/python2.7/dist-packages/glances/core/glances_standalon

[2015-05-20 22:02] davidkulak commented on #603
Ok with a complete reinstall.

[2015-05-20 22:02] #603 closed

[2015-05-21 11:14] ticktockhouse opened #604 "AttributeError: 'module' object has no attribute 'gateways'"
Hello,

Server:
Description:	Debian GNU/Linux 7.6 (wheezy)

I'm getting this error after following the PyPi install instructions. I searched, but couldn't see an error with "gateways" anywhere...

Traceback (most recent call last):
  File "/usr/local/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.4.1', 'console_scripts', 'glances')()
  File "/usr/local/lib/python2.7/dist-packag

[2015-05-21 15:56] Yeoh95 commented on #604
Hello, i have the same problem on RHEL6.6 :

Traceback (most recent call last):
  File "/usr/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.4.1', 'console_scripts', 'glances')()
  File "/usr/lib/python2.6/site-packages/pkg_resources.py", line 299, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python2.6/site-packages/pkg_res

[2015-05-21 17:29] asergi commented on #604
Duplicate #603.

[2015-05-21 17:29] #604 closed

[2015-05-21 18:27] davidkulak opened #605 "Quick look doesn't work"
With big screen size
![capture d ecran 2015-05-21 a 20 25 49](https://cloud.githubusercontent.com/assets/7256045/7755912/dd1555ac-fff7-11e4-8269-b0a60c26bed4.jpg)

But it works with small screen size
![capture d ecran 2015-05-21 a 20 26 45](https://cloud.githubusercontent.com/assets/7256045/7755924/ec44e2d6-fff7-11e4-9b68-5bfaf5d0b7ee.jpg)

[2015-05-21 18:39] davidkulak opened #606 "No disk information with OpenVZ machine"
Can't see my disk information on an OpenVZ machine because of the following line in glances_fs.py :
fs_stat = psutil.disk_partitions(all=False)

When all=True it works

![capture d ecran 2015-05-21 a 20 39 00](https://cloud.githubusercontent.com/assets/7256045/7756140/7af1d038-fff9-11e4-979b-45522ced9f29.jpg)

[2015-05-22 04:29] machinefixer opened #607 "How to run glances as daemon?"
Any ideas on running glances as daemon? Append '&' to cli command or more elegant way?

[2015-05-22 07:27] machinefixer commented on #607
Already fixed by using supersior and passing "-q" as parameter.

[2015-05-22 08:33] #607 closed

[2015-05-22 12:03] rverchere opened #608 "Graphical percentage bar displays "?""
Using glances 2.4.1 with psutil 2.2.1 on a Debian Wheezy server.
When I connecting via SSH from a Mac OS X based computer using the Terminal.app, the graphical % bar displays "?" instead of full green values.
I have not the issue when using a Debian client.

![screen shot 2015-05-22 at 13 58 39](https://cloud.githubusercontent.com/assets/232433/7770138/4d699082-008b-11e5-9b45-4b0a9d369419.png)

[2015-05-22 14:33] nicolargo commented on #608
It came from the use of the ASCII instead of UTF in the Mac OS X terminal. @asergi will propose a patch (2.4.2) to solve this issue.

[2015-05-22 14:39] nicolargo commented on #606
If you use Glances 2.1 or higher you can add the simfs filesystem to the list of allowed file system in the fs plugin by adding the following lines to your configuration file:

[code]

This is in the documentation: https://github.com/nicolargo/glances/blob/master/docs/glances-doc.rst#file-system

[2015-05-22 14:39] #606 closed

[2015-05-23 20:06] justmytwospence opened #609 "Short process name displays arguments"
It would be nice if there was a third format for process names, that displayed just the commands basename while also including all of the arguments.  I want to know the arguments to all my Python processes, but I can't see them easily because the path to the Python executable is something crazy like

[code]

and if I toggle the process-short-name, I can no longer see the arguments either.

[2015-05-24 13:25] nicolargo commented on #609
Best way to respond to the need without adding a new process name format will be to extend the current short process name (without the crazy folder) with the arguments.

[2015-05-25 01:31] bchretien commented on #432
I'm getting this issue again with the last release (2.4.1):

[code]

I guess some `try/catch` blocks are missing.

[2015-05-25 07:53] asergi commented on #608
Patch: https://gist.github.com/asergi/f0f9b5ccc832b555c19d

Please test.

[2015-05-25 08:07] nicolargo commented on #608
Test OK on my conf (Ubuntu + Terminator)

[2015-05-25 08:08] rverchere commented on #608
Ok for me, from a mac client:

![screen shot 2015-05-25 at 10 07 18](https://cloud.githubusercontent.com/assets/232433/7793964/f5a0fe52-02c5-11e5-8bcb-9c53b0d11574.png)

[2015-05-25 08:10] nicolargo commented on #605
Linked to https://github.com/nicolargo/glances/issues/608

[2015-05-25 08:47] asergi commented on #608
https://github.com/nicolargo/glances/commit/ee6d7e4b5c9acc14e9646519afbd9a3fdb95f3f8

[2015-05-25 08:47] #608 closed

[2015-05-25 09:25] davidkulak commented on #608
Works perfectly with all screen size on Mac OSX and iTerm.
Good work thanks.

[2015-05-25 09:44] asergi commented on #605
https://github.com/nicolargo/glances/commit/ee6d7e4b5c9acc14e9646519afbd9a3fdb95f3f8

[2015-05-25 09:44] #605 closed

[2015-05-25 11:37] notFloran opened #612 "Crash when "top extended stats" is enabled on osx"
On osx, when I try to enable "top extended stats", glances crash and show :

[code]

Maybe related to #542 ?

[2015-05-25 12:58] asergi commented on #612
https://github.com/nicolargo/glances/commit/64132c2045aeef1aaa8df164a311af20f0ff1d3f

[2015-05-25 12:58] #612 closed

[2015-05-26 11:05] Ustilago opened #613 "psutil.NoSuchProcess: process no longer exists (again)"
Hi,
I'm having for some days this error again (see #421), with Glances 2.5beta with PSutil 2.1.1 :
[code]
I'm using Debian Sid, glances is launched in a screen session in a rxvt terminal in a virtualenv :
[code]
Crashes are random, sometimes at work, sometimes at home (it's a laptop), I can't find an action leading to the crash.
Regards,
Sébastien

[2015-05-26 13:46] #566 closed

[2015-05-26 13:47] #601 closed

[2015-05-26 19:05] asergi commented on #613
@nicolargo fixed a similar issue yesterday (https://github.com/nicolargo/glances/commit/4f79ead1b46292186fda68fba3aee128108246e8). Could you test it again?

[2015-05-26 20:17] nicolargo commented on #613
Same issue than https://github.com/nicolargo/glances/issues/432
Patch (4f79ead) should solve the issue.

Can you test, cannot reproduce on my system.

[2015-05-28 20:02] nicolargo commented on #613
Assume solved...

[2015-05-28 20:02] #613 closed

[2015-05-30 19:24] nicolargo opened #614 "Display an error if export is not used in the standalone/client mode"
Glances can be run using export and server/webserver/browser mode. But the export did not work.
An error message should be displayed.

[2015-05-31 14:40] nicolargo commented on #500
Done in latest commit on the develop branch (Glances 2.5beta).
Can you test and comment please => https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version#use-a-python-virtual-environment-the-easy-and-standard-way ?

[2015-05-31 15:20] HLFH commented on #500
Ok big thanks!!! I'm just testing it with Docker: https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version#use-a-docker-container ; it seems that the command is wrong: it should be docker instead of docker.io

[2015-05-31 15:24] nicolargo commented on #500
Forgot the docker method to test Glances, uses a virtual environment (vitrenv).

[2015-05-31 15:31] HLFH commented on #500
Ok thx. I guess if #500 solves the authentication for the browser mode, issue #446 related to the authentication for the webserver mode (glances -w) is not solved with this commit.

[2015-05-31 15:41] nicolargo commented on #500
OK, thk for the feedback.

For the issue #446 it is planned in the 2.5 release: @notFloran or @nclsHart Can you have a look ?

[2015-05-31 16:40] nicolargo commented on #614
Done

[2015-05-31 16:40] #614 closed

[2015-06-01 05:36] notFloran commented on #446
I can look at that, but I have few questions :
- the user/password will protect all the web server (api + web UI) ?
- we add two command-Line Options to set the user and password of the web server ?
- same thing for the config ?

[2015-06-01 09:21] nicolargo commented on #446
Hi Floran,

* the user/password will protect all the web server (api + web UI) ?
=> Yes

* we add two command-Line Options to set the user and password of the web server ?
=> Best way is to use the --password (idem server side)

* same thing for the config ?
=> For the moment, user can not define the server password from the configuration file (only the client's password for the --browser mode)

[2015-06-01 20:42] notFloran commented on #446
What do you think of this first try : https://github.com/notFloran/glances/commit/b0940c9c69b41d69c73c74e7370f6b769ab481af

I'm not a python developer so I hope I haven't done anything stupid.

[2015-06-02 07:20] nicolargo commented on #446
Not tested but look ok for me.
l will have a closer look this evening.

[2015-06-02 08:33] notFloran commented on #446
I created a PR for the review #615

[2015-06-02 12:33] nicolargo commented on #446
Merged in the develop branch.

@notFloran:
[ ] Do you think that it is possible to include the authentification inside the WebUI interface (not a browser popup) ?
[ ] I did not test the Resful API authentication...

[2015-06-02 17:25] nicolargo commented on #609
Done.

[2015-06-02 17:25] #609 closed

[2015-06-02 17:35] nicolargo commented on #546
@desbma What do you think ? Postpone until the PsUtil bug correction ?

[2015-06-02 18:09] desbma commented on #546
It's clearly a psutil bug, but I did not check if there is already an open ticket about it.

But yeah this needs to be fixed in psutil, we don't want to add a workaround against what is already a workaround.

[2015-06-02 18:14] nicolargo commented on #546
Ok, postpone to another release.
Nevertheless, i am not sure that PsUtil considers the trucate name as a bug...

[2015-06-02 18:16] nicolargo commented on #523
Done: https://github.com/nicolargo/glances/wiki

[2015-06-02 18:16] #523 closed

[2015-06-02 18:45] desbma commented on #546
I've created an issue in psutil

[2015-06-02 19:02] desbma commented on #446
Just my 2 cents, but I think an authentication with just a sha256 against the password provides very little security.

We should either:
1. Use strong PBKDF like [Scrypt](https://en.wikipedia.org/wiki/Scrypt]) (it has great Python bindings, like [pylibscrypt](https://pypi.python.org/pypi/pylibscrypt))
2. Clearly document that this is not secure and not designed to be exposed in the open Internet (

[2015-06-02 20:07] nicolargo commented on #446
Be my guest @desbma :)

[2015-06-02 20:18] desbma commented on #446
Ok, I will submit a pull request when I have some time (probably this week end).

[2015-06-02 20:21] nicolargo commented on #446
But two points should be discussed:

1) The encryption algorithm should be configurable (Scrypt or sha256, sha256 should be the default choose). Il want to keep a retro compatibility with third parties software
2) I just test the Scrypt lib and it use a lot of CPU and mode than 10 seconds ton encore a simple string...

![espace de travail 2_375](https://cloud.githubusercontent.com/assets/776747/79

[2015-06-02 20:55] desbma commented on #446
To answer your concerns:

1. Scrypt can use [MCF](https://pythonhosted.org/passlib/modular_crypt_format.html) which is the standard way of storing hashes (it is stored with an identifier for the algorithm used, so that it is backward and forward compatible).  Unfortunately, [glances currently stores `salt$password`](https://github.com/nicolargo/glances/blob/fd6c7a8934065108cc8f7b0ab3a2fa4ccf49e2f9

[2015-06-02 23:34] asergi commented on #546
About @desbma proposal:

It might seem a good idea at first glance but there are two main problems:

- using `partition` will only split the string at the first occurrence of the given argument (the process name). So the above example will be:

Imo, that would be good as well.

- process name as sentinel: it becomes a problem when the it appears more than once in the full cmdline. For instance:

T

[2015-06-03 07:27] asergi commented on #446
My 2 cents:

there are better and stronger algorithms for sure, imo the current way is good enough for our needs.
We could add support for more but I don't want to depend on third-party libraries for that by default.

We could make the current method [MCF](https://pythonhosted.org/passlib/modular_crypt_format.html)-compliant (a standard that it isn't) just adding the prefix (the rounds is optional

[2015-06-03 18:36] desbma commented on #546
You are right it's not perfect.

Ideally we should use `process.exe()` but it tried other approaches with it and there are always some corner cases where that fails.
For example when starting Python in a venv, `cmdline` starts with `python` but `exe` starts with `python3.4`...

There is also the fact that some platforms return empty strings for some of theses, and we have no unit tests to check if

[2015-06-03 19:05] desbma commented on #446
I see two security issues :

1. A SHA256 is cheap to compute by today's standard (I hash data at +150MB/s with 1 core on my 4 year old computer), and currently there is zero protection against brute force. So anybody can send millions of auth attempts to a server. The consequences of an attacker getting access can be even worse if #476 is implemented.

2. If the password file is stolen it is reaso

[2015-06-03 20:00] nicolargo commented on #446
About the "third party software": i receive a lot of messages concerning the use of the Glances' XMLRPC and RESTFUL API  in private applications. For exemple a company use it to grab stats from remote server to a central home made monitoring system. They use the XMLRPC lib with the current authentication. My point of view is that the current SHA256 is strong enough for internal use (inside LAN or

[2015-06-04 14:25] asergi commented on #546
The process name is only used when the cmdline is not available or you want to display it explicitly. Even in the develop branch.

I took the inspiration for this approach from htop. It's a path-based solution. More reliable and less headache, imo.

[2015-06-04 15:58] mrvkino opened #616 "Backspace in filter"
The backspace is not working in the filter test box. We need to go the start of the line overwrite the string and add space to erase the letter left from the previous filter that are not overwritten.

Could clear the dialog box and/or make the backspace work?

Thanks

[2015-06-05 17:15] xeon927 commented on #500
Is there any info on how this works? Which host does the password come from (ie, does it read the remote machine's hostname, the set server name, or the alias?) - I've tried all three so far, and don't seem to have much luck. Keep failing to connect, saying it's a bad password.

If it comes to it, would it be easier to integrate it with the rest of the options, instead of in its own [password] blo

[2015-06-05 20:36] nicolargo commented on #500
@xeon927 ; first of all, you have to use the develop branch (read the Wiki here: https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version).

The passwords should be defined in the client's configuration file as following (ex with a client called **xps**):

[code]

[2015-06-07 08:02] LeDistordu opened #617 "Hide Core temp if is virtual machine"
HDD temp is useless when you are on virtual machine, can you automatically hide it when glances is on virtual machine ?

[2015-06-07 09:34] nicolargo commented on #616
The backspace key works like a charm on my PC...
What is your OS configuration & Glances version.

[2015-06-07 09:39] nicolargo commented on #617
Do not understand the issue description.

With Glances 2.4.2:
* The HDDTemp plugin is displayed only if HDDTemp daemon is detected.
* You can use the --disable-hddtemp to force it

What is your OS/VM, what is your Glances version ?

[2015-06-07 12:57] xeon927 commented on #500
I've got the develop branch up and running well - had that before my prior message, yet still am getting the issue of it refusing to connect due to an incorrect password.

eg.
Server (develop branch, let's call it `serv01`, alias of `server`, `IP 192.168.1.2`) running as `glances --server --password`, entering the password "abc123", and saving to file.
Client (develop branch, same machine), runnin

[2015-06-07 19:27] nicolargo commented on #500
Can you start Glances in debug mode (-d) and send us back the log file (extract before the ERROR message) ?

[2015-06-08 09:41] LeDistordu commented on #617
actually I had the package installed hddtemp, i purge it but always the same

Glances 2.4.2
Debian Jessie

![hddtemp](https://cloud.githubusercontent.com/assets/7805145/8031939/a4de6afa-0dd2-11e5-80b5-3bbf3ae03f8d.jpg)

[2015-06-08 09:43] LeDistordu commented on #617
erf '-_- it's not hdd temp but core temp sorry....

Glances 2.4.2
Debian Jessie

![hddtemp](https://cloud.githubusercontent.com/assets/7805145/8032044/6a931ee4-0dd3-11e5-9bdf-77e6da4d11f4.jpg)

[2015-06-08 09:50] nicolargo commented on #617
Ok, you can disable the sensor plugin using the --disable-sensors option.

[2015-06-08 10:28] xeon927 commented on #500
Here's the full error log up until (and including) the error:

    2015-06-08 20:21:53,005 -- INFO -- Start Glances 2.5beta
    2015-06-08 20:21:53,005 -- INFO -- CPython 2.7.3 and PSutil 2.2.1 detected
    2015-06-08 20:21:53,028 -- INFO -- Read configuration file '/home/xeon927/.config/glances/glances.conf'
    2015-06-08 20:21:53,029 -- INFO -- Auto discover mode is disabled
    2015-06-08 20:2

[2015-06-08 11:18] nicolargo commented on #500
@xeon927 One more think, can you send us the log of the client side ?

[2015-06-08 11:27] xeon927 commented on #500
@nicolargo That log was from the client. In addition, after starting up the server, even with debug mode enabled, it does not spit out any info on a failed connection. Only the client, which is detailed in the log above :)

[2015-06-08 11:29] nicolargo commented on #500
@xeon927 Sorry, the server side ;)

[2015-06-08 11:34] xeon927 commented on #500
@nicolargo Not a problem - all good. Log is a bit long, so I threw it up on Pastebin: http://pastebin.com/hq0bBYtK

As mentioned just above, when attempting to connect, it doesn't log anything for the server.

[2015-06-08 11:37] nicolargo commented on #500
Thk @xeon927 i will have a closer look as soon as possible.

[2015-06-08 11:46] xeon927 commented on #500
@nicolargo Not a problem :)

[2015-06-09 12:48] mrvkino commented on #616
I am on OSx 10.10.3 using iTerm latest release and I use Glances v2.3 with psutil v2.2.1.

[2015-06-10 05:07] notFloran commented on #616
Same thing on OSx 10.10.3 using iTerm latest release and Glances v2.5beta with psutil v2.2.1

[2015-06-10 05:17] notFloran commented on #616
It seems that iterm use **^?** for backspace.

See https://bugs.python.org/issue23598

[2015-06-11 11:45] AJNOURI opened #618 "PSutil 2.0 or higher is needed. Glances cannot start."
Hi,
Installed glances, but still asking for psutil, though already installed.
[code]

[code]

[code]

------------
[code]

[2015-06-14 08:08] nicolargo opened #619 "Enhancement: Compatibility and new feature for PsUtil 3.0"
See: http://grodola.blogspot.com/2015/06/psutil-30.html

[2015-06-14 08:11] nicolargo commented on #619
Glances 2.4 and 2.5beta look compatible with PsUtil 3.0.

[2015-06-18 02:46] adamcrume opened #620 "Support Fahrenheit"
I know it's US ridiculousness, but I understand Fahrenheit better than Celsius.  Please support Fahrenheit for the temperature sensors.

[2015-06-18 20:21] nicolargo commented on #620
Not so ridiculuss ;)

Will add a option on the command line to switch to Fahrenheit unit.

[2015-06-18 20:24] nicolargo commented on #618
Whait is your current Glances and PsUtil version.

Please send us back the result of the command line:

    glances -V

[2015-06-19 20:33] nicolargo commented on #600
Implemented: https://github.com/nicolargo/glances/commit/4b1f5a2731179c95f258775fe3e12b973e37712a

[2015-06-19 20:33] #600 closed

[2015-06-19 21:15] nicolargo commented on #620
Done

[2015-06-19 21:15] #620 closed

[2015-06-20 12:44] nicolargo commented on #617
Use as it.

[2015-06-20 12:44] #617 closed

[2015-06-20 12:46] nicolargo commented on #616
Use as it (with the notFloran's work around).

[2015-06-20 12:46] #616 closed

[2015-06-20 12:57] #446 closed

[2015-06-21 16:48] ewan34500 opened #621 "Cache"
When I install Glances, That will install a cache program too ? Because on my website now, when I update my css files, the update doesn't work ...
Can you help, or explain how to disable ?

[2015-06-21 21:41] Phrohdoh opened #622 "OS X 10.10.3 crash."
[code]

Glances v2.4.2 with psutil v3.0.1
Python 2.7.9+

I was running tmux with 2 panes, one for glances and the other was me building radare2 from source.

[2015-06-22 11:58] nicolargo commented on #621
Nope.

[2015-06-22 11:58] #621 closed

[2015-06-22 12:00] nicolargo commented on #622
Do you have the same issue running Glances with root right ?

    $ sudo glances

?

[2015-06-23 09:26] tbu- opened #623 "Infrequently crashing due to assert"
The backtrace shown is:
[code]

I have
[code]
on Arch Linux.

[2015-06-25 14:24] nicolargo opened #624 "Export error with InfluxDB 0.9"
The InfluxDB API has change:

- "name" => "measurement"
- "columns"/"points" => "fields"
-  ...

Before (InfluxDB v0.8):

[code]

After (InfluxDB v0.9):

[code]

See: https://github.com/influxdb/influxdb/issues/2564

[2015-06-30 07:18] nicolargo opened #625 "Bug when I try run glances"
Hello. I'm install program by command:

pip install Glances and by small "g" too and from github and each time when

try to lonch it have crush:

[code]

System information:
Operating System Type :  GNU/Linux
OS Name : Zorin OS
OS Version : 9
Architecture :  x86_64
Kernel Release :  3.13.0-53-generic

[2015-06-30 11:44] mike-tr-adamson commented on #625
I ran into this on my mint (ubuntu) install. The distro package python-netifaces was installed and this is currently at v0.8 so didn't have the gateways method. Uninstalling this package and installing the pypi package fixed the problem, i.e sudo pip install netifaces.

[2015-07-01 02:37] jos666 opened #627 "When python 2.6 installation glances 2.4.2 library is not part of the associated installation"
**python 2.6  install  glances 2.4.2**

## ERROR1
Traceback (most recent call last):
  File "/usr/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.4.2', 'console_scripts', 'glances')()
  File "/usr/lib/python2.6/site-packages/pkg_resources.py", line 299, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python2.6/site-packages/pk

[2015-07-01 19:13] ogerasymenko commented on #625
pip install --upgrade netifaces this help. with netifaces v. 0.10.4 glances works fine.

[2015-07-02 06:59] nicolargo commented on #625
+1 for @ogerasymenko

[2015-07-02 06:59] #625 closed

[2015-07-03 16:16] MaxiBul opened #628 "Implement IRIX mode on/off"
I have CPU with 8 cores.
Total CPU usage: 16%
But [monitor] group for PHP-FPM sometime output CPU: >100%. Looks like has to be divided on number of cores?

[2015-07-03 22:17] matthew-parlette commented on #618
I'm having the same issue. Not to hijack this thread but I'd like to see some movement on this if possible so I'm providing the feedback requested. Here are my outputs:

[code]

I was previously using psutil 3.0.1, but I tried 2.2.1 to see if that helped, but I got the same error.

[2015-07-07 17:22] emidln commented on #624
I addressed this in: https://github.com/nicolargo/glances/pull/629

[2015-07-10 11:10] emidln commented on #624
#629 was closed in favor of #630 which is properly rebased against develop.

[2015-07-11 20:27] emidln commented on #516
I didn't actually see this before, but I added support via a tags parameter in the form of

[code]

as part of the InfluxDB 0.9.x PR #630. Unless you want the refactor the tags support to this format, I think we could close this issue.

[2015-07-11 20:27] emidln commented on #624
This was merged into develop via #630 and can be closed.

[2015-07-11 21:32] nicolargo opened #631 "Add an option to display Quicklook on top"
Cristian Rios asked:
"I'd like to disable the CPU and Memory displays (the ones in the top right corner), so that there will be enough space to show the quicklook module, but I can't find anything in the docs or the command line reference about this. Is there a way to do this?"

[2015-07-11 21:37] nicolargo commented on #628
Nope, the processes CPU is given "per core". If a process use all CPU of the first core, Glances displays 100%. If it use 2 Core, Glances displays 200%...

[2015-07-13 07:18] MaxiBul commented on #628
But you have "'1' Switch between global CPU and per core stats". May be better sync this setting with all CPU data? In my case I use "global CPU stats", but for PHP-FPM I see > 100%. This is little confuse...

[2015-07-13 08:57] nicolargo commented on #628
I understand your point of view.

I have a look on the top's man page:

[code]

For Glances, i think that the default behavor is to stay with the current Irix mode on. I can add a shortcut and a command line option  to switch to Irix mode off.

[2015-07-15 15:10] muhahacz opened #632 "glances vs glances -w, diferent config?"
Hi, can you please explain to me a difference between running glances from console and running it as a web server?
Because in console there are things like.. sensors with temperature below 1°C are not shown.
Processes are shown with ps -full flag, etc.
I didnt find any default config on my system,

( ~/.config/glances, /etc/glances )

I want same settings in web server mode, as in console mode.

T

[2015-07-18 17:27] asergi commented on #627
Closed #627 via https://github.com/nicolargo/glances/commit/c9df26a2270989241a80f9ba89a56da8f73d1041.

[2015-07-18 17:27] #627 closed

[2015-07-18 22:09] AJNOURI commented on #618
[code]
Cannot make it work neither with (psutils) nor with (psutils + psutils3)

![selection_119](https://cloud.githubusercontent.com/assets/1716020/8763689/26daaf90-2daa-11e5-8fa2-e489ae0c5825.png)

[2015-07-19 00:54] nicolargo commented on #632
You should have the same result in the console and Web server mode. If not, it's a bug.
For the process list, there is some additional infomation displayed in the console.

Please, can you post your issues ?

[2015-07-19 02:01] nicolargo commented on #628
Implemented in the latest commit:

IRIX mode can be switched off using: --disable-irix command line tag or '0' shortkey.

[2015-07-19 02:01] #628 closed

[2015-07-20 08:30] asergi commented on #618
It's a Debian issue. Debian's pip is utterly broken.

- uninstall glances and psutil you previously installed via apt and pip
- manually delete all glances directories in `/usr/local/lib/python2.7/dist-packages/`
- reinstall glances

Also, do not mix apt+pip.

P.S. psutil != psutils

[2015-07-20 15:04] mbirth opened #637 "[Request] Support /sys/class/thermal/thermal_zone* directly"
Please add support to read and display temperature from e.g.

[code]

directly without the need for lm-sensors. lm-sensors doesn't detect any sensors on my Raspberry Pi 2 board, but the `thermal_zone0` is already detected by the kernel so no lm-sensors needed.

[2015-07-20 18:50] muhahacz commented on #632
Look at these images, that i just uploaded..
glances
http://s12.postimg.org/vfhybl1rx/glances_shell.jpg
glances -w
http://s12.postimg.org/x60zd2jb1/glances_web.jpg

[2015-07-21 11:57] nicolargo opened #638 "Add support for OpenTSDB export"
Glances should be able to export the stats to an Opentsdb database (http://opentsdb.net/).

Python client: https://pypi.python.org/pypi/potsdb

[2015-07-25 09:17] nicolargo commented on #637
Hi Markus,

here are others folders in /sys/class/thermal/ ?

Nicolas

[2015-07-25 09:18] nicolargo commented on #637
File format: http://kernelreloaded.blog385.com/index.php/archives/formatting-output-from-raspberry-pi-temperature-sensors/

[2015-07-27 12:56] jakirkham opened #639 "ENH: CPU utilization on each core"
It would be nice to be able to see CPU usage for each core independently instead of an average. Ideally, this would be similar to how `htop` displays this information.

[2015-07-27 13:45] nicolargo commented on #639
RTFM...

Click '1' in the interface to switch to per CPU,
or use the --per-cpu tag from the command line.

[2015-07-27 13:45] #639 closed

[2015-07-27 14:42] jakirkham commented on #639
Sorry, I don't think we are understanding each other. I am hoping to see bars like the one you have for each CPU like can be seen with `htop` here.

![screen shot 2015-07-27 at 10 38 32](https://cloud.githubusercontent.com/assets/3019665/8908749/ce9b918e-344b-11e5-9639-ca35b268a18e.png)

[2015-07-27 14:43] jakirkham commented on #639
Also, I tried using the `--per-cpu` flag does not work. See result of attempted use below.

    # glances --per-cpu
    usage: glances [-h] [-V] [-d] [-C CONF_FILE] [--disable-network]
                   [--disable-ip] [--disable-diskio] [--disable-fs]
                   [--disable-sensors] [--disable-hddtemp] [--disable-raid]
                   [--disable-docker] [--disable-left-sidebar] [--disab

[2015-07-27 14:46] nicolargo commented on #639
You have a old Glances version, please use '-1' tag

[2015-07-27 14:47] jakirkham commented on #639
I am using the latest release version.

    $ glances --version
    Glances v2.4.2 with psutil v2.2.1

[2015-07-27 14:59] jakirkham commented on #639
Ah, its `--percpu`. Then it works. Is there some reason this doesn't show up in the usage dialog? FWIW, it does show up with `glances -h`.

[2015-07-27 15:13] jakirkham opened #640 "ENH: CPU bar visualizing utilization on each core"
It would be nice to be able to see bars visualizing the CPU usage for each core independently instead of an average. Ideally, this would be similar to how `htop` displays this information. See example bars in `htop` below.

![screen shot 2015-07-27 at 11 10 34](https://cloud.githubusercontent.com/assets/3019665/8909628/552c2476-3450-11e5-95f7-af9a6badc29e.png)

[2015-07-27 15:13] jakirkham commented on #639
I tried to provide a clearer explanation of what I meant with this issue here ( https://github.com/nicolargo/glances/issues/640 ).

[2015-07-28 09:44] mbirth commented on #637
@nicolargo On my RasPi, the folder looks like this:

[code]

On my Acer Aspire Revo 3610, it looks like this:

[code]

I'd assume, it's possible to have thermal_zone1, thermal_zone2, etc.

[2015-07-30 12:15] crepererum opened #643 "Container name problem"
![screenshot from 2015-07-30 14-14-19](https://cloud.githubusercontent.com/assets/1529400/8982849/4b13ec90-36c5-11e5-8a3d-9e5ef7a966bf.png)

The leading underscore and the too short container names seem to be kinda wrong.

[2015-07-30 12:54] nicolargo commented on #643
Already corrected in the develop branch: https://github.com/nicolargo/glances/commit/e116ff4d4509a7f97ae58f939dee086f01813a63

Thanks for the report.

[2015-07-30 12:54] #643 closed

[2015-07-30 12:58] crepererum commented on #643
Thank you :+1:

[2015-07-30 20:50] EduardBaer opened #644 "Value for free disk space is counterintuative on ext file systems"
The value for free disk space is counterintuitive on file systems like ext2/3/4, possibly others as well.
By default, 5% of the disk space is reserved for root, at least on ext file systems.

At the moment, glances includes these 5% when showing the free space. But since this space is reserved no one but root can actually use it. Therefore it would make more sense to show only the remaining usable

[2015-07-31 11:09] nclsHart commented on #553
Fixed by #642.

For the shortcut problem, it'll be fixed by #554.

[2015-07-31 11:09] #553 closed

[2015-07-31 11:39] nicolargo commented on #644
Thks for the head up.

Corrected in develop branch.

[2015-07-31 11:39] #644 closed

[2015-07-31 14:49] zwb-ict opened #645 "CRITICAL: Curses module not found. Glances cannot start in standalone mode"
I installed glances with pip, then I run, get an error: CRITICAL: Curses module not found. Glances cannot start in standalone mode.

OS verison: Mac OS X 10.11 Beta (15A234d), python version: 2.7.10 (installed by brew) Pip version: 7.1.0

[2015-08-02 14:56] nicolargo commented on #645
Hi,

can you check that Curses is installed ?

[code]

[2015-08-02 14:59] zwb-ict commented on #645
@nicolargo I checked , I have it curses installed(with brew), version is 5.9, import curses got no error.

[2015-08-03 13:36] zwb-ict commented on #645
@nicolargo  It's very strange， I removed brew's python, run Mac system python, import curses OK, but install brew;s python, import curses get error:

Python 2.7.10 (default, Jul 18 2015, 17:21:56)
[GCC 4.2.1 Compatible Apple LLVM 7.0.0 (clang-700.0.59.1)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, i

[2015-08-03 16:33] #645 closed

[2015-08-03 16:33] nicolargo commented on #645
Open the issue on Brew issue tracker.

[2015-08-03 17:13] nicolargo commented on #640
Implemented in the develop branch

[2015-08-03 17:13] #640 closed

[2015-08-03 17:23] nicolargo commented on #631
Done in the develop branch.

[2015-08-03 17:23] #631 closed

[2015-08-03 18:25] jakirkham commented on #640
Thanks @nicolargo. I'll try taking this for a spin.

[2015-08-03 20:26] #624 closed

[2015-08-03 20:39] nicolargo opened #646 "Improve IP plugin to display public IP address"
Before:

    IP 172.30.5.39/24

After:

    IP Priv: 172.30.5.39/24 | Pub: 89.39.10.1

Note: | Pub: 89.39.10.1 is optional (only if space available)

See: http://stackoverflow.com/questions/9481419/how-can-i-get-the-public-ip-using-python2-7 (! not Python3 compliant)

[2015-08-04 10:39] zwb-ict commented on #645
@nicolargo Thank you for your help! I open the issue on Brew issue tracker, and have solved this problem.

[2015-08-04 12:32] jakirkham commented on #640
Had a chance to try this today. It works very nicely. Thanks again @nicolargo.

[2015-08-06 12:30] nicolargo commented on #646
Pb: very slow. Can only done when Glances is started.

[2015-08-06 12:49] nicolargo commented on #623
Corrected in DEVELOP branch.
Thk for the report.

[2015-08-06 12:49] #623 closed

[2015-08-06 13:08] nicolargo commented on #638
For the develop environment: use the followinf container https://registry.hub.docker.com/u/petergrace/opentsdb-docker/

[2015-08-06 21:11] nicolargo commented on #638
Done in the DEVELOP branch.
Tested with OpenTSDB 2.2.0

[2015-08-06 21:11] #638 closed

[2015-08-06 21:12] nicolargo commented on #619
Ok with PSutil 3.1.1

[2015-08-06 21:12] #619 closed

[2015-08-06 21:13] nicolargo commented on #516
Ok.
Also done for the OpenTSDB export module.
Thk for the contrib.

[2015-08-06 21:13] #516 closed

[2015-08-06 22:36] jakirkham opened #647 "Can't delete filter text (Mac OS 10.9, Python 2.7, psutil 3.1.1, glances latest)"
After entering filter text, using the delete key fails to delete text.

[2015-08-07 06:27] nicolargo commented on #647
Try ctrl-d
Le 7 août 2015 00:36, "jakirkham" <notifications@github.com> a écrit :

[2015-08-07 07:25] jakirkham commented on #647
ctrl-d also does not work.

[2015-08-08 15:52] nicolargo commented on #647
Give a chance to **CTRL-H**...

[2015-08-08 16:09] nicolargo commented on #632
For the process name it's a feature, not a bug. In the Web UI, only short name is display in the current version.

For the SENSOR module it's an issue => @nclsHart can you have a look ?

[2015-08-08 16:10] #618 closed

[2015-08-08 16:38] jakirkham commented on #647
Actually, `ctrl-h` does work.

[2015-08-09 16:05] nicolargo commented on #647
Docs should be updated.

[2015-08-10 15:28] jakirkham commented on #647
Is there some reason that the delete key doesn't work here?

[2015-08-13 09:07] cazzoo opened #648 "Grafana Dashboard outdated for InfluxDB 0.9.x"
Hello!

I just installed Glances, InfluxDB 0.9.x and Grafana and tried to add the dashboard to Grafana. Unfortunately, all the queries are not working as all set to default.

I used the file providen there : [github file](https://github.com/nicolargo/glances/blob/master/conf/glances-grafana.json)
I double checked to import the correct json file but after many tries I looked for dashboard queries..

[2015-08-13 09:20] nicolargo opened #649 "Crach with Docker plugin"
Glances 2.5beta

Traceback:

[code]

[2015-08-13 09:23] nicolargo commented on #648
What is your Glances version.

Glances 2.4 is not compliant with InfluxDB 0.9.X.
You should use the develop branch (Glances 2.5 beta).

[2015-08-14 13:32] nicolargo opened #650 "WebUI - Glances Web mode do not support debug mode"
Glances 2.4.2.

[code]
Glances just sits there forever with the Glances "an eye on your system".

Source: https://groups.google.com/d/msgid/glances-users/82d16936-e133-46eb-80cb-8f989c679a14%40googlegroups.com?utm_medium=email&utm_source=footer

[2015-08-15 08:18] #649 closed

[2015-08-15 21:02] nicolargo commented on #520
Todo: Refactor the Docker plugin to implement the stats getter in a thread.

See the Gist: https://gist.github.com/nicolargo/91a1df2471d8f4b608ce

[2015-08-17 09:36] d2a-raudenaerde commented on #622
I have the a similar problem (ubuntu 14.04 LTS)
raudenaerde@roba-ubuntu:~/$ sudo glances
Traceback (most recent call last):
  File "/usr/local/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.4.2', 'console_scripts', 'glances')()
  File "/usr/local/lib/python2.7/dist-packages/glances/__init__.py", line 122, in main
    args=core.get_args())
  File "/usr/local/lib/python2.7/dist-p

[2015-08-17 09:43] nicolargo opened #651 "Error with IP plugin"
Source: https://github.com/nicolargo/glances/issues/622#issuecomment-131746366

I have the a problem (ubuntu 14.04 LTS):

[code]

[2015-08-17 12:34] Phrohdoh commented on #622
@nicolargo Sorry I completely forgot to respond. Yes I get the same error.

[2015-08-17 13:04] nicolargo commented on #622
Thk @Phrohdoh . I do not understand why the p['cpu_times'] is equal to None (cause of the 'TypeError: 'NoneType' object is not iterable' error message).

I will add a try/catch.

[2015-08-19 12:17] azgaviperr commented on #651
I got the exact same troubles using glances from a pip install on Fedora22 / Viperr7

Traceback (most recent call last):
  File "/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.4.2', 'console_scripts', 'glances')()
  File "/usr/lib/python2.7/site-packages/glances/__init__.py", line 122, in main
    args=core.get_args())
  File "/usr/lib/python2.7/site-packages/glances/core/glan

[2015-08-19 13:05] muhahacz opened #652 "Apache reverse proxy?"
Hello, does anyone try to setup reverse proxy on apache2.4?
I have tried this, but it is not working.
Thanks

[code]

[2015-08-19 20:03] muhahacz commented on #652
Found solution for apache2.4...
If anybody has an better idea, let me know.
Thanks

[code]

[2015-08-20 20:04] nclsHart commented on #632
Hi @muhahacz, can you send us the response returned by the sensors plugin API (http://0.0.0.0:61208/api/2/sensors by default) ?

[2015-08-21 11:58] nclsHart commented on #650
@nicolargo There is a particular reason for having chosen `~/glances/` as base path for the web UI debug file ?

[2015-08-21 12:04] nicolargo commented on #650
Nope...

[2015-08-21 12:16] nclsHart commented on #650
Maybe the glances conf directory could be a better place for this ?

Which behavior do you want if the file does not exist ? We can just ignore it or display a warning message.

[2015-08-21 12:56] nicolargo commented on #650
The configuration file and the debug file should be in a different folder.
Most of the time the default configuration file is hosted in a folder with read-only right.

[2015-08-21 14:20] nicolargo commented on #520
Status:

[ ] Network interface
[x] Disk IO

[2015-08-21 14:22] #564 closed

[2015-08-21 20:54] muhahacz commented on #632
Sure
[code]

[2015-08-22 12:58] notFloran opened #654 "Docker plugin crashs with webserver mode"
If I execute glances in webserver mode and I have a docker container running, I get :

[code]

With standalone mode : no problems

[2015-08-22 13:41] notFloran commented on #654
More infos :

It seems that *args* are not passed to *GlancesStats* in the webserver (see [here](https://github.com/nicolargo/glances/blob/develop/glances/core/glances_webserver.py#L35)).

If I passed *args* to *GlancesStats*, the web server starts.
But I can not stop Glances with CTRL + C, API stops but the process continues to run.
I have to kill the process manually.

[2015-08-22 14:41] nicolargo commented on #654
For the first point, the Docker plugin needs args to get the refresh time.
For the second poind, Docker stats are grabbed using a slow HTTP API, so the plugin needs to fork one thread per container. To kill all the threads, best way to process is to call the exit() method of the GlancesPlugin. For example, the Curses interfaces use this code to call all the plugins' exit() method: https://github.c

[2015-08-22 21:02] nicolargo commented on #654
Ok Floran, i have corrected the Glances Core to correct the args and thread bug.

[2015-08-22 21:07] nicolargo commented on #654
Anothers thinks:

[ ] the plugin do not show the MEM
[ ] the plugin do not show the network interface bitrate
[ ] the Docker (container) name can be long. The Web UI should cut it.

[2015-08-22 21:13] #632 closed

[2015-08-22 22:25] notFloran commented on #552
Hi @nicolargo , I don't have a machine with RAID. Can you send me the response returned by the RAID plugin API  ?

[2015-08-23 09:59] nicolargo commented on #552
@notFloran Here it is some sample (output from the curse Interface + RESTFUL API):

![selection_378](https://cloud.githubusercontent.com/assets/776747/9427748/389446ac-498d-11e5-9ff4-dbe7ae0e047a.png)

{"md_d0": {"status": "active", "available": "5", "used": "5", "components": {"sdc1": "1", "sdb1": "5", "sde1": "0", "sdd1": "2", "sdf1": "4"}, "config": "UUUUU", "type": "raid5"}}

![selection_379](

[2015-08-28 10:25] #554 closed

[2015-08-29 16:55] nclsHart opened #662 "[Web UI] Wrong value in filesystem plugin"
In curse interface :

![glances-fs-curse](https://cloud.githubusercontent.com/assets/833625/9563271/6b1f4b6c-4e7e-11e5-9454-c41e33f5c155.png)

In web UI :

![glances-fs-webui](https://cloud.githubusercontent.com/assets/833625/9563272/6e49da3c-4e7e-11e5-8467-34e731e1ac88.png)

[2015-08-29 19:15] nicolargo commented on #662
In the Web UI, you should use the 'used' stat not "fs.size - fs.free".

I have patch it.

[2015-08-29 19:15] #662 closed

[2015-08-30 14:29] nicolargo commented on #654
All done in the latest commit.
Also correct a bug in the network WebUI. The bitrate should be divide by the time_last_udate var.

[2015-08-30 14:29] #654 closed

[2015-08-30 14:34] nicolargo commented on #651
Catched in the latest commit.

[2015-08-30 14:34] #651 closed

[2015-08-31 11:45] nicolargo commented on #650
Verifie

[2015-08-31 11:45] #650 closed

[2015-08-31 11:46] nicolargo commented on #622
Try/except added.

[2015-08-31 11:46] #622 closed

[2015-09-04 06:58] dpcsuresh commented on #115
its not working.. can you tested

[2015-09-04 09:53] nicolargo opened #663 "The -4, --full-quicklook option did not work as expected"
See on the latest dev branch (commit: https://github.com/nicolargo/glances/commit/5c60708db66c4ab8fc69acbbc5ade5dd11c50ef2)

-4, --full-quicklook option should force Glances to display Quicklook + Load.

[2015-09-07 17:06] notFloran opened #665 "Filter processes crashs with a bad regular expression pattern"
With a bad regular expression pattern like ```*glances*```, Glances crashs :
[code]

[2015-09-08 19:12] nicolargo commented on #665
Corrected in latest commit.

Thanks for the report @notFloran

[2015-09-08 19:12] #665 closed

[2015-09-08 19:33] nicolargo commented on #663
Corrected in latest commit.

[2015-09-08 19:33] #663 closed

[2015-09-09 08:09] nicolargo commented on #652
Wiki page created.

[2015-09-09 08:09] #652 closed

[2015-09-09 08:12] #647 closed

[2015-09-10 05:39] hank opened #670 "FreeBSD 10.1 Crashes"
No matter what I do, glances crashes in freebsd 10.1 for me with python2.7 from pkg and ports.  Here's a core backtrace:
[code]
I have no idea where to go from here...

[2015-09-10 05:40] hank commented on #670
Looks like it's from netifaces.gateways()

https://bitbucket.org/al45tair/netifaces/issues/15/gateways-function-crash-segmentation-fault

[2015-09-10 05:59] hank commented on #670
I accidentally included code to fix a rare python exception from psutil in this pull request.  Feel free to leave that part out if you like.

[2015-09-10 13:00] asergi commented on #670
Clearly it's a netifaces issue.
Anyway, as a workaround, we can just disable netifaces on FreeBSD.
Here's a simple, non-intrusive and non-blocking patch: https://gist.github.com/asergi/b88f741368eccbbc2ec7
Tested on FreeBSD 10.2-RELEASE.

[2015-09-10 19:40] nicolargo commented on #670
Patch is OK for me.
@asergi : Can you merge it in the develop branch ?

[2015-09-11 10:45] asergi commented on #670
Done.

[2015-09-11 10:45] #670 closed

[2015-09-11 18:31] nicolargo commented on #520
Implemented in the latest commit.

[2015-09-11 18:31] #520 closed

[2015-09-11 20:18] nicolargo opened #672 "Add additional stats (iowait, steal) to the perCPU plugin"
All is in the title...

[2015-09-11 20:26] #672 closed

[2015-09-11 20:36] nicolargo opened #673 "Improve the QuickLookplugin by adding hardware CPU info"
The size of the Quicklook plugin is 3 lines. A free line is available to display additionnal information.
On possibility is to display hardware CPU info using the https://pypi.python.org/pypi/py-cpuinfo/ lib.

For example:

Intel(R) Core(TM) i5-4440 CPU @ 3.10GHz / Current 2.10 GHz

[2015-09-12 14:47] nclsHart opened #675 "[Web UI] Display tips on loading page"
The idea is to display randomly one of the available keyboard shortcut during the loading page.

A quick POC :

![selection_009](https://cloud.githubusercontent.com/assets/833625/9831967/e09514f6-596b-11e5-93e0-7a34ccefbe52.png)

However, in order to do this properly, we will have to change the help API endpoint so that it returns a more structured response.

[2015-09-12 16:09] nicolargo commented on #675
Very nice idea. I propose to extend the enhancement to the Curses  interface.
For the help plugin. I will extend the json structure with a tips key for all relevant tips.

[2015-09-12 23:08] stephdl commented on #627
Hi
I Have the same issue when I start glances

Traceback (most recent call last):
  File "/usr/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.4.2', 'console_scripts', 'glances')()
  File "/usr/lib/python2.6/site-packages/pkg_resources.py", line 299, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python2.6/site-packages/pkg_r

[2015-09-12 23:13] stephdl commented on #627
I manually installed logutils by pip install and then it works now, but I don't understand why the dependence was not installed automatically

[2015-09-13 08:35] notFloran commented on #552
I made a PR for the raid plugin #676

[2015-09-13 12:49] nicolargo commented on #673
Done

[2015-09-13 12:49] #673 closed

[2015-09-13 15:23] nclsHart commented on #675
I think we should take this opportunity to improve the existing structure of the help API response. With a json structure like bellow we will have more possibility for customize the Web UI help page :

[code]

You already have an idea of where you want to display it in the curses interface ?

[2015-09-13 15:51] nicolargo commented on #675
No idea for the moment. One option is to display the tip in the shell when the user exit.

[2015-09-17 08:33] nicolargo opened #681 "When a process filter is set, display sum of CPU, MEM..."
When a process filter is set, Glances should display a line (at the bottom of the process list) with a summary: CPU Total, MEM Total, Bitrate Total...

[2015-09-18 09:21] nicolargo commented on #681
Done.

Previous:
![selection_001](https://cloud.githubusercontent.com/assets/776747/9956215/57057bd2-5df7-11e5-8236-c9feb45c3074.png)

[2015-09-18 09:21] #681 closed

[2015-09-18 12:43] #561 closed

[2015-09-18 12:45] nicolargo commented on #552
Process filter will be postpone in the next release.

[2015-09-18 12:58] #500 closed

[2015-09-19 17:17] alexbw opened #682 "Option to make CPU usage a plot, like htop"
Would be very convenient to have an option to show all CPU usages as bar charts, a la `htop`.

[2015-09-19 20:24] nicolargo commented on #682
Already available in the develop branch (future version 2.5).

![selection_397](https://cloud.githubusercontent.com/assets/776747/9978002/39bed10a-5f1d-11e5-8b73-c88e58eb5738.png)

[2015-09-19 20:24] #682 closed

[2015-09-20 20:06] kevinlondon opened #684 "Disable shell=True for monitoring commands"
Hello! This is somewhat related to a [Pull Request I opened](https://github.com/nicolargo/glances/pull/683). I'm checking for security issues in a few projects and noticed that this one uses `shell=True` for checking the output on the monitoring commands.

[code]

This could be problematic, especially if the configuration file is not properly sanitized or the command includes some illegal characte

[2015-09-22 04:52] hank opened #685 "p['cpu_times'] is None"
Crashing repeatedly in freebsd after some hours:
[code]

[2015-09-22 06:54] nicolargo commented on #685
REJECTED: duplicated https://github.com/nicolargo/glances/issues/622

[2015-09-22 06:54] #685 closed

[2015-09-22 06:57] hank commented on #622
Ah I see - I search for "cpu" in the title, and didn't find this.  I should really start using the develop branch...

[2015-09-22 07:01] nicolargo commented on #622
Not a problem ;)

[2015-09-22 07:02] nicolargo commented on #622
@hank The version 2.5 is in RC...

[2015-09-26 02:00] HLFH opened #687 "[WebUI] hddtemp not displayed in Web UI"
Hi,

hddtemp is not displayed in Web UI but is displayed in console (here, crosh terminal, Chrome OS). You don't see sda temp in Web UI...

**In console:**
![screenshot 2015-09-26 at 03 42 01](https://cloud.githubusercontent.com/assets/2359059/10115201/aaf62624-6400-11e5-9d15-6612b2cacf5b.png)

**In Web UI:**
![screenshot 2015-09-26 at 03 59 31](https://cloud.githubusercontent.com/assets/2359059/1

[2015-09-26 22:35] notFloran commented on #687
Hi,

Can you give it a try with the develop branch (see https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version) ?

Can you dump the result of http://HOST:61208/api/2/sensors ? I need this dump to reproduce the bug.

[2015-09-30 22:13] rk4an commented on #648
Hi

 Just test 2.5RC1 with InfluDB 0.9 and I have this error:

[code]

[2015-10-06 08:48] nicolargo opened #691 "[WebUI] Add process filtering to the WebUI and Restful API"
Linked to https://github.com/nicolargo/glances/issues/552

Add process filtering in the WebUI. A form should be available.

[2015-10-06 08:49] #552 closed

[2015-10-06 08:55] #691 closed

[2015-10-06 08:55] nicolargo commented on #691
Duplicated https://github.com/nicolargo/glances/issues/410

[2015-10-06 21:14] HLFH opened #693 "[feature] Change username for server and web server authentication"
Hi,

We now have web server authentication in 2.5 release thanks to this PR: https://github.com/nicolargo/glances/pull/615

We could do that to create a password:
[code]
but I would love to create also a username for full web server authentication:
[code]
With that, I could replace the default *glances* username by my username.

Thanks in advance,

[2015-10-07 04:13] HLFH commented on #687
Hi @notFloran

[code]

[2015-10-07 07:24] asergi opened #694 "Unable to unlock password protected servers in browser mode"
Steps to reproduce (using Glances 2.5):
- server: glances -s --password
- client: glances --browser
- select the password protected server
- enter the password
[code]

[2015-10-07 07:41] asergi commented on #694
`glances_passwordlist` has no `sha256_hash` method and also has the same class name of `glances_password`.

Only Glances 2.5 is affected by this bug, not 2.4 series.

[2015-10-07 07:44] xeon927 commented on #500
Issue has been closed, though still does not work - possibly related: #694

[2015-10-07 08:22] asergi commented on #694
I came up with this patch which solves the above crash:
[code]

[2015-10-07 08:47] nicolargo commented on #694
Looks nice for me.

Can you push it on the develop branch ?
I will release a 2.5.1 patch.

[2015-10-07 11:10] asergi commented on #694
https://github.com/nicolargo/glances/commit/25b6b5c797b348318bf3f1bf110944c4f37d5e2d

[2015-10-07 11:10] #694 closed

[2015-10-07 14:10] nicolargo opened #695 "Compress stats history's table"
The history store  for CPU, MEM, LOAD, DISK IO, Net IO stats. Glances stores data in a dict of list. The goal is to optimize the memory footprint by compressing data.

Have a look on the chapter 4.1.2 of the http://www.vldb.org/pvldb/vol8/p1816-teller.pdf document.

[2015-10-07 14:18] nicolargo opened #696 "Refactor stats history and export to graph"
For the moment stats history is only available to generate charts using the Matplolib library. This enhancement aims at providing a way to access to the history for others needs (for example get back in time if an alarm is detected, draw graph in the WebUI...).

The stats history should be modify:
- no more linked to the Matplotlib (or other lib)
- add a maximum retention time (by default only sav

[2015-10-07 14:22] nicolargo opened #697 "Replace Matplolib by Pygal"
Matplolib is a good but heavy lib.

Replace it by: ???

[2015-10-07 15:07] nicolargo opened #698 "Replace PSUtil processes stats grabber (on GNU/Linux)"
Processes list plugins consumes lots of CPU. Find a way (only on GNU/Linux OS for the moment) to replace PSUtil by another lib or home made functions.

[2015-10-07 19:22] asergi commented on #697
I occasionally used [pygal](http://pygal.org/). It's simple, lightweight (no required dependency by default) and you can export charts in svg or png.

[2015-10-08 10:03] Globegitter commented on #476
I think these two are great enhancements and could have used them both today :) Would love to see these making it in.

[2015-10-09 13:00] nicolargo opened #699 "Add a shortcut to delete process filter"
Add a shortcut ('F' key for example) to clear the process filter.

Change the message:

    Process filter: .*python.* (press ENTER to edit)

by:

    Process filter: .*python.* ('ENTER' to edit or 'F' to clear)

When a filter is cleared, it should be saved in memory. When a user set again a filter the default field should be filled with the saved filter.

[2015-10-11 14:40] nicolargo opened #702 "Change Docker's plugin displayed information"
For the moment, the Glances Docker's plugin displays the "not so useful" command line. The current enhancement proposes to replace the Command column by the latest logs (using the docker-py logs client stream => See https://docker-py.readthedocs.org/en/latest/api/#logs).

Before:

[code]

After:

[code]

It should be possible to get back to the old command line layout using --docker-commandline op

[2015-10-12 17:49] asergi commented on #648
@rk4an this should have been fixed in version 2.5.1.

[2015-10-16 13:20] nicolargo opened #703 "Improve filter summary with min/max/mean"
In the 2.5.x version, when a process filter is set, a summary with the sum or average of CPU and MEM is displayed.

This enhancement proposes to also display the min/max.

[2015-10-22 20:19] #703 closed

[2015-10-22 20:20] nicolargo commented on #703
![selection_414](https://cloud.githubusercontent.com/assets/776747/10677196/2154ad3a-790b-11e5-8ad2-671c9fda22e2.png)

[2015-10-22 20:46] nicolargo opened #708 "Add timestamp to the CSV export module"
Add timestamp to the .CSV file (first column).

[2015-10-25 20:57] nicolargo commented on #708
Done in latest commit.

[2015-10-25 20:57] #708 closed

[2015-10-25 23:01] tbu- opened #709 "Infrequently crashing because of the same assert"
[code]

See also #623 .
The fix has apparantly been reverted: https://github.com/nicolargo/glances/commit/168969bdf4c973089e3c59cb5efbc892285154fb.

[2015-10-28 10:24] rogerfachini opened #710 "/dev/ram shows up under disk I/O (Ubuntu 15.10)"
When running under Ubuntu 15.10, under the Disk I/O section the /dev/ramN entries show up among the list of other devices. Tested across several different systems running 15.10, it affects them all.
![dev ram as disk io](https://cloud.githubusercontent.com/assets/7243587/10785767/732d24ae-7d23-11e5-9550-425f61cdeedb.PNG)

[2015-10-28 10:50] nicolargo commented on #710
It is possible to hide ram disk using the following section in the glances.conf file:

    [diskio]
    hide=ram0,ram1,<etc ...>

https://github.com/nicolargo/glances/blob/master/docs/glances-doc.rst#disk-i-o

[2015-10-28 10:50] #710 closed

[2015-10-29 13:48] rafantastico commented on #648
Hi all!

First of all thank you for glances software, it's a great tool!

I'm trying to use it with influxDB and Grafana.

**What I have done**
**1**.- Installation of version 2.5.1 of glances from the develop branch
**2**.- Installation of InfluxDB 0.9.4.2
**3**.- Installation of Grafana 2.5.0
**4**.- New database in influx called glances
**5**.- Launch glances with the command
[code]
The config

[2015-10-29 17:17] nicolargo commented on #648
Hi @rafantastico

First of all thanks for this useful and documented comment.

InfluxDB and Grafana are "under development". The InfluxDB API and the Grafana framework change.
I just merge your patch concerning the  "order by asc" command in the DEVELOP branch.

For the last problem, i will have a look as soon as possible. If you find the solution, please tell me ;)

[2015-10-29 18:04] nicolargo commented on #648
Re-hi @rafantastico

I just commit a new version of the Grafana dashboard.
It should correct your issue.

Tell me if it is ok for you.

Nicolas

[2015-10-29 20:38] nicolargo commented on #695
Here is a first try for the value list compression: https://gist.github.com/nicolargo/53f0168520ab1aef1872

Any comment ?

[2015-10-30 11:01] rafantastico commented on #648
Hi @nicolargo

It works like a charm!

Thank you for your fast and accurate answer :+1:

Cheers!

[2015-11-03 09:48] ntoshev opened #711 "Can't read sensors on a Thinkpad"
On my laptop, glances doesn't show sensors information. In glances.log I have:
[code]
On the command line it works:
[code]

When I try Py3Sensors directly, I get:
[code]
But when I ignore exceptions, the useful data is there:
[code]

[2015-11-04 06:33] hardevine commented on #627
@stephdl  thanks saved my day :+1:

[2015-11-05 20:56] themalkolm opened #712 "How to control console log level/format?"
Hey, is it possible to disable curses UI completely and simply output logs on stdout?

[2015-11-05 20:58] nicolargo commented on #712
With Glances 2.5 or higher, you can use the --quiet option to disable the curse interface.

[2015-11-05 21:05] themalkolm commented on #712
OK, I got the quite option. But how to do this combo:

[code]

[2015-11-05 21:07] themalkolm commented on #712
Hm, I see that default log level for console is CRITICAL and no way to change it. Is it possible to provide custom logging.conf somehow?

[2015-11-05 21:09] themalkolm commented on #712
Just to give the context. I'm evaluating glances if it could be used on Windows as collectd-like daemon to send metrics to statsd server. So, I can disable curses UI - check. Now the question how to control console logs format/level/etc.

[2015-11-05 21:12] themalkolm commented on #712
And to save some time, is there any support for adding plugins via cfg somehow? I understand that I can add them to `plugins` folder and rebuild the project. But it would be nice to somehow use the version from pip and simply configure to have extra plugins.

[2015-11-05 21:21] nicolargo commented on #712
Why don't you use directly the statsD plugin to populate your StatsD database ?
=> https://github.com/nicolargo/glances/blob/master/docs/glances-doc.rst#statsd

[2015-11-05 21:26] themalkolm commented on #712
1. `--export-statsd` works fine, no problems here. Exports as expected.
2. I want to have glance logs being printed to stdout and somehow control their format.
3. I would like to implement custom plugins and this way extend exported metrics whenever required.

[2015-11-05 22:28] nicolargo commented on #712
2. You can have a look in the https://github.com/nicolargo/glances/blob/develop/glances/core/glances_logging.py file in order to change the log/format.

3. All the plugins are exported. So if you add a new plugin to the https://github.com/nicolargo/glances/tree/develop/glances/plugins folder it should work. Best way to processed to write a new plugin is to start from an existing one and adapt to y

[2015-11-06 13:57] nicolargo commented on #711
Should be corrected in the develop branch. Can you test it ?

[2015-11-06 14:00] nicolargo commented on #709
@asergi Can you have a look on this issue ?

[2015-11-06 14:54] asergi commented on #709
For the record: the reverted commit has nothing to do with this. That comes from PR 683.

[2015-11-06 14:58] tbu- commented on #709
As far as I can tell, the commit that was reverted fixed the problem. #683 just changed `assert` to raising an explicit `AssertionError`, which does the same thing.

[2015-11-06 15:16] asergi opened #713 "InfluxDB/OpenTSDB: tag parsing broken"
[code]
[code]
The same goes for OpenTSDB.

[2015-11-06 16:01] asergi commented on #713
Done.

[2015-11-06 16:01] #713 closed

[2015-11-06 18:43] muhahacz opened #714 "By default, hide disk I/O ram1-**"
I have just installed fresh new version of Ubuntu 15.10 and glances, and there is some bug with Disk I/O which displays ram1-15..

http://s29.postimg.org/oa9juhfqe/glances.jpg

Filesystem      Size  Used Avail Use% Mounted on
udev            1.7G     0  1.7G   0% /dev
tmpfs           339M  5.2M  334M   2% /run
/dev/dm-0        55G  2.0G   50G   4% /
tmpfs           1.7G   72K  1.7G   1% /dev/shm
t

[2015-11-06 20:19] nicolargo commented on #714
It is not a bug, it is a feature...
=> See https://github.com/nicolargo/glances/issues/710 to hide RamDisk in the Glances Interface.

===

In future relase, i propose to hide it automaticaly.

@muhahacz  Can you send me the result of the following command line:

    # python

Thanks

[2015-11-06 20:45] mohierf opened #715 "Glances on a French Windows 8.1 workstation"
I started some tests with Glances on several Linux distros and I now try to run on some Windows workstations ...

 One workstation is a French Windows 8.1, and I installed Python 2.7, Glances dependencies referenced in the readme Github page, and then `pip install Glances`. No problems for all these steps ...

 Then I start Glances: `glances` and get a Python exception:
[code]

I suppose this is d

[2015-11-06 20:53] muhahacz commented on #714
[code]

[2015-11-06 21:13] nicolargo commented on #714
And this one ?

[2015-11-06 21:17] nicolargo commented on #715
Nope, it is clearly an issue.
String encoding is a mess in Python....

We will try to correct it as soon as possible.

Thanks for your bug report.

[2015-11-06 21:18] muhahacz commented on #714
[code]

[2015-11-06 21:19] nicolargo commented on #715
Can you try to edit the file C:\Python27\lib\site-packages\glances\plugins\glances_processlist.py and change the line 220 with:

    msg = ' {0:9}'.format(str(p['username'].encode('utf-8'))[:9])

[2015-11-06 21:24] mohierf commented on #715
I will make your test ... and I confirm that on an English Windows workstation everything is fine!

I even tried on my French WS with an other account, because mine has é in the username ... but it does not run.

[2015-11-06 21:26] nicolargo commented on #715
Ok thanks, wait your feedback.

[2015-11-06 21:28] nicolargo commented on #714
Thanks, and a last one:

[2015-11-06 21:28] mohierf commented on #715
Here is it:

On the left, Glances on my Win8.1 French WS and on the right a Win7 English VM:

![image](https://cloud.githubusercontent.com/assets/2932687/11009209/a2837352-84d5-11e5-8d61-c2739267d0c6.png)

[2015-11-06 21:31] nicolargo commented on #715
Ok...
The Windows terminal is ugly...
Why don't you use the Web Interface (glances -w) ?

[2015-11-06 21:33] mohierf commented on #715
I agree with this ... my intent is not to use the Windows terminal. I would like to use glances as a monitoring agent for Shinken.

[2015-11-06 21:34] mohierf commented on #715
Bad luck with server mode:
![image](https://cloud.githubusercontent.com/assets/2932687/11009355/868d6c1a-84d6-11e5-8b40-1a12c90bb9e4.png)

[2015-11-06 21:37] nicolargo commented on #715
Mmmmhhh, never seen this kind of error on the Web Server mode...

[2015-11-06 21:41] mohierf commented on #715
More info:

![image](https://cloud.githubusercontent.com/assets/2932687/11009486/87f468a0-84d7-11e5-987d-d0ae50eb89da.png)

Still some encoding problems ...

[2015-11-06 21:47] nicolargo commented on #715
Ok... not easy to debug.
The encoding problem can be everywhere because the RESTFUL request is /all.
You have ran the test with the patched version (the one with the UTF-8 encoding for the username ?)

[2015-11-06 21:49] mohierf commented on #715
Yes, with patched version ...

I am trying the server mode on Win7 US to compare but I have another problem:
![image](https://cloud.githubusercontent.com/assets/2932687/11009625/a6f8a832-84d8-11e5-98ee-fae42dddd476.png)

Did I missed some requirements ? I installed glances and bottle ...

[2015-11-06 21:54] nicolargo commented on #715
Nope, you only need Glances, Psutil and Bottle.

I think that it is an issue on the new Web Interface. It should check that the 'nice' CPU property exist before trying to display it. @notFloran or @nclsHart : Can you have a look on this issue ? (perhaps it is better to create a new issue specificaly).

[2015-11-06 21:56] mohierf commented on #715
Thanks for your help ... I will make more tests later

[2015-11-06 22:00] asergi commented on #709
https://github.com/nicolargo/glances/commit/25816ceae7799eafda2b23dd8cc872f309e876a0

[2015-11-06 22:00] #709 closed

[2015-11-06 22:09] tbu- commented on #709
Thanks!

[2015-11-06 22:49] yonas opened #716 "TypeError: 'NoneType' object is not iterable"
Glances will run well for a an hour or so, and then crash with this error message:

[code]

Running:
- Glances 2.4.2
- Python 2.7.10
- FreeBSD 10.2-RELEASE-p7

[2015-11-06 23:07] asergi commented on #716
Duplicate #622.

Already fixed in Glances 2.5, please upgrade.

[2015-11-06 23:07] #716 closed

[2015-11-07 07:58] nicolargo commented on #715
@mohierf : The fix #717 of the develop branch should solve the 'nice' CPU issue.

[2015-11-07 10:17] asergi commented on #715
The problem here is the use of str() as a converter from unicode to bytes. In fact, if you try to just drop str() I guess it works. Anyway, if use develop apply this:
[code]

[2015-11-07 15:08] nicolargo opened #718 "Add default interface speed and automatic rate thresolds"
PsUtil 3.0 brings a new net_if_stats() function (see: http://pythonhosted.org/psutil/#psutil.net_if_stats). Glances can get from this function the default network interface speed.

Notes: this values can be overwrite by the configuration in the glances.conf file

[2015-11-07 21:19] muhahacz commented on #714
[code]

[2015-11-07 21:22] muhahacz commented on #714
@nicolargo
seems that -w mode does not honor settings in .conf
[code]

[2015-11-07 21:26] nicolargo opened #719 "[Web UI] Hide interface configuration tag not take into account in the Web UI"
As said in the issue #714 , it seems that -w mode does not honor settings in .conf

    [diskio]
    hide=ram0,ram1,ram2,ram3,ram4,ram5,ram6,ram7,ram8,ram9,ram10,ram11,ram12,ram13,ram14,ram15

[2015-11-09 08:32] nicolargo opened #720 "Glances server did not start/can not be stopped"
@asergi Following this push (https://github.com/nicolargo/glances/commit/7b1dc3cf6d1abb0ce52457b1a709408f0cd12bb3), the Glances server did not start anymore:

    $ python -m glances -s
    Cannot start Glances server: must be type, not classobj

Can you have a look ?

[2015-11-09 09:01] asergi commented on #720
https://github.com/nicolargo/glances/commit/4fb83d156c9501f41e2a77f0f36ec0cd5b151f5a

Fixed. Sorry, I did the tests only on Python 3.

[2015-11-09 09:03] nicolargo commented on #720
Corrected, but the Glances server can not be stopped with the CTRL-C key.

[2015-11-09 09:07] asergi commented on #720
Works for me:
[code]

[2015-11-09 09:09] nicolargo commented on #720
Mmmhhh, i will test it on another PC...

[2015-11-11 15:17] #699 closed

[2015-11-16 12:32] nicolargo commented on #720
Tested !

[2015-11-16 12:32] #720 closed

[2015-11-18 08:19] ntoshev commented on #711
I get a stack trace:

[code]

[2015-11-18 10:23] asergi commented on #711
Fixed b7f2ff8.

[2015-11-18 11:00] nicolargo opened #721 "Add a new optional plugin to monitor folder size"
Thanks to the scandir function (new in Python 3.5 but available to other versions through the https://pypi.python.org/pypi/scandir lib), it is possible to have a quick folder size monitoring plugin.

See POC: https://github.com/nicolargo/pythonarena/blob/master/scandisk/foldersize.py

Folders list should be defined in the configuration file:

    [folder]
    folder_1_path=/home/nicolargo/test

[2015-11-20 08:59] nicolargo opened #722 "Create a package.sh script to generate .DEB, .RPM and others..."
Use FPM (https://github.com/jordansissel/fpm/wiki) to automaticaly create .DEB, .RPM... Glances releases (master / dev).

Others infos: https://www.digitalocean.com/community/tutorials/how-to-use-fpm-to-easily-create-packages-in-multiple-formats

[2015-11-21 09:56] nicolargo commented on #721
Merged in the develop branch.
Tested on GNU/Linux (Ubuntu 14.04).
@asergi Can you test it on FreeBSD ? (with Python 3.5 you do not need to install the scandir lib).

[2015-11-23 13:09] telethonic commented on #598
This would be a great feature, enabling the sending of an alert when a certain process fails.

If I do a git clone of the current repo, is it in there?

[2015-11-23 13:11] nicolargo commented on #598
Nope. It is scheduled in the 2.6 version.

Follow this issue to stay in touch.

[2015-11-23 13:12] telethonic commented on #598
That was quick :)

ok, thanks.

[2015-11-23 14:45] asergi commented on #721
Tested on FreeBSD. No issues so far.

[2015-11-23 15:56] nicolargo opened #723 "Add Gnome notifications"
Optionaly, on alert, it should be possible to send display notification thanks to the LibNotify lib (see http://devdungeon.com/content/desktop-notifications-python-libnotify).

Limitation: Only for GNU/Linux Gnome environment

Tag: --notifications

[2015-11-24 14:43] telethonic opened #724 "[WebUI] Make web page title configurable"
a minor feature request: can you make it so I can set the web page title in the config file?

this way, when I have multiple tabs open on multiple servers, I can see which is which
(now they all say "Glances")

thanks :)

[2015-11-24 17:25] richterd opened #725 "Web Interface Access Restrictions"
It would be great to have the possibility of access restrictions for the web interface (e.g. an argument which takes allowed IP addresses)

[2015-11-24 17:26] #725 closed

[2015-11-24 17:26] richterd commented on #725
https://github.com/nicolargo/glances/issues/446

[2015-11-24 19:43] nicolargo commented on #723
REJECTED: use action and notify-send command line

[2015-11-24 19:43] #723 closed

[2015-11-25 08:07] nicolargo commented on #724
Another solution is to fill the title with the client IP address / name instead of the default Glances text. What do you think ?

[2015-11-25 08:11] telethonic commented on #724
That would work.

But in my case (running glances on Amazon AWS instances) the names and IP addresses are not always very informative (they're typically "ip-<internal ip address>"). That said, I can of course change the hostname :)

So whatever is easiest.

[2015-11-25 08:16] nicolargo commented on #724
Ok.

@notFloran Can you have a look to implement this feature into the WebUI ?

[2015-11-25 12:32] notFloran commented on #724
@nclsHart I made a PR for that :)

[2015-11-25 12:52] nicolargo commented on #724
@telethonic Implemented in the latest commit (see issue #726). Can you test the develop branch ?

[2015-11-25 17:32] mohierf opened #727 "Use Glances as a NSCA client"
As far as I understood, Glances has several running modes (standalone, server, ...) but does not propose some kind of `monitoring agent` behavior ... let me explain.

 I am currently using NSClient as a monitoring agent for my Windows hosts (more than 1000 devices). NSClient has its own checks scheduler that will run local health checks (CPU, memory, ...) on a periodical basis. Once a check run, N

[2015-11-25 17:34] YannickB opened #728 "Glances from inside a Docker container"
Hello,

I am trying to create a container with glances inside, to monitor the server running Docker. I'm doing this because I only want to have the docker process running on the host system.

I launched the container with --pid host argument so it have access to the whole system (I get the tip from a forum speaking of htop inside container), thanks to this I see CPU/RAM/etc... of all the processes

[2015-11-26 09:25] nicolargo commented on #727
Hi @mohierf , thanks for the (very interesting) feature proposal.

Let me clarify your needs:

1) You want to uses Glances as a NSCA client. Glances will send periodically (using the -t <sec> refresh command line tag) stats to a NSCA server. To do this, Glances should be modified as following:
- Create an new export mode to NSCA server. Glances will be run as a agent using the command line:

    g

[2015-11-26 09:35] nicolargo commented on #728
Hi @YannickB .

Thanks for the --pid host argument, did not know that :)

The docker plugin uses the Docker-py lib. This lib grabs Docker stats using the Docker API (using the unix://var/run/docker.sock file). So the container running Glances should read this file to do the jobs. Perhaps you can use a data volume to export /var/run to the container.

Keep me inform.

[2015-11-26 12:23] mattpoel opened #729 "KeyError: 'cpucore' when exporting data to InfluxDB"
Hi,

I'm trying to capture the performance data of a windows machine and write it to InfluxDB. Glances is capturing the data fine for a few refreshes, but throws the following exception afterwards:

[code]

Glances command is executed with the following options:
[code]
Configuration file looks like:
[code]

Should not be an InfluxDB issue per se as some measurements are written to the DB:
[code]

[2015-11-26 12:33] mattpoel commented on #729
Link to the debug logfile: http://pastebin.com/AFCd61mu

[2015-11-26 12:36] YannickB commented on #728
Perfect, I figured that would be something like this but I didn't know which volume I'd have to map.

Here are my arguments : -v /var/run/docker.sock:/var/run/docker.sock:ro --pid host

If you are curious, glances will be used in this project : https://github.com/clouder-community/clouder/commit/aef185c2eba97f3d5aae341ea4edc4ec785b6ce3 , strongly linked to Odoo you may expect some use of glances f

[2015-11-26 12:51] nicolargo commented on #729
Hi @mattpoel thanks for the report.

Some additional information:
* What is your Glances / PsUtil version ?
* Does Glances work without error when you use it without the InfluxDB export ?
* Can you start Glances with the -d (DEBUG tag): glances --export-influxdb -C glances_db.cfg -t 5 -1 -d and http://pastebin.com/ the output of the debug file (%APPDATA%\Local\temp\glances.log)

[2015-11-26 12:53] nicolargo commented on #728
Nice !

I will add a new section in the documentation with your command line: -v /var/run/docker.sock:/var/run/docker.sock:ro --pid host

[2015-11-26 15:51] nicolargo commented on #728
Just create a official Glances docker image: https://hub.docker.com/r/nicolargo/glances-docker/

[2015-11-26 22:12] mattpoel commented on #729
Hi @nicolargo ,

Glances 2.5.1 / PSutil 3.2.2

Yes, starting glances with `glances -t 5 -1` works with any issue.

No, unfortunately still the same problem. The tags are written correctly to InfluxDB until the cpucore-KeyError occurs.

Best regards,
Matt

[2015-11-27 05:00] mohierf opened #730 "Default configuration file raises an uncatched exception"
I just copied the `/usr/local/share/doc/glances/glances.conf` to `/etc/glances/glances.conf` and tried to start glances ...

[code]

[2015-11-27 05:12] mohierf commented on #727
Hi @nicolargo
Thanks for your answer.

1/ we agree on the feature.

 2/ what about the recovering? Is it possible to define an action when a check recovers to OK ?

[2015-11-27 05:37] mattpoel commented on #729
Did some further testing. I think the error is related to running `--export-influxdb` in combination with the curses output. If I run glances with the `-q` option it does not raise an exception (although other errors are raised in the log file for writing the collected data to influxdb - I will open a separate issue for these errors).

[2015-11-27 07:56] nicolargo commented on #730
It is -C not -c ;)

[2015-11-27 07:56] #730 closed

[2015-11-27 14:24] nicolargo opened #731 "[WebUI] Display issue with the file system plugin"
Display issue with long device name.

Curse:
![selection_421](https://cloud.githubusercontent.com/assets/776747/11443159/e7e0d958-951a-11e5-92b4-3060ae09436d.png)

WebUI:
![selection_420](https://cloud.githubusercontent.com/assets/776747/11443162/ed8d602e-951a-11e5-830b-7c059fe6af74.png)

[2015-11-27 14:25] nicolargo commented on #731
@notFloran Can you have a look ?

[2015-11-27 15:48] mohierf commented on #730
Sorry ... I sould have learnt reading :-)

[2015-11-27 16:35] mohierf commented on #727
I made some tests with:
[code]

What I got in Shinken:
[code]

**One question and some remarks:**
- where can I find an exhaustive list of the variables that may be used as {{mustache}}?

- when Glances is starting the notifications should be delayed because there is always a Cpu overload on start and, as of it, Warning/Critical alerts are raised

[2015-11-27 20:18] nicolargo commented on #730
No problem, i have already done this mistake myself ;)

[2015-11-27 20:24] nicolargo opened #732 "When Glances is starting the notifications should be delayed"
"When Glances is starting the notifications should be delayed because there is always a Cpu overload on start and, as of it, Warning/Critical alerts are raised"

=> Postpone the first raised to refresh * 2 (ou higher if needed)

[2015-11-27 20:24] nicolargo commented on #727
"where can I find an exhaustive list of the variables that may be used as {{mustache}}?"

=> Here: https://github.com/nicolargo/glances/wiki/The-Glances-2.x-API-How-to

"when Glances is starting the notifications should be delayed because there is always a Cpu overload on start and, as of it, Warning/Critical alerts are raised"

=> Just added a new issue for the next release: https://github.com/ni

[2015-11-28 07:53] mohierf commented on #727
Ok for the link to API ... I already got it. But it is not that easy to find out what can be used in the commands ... for example: I tried {{hostname}} but with no success despite it is avaiable in the stats ...

[2015-11-28 09:01] nicolargo opened #733 "Add global attribute in {{mustache}}"
Glances allows you to define action on trigger (see: http://glances.readthedocs.org/en/latest/glances-doc.html#actions). Inside the action's command line, it is possible to use {{mustache}} where mustache is one of the attribute of the current plugin section. It should be great to allow user to define external global attribute like: hostname... (TODO: define other attributes).

[2015-11-28 09:01] nicolargo commented on #727
For the moment, you can only access to attribute inside the plugin area. For exemple inside the [mem] section, you can access to: '{"**available**": 5266268160, "**used**": 3007328256, "**cached**": 2949533696, "**percent**": 36.3, "**free**": 5266268160, "**inactive**": 2034712576, "**active**": 3497422848, "**total**": 8273596416, "**buffers**": 183599104}'

I just add an enhancement request to

[2015-11-28 09:18] nicolargo commented on #286
Postpone: waiting needs from others users.

[2015-11-28 09:23] #648 closed

[2015-11-28 09:28] #711 closed

[2015-11-28 09:30] #715 closed

[2015-11-28 09:31] #721 closed

[2015-11-28 09:31] #724 closed

[2015-11-28 09:32] #728 closed

[2015-11-28 14:54] nicolargo commented on #732
Available in the develop branch.
Delay set at 2 * refresh time (6 second by default)

[2015-11-28 14:54] #732 closed

[2015-11-29 20:07] nicolargo opened #734 "New "Ports scanner" plugin"
The "ports scanner" plugin aims at monitoring local or remote TCP/ICMP ports status. A list of remote host/port is define in the configuration file and the result is displayed in the UI.

Configuration file example:

    [ports]
    port_1_description=Internet connection
    port_1_hostport=www.google.fr:80
    port_2_description=Ping my router
    port_2_hostport=192.168.0.254

Note: if no port i

[2015-11-29 21:04] nicolargo commented on #734
See and complete the following Gift for this plugin core: https://gist.github.com/nicolargo/d220f67da6d826cc9137

[2015-12-01 17:46] Schlunze opened #736 "Add hide configuration key for FS Plugin"
Hello,

i wonder if there is an option to hide FILE SYS too.
Point is, i use bind mounts, and don´t want to see them in this list.

Thanks for your work, cheers.

[2015-12-01 19:33] nclsHart commented on #736
Hello,

If you want to hide the filesystem plugin, you can launch glances using :

[code]

or press the `f` key while glances is running.

[2015-12-02 16:28] Schlunze commented on #736
Hi,
yes the hide option like the diskio one. Maybe in further versions....
thanks for your reply.

[2015-12-02 17:18] nicolargo commented on #736
Planned for a next release.

[2015-12-03 18:10] cbastienbaron opened #740 "[Docker] - glances don't see containers"
hi,
first of all thks for this amazing app !

But i've encounter some pbl with docker monit.
From 1 serv (debian 8) Glances seems no view docker is running . however i've got 32 containers running
[code]
socket exists
[code]
Docker version
[code]
Glances version
[code]
Somebody have an idea on why glances doesn't see containers ? i've forgot something ?
thks

[2015-12-03 18:28] cbastienbaron commented on #740
From `glances.log`

nothing to help ;(
[code]

[2015-12-03 18:36] cbastienbaron commented on #740
it's a Docker pbl

`glances -d`

[code]

[2015-12-03 18:36] #740 closed

[2015-12-03 20:05] nclsHart commented on #740
I think it's a bug in glances.

In case of Docker API error, glances should try to force the client to use the server version.

[2015-12-04 08:00] nclsHart commented on #740
A fix is available in develop branch.

Could you try it @cbastienbaron ?

[2015-12-04 08:53] cbastienbaron commented on #740
Hi @nclsHart

Thks for the quick fix ! that's works :+1:

[code]

[code]
:smile:

[2015-12-05 13:30] nicolargo commented on #729
Not reproduced on Linux OS. The bug is only on Windows.

[2015-12-05 14:14] nicolargo commented on #729
@mattpoel Should be corrected in the latest commit. Can you test the develop branch ?
=> https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version

[2015-12-05 16:42] dotpot opened #743 "Integrate PrettyPing"
http://denilson.sa.nom.br/prettyping/

[2015-12-05 21:01] nicolargo commented on #743
More or less duplicated with https://github.com/nicolargo/glances/issues/734

Add the reference to prettyping to the other issue and close this one.

[2015-12-05 21:01] #743 closed

[2015-12-06 13:02] nicolargo commented on #736
Implemented in the develop branch:

Example:

    [fs]
    # Define the list of hidden file system (comma separeted)
    hide=/boot/efi

[2015-12-06 13:02] #736 closed

[2015-12-06 14:24] JanSchulz opened #744 "Long commandline entry display in the next line"
This is a conda env py 3.5 on windows:
![2015-12-06_152302](https://cloud.githubusercontent.com/assets/890156/11613765/487d4404-9c2d-11e5-8b07-dbc8c2de638f.png)

[code]

[2015-12-07 13:50] Bart274 opened #745 "Glances not working on Windows 8.1, python 3.4?"
Hi,

I use python 3.4 on my Windows 8.1 machine.
When I use 'glances -w' I get a message that the webserver has started on the default port.
But when I try to access the webpage, it just remains on the loading screen (still after 30 minutes)
when I press CTRL+C I get the following error and it won't stop:
[code]

[2015-12-07 14:39] nicolargo commented on #745
Hi @Bart274 , thanks for the report.

We need additional information:

* Glances and PsUtil version (glances -V)
* Can you http://pastebin.com/ the log file (under %APPDATA%\Local\temp\glances.log)

[2015-12-07 14:43] Bart274 commented on #745
I just installed it, I'm running glances v2.5.1 and psutil v3.3.0
my log is here: http://pastebin.com/a3GY3S0Z

[2015-12-07 14:49] nicolargo commented on #745
Does the API respond ?

=> http://0.0.0.0:61208/api/2/all

[2015-12-07 14:50] Bart274 commented on #745
No, I get an error that that page isn't available

[2015-12-07 14:54] nicolargo commented on #745
Strange. We will have a look as soon as i found a Windows 8.1.

[2015-12-07 14:54] Bart274 commented on #745
thanks a lot! :) I want to use it together with Home Assistant :)

[2015-12-07 14:55] nicolargo commented on #745
Last question: does Glances works in standalone / debug  mode ?

glances -d

+ log file via pastebin

Thks

[2015-12-07 15:05] Bart274 commented on #745
yes, it does work. it generates the view I need to have in the webserver I guess.

![glances debug](https://cloud.githubusercontent.com/assets/1118630/11630139/603372ec-9cfc-11e5-8584-dbe434119760.JPG)

this is my new log: http://pastebin.com/f4gcLTz3

[2015-12-07 15:28] nicolargo commented on #744
@JanSchulz Looks like an colorconsole issue.

Can you try this command line:

[2015-12-07 15:41] JanSchulz commented on #744
Unfortunately this doesn't make a difference :-(

Another interesting thing: if I right click (which does paste in cmder/ConEmu -> terminal app I use), I get a stacktrace:

[code]

And while trying to reproduce that:

[code]

[2015-12-07 15:52] nicolargo commented on #719
@nclsHart Can you have a llok ?

[2015-12-07 16:09] nicolargo commented on #714
Implemented in the latest commit.

Ram* are hidden by default. Use --diskio-show-ramfs to get back to the old behavor.

[2015-12-07 16:09] #714 closed

[2015-12-08 12:37] wapiflapi commented on #476
Could we have horizontal scroll as well? Left/Right for when the terminal is to small to show the whole Command lines? I'm not sure if this should be the same issue.

[2015-12-09 08:29] Bart274 commented on #745
any progress with my issue?

[2015-12-09 10:43] nicolargo commented on #745
Nope but can you try with the DEVELOP branch ?

[2015-12-09 14:22] nicolargo opened #748 "Filter processes by others stats (username)"
Source: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/glances-users/4sh4eT9ZTtk/SIwpDS8OCAAJ

It should be great to filter processes by user.

[2015-12-09 14:45] Bart274 commented on #745
I uninstalled the install I did using python3 and installed it with python2, same result.
I uninstalled that install and used git clone to install the development branch, but I still have the same result.
However now I get an error 404 when I try to access localhost:61208/api/2/all: Cannot get stats ('utf8' codec can't decode byte 0xb5 in position 108: invalid start byte)

[2015-12-09 14:52] nicolargo commented on #745
Did you have a look on this issue ? => https://github.com/nicolargo/glances/issues/205

[2015-12-09 15:00] Bart274 commented on #745
I did, I'm running it as administrator, opened that port in my firewall, but still nothing

[2015-12-09 15:02] nicolargo commented on #745
And when you did not run it as admin ?

[2015-12-09 15:06] Bart274 commented on #745
just before you said to look at that 205 issue. then I just ran as my normal user (which is an admin user)

[2015-12-09 15:10] nicolargo commented on #745
It it a French version of Windows 8.1 ?

[2015-12-09 15:16] Bart274 commented on #745
no, it's a Dutch version

[2015-12-09 15:18] nicolargo commented on #745
Looks like an encoding issue on username or process command line...

[2015-12-09 15:19] Bart274 commented on #745
any idea how to fix that? my username is just 'Bart'

[2015-12-09 15:21] nicolargo commented on #745
Nope for the moment, we need to found the script and line number involved in the Cannot get stats ('utf8' codec can't decode byte 0xb5 in position 108: invalid start byte) error... Perhaps in the Glances log file in debug mode...

[2015-12-09 15:30] Bart274 commented on #745
I deleted my glances.log and restarted glances using 'glances -d' as admin
this is my glances.log: http://pastebin.com/HEEvYEWF
this is the output in my command prompt: http://pastebin.com/YQzRvPT7

(note that the debug worked 2 days ago when using the release version)

[2015-12-09 15:54] nicolargo commented on #745
I just commit a quick add dirty hack on the develop branch.
Can you test it ?

[2015-12-09 16:26] Bart274 commented on #745
no difference as normal user

[2015-12-09 16:28] nicolargo commented on #745
You have the same issue with the latest DEVELOP branch ???

[2015-12-09 16:37] Bart274 commented on #745
yes, I went into my glances dir, did a git pull, did pip uninstall glances and a new setup.py install, after that I still had the same result :s

[2015-12-09 16:39] nicolargo commented on #745
I have added a try/except around the line 907. Can you double check the file "C:\Python27\lib\site-packages\glances-2.5.1-py2.7.egg\glances\outputs\glances_curses.py" ?

[2015-12-10 08:18] Bart274 commented on #745
I had to run 'python2 -m pip uninstall glances' twice to completely delete Glances.
Then I ran 'python3 -m setup.py install' from within my Glances directory that uses the development branch and now I have it working! :)

[2015-12-10 20:02] LucChoubert opened #749 "glances with influxdb logging crashes after some time"
Hello nicolargo,

First, I would like to thank you for this very good software.
I am trying to use connected with influxdb (glances --export-influxdb) and after a while, glances stops with following traceback:

  File "/usr/local/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.5.1', 'console_scripts', 'glances')()
  File "/usr/local/lib/python2.7/dist-packages/glances/__init__.p

[2015-12-10 21:09] nicolargo commented on #749
Hi @LucChoubert , thanks for the report.

I will have a look on it.

For your PS question, you can use the quiet mode:

    glances -q --export-influxdb

[2015-12-10 21:21] nicolargo commented on #749
Can you start Glances in debug mode (-d), when it crach, can you send us the last relevant line of the log file (/tmp/glances.log).

Thanks in advance.

[2015-12-10 21:21] ruudboon commented on #749
@nicolargo will
``` glances -q --export-influxdb ```
Push the data every 3 seconds by default?

[2015-12-10 21:22] nicolargo commented on #745
Nice, have to code a "not dirty" work arround.

Thanks for the message.

[2015-12-10 21:22] nicolargo commented on #749
Yes it does. You can change the refresh time with the -r option.

[2015-12-10 21:24] ruudboon commented on #749
Hmm Looks like it's only pushing once. Will dive into and open an other issue otherwise.

[2015-12-10 21:33] ruudboon opened #750 "Cannot export stats to InfluxDB"
I'm running glances like
``` glances --export-influxdb -t 60 -d -q ```

When exporting to InfluxDB i'm seeing multiple errors in the log file

[code]
I'm running InfluxDB v0.9.3.

[2015-12-11 14:12] nicolargo commented on #750
Issue confirmed.

With InfluxDB 0.9.3

===

2015-12-11 15:10:13,564 -- ERROR -- Cannot export localhost.load stats to InfluxDB (400: unable to parse 'localhost.load cpucore=4i,load_careful=0.7,load_critical=5.0,load_warning=1.0,min1=0.07,min15=0.13,min5=0.12': invalid number
)
2015-12-11 15:10:13,566 -- ERROR -- Cannot export localhost.ip stats to InfluxDB (400: unable to parse 'localhost.ip addre

[2015-12-11 14:27] ruudboon commented on #750
Could this magic 'i' be related to https://github.com/influxdb/influxdb/issues/3519
And the conflict error with this one: https://github.com/influxdb/influxdb/issues/3032 ?

[2015-12-11 14:31] nicolargo commented on #750
+1 for @ruudboon

[2015-12-11 14:40] maltyxx opened #751 "User virtual bug"
Bonjour j'utilise Glances pour surveiller mes processus Docker, mais lorsque j'ai un utilisateur virtuel dans un conteneur, voilà ce qui ce passe au lancement de l'application (Glances v2.4.2 with psutil v2.1.3):

[code]

[code]

Help please !!!!!!!!!!!

[2015-12-11 14:42] #751 closed

[2015-12-11 15:14] nicolargo commented on #750
The first bug (the 'i' one) is corrected by upgrading InfluxDB to 0.9.4 or higher.

The other one (float), should be corrected in the scope of this issue (have a look on https://github.com/influxdb/influxdb/issues/3032).

[2015-12-11 15:28] jasker5183 opened #752 "Monitor for reboot required or update available"
A feature request, title says it all.

[2015-12-11 15:37] nicolargo commented on #752
If i understand your need, you want a new plugin (ou update an existing one) to monitor system update (and additional info if a reboot is necessary).

Following points should be take into account:
* how to monitor system update on GNU/Linux (distrib dependant), *Bsd, Mac OS , Windows ?
* how to check if a reboot is mandatory to apply the patchs
* where to display this plugin (a new one) or update

[2015-12-11 15:46] ruudboon commented on #750
Upgrading to 0.9.4  is keeping the same issues for me. How can I see the extended info you are seeing @nicolargo ?

[2015-12-11 16:28] jasker5183 commented on #752
Just came up with the idea because on Ubuntu I have landscape installed and it puts scripts in the /etc/update.motd.d that tells you if a reboot is required or updates are available when you ssh in, and I thought it would be great if Glances monitored for this. No idea how to make it distro agnostic though.

[2015-12-11 16:42] nicolargo commented on #750
@ruudboon what extended info ? it's only the Glances log file...

[2015-12-11 16:43] ruudboon commented on #750
I'm missing the data in the log. Only seeing
```Cannot export myserver.sensors stats to InfluxDB (400: unable to parse 'myserver.sensors ': invalid field format) ```

[2015-12-11 17:02] nicolargo commented on #752
Perhaps, the best way to process is to use the existing [monitor] section of the Glances configuration file:

    [monitor]
    list_1_description=System update
    list_1_regex=.*glances.*
    list_1_countmin=1
    list_1_command=sed '5!d' /etc/motd

Note: please replace 5 by the line number where the update info is available.

[2015-12-11 17:04] nicolargo commented on #750
Can you try with the latest DEVELOP branch version or disable the Sensor plugin (--disable-sensors)

[2015-12-11 17:49] jasker5183 commented on #752
The file /etc/update-motd.d/90-updates-available contains

    #!/bin/sh
    if [ -x /usr/lib/update-notifier/update-motd-updates-available ]; then
    exec /usr/lib/update-notifier/update-motd-updates-available
    fi

The 98-reboot-required contains:

    #!/bin/sh
    if [ -x /usr/lib/update-notifier/update-motd-reboot-required ]; then
    exec /usr/lib/update-notifier/update-motd-reboot-requir

[2015-12-11 19:30] LucChoubert commented on #749
I tried glances -d --export-influxdb for almost 24h with no crash.
Then I tried again glances  --export-influxdb and it crashed few minutes after.

Traceback (most recent call last):
  File "/usr/local/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.5.1', 'console_scripts', 'glances')()
  File "/usr/local/lib/python2.7/dist-packages/glances/__init__.py", line 125, in main
    st

[2015-12-11 21:35] 7ranceaddic7 opened #753 "ConfigParser include error"
I'm sure I'm doing something wrong some where but I can't figure it out.  Ideas?

scott@Jupiter:~$ glances --export-influxdb
Traceback (most recent call last):
  File "/usr/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.3', 'console_scripts', 'glances')()
  File "/usr/lib/python3/dist-packages/glances/__init__.py", line 119, in main
    args=core.get_args())
  File "/usr/lib/py

[2015-12-12 13:49] nicolargo commented on #753
Need more information to investigate, please read and follow the guide line to report issue: https://github.com/nicolargo/glances/blob/master/CONTRIBUTING.md

[2015-12-12 16:47] nicolargo commented on #750
The latest commit of the develop branch should solve this issue and the issue #749 .

Please:
- download the develop branch
- upgrade InfluxDB to 0.9.5 or higher
- upgrade the InfluxDB Python lib
- drop your existing database (sorry for that but InfluxDB is under development)
- run Glances and it should works like a charm

[2015-12-12 16:48] nicolargo commented on #749
Should be corrected: read https://github.com/nicolargo/glances/issues/750#issuecomment-164167498

[2015-12-12 16:52] ruudboon commented on #750
Cool will try to compile Glances myself. Running the Freebsd port now.

[2015-12-12 17:01] nicolargo commented on #750
No need to compile, you are in a Python world...

[2015-12-12 17:04] ruudboon commented on #750
Owh cool. Didn't realize it was written in Python.

[2015-12-13 13:24] krmnn opened #754 "glances not running on Raspberry Pi (py-cpuinfo)"
I installed glances on a Raspberry Pi (Modell B) via the auto install script provided in Readme.mst.

When running glances it returns following error message:

    root@host ~ # glances -w
    py-cpuinfo currently only works on X86 and ARM CPUs.

The Raspberry runs an ARM processor. So either this is a bug or the error message is misleading.

    root@host ~ # cat /proc/cpuinfo
    Processor

[2015-12-13 16:56] nicolargo commented on #754
Strange, can you entre the following command and paste me back the result in a new comment:

    $ python

Thanks in advance

[2015-12-13 17:05] krmnn commented on #754
Problem might be related to python version?

    root@host ~ $ python
    Python 2.7.9 (default, Mar  8 2015, 00:52:26)
    [GCC 4.9.2] on linux2
    Type "help", "copyright", "credits" or "license" for more information.

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
    ImportError: No module named cpuinfo

And:

    root@host ~ $ python3.4
    Python 3.4.2 (def

[2015-12-13 17:11] nicolargo commented on #754
Nope, i investigate on my side and the problem came from the Cpuinfo lib. When the lib is loaded on a non supported CPU, the lib call an ugly sys.exit(0) (see https://github.com/workhorsy/py-cpuinfo/blob/master/cpuinfo/cpuinfo.py#L1478).

I just publish a (also ugly) work around on the develop branch...

[2015-12-13 17:15] #754 closed

[2015-12-13 19:04] notFloran commented on #687
No values for sda in the dump provided by @HLFH, maybe a bug with the API.

@nclsHart Can you look at that ? I do not have a linux pc with sensor for HDD

[2015-12-13 23:15] asergi commented on #753
The influxdb module wasn't python3-compatible at that time (Glances 2.3).
Please upgrade.

[2015-12-14 07:21] LucChoubert commented on #749
Thanks.

I tested over the week end with option -q (glances --export-influxdb -q ) and had no crash at all.
Thanks for this for best in class support.

Luc

[2015-12-14 07:51] nicolargo commented on #749
Ok !
Thanks for the issue report.

[2015-12-14 07:51] #749 closed

[2015-12-15 08:10] nicolargo commented on #687
@HLFH Can you test the DEVELOP branch ? It should solve your issue.

[2015-12-15 08:10] #719 closed

[2015-12-15 12:43] HLFH opened #757 "Glances compatibility with Python 3.5.1"
Hi,

I'm on ArchLinux with Python 3.5.1 and Glances Develop. And Glances does not seem to work.
Do you confirm it also?
Do you plan to make Glances compatible with Python 3.5.1?

Thanks,
HLFH

[2015-12-15 13:02] HLFH commented on #687
@nicolargo @nclsHart With [Glances Develop](https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version) and Python 2.7, I got this issue on webserver mode:
[code]

Console mode is working perfectly, not the webserver mode where it's loading and loading and loading undefinitely these lines:
[code]

[2015-12-15 13:07] nicolargo opened #758 "RuntimeError: dictionary changed size during iteration"
With the 2.6 DEVELOP branch, after a while, Glances generate the following error:

[code]

[2015-12-15 13:39] nicolargo commented on #758
Patch to be tested (OK in Python 2 / TBD in Python 3)

[2015-12-15 19:17] notFloran commented on #687
@HLFH Can you retry with [Glances develop](https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version) ?

[2015-12-16 09:29] HLFH commented on #687
@notFloran

I retried:
[code]

[2015-12-16 13:37] nicolargo commented on #757
Please follow the guideline to report issue => https://github.com/nicolargo/glances/blob/master/CONTRIBUTING.md#bug-reports

We need:
* Glances version
* PsUtil version
* Operating system version
* Error message
* Log file (with Glances -d to switch on the debug mode)

Thanks

[2015-12-16 13:43] #753 closed

[2015-12-16 13:48] nicolargo commented on #752
Is this configuration works ?

Edit your glances.conf file:

    [monitor]
    list_1_reg=.*glances.*
    list_1_countmin=1
    list_1_command=if [ -f /var/run/reboot-required ]; then echo 'Restart required'; fi

Run Glances with:

    glances -C <pathto>/glances.conf

[2015-12-16 13:49] nicolargo commented on #748
Question: how to switch between process command line regexp and user name filtering ?

[2015-12-16 15:17] asergi commented on #757
I use Glances with Python 3.5.

No output, no log, no useful info.
There's no issue here.

[2015-12-16 15:28] HLFH commented on #757
@asergi I'll answer in a few hours to get this issue more useful. Thanks.

[2015-12-16 17:46] HLFH commented on #757
- Glances version: develop branch
- Python version: 3.5.1
- psutil version: 3.3.0
- OS version : ArchLinux (rolling release)
- Error message:

[code]

- Log file: it's just during the installation, I'm wondering why I'm getting these kind of messages in red:

- Failed building wheel for psutil
- Failed to build psutil
 - Failed building wheel for enum-compat
 - Failed building wheel for netifaces

[2015-12-16 18:15] notFloran commented on #687
Very strange, it seems that data are missing from the API.

@HLFH  Can you make a dump of ```http://0.0.0.0:61208/api/2/all``` or see if data are present ?

[2015-12-16 19:22] HLFH commented on #687
@notFloran I migrated my testing environment towards Glances develop branch with Python 3.5.1, just FYI.

Is that enough?
[code]

The hddtemp is displayed in the Web UI but the Web UI does not load as seen here:
[code]
Do you have some other questions?

[2015-12-16 19:38] notFloran commented on #687
@HLFH  What the result of ```curl http://0.0.0.0:61208/api/2/cpu``` with the develop and master branch ?

The WebUI does not load because data are missing from the API, example for your last error : data for the cpu plugin are missing, same for your previous error but this time for the alert plugin.

[2015-12-16 19:51] HLFH commented on #687
@notFloran At least with the develop branch:

[code]

Should I really try also with the master branch?

[2015-12-17 09:51] asergi commented on #757
Not a Glances issue.

It just fails to build wheel for psutil, enum-compat and netifaces.
Please report those bugs to their bug tracker.

[2015-12-17 09:51] #757 closed

[2015-12-17 10:20] HLFH commented on #757
@asergi Done.

[2015-12-17 12:31] asergi commented on #758
@nicolargo: can you try this patch instead? https://gist.github.com/asergi/1197f15b8b3e08a7142a

[2015-12-17 15:52] nicolargo commented on #758
@asergi Tested and approved. You can merge it to the develop branch.

[2015-12-17 19:47] #758 closed

[2015-12-18 09:21] bzazzera opened #762 "Cannot start Glances 2.5.1 in server mode -s : always socket.error: [Errno 1]"
Hi all,

I cannot start Glances 2.5.1 in server mode -s I got always: `./glances -s`
[code]
Many thanks in advance.

Bruno.

[2015-12-18 10:10] nicolargo commented on #762
Try to uninstall zerconf:

    $ sudo pip uninstall zeroconf

Start Glances server again.

[2015-12-18 10:59] bzazzera commented on #762
OK thank you it's working now by uninstalling zeroconf.

Merci beaucoup.
Bruno.

[2015-12-18 14:09] #762 closed

[2015-12-19 13:20] notFloran commented on #687
@HLFH can you try without the debug mode?

[2015-12-21 10:31] nicolargo opened #763 "Add IOps in the DiskIO plugin"
Add IO per second R/W thanks to the psutil.disk_io_counters(perdisk=True):
* read_count: number of reads
* write_count: number of writes

Add a command line option and a short key to switch between rate and IO.

[2015-12-22 14:54] nicolargo commented on #763
Done for the core / Curses interface.

@nclsHart : Can you implement it on the WebUI ?

[2015-12-26 01:03] drhay53 commented on #648
Hello,

I have attempted to use the develop branch, because I had the same issue as the original post. However, now the dashboard shows "no datapoints" for every field. Is there any combination of releases where this is known to work?

[2015-12-26 08:27] nicolargo commented on #648
@drhay53 yes it works  on my side with: the current DEVELOP branch, InfluxDB 0.9.5, Grafana 2.5.0 and the default section on the Glances configuration file (chck the configuration file path in the /tmp/glances.log file):

[code]

Do not forget to configure the InfluxDB data source in Grafana:

![selection_428](https://cloud.githubusercontent.com/assets/776747/12005670/c2dbfd00-abb2-11e5-81da-c8dc7

[2015-12-26 18:55] drhay53 commented on #648
It appears that I was missing the 'prefix=localhost' part of the config. I took my config directly from somewhere in the Docs or the github, but perhaps I missed that part. Thanks for the quick help!

[2015-12-27 19:04] HLFH commented on #687
@notFloran I tested without the debug mode right now and it fully works!

[code]

It that related to this issue? Should we fix the debug mode again? https://github.com/nicolargo/glances/issues/650

[2015-12-28 10:36] notFloran commented on #687
@HLFH Can you check if you have a **glances-debug.json** file in **/tmp** ?

When glances is executed with the debug mode and the file is present, the API endpoint **/api/2/all** use data from the file instead of the real data.

[2015-12-28 10:59] HLFH commented on #687
@notFloran Yes there is an empty glances-debug.json in /tmp. I did `rm -rf /tmp/glances-debug.json` then `cd ~/tmp/glances-develop
LANGUAGE=en_US.utf8  ~/glances-venv/bin/python -m glances -d -C ~/tmp/glances-develop/conf/glances-test.conf -w` and it seems to work. Thanks!!

[2015-12-28 10:59] #687 closed

[2015-12-28 18:02] drhay53 opened #764 "RuntimeError: dictionary changed size during iteration"
I am running glances from the develop branch with the --export-influxdb option, with influxDB version 0.9.5.1. I also have hddtemp, lm-sensors, and py3sensors installed.

About once every ~24 hours, the glances process dies with the following traceback:

      File "/home/brian/anaconda/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.5.1', 'console_scripts', 'glances')()
      F

[2015-12-28 18:08] nicolargo commented on #764
Confirmed: already encountered on my side.

@asergi What is the best way to try/catch those PsUtil error.

[2015-12-28 19:02] asergi commented on #764
Please test: https://gist.github.com/asergi/24ed9ba690d5cf7016a6

[2015-12-28 22:55] drhay53 commented on #764
I applied the diff and am running glances as usual. Will report back if anything bad happens.

[2015-12-30 18:06] drhay53 commented on #764
Still no crashes since applying the diff.

[2016-01-01 20:58] Jestre commented on #750
I'm getting similar errors, and after reading this I went ahead and pulled the develop branch and installed it in a venv.  Since I found this project (and InfluxDB) this morning, I am running glances-dev, influx 0.9.6 (from their influxdb-0.9.6.1-1.x86_64.rpm), and fresh pip installs of the requisite Python modules.

I get the same types of errors as OP:
"unable to parse 'localhost.ip' : invalid f

[2016-01-03 10:18] Kami-no opened #765 "Don't show interfaces in "down" state"
Ability to hide interfaces in "down" state would be nice. No traffic there anyway.

[2016-01-04 04:04] unlikelyzero commented on #750
I'm seeing that same issue as Jestre with Ubuntu 14.04

[2016-01-04 08:35] nicolargo commented on #750
I confirm that it is working like a charm with the following configuration:
* Glances DEVELOP branch
* InfluxDB 0.9.6
* Python lib InfluxDB 2.10.0

"unable to parse 'localhost.ip' : invalid field format
=> this is a warning message.

and the float64 vs integer errors on localhost.network and localhost.diskio
=> Please delete and re-create your InfluxDB database.

[2016-01-04 08:38] nicolargo commented on #765
+1

[2016-01-04 12:30] Jestre commented on #750
So @nicolargo what OS are you on?  I find it hard to believe that this is purely an issue on Ubuntu and Fedora.  I have the same versions of things as you list, and I had deleted and recreated my DB without success.  Is there some command other than 'drop database' to get rid of the old one with InfluxDB?

[2016-01-04 13:08] nicolargo commented on #750
Tested on both Ubuntu 14.04 LTS and CentOS 7.0

[2016-01-04 13:24] Jestre commented on #750
@nicolargo Thank you.  I will try back in a few months to see if the issues have been resolved.  Appreciate the input.

[2016-01-05 14:15] nicolargo opened #766 "Following disable option tag did not work..."
Reported by Michał Dziędziela (source: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/glances-users/_Xkv2_QMBps/XfrMS6GNAgAJ):

    python -m glances --disable-quicklook --disable-cpu --disable-mem --disable-swap --disable-load

=> Quicklook, CPU, MEM, SWAP and LOAD are not disabled...

[2016-01-05 20:56] kevincaradant opened #767 "How can i show the state of some node server"
Hi

Sorry i begin with this dashboard very usefull and powerfull but in my case i have two node server ( api and front ) which run on my server and i want to see if they run or not ( running,  error , turn off ) like you can see with pm2 when you write this command in the console `pm2 list`

Thank you to help me with that :) , maybe there are some  files to config or something to create but i dont

[2016-01-05 21:23] unlikelyzero commented on #750
@nicolargo how do I ensure that I'm running on the development branch? I run the following command:
root@test:~# cd ~/tmp/glances-develop
root@test:~/tmp/glances-develop# LANGUAGE=en_US.utf8  /usr/bin/python -m glances -d -C ~/tmp/glances-develop/conf/glances.conf

[2016-01-06 02:10] kalashnikov commented on #750
Hi, I think I got similar issue.

Just try to re-install glances using `pip install --upgrade glances`

[code]

The measurement is created but it's empty.

Environment:
Ubuntu 14.04
InfluxDB 0.9.6.1
Glances-2.5.1
psutil 3.0.0

I am not sure how to use develop branch, any instruction ?

[2016-01-06 12:01] maschs opened #768 "'--tree' breaks process filter on Debian 8"
I saw similar issue with OSX/FreeBSD/Windows #542 where it was claimed that this was an bug exclusive to those operating systems. However I have a similar bug on a dedicated machine running __Debian 8.2__.

Running `glances --tree` and trying to filter the processes leads to glances being stuck at 100% CPU on one core.

Sometimes the prompt (with the filter) stays open, sometimes it manages to dis

[2016-01-06 13:23] nicolargo commented on #767
Not possible for the moment.
Have to create a new Node JS PM plugin (https://github.com/Unitech/pm2).

[2016-01-06 16:28] kevincaradant commented on #767
Ah yes but in your app that Will be very better  because,  i used keymetrics but its free only for one server and the Web site is not on local,  you have to create à account so i dont like this :/. Do you know if you Will decide soon to do this feature ? :).  Thank and great job for your monitoring app

[2016-01-06 20:13] nicolargo commented on #767
The roadmap is frozen for the next release 2.6.
Perhaps in the 2.7. Wait for another users asked for this feature.

[2016-01-06 20:33] kevincaradant commented on #767
oki i hope for the 2.7 :D

[2016-01-07 12:20] sm0ketst commented on #613
Hi all,

Same issue here, do not know if it is useful or not but I'm noticing the following for Debian Jessie 8.2:

- I'm running:
glances --version
Glances v2.1.1 with psutil v2.1.1

python --version
Python 2.7.9

- I'm checking the proposed patch:
https://github.com/nicolargo/glances/commit/4f79ead1b46292186fda68fba3aee128108246e8

But the current "/usr/lib/python3/dist-packages/glances/core/gla

[2016-01-07 12:28] nicolargo commented on #613
Hi @sm0ketst , this bug is corrected in the version 2.4.2 or higher.
The Debian package is out dated (you can report the bug to the Debian packager...).

Best way to processed is to uninstall the Debian package and install the latest stable version using the auto install script:  https://github.com/nicolargo/glancesautoinstall

[2016-01-07 12:29] sm0ketst commented on #613
I'll do, thanks Nico.

[2016-01-07 14:22] widgetpl commented on #702
In my opinion last line of logs won't be useful but maybe it depends how heavily your applications is logging or maybe just show latest [ERROR|WARN] logs or sth like this. More useful would be showing all containers such as Exited ones which could be useful in production environments, so Glances could show some warning ( with bolded red etc. ) with such containers and you will know that sth wrong

[2016-01-07 14:31] kevincaradant opened #769 "What is the protocol to install it on CentOS6 with python 2.6.6"
Hi

I wish to install it on centOS but every tricks or install that i found are too old and server dead :/

Thank you in advance to help me to install it :)

[2016-01-07 14:43] widgetpl commented on #769
hi,
if you have tried to install it with `yum` i would suggest to try that:
`curl -L http://bit.ly/glances | /bin/bash`
or
`wget -O- http://bit.ly/glances | /bin/bash`
as @nicolargo said linux repos have old versions.

[2016-01-07 18:39] notFloran commented on #763
@nicolargo I 'm on it

[2016-01-08 08:06] kevincaradant commented on #769
ok  thank you, in fact , i had a problem with python-pip , it's good now :)

[2016-01-08 08:06] #769 closed

[2016-01-10 08:43] nicolargo commented on #766
All errors have been corrected.

As a bonus i also add a new --disable-top option (also available via the '5' shortcut) to disable in one shot the top menu.

For example, the following command line only display processes:

    glances --disable-top --disable-left-sidebar

[2016-01-10 08:43] #766 closed

[2016-01-10 08:52] nicolargo opened #771 "[WebUI] Implement new --disable-top/'5' shortcut"
Implement the new feature of the issue #766 in the WebUI.

[2016-01-10 08:52] nicolargo commented on #771
@notFloran or @nclsHart Can you do it ?

[2016-01-10 14:35] nicolargo commented on #763
Thks @notFloran  !

[2016-01-10 14:35] #763 closed

[2016-01-10 14:36] nicolargo commented on #771
Perfect @notFloran !

[2016-01-10 14:36] #771 closed

[2016-01-10 23:14] justindoran opened #776 "Fahrenheit rounding problem"
There is some minor rounding issue in the display of Fahrenheit temperatures from sensors. I've attached a gif demonstrating the problem. It works fine on Celsius, and the temperatures are displayed as whole numbers. I couldn't quite figure out why the format function wasn't catching it, but it's returning unrounded decimals for some reason. This messes up the entire display.

![out](https://cloud

[2016-01-11 08:33] nicolargo commented on #776
@justindoran waht is your Glances version ?

[2016-01-11 17:52] justindoran commented on #776
Glances v2.5.1 with psutil v3.3.0

[2016-01-11 21:04] nicolargo commented on #776
Already corrected in the develop branch.

Just wait the version 2.6 ;)

[2016-01-11 21:04] #776 closed

[2016-01-12 14:48] rogorido opened #777 "Relatively high CPU use by glances"
Hi, first of all many thanks for the great app. I'm using it on a laptop with archlinux (version 2.5.1). Glances uses (in my opinion) too much resources, since it uses always in my computer 12-17% CPU. I tried the options -2, -3, -4 with no change.

Is this normal?

[2016-01-12 15:11] nicolargo commented on #777
Duplicated thread: https://github.com/nicolargo/glances/issues/519

[2016-01-12 15:11] #777 closed

[2016-01-12 15:36] rogorido commented on #777
sorry. I checked only the opened issues... thanks!

[2016-01-12 18:39] justindoran commented on #776
Thanks. :+1:  :)

[2016-01-13 00:08] ZeroManArmy opened #778 "Infinite Loading"
**OS:** Windows 8.1
**Python Version:** 2.7
**Setup Tools:** Installed
**Pip Addons Installed:** bottle, pysnmp, zeroconf, netifaces, influxdb, statsd, pystache, matplotlib, pika, and py-cpuinfo

When I double click the executable in the `C:\Python27\Scripts` folder, the command line version loads up. When launching the executable with the `-w` flag it says `Glances web server started on http://0.

[2016-01-13 05:53] notFloran commented on #778
Can you go to ```http://localhost:61208/```, open the web console (for [Firefox](https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console) , for [Chrome](https://developer.chrome.com/devtools/docs/console)) and paste me back the result in a new comment.

Thanks in advance

[2016-01-13 09:30] Cozza38 commented on #778
Hi @notFloran,

I'm receiving the same issue as described above, very similar environment. Here's my console log, the error counts up every few seconds:

[code]

[2016-01-13 09:36] notFloran commented on #778
Hi @Cozza38,

Ok, actually it a known bug and corrected in the develop version (PR #717).

@nicolargo I do the same PR for master branch ?

[2016-01-13 10:29] nicolargo commented on #778
@notFloran Nope. No pull on the master branch.

[2016-01-13 10:29] #778 closed

[2016-01-13 22:11] mattman86 commented on #778
When will the fix be merged to the master branch?

[2016-01-13 22:29] nicolargo commented on #778
March 2016.
But you can use the develop version by following this procedure: https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version

[2016-01-14 19:44] ncstdc opened #779 "nginx reverse proxy"
I'm trying to reverse proxy using nginx, but all the xhr requests are trying to pull resources from the server root. Here is my location block -

[code]

http://domain/glances/ loads properly, but app.js is trying to pull stats.html from http://domain/ rather than http://domain/glances/. I've tried various rewrite and proxy_redirect rules and can't get it to work properly.

[2016-01-14 19:55] nicolargo commented on #779
Never done this with Nginx, but one user post me the reverse proxy configuration for Apache. Hope it will help.

https://github.com/nicolargo/glances/wiki/Reverse-proxy-to-the-Glances-Web-UI

[2016-01-14 20:05] ncstdc commented on #779
I saw that and tried to use rewrite/redirect rules based on it, but without success. I have several other apps working using standard nginx reverse proxy configurations, but can't get this one to work.

[2016-01-14 20:13] notFloran commented on #779
Try this :

[code]

[2016-01-14 20:51] ncstdc commented on #779
that seems to be working

[2016-01-14 20:51] #779 closed

[2016-01-14 21:05] nicolargo commented on #779
Thanks @notFloran you are a (web)genious !

[2016-01-15 20:40] nicolargo commented on #779
New section added to the Wiki: https://github.com/nicolargo/glances/wiki/Reverse-proxy-to-the-Glances-Web-UI

[2016-01-16 15:17] nicolargo commented on #750
The InfluxDB interface is breaked between Glances 2.5.1 and InfluxDB 0.9.2 or higher.

Please use the lastest Glances Development branch AND the latest InfluxDB AND the latest Python InfluxDB lib.

[2016-01-16 15:17] #750 closed

[2016-01-17 15:48] nicolargo opened #780 "Add a new Application Monitoring Process"
In the current version (2.x), Glances displays 3 kinds of process information:
- the monitoring process plugins (configurable through the Glances conf file) which allows user to define a list of process (or group of processes) to monitor on top of the others. For each item in the list, a command line could be executed and the result display in the Glances UI. If the command line is not defined the

[2016-01-18 09:37] #764 closed

[2016-01-18 09:38] #745 closed

[2016-01-18 09:42] nicolargo commented on #729
@mattpoel Any news ?

If no, i will close this issue.

[2016-01-18 09:45] nicolargo commented on #718
To be done at the same time than the issue #765

[2016-01-18 19:58] carpenike opened #781 "Failed to Allocate Memory -- FreeBSD"
Hey All,

Having an issue after installing Glances from ports.

[code]

[2016-01-18 20:19] nicolargo commented on #781
Hi @carpenike , can you send us your Glances and PsUtil version ?

glances -v will do the trick.

@asergi Is it working out of the box on your BSD ?

[2016-01-18 20:37] carpenike commented on #781
root@freebsd:~ # glances -V
Glances v2.5 with psutil v3.4.1

[2016-01-19 07:48] syohex commented on #781
I have sent PR(https://github.com/giampaolo/psutil/pull/731). psutil uses wrong data type for getting physical memory size by `sysctlbyname`. This bug was introduced at psutil 3.4.1. So you can avoid this issue downgrade to 3.3.0.

[2016-01-19 15:35] carpenike commented on #781
Thanks. Pulled down / installed the master branch for psutil and was able to launch Glances.

[2016-01-19 18:42] nicolargo commented on #781
REJECTED cause: PsUtil issue.

Thks for the report and the work around !

[2016-01-19 18:42] #781 closed

[2016-01-21 09:41] nicolargo commented on #765
Done in latest commit.

[2016-01-21 09:41] #765 closed

[2016-01-21 15:57] mannibis opened #782 "File System Plugin: does not display network mount & displays wrong stats (afpfs)"
Hi,

I edited the .conf file with

[fs]
allow = zfs,misc

But my /mnt directory still does not show up under File System

Is there anything else I should add to the configuration file to display free/used space on the /mnt mountpoint?

Right now, all I see is:

/ (/dev/disk0s2)

I'm running OSX 10.9.5 (Mavericks)

[2016-01-21 16:29] nicolargo commented on #782
Hi @mannibis can you send us the following information:
- your Glances and PsUtil versions (*glances -v*)
- an output of the *mount* command line

Thanks

[2016-01-21 19:25] mannibis commented on #782
Glances v2.5.1 with psutil v3.4.2

/dev/disk0s2 on / (hfs, local, journaled)
devfs on /dev (devfs, local, nobrowse)
map -hosts on /net (autofs, nosuid, automounted, nobrowse)
map auto_home on /home (autofs, automounted, nobrowse)
map auto_nas on /mnt/QNAP (autofs, automounted, nobrowse)
//admin@qnappro/Public on /mnt/QNAP/Public (afpfs, nodev, nosuid, automounted, nobrowse, mounted by Manny-MacMin

[2016-01-21 19:40] nicolargo commented on #782
Try this:

    [fs]
    allow=zfs,misc,afpfs,autofs

[2016-01-21 20:24] mannibis commented on #782
Wonderful! Thank you so much, that worked.

How do I hide shares from the FileSystem module (same goes for Network)? I read in the docs that this is possible and to use the [network] tag in the conf, but what exactly do I put?

[2016-01-21 20:33] nicolargo commented on #782
To hide /boot/efi folder from the Filesystem plugin:

    [fs]
    hide=/boot/efi

[2016-01-21 20:38] mannibis commented on #782
Thank you,

Now that I look at the FS plugin again, it looked right, but the numbers are definitely off

With F mode off it shows:

/mnt/QNAP/Public (//admin@qnappro/Public)	-2985566257152	5.59T

with F mode on it shows:

/mnt/QNAP/Public (//admin@qnappro/Public)	-2985566257152	5.59T

With F mode on it shows:

/mnt/QNAP/Public (//admin@qnappro/Public)	8.30T	5.59T

So something is def wrong, maybe

[2016-01-21 21:05] mannibis commented on #782
df -h displays this:

Filesystem                         Size   Used  Avail Capacity    iused              ifree             %iused       Mounted on
//admin@qnappro/Public   22Ti   13Ti  8.3Ti  62%          3566069303 2228848228   62%   /mnt/QNAP/Public

[2016-01-21 21:55] mannibis commented on #782
Looks like the problem is in PSUtils....

sdiskusage(total=6143796170752, used=-2980872179712, free=9124668350464, percent=-48.5)

[2016-01-22 07:11] nicolargo commented on #782
Not a Glances bug.
=> PsUtil issue: https://github.com/giampaolo/psutil/issues/735

[2016-01-22 07:11] #782 closed

[2016-01-23 09:24] nicolargo commented on #768
Fixed thanks to the @desbma patch

[2016-01-23 09:24] #768 closed

[2016-01-23 09:32] nicolargo commented on #731
@notFloran or @nclsHart Can you make a patch for this issue ?

[2016-01-23 09:32] #729 closed

[2016-01-23 10:09] nclsHart commented on #731
@nicolargo Yep. I'll fix this one.

[2016-01-25 08:44] nicolargo opened #784 "Refresh time not take into account in Web Server mode"
I was using glances -t 15 in order to force it to update only once every 15 seconds. This worked great, and kept the CPU usage of Glances down! Now I'm trying to use it in web server mode, but -t doesn't seem to do anything. No matter what I do, it always updates once every 3 seconds and is using 13% CPU to do it!

Is there any way to make the webserver mode update less frequently?

Source:  https

[2016-01-25 17:14] notFloran commented on #784
Temporary workaround : http://0.0.0.0:61208/?refresh_time=15

The WebUI will wait 15s before loading the data from the API, I will fix that.

For the refresh time (-t option) that does not work as expected, it is a more general problem of parameters passed as arguments.
We must find a way to pass the values to the web interface

[2016-01-25 20:12] jgillman commented on #779
:+1: Worked for me! Thanks for adding the wiki article.

[2016-01-25 20:22] nicolargo commented on #784
@notFloran  Any idea why the parameter are not passed to the Web UI ?

[2016-01-26 21:21] nicolargo commented on #546
Waiting for a patch.

[2016-01-26 22:37] desbma commented on #546
OK so I believe I have fixed all regressions [mentioned by @asergi](https://github.com/nicolargo/glances/pull/786#issuecomment-174957529), except maybe the last one (I have not reproduced).

However in the process I exposed another Psutil bug, and I just opened an [issue](https://github.com/giampaolo/psutil/issues/742).

So I will submit a new pull request to revert my last changes, and when the P

[2016-01-27 07:10] giampaolo commented on #782
It turns out this is probably an OSX bug:
https://github.com/giampaolo/psutil/issues/735#issuecomment-175455659

[2016-01-27 08:46] nicolargo commented on #546
@asergi Can you have a lok on the @desbma https://github.com/desbma/glances/tree/issue546 branch ?

[2016-01-27 18:40] asergi commented on #546
I have prepared a patch to "resolve" this issue. I'll post it shortly after testing.

[2016-01-28 11:31] asergi commented on #546
Patch: https://gist.github.com/asergi/a62ec884baf6d715ecaa

It's very simple but gets its job done. Tested on Linux, FreeBSD and Windows successfully.

psutil already returns the command line splitted as a list, where the first item always contains the process name (with or without path). So, it's much easier working on the list rather then threating it as a string.

The only drawback is that the

[2016-01-28 21:12] desbma commented on #546
@asergi I have tested your patch and it works well in my case (Ubuntu), but because it uses the `name` attribute from psutil processes, it also affected by [the bug I mentioned](https://github.com/giampaolo/psutil/issues/742).

See the wrong highlighting:
![Imgur](http://i.imgur.com/LCDlCrq.png)

[2016-01-30 14:05] nicolargo commented on #784
@notFloran
If i add a log on this line: https://github.com/nicolargo/glances/blob/develop/glances/outputs/glances_bottle.py#L119
The refresh_time var is set to the -t <val> value...
Dor not understatnd why is it not take into account in the Web UI...

[2016-01-30 20:15] notFloran commented on #784
The arguments are not taken into account in the WebUI because the WebUI access Glances data only by making call to the API from the javascript. The index is a simple html file without any logic.

The refresh_time variable in *_index* is not used at all, I think it comes from the old interface.

We have two solutions to access refresh_time and others arguments from the WebUI :

* Serialize argument

[2016-01-31 08:33] nicolargo commented on #784
I prefer the second solution. It allows third party software to access to the command line argument through the API.

I am going to add a new endpoint to the API. After that, you can implement the features in the WebUI.

[2016-01-31 09:07] nicolargo commented on #784
Done in the latest commit:

[code]

or to only get one argument:

[code]

[2016-01-31 13:57] notFloran commented on #784
Ok thanks, I'll implement it in the WebUI.

[2016-02-04 13:25] nicolargo commented on #311
Implementation done in the latest push.

Please test !

[2016-02-04 15:04] sbadia opened #788 "Issues with vendored minified javascript files"
Hi, just for tracking/information, we (in Debian) remove vendored minified js because of those two lintian issues.

* https://lintian.debian.org/tags/source-contains-prebuilt-javascript-object.html
* https://lintian.debian.org/tags/source-is-missing.html

I feed this issue just in order to know if we can do something upstream side ;-)

[2016-02-04 15:27] sbadia commented on #788
For the record https://lists.debian.org/debian-mentors/2016/01/msg00341.html

[2016-02-04 15:44] nicolargo commented on #788
Hi Sebastien,

thanks for the head up (and also for your work on the next Glances Debian package).

@nclsHart or @notFloran : Can you have a look on the orphan js file ?

[2016-02-07 12:58] notFloran commented on #784
Fix by #789.

To change the refresh time : ```glances -w -t 30``` or http://0.0.0.0:61208/30

[2016-02-07 14:38] #784 closed

[2016-02-14 13:25] jasker5183 commented on #506
I have tried adding the lines from the file I made in sensors.d to the sensors3.conf file and it made no difference, do I need to restart something? Already tried lm_sensors.service.

[2016-02-14 15:46] Josue-T commented on #750
Hello,

When I try to lunch glances as client I have an error :

[code]
Thank

[2016-02-17 00:27] jnoake commented on #501
BOOM!
@nicolargo  I'm blown away.

Thanks.

[2016-02-17 08:42] jlec opened #793 "RAID support broken on python3"
[code]
This happens with

* python-3.4.3
* glances-2.5.1
* pymdstat-0.4.2

[2016-02-20 14:52] lawre opened #794 "Export individual processes stats"
I would really like some way to export the individual process metrics to influxdb so we can better pinpoint what process is hogging our memory, network or cpu and for how long.  I work in a software build environment, so these kinds of metrics can really help nail down bottlenecks in a jenkins build.

[2016-02-20 18:08] nicolargo commented on #794
It is a good idea but... how to identify the process (primary key) ?
1) PID ?
2) Command line ?
3) Process name ?

[2016-02-20 18:11] nicolargo commented on #793
@jlec : Is it working fine with Python 2 ?

[2016-02-20 22:32] jlec commented on #793
@nicolargo yes it is.  Simple python 3 incompatibility

[2016-02-21 13:09] sillage opened #795 "Sorting processes by I/O rate (io_counters) fails"
Using Glances v2.5.1 with psutil v4.0.0 on MacOS X 10.11.3, sorting processes by I/O rate (io_counters) fails:
[code]

[2016-02-21 14:12] lawre commented on #794
My primary goal for this request is to be able to hover over a line in a grafana graph and a tooltip will pop up with the full command line of the process I'm interested in.  How can this best be accomplished?

primary = PID: This would be a good choice if we can figure out how to get Grafana to tooltip a second field instead of the one we're querying on.  I'm not so interested in the PID per se,

[2016-02-21 14:30] asergi commented on #793
@jlec should be fixed in the develop branch. Can you please test? Thanks.

[2016-02-21 14:39] jlec commented on #793
aa86c0b alone, doesn't fix the problem.

[code]

[2016-02-21 14:44] asergi commented on #793
@jlec `develop` branch: `git clone -b develop https://github.com/nicolargo/glances.git`.
There is no `iterkeys` in master.

[2016-02-21 14:47] jlec commented on #793
@asergi works here.

[2016-02-21 14:48] asergi commented on #793
@jlec here's the patch for Glances 2.5.1 (master):
[code]

[2016-02-21 14:51] asergi commented on #793
@jlec +1. Thanks.

[2016-02-21 14:51] #793 closed

[2016-02-21 15:26] asergi commented on #795
There is no process `io_counters` on OS X. You shouldn't be able to do that.

[2016-02-21 15:56] nicolargo opened #797 "Update Glances with new PsUtil 4.x stats"
PsUtil 4.0.0 change log: http://grodola.blogspot.fr/2016/02/psutil-4-real-process-memory-and-environ.html

1. Implement "Real" process memory info: USS and PSS (MEM plugin)
2. Memory percent (MEM plugin - TBD)
3. Extended disk IO stats (DISKIO plugin - TBD)

[2016-02-21 16:00] nicolargo commented on #797
To be discuss: replace process MEM% column by USS / PSS ? Add new columns ?

[2016-02-21 16:46] asergi commented on #795
After some investigation, the "real" bug is actually the second exception.

@sillage should be fixed in the develop branch. Can you please test? Thanks.

[2016-02-22 12:16] asergi commented on #546
The bug I have mentioned in my previous comment has been fixed in psutil 4.0.0.

That said, the patch doesn't change because we have to maintain compatibility with psutil releases < 4.0.0. The same goes for the bug mentioned by @desbma (when will be fixed, and it only affects the chromium process).

So, I believe the patch can be safely applied.

[2016-02-22 22:23] rmenessec opened #799 "Use wildcard (regexp) to the hide configuration option for network, diskio and fs sections"
On the systems I usually run glances on (Ubuntu / Debian), there are as many as 16 ram[0-9][0-9] devices littering the block device I/O display, forcing out storage devices I want to be able to see, and in some cases even pushing the sensors completely out of the UI.

Some way to exclude block devices by regex would be appreciated. Hiding ramdisks by default would be great, too.

Thanks!

[2016-02-22 22:26] nicolargo commented on #799
Duplicated issue: https://github.com/nicolargo/glances/issues/714

[2016-02-22 22:35] rmenessec commented on #799
Please add at least basic wildcard support.

Is it possible to hide filesystems as well? This isn't mentioned in the documentation, and I have bind mounts and AuFS mounts on some systems that I'd like to be able to hide. These are not "physical" filesystems as described in the documentation, but they're appearing in the filesystem list. I assume union mounts and fuse mounts might have the same pro

[2016-02-23 00:56] wingsof commented on #794
Wow! I also need this feature!
My purpose is to capture load of specific processes while running stress test on several solutions. I think only nmon currently exports this information.

Regarding primary key, I think combination of pid and start time of the process (because of pid reuse) might be enough to uniquely identify process.

[2016-02-23 01:08] johnhill2 commented on #794
My team desperately needs this feature too. I've had to do some crazy stuff with the per process utilization flat file and rsync. Having it export directly to influxdb is our number one feature request

[2016-02-23 08:52] Exasis opened #800 "Glances wont work with Windows 10 python 2.7 and 3.4"
I have an issue with running Glances on my computer running Windows 10

The issue is that: When i use the Webserver (glances -w) and access it through "127.0.0.1:61208" it will just show the loading screen and not move on from there (i've let it run for an hour)

**Which versions are you running?**
I have tried:
Python: 2.7 and 3.4
Glances: 2.5.1 and 2.6beta
psutil: 4.0.0

**What about standalone?

[2016-02-23 09:45] nicolargo commented on #800
Hi @Exasis . Thanks for the report.

Is there any message in the log file (%APPDATA%\Local\temp\glances.log) ?

[2016-02-23 09:49] Exasis commented on #800
This is the log:
http://pastebin.com/CdB7EiSc

[2016-02-23 09:50] Exasis commented on #800
I dont know if it makes a difference, but Glances is installed using pip

[2016-02-23 10:15] nicolargo commented on #800
Can you paste/bin the result of "pip list" command ?

[2016-02-23 10:17] nicolargo commented on #800
Ok found:

2016-02-21 18:39:10,242 -- CRITICAL -- Bottle module not found. Glances cannot start in web server mode.

You need to install the Bottle Python lib in order to make the WebUI works.
Read: https://github.com/nicolargo/glances#requirements

[2016-02-23 10:17] Exasis commented on #800
<img width="174" alt="screenshot 2016-02-23 11 16 59" src="https://cloud.githubusercontent.com/assets/13125021/13248512/089435ca-da1f-11e5-8614-ad007fe24419.png">

[2016-02-23 10:18] Exasis commented on #800
I installed the bottle module when i recieved the error

[2016-02-23 10:18] nicolargo commented on #800
Oopss, just read the first error message...

[2016-02-23 10:26] nicolargo commented on #800
One more think,can you run Glances 2.6 with the debug mode enable and send us back the log file ?

    glances -d -w

Thanks !

[2016-02-23 10:30] Exasis commented on #800
Here it is: http://pastebin.com/vh4vtFzC

I have also taken the liberty to remove the logs posted before today, to minimize the amount of text you have to sift through :)

[2016-02-23 10:33] nicolargo commented on #800
Strange, do not see any issue...

@notFloran or @nclsHart : can you have a look on the log file (http://pastebin.com/vh4vtFzC) the WebUI is not displayed...

[2016-02-23 10:36] Exasis commented on #800
It is showing some additional information in the CMD as well. I am getting this information:
<img width="450" alt="screenshot 2016-02-23 11 35 20" src="https://cloud.githubusercontent.com/assets/13125021/13248953/9c461f7a-da21-11e5-83e5-fcf12f62c8ba.png">

[2016-02-24 13:39] bacondropped opened #802 "Crash on running a new Docker container"
Running any non-privileged Docker container results in consistent glances crash with the following stack trace:

![2016-02-24-162330_787x268_scrot](https://cloud.githubusercontent.com/assets/9872501/13286567/4c4eeee6-db13-11e5-80bf-6689619913df.png)

Steps to reproduce:

[code]

Or, alternatively,
[code]

My current configuration:

1.  Ubuntu 16.04
2.  Linux 4.4.0-7-generic x86_64
3.  glances from

[2016-02-24 14:29] bacondropped commented on #802
Update: could not reproduce on `ubuntu/trusty64` Vagrant box with the following configuration:

1.  Ubuntu 14.04.3 LTS image
2.  Linux 3.13.0-79-generic x86_64
3.  Direct Glances clone [at bcff182](https://github.com/nicolargo/glances/commit/bcff18231d0c6866af85a654f2af6f2251601af9) with psutil v4.0.0
4.  Docker version 1.10.2, build c3959b1, usermod setup
5.  docker-py from pip (version 1.7.2)
6.

[2016-02-24 14:33] nicolargo commented on #802
Not reproduce on my configuration:

1.     CentOS 7.1
2.     Linux 3.10.0-327.4.5.el7.x86_64
3.     Direct Glances clone at bcff182 with psutil v4.0.0
4.     Docker version 1.8.2, usermod setup
5.     docker-py (1.6.0)
6.     python 2.7.5

[2016-02-24 17:37] notFloran commented on #800
The error in the CMD is fixed in develop (#760).

Can you run glances without debug and go to ```http://localhost:61208/```, open the web console (for [Firefox](https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console) , for [Chrome](https://developer.chrome.com/devtools/docs/console)) and paste me back the result in a new comment.

[2016-02-24 17:52] Exasis commented on #800
So i should download the develop branch and see if it works?

[2016-02-25 02:37] bacondropped commented on #802
Further debugging detected the configuration error. I had docker installed from the `docker.io` package (`universe/admin`), and it seemed to be outdated, so I purged it and switched to `docker-engine` [as per official instructions](https://docs.docker.com/engine/installation/linux/ubuntulinux/).

This error can be detected by either checking installed packages, or running the following in Python R

[2016-02-25 02:37] #802 closed

[2016-02-25 09:29] Exasis commented on #800
@notFloran The fix in the develop-branch worked!

[2016-02-25 09:29] #800 closed

[2016-02-25 09:33] Exasis commented on #800
Oh i'm sorry i clicked the wrong button in my eagerness. The fix worked and the only "issues" shown is a few with bootstrap
<img width="1275" alt="screenshot 2016-02-25 10 32 48" src="https://cloud.githubusercontent.com/assets/13125021/13315488/3d6d5636-dbab-11e5-9807-9239e285e43d.png">

[2016-02-25 17:51] chesedo commented on #799
It would also be nice to see the wildcard support for the `hide` on `Network` devices (to hide all virtual docker interfaces)

[2016-02-26 12:42] nicolargo commented on #799
Functions implemented for network, diskio and filesystem plugins in the latest commit: 5497ae1

For example, if you want to hide the loopback interface (lo) and all the virtual docker interface (docker0, docker1...):

    [network]
    hide=lo,docker.*

For example, if you want to hide the loopback disks (loop0, loop1..) and the specific sda5 disk:

    [diskio]
    hide=sda5,loop.*

For example,

[2016-02-26 13:24] nicolargo commented on #546
@asergi Is the patch as been applied ?

[2016-02-26 14:26] nicolargo commented on #744
Reproduce on my Windows testbed.

It is clearly a ColorConsole issue. Nevertheless, i am going to deprecate the Curse interface on the Windows console until Windows implement a "real" console mode with Curses support. Best way to use Glances on Windows is to run it in Web server mode:

    # glances -w

And start a Web Browser (http:\\<ip>:61208) to monitor your Windows machine...

[2016-02-26 14:26] #744 closed

[2016-02-26 14:27] nicolargo commented on #744
WONT FIX: Windows console  is a mess...

[2016-02-26 18:13] asergi commented on #546
Not yet. Will do soon.

[2016-02-26 18:24] asergi commented on #744
[code]
@nicolargo would be good as deprecation warning? What do you think?

[2016-03-01 14:15] gabrieljames commented on #794
+1

I've been working my way through the data collection agents (collectd, telegraf, topbeat) and have been completely surprised, shocked, that none of these agents collect all process cpu, mem and disk metrics. Some will allow specific process monitors to be defined in configuration files, but i'm looking for comprehensive process monitoring metrics stored in Influx or Logstash.

Hate to say it,

[2016-03-01 14:23] gabrieljames commented on #750
Ubuntu 14.0 Influx 0.10

apt-get installation

$ glances --help
Glances version 1.7.3 with PsUtil 1.2.1

Will this work?

[2016-03-01 14:31] nicolargo commented on #750
Nope. ou need Glances 2.5.1 or higher...

[2016-03-01 14:33] gabrieljames commented on #750
Where from? Don't know why this is not the latest?

On Wednesday, 2 March 2016, Nicolas Hennion <notifications@github.com>
wrote:

--

*Gabriel James, PhD*

Director

*Heliase Genomics*

Level 3, 3A Symonds St, Auckland 1010, New Zealand

Institute of Innovation in Biotechnology, University of Auckland

DDI +64 9 923 1786 | Mobile +64 21 466 422

gabriel.james@heliase.com | www.heliase.com

[image

[2016-03-01 14:39] nicolargo commented on #750
@gabrieljames RTFM: https://github.com/nicolargo/glances#installation

[2016-03-01 14:46] gabrieljames commented on #750
Thanks will pull from git repo.

UTFR Ubuntu package repo is way out of date (btw)

From: Nicolas Hennion [mailto:notifications@github.com]
Sent: Wednesday, 2 March 2016 3:40 a.m.
To: nicolargo/glances
Cc: gabrieljames
Subject: Re: [glances] Cannot export stats to InfluxDB (#750)

@gabrieljames <https://github.com/gabrieljames>  RTFM: https://github.com/nicolargo/glances#installation

—
Reply to t

[2016-03-01 15:05] gabrieljames commented on #750
Ubuntu 14.04

sudo apt-get install git
sudo apt-get install python-pip
sudo apt-get install python-dev
git clone -b develop https://github.com/nicolargo/glances.git
pip install --upgrade glances

Requirement already up-to-date: glances in /usr/local/lib/python2.7/dist-packages
Downloading/unpacking psutil>=2.0.0 (from glances)
  Downloading psutil-4.0.0.tar.gz (293kB): 293kB downloaded
  Running s

[2016-03-01 15:10] gabrieljames commented on #750
$ sudo pip install --upgrade glances
Requirement already up-to-date: glances in /usr/local/lib/python2.7/dist-packages
Requirement already up-to-date: psutil>=2.0.0 in /usr/local/lib/python2.7/dist-packages (from glances)
Cleaning up...
$ glances --help
Glances version 1.7.3 with PsUtil 1.2.1

[2016-03-01 15:36] nicolargo commented on #750
@gabrieljames Please swith to the Glances user forum. Your problem is not a development issue...

=> https://groups.google.com/forum/?hl=en#!forum/glances-users

[2016-03-01 15:43] gabrieljames commented on #750
Okay, thanks for your help.

[2016-03-01 19:35] gabrieljames commented on #750
Alright, not getting any responses in the user forum.

As mentioned in feature suggestion, https://github.com/nicolargo/glances/issues/794

We are testing several other data collectors (collectd, telegraf, logstash, topbeat) so we can come up with a comprehensive metrics solution for our development and production needs.

I was optimistic to see the feature suggestion for logging of all processes

[2016-03-01 20:23] nicolargo commented on #750
@gabrieljames i just post a respond on the forum.

I ask you to switch to the forum because the Github issue tracker is dedicated to enhancement request and bug report. Glances is installed more or less 14.000 times per week, i do not think that the installation process is "bugged".

You are welcome to contribute to the documentation if you think that it should be enhance.

[2016-03-02 04:32] chesedo commented on #799
This seems to be working for me (tested diskio and network).

A note diskio's does also work in the web interface mode, but not network's.

[2016-03-04 08:19] nicolargo commented on #799
@notFloran: Can you have a look on the diskio hide option support for the Web UI (see lasts comments) ?

[2016-03-04 08:23] nicolargo commented on #794
@lawre Another approch: use the PID as primary key and use tags to store: process name, full command line, process start...

What do you think ?

[2016-03-04 08:40] nicolargo commented on #718
Pb, PSUtil shows 0 on my Ubuntu:

[code]

[2016-03-04 09:46] notFloran commented on #799
@nicolargo In the diskio plugin hiding is done in the *update* method so it works in the web interface, but for the network plugin hiding is done in the *msg_curse* method.

What is the correct method?

[2016-03-04 09:58] nicolargo commented on #693
Done in the latest commit.
@HLFH : Please test !

[2016-03-04 10:00] nicolargo commented on #799
I think that msg_curse method is better. I will have a look why it is done in the update method for the diskio plugin...

[2016-03-04 10:13] notFloran commented on #799
One problem is that the WebUI doesn't have access to the values stored in the configuration file.

[2016-03-04 10:20] nicolargo commented on #799
@notFloran Ok, i will manage it on the Core side through the update method.

[2016-03-04 12:07] nicolargo commented on #799
@notFloran : Done c9dce8a

[2016-03-04 12:07] #799 closed

[2016-03-04 12:09] notFloran commented on #675
I think we can close this issue, the feature was proposed because the loading time of webui was long, since this bug has been fixed and therefore the loading is almost instantaneous.

What do you think @nclsHart @nicolargo  ?

[2016-03-04 12:12] nicolargo commented on #675
Yes and no...

The @nclsHart is great but it is not possible to display the tips on the loading page anymore.

I think that we can keep the issue open for future release and find a way to display the tips in the Web UI.

Any idea are welcome...

[2016-03-04 12:14] nicolargo commented on #731
@nclsHart : I want to release the 2.6 version in march. Can you do it ? (or perhaps @notFloran can have a look on it...).

[2016-03-04 12:15] nicolargo commented on #529
REJECTED: too much CPU consumption for the value added by the feature.

[2016-03-04 12:15] #529 closed

[2016-03-04 12:40] nclsHart commented on #731
@nicolargo yes, sorry for the delay... No problem I'll do it asap.

[2016-03-05 09:55] nicolargo commented on #598
Sorry, but i have to postpone this feature for a future milestone.
I have to refactor the action / monitor class to take into account this feature.

[2016-03-05 11:21] telethonic commented on #598
ok, thanks for the update :)

[2016-03-05 11:44] notFloran commented on #788
Hi,

Errors :

* source-contains-prebuilt-javascript-object
* source-is-missing

Files :

* glances/outputs/static/js/vendors/angular-route.min.js
* glances/outputs/static/js/vendors/angular.min.js
* glances/outputs/static/js/vendors/lodash.min.js

If we replace the files by their no minified versions is it going to fix the problem ?

[2016-03-05 12:43] nicolargo commented on #788
@notFloran I think so.

[2016-03-05 14:32] nicolargo commented on #788
@sbadia Should be corrected in the latest commit (DEVELOP branch).
Can you have a look ?

[2016-03-05 21:54] sbadia commented on #788
Hi here!

Yes, perfect :-) thanks @notFloran @nicolargo !

[2016-03-05 22:08] #788 closed

[2016-03-06 15:16] nicolargo commented on #546
Hi @asergi , i want to release Glances 2.6 during the next week. Can you apply the patch (or i can do it on my side if you did not have time).

[2016-03-06 15:17] nicolargo commented on #731
@nclsHart I want to release Glances 2.6 next week. Is it possible for you to work on this issue ?

[2016-03-06 16:58] #731 closed

[2016-03-06 18:12] asergi commented on #546
Done.

[2016-03-09 21:37] nclsHart opened #807 "[Web UI] Remove loading page"
Thanks to this fix #785 from @notFloran, the first loading is now almost instant.

I tried several configs and devices but the loading page was never displayed.

IMO the loading page is not needed anymore and we should remove it.

[2016-03-09 22:01] nclsHart opened #808 "[Web UI] Implement alert deletion"
Add the following shortcuts in the web UI:

* w  Delete warning alerts
* x  Delete warning and critical alerts

I see two ways for handling this feature :

1. Add a new endpoint on the REST API
2. Use session/local storage to track alerts that should not be displayed (using timestamp)

[2016-03-10 20:06] nclsHart commented on #675
Maybe we could use the space available in the bottom of the sidebar.

A quick POC :

![sidebar-tips](https://cloud.githubusercontent.com/assets/833625/13682816/c891c180-e703-11e5-8e69-1b2d90893819.png)

[2016-03-10 20:52] nclsHart commented on #693
Tested and working fine on Ubuntu 15.10.

[2016-03-10 21:22] nclsHart commented on #748
Maybe using a similar pattern than GitHub search :

Examples :

1. `mysql` => filter by command line
2. `user:mysql` => filter by user name
3. `cmd:mysql` => filter by command line
4. `cmd:mysql user:mysql` => filter by command line AND user name

[2016-03-10 23:55] nclsHart opened #809 "Filter processes crash"
Press ENTER, enter a filter...

Glances crach

[code]

Glances v2.6beta with psutil v4.0.0
OS : Ubuntu 15.10

[2016-03-11 09:12] nicolargo commented on #809
@asergi it is a regression, works with COMMIT d6e1067e9f0dbf66f0e0ccb650fa53999d0ab786

Can you have a look on it ?

Nicolas

[2016-03-11 09:31] #809 closed

[2016-03-11 11:46] asergi commented on #300
Added deprecation warning for Python 2.6: 45820e9.

[2016-03-11 12:20] nicolargo commented on #546
Perfect ! Thks @asergi

[2016-03-11 12:20] #546 closed

[2016-03-11 16:45] nclsHart commented on #795
Tested and working fine on MacOS X 10.11.3 and Glances v2.6beta with psutil v4.0.0.

[2016-03-11 17:33] asergi commented on #795
Thanks @nclsHart.

[2016-03-11 17:33] #795 closed

[2016-03-11 20:16] #693 closed

[2016-03-11 20:16] #311 closed

[2016-03-11 23:25] johnhill2 commented on #794
@nicolargo that will work for me

[2016-03-13 16:47] nicolargo opened #810 "CPU additionnal stats monitoring: Context switch, Interrupts..."
PSUtil 4.1.0 introduces a new function to monitor the context switch (CS) (http://pythonhosted.org/psutil/#psutil.cpu_stats).

A context switch occurs when the kernel switches the processor from one thread to another—for example, when a thread with a higher priority than the running thread becomes ready. Context switching activity is important for several reasons. A program that monopolizes the pr

[2016-03-14 14:22] ImNtReal opened #811 "[feature] Support system authentication like LDAP/Kerberos"
Would it be possible to add a feature to require users to authenticate as a user on the system instead of an arbitrary password? Thanks.

[2016-03-14 14:28] nicolargo commented on #811
Duplicated ? https://github.com/nicolargo/glances/issues/693

[2016-03-14 14:31] ImNtReal commented on #811
This would be a little different that specifying a username/password. In theory, if integrated properly it would also work with external authentication mechanisms that the system is set up to use like LDAP/Kerberos.

[2016-03-14 14:38] nicolargo commented on #811
Ok, i understand your need.

Is there another user interested by this feature ?

[2016-03-14 14:56] nicolargo opened #812 "Replace Curses by Npyscreen ?"
Open discussion about the opportunity to use NPyScreen instead of the standard Curses lib.

NpyScreen resources:
- Pypi Web site: https://pypi.python.org/pypi/npyscreen/
- ReadTheDoc: http://npyscreen.readthedocs.org/index.html

+:
- Simplify the standalone interface code

-:
- add a new dep

@asergi what do you think ?

[2016-03-17 05:20] rmenessec opened #813 "Python error after upgrading from 2.5.1 to 2.6"
[code]
Failing on one machine, but not the second one I upgraded. Both machines are running Ubuntu 15.10. The machine where it fails has AuFS and bind mounts. Both machines have the same /etc/glances/glances.conf:
[code]
Removing glances.conf or the alias has no effect. Works again after downgrading back to 2.5.1.

[2016-03-17 07:51] nicolargo commented on #813
The error is on the sensor plugin. As a workaround. Can you try to run
Glances 2.6 with the --disable-sensors options?
Le 17 mars 2016 06:21, "rmenessec" <notifications@github.com> a écrit :

[2016-03-17 09:45] jjbrunton opened #815 "[WebUI] Glances will not get past loading screen - Windows OS"
http://localhost:61208/api/2/all

returns

Cannot get stats ('utf8' codec can't decode byte 0xb5 in position 0: invalid start byte)

[2016-03-17 10:43] nicolargo commented on #815
Hi, what is your Glances version ?

[2016-03-17 13:58] jjbrunton commented on #815
Glances v2.7_BETA with psutil v3.3.0

[2016-03-17 14:04] nicolargo commented on #815
@asergi Any idea ? Looks like an encoding issue (one more time)

[2016-03-17 15:01] dbarboza commented on #813
Also getting this on upgrade from 2.5.1 to 2.6. Web view works, --disable-sensors works in console, as does running on a VM (no sensors). I tried hiding specific sensors in glances.conf but that does not seem to be functional - they still show up in web view. My output from `sensors`:
coretemp-isa-0000
Adapter: ISA adapter
Physical id 0:  +50.0°C  (high = +80.0°C, crit = +100.0°C)
Core 0:

[2016-03-17 15:11] devalru opened #817 "glances is not installable"
Hi,

I tried a from-source-installation.

ENV: SLES 11 SP4, Python 2.6

$ ./sudo python setup.py install
...
Processing dependencies for Glances==2.6
Searching for logutils
Reading https://pypi.python.org/simple/logutils/
Download error: [Errno -2] Name or service not known -- Some packages may not be found!
Couldn't find index page for 'logutils' (maybe misspelled?)
Scanning index of all packages

[2016-03-17 16:44] rmenessec commented on #813
@nicolargo , that worked. I'm using glances in console-only mode.

[2016-03-17 20:07] nicolargo commented on #813
@rmenessec i just add a workaround in the DEVLOP branch, can you test it ?

[2016-03-17 20:12] nicolargo commented on #815
@jjbrunton Can you try the following commands:

    glances -w --disable-sensors

Is it working ?

Then additionnaly, run glances in debug mode and send us back the Glances log file (http://glances.readthedocs.org/en/latest/config.html#logging):

    glances -w -d

Thanks in advance !

[2016-03-17 21:56] rmenessec commented on #813
@nicolargo , seems to work.

I'm finding that glances.conf is mostly undocumented. Should I open a separate bug for documentation?

[2016-03-17 22:05] nicolargo commented on #813
@rmenessec Most of the specific configuration file documentation is in the Anatomy of the application chapter: http://glances.readthedocs.org/en/latest/aoa/index.html

Feel free to open an issue and propose improvement for it.

[2016-03-17 22:48] jjbrunton commented on #815
Bottle v0.12.9 server starting up (using WSGIRefServer())...
Listening on http://0.0.0.0:61208/
Hit Ctrl-C to quit.

192.168.0.3 - - [17/Mar/2016 22:47:09] "GET /api/2/all HTTP/1.1" 404 811
192.168.0.3 - - [17/Mar/2016 22:47:09] "GET /api/2/all/views HTTP/1.1" 200 8264
192.168.0.3 - - [17/Mar/2016 22:47:11] "GET /api/2/all HTTP/1.1" 404 811
192.168.0.3 - - [17/Mar/2016 22:47:11] "GET /api/2/all/vi

[2016-03-18 06:01] nicolargo commented on #815
@notFloran / @nclsHart : Any idea ?

[2016-03-18 16:45] HiBit opened #819 "Browsing for servers which are in the [serverlist] seems to be broken"
Hello,

I've 2 servers in my glances.conf in the [serverlist] section.
When i start glances with --browser I see the two machines but the menu seems to be broken.
I cant change the cursor and can't access any of the maschines.
Does someone experienced similar issues?
If I start glances with -c XXX.XXX.XXX I can connect to both maschines.

My glances.conf:
[serverlist]
# VM-WEB01
server_1_alias=VM-

[2016-03-18 19:43] jjbrunton commented on #815
Here's the full log:

http://pastebin.com/htDbmRz8

[2016-03-19 21:01] nicolargo commented on #819
Confirmed. It is a regression... I will have a look on it.

[2016-03-19 22:09] nicolargo commented on #819
@HiBit : just commit a patch on the DEVELOP branch. Can you test it ?

[2016-03-19 22:11] #813 closed

[2016-03-20 10:41] nicolargo commented on #817
Hi,

in the log:
Download error...

You need an Internet access. If it is not possible, follow the offline installation procedure: https://github.com/nicolargo/glances/wiki/Glances-offline-installation

[2016-03-20 10:41] #817 closed

[2016-03-20 11:32] notFloran commented on #815
@jjbrunton Can you go to "http://0.0.0.0:61208/api/2/all" with your browser ? What is the output ?

[2016-03-20 13:13] nicolargo commented on #815
@notFloran : i think that the answer is in the first comment: https://github.com/nicolargo/glances/issues/815#issue-141530554
It return: Cannot get stats ('utf8' codec can't decode byte 0xb5 in position 0: invalid start byte)

[2016-03-20 13:32] nclsHart commented on #815
We need to know if this is a global error or an error due to a specific plugin.

Please @jjbrunton, can you try if you have the same error on this 2 plugin endpoints :

* [http://localhost:61208/api/2/uptime](http://localhost:61208/api/2/uptime)
* [http://localhost:61208/api/2/system](http://localhost:61208/api/2/system)

[2016-03-20 17:54] jjbrunton commented on #815
Both of those endpoints return 200 with the correct information @nclsHart

[2016-03-20 20:32] nclsHart commented on #815
Ok. So the problem seems to come from one of the plugins.

Can you try all of the plugins availables [here](http://localhost:61208/api/2/pluginslist) like you have done for the uptime and system plugin (http://localhost:61208/api/2/:plugin_name), and tell us if you encounter an error on one of this endpoints.

[2016-03-20 20:53] nicolargo opened #820 "Improve code quality"
Here is the top worst functions complexity: https://scrutinizer-ci.com/g/nicolargo/glances/code-structure/develop?elementType=py-function&orderField=conditional_complexity&order=desc&changesExpanded=0

The goal of this issue is to reduce it.... without regression ;)

[2016-03-20 21:54] jjbrunton commented on #815
@nclsHart

[code]

[code]

Everything else looks good

[2016-03-21 07:29] nclsHart commented on #815
Could you try to update psutil ?

[2016-03-21 20:50] jjbrunton commented on #815
psutil version 4.1.0 - same issue. @nclsHart

[2016-03-21 22:15] nicolargo commented on #815
Another user has this kind of error message => See https://github.com/nicolargo/glances/issues/745

@jjbrunton is there any error message in the console where you start Glances ?

@jjbrunton (again): can you run the script unitest-restful.py (in the Glances root folder) ?

[2016-03-22 08:22] jjbrunton commented on #815
[code]

[2016-03-24 11:44] Bedotech commented on #170
Any news?

[2016-03-25 11:26] nclsHart opened #823 "[Web UI] Display ongoing alert counter in the favicon"
When there is at least one ongoing alert, a red counter could be displayed in the favicon.

This can be achieved using this lib: https://github.com/ejci/favico.js.
There is some examples available here : http://lab.ejci.net/favico.js.

[2016-03-26 16:34] #819 closed

[2016-03-26 17:01] jjbrunton commented on #815
Is this still an issue?

What version is this fixed in? I did a pip install glances --upgrade which got me 2.6.1 but the issue still exists.

[2016-03-26 17:07] nicolargo commented on #815
@jjbrunton Sorry to hear that the patch did not correct your issue. @nclsHart : Any idea to try to reproduce the problem ?

[2016-03-26 17:14] nicolargo commented on #300
@asergi Is there any way in the setup.py file to prevent users to install/upgrade Glances 2.7 if Python 2.6 is used.

"Glances 2.7 is not compliant with Python 2.6. Please use Glances version 2.6.1"

[2016-03-26 17:17] nicolargo commented on #767
Any other users interested by this feature ?

[2016-03-26 17:17] nicolargo commented on #752
@jasker5183 Any head up ?

[2016-03-26 17:19] nicolargo commented on #675
+1 for your POC @nclsHart

Any idea to also include the tips in the Curses interface ?

[2016-03-26 17:38] jasker5183 commented on #752
I never got that to work and have since switched from Ubuntu to Centos. On Centos they just monitor for kernel changes to know if a reboot is required (script below), I also only run Glances in web server mode so that might have been why it didn't work on Ubuntu.

`#!/bin/bash
LAST_KERNEL=$(rpm -q --last kernel | perl -pe 's/^kernel-(\S+).*/$1/' | head -1)
CURRENT_KERNEL=$(uname -r)

test $LAST_KE

[2016-03-27 03:15] pantherbotics3863 opened #824 "Crash on launch when viewing temperature of laptop HDD in sleep mode"
Some laptop HDDs will go into sleep mode after being powered off for awhile, which results in hddtemp returning the string "SLP" instead of the temperature. Glances v2.6.1 does not currently have support for this, resulting in the following crash upon launching glances:

[code]

[2016-03-27 08:44] nclsHart commented on #767
If there is no other users interested in this feature, I think this feature could be related to #549.

[2016-03-27 08:53] nclsHart commented on #815
@nicolargo If the problem come from one of the process name, we should be able to reproduce it with a complete list of processes.

@jjbrunton Could you find a way to send us a list of your processes ?

[2016-03-27 09:12] asergi commented on #815
@nicolargo @nclsHart @jjbrunton sorry, I should have made it more clear (with a comment here) that I only fixed part of the issue.

Anyway, to reproduce the bug, simply install µTorrent on Windows (0xb5 is the micro sign).
The problem is that I have yet to understand why it works flawlessy in console mode, but not in web.

[2016-03-27 13:39] asergi commented on #300
@nicolargo just changing this line: https://github.com/nicolargo/glances/blob/master/setup.py#L8.
And this https://github.com/nicolargo/glances/blob/master/glances/__init__.py#L52 to avoid people running it directly from source or virtualenv.

[2016-03-27 16:48] nicolargo commented on #824
Corrected in the DEVELOP branch. Can you test it ?

[2016-03-27 19:42] nclsHart opened #826 "Some Chrome processes are displayed as name "Enabled""
The processes appearing as "Enabled" in the following capture are in fact instances of chrome.

![chrome](https://cloud.githubusercontent.com/assets/833625/14067370/1f9d0b7a-f464-11e5-9572-2563e1e6523f.png)

Full Google Chrome process:

[code]

Glances version: 2.7_BETA
PSutil version: 4.0.0
OS: Ubuntu 15.10

[2016-03-27 20:34] nicolargo commented on #826
@asergi Perhaps another issue connected to https://github.com/nicolargo/glances/issues/546 ?

[2016-03-27 20:36] nicolargo commented on #767
Or related to this one: https://github.com/nicolargo/glances/issues/780

[2016-03-27 20:38] nicolargo commented on #300
@asergi Nice ! Can you work on this issue ?

[2016-03-27 21:33] nicolargo commented on #797
1) memory_info_ex no longer used in the DEVELOP branch.
2) memory_full_info (with USS and PSS stats) used for the extended stats (top process)

[2016-03-27 22:09] rogerfachini commented on #824
Posted this originally on the wrong account, will continue correspondence on this account from now on, sorry for the confusion. Pulled the Develop branch, ran it, and no crashes this time! Though none of the drives are showing any of the temperatures.
![sensoroutput](https://cloud.githubusercontent.com/assets/7243587/14068088/fbb68f74-f42c-11e5-9877-7751e244f8d1.PNG)
I can verify that the hddtemp

[2016-03-28 00:16] rogerfachini commented on #824
Update: When a drive is in sleep mode, the result is the same as the image above. Running netcat returns the following:
[code]

[2016-03-28 08:54] nicolargo commented on #824
@rogerfachini  Last commit should correct the issue.

![selection_003](https://cloud.githubusercontent.com/assets/776747/14074711/640d6074-f4d3-11e5-9fb4-76e90c100dcb.png)

Can you test the lastest DEVELOP version ?

[2016-03-28 09:53] nclsHart opened #828 "[Folders] Differentiate permission issue and non-existence of a directory"
#### Description

Currently if we have a permission issue on a monitored folders, the ui display a question mark. As said in the [documentation](http://glances.readthedocs.org/en/latest/aoa/folders.html), this symbol is used to report non-existent folders to user. This could be confusing.

So we could use another symbol (maybe exclamation mark) in order to clearly identify this issue.

[2016-03-28 18:10] nicolargo commented on #696
For developers: to be limited to the history, no impact should be done in the Glances plugins.

[2016-03-28 18:58] nicolargo commented on #828
Done in the latest commit.

@nclsHart : Can not see the plugin in the WebUI even after applying the PR: https://github.com/nicolargo/glances/pull/829#issuecomment-202432949 / Can you have a llok ?

[2016-03-28 19:37] rogerfachini commented on #824
Latest commit is confirmed to work!
![sensorswork](https://cloud.githubusercontent.com/assets/7243587/14087982/b1e2c330-f4e1-11e5-9e81-682045fb75c3.PNG)

[2016-03-28 19:40] nclsHart commented on #828
@nicolargo Tested under curse and web interface.

Maybe you have some browser cache on html templates. Can you try in private navigation?

There is just one decoration issue on Web UI: the exclamation mark is green (OK). I'll fix this.

[2016-03-28 21:11] julien101 opened #830 "Installation fails on osx el capitan"
On OSX El Capitan, the following command fails:
`pip install glances`
with the following error :
`byte-compiling /Library/Python/2.7/site-packages/glances/webserver.py to webserver.pyc
    running install_data
    creating /System/Library/Frameworks/Python.framework/Versions/2.7/share
    error: could not create '/System/Library/Frameworks/Python.framework/Versions/2.7/share': Operation not permit

[2016-03-29 12:24] xyproto commented on #389
With `--theme-white`, the terminal colors are black when presented in a browser (using `-w`).

[2016-03-29 20:30] nicolargo commented on #830
It is not a Glances issue but a Pip one.

Have a look on http://apple.stackexchange.com/questions/209572/how-to-use-pip-after-the-el-capitan-max-os-x-upgrade

[2016-03-29 20:30] #830 closed

[2016-03-29 20:32] #828 closed

[2016-03-29 20:36] #824 closed

[2016-03-29 20:45] nicolargo commented on #823
+1 for the idea

[2016-03-31 10:32] nicolargo commented on #810
Implemented in the latest commit.

Tested on Linux.
Need tests on others OS: BSD, Mac and Windows.

@nclsHart : Can you implement the WebUI part ?

[2016-04-01 18:46] clrung opened #832 "Grafana Dashboard outdated for InfluxDB 0.11.x"
Potentially relates to  #648.

#### Description

I recently updated InfluxDB from 0.9.x to 0.11.1 and updated my InfluxDB databases as per [https://docs.influxdata.com/influxdb/v0.10/administration/upgrading/](https://docs.influxdata.com/influxdb/v0.10/administration/upgrading/) and [https://docs.influxdata.com/influxdb/v0.11/administration/upgrading/](https://docs.influxdata.com/influxdb/v0.11/ad

[2016-04-01 18:49] clrung commented on #832
Sorry!  Just found https://github.com/grafana/grafana/issues/4454

I will update grafana and see if this resolves my issue.

[2016-04-01 18:49] #832 closed

[2016-04-01 21:07] clrung commented on #832
Updated grafana to the 3.0 beta, which includes support for InfluxDB 0.11.x.

[2016-04-02 13:39] nicolargo commented on #646
Done in the latest commit:

![Uploading Sélection_005.png…]()

[2016-04-02 13:40] nicolargo commented on #646
@nclsHart Can you report this new feature to the WebUI ?

[2016-04-02 14:04] nicolargo commented on #646
There is a problem with Python 3.

[2016-04-02 15:01] nicolargo commented on #646
Python 3 issue should be corrected.

Please test !

[2016-04-03 09:31] nicolargo opened #836 "CPU consumption"
#### Description

Firefox high CPU consumption when the  the WebUI is displayed.

Without Glances but with Firefox open:

![selection_009](https://cloud.githubusercontent.com/assets/776747/14231743/f0ab88a2-f98e-11e5-9447-193958835855.png)

With Glances -w started and the WebUI openned in Firefox:

![selection_010](https://cloud.githubusercontent.com/assets/776747/14231748/0658f964-f98f-11e5-908d-

[2016-04-03 09:32] nicolargo commented on #836
@nclsHart / @notFloran : Do you think that the CPU consumption is normal ?

[2016-04-03 10:31] asergi commented on #826
It's the same psutil bug mentioned by desbma in #\546.
Anyway, here's the patch: https://gist.github.com/asergi/7a30cbb7f24fd146af21cd33b094c1db

Please test.

[2016-04-03 14:01] maximiliankolb opened #837 "[Web server mode] Huge memory consumption"
hey.
i want to report a huge memory consumption of glances. i was running glances -w for roughly 16 hours and i had a memory consumption of 2.5gb from glances and 500mb from iceweasel.

maximilian@debian:~$ uname -a
Linux debian 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt20-1+deb8u4 (2016-02-29) x86_64 GNU/Linux

maximilian@debian:~$ glances -V
Glances v2.1.1 with psutil v2.1.1

maximilian@debian:~$ l

[2016-04-04 00:41] bacondropped opened #838 "Process naming issue (Chromium is displayed as Asy)"
#### Description

![2016-04-04-031536_1598x877_scrot](https://cloud.githubusercontent.com/assets/9872501/14235959/6a3210f2-fa15-11e5-9711-2998b174615e.png)

Glances prints `Asy` instead of the Chromium command line, actual command line is shown in the bottom right (`ps aux | grep Asy`). Maybe it has something to do with the forward slash in the `--force-fieldtrials` argument?

#### Versions

* Gla

[2016-04-04 07:12] nicolargo commented on #838
Hi @bacondropped !

First of all, thanks for the complete report. The issue is already knoxn: https://github.com/nicolargo/glances/issues/826

A patch will be release soon.

REJECTED: duplicated https://github.com/nicolargo/glances/issues/826

[2016-04-04 07:12] #838 closed

[2016-04-04 07:13] nicolargo commented on #826
Hi @asergi : Patch tested. Can you merge it to the develop branch ?

[2016-04-04 07:16] nicolargo opened #839 "[WebUI] Process list not display at every refresh"
Perhaps an issue after this pull request: https://github.com/nicolargo/glances/pull/835
==> @nclsHart

#### Description

For a bug: The process list is not displayed every time.

![selection_012](https://cloud.githubusercontent.com/assets/776747/14240529/d4044eca-fa45-11e5-8dd7-d01f02bb1f65.png)

#### Versions

* Glances (glances -V): latest DEVELOP HEAD

[2016-04-04 07:20] bacondropped commented on #838
Oh, sorry for the duplicate. Thanks!

[2016-04-04 08:21] ngergo opened #840 "Exception after running glances for several hours"
#### Circumstances
- `glances` without options with the default config
- running glances in tmux
- after some hours of run the following error will occur:

[code]

I'm working on finding the root-cause for the issue. I'll post it here if I find.
#### Possible solution

Use  `isinstance(x, dict)` for all the items to check if it is a proper `comparsion_key` **or** avoid adding a non-dict instance t

[2016-04-04 10:14] nclsHart commented on #810
Tested under osx (Glances v2.7_BETA with psutil v4.1.0).

I get some negative values :

<img width="340" alt="cpu" src="https://cloud.githubusercontent.com/assets/833625/14245006/acc2b8ba-fa5e-11e5-88b7-8d7730c67ddb.png">

[2016-04-04 10:16] asergi commented on #826
d9bdce6

[2016-04-04 10:16] #826 closed

[2016-04-04 10:27] asergi commented on #826
@nicolargo 2.6.2? We could just cherry pick the bugfix commits.

[2016-04-04 11:43] nclsHart commented on #839
@nicolargo Bug confirmed on firefox but i can't reproduce on chrome:

[code]

[2016-04-04 11:44] nicolargo commented on #826
Yes @asergi, we can merge it to the DEVELOP branch and to a specific branch derived from MASTER to create the 2.6.2 version.

[2016-04-04 11:48] nicolargo commented on #839
Bug corrected: works nice on my Firefox 45.0 after applying the patch https://github.com/nicolargo/glances/issues/841

Thanks @nclsHart

[2016-04-04 11:48] #839 closed

[2016-04-04 12:03] nicolargo commented on #840
Hi @gregory094 ,

the line

    for i in sorted(self.stats, key=comparsion_key):

did not exist in Glances 2.7 Beta.

It has been replaced by :

    for i in sorted(self.stats, key=operator.itemgetter(self.get_key())):

Are you sure that you test it on the good Glances version ?

Nicolas

[2016-04-04 13:16] lnxg33k opened #842 "Glances stopped working when using VPN with no internet access."
#### Description

Working behind a VPN with no internet access 'no internet splitting is allowed through the VPN connection'

Network Interface:
[code]
Traceback (most recent call last):
  File "/usr/local/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.6.1', 'console_scripts', 'glances')()
  File "/usr/local/lib/python2.7/site-packages/glances/__init__.py", line 133, in main

[2016-04-04 13:27] gregory094 commented on #840
Hi @nicolargo,

Sorry I've just modified the code after the first error to separate the possible part of the code that throws the exception. `operator.itemgetter(self.get_key())` will result this exception. So the error is valid.

The `itemgetter` awaits a `dict` but gets an `str` somewhere... That's why it throws the error mentioned above.

[2016-04-04 14:25] nicolargo commented on #842
Should be corrected in the latest HEAD version (DEVELOP branch).

Thanks for the report !

[2016-04-04 14:33] nicolargo commented on #837
Hi @maximiliankolb , just finalize a benchmark on my system and the memory consumption is not high (around 26 MB after 10 hours for the glances -w process).

Glances 2.1.1 is an old Glances version. Can you try to install the latest Glances / PsUtil version (Glances 2.6.1 and PsUtil 4.1).

Nicolas

[2016-04-04 14:46] nicolargo opened #843 "[WebUI] Add 'x' and 'w' shortcuts to clean logs messages"
#### Description

Enhancement: Add 'x' and 'w' shortcuts to clean logs messages

![selection_013](https://cloud.githubusercontent.com/assets/776747/14251704/8af79266-fa84-11e5-94f2-d8bda6c77921.png)

#### Versions

* Glances (glances -V): Glances 2.6.1

#### Notes for dev

Create Resful API post command to clean:

* 'w' > Delete finished warning logs
* 'x' > Delete finished warning and critical lo

[2016-04-04 15:11] nclsHart commented on #843
Duplicate of #808. Should I close #808?

[2016-04-04 15:16] nicolargo commented on #843
Oups...
No, i close this one...

REJECTED: duplicated https://github.com/nicolargo/glances/issues/808

[2016-04-04 15:16] #843 closed

[2016-04-04 16:39] nclsHart commented on #826
@asergi I get the following error:

[code]

[2016-04-04 18:38] asergi commented on #826
Fixed, thanks.

[2016-04-04 19:49] nclsHart commented on #836
This is a screenshot taken while monitoring one instance of chrome and another of firefox with only the glances web UI opened on it:

![cpu-consumption](https://cloud.githubusercontent.com/assets/833625/14260189/96e532d8-faaa-11e5-90b0-f9d93b66de80.png)

The CPU consumption seems to be particulary high on firefox.

I will look for possible performance enhancements with angularjs. But the first enh

[2016-04-05 07:18] nicolargo commented on #836
@nclsHart +1 for the proposal to reduce the number of items in the process list (it is what is done in the Curses interface). The point is to find a way to compute the number of item regarding to the screen/font size. Any proposal ?

[2016-04-05 08:17] nicolargo commented on #840
@gregory094

Nope, itemgetter can get a 'str':

    In [10]: stats
    Out[10]: [{'d': 'c', 'k': 'b'}, {'d': 'b', 'k': 'a'}, {'d': 'a', 'k': 'c'}]
    In [11]: sorted(stats, key=operator.itemgetter('k'))
    Out[11]: [{'d': 'b', 'k': 'a'}, {'d': 'c', 'k': 'b'}, {'d': 'a', 'k': 'c'}]

Do not understand why a exception is raised ?

[2016-04-05 09:23] gregory094 commented on #840
@nicolargo

Sorry... I've misinterpreted it's not the `itemgetter` that throws the error but the `sorted` function. Somehow it awaits a `dict` to lookup the key but gets an `str` as far as I can understand. Please correct me if it's not the situation.

[2016-04-05 11:23] asergi opened #844 "Idle process is back on FreeBSD and Windows"
![idle-process](https://cloud.githubusercontent.com/assets/325166/14280043/967ee664-fb30-11e5-8a6a-3315e62aaf08.png)

All Glances versions since `2.1` are affected.

[2016-04-05 11:23] asergi commented on #844
@nicolargo do you have any clue?

[2016-04-05 16:27] asergi commented on #842
If I'm not wrong, is a `netifaces` issue. It would be nice to know why it fails.
Perhaphs, we could use psutil's `net_if_addrs()` as fallback to get the same info (don't know if it's doable, gateway info is missing). Also, this way we could provide the IP plugin to *BSD as well (netifaces is broken for now).

[2016-04-06 06:59] nicolargo commented on #844
@asergi Nope, it is strange because the line https://github.com/nicolargo/glances/blob/develop/glances/processes.py#L423 should do the trick...

[2016-04-07 20:13] marshallpierce opened #845 "Crash on startup in host OS when processes inside Docker containers have uids that don't exist in the host OS"
#### Description

When processes are running inside a Docker container, they can have uids in the host OS that do not exist according to /etc/passwd.

I'm running glances 2.5.1 on python 2.7.1, and I get the following when launching glances:

[code]

999 is not a user that exists in the host OS, but I do have a process with uid 999 that is running inside a docker container:

[code]

#### Versions

[2016-04-09 16:01] nicolargo commented on #845
Hi @marshallpierce thanks for the report.

Can you send us a procedure to reproduce this issue ?

[2016-04-09 23:31] marshallpierce commented on #845
Sure. Run a docker container (this one is quick to download):
[code]

That will probably map redis to a uid that isn't in your system. If it does, try other docker containers.

Then run glances.

[2016-04-13 11:28] jjbrunton commented on #815
Any movement on this?

[2016-04-13 13:58] nclsHart commented on #815
@jjbrunton I've successfully reproduced your bug on python 2.7.11 and I'm now working on a patch.

Python 3.5.x seems to be not affected by this issue.

[2016-04-13 13:59] jjbrunton commented on #815
@nclsHart - Sounds good, I'm following this issue so let me know if I can test/do anything to help.

[2016-04-13 15:22] nicolargo commented on #780
AMP scripts are defined in the glances/amps folder. For example, the Nginx AMP will be defined in the glances/amps/glances_nginx.py script.

[2016-04-13 18:11] ketzacoatl opened #846 "Unable to use `glances --browser`"
I have read through the docs, and I believe I have my network and host configurations correct, though I am not seeing the results I expect.

#### Description

I have a cluster of nodes on EC2 AWS, and they all have a glances server running. I start a client on one of the hosts with `--browser`, but it errors out: `No Glances server available`

`ps aux | grep glances` shows me glances is running on

[2016-04-13 19:05] mattpoel opened #847 "CSV export: Data lines with more columns than expected"
#### Description

I was running glances with CSV export on a Windows 2008 Server R2 SP1 64-Bit to collect data for 24 hours. The following command was used for the data collection:

[code]

During analysis of the collected data, I found lines where glances is writing too much columns for the snapshot lines. Please find an example snippet below (I've removed the first columns for better readability

[2016-04-13 19:55] nicolargo commented on #846
Hi @ketzacoatl .

You need to configure your nodes into the client configuration file. The Glances auto discover protocol only works when Glances servers and clients are on the same Ethernet subnet( broadcast and multicast enable).

[2016-04-13 20:13] nicolargo commented on #847
Also reproduce on Ubuntu with Glances 2.6.1.

Bug confirmed.

[2016-04-13 20:30] mattpoel commented on #847
Thanks for the fast response!

I think there is a general problem with the total cpu usage calculation. Per core data looks fine, but somehow the values do not add up in the total cpu usage calculation:

[code]

Should I create another issue for this or am I missing something?

[2016-04-13 20:37] nicolargo commented on #847
Nope, the issue did not come from the CPU plugin.

Be aware that it is normal that cpu_system + cpu_user <> cpu_total.

"""
        # Grab CPU stats using psutil's cpu_percent and cpu_times_percent
        # Get all possible values for CPU stats: user, system, idle,
        # nice (UNIX), iowait (Linux), irq (Linux, FreeBSD), steal (Linux 2.6.11+)
        # The following stats are returned by the

[2016-04-13 21:24] ketzacoatl commented on #846
OK, so I need to add a configuration file to each of the hosts.. that makes sense. I see http://glances.readthedocs.org/en/latest/config.html, but it's not clarifying for me, what should the config look like for client/server?

[2016-04-13 21:28] ketzacoatl commented on #846
Oh, I see https://github.com/nicolargo/glances/blob/master/conf/glances.conf#L178, so I think that is more clear. I will update my CM formula for saltstack and see if I can get these servers chatting.

Also, I am really impressed with glances so far, great work! Thanks!

[2016-04-13 21:28] #846 closed

[2016-04-14 16:39] dbarboza opened #848 "Crash with Docker 1.11"
#### Description
Glances CLI errors with the following trace:

[code]

In the brief time glances is displayed, I noticed the docker stats are mostly "?" instead of numeric:
[code]

I have one container running and `docker stats gemstash_server` appears normal:
[code]
If I have no containers running, glances will run fine without the docker section.
I did upgrade docker to the newest this morning (

[2016-04-14 17:28] nicolargo commented on #848
Hi @david-guenault.

First of all, thanks for the bug report. I have not tested Glances with this latest Docker version.

One additional question: do you have updated your docker-py (Docker Python lib) ?

[2016-04-14 18:00] dbarboza commented on #848
I was running docker-py 1.7.2 at the time of this report. I have now upgraded to the latest (1.8.0). The Glances error remains.

[2016-04-15 11:59] mattpoel commented on #847
Yes, it's clear that on other OS I would have additional CPU stats like iowait, irq, etc. I thought that the CSV export provides all available stats from psutil for the OS it's running on (in this case Windows 2008R2) and therefore the values should add up to cpu_total. If this is not case, I will just calculate a cpu_other column based on `cpu_total - cpu_system - cpu_user = cpu_other`.

Do you k

[2016-04-15 12:49] nicolargo commented on #847
@mattpoel Nope.

Can you do the following:

    # python

Nicolas

[2016-04-16 20:42] nicolargo commented on #845
Looks like a PsUtil issue. Two actions should be taken:

1. Open an issue on the PsUtil Github
2. Try / except the line 383 (glances_processes.py)

[2016-04-17 06:22] mmozeiko opened #849 "Wrong formatting for tree columns"
When I run `glances --tree` the tree menu is messed up. It looks like `W/s` and `Command` columns are swapped for some of child processes. If I run glances command multiple times, this always happens for same processes.

![screenshot](http://i.imgur.com/RMhiKwE.png)

* Glances: 2.6.1
* PSutil: 4.1.0
* Operating System: ArchLinux

[2016-04-17 15:33] jasker5183 commented on #836
I believe this is why my laptop sounds like its taking off while I have a glances tab open in either chrome or firefox. Wouldn't happened to be fixed in dev version?

[2016-04-17 20:07] nicolargo commented on #849
@desbma Can you have a look on this issue ?

[2016-04-17 20:20] nicolargo commented on #848
Bug confirmed:

[code]

Docker version:

[code]

Docker API is broken... again...

Workarounds:
- Use Docker 1.8 (or 1.9)
- Disable the Docker plugin --disable-docker

[2016-04-17 20:35] nicolargo commented on #848
No more stats in the dict:

    u'memory_stats': {u'usage': 27185152, u'limit': 8273551360, u'failcnt': 0, u'stats': None, u'max_usage': 27455488}

Docker issue ?

Here is the contain of the all_stats var:

`2016-04-17 22:32:04,120 -- INFO -- {u'blkio_stats': {u'io_service_time_recursive': [], u'sectors_recursive': [], u'io_service_bytes_recursive': [{u'major': 8, u'value': 16388096, u'minor': 0,

[2016-04-17 21:18] desbma commented on #849
I did reproduce and fix is available in #851.

[2016-04-18 18:00] nclsHart commented on #815
@nicolargo or @asergi I haven't find a way to solve this issue.

The problem seems to come from the json dumps function and his behavior with unicode on python 2.x.

[2016-04-18 20:51] nicolargo commented on #848
The issue should be corrected with the latest commit of the DEVELOP branch.

@dbarboza Can you test it ?

[2016-04-19 14:30] dbarboza commented on #848
Confirmed - With d64ee55, glances does not crash and the container section reports valid information. Thank you!

[2016-04-19 20:40] nicolargo commented on #849
@mmozeiko : Can you test the DEVELOP branch and check that the bug is corrected ?

[2016-04-19 21:46] mmozeiko commented on #849
I get IndexError exception:

[code]

[2016-04-19 22:49] desbma commented on #849
That last error should be fixed by #852.

[2016-04-19 23:00] mmozeiko commented on #849
Yes, develop branch + b410a0c commit in #852 fixes the problem. Now I get pretty tree view!

![screenshot](http://i.imgur.com/DE6yG1h.png)

[2016-04-20 07:41] nicolargo commented on #849
Ok, merged in the DEVELOP branch.

Thanks all !

[2016-04-20 07:41] #849 closed

[2016-04-21 03:00] brandonros opened #853 "[WebUI] No way to password protect?"
Do the command line options for username/password work only for client/server mode, or do they also work for the public port done by `-w`?

[2016-04-21 03:15] brandonros commented on #853
Works fine.

[2016-04-21 03:15] #853 closed

[2016-04-22 19:34] #848 closed

[2016-04-22 20:11] nicolargo opened #854 "Human reading analysis pluging"
#### Description

This new plugin will display a human reading message with a synthesis of current stats issues. For exemple if the user CPU consumption is high, the following message will be displayed:

### Pending questions
- Maximum size of the message ?
- Where this new plugin should be displayed in the UI ? => Replacing the "No warning or critical alert detected" ?
- use decision tree ? Machi

[2016-04-24 08:43] nicolargo commented on #847
@mattpoel Concerning the CSV export issue. Can you test the latest DEVELOP branch version ? It should solve it.

[2016-04-25 22:11] h3xx opened #855 "Fails to output degrees character on non-unicode terminals"
## Symptoms:

* Outputs temperatures in the `SENSORS` panel as e.g. "41C" instead of "41°C" when outputting to a latin1 terminal. It should output the symbol in the appropriate encoding for the terminal.

![screenshot-2016-0425-1708](https://cloud.githubusercontent.com/assets/615684/14800624/85de63ce-0b08-11e6-80e3-5311c4a57529.png)

## Steps to reproduce:

Use a latin1 terminal to run glances:

[2016-04-27 21:26] clrung opened #856 "Network I/O is off in InfluxDB/Grafana"
#### Description

The network I/O in my grafana dashboard does not match what I see when I run glances from the command line.  See picture below:

<img width="555" alt="screen shot 2016-04-27 at 5 15 40 pm" src="https://cloud.githubusercontent.com/assets/5472850/14868503/cf0dec92-0c9b-11e6-9fa2-6b959d364aa1.png">

As you can see, it's not something straightforward like not using the correct units

[2016-04-28 07:46] nicolargo commented on #780
@asergi / @nclsHart  / @nclsHart : Need your feedback about this *under development* feature.

[2016-04-28 08:34] nicolargo commented on #856
Be aware that the refresh time between the Glances UI (default 3 seconds) and the Grafana dashboard (default 300 seconds) is different. Nevertheless, do you use the Grafana Glances dashboard or a specific one ?

[2016-04-28 09:16] asergi commented on #855
This is not a bug. We don't display the degree symbol anymore: a3f6f81.

[2016-04-28 09:16] #855 closed

[2016-04-28 12:41] clrung commented on #856
My apologies for leaving out that detail.  I am using the Grafana Glances dashboard.  I don't think that this is a refresh time issue; the graph below shows a period of time when I was downloading a large file while maxing out my internet connection, which is about 10MBps.

<img width="222" alt="screen shot 2016-04-28 at 8 34 55 am" src="https://cloud.githubusercontent.com/assets/5472850/14886003/

[2016-04-28 13:08] nicolargo commented on #856
One question.

Glances display and populate the InfluxDB database in Kbps (Kilo bits per second).
When i saw the latest screenshot, your dashboard uses Bps (Byte per second unit).
You should configure your dashboard to use bps (bits per second).

[2016-04-28 13:16] clrung commented on #856
Here is what appears when I use bits/sec:

<img width="449" alt="bits s" src="https://cloud.githubusercontent.com/assets/5472850/14886933/7267e1f6-0d21-11e6-80e5-51070768d2d6.png">

This shows ~30Mbps ~= 3.75MBps

And bytes/sec:

<img width="430" alt="bytes s" src="https://cloud.githubusercontent.com/assets/5472850/14886939/7cc4aa8a-0d21-11e6-9361-d03db8ac00bf.png">

This shows ~30MBps.

This shou

[2016-04-28 13:32] nicolargo commented on #856
Also reproduced on my side:

Ran a iperf (1Mbps on the Tx Interface):

![selection_017](https://cloud.githubusercontent.com/assets/776747/14887453/3877e10a-0d56-11e6-9f29-4768c0507c72.png)

Display 1 Mbps in the Glances UI:

![Uploading Sélection_016.png…]()

But display 435Kbps in the Grafana dashboard:

![selection_018](https://cloud.githubusercontent.com/assets/776747/14887487/577423c0-0d56-11e

[2016-04-28 13:33] clrung commented on #856
Ah that's great! Reproducibility 👍

Please let me know if there's anything I can do to assist.

[2016-04-28 14:10] h3xx commented on #855
Ah, okay. Thanks for the clarification.

[2016-04-28 14:35] nicolargo commented on #856
I understood...

Glances store the current bitrate en Byte per second every refresh (3 by default) seconds. So you need to modify the Grafana dashboard as following:

![selection_019](https://cloud.githubusercontent.com/assets/776747/14889457/2d1ab6bc-0d5f-11e6-979a-c5b57c96209b.png)

I will update the official dashboard on the Github.

Perhaps there is the same issue on the disk IO plugin...

[2016-04-28 15:38] clrung commented on #856
Thank you!! This resolved my issue.  And you're right; this problem may be affecting disk I/O too.

[2016-04-29 11:31] nicolargo opened #857 "Add Cassandra/Scylla export plugin"
#### Description

The goal of this feature request is to export stats to a Cassandra (or Scylla) database.

#### Data model

Have a look on the second pattern: https://academy.datastax.com/resources/getting-started-time-series-data-modeling

#### Resources

Python lib: https://pypi.python.org/pypi/cassandra-driver
Python lib sample: https://github.com/nicolargo/pythonarena/blob/master/cassandra/cl

[2016-04-29 12:28] nicolargo opened #858 "Add Kafka export plugin"
#### Description

The goal of the current feature request is to export stats through a [Kafka Producer](http://kafka-python.readthedocs.io/en/master/apidoc/KafkaProducer.html).
#### Resources

Kafka official Web site: http://kafka.apache.org/
Kafka Python lib: https://pypi.python.org/pypi/kafka-python
Kafka Python code for JSON serial object: https://github.com/dpkp/kafka-python#kafkaproducer

For

[2016-05-02 08:41] nicolargo commented on #780
Merged to the develop branch.

To test it, edit and use the new conf file:

    python -m glances -C ./conf/glances.conf

@nclsHart or @notFloran : Need some help to finalized the WebUI. The AMP plugins should:

- not display line if result is empty.
- should replace '\n' by <br /> in the result.
- be disable if 'A' shortkey is pressed (have done something but did not work...)

[2016-05-03 19:04] #856 closed

[2016-05-03 20:57] nicolargo commented on #836
@nclsHart How can we looking forward this issue ? Some ideas:

1) limit statically the number of items in the processing list
2) compute the number of item dynamically (stop displaying when the item is not visable, perhaps JS can do that...).
3) other trick...

[2016-05-03 21:09] nclsHart commented on #780
@nicolargo the new 'A' shortcut is missing from the help page (curse and webui), should I add it?

[2016-05-03 21:28] nicolargo commented on #780
@nclsHart be my guest...

[2016-05-04 03:08] sungmok opened #861 "Random crach occurs with the sensor plugin"
#### Description

If execute follow command then the crash occur at random.
$ glances -C ~/glances.conf --export-influxdb

#### Versions

* Glances (glances -V): 2.6.1
* PSutil (glances -V):4.1.0
* Operating System (lsb_release -a):

Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.4 LTS
Release:	14.04
Codename:	trusty

#### Logs

$ glances -C ~/glances.conf --export-influxdb

Traceback (most rece

[2016-05-04 08:09] nicolargo commented on #861
Hi @sungmok can you start Glances in debug mode (just add -d to your command line) and [paste/bin](http://pastebin.com/) the /tmp/glances.log file.

Thnaks in advance.

[2016-05-04 16:08] dwt opened #862 "Allow theme to be set in configuration file"
#### Description
I use a white terminal all the time, therefor the default theme doesn't make sense to me. I'd like to change it via the configuration file, but neither the help texts, nor studying the default config file gave me any hint how to set this up. (I expressly don't want to aliases to work around this).

Am I missing something or is this feature missing? If so I'd say: If it's a command

[2016-05-04 16:15] nicolargo commented on #862
Hi @dwt . First of all thanks for the enhancement request.

Do you want to be able to configure the "whte theme" (the one linked to the --theme-white command line option) through the configuration file or define an "home made theme" (choosing background, foreground, warning and critical color) ?

[2016-05-04 16:19] nicolargo commented on #837
@maximiliankolb : any feedback ? Can you reproduce the issue ?

[2016-05-04 16:19] nicolargo commented on #847
@mattpoel : Any feedback ?

[2016-05-04 16:20] #646 closed

[2016-05-05 07:20] nicolargo commented on #698
A optimisation is on the road into PsUtil: Follow https://github.com/giampaolo/psutil/issues/799

[2016-05-05 07:27] nicolargo commented on #712
@themalkolm anuy head up ?

I plan to make the Glances logging system configurable through the configuration file. Is it responding to yours needs ?

[2016-05-05 14:00] themalkolm commented on #712
@nicolargo yes, this will solve logging issue. I would say an essential part of any headless daemon.

[2016-05-06 13:18] dwt commented on #862
I would definitely start by just allowing the command line flags in the config file first. Creating my own themes is not something I consider. If you want, you can add this later and I’m sure other users will use it. :)

Best Regards,
Martin Häcker

[2016-05-07 20:23] nicolargo commented on #862
Ok @dwt, thanks for the clarification.

The implementation of this enhancement request will be in included into the 2.7 roadmap.

A new section will be added to the configuration file:

    [outputs]
    curse_theme=white

curse_theme could be default (black) or white.

[2016-05-07 20:35] nicolargo commented on #844
@asergi Can you confirm the issue ?

[2016-05-07 20:48] nicolargo commented on #698
Should be done via PsUtil.