[2019-03-05 19:49] nicolargo commented on #1430
Strange, not reproduce on my system (Ubuntu 18.04.2. LTS, Glances DEV branch and PSUtil 5.5.0):

![image](https://user-images.githubusercontent.com/776747/53832995-d9e04800-3f87-11e9-91b4-d8b407eefb68.png)

Note: same stats with Glances 3.1 and Glances 5.6.0...

[2019-03-05 19:49] nicolargo commented on #1431
Any Firewall ?

[2019-03-05 19:52] nicolargo commented on #1417
Can you open an issue o the Netifaces Github...

If it is not corrected in the next Glances version, i will hide it. Do not want to show a wrong information...

[2019-03-05 19:54] nicolargo commented on #1418
@gotjoshua It will be nice if you can do it through a PR.

[2019-03-05 19:55] adrian-enspired commented on #1430
I should probably be asking "what _might_ cause this; what should i look at to troubleshoot?"

For example, when I upgraded to 3.1.0, py-cpuinfo somehow went missing (left me without the cpu name+frequency for a while, until i figured out what was missing and re-installed it), so this might be a similar issue. It just makes no sense to me that the modules (two parts of the same module, in the CPU

[2019-03-05 23:01] Atticfire commented on #1417
If you don't want to import IPAddress then make the following change to glances_ip.py

line 150
return sum([int(x) << 8 for x in ip.split('.')]) // 8128

Change to
return sum(bin(int(x)).count('1') for x in ip.split('.'))

That will give a correct CIDR on my Linux system

...  sum(bin(int(x)).count('1') for x in ip.split('.'))
8
16
24
25
26
27
28
29
30
32

[2019-03-06 14:25] ArielRosenfeld commented on #1429
i actually prefer the inverse of only disks and not the partitions.

but more examples in the documentation would be welcome anyway

[2019-03-06 20:10] nicolargo commented on #1430
Glances uses one thread per plugin. So it can make sense to have different values between two modules if one have an issue collecting data.

Can you try to run glances with --light option to disable all but top menu.

[2019-03-06 20:26] #1429 closed

[2019-03-06 20:36] #1424 closed

[2019-03-06 20:38] nicolargo opened #1432 "Make all command line configuration option vailable in the glances.conf file"
#### Description

For the moment some optin are only available through the command line. This new feature will allows user to set it in the glances.conf file.

[2019-03-07 18:10] danny916 opened #1433 "cannot read pygal import datetimeline"
I have the following issue when running command
'glances --export graph'

I get the following error:

file /usr/lib/python2.7/site-packages/Glances-3.1.1b0-py.2.7.egg/glances/exports/glances_graphy.py
line 22 in <module>
from pygal import DateTimeLine
ImportError: cannot import name DateTimeLine

glances 3.1.1b0
psutil v5.4.3
RHEL 7.6 server

Thanks

[2019-03-08 08:20] kewp commented on #1282
Are you using PostgreSQL? It could be caused by a [code page error](https://stackoverflow.com/questions/20794035/postgresql-warning-console-code-page-437-differs-from-windows-code-page-125).

[code]

Trying setting the code page before you start Django.

[code]

[2019-03-08 14:23] adrian-enspired commented on #1430
thanks.

`glances --light`
![glance-light](https://user-images.githubusercontent.com/796525/54033891-88041180-4183-11e9-90f2-7549dea530e5.png)

isn't the whole left side of this the "cpu" plugin? "cpu", "system", "user", and "idle" aren't different plugins / run in different threads, do they?

[2019-03-08 17:39] Mustafa-C commented on #1431
No firewall

[2019-03-09 06:42] sgqy commented on #1282
This works for me:
[code]
Or take action provided by @ondrejchmelar.
I don't know why they use `iso-8859-1` :(

[2019-03-10 11:00] kolewu commented on #1419
The image tagged `arm-latest` is **not** *arm* (neither `arm32` nor `arm64`), it's `x86_64`because it's build on docker hub and only x86_64 images can be built there. You can test it with this command on a x86_64 linux computer:

[code]

It is possible to cross compile on docker hub for arm, but I have currently not enough experience to do this.

[2019-03-11 16:15] leem32 opened #1434 "Content-security-policy blocking Glances web UI"
My Content-security-policy (CSP) is blocking the Glances web UI or more precisely it's preventing the inline script from loading because it does not contain a nonce.

[code]
Error:
[code]

If I turn off the CSP Glances works without any issues.

I need to add a nonce into all inline scripts so the Glances inline script would look like this.
[code]

Understandably you're not going to add the nonce

[2019-03-11 16:28] adrian-enspired commented on #1430
another bit of info from troubleshooting: several times now, I've run glances and seen this problem go away. it _seems_ that, when the problem is absent, glances uses about 4% of my cpu; but when the problem is apparent, it uses closer to 38%. this correlation _appears_ to be consistent.

[2019-03-12 08:00] crusaderky opened #1435 "docker glances container shows container's own network traffic"
I'm using glances docker image, as documented in README.md:
[code]
The "NETWORK" section shows the network traffic (and interface names) of the docker container (eth0 lo), instead of the ones of the host running docker (docker0 enps20 lo).

[2019-03-12 08:02] crusaderky opened #1436 "docker glances container doesn't map UIDs to user names"
I'm using glances docker image, as documented in README.md:
[code]
The TASKS view correctly shows the processes running on the host running docker; however any user that is not root appears as a numeric UID instead of its user name.

[2019-03-12 08:05] crusaderky opened #1437 "docker glances container only shows root disk space"
I'm using glances docker image, as documented in README.md:
[code]

This is what I read in the FILE SYS panel:
[code]
The 31.2G disk is my root mountpoint on the host running docker. I have other mountpoints on /dev/md0 that are missing. I can see md0 in the DISK IO panel.

[2019-03-13 06:17] genevera commented on #1272
@nicolargo that doesn't make any difference.

[2019-03-13 07:51] genevera commented on #1272
#1438 is a quick fix that forces all fields to go in as 'keyword' type.  If anyone knows a way to easily map Py3 types to ES types please lmk:)

[2019-03-13 20:28] nicolargo commented on #1433
Hi @danny916

you need Pygal 2.0 or higher.

What is your Pygal version ?

I will add a minimal version number in the requirements file.

[2019-03-13 20:33] nicolargo commented on #1434
@notFloran Any advise concerning this request ?

[2019-03-13 20:48] nicolargo commented on #1435
You need to add the "insecure" following option to the command line:

[code]

I will add a note on the documentation.

[2019-03-13 20:56] nicolargo commented on #1436
Perhaps a solution here: https://docs.docker.com/engine/security/userns-remap/

[2019-03-14 09:10] timcowchip opened #1440 "Glances PsUtil ValueError on IoCounter with TASK kernel options"
#### Description

{'invalid attr name 'io_counters'}

#### Versions

*Glances v3.1.0 with psutil v5.6.1
*Crux-3.4

#### Logs

glances
Traceback (most recent call last):
  File "/usr/bin/glances", line 11, in <module>
    load_entry_point('Glances==3.1.0', 'console_scripts', 'glances')()
  File "/usr/lib/python3.6/site-packages/glances/__init__.py", line 140, in main
    start(config=config, args=a

[2019-03-14 19:43] danny916 commented on #1433
Thanks that helped.

[2019-03-14 20:39] nicolargo commented on #1440
Not reproduce with the same Glances/Psutil version...

[2019-03-16 17:03] tfonfara opened #1442 "FR: Add docker dependency to docker images"
It would be great if docker images would already contain docker dependency (`pip install docker`), as it's obvious that people are using docker in that case 😊

Thanks!

[2019-03-17 00:03] LrrrAc opened #1443 "Limiting data exported for economic storage"
I am wondering if it would be possible to limit the data exported by glances in an effort to save storage space. I currently export to influxdb and it stores everything that glances sees and I dont use all of that data. I would like to prevent data sets that I dont use from being sent to influxdb.

[2019-03-17 09:24] daniel-vera-g opened #1444 "Kill a process from the Curses interface"
#### Description

I could not find the possibility to kill a process without exiting glances.

It would be nice to have a way to kill a process/processes within glances with the name or PID.

#### Versions

* Glances & psutil (glances -V): Glances v3.1.0 with psutil v5.6.0
* Operating System (lsb_release -a): Ubuntu 16.04.6 LTS

[2019-03-18 19:52] Thomaash commented on #1282
LANG is the locale with the lowest priority.
LC_* variables override individual parts of LANG.
LC_ALL overrides everything.

Therefore this will work only if you don't have any LC_* variables set:
`LANG=en_US.UTF-8 glances -w`

If you do then you have to use:
`LC_ALL=en_US.UTF-8 glances -w`

[2019-03-23 10:05] aadrian opened #1446 "Please add some sparklines!"
Please add some small but very useful sparklines too: at least for the most important metrics like CPU/MEM/IO

E.g.:
https://pypi.org/project/sparklines/
( https://rosettacode.org/wiki/Sparkline_in_unicode )

Thanks in advance.

[2019-03-23 20:21] pawel-lmcb opened #1447 "Memory Leak"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug does not already exist in the database (https://github.com/nicolargo/glances/issues).

#### Description

We are seeing memory indefinitely increase, even with dropping history size to 1 from 28800. I tried to profile memory consumption and realized that memory was being increased ins

[2019-03-24 10:51] Javinator9889 commented on #1447
In addition to this issue, I also noticed that the web version sometimes keeps running other sessions (but there is no client watching them) and, after sometime, a deadlock state occurs (about 26 average - over a theorycal maximum of 4) and a Glances Web Service restart must be done

Experienced this on Debian 9.7

[2019-03-24 22:34] pawel-lmcb commented on #1447
I narrowed this down to the requests lib, for whatever reason that library is leaking. As to why commenting out 2 of the other functions reduced the memory leak amount I am not sure.

Since I'm running this across a few operating systems, I am going to see whether pinning the requests lib to a particular version on the worse off ones reduces this leak.

https://github.com/kennethreitz/requests/iss

[2019-03-25 08:24] pawel-lmcb commented on #1447
FYI here is a result proving that requests lib is leaking (we used memory_profiler https://pypi.org/project/memory-profiler/):

Line #    Mem usage    Increment   Line Contents
================================================
    76  36.5703 MiB  36.5703 MiB       @profile(stream=fp, precision=4)
    77                                 def flush(self):
    78  36.5703 MiB   0.0000 MiB         timeo

[2019-03-27 03:04] pawel-lmcb commented on #1447
So I just wanted to update this, in case anyone else has this problem. As I mentioned I commented out some lines, and this reduced the memory leak we saw.

However we were receiving memory leaks based on the requests library as posted above, and I decided to drop the requests library for urllib3. This further reduced the memory leak but did not solve it.

I then realized using memory_profiler that

[2019-03-27 03:09] pawel-lmcb commented on #1447
<img width="2911" alt="Screen Shot 2019-03-26 at 8 05 39 PM" src="https://user-images.githubusercontent.com/26512216/55047693-e134c780-5002-11e9-806b-8943f789a726.png">

Just want to show our results, purple (bottom most) urllib==1.24.1 orange (top most) urllib==1.19.1

[2019-03-27 14:59] KenanSulayman opened #1448 "Should warn about homebrew installation"
The “Glances Auto Install script” as listed on the website should _not_ install Homebrew without explicit warning and the website should explicitly mention that the automated installation will try install Homebrew on the host system.

I deeply abhor Homebrew and would have loved to be given a choice, and even better, had glances use my existing MacPorts installation.

Thanks

[2019-03-28 16:49] matclab opened #1449 "`l` keypress (hide alert log) not working after some time"
#### Description
After some time or sometime as soon as started, pressing `l` does not hide the alert log anymore. Still some other key are working as expected (like `h`, `c`, `a`…).

#### Versions

* Glances & psutil (glances -V): `Glances v3.1.0 with psutil v5.6.1`
* Operating System (lsb_release -a):
[code]

#### Logs
Logs arround the `l` keypress say:
[code]

[2019-03-30 07:43] arturol76 opened #1450 "Connection to MQTT server failed : getaddrinfo() argument 2 must be integer or string"
#### Description
I get the error "Connection to MQTT server failed : getaddrinfo() argument 2 must be integer or string" when trying to enable MQTT.
I'm using the docker image "docker.io/nicolargo/glances".

Here are the steps:

glances.conf:
[mqtt]
host=192.168.2.96
port=1883
user=xxx
password=xxxx
topic=glances

then i run the docker with the following option:
-e GLANCES_OPT="--export mqtt"

###

[2019-03-30 12:57] arturol76 commented on #1392
Hi,
I solved changing "glances_mqtt.py" as follows:
self.port = int(self.port) or 8883

...and by disabling this:
#client.tls_set(certs.where())

[2019-03-30 13:06] arturol76 commented on #1450
Hi,
I solved that as follows:

**1st step**: I upgraded from python 2.7 to python 3
**result**: the error changed from:

_"Connection to MQTT server failed : getaddrinfo() argument 2 must be integer or string"_

to:

  _"'<=' not supported between instances of 'str' and 'int'"_

**2nd step:** I edited "glances_mqtt.py" to covert "port" to int as follows:
self.port = int(self.port) or 8883

**3rd s

[2019-03-30 17:46] Tom-Development opened #1451 "Cannot export graph or CSV files."
#### Description

 I run the following command and my glances gets a long error.

glances --export-graph

Then, once on the glances screen I press the "G" key and the following occurs:
https://pastebin.com/r88fBgiF

#### Versions

* Glances & psutil (glances -V): Glances v2.11.1 with psutil v5.4.2

* Operating System (lsb_release -a):
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.2 LTS
Relea

[2019-03-31 09:05] nicolargo commented on #1450
Thanks for the report.

Corrected by the latest commit on the DEVELOP branch (see commit 96bfd95e).

I also add a new tls key (tls=true by default) to disable TLS from the configuration file (tls=false).

[2019-03-31 09:05] #1450 closed

[2019-03-31 09:25] nicolargo commented on #1448
Cloned here: https://github.com/nicolargo/glancesautoinstall/issues/31

[2019-03-31 09:25] #1448 closed

[2019-03-31 09:43] nicolargo commented on #1449
@matclab Thanks for the issue report.

It is corrected by the latest commit in the DEVELOP branch.

[2019-03-31 09:43] #1449 closed

[2019-03-31 09:47] nicolargo commented on #1451
Can you try with the latest Glances version ? (aka 3.1.0)

[2019-03-31 21:18] GhaziTriki opened #1454 "Add description to file entry"
It would be great to have `file_x_description` like we have for ports.

[2019-03-31 21:30] GhaziTriki opened #1455 "Folder alert not showing"
#### Description

When I have the following directory configuration, the alert is not showing. Nothing is stored into the diretory too.

[code]

![image](https://user-images.githubusercontent.com/4991088/55295383-61dd3480-5404-11e9-9d63-af4f868bcdab.png)

#### Versions

* Glances & psutil (glances -V): Glances v3.1.0 with psutil v5.6.1
* Operating System (lsb_release -a):
	Description: Ubuntu 16.0

[2019-04-02 08:18] pymenow commented on #1440
I am having the same issue psutils 5.6.1

[2019-04-02 16:40] adrian-enspired commented on #1430
Anything else I might look at to troubleshoot this? I've tried running with `-d` but this seems to prevent the problem (I don't get conflicting cpu reports, nor high cpu usage, when running in debug mode).

Thanks

[2019-04-03 08:40] pymenow opened #1456 "Glances Sensor Alias not getting updated"
Using Glances-3.1.0, bottle-0.12.16,psutil5.6.1

{'pma8084_tz': [shwtemp(label='', current=38.411, high=145.0, critical=145.0)], 'tsens_tz_sensor0': [shwtemp(label='', current=0.042, high=None, critical=None)], 'tsens_tz_sensor5': [shwtemp(label='', current=0.043, high=None, critical=None)], 'tsens_tz_sensor10': [shwtemp(label='', current=0.041, high=None, critical=None)], 'tsens_tz_sensor2': [shw

[2019-04-03 12:45] Chaz6 commented on #1362
Thank you for this, I am sorry I did not get back sooner, I had an overflow of github notifications and I am learning to manage them better.

[2019-04-03 14:22] asuna opened #1457 "Glances freezes up in browser caused by 404 error"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description
Loop at loading page and 404 errors in chrome console.
A similar issue: https://github.com/nicolargo/glances/issues/1393, seems fixed in version 3.1, but...
![glances_loading_loop.g

[2019-04-03 18:40] nicolargo commented on #1455
By design, only CPU, RAM, SWAP and LOAD alert are logged.

I will check if it is possible to change this behavor by adding a key in the configuration file.

[2019-04-03 18:42] nicolargo commented on #1456
Is the alias displayed correctly in the Curses (terminal) interface ?

[2019-04-03 18:43] nicolargo commented on #1457
@notFloran Can you have a look on it ?

[2019-04-04 01:08] cult-hero13 commented on #995
Was this ever implemented?  I’m running version 3.1.0 and observe the same behavior as Amxx describes.

[2019-04-04 01:55] pymenow commented on #1456
in Curses , I see all the sensors as listed by psutil.sensors_temperatures() in my first post instead of just pma8084_tz 1 that shows up in the web mode.
Also in Curses the alias is displayed correctly.

[2019-04-04 08:28] ncaq opened #1458 "Glances start Docker when unneed"
#### Description

I don't know it that is bug or enhancement.
Maybe, enhancement.

I have enabled systemd `docker.socket`.
And I have not activated `docker.service`.
The Docker daemon is not started when it is not necessary by doing this,
It will be started only when needed.
Docker related services consume more than 100MB of memory, so this technique works well.

And glances by default supports `d

[2019-04-04 10:03] GhaziTriki opened #1459 "Outdated endpoint for prometheus export"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

I have glances server configured to expose a collection endpoint to prometheus using port `62208`, prometheus is lookings for `http://myserver:62208/metrics` but my local server ex

[2019-04-04 10:16] GhaziTriki opened #1460 "Run web and prometheus exporter in the same time"
We need to have the prometheus exporter and have access to the web interface at the same time. We currently cannot use the two flags `-w --exporter prometheus` at the same time.

[2019-04-06 10:59] GhaziTriki opened #1462 "Too less data using prometheus exporter"
When using a prometheus exporter we only get the following data below. Can't we get the data we get from API using a configuration file?

[code]

[2019-04-07 00:55] LrrrAc commented on #1341
So I have not growing cpu usage, but when the container I run glances in is started, it can run at either an average of 100% of a core, or 50% of a core. I can restart it enough times to get either option, but dont understand why it will potentially double its cpu usage for apparently no reason. @nicolargo

[2019-04-07 02:04] LrrrAc commented on #1341
![Capture](https://user-images.githubusercontent.com/27321984/55677540-5f208a80-58af-11e9-83d5-9f90579ef8ae.PNG)
Here is a graph of me restarting the container every 2 minutes for an hour. Its 100% 17 times and 50% 14 times out of 30.

[2019-04-08 11:50] wordlessly commented on #1398
psutil.sensors_fans() does not increase CPU usage for me. Still, there is also no output for the fan speed. I have a Intel NUC8i5BEH. Maybe there is no sensor for the fan speed?

[2019-04-09 14:09] GhaziTriki commented on #1459
This is a `prometheus` config.

[2019-04-09 14:09] #1459 closed

[2019-04-10 08:10] notFloran commented on #1457
The error `Cannot get view ("utf8" codec can't decode byte 0xd2 in position 0: invalid continuation byte)` seems to be throw by the core of glances, is not related to the webUI.

I think one of the disk/sensor/network/fs has a weird character in his name.

Maybe we can get more data in the debug log ?

[2019-04-10 14:30] asuna commented on #1457
Because of my os language is Chinese, some device name contain Chinese character, such as network interface name.

Here is debug log:
[Glances_Debug_LOG](https://cfp.vim-cn.com/cbfxb)

btw: it works on Anaconda (Python 3.7.1).

[2019-04-10 14:44] asuna opened #1465 "Not all process shows in process list (Windows 10)"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

Only one or two process shows in web interface and local terminal process list.
But i can see all process in process list if using server mode and connect from a glances client.

#

[2019-04-11 09:57] sentriz commented on #1456
I have the same problem

[2019-04-11 10:06] giampaolo commented on #344
Good news. This is now emulated on Windows and can be accessed via `psutil.getloadavg()` (on UNIX this just calls `os.getloadavg()`:
https://github.com/giampaolo/psutil/pull/1485

[2019-04-11 11:06] sentriz commented on #1456
I just created https://github.com/nicolargo/glances/pull/1466
which fixes the problem for me

[2019-04-11 11:26] nicolargo commented on #344
Implementation done in Glance.

Need PsUtil 5.6.1 or higher !

Thanks to @giampaolo and @ammaraskar

[2019-04-11 11:26] #344 closed

[2019-04-11 11:31] #1403 closed

[2019-04-11 11:32] #1456 closed

[2019-04-11 12:21] giampaolo commented on #344
Actually it needs 5.6.2 which I didn’t release yet; and maybe i will call it 5.7.0 (still not sure) so you may want to hold on.

[2019-04-11 13:51] nicolargo commented on #344
No problem. The code is compatible with old and future version of PsUtil.

Thanks @giampaolo

[2019-04-12 08:58] nicolargo commented on #1458
Do not understand... Glances did not starts any system process...

[2019-04-12 09:04] nicolargo commented on #1460
Hi @GhaziTriki

When Glances is started with the -d flag (Web mode), stats are collected only when a request is done. It reduce the cpu and memory footprint. This optimization will not be possible with the use of the --export because we need to refresh the stats every n seconds.

Work arround: Start two Glances processes. One for the export and another one for the WebUI.

[2019-04-12 09:08] nicolargo commented on #1465
If you run Glances in the [standalone](https://glances.readthedocs.io/en/stable/quickstart.html#standalone-mode) mode, does all processes displayed correctly ?

[2019-04-12 09:34] nicolargo commented on #1462
Reproduced on my side with prometheus-client-0.6.0 but not with the old prometheus-client 0.0.19 (used during the development)

Got this with prometheus-client 0.0.19:

[code]

[2019-04-12 09:48] nicolargo commented on #1462
Ok got this.

New version of prometheus do not accept empty label/prefix.

So the work around is easy, just add the following option to the glances.conf file:

[code]

I will add default values for this two options in the next Glances version.

[2019-04-12 09:56] #1462 closed

[2019-04-12 12:06] asuna commented on #1465
![Snipaste_2019-04-12_20-02-29.png](https://i.loli.net/2019/04/12/5cb07ec0e9bf5.png)
Not correct and seems still in web mode.

[2019-04-12 12:12] nicolargo commented on #1465
Try to run it with administrator rights.

Le ven. 12 avr. 2019 à 14:07, asuna <notifications@github.com> a écrit :

[2019-04-12 12:16] asuna commented on #1465
Tried to run with administrator rights, but got same result.

[2019-04-12 14:19] Kaahbal opened #1468 "Dual instances in Nginx Proxy"
#### Description

I have two different servers, one WinServ2k12 and one Debian 9.8. I am trying to proxy both of these through the same Nginx host, and they have different /location's specified.

WinServ2k12 works just fine and populates everything.

The Debian server will not populate anything at "/glances" but /api/2/ etc is browsable just fine.

Webconsole shows no real errors.

#### Versions

[2019-04-12 19:18] GhaziTriki commented on #1462
Thank you very much @nicolargo. Any possible new release with those fixes? We really need them. Or can you add to docs how to run glances from its source code?

[2019-04-12 20:43] nicolargo commented on #1462
Just add the two lines in the configuration file. It should work with the
current version.

[2019-04-13 09:44] GhaziTriki opened #1469 "Getting an error when running with prometheus exporter"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

I am running glances under `pypy`, I guess I have the same result with `python`

I have some custom configuration and I am running glances using this command.
`/usr/local/bin/glanc

[2019-04-16 15:47] DeepDarkOdyssey commented on #1440
Same issue with psutils 5.6.1 on arm64 device with debian

[2019-04-16 16:52] pymenow commented on #1440
Seen this issue if your kernel doent have the below config options enabled.
CONFIG_TASKSTATS=y
CONFIG_TASK_DELAY_ACCT=y
CONFIG_TASK_XACCT=y
CONFIG_TASK_IO_ACCOUNTING=y

[2019-04-17 04:36] xpue commented on #1440
Same here, custom kernel with aforementioned options disabled.

[2019-04-17 17:00] nicolargo opened #1470 "Stack trace when starts Glances on CentOS"
#### Description

Bug when Glances starts:

[code]

#### Versions

* Glances & psutil (glances -V): 3.1.0
* Operating System (lsb_release -a): CentOS 7.3

#### Logs

You can also pastebin the Glances logs file (https://glances.readthedocs.io/en/latest/config.html#logging)

[2019-04-18 06:36] nicolargo commented on #1440
@giampaolo Do you think that it is a PsUtil issue ?

[2019-04-18 06:42] nicolargo commented on #1468
@notFloran Any idea ?

[2019-04-18 06:43] nicolargo commented on #1469
Can you try to disable the **ip** plugin ?

[2019-04-18 06:48] nicolargo commented on #1469
I also add an catch on this error. Should be mitigate in the DEVELOP branch.

[2019-04-18 06:53] nicolargo commented on #1470
Corrected by latest commit in the DEVELOP branch.

[2019-04-18 06:53] #1470 closed

[2019-04-18 06:59] nicolargo commented on #1465
@asuna from a admin console can you enter the followings command line:

[code]

It should displayed the list of processes viewed by the PsUtil lib.

Thanks.

[2019-04-18 07:23] asuna commented on #1465
Yes, the process list is displayed normally using above command.

[2019-04-18 07:35] nicolargo commented on #1446
Implementation done in the Curses interface.

==> https://github.com/nicolargo/glances/blob/develop/docs/aoa/quicklook.rst

@notFloran Please can you implement this new feature in the Web UI ?

[2019-04-18 07:38] nicolargo commented on #1465
And with the followings ?

[code]

Please paste/bin the result.

[2019-04-18 08:14] asuna commented on #1465
Also displayed normally, and here is the output: https://clbin.com/Ryvai

[2019-04-19 05:57] ncaq commented on #1458
systemd start when listen `/var/run/docker.sock`.

glances import docker-py.
https://github.com/nicolargo/glances/blob/f68da8649357dd8a17cb1cba0e9d8c42e0f21a25/glances/plugins/glances_docker.py#L35

docker-py touch socket when init maybe.
https://github.com/docker/docker-py/blob/1aaa76dc5be1731cd2f5bc2166ad3afea819ea26/docker/api/client.py#L102

[2019-04-20 07:50] nicolargo commented on #1465
Strange... The processes stats are returned correctly.

@notFloran Any idea ?

[2019-04-20 07:58] notFloran commented on #1465
@asuna What the result of http://0.0.0.0:61208/api/3/processlist ? Do you see a list of process ?

[2019-04-20 08:02] notFloran commented on #1457
@nicolargo is seems it's an encoding problem from the core of glances with python 2

Example in the log: `interface_name': '\xc0\xb6\xd1\xc0\xcd\xf8\xc2\xe7\xc1\xac\xbd\xd3'`

[2019-04-20 10:01] notFloran opened #1474 "Quicklook is broken"
#### Description

With the last develop, when I start Glances the quicklook plugin is not here and I have the following error :

#### Versions

* Glances & psutil (glances -V): Glances v3.0.2 with psutil v5.4.8
* Operating System (lsb_release -a): mac os

[2019-04-20 11:05] notFloran commented on #1474
After some checks is related to `'\xe2\x96\x81'.decode('utf-8')` in `glances_sparklines.py`

[2019-04-20 13:41] nicolargo commented on #1474
Last commit should solve the issue...

[2019-04-20 13:41] #1474 closed

[2019-04-20 13:50] nicolargo opened #1475 "Regression. Curses interface issue with Python 3."
On the DEVELOP branch of Glances 3.1.1

In Python 2: OK

![image](https://user-images.githubusercontent.com/776747/56458203-f099fd00-6383-11e9-809c-6dc89828d21f.png)

In Python 3: Not OK

![image](https://user-images.githubusercontent.com/776747/56458207-027ba000-6384-11e9-8c4d-366ff4eed536.png)

[2019-04-21 01:00] asuna commented on #1465
Yes, i can see a list of process, but only python.exe in web interface process list.

[2019-04-21 08:39] notFloran commented on #1468
I just tried and it works with :

[code]

Can you try without auth_request ?

[2019-04-21 08:43] notFloran commented on #1465
Go to `http://localhost:61208/`, open the web console (for [Firefox](https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console) , for [Chrome](https://developer.chrome.com/devtools/docs/console)) and paste me back the result.

It's strange no filtering is done on the client side so if the API returns all the processes, they should be displayed.

[2019-04-22 08:41] nicolargo commented on #1457
@asuna Please can you try the DEVELOP branch ? I just push a patch.

[2019-04-22 09:42] asuna commented on #1465
Result: https://i.loli.net/2019/04/22/5cbd81ad70ba5.png

[2019-04-22 11:48] asuna commented on #1457
Can't launch glances web interface, error message:

`C:\Users\user\glances>glances -w
Traceback (most recent call last):
  File "C:\Python27\Scripts\glances-script.py", line 11, in <module>
    load_entry_point('Glances==3.1.1b0', 'console_scripts', 'glances')()
  File "c:\python27\lib\site-packages\glances-3.1.1b0-py2.7.egg\glances\__init__.py", line 140, in main
    start(config=config, args=arg

[2019-04-22 15:14] nicolargo commented on #1465
@asuna @notFloran just publish a patch. Can you test it on the Glances DEVELOP branch ?

[2019-04-22 15:16] #1475 closed

[2019-04-22 15:20] nicolargo commented on #1457
@asuna Can you try again, i have corrected the AttributeError...

[2019-04-23 05:35] asuna commented on #1457
It works now. :)

[2019-04-23 05:40] asuna commented on #1465
I have test the DEVELOP branch on Windows 10+python 3.7.3 / Windows 10+Anaconda (Python 3.7.1),  and seems the bug was fixed, all process shows normally.

[2019-04-23 23:12] zoredache commented on #1423
I am seeing similar behavior.

[Imgur](https://i.imgur.com/F0henBg.png)

VM Host

    Windows Server 2016 Datacenter

Docker VM details (4 vCPU's assigned and 8GB RAM)

    # lsb_release -a
    No LSB modules are available.
    Distributor ID:	Debian
    Description:	Debian GNU/Linux 9.8 (stretch)
    Release:	9.8
    Codename:	stretch

    # docker --version
    Docker version 18.09.4, build d14a

[2019-04-24 18:45] utdrmac commented on #488
Has there been any progress on this?

[2019-04-25 06:49] nicolargo commented on #1458
It is a docker-py feature.
Glances use as it.

[2019-04-25 06:49] #1458 closed

[2019-04-25 06:52] nicolargo opened #1477 "Glances crash on startup with a KeyError:u'docker'"
#### Description

[code]

#### Versions

* Glances & psutil (glances -V): 3.1.1b0 (DEVELOP branch)
* Operating System (lsb_release -a): CentOS Linux release 7.6.1810 (Core)

#### Logs

[code]

[2019-04-25 12:01] bmxp commented on #344
A new release of psutil would be great and would ease the job to make our software also run on windows.

[2019-04-26 14:49] #1304 closed

[2019-04-27 08:47] #1477 closed

[2019-04-27 16:00] utdrmac commented on #1397
Any updates here? I just discovered Glances yesterday and trying to set this up for home NAS on Docker:

[code]

[2019-04-27 16:01] utdrmac commented on #1397
Is there an easy way to downgrade the prometheus client to 0.4 until Glances gets a fix?

[2019-05-01 11:17] nthack commented on #1282
Works pal

[2019-05-05 12:02] #1469 closed

[2019-05-05 12:02] #1465 closed

[2019-05-05 16:10] Pomdre opened #1478 "start a Glances webserver"
I've done all that stands here https://github.com/nicolargo/glances/wiki/Start-Glances-through-Systemd

But it won't start :/

![image](https://user-images.githubusercontent.com/30056774/57196839-fb968500-6f60-11e9-8581-43ebd70e8ed5.png)

[2019-05-05 16:41] #1478 closed

[2019-05-06 03:24] rlue opened #1479 "Docker image fails on ARM: `exec user process caused "exec format error"`"
#### Description

The example `docker run` command given in the README fails on a Raspberry Pi 3B+:

[code]

Tried again with the `latest-arm` tag, just for good measure—but got the same result:

[code]

#### Versions

* Glances & psutil (glances -V): N/A
* Operating System (lsb_release -a): latest stable Raspbian

      Distributor ID: Raspbian
      Description:    Raspbian GNU/Linux 9.4 (stretc

[2019-05-08 19:10] #1457 closed

[2019-05-09 03:27] monchin opened #1480 "Highly Recommend to add pynvml in requirements.txt"
I installed glances but couldn't see the gpu information, and just now I found the reason: I didn't install pynvml. After I installed that, everything goes right.
So I highly recommend that pynvml should be added in requirements.txt

[2019-05-09 17:46] LrrrAc opened #1481 "Random Starting CPU Usage"
When the container I run glances in is started, it can run at either around 100% of a core, or 50% of a core. I can restart it enough times to get either option, but dont understand why it will potentially double its cpu usage for apparently no reason.

![image](https://user-images.githubusercontent.com/27321984/57474701-b58f3900-7260-11e9-82cd-f02c7d4e2e8d.png)

Here is a graph of me restarting t

[2019-05-12 01:46] jamiew commented on #994
Is there still any interest in this, or willingness to accept a (rough) PR? I am new to the `glances` codebase but would be happy to take a crack

[2019-05-14 00:22] chetankabra opened #1482 "No able to get ip address or no "address" key in SELECT "address" in "localhost.ip""
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: No able to get ip address or no "address" key in SELECT "address" in "localhost.ip"
I am exporting the contents from glances to influxdb and quering through grafana to a

[2019-05-14 20:15] fluxtendu opened #1483 "UnicodeEncodeError: 'ascii' codec can't encode character u'\u25cf' - Raspbian stretch"
Hi,
glances look nice but after letting it running for one or two minutes I get this error (and it scramble the screen):
[code]
Glances v3.1.0 with psutil v5.6.2
Raspbian GNU/Linux 9.8 (stretch)

I have tried without succes:
- sudo glances
- LANG=en_US.UTF-8 LC_ALL= glances
- LANG=en_US.UTF-8 LC_ALL=en_US.UTF-8 glances
- LANG=fr_FR.UTF-8 LC_ALL= glances

[2019-05-15 13:20] nurmians opened #1484 "Viewing long "Command" column strings"
Feature request:
I have not found a way to scroll or to view long command line commands for the active processes (in the Command column). For some commands I'm running, the input and output file arguments do not fit onto the screen, even with different view modes, and I cannot tell what files are being processed. Some sort of scrolling feature of the command column would be appreciated. Maybe tab

[2019-05-15 15:19] ricardolopes86 commented on #652
I am getting Blank page with Reverse Proxy using Apache2 and nginx. I followed both wiki pages here in github, but nothing works.

[2019-05-15 17:23] ricardolopes86 commented on #652
It worked only with HAProxy with the following configuration:
[code]

[2019-05-17 17:19] johnsparkmytech opened #1485 "Glances error after installing on Windows 10 WSL Kali Linux"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

After installing Glances in Windows 10 WSL Kali Linux I receive this error message.
It looks like

[2019-05-18 05:24] JacerOmri commented on #1440
having this issue on WSL, could be because of it?

[2019-05-18 14:48] adrian-enspired commented on #1430
** bump **

Any further ideas for troubleshooting?

[2019-05-19 07:54] nicolargo commented on #1430
Run Glances in debug mode (-d) and paste/bin us the result of the /tmp/glances-$USER.log file.

[2019-05-19 07:59] nicolargo commented on #1480
It is already done:

- https://github.com/nicolargo/glances/blob/develop/setup.py#L64
- https://github.com/nicolargo/glances/blob/develop/optional-requirements.txt#L10

[2019-05-19 07:59] #1480 closed

[2019-05-19 08:00] nicolargo commented on #1481
Please fill the issue with all relative information provided in the issue template...

[2019-05-19 08:05] nicolargo commented on #1482
Export of string (IP plugin) are only available in Glances 3.0 or higher.
Please upgrade...

[2019-05-19 08:05] #1482 closed

[2019-05-19 08:11] nicolargo commented on #1483
Reproduced by setting a simple AMP as following:

[code]

[2019-05-19 11:43] nicolargo commented on #1483
Should be corrected b the latest commit.

Can you test the DEVELOP branch ?

[2019-05-19 14:12] nicolargo commented on #1485
Hi @johnsparkmytech

The problem did not came from the missing Docker lib.

It is a PsUtil error. PsUtil try to read the /etc/mtab, but did not succes.
For the moment, PsUtil is not compatible with Windows WSL.

Follow this feature request: https://github.com/giampaolo/psutil/issues/1251

cc: @giampaolo

[2019-05-19 21:43] matheussouza9 commented on #1440
I'm also having this issue on WSL.

[2019-05-20 09:06] nayaj commented on #1468
I worked out another solution, without auth_request its of no use to me sadly.

Thanks tho!

[2019-05-20 13:13] fluxtendu commented on #1483
It works, thanks!
Will it be released soon or should I look to replace my normal install?

ps: you should add "future" to the libs list on [https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version](https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version)

[2019-05-22 17:03] trimbilrepo opened #1486 "webserver can't be access"
I tried to run glances as webserver using
 `glances -w -d`
`Glances Web User Interface started on http://0.0.0.0:61208/`

there is no error in the terminal. however, when I tried access from web browser, it doesnt show any, it just says "This site can’t be reached"

my firewall is disable, no iptables or port blocking in the server.
could somebody help me?

`Glances v3.1.0 with psutil v5.6.2`
`Cen

[2019-05-25 20:22] #1483 closed

[2019-05-27 12:55] BhavanaGudi opened #1487 "Glances is not connecting to Elasticsearch"
I have installed glances in of of the AWS servers. I am trying to connect to Elasticsearch That is on a different server. My elasticsearch is behind Nginx and can reach elasticsearch only through reverse proxy.
In glances.conf, It is mandatory to give port number. But why elasticsearch works with http://<my_url>.com/elasticsearch. When I try to establish the connection, It says connection TimeOut

[2019-05-28 18:08] nicolargo commented on #1486
Any HTTP proxy configure on your browser ?

[2019-05-28 18:10] nicolargo commented on #1487
Can you copy paste your glances configuration file and give us the information concerning Glances version and operating system environment.

[2019-05-29 10:20] still-L commented on #1110
我也遇到了这个问题。
[root@localhost GlencesIG]# glances -V
Glances v3.1.0 with psutil v5.6.2
--------------------------------------------------------------------
[root@localhost GlencesIG]# glances --export influxdb
Traceback (most recent call last):
  File "/usr/bin/glances", line 9, in <module>
    load_entry_point('Glances==3.1.0', 'console_scripts', 'glances')()
  File "/usr/lib/python2.7/site-packages

[2019-05-30 07:07] BhavanaGudi commented on #1487
Glances version: Glances v3.1.0 with psutil v5.6.1
OS version:
PRETTY_NAME="Debian GNU/Linux 8 (jessie)"
NAME="Debian GNU/Linux"
VERSION_ID="8"
VERSION="8 (jessie)"
ID=debian

glances.conf:

[elasticsearch]
# Configuration for the --export elasticsearch option
# Data are available via the ES RESTful API. ex: URL/<index>/cpu/system
# https://www.elastic.co
host=http://<dns_server_name>/elasticsearc

[2019-05-30 07:08] BhavanaGudi commented on #1487
And also I want to export data we get from processlist. Each individual process and how much CPU, Mem its consuming. How will I be able to send these data to elasticsearch?

[2019-05-31 08:14] SailorMax opened #1488 "Add net.ipv4.netfilter.ip_conntrack_count in the Connections plugin"
Can you add check `net.ipv4.netfilter.ip_conntrack_count` and `net.ipv4.netfilter.ip_conntrack_max` to warn about dropped packets?

thank you.

[2019-05-31 12:03] kanyck opened #1489 "Glances does not start on Gentoo with ValueError: invalid attr name 'io_counters'"
#### Description
glances
Traceback (most recent call last):
  File "/usr/lib/python-exec/python2.7/glances", line 11, in <module>
    load_entry_point('Glances==3.0.2', 'console_scripts', 'glances')()
  File "/usr/lib64/python2.7/site-packages/glances/__init__.py", line 140, in main
    start(config=config, args=args)
  File "/usr/lib64/python2.7/site-packages/glances/__init__.py", line 106, in st

[2019-05-31 13:50] nicolargo commented on #1489
Strange because as said in the PsUtil documentation (https://psutil.readthedocs.io/en/latest/#psutil.Process.io_counters), io_counters is available for Linux, BSD, Windows, AIX OS...

Same behavor if your run Glances as root ?

[2019-05-31 14:32] nicolargo commented on #1488
For the moment, you can also use a simple AMP to do this.

Read the https://glances.readthedocs.io/en/stable/aoa/amps.html

[2019-05-31 14:38] nicolargo commented on #1487
For the moment, only direct access to ELK is allowed (not through Proxy)....

[2019-05-31 15:15] BhavanaGudi commented on #1487
What about process list.
I want details of how much CPU and memory each individual process is consuming

[2019-05-31 15:24] nicolargo commented on #1487
Not yeat, track this issue: https://github.com/nicolargo/glances/issues/794

[2019-05-31 15:24] #1487 closed

[2019-05-31 17:46] kanyck commented on #1489
Yes, the same for the root and the regular user.

[2019-05-31 17:50] kanyck commented on #1489
And it's even more strange that it runs OK on Funtoo which shares ebuild tree with Gentoo. So it may be USE flag differences (that triggers package's config options) or maybe the kernel configuration or something like that.

[2019-06-02 12:14] michaelblight opened #1490 "Windows 10 permission denied running glances"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

I followed the process to install `glances` for Windows (install `pip` then `pip install glances`) and both worked ok. However, when I ran glances, I got a permission error. I ran

[2019-06-02 16:29] nicolargo commented on #1490
Look like a PsUtil issue. @giampaolo what do you think ?

[2019-06-02 16:38] nicolargo commented on #1488
@SailorMax For a future enhancement, what kind of information do you want Glances to return ? Only the current number of tracked connection and if this value is lower than the ip_connentrack_max ? Where do you want this stat to be displayed ?

[2019-06-02 17:27] Vasiley commented on #1490
I got same exact issue ....was working fine then power went out and workstation restarted ... i was not home but i think windows updated

[2019-06-03 08:01] SailorMax commented on #1488
I just faced the situation with aborted client connections. To find the reason took some time.
As a result, I thought it would be nice to see the warnings in Glances in these cases (Too many connections).

This is network theme => you can output these values in Network group.
Highlight with yellow when `ip_conntrack_count` near `ip_conntrack_max`.
Highlight with red when them almost or equal.

tha

[2019-06-04 02:40] giampaolo commented on #1490
Yup, it's fixed on psutil master but I still have to package a new release.

[2019-06-05 08:02] Opsse opened #1491 "Performance issue with large folder"
#### Description

I noticed a large usage of CPU and memory when I try to monitor some folders size.

The folder I have tried :
- 65000 sub-directories
- 73000 files

_glances.conf:_
[code]
![image](https://user-images.githubusercontent.com/3708059/58938583-72e45200-8775-11e9-8f1b-01c38fa24e1d.png)
_The same line without folder monitoring is `30% CPU` and `40M MEM`_

#### Hints

I suspect [this re

[2019-06-05 13:59] pihug12 opened #1492 "[Resolved] Docker block doesn't show up"
On a CentOS 7 host, the Docker block doesn't show up with every pip dependencies up-to-date.

After trying these commands, I find out there is a problem between `docker-py` and `requests`:

[code]

* https://github.com/docker/compose/issues/4927
* https://github.com/kennethreitz/requests/issues/4160

As seen on the 2nd link, a `pip install requests==2.15.1` fixes the problem.

I don't know why `re

[2019-06-05 20:22] roumano commented on #1225
See issue on my Gentoo :
[code]
workarround :
[code]

So this issue is a dependency issue and the file [requirements.txt](https://github.com/nicolargo/glances/blob/develop/requirements.txt) need to be updated.

[2019-06-06 04:52] gyakovlev commented on #1489
@kanyck I maintain glances in gentoo.

you are likely missing required kernel options.

ebuild check and warns you but does not abort if you have not set required kernel options

make sure the following options are enabled in kernel
[code]

[2019-06-06 09:29] zphiliam opened #1493 "I want to track the CPU percent for the specified process with influxdb , Is there any solution"
I use the command to export the data
`glances --export influxdb -q`
but there is no specific process CPU or Memory percent .
I want to track the CPU percent for the specified process with influxdb, then display in Grafana.

Is there any solution ?

[2019-06-07 15:03] joe307bad commented on #1339
Just a heads up, I am still getting alignment issues. I upgraded to RancherOS 1.5.2 and Glances v3.1.0 with psutil v5.6.2.

![image](https://user-images.githubusercontent.com/1916208/59113834-d4422780-8913-11e9-8537-01bf5cf64d49.png)

[2019-06-08 09:49] kanyck commented on #1489
@gyakovlev
Sure you were right. I was seduced by tempting "Say N if unsure" on TASK_XATTR :) I suspected something like this, but haven't found the right option...
Please add this information to postinstall, or better, make emerge warn about needed kernel options as many packages do (not everyone check elogs. I often don't). Thanks! Closed.

[2019-06-08 09:49] #1489 closed

[2019-06-12 20:32] nicolargo commented on #1491
Hi @Opsse,

the optimization fir Python 3.5 or higher is already available ==> https://github.com/nicolargo/glances/blob/develop/glances/folder_list.py#L28-L39

I propose to add a new configuration key to set the refresh time per folder.

Nicolas

[2019-06-12 21:16] nicolargo commented on #1491
@Opsse ok, feature developed and merged in the DEVELOP branch. Can you test it with your huge folder ?

Thanks !

[2019-06-12 21:17] nicolargo commented on #1492
Thanks for the head up !

[2019-06-12 21:18] nicolargo commented on #1493
Sorry but not for the moment...

Follow ==> https://github.com/nicolargo/glances/issues/794

[2019-06-12 21:18] #1493 closed

[2019-06-13 04:57] tomjschwanke commented on #1468
Hmm I also cant get it to work. I have two glances in my network that should both be accessible from a reverse-proxy. First one works fine, second one just shows a white page (but with title "Glances"). The second one works however, if I use the local address with port (on the proxy its in subfolders)

Heres my nginx config:
`location /admin/ {

                auth_basic "Authorization required";

[2019-06-13 15:09] Opsse commented on #1491
I will test it when I'll have some time in the next days.

Running this Dockerfile should do the job right ?
https://github.com/nicolargo/glances/blob/develop/docker-files/devel-alpine/Dockerfile

[2019-06-16 18:28] gustaf71 opened #1494 "Per CPU in Web UI have some display issues."
#### Description

For a bug: 'glances -w1' display user, system and idle wrong in Web UI...
but are correct in console view.

#### Versions

* Glances & psutil (glances -V): Glances v3.1.0 with psutil v5.6.1
* Operating System (lsb_release -a): Mac OS X 10.14.3

#### Logs

<img width="827" alt="Screenshot 2019-06-16 at 20 12 44" src="https://user-images.githubusercontent.com/36249438/59567841-513b

[2019-06-19 08:02] Juniversey commented on #1486
what's your run command?

[2019-06-20 19:29] theonewolf commented on #1440
Observed on WSL2.

[2019-06-22 03:50] kmatt commented on #1397
Adding a labels section to the config fixed this for me: https://github.com/nicolargo/glances/issues/1255

[2019-06-26 01:31] Strykar commented on #1398
`Glances v3.1.0 with psutil v5.6.3`
Enabling the fans does not increase CPU load for me.
How do we enable voltage monitoring?

[2019-06-27 20:05] edgeofthex commented on #1272
In exporting data from Glances 3.1.0 and 3.1.1b0 to  Elasticsearch 6.8 and 7.2, I encountered the same issues as @AllegroDvt regarding mapping types.  For me, the above quick fix didn't work.

I don't code, but am willing to contribute to a fix in other ways.  Lmk.

[2019-06-29 09:04] nicolargo commented on #1494
@notFloran can you have a look ?

[2019-06-29 20:26] gustaf71 commented on #1494
not sure i understad you questions, what do you mean?.

[2019-06-29 20:37] gustaf71 commented on #1494
I do like to point out that I do use 15" MacBookPro with Safari and the WEB UI on the above picture.
It looks to me that WEB UI maybe have difficult to display correct on smaller screen like 15" but
console (command-line) do not.

[2019-07-03 12:02] inmusic-bshephard opened #1497 "Can't connect to influxdb with https enabled"
I'm not really sure if this is a bug or a feature request but I don't see any way to export to influxdb over HTTPS. Having looked at the code for the influxdb export module I don't see any way to enable this. I need to monitor multiple instances across different environments all around the world and I need to secure communication between glances and influxdb so as not to expose my influxdb credent

[2019-07-03 14:47] ChillarAnand opened #1498 "Thresholds not displayed in the WebUI for the DiskIO plugin"
This is a new feature request.

Currently, CPU/RAM has color codes which makes it easy to identify the resource usage. Can same color codes be added to disk io usage?
https://glances.readthedocs.io/en/latest/aoa/disk.html

[2019-07-03 15:45] inmusic-bshephard commented on #1497
Some more digging later and this should be easy to add as the influxdb client library already supports this but it's disabled by default. changing the following lines to True works but it would be nice to be able to set these options in glances.conf and have them passed through to the client.
Lines 73 and 74 of influxdb/client.py
                 ssl=False,
                 verify_ssl=False,

[2019-07-03 16:51] ChillarAnand opened #1499 "How to show full view for process list?"
### Description

In [the documentation, there is a screenshot](https://glances.readthedocs.io/en/latest/aoa/ps.html) for full view which shows 10 columns for process list.

When glances is ran with `glances`, process list has fewer columns than this. How to make glances show the full view with all columns?

I have checked the help and tried various keys but unable to get all columns in the process

[2019-07-03 19:53] nicolargo commented on #1498
Hi @ChillarAnand

thanks for the feature request.

I already think about this feature but what threshold cans be implement by default for this kind of metrics...

Do you have any advises ?

[2019-07-03 19:56] nicolargo commented on #1499
It is dynamic and it depend of the terminal width.

Yu can try to switch from command line to process name using the **/** hotkey.

[2019-07-03 20:16] nicolargo commented on #1497
Feature implemented by the latest commit.

Download the DEVELOP branch and add the **protocol=https** to your configuration file (default is http).

Can you test it ?

Will be available in Glancs 3.1.1 (coming soon).

[2019-07-03 20:17] nicolargo commented on #1491
Any head up @Opsse ?

[2019-07-03 20:18] #1433 closed

[2019-07-03 20:19] #1414 closed

[2019-07-03 20:26] nicolargo commented on #1397
labels is now mandatory and checked when Glances starts.

Thanks for the issue report.

[2019-07-03 20:26] #1397 closed

[2019-07-03 20:32] nicolargo commented on #1407
Ok corrected by the latest commit on the DEVELOP branch.

Thanks for the issue report @Lin-Buo-Ren !

[2019-07-03 20:32] #1407 closed

[2019-07-03 20:33] #1420 closed

[2019-07-03 20:38] nicolargo commented on #1417
Done !

Thanks @Atticfire

[2019-07-03 20:38] #1417 closed

[2019-07-03 20:42] #1435 closed

[2019-07-03 20:43] #1436 closed

[2019-07-03 20:58] nicolargo commented on #1440
Should be corrected for WSL.

Anyone can test the DEVELOP branch ?

[2019-07-04 02:07] ChillarAnand commented on #1499
Thanks @nicolargo

I have tried / hotkey to enable short process names. Still it is not showing up all the columns.
I use the terminal in full-screen mode and I am seeing the same problem with multiple systems.
Even with hidden left bar, it is not showing up all columns.

I am primarly looking for IO columns which are missing.

<img width="1440" alt="Screen Shot 2019-07-04 at 7 31 31 AM" src="http

[2019-07-04 02:17] ChillarAnand commented on #1498
In general, IO > 70% is considered as critical. For example, [atop uses the same metric](https://linux.die.net/man/1/atop) for color codes.

I am not sure about the remaining thresholds. Do these thresholds be good enough?

<35 - Ok

[2019-07-04 02:51] ChillarAnand commented on #1499
Is it possible to have a hotkey to show/hide full view so that full view can be shown when required?

[2019-07-04 08:22] philippgille opened #1500 "Stracktrace after installation, "DistributionNotFound""
#### Description

I get a stack trace after installing Glances (at the end of the installation):

[code]

#### Versions

* Glances & psutil (glances -V): /
* Operating System (lsb_release -a):
[code]

[2019-07-04 08:24] philippgille commented on #1500
A similar issue was this one in 2014: https://github.com/nicolargo/glances/issues/330

But that could be solved with

[code]

Which doesn't work in my case.

[2019-07-04 08:49] philippgille commented on #1500
Ok so apparently the version of pip on my system was old: pip-1.5.4

Running `curl "https://bootstrap.pypa.io/get-pip.py" -o "get-pip.py"` and `python get-pip.py` updated that to `pip-19.1.1`

Maybe that should be part of the Glances installation script?

Now when doing `pip install glances` I get:

[code]

Trying instead with the previously used bash script there is the same error message and a b

[2019-07-04 09:03] dkleva opened #1501 "install problem"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description
curl -L https://bit.ly/glances | /bin/bash
For a bug: Describe the bug and list the steps you used when the issue occurred.

For an enhancement or new feature: Describe your needs.

[2019-07-04 10:57] inmusic-bshephard commented on #1497
Seems to do the trick however doesn't seem to verify the cert.

[2019-07-05 21:50] GhaziTriki opened #1503 "SystemError: An exception was set, but function returned a value"
#### Description

Running glances under pypy with json API enabled. Calling the JSON api multiple times throws this error. The service does not return any value after that.

#### Versions

* Glances & psutil (Glances v3.1.0 with psutil v5.6.3):
* Operating System:
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.6 LTS
Release:        16.04
Codename:       xenial

#### Logs

[code]

[2019-07-06 16:49] nicolargo commented on #1494
@gustaf71 Can you test the DEVELOP branch ?

[2019-07-06 22:26] kamilmirza commented on #1398
`Glances v3.1.0 with psutil v5.4.2`
Enabling the fans does not increase CPU load for me either

[2019-07-07 08:05] nicolargo commented on #1398
Ok, thanks for the head up.
Fan is (re)enable in Glances 3.1.1 RC2.

Please test the develop branch on your system.

[2019-07-09 14:07] gustaf71 commented on #1494
The 'Per CPU' -option w1 in WEB UI looks to be correct now.  (Thanks) pic above.

More I look at it I find the user interface display duplicates and thinking it could be better I believe.

So I have made a example how it could look when -option w1 is used to display all CPU Core.

1. Brand 'This line could be long so it will not cut any information about the CPU'
2. CPU Core (name)	|	CPU (bar)	|

[2019-07-09 15:48] ChillarAnand commented on #1499
Looks like this issue is happening only on Mac devices. On Linux devices, it shows full view by default.

![Screenshot from 2019-07-09 21-06-03](https://user-images.githubusercontent.com/4463796/60903490-0b975180-a28f-11e9-8b7c-dbb758a560a1.png)

[2019-07-09 16:52] sivabudh opened #1504 "AttributeError: 'Container' object has no attribute 'image'"
#### Description

I cannot run Glances.

#### Versions

* Glances & psutil (glances -V): Glances v3.1.0 with psutil v5.6.3
* Operating System (lsb_release -a):

[code]

#### Logs

[code]

[2019-07-12 12:08] a2902793 opened #1506 "Try to make Glances work on WSL (Windows Subsystem for Linux)"
**Description**
Missing file extension name NEWS.`rst` in setup.py, can build on WSL after this fix

**Versions**
Glances v3.1.1RC2 with psutil v5.6.3
Ubuntu16.04 on Windows10 build 1903

**Side Notes**
This is only a fix for successful build but not for successful running

1. Running `glances` had a refresh rate of 5 sec (default should've been 3 sec), though "-t 3" did the work
2. Running `glanc

[2019-07-14 20:32] hajo62 commented on #1479
I see the same with **Raspbian GNU/Linux 9.9 (stretch)**.
Any ideas how to fix this?

[2019-07-17 15:40] nicolargo commented on #1504
Any relevant messages in the Glance log file (/tmp/glances-*.log) when ran in debug mode (-d) ?

[2019-07-17 15:43] nicolargo commented on #1506
Related to https://github.com/nicolargo/glances/issues/1485

[2019-07-17 15:55] #1398 closed

[2019-07-17 15:55] #1440 closed

[2019-07-17 15:55] #1491 closed

[2019-07-17 15:55] #1494 closed

[2019-07-17 15:55] #1497 closed

[2019-07-21 17:55] vsc55 opened #1508 "HDDTEMP config IP?"
Hi,

It is possible to implement a configuration to be able to specify IP of HDDTEMP and not to use only 127.0.0.1.

Best regards.

[2019-07-21 21:56] gyakovlev opened #1509 "ip plugin empty interface"
## Description
ip plugin has multiple issues with no interfaces defined.

#### Versions

* Glances & psutil (glances -V): Glances v3.1.1 with psutil v5.6.1
* Operating System (lsb_release -a): Gentoo current
#### Logs

tests are running in empty network namespace, probably it triggers the following issues:
[code]
I believe this is because of https://github.com/nicolargo/glances/commit/f08abbfb6c78

[2019-07-22 06:10] Justinzobel opened #1510 "[Feature Request] Add ability to hide snaps / loopback devices"
#### Description

Add a switch in-app or from terminal to hide/show loopback devices (DISK I/O) and snaps (FILE SYS)

#### Versions

glances 3.1.1
OS Solus

[2019-07-22 16:17] GingkathFox opened #1511 "[Feature Request] Option in config to change character used to display percentage in Quicklook"
#### Description

It would be a nice feature to change the graphical percentage bar from `|` to something else, like `@` or `=`. maybe in the config it would be set like `percentage_char=@`?

[2019-07-23 02:34] pierow2k commented on #1479
I am also seeing this on Raspbian 9.9 with `nicolargo/glances:latest-arm`:

	Distributor ID:	Raspbian
	Description:	Raspbian GNU/Linux 9.9 (stretch)
	Release:	9.9
	Codename:	stretch

[2019-07-23 03:15] RinHZ opened #1512 "_curses.error: setupterm: could not find terminal"
I can not run glances.There are the following errors.

Error while initializing the ip plugin ('NoneType' object has no attribute 'split')
Traceback (most recent call last):
  File "/Users/rin/Documents/glances/glances/__main__.py", line 29, in <module>
    glances.main()
  File "/Users/rin/Documents/glances/glances/__init__.py", line 140, in main
    start(config=config, args=args)
  File "/Users

[2019-07-23 03:21] RinHZ commented on #1512
I try to use PyCharm to run glances on MacOS and get those errors.Help me plz.

[2019-07-23 19:07] notFloran commented on #1434
I think #1473 fix the problem. @leem32 can you try the develop branch ?

[2019-07-23 23:59] metya opened #1513 "glances is not displaying in cmd. just run webserver mode without -w option"
#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

It's not a bug I think, but not a right behavior
When I type `glances` in cmd on Windows 10 it's not displaying in cmd, but start webserver like if I type `glances -w`

#### Versions

* Glances & psutil (glances -V):
Glances v3.1.1 with psutil v5.6.3
* Operating System (lsb_release -a):
Windows 10

[2019-07-24 02:39] #1512 closed

[2019-07-24 08:40] nicolargo commented on #1510
It is already possible from the Glances configuration file.

Please read the doc: https://glances.readthedocs.io/en/stable/aoa/disk.html

[2019-07-24 08:40] #1510 closed

[2019-07-24 08:46] nicolargo commented on #1513
It's not a big. It's a feature...
As long as Microsoft will not ship a curse fully compatible terminal (compatible with the curse python lib), Glances will switch automatically to Web server mode on Windows OS.

[2019-07-24 08:46] #1513 closed

[2019-07-24 11:38] leem32 commented on #1434
Yep, it's working with the develop branch. Thanks for fixing :)

[2019-07-24 11:53] #1434 closed

[2019-07-24 13:00] kamilmirza commented on #1508
yes it is possible but with a workaround
you can replace `127.0.0.1` to `192.168.0.1` in `/glances/plugins/glances_hddtemp.py`
I am doing this on docker with using my modified `hddtemp.py` file and `expose` port to `7634`

[2019-07-24 13:04] vsc55 commented on #1508
Hi,
If so I have solved it for now.
But the good thing would be that it can be configured from the configuration file and thus avoid having to modify the program.
Regards.

[2019-07-24 13:08] kamilmirza commented on #1508
yes it would be great to have it in the config file

[2019-07-25 21:30] douglasg14b commented on #993
@nicolargo For GPU temps, it seems the normal sensors plugin for telegraf pulls ATI GPU Temp sensors as well, if that's some sort of hint of where you could grab that info.

[2019-07-27 14:26] DPellone opened #1514 "Possible typo in glances_influxdb.py"
Hello,
it seems to me that at [line 44 of file glances_influxdb.py](https://github.com/nicolargo/glances/blob/3286e83ee07fdbfb27fc80e754deccacb7bf6882/glances/exports/glances_influxdb.py#L44) the variable `self.protocol` is misspelled as `self.protocole`.
This prevent glances to connect to InfluxDB; please check it.

[2019-07-27 19:11] johnnyutahh opened #1515 "How to configure/format/reorg the web-server output?"
The web-server display is beautiful and wonderful. How can I adjust its format? Details below.

My initial, web-server-display-reconfiguring wish list:

1. reorder "display sections/stanzas," namely move the process listing more towards the top of the web-served display
2. remove the existing, Network section
3. add a section show per-process network bandwidth (if feasible)
4. _maybe_ remove some

[2019-07-28 09:43] jpbourgeon opened #1517 "Glances Snap doesn't run on Orange Pi Zero running Ubuntu Core 16"
Hi,

#### Description

I try to monitor my Orange Pi Zero running Ubuntu Core 16 with Glances.

I installed Glances in edge mode since stable channel isn't available for me.
``snap install glances --edge``

``glances`` or ``sudo glances`` fails to run. The debug mode doesn't provide more info on the error. I don't see any useful command line option that would help me start the monitoring. See the

[2019-07-28 09:51] johnnyutahh opened #1518 "Invert colors (white-on-black) in either web-server or gotty Terminal.app display for macOS floating browser?"
How can I get a white background with dark(er) foreground/font for either the web-server or regular display/output? None of the following commands appear to work in my case...

[code]

...because:

I float/"display sticky" the resulting web-server windows using [Helium](https://heliumfloats.com/) or [Flobro](https://flobro.cornips.nl/) so I can keep the `glances` system info "always on top". For s

[2019-07-29 05:54] arcolinuxz opened #1519 "Arch Linux error with release 3.1.1"
ArchLinux has your package in the community repo at https://www.archlinux.org/packages/community/any/glances/.

I tried rebuilding it with this pkgbuild and got the same error.

`[erik@ArcoLinux Desktop]$ glances
Traceback (most recent call last):
  File "/usr/bin/glances", line 6, in <module>
    from pkg_resources import load_entry_point
  File "/usr/lib/python3.7/site-packages/pkg_resources/__i

[2019-07-29 05:56] arcolinuxz commented on #1519
I should have checked on the bug forum on Arch Linux.

It needs a new dependency now

`sudo pacman -S python-future`

[2019-07-29 05:56] #1519 closed

[2019-07-31 02:18] Paytah232 opened #1521 "Increase web refresh rate"
From what I can see the web interface refreshes every 5 seconds.
Is there an environment variable I can set that will reduce that refresh rate to 1s or less?

[2019-07-31 06:38] bkdwt opened #1522 "Can't install glances using pip on Solus"
When I try to install glances using pip, this error appears on compile:

`Command "/usr/bin/python2.7 -u -c "import setuptools, tokenize;__file__='/tmp/pip-install-CjLick/psutil/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /tmp/pip-record-8z0f9g/install-record.txt --single-version-externa

[2019-08-01 06:24] juan11perez commented on #1450
please update docker image. Thank you

[2019-08-01 07:19] #1514 closed

[2019-08-01 07:19] nicolargo commented on #1514
Fix merged

[2019-08-01 07:28] nicolargo commented on #1522
unable to execute 'x86_64-solus-linux-gcc': No such file or directory

You should install the Dev tools (Gcc, make...) to be able to compile PsUtil.

[2019-08-01 20:47] johnnyutahh commented on #1515
So, just to confirm: there's no means to do this today, correct?

(I'm presuming this based upon the `ehancement` label that @nicolargo to this issue.)

[2019-08-01 22:38] cboettig opened #1523 "NVIDIA GPU temperature"
Thanks for making this wonderful project, very impressive.  I was wondering if there are any plans to include temperature and fan speed for GPU as part of the GPU module?  The sensors section doesn't pick this up, but this information is usually displayed by nvidia-smi and dedicated gpu monitoring tools like nvtop.  Would love you have it all available from `glances` instead!

[2019-08-02 10:53] ghost opened #1524 "Allow processlist columns to be selected in config file"
I do not need all columns of the processlist. I would like to select the columns to be shown in the config file.

[2019-08-02 13:36] johnnyutahh commented on #1515
I'd also like to be able to reorg the columns in the display screenshote-ed below, namely remove all but the `CPU%` and `Command` columns.

I suspect `glances` cmdline can do this (I've not yet tried). I'm curious if it might be helpful to port cmdline-like functionality over to the webserver, so they might be more maintainable (on the the developer side) and scalable by employing the "same engine

[2019-08-02 15:39] nicolargo commented on #1515
@johnnyutahh Yes, it is not possible for the moment.

I let @notFloran decide the best way to implement this. Perhaps a dynamic table inside the Web UI ?

[2019-08-02 15:43] nicolargo commented on #1524
Related (for the WebUI) https://github.com/nicolargo/glances/issues/1515

[2019-08-03 13:05] a2902793 commented on #1521
`glances -t 1`

[2019-08-03 17:24] lengthmin commented on #1440
![image](https://user-images.githubusercontent.com/13938334/62415055-718cb400-b656-11e9-9dc1-323386e3a403.png)

still error.
maybe the kernel's problem
---
OS: Debian GNU/Linux 10 (buster) on Windows 10 x86_64
Kernel: 4.19.57-microsoft-standard
Glances-3.1.2b0

[2019-08-05 10:09] mitar opened #1525 "Make CSV export append instead of replace"
#### Description

I would like to save all recorded measurements to a CSV file. But currently if there is a CSV already present glances overrides it. I think it would be awesome if instead glances would just append additional rows.

It could check that existing header matches and abort if it does not.

#### Versions

* Glances & psutil (glances -V): Glances v3.1.1 with psutil v5.6.3
* Operating Sy

[2019-08-05 10:30] mitar opened #1526 "Add a new TCP connections status plugin"
#### Description

To monitor network load it would be also useful to record the number of TCP connections currently established. A very rude way to get this is: `netstat -an | grep -c ESTABLISHED`

Similarly, also connections in other states could be counted.

#### Versions

* Glances & psutil (glances -V): Glances v3.1.1 with psutil v5.6.3
* Operating System (lsb_release -a): Ubuntu 18.04.2 LTS

[2019-08-05 10:49] mitar opened #1527 "Export to CSV while in server mode"
#### Description

It looks like it is not possible to export data when running in server mode? That is surprising because when I read it in documentation I though that is the main use case. That you can run a server daemon and configure it so that it exports everything recorded to a file for preservation. And then you can connect with a client to see current state.

It seems you have to connect wi

[2019-08-07 06:44] nicolargo commented on #1526
I will have a look to add this feature but for the moment you can use a simple AMP:

Edit the Glances configuration file and add this section:

[code]

[2019-08-07 06:49] nicolargo commented on #1527
For the moment, export is only available in standalone or client mode...

[2019-08-07 06:52] mitar commented on #1527
Where does server mode save recorded data? In memory?

[2019-08-07 07:25] nicolargo commented on #1527
Yes in memory. You can configure the buffer size here: https://github.com/nicolargo/glances/blob/develop/conf/glances.conf#L8-L10

[2019-08-07 07:28] mitar commented on #1527
Yes, I have seen that you can configure it.

I really thought that all integration with CSV and InfluxDB and stuff like that can work on the server, that you can export all this data in real-time into those and then use them.

[2019-08-08 01:56] in2out opened #1528 "Error with IP Plugin : object has no attribute"
I have a problem (centos 7.2)

xxxxx# glances
Error while initializing the ip plugin ('NoneType' object has no attribute 'split')

xxxxx# glances  -V
Glances v3.1.1 with psutil v5.6.3

it cause below part.

plugins/glances_ip.py
return  ', '.join(set([x.strip() for x in ip.split(',')]))

ip is none...

[2019-08-08 19:55] soichih commented on #170
How can I show GPU temperature on glances? Right now I have to run nvidia-smi separately to see the GPU temp.

[2019-08-10 01:18] ned-kelly opened #1529 "api/3/network/interface_name not returning json data"
There's an issue with the API where `api/3/network/interface_name` is not returning a valid json response but rather some sort of raw data..

For example (This should be a Json object)

[code]

I might also add, that I'm running the glances in docker (built from the latest `master` branch) -- I can also see the network interfaces fine when going to; `api/3/all` so it's not a docker configuration i

[2019-08-11 07:50] nicolargo commented on #1529
Not reproduced on my side:

[code]

Please can you shoz us the result of the following commands:

[code]

Thanks !

[2019-08-11 08:07] nicolargo commented on #1528
Corrected by last commit.

THanks for the issue report.

[2019-08-11 08:20] nicolargo commented on #1523
Hi @cboettig

Unfortunatly, the pynvml Python lib return me an error when i try to get the Fan speed:

[code]

Can you try it on your system ?

[2019-08-11 08:27] nicolargo commented on #1525
Nice enhancement request !

What i propose to implement in the future release:

- CSV file export will be append by default
- if the header did not match with the existing CSV file an error message is displayed and Glances is stopped
- a new --export-csv-overwrite tag is added in order to allow Glances to delete the existing CSV file on startup

Do you have additionnal requirements ?

[2019-08-11 08:29] #1522 closed

[2019-08-11 08:32] nicolargo commented on #1518
@johnnyutahh  i do not think that the white theme option is available on the Web UI... @notFloran , can you confirm ?

[2019-08-11 08:38] nicolargo commented on #1517
@jpbourgeon can you try the following workaround .

[code]

[2019-08-11 08:40] nicolargo commented on #1517
The last commit should correct this issue...

[2019-08-11 08:40] #1517 closed

[2019-08-11 09:02] mitar commented on #1525
Sounds good.

[2019-08-11 09:15] nicolargo commented on #1511
Implementation done by the latest commit.

Please test the DEVELOP branch.

The configuration key is the following:

[code]

[2019-08-11 09:17] nicolargo commented on #1509
Corrected in https://github.com/nicolargo/glances/issues/1528

[2019-08-11 09:17] #1509 closed

[2019-08-11 14:50] Hypocritus commented on #1317
@nicolargo just wanted to drop a line and say _very_ nice work with this project, and thanks for the continued support!

[2019-08-11 18:10] nicolargo commented on #1525
New documentation:

It's possible to export stats to a CSV file.

.. code-block:: console

    $ glances --export csv --export-csv-file /tmp/glances.csv

CSV file description:

- first line: Stats description (header)
- others lines: Stats (data)

By default, data will be append any existing CSV file.

If the header did not match with a previous one, an error is logged.

The --export-csv-overwrite

[2019-08-11 18:12] nicolargo commented on #1525
Ok, it is available in the DEVELOP branch.

@mitar please can you test it ?

[2019-08-12 01:23] ned-kelly commented on #1529
Hi @nicolargo, no worries - here's the output:

[code]

[2019-08-12 08:15] nicolargo commented on #1529
Strange...

Can you try to run curl in debug mode.

It give me this on my system:

[code]

[2019-08-12 10:16] jpbourgeon commented on #1517
Thanks !

[2019-08-12 22:59] cboettig commented on #1523
@nicolargo Thanks for the reply.  I get a different error:

[code]

[code]

My python is pretty limited, not sure how best to my `pynvml` version etc.

[2019-08-13 08:09] nicolargo commented on #1527
By design, Glances server has a very low CPU footprint because it grab data only when a client ask for it (not every 3 seconds). If we allows user to serve and export i have to change this behavior on server side.

But i hear your need. I am going to think to a new mode to mix server and export mode...

Any ideas are welcomes.

[2019-08-13 08:51] nicolargo commented on #1508
Implemented by the latest commit on the DEVELOP branch.

Please can you test it ?

I do not have any hddtemp compliant disk on my dev computer...

[2019-08-13 09:02] gotjoshua commented on #1418
Sorry for the huge delay... Finally  made time to prepare the PR.

This is how far I got: https://github.com/gotjoshua/glances/wiki/The-Glances-XML-RPC-API-How-to

But I don't know what to do with the weird syntax (what's with the `u'` ? ?):
`{u'load': {u'cpucore':...`
should i reformat that to:
`{"load": {"cpucore":...`
?

[2019-08-13 09:23] nicolargo commented on #1418
Nice work!

The u is for Unicode. A specific Python notation. You can remove it from
the doc.

Le mar. 13 août 2019 à 11:02, gotjoshua <notifications@github.com> a écrit :

[2019-08-13 09:52] bzazzera opened #1530 "Cannot restart glances with --export influxdb after update to 3.1.1"
Hi,
I cannot restart glances with --export influxdb after update to 3.1.1.

See error below
# /usr/local/bin/glances --quiet --config /etc/glances/glances.conf --export influxdb
Traceback (most recent call last):
  File "/usr/local/bin/glances", line 10, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/glances/__init__.py", line 140, in main
    start(config=config,

[2019-08-13 11:03] vsc55 commented on #1508
Hi Nicolargo,

I have tried and it does not work, so it seems to use the configuration data.
Config file:
[code]

Debug file:
[code]

Best regards.

[2019-08-13 13:40] bzazzera commented on #1530
Rolled back to 3.1.0 and everything's back to normal on both servers !

A bug with Influxdb on 3.1.1 ?

[2019-08-13 14:54] gotjoshua commented on #1418
So the [GitHub wiki doesn't seem to support pull requests](https://stackoverflow.com/questions/10642928/how-to-pull-request-a-wiki-page-on-github), but you can consider this comment a formal and official "copy-paste Pull Request" for the wiki page:
https://github.com/gotjoshua/glances/wiki/The-Glances-XML-RPC-API-How-to

Thanks for the guidance about the python notation and thanks for the amazingl

[2019-08-13 15:34] gotjoshua commented on #1418
wrapping them into accordion/collapse elements is a good idea @douglasg14b ... so thats also done in the latest [revision](https://github.com/gotjoshua/glances/wiki/The-Glances-XML-RPC-API-How-to/_history)

[2019-08-14 08:34] nicolargo commented on #1530
As a workaround for the version 3.1.1, please add the following option in the Glances conf file:

[code]

[2019-08-14 09:41] nicolargo commented on #1508
I see... The issue came from the fact that "limits" are loaded after plugin initialization: https://github.com/nicolargo/glances/blob/develop/glances/stats.py#L46-L50

Have to find a way to have a better init function...

It change lot of think. Not sure to be ready to implement this on the next release...

[2019-08-14 09:46] nicolargo commented on #1530
Patch ok on the DEVELOP branch.

[2019-08-14 09:46] #1530 closed

[2019-08-14 10:43] vsc55 commented on #1508
Hi,
I am testing and I have detected that the configuration would not be defined in the [sensors] section, it would have to be defined in the [hddtemp] section.

[code]

[2019-08-14 11:14] vsc55 commented on #1508
Hi,
I've been testing this:
https://github.com/vsc55/glances/commit/64444b7ab048abd4aa537d4f6c1a5d055ff9a8aa

And I have obtained this:
[code]

The first update runs correctly, but in the rest of the update the content of limit is empty.

Can it be that the first update is an object, and the rest of the updates run another object that does not load the limits?

[2019-08-14 12:17] bzazzera commented on #1530
I confirm, after added :
[influxdb]
protocol=http
in glances.conf
it works now with 3.1.1 but just a small error occurs in syslog:
glances: Error while initializing the quicklook plugin (encode() argument 1 must be string, not None)
Many Thanks Nicolas

[2019-08-15 19:09] ssbarnea opened #1531 "Add stats about running VMS (qemu/libvirt/kvm support through virsh)"
I loved the nice view provides by glances but while is able to report running containers it seems not to be able to report runnings vms on the same hosts, which may be of important use.

[2019-08-17 09:22] nicolargo commented on #1508
Hi @vsc55

i just push a new version on the DEVELOP branch.

Please can you try it and add the following section to your config file:

[code]

[2019-08-17 10:28] vsc55 commented on #1508
Hi @nicolargo

I have tested the latest version and function, now get the data correctly.  👍

The only thing, now those errors appear:
[code]

[2019-08-20 22:56] Paytah232 commented on #1521
I tried this and it seems to have increaseds the interval from 5secs to 6sec. Any other solution that could work? @nicolargo @a2902793

[2019-08-20 23:24] mark9064 commented on #1523
py3nvml with nvmlDeviceGetFanSpeed works for me (and for all other nvidia systems I have tested)

[2019-08-20 23:39] cboettig commented on #1523
Thanks @mark9064 .  I can confirm that ` nvmlDeviceGetFanSpeed` from `py3nvml` works nicely on my machine too.  (looks like it should also be able to get temperatures though I wasn't clear what the function call is for that).

[2019-08-21 11:40] Mustafa-C commented on #1431
Solved this a long while ago by reinstalling. Closing.

[2019-08-21 11:40] #1431 closed

[2019-08-21 12:07] ned-kelly commented on #1529
@nicolargo sorry for the delay, I've been away the week ... Good news, i'm getting a response as expected:

[code]

I'd say there's an issue with the gzipping, as when you add the gzip encoding header it's not sending a valid gzip by the looks...

[code]

[2019-08-21 12:40] mark9064 commented on #1523
Here are the various functions I've used for nvidia, hope they help: [https://github.com/mark9064/system_metrics_influx/blob/master/system_metrics_influx.py#L174](url)

[2019-08-21 12:52] GalRogozinski opened #1532 "Glances crashes immediately due to python error"
#### Description

I start glances and it immediately crashes.

#### Versions

* Glances & psutil (glances -V): Glances v2.11.1 with psutil v5.4.2

* Operating System (lsb_release -a): Ubuntu 18.04 LTS

* Python -V: 2.7.15rc

*Python3 -V: 3.6.5

#### Logs
The error keeps on changing:

[code]

[2019-08-22 06:37] colucu opened #1533 "Glances crashes with eclipse"
#### Description

When I use Eclipse IDE for my project, Glances immediately crashed.
But Glances still work when I reboot computer and start Glances only.
What can I do for Glances working with Eclipse?

#### Versions

* Glances v3.1.1 with psutil v5.6.3
* Ubuntu 18.04.3 LTS
* Eclipse Version: 2019-06 (4.12.0)

#### Logs
Traceback (most recent call last):
File "/usr/local/bin/glances", line 10, i

[2019-08-22 07:03] colucu commented on #1533
Sorry I got it.
Problem was Python version.

[2019-08-22 07:20] #1533 closed

[2019-08-22 13:35] nicolargo commented on #1532
Duplicated: https://github.com/nicolargo/glances/issues/1160

Please upgrade your Glances version or disable the Docker plugin (--disable-docker)

[2019-08-22 13:35] #1532 closed

[2019-08-22 13:40] nicolargo commented on #1529
Work like a charm on my side:

[code]

Can you please make a try with HTTPie instead of CURL ?

[2019-08-22 13:46] nicolargo commented on #1523
Yes but... py3nvml is for Python 3.5+.

The current nvidia-ml-py3 lib is compliant with both Python 2 and Python 3...

Perhaps i can have a look to use nvidia-ml-py3 for Python 2 and py3nvml for Python 3 but it will the code more complex...

[2019-08-22 13:47] nicolargo commented on #1525
@mitar Any head up ?

[2019-08-22 13:47] #1511 closed

[2019-08-22 13:49] #1508 closed

[2019-08-22 13:51] nicolargo opened #1534 "Speed up Glances launch"
#### Description

Glances is slow to start.

Make some optimization in order to speed up it.

#### Versions

* Glances & psutil (glances -V): Glances v3.1.0 with psutil v5.6.1
* Operating System (lsb_release -a): Ubuntu 18/04

#### Logs

N/A

[2019-08-22 14:06] nicolargo commented on #1534
Glances 3.1.2 beta:

python -m glances ==> Glances started in 3.214372 seconds
python -m glances --disable-sensors ==> Glances started in 1.916817 seconds

[2019-08-22 15:07] cboettig commented on #1523
@nicolargo apologies if this is a silly comment, but I was definitely running py3nvml in Python 2.7.16, where everything seemed to work.  I'm probably missing something obvious, I'm not a python developer.

[2019-08-22 15:25] GingkathFox commented on #1511
ran the script (after uninstalling the homebrew version), tried to test it, and when i ran glances, it ran for a second, froze, and spit out this:
[code]

[2019-08-22 15:40] GingkathFox commented on #1511
Apparently it works fine if i use my alias: `glances --percpu --diskio-iops --disable-plugin ports,cloud,processlist,network,alert -t 1`

[2019-08-27 14:22] nicolargo commented on #1534
Sensors is a good candidate for optimization...

[2019-08-27 14:22] #1529 closed

[2019-08-27 14:23] #1525 closed

[2019-08-27 14:43] nicolargo commented on #1534
Run Glances in debug mode (-d) and grep "duration" in the Glances log file.

[2019-08-28 11:22] ErikKalkoken commented on #1194
Using the `-q` option does not work for web server mode sadly.

But you can run it as service in web server mode with `supervisorctl`.

Check out [this page](https://www.tecmint.com/glances-monitor-remote-linux-in-web-server-mode/) for further instructions.

Adding to this I installed glances via pypi into a virtual environment under `/opt/glances` and are running it with its own non-sudo user.

H

[2019-08-28 17:08] primeos commented on #1509
I'm still getting the

[code]

error message for Glances 3.1.2 inside of the Nix build sandbox, which uses network namespaces as well.

It isn't a big problem for me (only have to disable the IP module check during the build and it works outside of the build sandbox), but it seemed like a good idea to note it here in case it matters.

Version 3.1.0 was still fine:
[code]

While 3.1.1:
[code]

and

[2019-08-29 05:49] gyakovlev commented on #1509
@primeos as for me and gentoo build new version 3.1.2 corrected build and `unshare -n` crashes, so I can't confirm issues you have.

[2019-08-29 06:25] attzonko commented on #1266
I know this is more than a year later, but I stumbled on this issue as I was seeing it as well. Changing the option, resolved the problem for me. I would say you can close the issue :)

[2019-08-29 07:18] #1266 closed

[2019-08-29 19:49] joe307bad commented on #1169
It seems as if this has been resolved. I can now run Glances in a docker container and see all the containers in the web UI using Rancher 1.5.2 and Glances 3.1.2.

[2019-08-29 19:49] #1169 closed

[2019-08-30 03:12] CanisW commented on #1521
e.g. using http://0.0.0.0:61208/30 can set the refresh rate to every 30 seconds.
ref:
1. "Web Server Mode" section on https://glances.readthedocs.io/en/stable/quickstart.html
2. https://github.com/nicolargo/glances/issues/784

[2019-08-30 09:56] hajo62 commented on #1350
You might want to give some examples?

[2019-09-03 04:04] epsilon77 opened #1535 "glances fails without network interface"
Hi nico!

#### Description

Glances fails without any network interfaces initialized

#### Versions

epsilon@gandalf:~$ glances -V
Glances v3.1.1 with psutil v5.5.1

Debian GNU/Linux bullseye/sid

#### Logs

epsilon@gandalf:~$ sudo ifconfig eth0 down
epsilon@gandalf:~$ sudo ifconfig wlan1 down
epsilon@gandalf:~$ glances
...
....
          File "/usr/lib/python3/dist-packages/glances/standalone.py"

[2019-09-03 04:51] rjgrandy commented on #1413
Was there ever resolution to this?  I performed the same actions and have the same results:

C:\> glances
Glances Web User Interface started on http://0.0.0.0:61209/
Then i copy http://0.0.0.0:61209/ to web broswer and press Enter key, but the page can't be opened.

Just want to know what I am doing wrong. I even tried to -B to the local IP address but still not luck

[2019-09-03 12:52] chtombre opened #1536 "Make processes.sort_key configurable"
#### Description

It would be nice if the default sort_key for processes (and also for docker plugin which uses same key as processes) could be overwritten by config file.

This issue is possibly related to #1515

[2019-09-04 18:13] poonab opened #1537 "Quicklook plugin not working on Systemd"
#### Description

When starting glances through Systemd the quicklook plugin doesn't work, plugin works fine when executing from command line.

**glances.service:**

[Unit]
Description=Glances
After=network.target

[Service]
ExecStart=/usr/local/bin/glances -w
Restart=on-abort

[Install]
WantedBy=multi-user.target

#### Versions

Glances v3.1.2 with psutil v5.6.3

OS:
Distributor ID: Raspbian
Desc

[2019-09-06 15:42] jaburges commented on #1450
@nicolargo are you able to update the docker image?

[2019-09-07 06:41] junpet opened #1538 "[ports] ICMP does not work"
#### Description

I use Glances in a Docker container. I'd like to use the `[ports]` section to ping (using ICMP) devices on my local network. If I use a specific port with `port_x_port` (like `Router` on my pic), then everything is fine. If I omit the port number to use ICMP, then `Scanning` can be read, nothing else. Note that there is `Scanning` with `DefaultGateway` as well.
![](https://i.ibb.

[2019-09-07 06:45] nicolargo commented on #1538
Please, can you copy paste the  content of the ports section of your
configuration file?

[2019-09-07 07:09] junpet commented on #1538
[code]

[2019-09-08 09:46] juan11perez commented on #1450
@nicolargo
@jaburges

I created an image based on the repo dockerfile. Used the alpine base added requests and paho. I have now been using it for a month without bugs. See below

[code]

[2019-09-09 01:50] XuZhen86 commented on #1479
Also observed same problem on Nvidia Jetson Nano
[code]

[2019-09-09 12:06] Anian-igor commented on #1450
Could you share your config please?
I tried with your docker file and docker-compose file and get error
version: "2"
services:
  glances:
    build:
      context: ./data
      dockerfile: dockerfile.dev
    volumes:
      - ./data/glances.conf:/glances/conf/glances.conf
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      #- GLANCES_OPT=-w
      - GLANCES_OPT=--export mqtt

[2019-09-09 14:03] juan11perez commented on #1450
sure, this is my docker compose

[code]

no ports on mine. My understanding is Glances can only do onething at time ;-)

[2019-09-11 19:22] nicolargo commented on #1535
Should be corrected by commit faa4bd71

Thanks for the issue report @epsilon77

[2019-09-11 19:22] #1535 closed

[2019-09-11 19:24] nicolargo commented on #1536
Also related to https://github.com/nicolargo/glances/issues/1432

[2019-09-11 19:30] nicolargo commented on #1537
Hi,

can you try to add the percentage_char option in the quicklook section of the Glances configuration file ?

[code]

[2019-09-11 19:43] rusagent opened #1539 "Nothing happening"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.
I start it but it stops after just a few seconds...

C:\WINDOWS\system32>glances -B 127.0.0.1
Glanc

[2019-09-11 19:50] nicolargo commented on #1538
Glances uses the standard ping system command (because the steacky bit is set for all users). Can you please connect to the container in interactive mode and run a ping ?

[2019-09-11 19:53] nicolargo commented on #1539
Did you start your Web browser and go to the http://0.0.0.0:61209/ URL ?

RTFM ==> https://glances.readthedocs.io/en/stable/quickstart.html#web-server-mode

[2019-09-11 20:25] SNoof85 commented on #1537
Hi,

Google sent me there and i have exact same problem :
[code]

Tried to add the `percentage_char=|` in the configuration file but still same error.

[2019-09-11 20:41] poonab commented on #1537
Added that to conf file and there was no change.

Can confirm conf is working as was able to use the disable flag to enable/disable plugin

[2019-09-12 02:14] rusagent commented on #1539
Yes - i posted the 127.0.01 but neither the 127.0.0.1 nor the 0.0.0.0 goes to anywhere. i always get a 404.... Probably glances closes before. (as you can read from the commandline quote)

[2019-09-12 02:44] Karmak23 commented on #1440
Hi, on OpenWRT the kernel also doesn't have TASK. Thus the bug is still present (glances 3.1.2, psutil 5.6.3). The patch should include OpenWRT (uname -a says `Linux hostname 4.9.184 #0 SMP Thu Jun 27 12:18:52 2019 aarch64 GNU/Linux`, which could be not meaningfull enough. You could test against the presence of `/bin/opkg` binary ?

[2019-09-15 09:01] nicolargo commented on #1539
Can you start it in debug mode (-d).

Any relevant messages ?

[2019-09-16 10:17] rusagent commented on #1539
C:\WINDOWS\system32>glances -d
Glances Web User Interface started on http://0.0.0.0:61209/
Bottle v0.12.17 server starting up (using WSGIRefServer())...
Listening on http://0.0.0.0:61209/
Hit Ctrl-C to quit.

C:\WINDOWS\system32>

But i don't see a process running in the task manager... neither a python nor a glances task.

[2019-09-19 09:12] mao303mao opened #1540 ""/api/3/all" response json lost the key quicklook"
I use    "**nohup glances -w &**"to run glances,
"/api/3/all" response json lost the key quicklook
so, there is js err on glances web page
![1](https://user-images.githubusercontent.com/37785668/65230522-9783f000-db00-11e9-82d5-210291968e6b.JPG)

[2019-09-24 21:08] kedare commented on #1440
Same issue here on the ChromeOS Debian LXC container (Debian 10): `Linux penguin 4.19.60-06185-g54aa50936831 #1 SMP PREEMPT Wed Aug 14 01:17:34 PDT 2019 x86_64 GNU/Linux`

[2019-09-26 03:22] jm33-m0 opened #1541 "xmlrpc service is unprotected and enabled by default!"
as i recently found, glances by default enable a systemd service which starts a xmlrpc server bound to 0.0.0.0.
everyone is able to call all APIs without a password, which is extremely dangerous!
please fix it

[2019-09-26 04:04] jm33-m0 commented on #1541
i suggest disable all API services by default, when being enabled, ask the user to set a password

[2019-09-26 22:22] johann-petrak opened #1542 "Running glances starts Sysinfo 0.7 again and again"
#### Description

Whenever I run glances, the Sysinfo 0.7 programm (sourceforge.net/projects/gsysinfo) gets started before the glances output even appears. When I close that program it immediately gets restarted, again and again and again.

#### Versions

* Glances & psutil (glances -V):  v3.1.2, v5.6.3
* Operating System (lsb_release -a): Ubuntu 18.04.3
* Python: Anaconda (conda version 4.7.12)
*

[2019-09-28 13:06] nicolargo commented on #1539
Please have a look on https://glances.readthedocs.io/en/stable/config.html#logging

[2019-09-28 13:07] nicolargo commented on #1540
@notFloran Can you have a look on it  ?

[2019-09-28 13:12] nicolargo commented on #1541
The fact that Glances is ran as a service is on the responsability of the package manager of you operating system. Please open an issue in the package manager issues tracker.

[2019-09-28 13:13] nicolargo commented on #1542
???

Do you have any special configuration keys in the AMPs section of your Glances configuration file ?

[2019-09-28 13:31] nicolargo commented on #1537
The 66c9fff7 commit should solve the issue.

[2019-09-28 14:51] jm33-m0 commented on #1541
Yeah I am aware of that, but glances really needs to set a password for its
API server in case it's being used.

On Sat, Sep 28, 2019, 21:12 Nicolas Hennion <notifications@github.com>
wrote:

[2019-09-28 15:16] nicolargo commented on #1526
@minar

I propose the following implementation in the left menu of Glances:

![image](https://user-images.githubusercontent.com/776747/65818572-06ed9400-e213-11e9-8534-016d33f0113e.png)

With the following description:
- Listen: all ports created by server and waiting for a client to connect
- Initialized: All states when a connection is initialized (sum of SYN_SENT and SYN_RECEIVED)
- Established

[2019-09-28 15:20] nicolargo commented on #1541
You can by using --username and --password. See https://glances.readthedocs.io/en/latest/quickstart.html#client-server-mode

The packager should create (or ask) for a default password when Glances is installed on the OS.

[2019-09-28 15:36] nicolargo commented on #1488
Perhaps to be included in the future Connections plugins ==> See https://github.com/nicolargo/glances/issues/1526

[2019-09-28 15:40] nicolargo commented on #1526
Add:
/proc/sys/net/netfilter/nf_conntrack_count
/proc/sys/net/netfilter/nf_conntrack_max

[2019-09-29 06:10] junpet commented on #1538
Sorry for taking so long:
`ping: command not found`

[2019-09-30 00:46] jm33-m0 commented on #1541
okay, im closing this

[2019-09-30 00:46] #1541 closed

[2019-09-30 08:07] johann-petrak commented on #1542
I did not change anything in the config file at all. On the system where I have originally observed this I  have since completely re-installed Anaconda and glances within Anaconda and this is not happening any more.

I tried this on another computer:
* conda version 4.7.5
* glances version v3.1.0 with psutil v5.6.3
* Ubuntu 18.04.3
* initially the "sysinfo" command was not found on that system
* G

[2019-09-30 19:05] mitar commented on #1526
This looks cool (have to yet to test it), and I agree that conntrack values would be useful as well.

[2019-10-02 06:32] martinburger commented on #1501
I run into the same issue on Ubuntu 16.04.6 LTS. However, the second call of `curl -L https://bit.ly/glances | /bin/bash` successfully installed Glances.

[2019-10-03 19:11] dhollinger commented on #1523
Any updates on this?

[2019-10-03 19:27] jasker5183 opened #1543 "Sort DiskIO by /dev/disk/by-id"
I know you can have aliases for these things but they don't work when your disks change identifiers every reboot, that is why it would be nice if you could sort the diskio by /dev/disk/by-id.

[2019-10-04 04:49] Nicholi opened #1544 "IP plugin still exporting data when disabled"
#### Description
When disabling the IP plugin an empty string is still exported (using influxdb). The IP portion of curses interface is disabled however.

Disabling the plugin through conf file with
[code]

Running with
`glances -d --export influxdb`

Observed measurement data in influxdb
[code]

If enabling ip plugin again (as well as re-appearing in upper right of curses interface):
[code]

####

[2019-10-06 08:50] nicolargo commented on #1544
When i made a test on my side (for example with the CSV export module), when i disable a plugin, it also disable the export.

I do not understand. You said that the stats are exported but on your "Observed measurement data in influxdb" i do not see the stats but only the fact that the plugin is disable...

[2019-10-06 09:26] Nicholi commented on #1544
Is there a way to disable exporting completely for the ip plugin? I just
see no need to insert these records when it's disabled. Otherwise I guess I
just misunderstood.

All other plugins seemed to stop exporting any data when disabled. Such as
diskio or processlist.

On Sun, Oct 6, 2019, 1:50 AM Nicolas Hennion <notifications@github.com>
wrote:

[2019-10-07 06:00] stephdl commented on #1356
thank so much, I fixed it on fedora30 but the issue was existing since some time

`sudo pip install --upgrade psutil`

after that the disk IO is well displayed

[2019-10-07 11:03] nicolargo commented on #1526
Ok done.

Merged  in the DEVELOP branch.

[2019-10-07 11:03] #1526 closed

[2019-10-07 18:35] notFloran commented on #1518
Yes, only the black theme is available on the web interface.

[2019-10-08 00:58] Dibbyo456 commented on #1444
**+1**

I have mostly used `htop` to view process and kill it.

[2019-10-08 19:35] notFloran commented on #1521
It seems that `glances -w -t 30` does not work anymore. I will look at it.

[2019-10-08 19:35] nicolargo opened #1547 "[WebUI] Add a new TCP connections status plugin"
The TCP connections status plugin as been added in the DEVELOP branch (see https://github.com/nicolargo/glances/issues/1526).

![image](https://user-images.githubusercontent.com/776747/66426705-b6e0af80-ea12-11e9-8ae1-0f393b0ea400.png)

Only the Curses interface is available.

The goal of this ER is to implement the WebUI for this new plugin.

[2019-10-09 19:52] rhybosoma commented on #1539
Hey @nicolargo,

sorry to bother you. I am quite new at this. I read several times the information contained on the web but I can not make it work. I have read the manual.

I am using:

Glances & psutil (glances -V):
Glances v3.1.2 with psutil v5.6.3
Operating System (lsb_release -a):
Windows 10 Pro Version Build 1903

C:\WINDOWS\system32>glances

nor

C:\WINDOWS\system32>glances -w

seem to work

[2019-10-10 08:06] Globegitter commented on #1528
@nicolargo I am on Ubuntu 19.10 with python 3.7 and getting the issue with glances 3.1.2:

[code]

Any idea why the issue could still show up? Or how to work around that.

[2019-10-10 08:11] Globegitter commented on #1528
Ah yes, it works fine without the plugin so at least I can start up glances :)

[2019-10-13 17:39] medelay commented on #1419
How would i get this to work in a docker container ?

[2019-10-14 15:32] medelay commented on #1479
aparently are the tags with arm not 32 bits but they are 64 bits thats why it isn't working. Has anyone got this working in docker on a raspberry pi ?

[2019-10-14 15:54] XuZhen86 commented on #1479
Looks like a lot of images have the same issue. I get around by compiling locally and creating my own image. Make a Dockerfile from Ubuntu and run apt install packages also works except the image size is larger. Docker hub is kinda vague about exactly which arm architecture is supported by an image

[2019-10-16 04:14] rlue commented on #1479
I finally got around to building my own image today. In case anyone is not familiar with Docker, here's how you can build the docker image locally:

[code]

This will create a **local** Docker image for glances on your ARM system, named `nicolargo/glances` and tagged `arm`. (tbh I really don't know the convention around specifying `armhf` vs `armv6` etc., but since you presumably won't be publishi

[2019-10-16 08:31] Dekken commented on #993
If the ROCm stack is installed why not use rocm-smi?

With the Radeon Open Compute stack (https://rocm.github.io).

see https://gist.github.com/Dekken/fe9a5b47cefe8b22316c9f6728db08fc

[code]

[code]

[2019-10-19 16:34] fuzzymannerz commented on #1539
Just wanna chime in here and say the same thing happens to me. (Windows 10 Pro, Python 3.8).

CMD says:
`glances -w -d
Glances Web User Interface started on http://0.0.0.0:61208/
Bottle v0.12.17 server starting up (using WSGIRefServer())...
Listening on http://0.0.0.0:61208/
Hit Ctrl-C to quit.`

Here's the debug log file, although it doesn't seem as though there are any errors in it. :/
https://p

[2019-10-20 19:21] nicolargo commented on #1543
Sorry but for the moment it is not possible, the PsUtil lib used to grab disk system stats (https://psutil.readthedocs.io/en/latest/#disks) do not get the disk id.

I just open an feature request on the PsUtil github (https://github.com/giampaolo/psutil/issues/1609)

[2019-10-20 19:33] nicolargo commented on #1538
Ok... copy that... ==> bceadb3d

It should be corrected now...

[2019-10-20 19:33] #1538 closed

[2019-10-20 19:34] nicolargo commented on #1537
@poonab Can you test the DEVELOP branch ?

[2019-10-21 12:00] poonab commented on #1537
@nicolargo initial testing of Glances v3.1.4_BETA with psutil v5.6.3 shows issue to have been fixed

[2019-10-23 06:04] zhaoxuan opened #1550 "CPU usage is always 100%"
#### Description

CPU usage of glances is always 100%, warning in log `WARNING -- Update and export time higher than refresh_time`.

![image](https://user-images.githubusercontent.com/1038132/67362308-55d1e380-f59d-11e9-8cdd-408b39e55f7a.png)

#### Versions

* Glances Version: 3.1.3
* psutil: 5.6.3

#### Logs

[code]

[2019-10-23 20:17] reckoner opened #1551 "KeyError: b'Rss:' in memory_maps"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

      File "/usr/local/bin/glances", line 11, in <module>
        load_entry_point('Glances==3.1.3

[2019-10-24 04:20] linehammer commented on #940
more on...[python docstring](http://net-informations.com/python/iq/docstring.htm)

[2019-10-27 10:22] nicolargo commented on #1550
Strange....

On my system:
[code]

On of your plugin take an huge time to update.

I just add a debug log information to get the update value per plugin.
Please can you test the DEVELOP branch and copy/paste the result of the log (in DEBUG mode ?)

Thanks !

[2019-10-27 10:45] nicolargo commented on #1551
Should be corrected in the DEVELOP branch.

Please can you test it ?

[2019-10-28 07:18] jiaxiaolei opened #1552 "PermissionError: [Errno 13] Permission denied: '/etc/mtab'"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

In ubuntu16.04, I use `$ snap install glances` to install glances.  After it, use `$ glances`, find glances does not work well, and show `PermissionError: [Errno 13] Permission den

[2019-10-28 07:23] jiaxiaolei commented on #1552
After `$ sudo snap connect glances:mount-observe :mount-observe`, glances work well.

In my opinion, good packaging would have a wrapper and connect necessary interfaces itself.
So, I think it's a bug for `glances` .

Any reply will be appreciated.

[2019-10-28 16:36] anonymouse64 commented on #1552
The snap author here can request auto-connection of these interfaces through the process documented at https://forum.snapcraft.io/t/process-for-aliases-auto-connections-and-tracks/455

[2019-10-29 06:16] zhaoxuan commented on #1550
It was weird. Only one server had this problem, but I can't find more information.
I will test the DEVELOP branch and copy some logs.

[2019-10-29 06:16] #1550 closed

[2019-10-29 11:19] fcalvet commented on #1337
Hey,

First thanks for this tool, but I don't think this is fixed, as in my situation I think tzname[0] should be used instead of tzname[1].
[code]
The output of glances is

Which should be CET and not CEST (as it the one corresponding to +02:00 and not +01:00).

[code]
Versions

    Glances & psutil (glances -V): Glances v3.1.3 with psutil v5.6.3
    Operating System: Ubuntu 19.10

[2019-10-31 10:59] nicolargo commented on #1552
@Lin-Buo-Ren Can you have a look on ths issue concerning the Snap packaging ? Thanks !

[2019-10-31 11:07] nicolargo commented on #1542
I just have a look on the Glances sources and there no reference to sysinfo.

Perhap it is called by the PsUtil lib (used by Glances to grab system information).

Can you please test the following:

Open a python command line:

    python

Import PsUtil

Get the stats:

Is the sysutil windows appears ?

[2019-10-31 11:22] nicolargo commented on #1539
What happen when you enter the http://0.0.0.0:61208/ URL in your Firefox or Chrome Web browser after starting Glances ?

[2019-10-31 11:23] nicolargo commented on #1537
Thanks for the report @poonab !

[2019-10-31 11:23] #1537 closed

[2019-10-31 11:47] fuzzymannerz commented on #1539
Unable to connect. It's as if Glances starts and stops immediately as after the `Hit Ctrl-C to quit.` line it returns to `C:\Windows\system32>` as if I had quit.

[2019-10-31 13:03] johann-petrak commented on #1542
I think I have tracked down why this happens:
https://github.com/nicolargo/glances/blob/develop/glances/plugins/glances_quicklook.py#L92

This calls the method `get_cpu_info()` from the cpuinfo package (https://pypi.org/project/py-cpuinfo/)

This package apparently tries to run `sysinfo -cpu` in order to get information from stdout, and this will invoke the GUI from  /usr/bin/sysinfo when the Ubun

[2019-11-01 09:07] #1551 closed

[2019-11-01 09:09] #1544 closed

[2019-11-02 09:37] nicolargo commented on #1536
Done in the develop branch.

Just add the sort_key line in the glances.conf file:

[code]

[2019-11-02 09:37] #1536 closed

[2019-11-05 04:50] Firesphere opened #1553 "Show long command line with arrow key"
#### Description

It would be useful to create an option to wrap the output of the running processes, so the full process becomes visible, including arguments. Running it out of screen is at times not giving enough information

#### Versions

* Glances v3.1.3 with psutil v5.6.3
* Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.3 LTS
Release:	18.04
Codename:	bionic

[2019-11-05 17:13] nicolargo commented on #1547
Hi @notFloran

I fail to include the connections plugin in the WebUI, can you have a look ==>See branch https://github.com/nicolargo/glances/tree/issue1547

Thanks !

[2019-11-05 21:02] Firesphere commented on #1553
I mean that even using the `/`, the full command still often runs out of screen, e.g. parameters passed in.

e.g.:
`Xorg vt2 -displayfd 3 -auth /run/user/55817/gdm/Xauthority -background none -noreset -keeptty -verbos`

is the maximum displayed. with wrapping, I would be able to see any further arguments passed in to Xorg.

[2019-11-06 06:54] nicolargo commented on #1553
I understand but the only way to show all command line arguments is to display the command on multiple lines. In this case, if a process has a very long command line, Glances will display only a few processes...

Example with the PyCharm process ==> 16 lines...

[code]

[2019-11-06 07:50] nicolargo opened #1554 "Display load as percentage when Irix mode is disable"
For the moment (Glances 3.1.3), the Irix mode is limited to the processes CPU percent.

When it is enable (using the '0' key), it display CPU%/Core for all the processes.

The goal of this issue is also to enable the Irix mode support for the load.

[2019-11-06 08:17] nicolargo commented on #1554
Done in commit 043e5746269e91398f40396dc08c6b7df66192f8

See doc ==> https://github.com/nicolargo/glances/blob/develop/docs/aoa/load.rst

[2019-11-06 08:17] #1554 closed

[2019-11-07 06:04] Firesphere commented on #1553
Good point. Maybe a "get full command for currently selected" might be something to consider, but I understand your point. Indeed not really feasible at the moment :)

[2019-11-07 15:15] itzsimpl opened #1555 "GPU stats not showing on mobile web view"
I have the latest version of glances installed and running it in web server mode `glances -w`. If I access the web server from a desktop computer, the GPU stats are visible, but if I access it from a mobile (vertical or horizontal view) they are not displayed. Same is true if I access the web server from a pad in vertical view (stats are not displayed), however in a horizontal view they are.

[2019-11-08 06:54] hcoohb commented on #1443
I would also be interested in having a config option to select which plugins get exported.
Using MQTT export here..

[2019-11-09 09:07] nicolargo commented on #1443
You can disable a plugin using the --disable-plugin option from the command line (and from the Glances config file in the future 3.1.4 version):

Example to disable the cpu plugin:

[code]

[2019-11-09 09:12] nicolargo commented on #1443
As a future enhancement, it will be nice to have two options:

- --disable-plugin to completely disable the plugin
- --disable-plugin-export to only disable the plugin export task

[2019-11-09 09:35] nicolargo commented on #1555
@notFloran Can you have a look on it ?

[2019-11-09 09:38] nicolargo opened #1556 "Remove the static exportable_plugins list from glances_export.py"
For the moment the list is statical because some plugin are not compatible with the export function. This list should be removed (all plugin are exportable by default) and be configurable (see related issue #1443).

[2019-11-09 10:02] nicolargo commented on #1542
Ok thanks for the report.

I close this issue.

[2019-11-09 10:02] #1542 closed

[2019-11-09 10:05] johann-petrak commented on #1542
Until py-cpuinfo is getting fixed and until glances depends on the new py-cpuinfo version, this is broken in glances though and will show that weird behavior on any system where that package is installed.

[2019-11-09 10:11] nicolargo commented on #1523
Forgot my latest message, the py3nvml lib (forked here ==> https://github.com/nicolargo/nvidia-ml-py3) is compliant with both Python 2 and Python 3.

I will have a look on the @mark9064 link in order to display fans speed and GPU temperature.

[2019-11-09 10:17] nicolargo commented on #1523
@mark9064 or @cboettig

Can you copy/paste the results of the following command lines:

[code]

Thanks !

[2019-11-09 10:23] nicolargo commented on #1542
Temporary workaround the upstream py-cpuinfo is corrected:

[code]

[2019-11-09 11:01] nicolargo commented on #1523
Test results:

[code]

[2019-11-09 15:56] brondum commented on #1479
Any updates on this one? seems like the problem persists ?

[2019-11-10 11:04] mark9064 commented on #1523
Tested on my 1060:

[code]

[2019-11-11 10:01] arudat opened #1557 "*nix powertop/management information?"
Hey,

it would be nice, if it is possible to get information about power consumption of hardware and processes:

Maybe? :)

[2019-11-11 15:36] nicolargo commented on #1523
@mark9064 and @cboettig ==> Implementation for the GPU temperature done in the develop branch. Please can you test on your system, i code without testing it...

Bonus question: The NVML lib is very nice and include a lot of information regarding the CPU. Additionally to the GPU process % the memory % and the temperature, what king of information is useful for an user ?

[2019-11-11 15:59] nicolargo commented on #1557
Hi @arudat

it will be interesting but has for powertop, you should have "admin/root" rights to grab this kind of information from the system.

I let the issue open.

[2019-11-11 19:52] cboettig commented on #1523
👏 Yup, looks great on my end!

<img width="378" alt="Screen Shot 2019-11-11 at 11 47 27 AM" src="https://user-images.githubusercontent.com/222586/68616021-0a627500-0479-11ea-8012-088fef3ae1ab.png">

I personally find fan speed (percent) and possibly also power consumption a useful stat to keep an eye on (e.g. as shown by nvidia-smi).  Though of course there's a trade off with the nice tight, conci

[2019-11-13 19:40] notFloran commented on #1521
@Paytah232 can you try the 3.1.3 version ? is now possible to do this : `glances -w -t 1`

[2019-11-13 19:59] notFloran commented on #1540
I can patch the web interface to handle the case where the quicklook data are not available. But we must also understand why the data disappeared from the API.

[2019-11-13 22:28] Paytah232 commented on #1521
How do I update on the synolgy nas? Is it auto or do I need to build it again from image?
________________________________
From: Floran Brutel <notifications@github.com>
Sent: Thursday, November 14, 2019 5:41:06 AM
To: nicolargo/glances <glances@noreply.github.com>
Cc: Paytah232 <peterpugno@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nicolargo/glances] Increase web refresh rat

[2019-11-16 09:25] #1555 closed

[2019-11-16 09:29] nicolargo commented on #1515
The current version of Glances (3.x branch) is not a good candidate to implement this enhancement.

The future Glances 4.x will refactor the core and the WebUI.

So postponed for the moment.

[2019-11-16 10:05] #1523 closed

[2019-11-16 14:50] oursours opened #1560 "install / Systemd Debian"
Hi, i tried to follow this :

https://github.com/nicolargo/glances/wiki/Start-Glances-through-Systemd

I want to Start a Glances client exporting stats to an InfluxDB server.  When i run **sudo systemctl start glances.service**, and then **sudo systemctl status glances.service**, i get :

glances.service - Glances
Loaded: loaded (/etc/systemd/system/glances.service; enabled; vendor preset: enabled

[2019-11-18 13:18] souvikg10 opened #1561 "Glances writing lots of Docker Error message in logs file"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

For an enhancement or new feature: Describe your needs.

#### Versions

* Glances & psutil (glance

[2019-11-19 19:09] deathtrip opened #1562 "Display current and cumulative network statistics at the same time"
Currently, you can only view one or the other, and have to switch between the two.

[2019-11-20 17:43] xzj8b3 opened #1563 "Installation problems in Fedora 31"
ERROR: Complete output from command /usr/bin/python3 -u -c 'import setuptools, tokenize;__file__='"'"'/tmp/pip-install-kupy0hm1/psutil/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-record-2x_lzird/install-record.txt --single-version-externally-m

[2019-11-20 19:57] nicolargo commented on #1563
RTFM: https://glances.readthedocs.io/en/stable/install.html#install

Quote: "Note: Python headers are required to install psutil. For example, on Debian/Ubuntu you need to install first the python-dev package. For Fedora/CentOS/RHEL install first python-devel package. For Windows, just install psutil from the binary installation file."

[2019-11-20 19:57] #1563 closed

[2019-11-20 19:59] nicolargo commented on #1561
@souvikg10 can you please paste/bin us the log file in order to have a look on the message ?

[2019-11-20 20:03] nicolargo commented on #1560
The following configuration should work:

[code]

[2019-11-20 20:06] xzj8b3 commented on #1563
Fedora 31

 Running setup.py install for psutil ... error
    ERROR: Complete output from command /usr/bin/python3 -u -c 'import setuptools, tokenize;__file__='"'"'/tmp/pip-install-7uxhdrsc/psutil/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' install --record /tmp/pip-re

[2019-11-20 20:09] nicolargo commented on #1563
[code]

And restart installation process...

[2019-11-20 20:17] xzj8b3 commented on #1563
Tenks

[2019-11-20 21:29] notFloran commented on #1547
I'll take care of it soon

[2019-11-20 22:09] souvikg10 commented on #1561
Hi @nicolargo ,
Thanks for the reply
I need to check the server logs to see if they are still there because we restarted the server.

Since we export the logs to influxdb, is it possible to disable logs alltogether otherwise i would have to configure a logger and create a logrotate cron which is quite tedious. It would be much more simple if we simply disable logging.

I will try to check the logs

[2019-11-21 03:16] davidtrattnig commented on #1479
I have the same issue within OpenMediaVault on a OdroidXU4.

[2019-11-21 09:51] desmoteo commented on #1437
Hi,
I've been struggling for the same reason and just found out that mounting the whole host fs in a read-only directory of the guest provides a reasonable workaround. In this way the docker mount information includes the host information as well.

This is how I start the docker container:

[code]

So that I get both the host and guest partitions information:

[code]

[2019-11-21 14:39] souvikg10 commented on #1561
Hi,
Here's an example log on the server
`2019-11-05 14:26:56,232 -- ERROR -- Cannot export s00vl9992241;.docker stats to InfluxDB (400: {"error":"unable to parse 's00vl9992241;.docker ': invalid field format"}
)
`
I have disabled the docker-plugin export but still this pops up.

If we use the log_config.json
can we disable logging all together?

Thanks

[2019-11-21 20:47] nicolargo commented on #1561
Yes you can setup your own log configuration. Please read https://glances.readthedocs.io/en/stable/config.html#logging

Nevertheless, i will change the log level of this message to debug in the next release.

[2019-11-22 10:13] souvikg10 commented on #1561
Hi @nicolargo ,
So if i just do this, it is enough to disable logging
[code]

[2019-11-22 10:47] nicolargo commented on #1561
You can try. Or put CRITICAL in the log level.

Le ven. 22 nov. 2019 à 11:13, SOUVIK GHOSH <notifications@github.com> a
écrit :

[2019-11-22 15:09] souvikg10 commented on #1561
Hi,
I tried this
[code]

as a systemd service but i received some errors

[2019-11-24 10:26] nicolargo commented on #1561
In the DEVELOP branch, i change the log level of this message to DEBUG. It should not be visible in the log file.

Can you try it ?

[2019-11-24 10:28] nicolargo commented on #1560
I have updated the Wiki documentation regarding this issue.

[2019-11-24 10:28] #1560 closed

[2019-11-24 16:42] nicolargo commented on #1288
UI (terminal only) implementation done in the DEVELOP branch.

Please can you test it with:

```sudo python -m glances --enable-plugin smart```

[2019-11-25 07:13] brondum commented on #1479
Ended up creating my own docker image like @rlue
But instead of using develop i used a specific version:

[code]

[2019-11-25 18:33] leoherzog commented on #1440
Same here, Chrome 78, Debian 10 in Crostini.

[code]

[2019-11-26 04:42] notFloran commented on #1547
I have some problems with the plugin, I use mac.

My config file:

[code]

And I see nothing new in the curse interface.

[2019-11-26 09:54] souvikg10 commented on #1561
Hi,
I will test it this evening. I need to do this from my personal server

[2019-11-26 11:20] giampaolo commented on #1440
`Process.io_counters()` (or `/proc/PID/io` file) is not available on all kernels, so Glances should determine that at runtime.

[2019-11-26 16:52] nicolargo commented on #1547
This plugin is only available on Linux...

You can fake it by replacing [the line 81](https://github.com/nicolargo/glances/blob/develop/glances/plugins/glances_connections.py#L81) by:

[code]

[2019-11-29 09:20] tnibert commented on #1288
Tested on Ubuntu 18.04 64bit / Linux 4.15.0-70-generic.  Tested on both Python 2.7.15 and 3.6.8.
 Was able to observe SMART data in curses UI left side bar.

As an additional note, I was not able to see the entire smart output, as it extended past the bottom of the screen.  It was not apparent to me if there was a method to scroll the left bar down.  I was able to see more of the smart output by d

[2019-12-01 22:48] fwestenberg opened #1565 "Add connected USB sevices"
It would probably be a great feature to add a list of connected USB devices to Glance. I personally use Glance with Home Assistant, and for configuration purpose it would be great to have this kind of overview.

[2019-12-02 04:59] gerroon opened #1566 "QA: Possible to run server and web server mode at the same time?"
Hi

Is it possible to run in both server modes with Glances? It seems like I can either run -w or -s ?

thanks

[2019-12-03 12:32] souvikg10 commented on #1561
Hi,
Sorry for the delay. I tested this and i don't see the docker logs anymore atleast as INFO.

[2019-12-05 23:39] tiagoboldt opened #1567 "Glances web server is printing HTML before the content"
#### Description

Using glaces web server, I'm seeing HTML in the top of the page, before glances content. Figure attached.

#### Versions

* Glances v3.1.3 with psutil v5.6.7
* Arch Linux ARM 32bit / Linux 4.19.86-1-ARCH

#### Logs
Nothing weird on the logs files
<img width="950" alt="Screenshot 2019-12-05 23 31 46" src="https://user-images.githubusercontent.com/147858/70283218-596da280-17b8-11ea

[2019-12-07 08:43] nicolargo commented on #1565
What kind of information do you need concerning the USB device ?

Like lsusb output ?

[code]

[2019-12-07 08:46] nicolargo commented on #1566
Duplicated ==> See https://github.com/nicolargo/glances/issues/995

[2019-12-07 08:46] #1566 closed

[2019-12-07 08:48] nicolargo commented on #1567
Ooops...

@notFloran Any idea ?

@tiagoboldt Can you try to disable the Cloud plugin using:

glances --disable-plugin cloud -w

[2019-12-07 09:13] fwestenberg commented on #1565
This would be a great start, but I certainly like to see the path. Like /dev/ttyACM1.
I use `dmesg | grep tty` for it, but it's not perfect.

[2019-12-07 18:09] nicolargo commented on #1565
lsusb -v displays a lot (too much information). Perhaps you can grep useful informatino and put the command line in a Glances AMP ==> https://glances.readthedocs.io/en/stable/aoa/amps.html

[2019-12-07 18:32] fwestenberg commented on #1565
Thanks, I didn't know about this! I found a small script:

[code]

Do you know if this can be used? Thanks again!

[2019-12-07 18:54] nicolargo commented on #1565
Yes for sure.

Put this script in a file, let's say ~/bin/usblist.sh
Make this file executable: chmod a+x ~/bin/usblist.sh

Edit your Glances configuration file (see location here: https://glances.readthedocs.io/en/stable/config.html) and add the following section:

[code]

[2019-12-07 22:32] fwestenberg commented on #1565
Thanks for the help! For some reason the [amp_] doesn't work at my config. Editing other parameters effect the output, but this does not.
Here is my config, can you please check the result in your Glance?

[code]

[2019-12-08 08:54] notFloran commented on #1567
It's strange, the HTML does not seem to come from the WebUI of Glances (https://github.com/nicolargo/glances/blob/develop/glances/outputs/static/templates/index.html.tpl).

Only in the WebUI ? no issue with curse ?

Maybe a dump of `http://0.0.0.0:61208/api/3/all` can help debug this.

[2019-12-08 18:42] nicolargo commented on #1565
The following configuration (please note the full path for /usr/bin/lsusb):

[code]

works

![image](https://user-images.githubusercontent.com/776747/70394185-b5237000-19f2-11ea-8d66-6075dc467623.png)

[2019-12-08 22:13] fwestenberg commented on #1565
Still not in my Hassio addon of Glances. Also, I found Glances is started with these options:

![image](https://user-images.githubusercontent.com/47930023/70397128-d6468980-1a0f-11ea-9ed4-ddb264ef8c5f.png)

![image](https://user-images.githubusercontent.com/47930023/70397134-e8c0c300-1a0f-11ea-8c1f-7b4d8d8d80a2.png)

And in the [glances man ](https://glances.readthedocs.io/en/stable/aoa/amps.html#

[2019-12-10 21:23] jorjoris25 commented on #1485
Please try the below:

###run the below with root user

    dnf remove glances-3.1.0-2.fc31.noarch
    dnf install glances

    pip install --upgrade glances
    dnf install pip
    pip install --upgrade pip
    pip install --upgrade glances
    pip install --upgrade psutil

###exit from root user
###try to run glances with your "simple user"
###login with root and try to run glances
*This worked

[2019-12-11 10:50] fcalvet commented on #1429
For anyone looking for this, `^sd..$` did the trick for me

[2019-12-13 07:24] CallMarl opened #1568 "LDAP provider"
#### Description

Hello,

I wasn't able to find any LDAP provider, for glance does it one?
Thanks.

[2019-12-13 10:49] nicolargo commented on #1568
Hi @CallMarl

what do you mean by LDAP provider ?

Nicolas

[2019-12-13 13:11] CallMarl commented on #1568
Hello,

something able to secure access of the web app by ldap authentication.
Thank you.

[2019-12-13 14:12] CallMarl commented on #1568
I finally found a way to authenticate with ldap. Using nginx reverse proxy.

If needed:
[https://github.com/sto/ngx_http_auth_pam_module](url)

**/etc/nginx/site-available/glances.conf :**
[code]
**/etc/pam.d :** (pam_ldap need to bee setup)
[code]

I'm interrested in your project, it's very good.
Thank you.

[2019-12-13 14:12] #1568 closed

[2019-12-13 16:25] qubidt opened #1569 "Unhandled AttributeError when no config files found"
#### Description

**update**: description incorrect, see https://github.com/nicolargo/glances/issues/1569#issuecomment-565742311

---

Without any config files defined, [this logger call](https://github.com/nicolargo/glances/blob/e29a153d93a740397d2c7cfa256596240b9bc2b9/glances/plugins/glances_plugin.py#L89-L90) triggers an `AttributeError`.

It looks like this was introduced by a61c91b111f06523e8

[2019-12-13 19:30] CallMarl commented on #995
run this commande line : `nohup glances -s &| nohup glances -w &`

**tcpdump**
[code]

[2019-12-14 08:03] nicolargo commented on #1569
Hi @qubidt thanks for the issue report.

Concerning the PR, i think that that the first solution (correct the debug message) will solve this issue. When neither configuration file are provided, a default configuration is applied.

Can you test it and you are welcome to PR ;)

Nicolas

[2019-12-14 15:11] ssbarnea opened #1570 "ubuntu: glances package does not install a systemd service"
While https://github.com/nicolargo/glances/issues/1560 documented creation of a service this should not be a manual step taken by someone installing glance.

Like other packages like nginx, apache,... they should also include the service. In that particular case the services should not be installed by default because is an optional feature, the tool being usable even without a service.

[2019-12-14 18:48] qubidt commented on #1569
Sorry! Looks like I'm a jerk. This was already fixed in abf64ffde31113f5f46ef286703ff061fc57395f:

[code]

After switching to `develop`, this call no longer throws an exception. The only issue is this has not been included in a release.

However, a bit down the line a different error occurs:

[code]

I'll push a PR for this.

[2019-12-15 23:36] flyingrhinonz opened #1572 "Autostart as 'glances -s' - possible security issue?"
I installed glances on raspberry pi buster via apt-get.
Works great. Love the program.

But then I found out that glances starts by default in -s mode , which is not what I expected or asked for during install.
Furthermore, it was accepting client connections with no password request, which exposes the data to anyone.

Suggestions:
1. Default install DOES NOT install server mode, or at least asks

[2019-12-16 19:56] NickWaterton commented on #1528
Ubuntu 18.04, python 3.6, Glances 3.1.3 psutil 5.6.7 has the same issue. Starts with ip plugin disabled.

[2019-12-17 20:14] nicolargo commented on #1572
This is not a bug...

Please report this issue to the Glances' RPI package maintainer.

[2019-12-17 20:14] #1572 closed

[2019-12-17 20:18] nicolargo commented on #1570
Depends of the use case...

Most of the time, users run the Curse interface as for htop or top.

I think that the best way to proceed is to ask to the package maintainer to create two installer. One glances-cli and one glances-server...

It is belong to the packager not the developer team so i close this issue.

[2019-12-17 20:18] #1570 closed

[2019-12-17 20:19] #1569 closed

[2019-12-17 20:30] nicolargo commented on #1528
The DEVELOP branch has a new patch.

It solve this second issue concerning the IP plugin initialisation .

[2019-12-18 01:08] AdrienLemaire opened #1573 "wireless-tools package on arch linux?"
#### Description

While reading the [wifi doc](https://glances.readthedocs.io/en/latest/aoa/wifi.html) , I see

The manpage doesn't give information as to what is really used behind, all I can find is:

And the WiFi plugin doesn't show up in my glances terminal view.
Unfortunately, I cannot find such wireless-tools package from arch linux repositories nor from aur:

[code]

Can you tell us what is

[2019-12-18 06:13] nicolargo commented on #1573
You can try wireless_tools

[2019-12-18 07:03] nicolargo opened #1574 "[WEBUI] AMP plugins is not displayed correctly in the Web Interface"
Two issues concerning the display of AMP in Web UI:
* no space arround the number of matching process (2e column)
* \n should be converted to <br/>

In the Curses interface:

![image](https://user-images.githubusercontent.com/776747/71063175-7f0d8b00-216c-11ea-8543-be1db017d114.png)

In the Web UI:

![image](https://user-images.githubusercontent.com/776747/71063204-8e8cd400-216c-11ea-9402-ea15eb34

[2019-12-18 07:04] nicolargo commented on #1565
It also work on my side in the Web UI but with a little issue concerning the display. See  ==> https://github.com/nicolargo/glances/issues/1574

[2019-12-18 12:43] AdrienLemaire commented on #1573
@nicolargo sorry about that, I should have thought about trying that one. wireless_tools installed now, but restarting glances still doesn't bring the wireless section up.

my config has this part:
[code]
As an aparte, the config isn't picked up by glances automatically, so I need to append the command parameter.
I'm using the following command:
[code]
(while we're at updating the documentation, c

[2019-12-18 13:04] nicolargo commented on #1573
Perhaps the Glances package for Arch Linux did not install the Wifi Python lib too...

Try to install it:

    # yay -Ss python-wifi

or via the Pip installer

    # pip install wifi

[2019-12-18 13:13] AdrienLemaire commented on #1573
the aur package python-wifi is orphaned, so I went the pip route
[code]
But I still don't see wifi things after restarting glances and pressing W.
Here's what I have: https://i.imgur.com/tbsdydR.png

Even if it's still not solved yet, thanks for the fast and useful support @nicolargo !

[2019-12-18 13:31] nicolargo commented on #1573
Can you try to start Glances in debug mode -d and pastebin us the content
of the Glances log file.

Le mer. 18 déc. 2019 à 14:13, Adrien Lemaire <notifications@github.com> a
écrit :

[2019-12-18 23:53] AdrienLemaire commented on #1573
[glances-dori.log](https://github.com/nicolargo/glances/files/3981016/glances-dori.log)

@nicolargo looking at the log, I understood that the config file should be at `~/.config/glances/glances.conf`. Now, the config is automatically parsed.

The log regarding wifi is weird:
[code]
First, a warning saying it's not compliant and disabled, then it's loaded, then always returns an empty list.

[2019-12-19 06:01] nicolargo commented on #1573
Oik copy that...

The first log line explains why it did not work.

The WiFi Python lib is not compliant with Python 3. Have a look on this
other issue.

https://github.com/nicolargo/glances/issues/1377

Unfortunately no simple solution to this issue right now...

Le jeu. 19 déc. 2019 à 00:53, Adrien Lemaire <notifications@github.com> a
écrit :

[2019-12-19 13:51] tiagoboldt commented on #1567
A request to `http://0.0.0.0:61208/api/3/all` outputs that html in the cloud attribute. See attached, removed the rest of the json.
[glances.txt](https://github.com/nicolargo/glances/files/3983856/glances.txt)

[2019-12-20 15:04] yarikoptic opened #1575 "log file under public/shared tmp/ folders must not have deterministic name"
#### Description

I had run into elderly https://github.com/nicolargo/glances/issues/474 on an elderly glances (2.1.1) on debian, which brought my attention to this issue.
To the date it seems (according to docs in https://github.com/nicolargo/glances/blob/16a9ce3ad1b0faf91bf791397743e0eac4b38389/docs/config.rst#logging) that

    By default, the glances-USERNAME.log file is under the temporary di

[2019-12-21 13:28] Wibbbs opened #1576 "Install doesnt work on DietPi distro"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

For an enhancement or new feature: Describe your needs.

#### Versions

* Glances & psutil (glance

[2019-12-23 11:56] raqua opened #1577 "Docker reporting significantly different do what docker stats reports"
I am not sure if this is a bug or some other interpretation of the data, but it seems that there are multiple incorrect values regarding my docker containers.
Please see this attached screenshot:
![Screenshot from 2019-12-23 12-31-15](https://user-images.githubusercontent.com/1541886/71356473-a5736200-2582-11ea-9a87-a09a38f49753.jpg)
On top is output of docker stats.

Issues I have noticed:

1. Gl

[2019-12-26 09:16] nicolargo commented on #1575
Thanks for the proposal @yarikoptic

What i understand after reading some threads:
- the target folder for log file should be something like $HOME/.local/state, but for the moment its only a proposal and neither Linux OS implement this feature...
- another candidate is $HOME/.local/share (available thought the $XDG_DATA_HOME environment variable)
- last one is $HOME/.cache ($XDG_CACHE_HOME)

After

[2019-12-26 10:10] nicolargo commented on #1575
Implementation done in the DEVELOP branch (see commit ecb9db9c).
Will be release in Glances 3.1.4.

[2019-12-26 10:14] nicolargo commented on #1576
As said in the manual (https://github.com/nicolargo/glances#source), you should install Python headers for your DietPi distro or use another installation method (see https://github.com/nicolargo/glances#pypi-the-simple-way)...

[2019-12-26 10:14] #1576 closed

[2019-12-27 11:09] orena1 opened #1578 "sort by clicking improvements and bug"
#### Description
I found two issues when I used glances (great app!!!)  on windows and opening the monitor on chrome.
1. Clicking on CPU% will sort the processes by CPU usage, but in most monitoring software another click sort it by reverse (So that the lowest CPU usage will be at the top).
2. Clicking on IOR/s or IOW/s does not sort the processes correctly.

#### Versions

* Glances & psutil (gla

[2019-12-28 09:09] nicolargo commented on #1577
Strange behavor... What is your python Docker lib version ?

On my side:

[code]

[2019-12-28 09:20] nicolargo commented on #1577
1) For the CPU, the grab frequency is configure to 3 seconds in Glances and less than 1 second in docker stats. It can explain the difference. I have a look and i use exactly the same algo to compute the CPU% (see https://github.com/TomasTomecek/sen/blob/master/sen/util.py#L160-L171 and https://github.com/nicolargo/glances/blob/v3.1.3/glances/plugins/glances_docker.py#L301-L304)
2) I have the same

[2019-12-28 09:24] nicolargo commented on #1578
Hi @orena1

1) It is not a bug, it is a feature. Glances layout is made to show relevant information. Who want to see the lowest CPU usage ?).

2) Same issue on Linux OS. The IOR/r and IOR/w sort did not work on the Web UI. @notFloran can you have a look on this issue ?

[2019-12-30 09:07] raqua commented on #1577
My docker lib:
[code]

[2019-12-30 23:43] maxnbk commented on #1528
experienced this issue, patched 3.1.3 (with psutil 5.6.7) with commit and works fine.

[2020-01-02 15:30] bringonblink opened #1579 "Load only displaying 1-core instead of 8"
Just noticed the load plugin is only showing 1 core in stead of 8 (fx8350). Is there someway i can change this back to 8? Had a look in the docs and couldn't find anything

[2020-01-02 15:57] #1579 closed

[2020-01-02 15:57] bringonblink commented on #1579
Installed the version from the site instead of the repos fixed it

[2020-01-02 18:35] notFloran commented on #1567
What the result of http://169.254.169.254/latest/meta-data ?

[2020-01-02 22:09] Quart666 opened #1581 "Cant start glances with glances --export mqtt"
#### Versions

* Glances & psutil (glances -V):
Glances v3.1.3 with psutil v5.6.7

* Operating System (lsb_release -a):
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.3 LTS
Release:        18.04
Codename:       bionic

#### Logs

Get this errors:
Traceback (most recent call last):
  File "/home/kabj/.local/bin/glances", line 11, in <module>
    sys.exit(main())
  File "/home/kabj/.local/lib/p

[2020-01-03 19:26] JakeShirley commented on #1490
Any update on this? I am just trying to start using Glances on Windows and it seems to be dying in a similar fashion.  I don't see the "permissions denied" logging, but this is what my log looks like in debug mode:

[code]

Any ideas?

[2020-01-05 12:52] tiagoboldt commented on #1567
There's nothing there (404). I've obviously replaced that IP address with my own and used the `/latest/meta-data` path.

[2020-01-09 14:57] calegarifabio commented on #1540
if i running glances -w in terminal, the progress bar is ok, but, if i use by systemd (with config User=ubuntu) the same erros above is showing.

[2020-01-11 10:31] nicolargo commented on #1581
Corrected in the latest commit.

As a workaround, please add the following line to the mqtt section of your Glances configuration file:

    tls=false

or true if you use tls

[2020-01-11 10:31] #1581 closed

[2020-01-15 06:36] #1574 closed

[2020-01-15 06:46] #1575 closed

[2020-01-15 07:23] nicolargo commented on #1561
Ok thanks for the feedback @souvikg10

[2020-01-15 07:23] #1561 closed

[2020-01-15 07:25] #1288 closed

[2020-01-15 07:27] nicolargo opened #1582 "[WebUI] Implement HDD S.M.A.R.T. reports"
Issue #1288 implements an HDD SMART report for the terminal UI.

The goal of this issue is to implement the WebUI.

[2020-01-15 07:32] #1547 closed

[2020-01-15 07:37] nicolargo commented on #1531
Some resources for the futur development:
- https://linuxhint.com/libvirt_python/
- https://libvirt.org/docs/libvirt-appdev-guide-python/en-US/html/libvirt_application_development_guide_using_python-Guest_Domains-Monitoring.html

[2020-01-16 10:42] asymmetric commented on #1304
On a machine with 48 cores, the CPU list fits, but the right side is basically all empty. That side of the UI  should be used to display sensor data, which instead is (I imagine) still at the bottom, but invisible.

[2020-01-16 15:28] cesarjorgemartinez opened #1583 "Monitor open files"
#### Description

This utility can monitor open files (in real-time)?

Example open files in the Linux, and open files by existing users.

#### Versions

Nothing

#### Logs

Nothing

[2020-01-20 09:32] nicolargo commented on #1583
Hi @cesarjorgemartinez

you can use [AMP](https://glances.readthedocs.io/en/stable/aoa/amps.html) to do this.

Example to add to your Glances conf file:

[code]
With /path/to/your/script.sh:

[code]

Do not forget to chmod +x /path/to/your/script.sh

[2020-01-21 00:23] philiporlando commented on #1413
I was able to get this working on a Windows machine by changing the `http://0.0.0.0:61209` to `http://localhost:61209`. Let me know if that's working for you!

[2020-01-22 05:52] deepesh-agarwal opened #1584 "Unicode Error"
#### Versions

* Glances & psutil (glances -V): Glances v3.1.3 with psutil v5.6.7
* Operating System (lsb_release -a):  Debian GNU/Linux 8.6 (jessie)
#### Logs
[code]

[2020-01-22 07:09] nicolargo commented on #1584
Can you try to run Glances with the following command line:

[code]

[2020-01-22 12:10] tirkarthi opened #1585 "Threading.isAlive was removed in Python 3.9. Use is_alive."
https://bugzilla.redhat.com/show_bug.cgi?id=1791693

https://github.com/nicolargo/glances/blob/f0e8ef44f20db1d8ae77c179f08ff9325a41f946/glances/plugins/glances_ports.py#L85

Thanks for the library!

[2020-01-22 15:36] deepesh-agarwal commented on #1584
It worked once and then crashed with following:

[2020-01-22 17:29] nicolargo commented on #1585
Corrected by @tirkarthi PR.

Thanks to him.

[2020-01-22 17:29] #1585 closed

[2020-01-26 14:10] oldman20 opened #1587 "Hi, please make version support Kali Linux, sir"
Hello, i interested with glances app, but cant install in Kali, please make support it, thanks!
im not developer, so just request, cant do anything
thanks your attention!

[2020-01-26 18:18] kamelie1706 opened #1588 "NVME temp / sensors"
### Description
Any possibilities to integrate nvme temp in sensors?
I can read the temp using nvme or smartctl ... but both seems needing root.

Maybe this is not an issue and will come out of the box with **kernel 5.5** & hwmon?
https://www.phoronix.com/scan.php?page=news_item&px=Linux-5.5-NVMe-HWMON-Support

Great tool!

#### Versions
LSB Version:    1.4
Distributor ID: Arch
Description:    Arc

[2020-01-27 16:42] aroldo-biz commented on #910
pip install --upgrade pip && yum install glances -y

be happy

[2020-01-28 12:21] deepesh-agarwal commented on #1584
Another server on which glances worked earlier now throws error even with 'LC_ALL="en_US.UTF-8" glances` :

[code]

[2020-01-29 05:30] ChillarAnand opened #1589 "False alarms for Swap usage in Mac"
#### Description

Bug: In the latest Mac OS versions, memory usage changed https://apple.stackexchange.com/a/190935/135247
Because of this, even when there are no memory issues, Glances is showing false alarms for memory usage.

<img width="1370" alt="Screen Shot 2020-01-29 at 10 24 33 AM" src="https://user-images.githubusercontent.com/4463796/73330328-7ee1ce80-4286-11ea-9809-b8ddb22c76eb.png">
<i

[2020-01-29 21:38] dtalens opened #1590 "Hide function in sensors section"
New feature:
Add hide function of some sensors. In the same way that can be done with the hard drive partitions.
For example, in glances.conf in Sensors section:
hide=name_sensor01,name_sensor02...

* Glances v3.1.3 with psutil v5.6.7
* LSB Version:	core-9.20170808ubuntu1-noarch:printing-9.20170808ubuntu1-noarch:security-9.20170808ubuntu1-noarch
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.3 L

[2020-01-29 23:10] marcusnewton commented on #910
@aroldo-biz What yum repo did you use?

[2020-02-02 16:47] intelld opened #1591 "Act on stats"
First of all thanks for a great code!

We'd like to be proactive and act upon the problems rather than just monitor them.
Question/Request:
1. How can we restart the daemon or trigger a shell script once monitored amd daemon is down?
2. How can we trigger a shell script once the monitored port or webserver RTT is long or port/web not available?
In addition, how can we collect port/web/amd stats in

[2020-02-03 19:35] kamelie1706 commented on #1588
Indeed solved with latest kernel in sensors tool!

My sensors output

k10temp-pci-00c3
Adapter: PCI adapter
Tdie:         +28.8°C  (high = +70.0°C)
Tctl:         +28.8°C

asuswmisensors-isa-0000
Adapter: ISA adapter
CPU Core Voltage:          1.27 V
VPP MEM Voltage:           2.52 V
+12V Voltage:             10.08 V
+5V Voltage:               5.12 V
3VSB Voltage:              3.36 V
VBAT Voltage:

[2020-02-03 19:35] #1588 closed

[2020-02-05 02:46] Twofyw commented on #1356
This problem appears again on `Linux 5.5.1-arch1-1`. I'm using `Glances v3.1.3 with psutil v5.7.0`. I've opened a issue at psutil (https://github.com/giampaolo/psutil/issues/1680)

[2020-02-05 08:12] nicolargo commented on #1587
Kali is based on Linux, so it should work.

Try this: https://installlion.com/kali/kali/main/g/glances/install/index.html

[2020-02-05 08:45] nicolargo commented on #1589
Hi @ChillarAnand ,

PsUtil, the system lib behind Glances, uses the following formulas ([read this thread](https://github.com/giampaolo/psutil/issues/1277)):

- for available memory we do what zabbix does (avail (used in Glances) = inactive + free)
- for free memory we do what "free" cmdline utility does (free = free - speculative)

Concerning the swap memory the value is the same that the one rep

[2020-02-05 09:04] nicolargo opened #1592 "Trigger a shell script once the monitored port or webserver RTT is long or port/web not available"
#### Description

How can we trigger a shell script once the monitored port or webserver RTT is long or port/web not available?

[2020-02-05 09:08] nicolargo commented on #1591
Hi @intelld

1. How can we restart the daemon or trigger a shell script once monitored AMD daemon is down ?
It is not possible for the moment. Glances AMD can call a script continuously but not if the daemon is down. This is not the purpose of Glances, have a look on monit (https://www.cyberciti.biz/tips/howto-monitor-and-restart-linux-unix-service.html) to do this kind of thinks.

2. How can we t

[2020-02-05 10:36] nicolargo commented on #1584
I need to identify the plugin. Can you please run Glances in debug mode (-d) and paste-bin us the log file ?

[2020-02-05 14:14] oldman20 commented on #1587
thanks so much!

[2020-02-05 16:38] watsonb opened #1593 "Kafka key name needs to be bytes"
https://github.com/nicolargo/glances/blob/3e5ec443cea6edfd705622b4c90da2783ff8bc35/glances/exports/glances_kafka.py#L88

when running glances as follows:

[code]

I would see errors showing up on the local logs like this:

[code]

I played around with some local python code and kafka-python, and discovered that the `key` argument of the `KafkaProducer.send()` method must be of type byte.

I hacked

[2020-02-05 17:01] rdvrey commented on #1440
I have those options on:
"# CPU/Task time and stats accounting
#
CONFIG_TICK_CPU_ACCOUNTING=y
# CONFIG_VIRT_CPU_ACCOUNTING_GEN is not set
CONFIG_IRQ_TIME_ACCOUNTING=y
CONFIG_HAVE_SCHED_AVG_IRQ=y
CONFIG_BSD_PROCESS_ACCT=y
CONFIG_BSD_PROCESS_ACCT_V3=y
CONFIG_TASKSTATS=y
CONFIG_TASK_DELAY_ACCT=y
CONFIG_TASK_XACCT=y
CONFIG_TASK_IO_ACCOUNTING=y
CONFIG_CPU_ISOLATION=y
#
# RCU Subsystem
#"
and still get

[2020-02-06 13:19] watsonb commented on #1593
I may have come up with a solution a bit premature here.

While the above proposal does work for me on Windows with Python 3, under Linux with Python 2, I get the following error for each attempt to send:

[code]

Apparently the `bytes` built-in in Py2 is essentially the same thing as `str`.  I did come up with a fix that seems to work for me across Windows and Linux, Py2 and Py 3.  Up towards the

[2020-02-06 13:58] watsonb opened #1594 "Feature request: Include hostname in all (e.g. kafka) exports"
#### Description

When running Glances in standalone mode for the sake of exporting stats/metrics to a centralized collector (e.g. Kafka, elasticsearch), I've noticed that each stat "dimension" (e.g. system, uptime, gpu, cpu, docker, mem, etc.) is exported as its own document/message.  This is a great design, however there is no "nice" way to correlate all of these documents/messages to the host f

[2020-02-06 14:19] axelcypher opened #1595 "[Windows 10] can't start glances: failed to create process"
I installed glances via pip on Windows 10. Everytime i want to start glances i get the following:
`failed to create process.`

I'm using Python 3.8.1.

[2020-02-09 17:06] Halfwalker opened #1597 "Would like a way to aggregate disk information into groups"
For a system with many drives, the disk IO list gets kind of long.  It would be nice to be able to aggregate disks and/or partitions into groups and report the stats based on the group.  This would be especially nice for ZFS, so one could see how individual pools are doing, or perhaps the vdevs that make up a pool.

[2020-02-10 19:31] lisrael1 commented on #1551
i had the same problem, and this fix solve it, thanks :-)

[2020-02-11 05:00] mcaden commented on #1479
@rlue Worked like a charm on my rpi 4b 4GB

[2020-02-11 17:14] warsix4 commented on #1350
I would like to know how this is done as well.

[2020-02-11 22:56] simeneriks1 opened #1600 "Glances don't want to run on Crostini (LXC Container, Debian 10, python 3.7.3)"
#### Description
Program refuses to start, after being installed with pip (python3).
I am running a linux container on my chromebook.
On ChromeOS 79, I used Debian Stretch (Debian 9) and it worked fine then. Debian 10 (introduced with new version of chromeos) it fails.

Traceback:
[code]
#### Versions

Glances v3.1.3 with psutil v5.6.7

[code]

[2020-02-12 13:26] watsonb commented on #1594
My hack to achieve this was to modify `glances_kafka.py` as follows:

Near the top of the code (around line 22)

[code]

Modify the export method from this:

[code]

to this:

[code]

There is probably a better and more efficient way to do this as you should only need to get the FQDN one time and make it available to other exporters, alas this serves my purpose for now.

[2020-02-14 04:01] sjclayton opened #1601 "Disk IO stats missing after upgrade to 5.5.x kernel"
#### Description

Disk IO stats are missing since upgrading to kernel 5.5.x, nothing else changed on system prior to noticing this..

Upon load the Disk IO which used to just show up doesn't anymore, I have no special config file set for glances and pressing 'd' to toggle doesn't do anything now.

Nothing relevant appears in glances log file.

#### Versions

* Glances & psutil:
Glances v3.1.3 with

[2020-02-15 12:48] drewwells commented on #1552
still an issue @Lin-Buo-Ren

[2020-02-15 12:53] drewwells commented on #1552
[code]
I still had to do all of these things to start without errors

[2020-02-16 10:35] nicolargo commented on #1595
Please can run Glances in debug mode (option -d) and paste/bin us the content of the log file (https://glances.readthedocs.io/en/stable/config.html#logging).

[2020-02-16 10:38] nicolargo commented on #1597
Hi @Halfwalker ,

is this request for the Disk I/O plugin or for the File Sys plugin ?

[2020-02-16 10:40] nicolargo commented on #1600
Looks like this issue: https://github.com/nicolargo/glances/issues/1489

[2020-02-16 10:44] nicolargo commented on #1601
Hi @sjclayton

can you please copy/paste the result of the following command line:

[code]

Thanks !

[2020-02-16 16:28] Halfwalker commented on #1597
I think the first one to do would be Disk I/O.  That lists every disk and their partitions, so with a lot of disks that can be a long list ...
[Sample disk list](https://ibb.co/j4Gy1bW)
But just being able to group disks and partitions into logical units would be great.

[2020-02-16 20:37] sjclayton commented on #1601
@nicolargo

Here you go

[code]

[2020-02-16 21:31] max-sixty opened #1602 "NameError: name 'logger' is not defined"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

Glances crashes at seemingly random times with:

[code]

If I look at that line of code, it looks like `logger` might not be defined? https://github.com/nicolargo/glances/blob/deve

[2020-02-18 01:40] dvaezazizi opened #1603 "Hide specific sensors"
Is there a way to hide specific [sensors] in the config like we're able to do with [network] & [diskio]?

[2020-02-18 17:24] etacalpha opened #1604 "Incorrect Core count"
#### Description
Core Count for Load is showing 1-core

CPU is a Ryzen 9 with 12 hyper-threaded cores

#### Versions
Glances: v3.1.3 with psutil v5.6.7
OS: Manjaro-KDE
Linux Kernel: 5.4.18

![glances](https://user-images.githubusercontent.com/18453591/74761062-5e83af00-5249-11ea-9f6e-6ff3ae8db398.png)

[2020-02-18 23:14] liquidfrollo opened #1605 "Package influxdb is not installed in standard docker image"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

Bug:
Glances is not outputting data to influxDB.

Glances is showing information without issue and is outputting data via its api without issue however it will not push data into i

[2020-02-19 09:45] nicolargo commented on #1603
Duplicated: https://github.com/nicolargo/glances/issues/1590

[2020-02-19 09:45] #1603 closed

[2020-02-19 10:11] nicolargo commented on #1605
Hi @liquidfrollo ,

for the moment, you can not export when you use the server mode.

See related issue: https://github.com/nicolargo/glances/issues/1527

So to solve your issue:

Change:

`GLANCES_OPT: "-w -d"`

to

GLANCES_OPT: "-q"

Nicolas

[2020-02-19 10:16] nicolargo commented on #1593
Thanks for the patch @watsonb.

Il will include it in the next release.

[2020-02-19 18:30] liquidfrollo commented on #1605
Made the suggested change however data is still not getting passed into influx.  Influx shows no logs of the data and on the flip side glances shows no errors connecting or attempts to send the data with debug or looking at glances-root.log.  So unsure what the deal is!

[2020-02-23 01:45] sjclayton commented on #1601
Appears to be fixed in psutil 5.7.0, closing this.

[2020-02-23 01:45] #1601 closed

[2020-02-23 18:47] dleake14 commented on #1539
This is happening to me as well.

Windows 10 Pro
Python 3.8.1

[2020-02-23 22:23] Inrego opened #1606 "FS filtering can be done on device name"
I'm running glances on docker. I'm mounting /raid because I want to monitor it. But the other 4 entries are quite uninteresting for me.

![image](https://user-images.githubusercontent.com/2242329/75121305-20e0b500-5693-11ea-928b-b1b26c72da9a.png)

I tried meddling with the hide under [fs] in the conf, but to no avail.
I tried the following:

[code]

[2020-02-24 07:34] Massimo-B commented on #1446
On 3.1.3 --sparkline option works, and S option also works, but it is not documented in the manpage or --help. Then there is no way to set that via configuration yet. Do I really need to define an alias?

[2020-02-25 02:41] tiagoboldt commented on #1567
Sorry for dropping the ball on this. `--disable-plugin cloud` does make the html on top of the page to go away.

[2020-02-25 09:47] oneseventhree opened #1607 "Home Assistant not showing Battery %"
Hi,

Is there a way to show Battery percent on Home Assistant?

I can see these sensors but not Battery percent

disk_use_percent: The used disk space in percent.
disk_use: The used disk space.
disk_free: The free disk space.
memory_use_percent: The used memory in percent.
memory_use: The used memory.
memory_free: The free memory.
swap_use_percent: The used swap space in percent.
swap_use: The use

[2020-02-27 12:40] nicolargo commented on #1606
Hi @Inrego ,

for the moment filtering is done on the mount point name.

In your case, you can try this to remove _hostname:

    .*hostname

In the next release, filtering on device name should also be allowed.

[2020-02-27 12:57] nicolargo commented on #1606
Implemented in the DEVELOP branch.

[2020-02-27 13:02] nicolargo commented on #1607
Hi @oneseventhree

Glances uses BatInfo Python lib (https://pypi.org/project/batinfo/) to grab battery information.
Is this lib installed on your system ?

Perhaps, the question should be asked to the Glances home assistant packet manager (open another issue here: https://github.com/home-assistant/home-assistant/tree/dev/homeassistant/components/glances) ?

[2020-02-27 13:06] nicolargo commented on #1605
Can you [pastebin](https://pastebin.com/) us the full log file (in debug mode) ?

[2020-02-27 13:11] nicolargo commented on #1604
Hi @etacalpha

sorry for the delay.

Glances uses the PsUtil lib to grab core number.

Can you please copy paste the result of the following command:

    python -c "import psutil; print(psutil.cpu_count(logical=False)); print(psutil.cpu_count())"

Thanks !

[2020-02-27 13:13] etacalpha commented on #1604
Sure
[code]

[2020-02-27 13:15] nicolargo commented on #1602
Correct !

Thanks @max-sixty it is corrected in the DEVELOP branch.

[2020-02-27 13:15] #1602 closed

[2020-02-27 13:35] nicolargo commented on #1604
Strange...

I just commit a patch with a debug message. Can you test the DEVELOP branch on your system ([see procedure here](https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version)) and run Glancesin debug mode (-d) and finally pastebin us the Glances log file.

Thanks.

[2020-02-27 14:00] nicolargo commented on #1600
Patch implemented in the DEVELOP branch.

Will be release in Glances 3.1.4.

Thanks for the issue report @simeneriks1

[2020-02-27 14:00] #1600 closed

[2020-02-27 14:01] #1606 closed

[2020-02-27 14:03] etacalpha commented on #1604
I will, it will be this evening before I can complete it.

[2020-02-27 14:19] nicolargo commented on #1594
Hi @watsonb

i just commit the feature to add tag to Kafka messages.

Tags can be defined in the Glances' configuration file:

    # Tags will be added for all events
    tags=foo:bar,spam:eggs

or

    # You can also use dynamic values
    tags=hostname:`hostname -f`

The feature is available in the DEVELOP branch and will be release in the next release (Glances 3.1.4).

[2020-02-27 14:19] #1594 closed

[2020-02-27 14:29] nicolargo commented on #1593
Done in the DEVELOP branch.

Thanks again @watsonb

[2020-02-27 14:29] #1593 closed

[2020-02-27 15:17] max-sixty commented on #1602
Thanks @nicolargo !

[2020-02-27 19:55] gromovadarya90 opened #1608 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://is.gd/ms4xm3

[2020-02-27 22:04] renata2216 opened #1609 "WANT TO SEE HOT PICS WITH ME? 💋 💋 💋"
WANT TO SEE HOT PICS WITH ME? 💋 💋 💋
👇 👇 👇

https://clck.ru/MJjwV

[2020-02-27 22:09] #1609 closed

[2020-02-28 05:19] GMishx commented on #1278
Sorry to keep you guys hanging. Just updated the glances to same version on both machines and it started working.

[2020-02-28 05:19] #1278 closed

[2020-02-28 14:49] bradcornford commented on #1375
I've just tackled this myself, using docker compose and nvidia-container-runtime (https://github.com/NVIDIA/nvidia-container-runtime), i used the following:

`
version: "2.3"

services:
  glances:
    image: nicolargo/glances
    container_name: glances
    pid: host
    network_mode: host
    privileged: true
    runtime: nvidia
    environment:
      - GLANCES_OPT=-w -6
      - NVIDIA_VISIBLE_DE

[2020-02-28 16:24] watsonb commented on #1594
Wow, that's really cool.  I like having the ability to do it in the config file.  Thanks!

Question, is this tagging capability unique to the kafka exporter or is it generalized for the other exporters as well?

[2020-02-28 16:41] nicolargo commented on #1594
For the moment only for Kafka and Influxdb. But it will be interesting to have this feature available for all exporter.

[2020-03-02 13:38] spezialist1 opened #1615 "Glances 3.1.3: when no network interface with Public address -- Error while initializing the ip plugin ('NoneType' object has no attribute 'split')"
Hi glances developers,

Under **CentOS-8.1 (4.18.0-147.5.1.el8_1.x86_64)** found a bug in the stable version of **Glances v3.1.3 with psutil v5.7.0**.

The point of the bug: if there is _no network interface with a public IP address_ in the system, i.e. no access to the Internet (any other network interfaces may be present), running glances will cause an error:
`2020-03-02 15:23:38,010 -- INFO --

[2020-03-02 17:34] johnnyutahh opened #1616 "Is there a "manual refresh" curses command?"
Scenario: I want to set a long refresh time (say `-t 10`) and then manually refresh more frequently with a keyboard command. Does such feature exist?

I'm running macOS 10.14.6, Glances v3.1.3 with psutil v5.6.3.

[Standard disclaimer: I `glances` features and concepts hard to uptake and find all in one spot. I hunted around readthedocs, `glances --help`, this github repo for ~20 mins and could no

[2020-03-02 17:37] johnnyutahh opened #1617 "How to hide process-list columns, or at least show only CPU, MEM, and Command?"
Can one hide process-list columns?

I seek to display only `CPU`, `MEM`, and `Command`.

I'm running macOS 10.14.6, Glances v3.1.3 with psutil v5.6.3.

[Standard disclaimer: I glances features and concepts hard to uptake and find all in one spot. I hunted around readthedocs, glances --help, this github repo for ~20 mins and could not find anything describing this.]

[2020-03-02 18:33] imdebating opened #1618 "[diskio] Aliases Display Incorrectly/Not at All, and Glances Throws Error on Exit"
### Description
When using aliases in the [diskio] section of the config file:
[code]
the aliases either:
 A. Do not show at all on a client connecting to the server's daemon
![2020-03-01_13-35-56](https://user-images.githubusercontent.com/13614128/75694549-b0c7c580-5c76-11ea-9477-ce14fffa85ec.png)
B. Show incorrectly and Glances throws an error on exit
![2020-03-02_10-43-13](https://user-images.g

[2020-03-03 20:55] nicolargo commented on #1615
Duplicated issue: https://github.com/nicolargo/glances/issues/1528

Already corrected in the DEVELOP branch.

Will be available in Glances 3.1.4 (soon...)

[2020-03-03 20:55] #1615 closed

[2020-03-03 20:56] nicolargo commented on #1616
Nope for the moment.

Any contributor are welcome.

[2020-03-03 20:58] nicolargo commented on #1617
Duplicated enhancement request: https://github.com/nicolargo/glances/issues/1524

[2020-03-03 20:58] #1617 closed

[2020-03-03 21:12] nicolargo commented on #1618
A first patch correct the display of long alias name: 2c9e80b4

For the other issue (threading exception i can not reproduce). @imdebating can you please tun Glances in debug mode (-d) and pastebin us the result of the log file.

Thanks !

[2020-03-03 21:38] nicolargo commented on #1604
@etacalpha Any update ?

[2020-03-03 22:14] imdebating commented on #1618
Tested and the aliases are displaying properly when run locally on the server. This part of the fix functions as expected
When running from the client machine, I still only see the original names (like picture A in orig post). Perhaps my setup is incorrect: on the client, I do not have a config file, I'm relying on the server to send aliases across. If this isn't correct and I should have the alia

[2020-03-04 00:58] etacalpha commented on #1604
I apologize for taking so long. I am having issues getting the development branch to run. I can't follow the instructions very well as the packages do not exist for arch based distros as well as I am using pyenv-virtualenv. I haven't had a lot of time to work around the above. I have noticed that both TOP and HTOP have the same issue though.

[2020-03-04 07:53] spezialist1 commented on #1615
Ok, thanks for the support :-).

[2020-03-04 12:44] etacalpha commented on #1604
[glances-sbeard.log](https://github.com/nicolargo/glances/files/4287296/glances-sbeard.log)

Still working on getting the development version running.

[2020-03-04 21:30] imdebating commented on #1597
@Halfwalker you can do this easily with the hide list in the config file. You can hide the base disk and/or one or more partitions. I see you use device mapper as well...you could hide all individual disks and just show the main devices dm-0 & dm-1.
My hide list is: `hide=^sd[b-d]$,^sd[f-z]$,sr0,^md0p1,dm-[2345]`
Good luck.

[2020-03-04 21:35] imdebating commented on #1597
Here's a screenshot of it in action:
![](https://user-images.githubusercontent.com/13614128/75694549-b0c7c580-5c76-11ea-9477-ce14fffa85ec.png)

[2020-03-05 11:09] gr01d opened #1619 "Lighttpd Reverse proxy glances web not working"
#### Description
I am trying to create a reverse host for glances, so I can access my glances with http://mydomain.ddns.net/monitor

But I am greeted with 404 not found.

Running glances web ui with this command:
`$ glances -w -B 127.0.0.1`

My lighttpd config file has this:
[code]

For an enhancement or new feature: Describe your needs.

#### Versions

* Glances & psutil (glances -V):
* Operating

[2020-03-05 21:57] bartlomiejcieszkowski opened #1620 "Timezone used for display is always summer time"
#### Description

Timezone used for display is always summer time

#### Versions

* Glances & psutil (glances -V): Glances v3.1.3 with psutil v5.6.7
* Operating System (lsb_release -a):
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 18.04.3 LTS
Release:        18.04
Codename:       bionic

#### Logs

N/A

[2020-03-05 22:01] bartlomiejcieszkowski commented on #1620
This one i found when trying to get around issue with too long timezone on windows
tzname[1] was always used, which is okay for half of a year :)

Linux output:
Python 3.7.3 (default, Mar 27 2019, 22:11:17)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

('CET', 'CEST')

Windows output:
Python 3.7.4 (tags/v3.7.4:e09359112e, Jul  8 2019

[2020-03-06 15:46] Salah-Akil commented on #1087
If you installed glances with pip, just uninstall it and install it again with apt. This solved it for me.
[code]

[2020-03-07 22:36] Dibbyo456 commented on #1617
+1, glances show tons of useless things for me, I just only wants to seek, CPU, MEM, USER, COMMAND.

[2020-03-09 15:47] 123dev commented on #1427
@saitoh183
Re: Host, interface and disk being empty
Those are grafana dashboard variables.
While in Dashboard click on the gear and the select variables.

If your influxdb name is glances (lowercase) and it's being populated properly
then the default variables should work, otherwise adjust the db name accordingly.

Another thing you have to make sure is to set `prefix=localhost` in glances.conf fo

[2020-03-10 07:20] Midnex commented on #1539
Having the exact same issue

Windows 10 pro 1809
Python 3.6.4
Glances v3.1.3 with psutil v5.7.0

Starts, then stops right away.

Not install Ubuntu WSL, I can run it just fine.

[2020-03-10 14:58] quietsoviet opened #1622 "Windows 10 [OSError: [WinError 998] Invalid access to memory location]"
Hi i am sorry is this was solved but i did not find and cant find help for it.

#### Description

After installing python and using pip install glances i constantly get this error "OSError: [WinError 998] Invalid access to memory location"

#### Versions

Glances v3.1.3 with psutil v5.7.0
Windows 10.0.18363.0

#### Logs
This is from PowerShell when run "glances -d"
Traceback (most recent call last

[2020-03-10 20:15] nicolargo commented on #1619
Please have a look to this Wiki page: https://github.com/nicolargo/glances/wiki/Reverse-proxy-to-the-Glances-Web-UI

[2020-03-10 20:18] #1620 closed

[2020-03-10 20:22] nicolargo commented on #1622
@quietsoviet Thanks for the issue report.

Can you try to run Glances as administrator and check if the issue happens.

[2020-03-10 20:29] nicolargo commented on #1604
It is more an operating system issue than a Glances issue...

The system return 1 when Glances ask for core number.

Any chance to upgrade the OS Kernel ?

[2020-03-10 23:31] quietsoviet commented on #1622
It was all run as administrator i tried to run it powershell without admin privileges and funny thing happened...it run normally. So with admin rights it tell that error, without admin it just run.
Here is log first one is run without admin rights, and second one is run with admin right. I did it if it will help you in any way. Thanks nonetheless
[glances-matija.log](https://github.com/nicolargo/g

[2020-03-11 10:40] dtalens opened #1623 "Error updating or installing new version 3.1.4 from version 3.1.3"
Error updating or installing new version 3.1.4 from version 3.1.3
[code]

#### Versions

Glances v3.1.3 with psutil v5.6.7
LSB Version: core-9.20170808ubuntu1-noarch:printing-9.20170808ubuntu1-noarch:security-9.20170808ubuntu1-noarch
Distributor ID: Ubuntu
Description: Ubuntu 18.04.3 LTS
Release: 18.04
Codename: bionic

[2020-03-11 10:41] #1623 closed

[2020-03-12 09:44] ssbarnea commented on #1531
I hope to see some progress on this as this is an essential bit needed in order to get an idea about what happens on the system.

[2020-03-13 11:24] gr01d commented on #1619
I forgot to mention that I am using lighttpd web server

[2020-03-15 00:14] ciechompl opened #1624 "Glances on Synology DSM6.2.2"
#### Description
I'm trying to install (get working) glances on Synology NAS with DSM6.2.2
I tried to install in native system and also in opt env.
In both cases the same result -> glances do not start and I only getting error as presented below.

[code]

the most funny thing is that yesterday everything worked fine .. today simply stopped and I'm almost sure that I have not made any changes in th

[2020-03-15 20:43] skynet01 commented on #1607
I second this request for glances battery monitoring. It shows up in glances but i can't pull it into HA. This issue should be moved to glances integration and renamed :)

[2020-03-15 23:02] tiagoboldt commented on #1567
@notFloran @nicolargo let me know if I need to try anything else on my side.

[2020-03-17 05:48] palitu opened #1625 "what Dynamic fields are available"
This is not a bug, but i cannot find any information about it.

i am trying to find a list of dynamic fields that i can use.  i am configuring the influxDB export and want to attach extra info into the data.

cheers

[2020-03-21 13:14] nicolargo commented on #1625
Every Linux command line....

Just use the following configuration to the influxdb export section:

[code]

[2020-03-21 13:14] #1625 closed

[2020-03-22 13:03] l0f4r0 opened #1626 "PPID not displayed?"
Hi,

It appears that PPID are not displayed within glances.
I don't know if my version is to be blamed or because I don't use the correct command but the help menu doesn't mention any shortcut to display that information.

If my issue is correct, can you consider this suggestion please?
Thank you in advance for your feedback :)

[code]

[2020-03-22 18:13] Simonv92 opened #1627 "Hassio on Virtual Machine CPU Temp"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

I'm running Hassio on a Debian VM, there's a way to show up the cpu temp?

#### Versions

* Glances & psutil (glances -V): 3
* Operating System (lsb_release -a):

#### Logs

You ca

[2020-03-23 15:31] nicolargo commented on #1626
Hi,

for the moment, PPID is not displayed in the process list.
I plan to make the list configurable in the future Glances 4.0 (see https://github.com/nicolargo/glances/issues/1524).
So i add your feature request to the roadmap.

Nicolas

[2020-03-23 15:36] nicolargo commented on #1627
What is you Glances version and PsUtil version ?

CPU temperature is only available with PsUtil 5.1 or higher and your OS should be supported.

Please run Glances in debug mode (-d) and copy paste the log file.

[2020-03-23 19:22] jdrch commented on #1444
+1000 on this. I often have to `Esc` from `glances`, `# killall RogueProcess`, and then `# glances` again. Rather inconvenient.

[2020-03-24 06:19] gr01d commented on #1619
Giving up, now using nginx. Problem could be related to HTTP 1.0 in lighttpd

[2020-03-24 06:19] #1619 closed

[2020-03-25 10:06] Simonv92 commented on #1627
Thank you for your reply,
I'm trying to install PsUtil but I cannot do that.. I'm using Debian 10.
I run all the command for the installation but when I test it with
`python3 -m psutil.tests`
it reports some errors...

[2020-03-25 13:47] Jerry-Ma opened #1628 "[WEBUI] UI short process name with argument"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

It appears that for the web UI, the process argument does not display by default.

#### Feature Request

It would be great if we have either of the two:

* Add a command line optio

[2020-03-25 18:52] veox commented on #1604
I've been getting the same for a while now, also on Arch Linux.

I'm on the 5.5.x kernel branch (v5.5.10 ATM), and it has the same behaviour.

However, checking out `develop` (at 6f284cc97aa40d080976d0f43a918680574178cf) and running that does not show the bug.

[2020-03-25 19:12] veox commented on #1604
OK, so I've checked out locally v3.1.3 (same as in [latest Arch package](https://www.archlinux.org/packages/community/any/glances/) ATM), and the issue is there.

I've then checked out v3.1.4.1 (recommended as latest stable), and the issue is not there.

IMO this can be closed as "not present in current stable or development".

[2020-03-27 04:38] victorromeo commented on #1501
Doesn't work on 18.04 LTS

[2020-03-27 11:02] gnana03 commented on #1266
@attzonko  can u pls let me know how u have added --security-opt apparmor=unconfined' to your docker command line ? i am very new to docker and all these.
Thanks in advance!

[2020-03-27 16:15] senorsmile opened #1630 "diskio hide snaps"
#### Description

I don't seem to be able to hide the following:
[code]

I have tried many different regex, all to no avail:
[code]

#### Versions

* Glances & psutil (glances -V): Glances v3.1.4 with PsUtil v5.7.0

* Operating System (lsb_release -a):
[code]

[2020-03-27 16:16] #1630 closed

[2020-03-27 16:16] senorsmile commented on #1630
These are file systems, not diskio!

[2020-03-28 18:10] attzonko commented on #1266
@gnana03 Here is the command line I use for my container:
[code]

[2020-04-04 09:01] l0f4r0 commented on #1484
Indeed, such a feature would be nice.
I second this, thanks :)

[2020-04-04 09:10] l0f4r0 opened #1631 "Filter editing in normal mode, not replace mode"
Hi,

Currently, filter editing (via ENTER key) is dealt with in replace mode (new key presses in the middle of the existing filter text replace the latter).
I find that not always very handy. For example, in case of a missing letter, we need to rewrite everything after that letter.
Could it be switched to normal mode? Or better, leave the choice to the user in a configuration file?

Thanks in adva

[2020-04-04 09:15] l0f4r0 opened #1632 "Scroll down the process list"
Hi,

If I'm right, the interface is designed to have everything in one screen only.
I'm sure it applies for peripheral information (CPU, MEM, I/O, SENSORS...) but I have a doubt regarding the process list...
Is there really no way to scroll down the process list?

I'm using Glances v3.1.0 with psutil v5.5.1 on Debian 10.

Thank you in advance :)

[2020-04-04 13:11] iBelow opened #1633 "UnicodeDecodeError on fresh install (Debian 10)"
[code]

after installing on clear debian

[code]

[2020-04-06 11:00] jrinkinen opened #1634 "Fix gpu plugin to handle multiple gpus with different reporting capabilities"
#### Description

Bug: Computers with multiple Nvidia GPUs may have different level of compute capability and ability to report GPU % and GPU mem % utilization rates. For example GTX 780 with compute capability 3.5 is not able to provide those measurements while RTX 2080 Ti can provide measurements.

Fix is provided as follows for python 3 against Glances version 3.1.5:
[code]

#### Versions

* Gl

[2020-04-09 06:25] cclauss opened #1635 "Undefined name 'i' in plugins/glances_gpu.py"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

[flake8](http://flake8.pycqa.org) testing of https://github.com/nicolargo/glances on Python 3.8.1

[2020-04-10 17:56] gshlomi opened #1637 "[Feature Request]"
Hi.
I'm running Glances as a docker container on an UNRAID server, with lots of different containers running with various network configurations.
The virtual network adapters the containers has are not mapping to the container names:
https://imgur.com/a/sKyBGcQ
I've found the following script that can map the veth to the container:
https://github.com/micahculpepper/dockerveth
Is it possible to int

[2020-04-11 00:16] perfecto25 opened #1638 "Glances to Elastic 7.6 broken"
#### Description

trying to export glances to Elastic

#### Versions
Glances v3.1.4.1 with PsUtil v5.7.0
CentOS Linux release 7.7.1908 (Core)

python 2.7.5

[code]

[2020-04-11 06:48] stephdl commented on #1356
I am back, disk IO doesn't work anymore on fedora31

[code]
some ideas ?

[2020-04-14 09:11] TsingJyujing opened #1639 "Docker container's used memory not correct"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

I created a container to run MongoDB, and the memory is 9.7GB by using `docker stats` and the glances show it's 28GB.

#### Versions

* Glances & psutil (glances -V):Glances v3.1.4

[2020-04-15 21:17] UmbralSamurai opened #1640 "View by CPU is only showing 6 of 12 cores"
I just installed a new server with 12 cores, however, Glances is only showing 6 of the 12 cores, is this because it's a Xeon that 6 core with 12 Threads, or is there some setting I'm missing?

#### Versions

* Glances & psutil (glances -V): Glances v3.1.4.1 with PsUtil v5.6.2
* Operating System (lsb_release -a): Debian 10

Thanks as always for this awesome software!

[2020-04-16 11:55] sudface opened #1641 "Glances on Windows 10 keeps crashing"
# Glances keeps silently crashing.
All requirements are satisfied, Python and PyPI are up-to-date. Attached is a screen-capture video of the issue, and the log file. *glances --help* however does run properly and produces desirable output.

---

System Info:
Windows 10v1809 (Build 17763.1158)
Python v3.7.2
pip v20.0.2
Glances v3.1.4.1 with PsUtil v5.7.0
Bottle v0.12.18
windows-curses v2.1.0

---

[2020-04-17 11:44] Abbadon89 commented on #1641
+1
`PS C:\Users\Abbadon\AppData\Local\Programs\Python\Python38-32> glances -w -d
Glances Web User Interface started on http://0.0.0.0:61208/
Bottle v0.12.18 server starting up (using WSGIRefServer())...
Listening on http://0.0.0.0:61208/
Hit Ctrl-C to quit.

PS C:\Users\Abbadon\AppData\Local\Programs\Python\Python38-32>`

I can access page for like 1 sec and then goes offline.
log: https://pastebi

[2020-04-17 18:03] steakhutzeee opened #1642 "Question about using Grafana and Glances"
Hi, i'm using the latest image of Glances, from Docker Hub.

I'm using it with Grafana with `- GLANCES_OPT= --quiet --export influxdb`

I know that the export does not work with the `-w` parameter. Point is i tried with `-c` but had issues and an error stating i could not use them together and/or some python errors i do not remember, so here i read that i should have used --quiet.

Of course now i

[2020-04-18 05:01] jonesaaronj opened #1643 "Add lighttpd reverse proxy config to the wiki"
How about adding the reverse proxy config for lighttpd.  It took me some time to figure it out and thought others might want it too.

[code]

[2020-04-18 09:52] steerio opened #1644 "Filter editing in tmux: no cursor, no backspace"
Hi,

I noticed the following problems when editing the filter (after pressing Enter on the main screen) when I'm running glances in tmux (TERM=screen-256color):

- There is no cursor displayed.
- Backspace doesn't work (neither does ^H or ^? or the Delete key).
- I can move the invisible cursor with the cursor Left and Right keys, and even using ^A or ^E. Editing is indeed in replace mode only (I

[2020-04-19 11:45] ychaouche opened #1645 "Glances shows commands named "4", "2", "1" and "0""
#### Description
See screenshot : https://i.imgur.com/9kIbVEq.png
There are commands named 4, 2, 1 and 0.

#### Versions
[code]
#### Logs
No logs configured (see output of glances -V)

[2020-04-19 12:51] conceptroot commented on #1605
thx, it works. But processor usage is huge.

[2020-04-21 22:05] fuzxxl opened #1646 "Glances should not phone home"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

When I run glances on my system (installed through the system's package management), it reports that a newer version is available.  This kind of “phone home” behaviour is uncalled

[2020-04-22 07:36] tdmsoares opened #1647 "No Sensor information"
I just installed Glances and I notice that sensors information (temperature, battery, fan) are missing.

Notes

I tried with python3, the codes

psutil.sensors_battery(       psutil.sensors_fans(          psutil.sensors_temperatures(

sbattery(percent=99.90471653168176, secsleft=<BatteryTime.POWER_TIME_UNLIMITED: -2>, power_plugged=True)

{'dell_smm': [sfan(label='Processor Fan', current=2200), sf

[2020-04-22 13:22] tdmsoares commented on #1647
Sorry guys...
I found the reason: It's lack of space in screen. Hiding some information (Disks and Folders) and the sensors display appears.

Now, a question: Is there any way the sensors not be hidden even in different screens?

[2020-04-24 13:07] github12101 opened #1648 "traps: glances[29577] general protection ip:596617 sp:7ffc0d272a00 error:0 in python3.7[421000+234000]"
#### Description

glances stopped, error found later in dmesg log.

#### Versions

Glances v3.1.4.1 with PsUtil v5.7.0

No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 10 (buster)
Release:	10
Codename:	buster

#### Logs

traps: glances[29577] general protection ip:596617 sp:7ffc0d272a00 error:0 in python3.7[421000+234000]

[2020-04-24 13:08] pioruns commented on #1648
I will not re-run glances with -d option and try to catch more info.

[2020-04-24 15:24] RienduPre opened #1649 "Cannot start Glances service on RPI"
Hi,

I installed glances on my Raspbery Pi's in the folder:/home/pi/glances

I can start glances from the command line by ./home/pi/glances/bin/glances or go to the folder and start it from there by ./glances

When I try to start it as a service it won't work
glances.service is like this

`
[Unit]
Description=Glances
After=network.target

[Service]
ExecStart=/home/pi/glances/bin/glances -w
Restart

[2020-04-25 06:54] nekojet commented on #1087
I just installed Glances on Ubuntu 20.04 LTS on my ThinkPad using:

[code]

Here's my version info:

[code]

By default, Glances did not display the SENSORS section, but the following command worked:

[code]
With confirmation that I had sensors configured correctly and that Glances could see them, I edited /etc/glances/glances.conf to enable the plugin:

[code]
Now Glances shows my sensors informa

[2020-04-25 07:21] bentolor opened #1650 "Asymetric, cluttered configuration: Some options only accessible via CLI or keyboard or config file"
#### Description

I stumble over the asymmetric configuration in some places.

**My core goal: Just run a `sudo glances` and have my view running as I expected.**
This is inhibited by a set of issues:

* Process List → Short names **is only accessible via keyboard `/`**
* Plugin _Sensors_ can be enabled via config file `disable=False` in section `[sensors]`, but setting the proposed `disable=False

[2020-04-25 21:01] Weckerlin opened #1651 "Error launching Glances as a Windows 10 service"
I installed Glances through pip install Glances
I can start it by powershell with the command glances -w
It works perfectly by returning the message:
Glances Web User Interface started on http://0.0.0.0:61208/

Log:
[glances-sunty.log](https://github.com/nicolargo/glances/files/4533998/glances-sunty.log)

So I installed NSSM and put:

Path: C:\Python\python.exe
Startup directory: C:\Python
Argumen

[2020-04-25 22:34] mitchejj commented on #1646
https://glances.readthedocs.io/en/stable/config.html#syntax

      [global]
      # Does Glances should check if a newer version is available on  PyPI?
      check_update=true

[2020-04-25 22:46] fuzxxl commented on #1646
I am aware of that.  The default is for this to be set, so glances phones home by default.  Without obtaining the user's consent first.  This is not something software should ever do.  Get consent first!

[2020-04-26 03:55] appositeit commented on #1176
I just had this error (April 2020) and it was because my DNS resolution was broken. As soon as DNS resolved, glances worked fine.

btw- great program! I really like it. I've been using "top" forever and I've wholesale switched. Thank you for all your work!

[2020-04-26 12:34] nicolargo commented on #1628
@notFloran Can you please tweak the UI to display long process name as default behavor ?

Thanks.

[2020-04-26 12:40] nicolargo commented on #1635
Thanks for the issue report.

Correction done through the commit b2c40e89 in the DEVELOP branch.

[2020-04-26 12:40] #1635 closed

[2020-04-26 12:45] nicolargo commented on #1638
Hi @perfecto25 ,

What is your ELK Python lib version ?

    # pip show elasticsearch

Did you try to upgrade your ElasticSearch Python lib ?

    # pip install --upgrade elasticsearch

Nicolas

[2020-04-26 12:50] nicolargo commented on #1639
Strange,

not reproduced on my side:

![Selection_046](https://user-images.githubusercontent.com/776747/80308049-147cf380-87cd-11ea-8bb6-a9fc36fa3bf4.jpg)

I use Docker lib version 4.1.° (pip show docker) to grab the stats. What is your version ?

[2020-04-26 13:00] nicolargo commented on #1640
Glances uses the PsUtil lib to grab this information.
It use https://psutil.readthedocs.io/en/latest/#psutil.cpu_times

This function "a list of named tuples for each logical CPU on the system".  Logical cores means the number of physical cores multiplied by the number of threads that can run on each core (this is known as Hyper Threading).

I just update the documentation (see commit b573712f in

[2020-04-26 13:00] #1640 closed

[2020-04-26 13:04] nicolargo commented on #1641
Can you try with the latest Glances version (3.1.4). The Curses interface is back.

[2020-04-26 13:07] nicolargo commented on #1642
Hi @steakhutzeee !

For the moment, it is not possible to have one Glances to export and serve. A request already exist (see https://github.com/nicolargo/glances/issues/1527).

So the only workaround is to run Glances twice. One to export and one to serve.

Nicolas

[2020-04-26 13:07] #1642 closed

[2020-04-26 13:10] nicolargo commented on #1643
Thanks @jonesaaronj

Just add it to the Wiki: https://github.com/nicolargo/glances/wiki/Reverse-proxy-to-the-Glances-Web-UI#lighttpd

Nicolas

[2020-04-26 13:10] #1643 closed

[2020-04-26 13:56] nicolargo commented on #1644
Hi @steerio

thanks for the proposal.

For the moment, Glances uses a standard Textbox widget from the Python Curses lib. This widget implement the Emacs-like key bindings:

[code]

It will be a mess to change this...

I let the issue open if a kindly contributor wants to work on a PR.

Nicolas

[2020-04-26 13:58] nicolargo commented on #1645
I am not 100% sure but i think that this issue is already solved in  latest release?

Can you try the latest Glances version (3.1.4 ?).

Thanks

[2020-04-26 14:03] nicolargo commented on #1646
@fuzxxl I just disable by default the check_update on the master branch (the one used by packager to build Glances for OS). But i let it on the DEVELOP branch, because version can be unstable.

[2020-04-26 14:07] nicolargo commented on #1647
@tdmsoares not for the moment, perhaps disable others unnecessary plugins from the left columns or tweaks its to not display all the information (using hide configuration key in the Glances configuration file).

[2020-04-26 14:07] #1647 closed

[2020-04-26 14:10] fuzxxl commented on #1646
Fair enough.  Thanks a lot!

[2020-04-26 14:10] #1646 closed

[2020-04-26 14:10] nicolargo commented on #1648
Did you install Glances from pip ?

If yes try to upgrade all the deps (see https://github.com/nicolargo/glances/blob/develop/optional-requirements.txt)...

[2020-04-26 14:20] nicolargo commented on #1649
Hi @RienduPre

some questions:
1) what is your Glances version ?
2) what happen when you start Glances in Web server mode from the command line ?

    /home/pi/glances/bin/glances -w

3) Is there any /tmp/glances*.log file ?

Thanks !

[2020-04-26 14:32] nicolargo commented on #1650
Hi @bentolor,

Process List → Short names is only accessible via keyboard /
==> You can also start Glances with the --process-short-name CLI argument.

Plugin Sensors can be enabled via config file disable=False in section [sensors], but setting the proposed disable=False in the [irq] section has not effect and requires either pressing Q or passing a CLI argument`.
==> This is an issue... IRQ is d

[2020-04-26 14:37] nicolargo commented on #1650
IRQ plugins error corrected in commit 924864f9 in the DEVELOP branch.

[2020-04-26 14:41] nicolargo commented on #1651
Hi @Weckerlin ,

can you try to run Glances with the --disable-plugin docker CLI option ?

Nicolas

[2020-04-26 15:06] nicolargo commented on #1632
Under this feature, the following sub-tasks should be developed:
- display process-list by "page" Start with page 1/x. n processes by page (dynamic). The https://github.com/nicolargo/glances/blob/develop/conf/glances.conf#L19-L20 should be deprecated.
- within a "page", the UP and DOWN key will allow user to navigate through the processes. ENTER to display EXTENDED information. K (or another one)

[2020-04-26 15:25] pioruns commented on #1648
I installed glances via curl script provided on the website.
Now I am running it via glances command from normal user.

Now, I upgraded all packages using pip install -U (I've made a script to go through each package to upgrade it).

My package versions from the list you sent me:

[code]

I had to manually install pySMART.smartx and sparklines, despite using curl script they were not installed.
No

[2020-04-26 17:42] perfecto25 commented on #1638
[code]

[code]

Looks like export Elasticsearch is not an option,

[code]

[2020-04-26 17:47] perfecto25 commented on #1638
I think I see the issue,

I inititally installed Glances via RPM which was version glances-2.5.1-1.el7.noarch

I removed rpm, installed via pip, and version is now Glances v3.1.4.1 with PsUtil v5.6.7

Now its exporting to elastic

[2020-04-26 17:47] #1638 closed

[2020-04-27 01:59] sudface commented on #1641
I am on the latest version according to pip, which is 3.1.4.1 like you said

[2020-04-27 03:52] TsingJyujing commented on #1639
[code]

<img width="1677" alt="image" src="https://user-images.githubusercontent.com/7792749/80332458-dd1e4d80-8885-11ea-889a-2b369c015074.png">

[2020-04-27 14:03] mariusud opened #1652 "RuntimeWarning: ignoring FileNotFoundError"
#### Description
RuntimeWarning keeps on popping up so the UI moves and is unreadable. Have tried reinstalling, same error.
#### Versions
kernel 5.3.0-46-generic
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.4 LTS
Release:	18.04
Codename:	bionic
Glances v2.11.1 with psutil v5.4.2:

#### Logs

`/usr/lib/python3/dist-packages/psutil/_pslinux.py:1150: RuntimeWarning: ignoring FileNotFoundError(2,

[2020-04-27 17:34] bentolor commented on #1650
Thanks for your feedback, @nicolargo

I was not aware of #1432, but I'm glad that you already identified this topic and even already got a place on the roadmap.

I guess the nature of my question indicated, that I've rather limited Python skills, what's why I wondered about the Python-idiomatic way to handle CLI and config params. So I guess I won't be the first to step in.

Regarding your fix in

[2020-04-28 00:19] delfick opened #1653 "curses error init_pair() returned ERR"
Hello,

When I start glances I get the following errors
![image](https://user-images.githubusercontent.com/109301/80432793-93426f80-8938-11ea-8332-02e08956c0e4.png)

#### Versions
* Glances - Glances v3.1.4.1 with PsUtil v5.7.0
* OS - macOS Catalina - 10.15.4
* TERM=screen-256color
* terminal - iTerm2
* tmux - 3.1 (though this happens outside tmux too)

#### Logs

[code]

[2020-04-28 18:51] veox commented on #1604
Glances v3.1.4.1 package is [now in ArchLinux](https://www.archlinux.org/packages/community/any/glances/).

The issue, as expected, is gone.

([Not yet in Manjaro](https://discover.manjaro.org/packages/glances), though.)

@nicolargo - there is no actionable here, it's up to distro packagers to update.

[2020-04-29 07:32] nicolargo commented on #1604
Thanks for the feedback @veox

[2020-04-29 07:33] nicolargo commented on #1604
Corrected in version 3.1.4.1 or higher.

[2020-04-29 07:33] #1604 closed

[2020-04-29 07:34] nicolargo commented on #1652
Please upgrade your Glances version.

This issue is already corrected.

[2020-04-29 07:34] #1652 closed

[2020-05-02 18:22] gyakovlev opened #1654 "tests using /etc/glances/glances.conf from already installed version"
#### Description

test_001_plugins fails like this :
[code]

it happens if one has 3.1.4+ version installed which provides `/etc/glances/glances.conf` with
[code]
irq plugin is listed as mandatory in test_001_plugins yet is not loaded during the test because host configuration leaks to the copy being tested/installed and the plugin gets disabled, yet checked for.

#### Versions

* Glances & psutil

[2020-05-03 23:05] Dmole commented on #1649
@RienduPre glances is to heavy for the rpi anyway (because it's python).
Make a rust clone, or use an alternative (screen splitting with iotop/top/iftop)

[2020-05-04 13:56] RienduPre commented on #1649
Ok,
I decided to loop for other options.

Thank you

[2020-05-08 14:05] redfirebrooks opened #1656 "Installation not working on a raspberry"
it is not working on a rpi with pip install --user glances
WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.
Looking in indexes: https://pypi.org/simple, https://www.

[2020-05-08 16:44] #1656 closed

[2020-05-10 12:45] nicolargo commented on #1653
Hi @delfick

Can not reproduce on my side:

Both following commands works:

    $ TERM=screen-256color glances --theme-white
    $ TERM=screen-256color glances

Do you try it on another terminal ?

[2020-05-10 12:53] delfick commented on #1653
hmm, interesting. I created a guest user and logged into that. glances works on that user.

[2020-05-10 13:14] nicolargo commented on #1654
Corrected on the DEVELOP branch.

Thanks !

[2020-05-10 13:14] #1654 closed

[2020-05-10 13:16] nicolargo commented on #1653
Strange... something wrong with your "real" user environement ?

[2020-05-10 13:17] #1649 closed

[2020-05-10 13:17] delfick commented on #1653
One would assume so.

I'll close this issue and try and figure out what's wrong another day. I'll revive this if I can't figure it out when I have a chance to have a look.

[2020-05-10 13:17] #1653 closed

[2020-05-10 13:24] nicolargo commented on #1633
Can your try this ?

    LANG=en_US.UTF-8 LC_ALL= glances

[2020-05-10 13:24] nicolargo commented on #1653
Ok !

Thanks.

[2020-05-12 06:33] iBelow commented on #1633
Yeah, it's work, but
if I change the size of the terminal, then everything breaks. but nonetheless it works if you immediately set the size of the terminal to fit -

[2020-05-12 11:05] Baloneo opened #1657 "How to start glances with --username option on syetemd?"
This is my service config
[code]
I want to start the web server, and limit user to access my glances web server.

[2020-05-12 14:11] HLFH opened #1658 "Bug: [fs] plugin needs to reflect user disk space usage"
#### Bug description

[python-pystache](https://aur.archlinux.org/packages/python-pystache/) is required for the mustache templating.
When I start glances with 2 mins refresh time, I want to execute an action that alerts me when my disk usage is above 90%.
What I see is if I use the "%" character, everything breaks with error **AttributeError: 'NoneType' object has no attribute 'get_stats_display'

[2020-05-12 16:33] nicolargo commented on #1657
Hi @Baloneo

as said in the documentation (https://glances.readthedocs.io/en/stable/quickstart.html), you have to start Glances once from the command line with:

    glances -w --password

If will ask you a password for the default glances user.

![Screenshot from 2020-05-12 18-29-25](https://user-images.githubusercontent.com/776747/81720396-a566f680-947e-11ea-9345-be05c376bf29.png)

Next  time yo

[2020-05-12 16:45] nicolargo commented on #1657
Documentation updated.