[2017-02-28 20:14] nicolargo commented on #1041
Hi @Nesousx ,

Glances 2.5 or higher already display the network stat( Rx/s and Tx/s): http://glances.readthedocs.io/en/stable/aoa/docker.html

Do you need additional information ?

[2017-02-28 20:18] Nesousx commented on #1041
Salut Nicolas,

Sauf erreur de ma part, impossible de voir l'interface de l'hôte dans le container. Je vois uniquement celle de docker propre au container. Du coup, c'est pas très utile...

Le 28 février 2017 21:14:48 GMT+01:00, Nicolas Hennion <notifications@github.com> a écrit :

[2017-02-28 20:43] nicolargo commented on #1041
I understand... but i am not realy sure that this information is available inside the container...

[2017-02-28 20:46] Nesousx commented on #1041
For the filesystems, it was more or less the same issue. I couldn't see them inside the container unless I mounted a folder a folder from that said filesystem inside the container.

Now, I am wondering if something similar can be done with the interface. I'll keep looking and let you know if I find anything. Maybe in the meantime we can leave this "issue" open and see if someone has a fix.

Thanks

[2017-02-28 20:48] nicolargo commented on #1041
Ok if another "Glances inside Docker" user have the information please let us known...

[2017-02-28 21:05] nicolargo commented on #1029
@angelopoerio Done for the instance-id and instance-type, can you test it ?

For the additional information hosted in the cloud-init.log file it is better to display it through the AMP plugin. For example, just add the following section inside your Glances configuration file:

    [amp_cloudinit]
    enable=true
    regex=.*init.*
    refresh=60
    one_line=false
    command=cat /var/log/cloud-in

[2017-02-28 21:06] nicolargo commented on #1029
Hi @notFloran can you add this new plugin to the Web UI ?

[2017-03-01 09:08] lgromb opened #1042 "Odd behavior running Glances behind Nginx reverse proxy with nginx listening on non standard port"
Hi,

Glances is running quite well on the box I want to monitor, but nginx seems to have some kind of problem rewriting the URLs for Chrome to understand it correctly.

My setup is as follows : Nginx is locally listening on port 2443, and sslh is redirecting 443 requests to nginx when it's called from a web browser, and to port 22 when it's from an ssh connection.

Sometimes, when I tinker too muc

[2017-03-01 09:14] lgromb commented on #1042
Okay a little mort search from myself has been helpful.

To avoid this kind of behavior you should add

`port_in_redirect off;`

to the server block, and that's enough ! FYI.

[2017-03-01 14:21] tidusjar commented on #997
It has started crashing again. I'll see if I can update the logs tonight

[2017-03-01 15:57] angelopoerio commented on #1029
Hi @nicolargo ,
it works well:
![glances_r](https://cloud.githubusercontent.com/assets/350096/23468061/12954194-fea0-11e6-91b5-ac68385ea214.png).
Just add "requests==2.13.0" in requirements.txt.

Note: I tested it with python3.3

[2017-03-02 20:05] nicolargo commented on #1029
b'foo' to foo corrected in the HEAD of the DEVELOP branch.

Add the requests as an optional pre-requirement:

    pip install glances[cloud]

@angelopoerio  a last test ?

[2017-03-02 20:11] nicolargo commented on #1042
@lgromb Wiki updated: https://github.com/nicolargo/glances/wiki/Reverse-proxy-to-the-Glances-Web-UI

Thanks !

[2017-03-02 20:11] #1042 closed

[2017-03-02 22:02] tidusjar commented on #997
Where does the log file get generated?

[2017-03-03 08:19] angelopoerio commented on #1029
it works now @nicolargo

[2017-03-03 20:15] nicolargo commented on #1029
Nice ! Thanks @angelopoerio

@notFloran Can you implement the web UI ? I want to release Glances 2.8.3 as soon as possible. Thanks !

[2017-03-04 08:20] notFloran commented on #1029
@nicolargo I'm on it

[2017-03-04 09:32] notFloran commented on #1029
@nicolargo Can you give me a json of the stats/views ?

[2017-03-04 22:49] Eraac opened #1043 "no module named glances_cloud"
#### Description

I have two servers with glances installed (server mode) running into docker. One with image of glances build 4 month ago (nicolargo/glances:latest - image_id: 77a5e135b375), and another server with the newest image of glances, build 2 days ago (image_id: 61744eb5326a).

When I use glances (client mode) from my computer to the servers, the one with the oldest image works but the o

[2017-03-05 11:17] nicolargo commented on #1029
@notFloran  Here it is:

$ curl http://0.0.0.0:61208/api/2/cloud
{"region": "R", "instance-type": "IT", "ami-id": "AMI", "instance-id": "IID"}

$ curl http://0.0.0.0:61208/api/2/cloud/views
{"region": {"decoration": "DEFAULT", "optional": false, "additional": false, "splittable": false}, "instance-type": {"decoration": "DEFAULT", "optional": false, "additional": false, "splittable": false}, "ami-i

[2017-03-05 11:18] asergi commented on #1038
9cee73212a4db1b902bae63b32d44e53b24571cf breaks tests on Windows: https://ci.appveyor.com/project/nicolargo/glances/build/1.0.319/job/7l9s6lxfjt9haa4x.
The config part is already fixed in 257a5a3d7b3f61b8d3a84697cde2f7bf8d85bc34.

[2017-03-05 11:51] asergi commented on #1029
Due to this new plugin, Glances (or better the thread) hangs forever on exit, so I have to kill -9 the process.

[2017-03-05 11:59] nicolargo commented on #1029
@asergi Can not reproduce on my laptop (cloud plugin not used...). Can you investigate on your side ? Perhaps more information in debug mode ?

[2017-03-05 14:25] nicolargo commented on #1043
Your client is not compatible with the latest version of the Glances container.

Two solutions:

1) Upgrade the client to the DEVELOP branch
2) Re-install your bugged container with the 'stable' tag (https://hub.docker.com/r/nicolargo/glances/tags/)

My advise: solution 2)

[2017-03-05 14:25] #1043 closed

[2017-03-05 18:30] asergi commented on #1029
After a little debugging I found the culprit where it hangs forever:
[code]
The following works for me:
[code]

[2017-03-05 18:45] nicolargo commented on #1029
Thanks @asergi !

I will correct it and have a look on others threaded plugins.

[2017-03-05 19:14] nicolargo commented on #1029
Ok done in the latest commit in the DEVELOP branch.

[2017-03-05 19:15] #1029 closed

[2017-03-07 10:02] tidusjar commented on #997
Did this help you @nicolargo  ?

Can I provide any more information?

[2017-03-07 18:02] nicolargo commented on #997
@tidusjar You need to wait for Glances 2.8.3 or use the DEVELOP branch...

Hope to release Glances 2.8.3 this week-end.

[2017-03-08 04:50] kevlar1818 opened #1046 "Glances crash on RPi 1 running ArchLinuxARM"
This bug yields the same exact crash as #1007, but is not yet fixed for the original Raspberry Pi (B), running ArchLinuxARM. I think this is because the RPi 1 has only one CPU, so the following bugfix did not cover the one-CPU case:

Line 181 in glances_irq.py:
[code]

[2017-03-08 07:36] nicolargo commented on #1046
Could you please paste the result of:

cat /proc/interrupts

Thanks

[2017-03-08 13:59] tidusjar commented on #997
Is there a guide anywhere how to run Glances devlop branch?

[2017-03-08 14:50] nicolargo commented on #997
Yes, have a look on the Wiki

Le 8 mars 2017 2:59 PM, "Jamie" <notifications@github.com> a écrit :

[2017-03-08 20:27] nicolargo commented on #1046
Should be corrected in the last commit of the DEVELOP branch.

Can you test it ?

[2017-03-08 21:10] kevlar1818 commented on #1046
Sorry for the late response, and thanks for the quick fix! I will test it in a few hours and report back.

[2017-03-09 02:13] kevlar1818 commented on #1046
It is fixed on my Raspberry Pi 1 running ArchLinuxARM (not Raspbian, as the code comment implies). I image the distro does not affect the bugfix, however.

[2017-03-09 05:52] nicolargo commented on #1046
Thanks for the test !

[2017-03-09 05:52] #1046 closed

[2017-03-09 20:19] Argasm commented on #1016
I have exactly the same pb here.
Glances 2.8.2
psutil 5.1.3
windows 10 64
I'll test with a win7 vm and keep you informed

[2017-03-10 18:07] adrianovieira opened #1047 "Cloud plugin error: Name 'requests' is not defined"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

- run `glances` and you will see this error
[code]

#### Versions

* Glances (glances -V): 2.8.4
*

[2017-03-10 19:06] nicolargo commented on #1047
Forget to catch this exception if requests is not install on your system.

Workaround, install requests:

    # pip install requests

[2017-03-10 19:28] nicolargo commented on #1047
Release in Glances 2.8.5.

[2017-03-10 19:28] #1047 closed

[2017-03-10 19:43] nicolargo opened #1048 "GPU Monitoring (ARM / RaspberryPi)"
#### Description

Monitor ARM GPU thanks to the vcgen command line.

Have a look on the following Python code: https://github.com/MilhouseVH/bcmstat/blob/master/bcmstat.sh
Especial:

* https://github.com/MilhouseVH/bcmstat/blob/master/bcmstat.sh#L586

[2017-03-10 20:18] nicolargo commented on #286
Can be done by scripting the "_action" ==> http://glances.readthedocs.io/en/stable/aoa/actions.html

[2017-03-10 20:18] #286 closed

[2017-03-10 20:20] #476 closed

[2017-03-10 20:20] nicolargo commented on #488
Could be implemented through an AMP ==> http://glances.readthedocs.io/en/stable/aoa/amps.html

[2017-03-10 20:22] nicolargo commented on #506
Could you try again with the latest Glances version (2.8.5) ?

[2017-03-10 20:25] #549 closed

[2017-03-10 20:27] nicolargo commented on #637
Too specific,  a possible workaround is to use AMP: http://glances.readthedocs.io/en/stable/aoa/amps.html

[2017-03-10 20:27] #637 closed

[2017-03-10 20:28] #695 closed

[2017-03-10 20:30] #702 closed

[2017-03-10 20:37] #727 closed

[2017-03-10 20:37] nicolargo commented on #733
Any user needs ?

[2017-03-10 20:41] #811 closed

[2017-03-10 20:41] #812 closed

[2017-03-10 20:44] nicolargo commented on #867
@nicolasvilchez Can you try the latest 2.8.5 version with PsUtil 5.2.0 ? Perhaps it will be compliant with your needs... Keep us inform.

[2017-03-10 20:47] nicolargo commented on #870
User's needs not clear...

[2017-03-10 20:47] #870 closed

[2017-03-10 20:52] nicolargo commented on #953
Could and should be implemented through an dedicated AMP: http://glances.readthedocs.io/en/stable/aoa/amps.html

[2017-03-10 20:52] #953 closed

[2017-03-10 20:55] #973 closed

[2017-03-10 20:57] nicolargo commented on #981
Solution 1 should be implemented....

[2017-03-10 20:58] nicolargo commented on #985
Should be reopen if the problem came back...

[2017-03-10 20:58] #985 closed

[2017-03-10 20:59] #987 closed

[2017-03-10 21:00] #991 closed

[2017-03-10 21:02] jasker5183 commented on #506
Seems to ignore what is in /etc/sensors.d I'm looking at:

acpitz 1 - Think these might be ram
acpitz 2
Physical id 0 - system temp?
Core 0
Core 1

[2017-03-10 21:06] nicolargo commented on #997
@tidusjar You can try with the latest Glances version (2.8.5).

[2017-03-10 21:07] #1001 closed

[2017-03-10 21:08] #1015 closed

[2017-03-10 21:09] nicolargo commented on #1016
Any heads up ?

[2017-03-10 21:10] nicolargo commented on #1030
@WarriusBird Can you try with the latest 2.8.5 version ?

[2017-03-10 21:10] #1031 closed

[2017-03-10 21:12] nicolargo commented on #1035
@giampaolo I let the issue open but perhaps it will be better to clone it to PsUtil ?

[2017-03-10 21:12] #1035 closed

[2017-03-10 21:16] rmenessec commented on #488
@nicolargo , there's nothing in the documentation to indicate that an AMP can be used to evaluate command output. I'm also not seeing a way to discard stderr.
This—
[code]
—becomes this—
[code]
—in the current best case, with the label malformed, useless stderr output included, and no obvious processing of the value (9%). I don't see a way to trigger a warning or error in Glances if the value is,

[2017-03-10 21:56] rmenessec opened #1049 "Including battery and AC adapter health in Glances"
#### Description

Please add critical extended battery (ACPI / laptop) information to Glances in order to monitor battery health. This information should include—where available—voltage _versus_ design voltage and battery capacity _versus_ design capacity. This should be available as both raw data and as calculated percentages. ACPI battery information provided can vary based on manufacturer, kern

[2017-03-10 23:10] Mirppc commented on #506
Tested on my workstation, and it seems to be reporting them all.  the command i used to upgrade was ># pip install glances -U

[2017-03-11 00:18] tidusjar commented on #997
I've been trying, apologies but i'm a complete idiot when it comes to anything other than windows.

I'm just getting the following
![image](https://cloud.githubusercontent.com/assets/6642220/23818106/304a61ea-05f0-11e7-9253-3437b308cc2f.png)

[2017-03-11 01:46] WarriusBird commented on #1030
From a fresh install of Python:
[code]

Debug log: http://pastebin.com/NvMfxvTf

[2017-03-11 07:17] nicolargo commented on #1030
@WarriusBird Please also upgrade your PSUtil version to 5.2.0 or higher:

    pip install --upgrade psutil

[2017-03-11 07:18] nicolargo commented on #997
@tidusjar  Please also upgrade your PSUtil version to 5.2.0 or higher:

    pip install --upgrade psutil

[2017-03-11 14:37] nicolargo commented on #1049
@rmenessec thanks for the proposal. I am not sure that Glances is the best place to display those very specifics information. Glances aims at providing the maximum information in a minimal of space...

Nevertheless, i write a specific Python lib to programmaticaly retreive all the BAT RAW data: https://github.com/nicolargo/batinfo

I let the issue open. If others users need this kind of stats, i w

[2017-03-11 17:02] WarriusBird commented on #1030
5.2.0 was already installed at the time of last running. That or pip thinks it was.

[code]

[2017-03-11 17:28] nicolargo commented on #1030
Ok, should be corrected in Glances 2.8.6 , available in Pypi. Can you test it ?

[2017-03-11 21:54] WarriusBird commented on #1030
[code]

Debug log: http://pastebin.com/nFjz0nST

[2017-03-12 06:48] nicolargo commented on #1030
@WarriusBird  Dam... Validation on Windows is a mess for me...

The version 2.8.7 should (i hope) solve yours issues...

Please check.

[2017-03-12 09:22] nicolargo opened #1050 "Refactor __init__ and main scripts"
#### Description

__init__ uses globals variables to manage Glances mode (standalone, client, server...). It should be refactor to be more "Pythonific".

Note: take into account the issue https://github.com/nicolargo/glances/issues/869 with the new WebUI mode.

#### Versions

* Glances (glances -V): 2.8.x

[2017-03-12 09:25] seanvree opened #1051 "Glances cannot load "Powersupply""
#### Description

Glances crashes when running in any mode.

#### Versions

Glances v2.8.7
psutil v5.2.0
Python 2.7 & 3.6
Windows 10E

#### Logs

C:\WINDOWS\system32>python3.6 -m glances

Traceback (most recent call last):
  File "C:\Python36\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Python36\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals

[2017-03-12 09:28] nicolargo commented on #1051
The batinfo lib is not compatible with Windows... Please uninstall it:

    pip uninstall batinfo

[2017-03-12 09:29] #1051 closed

[2017-03-12 10:14] seanvree commented on #1051
@nicolargo  - THanks, and this one:

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "c:\Python36\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\Python36\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "c:\Python36\lib\site-packages\glances\__main__.py", line 29, in <module>

[2017-03-12 11:11] asergi commented on #1051
Fixed in 7ecafebdc70e01a41a68d6e4d8c8ac12ac507432.

[2017-03-12 18:21] WarriusBird commented on #1030
It appears to be working now! Minor complaint that it doesn't auto open the web browser/tab, but that's minor at worst. It also appears to be working on my other machine, but I haven't had a chance to poke around with it in depth.

One last debug log should you need it: http://pastebin.com/cmHvqcDw

[2017-03-12 18:36] nicolargo commented on #1030
@WarriusBird Use the --open-web-browser option to automatically open the Web browser.

Thanks for your time !

[2017-03-12 18:36] #1030 closed

[2017-03-12 19:31] nicolargo opened #1052 "[WebUI] Improve WebUI for Windows 10"
#### Description

Glances WebUI for Windows 10 displays some non useful informations:

![windows 10 running - oracle vm virtualbox_298](https://cloud.githubusercontent.com/assets/776747/23835145/84931a26-0762-11e7-904b-cd2e8c8795e2.png)

1) CPU nice is not available and should not be displayed
2) MEM active and inactive are not available and should not be displayed
3) Process user name display the

[2017-03-13 11:49] ybudimirov opened #1053 "Glances v2.8.7 issues with Curses UI on Android"
#### Description

Glances works but have issues with text: [Screenshot](https://cloud.githubusercontent.com/assets/12114831/23835256/cd7a7360-076c-11e7-84e2-142749fb2e57.png)

I have installed Glances via pip:
apt update
apt upgrade
apt install clang python python-dev
pip install glances

#### Versions

* Glances (glances -V): **Glances v2.8.7 with psutil v5.2.0**
* Operating System (there is no l

[2017-03-13 17:46] Argasm commented on #1016
Hi,
Sorry, i had to reinstall my comp because of a conflict between docker and virtualbox. Docker refused to uninstall and caused virtualbox to crash.

Since the reinstallation, glances works well

My old windows 10 was installed as an upgrade of a windows 8. Since it's not wise to do it may be the root of the problem. I'll try to reproduce the bug with vm again and keep you tuned.

[2017-03-13 19:20] nicolargo commented on #1053
Strange... What is your operating system ?

[2017-03-13 20:57] slamp commented on #930
I vote for this one ;-)
As Glances already have a web interface, it will be nice to have a /metrics that Prometheus can spull
https://prometheus.io/docs/instrumenting/writing_exporters/

[2017-03-13 21:36] slamp commented on #1053
3.10.49-perf-g4714f7e is a kernel used by Android

[2017-03-13 21:42] slamp commented on #869
electron is really too heavy. I hope pywebview is better

[2017-03-14 02:29] kehao95 commented on #930
I would love to see this coming soon. 😗
Thank you on behalf of Prometheus's users.

PS: still a typo on "Prometheus" in title.
[code]

[2017-03-14 08:18] ybudimirov commented on #1053
Android 5.1.1.

Yes you are right.

[2017-03-14 08:38] Leafney commented on #1033
Thanks!

[2017-03-14 08:47] kehao95 commented on #1033
Will 'update requirements' solve this I came across the same problem today.

[2017-03-14 10:53] seanvree commented on #876
Anyone have an idea how to fix this on IIS?

right now my code looks like this:

http://pastebin.com/hTHUqZcn

[2017-03-14 16:06] slamp commented on #1053
By curiosity how did you install it ? Is it in an emulator ?

[2017-03-15 01:05] darvelo commented on #1035
I'm seeing this error too after a few seconds of running glances. Is there anything I can do to help troubleshooting this?

[2017-03-15 02:01] StreetWind opened #1054 "TypeError: string indices must be integers (Network plugin)"
#### Description

glances# glances -t 5  --export-influxdb
Traceback (most recent call last):
  File "/usr/local/bin/glances", line 11, in <module>
    load_entry_point('Glances==2.8.8', 'console_scripts', 'glances')()
  File "/usr/local/lib/python2.7/dist-packages/glances/__init__.py", line 225, in main
    start_standalone(config=config, args=args)
  File "/usr/local/lib/python2.7/dist-packages/

[2017-03-15 10:14] ybudimirov commented on #1053
No, it's real phone.
Got root access on Android. Installed Termux app, Termux provides Shell and Apt package manager, after that:
apt update
apt upgrade
apt install clang python python-dev
pip install glances

That's all :)

[2017-03-15 10:34] IchSchreiGleich opened #1055 "FreeBSD: If oid 'hw.acpi.battery' not present, Glances wont start"
#### Description

On FreeBSD, if oids for battery stats (hw.acpi.battery.*) not present, Glances wont start. This is because PSutil throws an OSError exception (see output below). - Editing line 411 in _psbsd.py solves this issue.

In my view, Glances should catch this kind of errors instead of dying. :)

#### Versions

* Glances (glances -V): 2.8.8
* PSutil (glances -V): 5.2.0
* Operating System

[2017-03-15 19:56] nicolargo commented on #1054
The log and the error message are not the same... I think that the crash came from the "TypeError: string indices must be integers".

@StreetWind Can you test it without the --export-influxdb tag ?

[2017-03-15 19:59] nicolargo commented on #1055
It's a PSUtil issue. Perhaps related to https://github.com/giampaolo/psutil/issues/955 ? cc: @giampaolo

[2017-03-15 20:08] nicolargo commented on #1050
First part done in 731a72e

Need to find a proper way to close Glances server (-s) when CTRL-C is stroken.

[2017-03-15 20:41] nicolargo commented on #996
Done in commit b492220

[2017-03-15 20:41] #996 closed

[2017-03-15 21:01] nicolargo commented on #1053
Reproduced on my One Plus One:

![screenshot_20170315-215532](https://cloud.githubusercontent.com/assets/776747/23970655/da84230c-09ca-11e7-93c7-2fd26ad25ccd.png)

I think that the issue came from the Curse lib, i will double check if i limit the number of digit in the Curses interface...

[2017-03-15 21:43] nicolargo commented on #1053
Should be corrected in c41f74f

To be tested...

[2017-03-16 09:48] ybudimirov commented on #1053
Thank you!  You are rock! Will wait for new release.

[2017-03-16 12:07] WarriusBird opened #1056 "Potential memory leak in Windows WebUI"
#### Description

After running for some time, a tab pointed at the glances WebUI will crash due to lack of memory.

#### Versions

* Glances (glances -V): 2.8.8
* PSutil (glances -V): 5.2.0
* Operating System (lsb_release -a): Win 7 SP1

#### Logs
Unknown if this error message is related, but here you go:

Glances web server started on http://0.0.0.0:61209/
Traceback (most recent call last):
  Fi

[2017-03-16 13:15] return42 commented on #652
Correct me if I'am wrong, but I guess Apache reverse proxy does not work at least since `<base href="/">` has been added (https://github.com/nicolargo/glances/commit/7771083fd3ee0dae012a5eac094843d7b7d61ae1)?

[2017-03-16 13:18] return42 commented on #1042
@lgromb : what glance version did you use?

[2017-03-16 21:05] nicolargo commented on #1056
The error message is a consequence, not the cause.

_WSAECONNABORTED 10053
Software caused connection abort.
An established connection was aborted by the software in your host computer, possibly due to a data transmission time-out or protocol error._

@notFloran Can you run a memory leak software to check the Glances UI ?

[2017-03-18 08:04] nicolargo commented on #1016
Ok thanks, i close the issue. Please feel free to re-open it if the problem came back.

[2017-03-18 08:04] #1016 closed

[2017-03-19 00:25] Simplenuity commented on #1037
I only came here to check whether that feature has already been suggested/requested for this outstanding piece of software.

On Linux systems this would be a killer feature to have within such a comprehensive monitoring tool.

Currently I only know of nethogs (mentioned above) to monitor network i/o by processes in real time. Anything else (mentioned above) is a tedious, more step process and not

[2017-03-19 17:05] nicolargo commented on #930
Implementation available in the DEVELOP branch.

Ready to be tested. Please read this page for the documentation: https://github.com/nicolargo/glances/blob/develop/docs/gw/prometheus.rst

[2017-03-20 10:24] blakcap opened #1057 "Fails to start, OSError in sensors_temperatures"
#### Description
Glances fails to start (as of a few weeks ago). It might not be directly related to glances, since it used to work, and I think an unrelated Arch Linux upgrade might've broken it.

#### Versions

* Glances (glances -V): v2.8.8
* PSutil (glances -V): v5.2.0
* Operating System (lsb_release -a): Arch Linux (kernel 4.10.3)

#### Logs
[code]
#### Trace
[code]

[2017-03-20 13:22] nicolargo commented on #1057
Corrected in the DEVELOP branch.

Workaround: Disable sensors module (--disable-sensors)

[2017-03-20 13:22] #1057 closed

[2017-03-20 14:59] blakcap commented on #1057
Wow, thanks for the quick turnaround!

[2017-03-20 19:32] AnthonyWC opened #1058 "required sudo to run"
#### Description
Need sudo to run; without sudo gets errors (see below):

#### Versions

* Glances (glances -V): Glances v2.3
* PSutil (glances -V): with psutil v3.4.2
* Operating System (lsb_release -a):
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.2 LTS
Release:        16.04
Codename:       xenial

#### Logs

You can also pastebin the Glances logs file (https

[2017-03-20 21:31] yuri-ccp opened #1059 "Crashs after long time running the glances --browser (recursion exceeded)"
Hello,

Sorry for this unusual bug report.

Currently i'm using the Glances v2.8.8

After some times (hours) keeping running the "glances --browser" it's always crashing with the message: "maximum recursion depth exceeded while calling a Python object" (the complete dump is in the end of this message)

Investigating the problem I found that the method __serve_forever in GlancesClientBrowser class

[2017-03-21 12:54] clrung opened #1060 "Sensors does not show all sensors"
#### Description

Sensors output doesn't show all available sensors (such as `temp01`).

Glances' `SENSORS` output:
[code]

cli `sensors` output:
[code]

I noticed the absence of the other sensors after updating glances to 2.8.8.  Unfortunately, I can't remember the old version I had, but it wasn't too out of date.

#### Versions

* Glances (glances -V): 2.8.8
* PSutil (glances -V): 5.2.0
* Operat

[2017-03-21 13:01] halali commented on #815
I have same issue on
Glances 2.8.1
psutil 5.2.0

[2017-03-22 09:32] Digmarx commented on #815
I also have the same issue, running WS2012R2, psutil 5.2.0 and the latest version of Glances.

[2017-03-22 10:43] blakcap commented on #1057
Actually, I still get this error with `glances --disable-sensors`. Traceback:
[code]

[2017-03-22 11:31] C-Duv commented on #1032
Had the same issue (got _Invalid environment marker: python_version<"3.5"_ when running `pip install glances`) on Debian v8.7 with Python v2.7.9 and v3.4.2 and `pip` v1.5.6.
I ran `pip install --upgrade pip setuptools` (only upgrading `pip` did not suffice) as advised in #1034 and then `pip install glances` worked (installed Glances v2.8.8 with psutil v2.1.1).

[2017-03-22 20:33] nicolargo commented on #1058
Try to upgrade you Docker Python lib.

[2017-03-22 20:38] nicolargo commented on #1059
Corrected in the last commit db0f610 in the DEVELOP branch.

Will be release in the next version.

Thanks for the embedded patch :)

[2017-03-22 20:38] #1059 closed

[2017-03-22 20:42] nicolargo commented on #1060
Hi @clrung , thanks for the bug report.

Glances 2.8.8 uses the PsUtil lib to grab the sensors temperatures. Please can you send us back the result of the following command:

    $ python

Thanks !

[2017-03-22 20:54] nicolargo commented on #815
@halali and @Digmarx Can you have a look inside the Web browser console log ?

[2017-03-22 21:05] clrung commented on #1060
Thank you for your reply, @nicolargo! I appreciate your prompt response :)
[code]

This seems to correlate with the `acpitz 1` and `acpitz 2` temperatures that I see in `glances`.

[2017-03-22 21:07] nicolargo commented on #1060
Ok... it looks like a PsUtil issue...

Can you report the bug to the PsUtil issue tracker ? => https://github.com/giampaolo/psutil/issues

[2017-03-22 21:09] giampaolo commented on #1060
Please paste the output of `ls /sys/class/hwmon/hwmon*/temp*_*`

[2017-03-22 21:10] clrung commented on #1060
@giampaolo
[code]

[2017-03-22 21:14] giampaolo commented on #1060
So that explains why psutil / glances reports only two.
I'm not sure how `sensors` command retrieves the rest.
Please try `strace sensors 2>&1 | grep open` and paste the output.

[2017-03-22 21:14] clrung commented on #1060
[code]

[2017-03-22 21:16] nicolargo commented on #1060
/device/ :(

[2017-03-23 05:18] Digmarx commented on #815
The following entry is logged every couple of seconds:
GET http://localhost:61208/api/2/all 404 (Not Found) vendor.min.js:12410

[2017-03-23 06:06] DeltaDistribution opened #1061 "Sensor values don't refresh since psutil backend"
#### Description

For some reason the sensor values don't refresh since the psutil backend and remain at the values when starting glances.
Manually calling `psutil.sensors_temperatures()` does show the current (and updated) temperature state.
Same with `psutil.sensors_fans().`

#### Versions

* Glances (glances -V): 2.8.8
* PSutil (glances -V): 5.2.0
* Operating System (lsb_release -a): Arch Linux

[2017-03-23 10:08] giampaolo commented on #1060
OK, I should have fixed this in https://github.com/giampaolo/psutil/commit/1fd183c4d4e6fda474388c59c6b6fd24d98f2f7a.
Could you try installing latest psutil version from GIT and try again?

[2017-03-23 10:10] giampaolo commented on #1060
`pip install git+git://github.com/giampaolo/psutil.git@1fd183c4d4e6fda474388c59c6b6fd24d98f2f7a` should do the job.

[2017-03-23 12:37] clrung commented on #1060
Thank you! `glances` shows all of the temperatures again 👍

[2017-03-23 12:37] #1060 closed

[2017-03-23 12:52] crackleware commented on #1061
quick fix: https://github.com/crackleware/glances/commit/62e952ae7cd3ce60880914121a416e505ce93e82

[2017-03-23 17:06] halali commented on #815
this is console output:

vendor.min.js:12410 GET http://localhost:61208/api/2/all/views 404 (Not Found)
(anonymous) @ vendor.min.js:12410
sendReq @ vendor.min.js:12155
serverRequest @ vendor.min.js:11908
processQueue @ vendor.min.js:16648
(anonymous) @ vendor.min.js:16692
$eval @ vendor.min.js:17972
$digest @ vendor.min.js:17786
$apply @ vendor.min.js:18080
tick @ vendor.min.js:13025
vendor.min.js

[2017-03-23 19:38] nicolargo commented on #815
Strange... vender.min.js is provided in the pip install archive (https://github.com/nicolargo/glances/tree/master/glances/outputs/static/public/js).

@notFloran Can you have a look ?

@Digmarx and @halali : can you clean your Web browser cache in order to be sure that you load the good Glances Web UI version ?

[2017-03-23 20:10] nicolargo commented on #1061
Corrected in commit dedc0258643a4a9c867387498eec38ebae5913cc in the DEVELOP branch.

Will be available in the next version.

Please note that on my Ubuntu system, i have a high CPU consumption if i enable the fans grab through PsUtil.

[2017-03-23 20:11] #1061 closed

[2017-03-23 20:12] #1053 closed

[2017-03-23 20:13] #930 closed

[2017-03-23 20:18] AShabana commented on #1033
Working thank you asergi

[2017-03-24 05:57] Digmarx commented on #815
Yep, had tried that already, tried it again, no dice.

[2017-03-24 19:59] GabLeRoux opened #1062 "KeyError: <function Process.cpu_times at 0x103fccea0> when not running using sudo"
#### Description
App runs for a small amount of time and then crashes with the following error:

**Python3.6 PermissionError: [Errno 1] Operation not permitted**
[code]

Everything seems fine when running with sudo.

#### Versions

[code]

I run glances in its own python virtualenv using **Python 3.6.0**.

[code]

[code]
[code]

#### Logs

You can also pastebin the Glances logs file (https://glanc

[2017-03-25 08:39] nicolargo commented on #1062
Looks like a PsUtil error...

cc: @giampaolo

[2017-03-25 12:01] jknight2014 commented on #876
@notFloran Couldent you still get your base url in that file from an env variable that is set with a switch? So If I use `glances -w --base_url=/glances/` then its sets `$base_url` to `/glances/`. Although you would need to ether edit the file or use php. On the other hand you could jet set a baseurl by default so it will work for everyone. Set the root to redirect to the base.

[2017-03-25 14:47] notFloran commented on #876
@jknight2014 I'm working on a big refactoring of the WebUI that fix all the problems of Glances and reverse proxy.

If you want to try, a wip version (half of the plugins are not available, help and shortcuts do not work) if available here : https://github.com/notFloran/glances/tree/webui-move-to-components

[2017-03-25 15:18] nicolargo commented on #1025
First idea, do not use the shell=True option. split the command line

[code]

and uses stdout for redirection:

[code]

and this for pipe:

[code]

[2017-03-25 15:22] nclsHart commented on #815
Reproduced on Windows 10.

@nicolargo The unicode's nightmare is back :(.

As @Digmarx said previously, requests to http://localhost:61209/api/2/all` return the following error :

[code]

I also get the following warnings when starting Glances :

![glances-warning](https://cloud.githubusercontent.com/assets/833625/24323485/75477198-1176-11e7-9aed-22bb72c3a4dc.PNG)

Python 2.7 only is affected by t

[2017-03-25 17:06] nicolargo commented on #858
Done in the latest commit (9b1f54b) of the DEVELOP branch.

Please test.

[2017-03-25 20:17] SailorMax opened #1063 "No such file or directory: '/sys/class/power_supply'"
#### Description
after upgrade 2.8.2 -> 2.8.8 I can't start glances anymore:
[code]

This is dedicated server. It has no battery.

#### Versions

* Glances (glances -V): 2.8.8
* PSutil (glances -V): 5.2.1
* Operating System (lsb_release -a): Debian 7.11

#### Logs
[code]

[2017-03-25 20:23] nicolargo commented on #1063
Try to uninstall batinfo. It should solve the issue.

Le 25 mars 2017 9:17 PM, "Maxim" <notifications@github.com> a écrit :

[2017-03-26 05:27] giampaolo commented on #1062
Now this is weird, and I seem to remember another similar issue posted not long ago.
It appears the `wrap_exceptions` decorator which is supposed to turn `PermissionError` into `psutil.AccesssDenied` doesn't do its job.
`cpu_times` is decorated: https://github.com/giampaolo/psutil/blob/7ff84c208af10e618e23aacb3691c668eb25a12d/psutil/_psosx.py#L414
...and the trick of translating `PermissionError`

[2017-03-26 05:37] giampaolo opened #1064 "OSX: can't python setup.py install due to python 3.5 constraint"
I've just bumped into this weird error while trying to install glances from sources:

[code]

I can work around it by modifying setup.py like this:

[code]

Python: 2.7.6
uname -a: Darwin osx 14.4.0 Darwin Kernel Version 14.4.0: Thu May 28 11:35:04 PDT 2015; root:xnu-2782.30.5~1/RELEASE_X86_64 x86_64

[2017-03-26 05:49] giampaolo commented on #1062
So, I've tried to emulate a `PermissionError` like this:

[code]

...then I run Glances. As expected, the exception is handled and Glances does not crash. Instead the list of processes is empty, which may indicate a bug with Glances, which is yet another (and separate) issue (I would expect the CPU / TIME+ column to be empty but the rest should be rendered).

[2017-03-26 05:50] giampaolo commented on #1062
Screenshot:

![screenshot from 2017-03-26 07-49-32](https://cloud.githubusercontent.com/assets/681260/24328987/e13f44de-11f8-11e7-910f-f255deca2da3.png)

[2017-03-26 05:52] giampaolo commented on #1062
@GabLeRoux what happens if you use Python 2.7 instead?

[2017-03-26 09:08] nicolargo commented on #1062
@asergi some stats are mandatories because Glances automatically sorts processes. For example, on high CPU consumption, Glances sorts processes list by cpu_time. Mandatories stats list is define here: https://github.com/nicolargo/glances/blob/develop/glances/processes.py#L226-L234
If one of the mandatories stats is not available, the process is not displayed in the list.

[2017-03-26 13:28] notFloran opened #1065 "Problem with non breaking space in file system name"
#### Description

For one of my file system, the name is not displayed in the curse interface :

<img width="222" alt="capture d ecran 2017-03-26 a 15 17 43" src="https://cloud.githubusercontent.com/assets/523981/24331598/b51ab2b4-1237-11e7-8c90-16abcf5cda80.png">

In the WebUI :

<img width="368" alt="capture d ecran 2017-03-26 a 15 18 41" src="https://cloud.githubusercontent.com/assets/523981/24

[2017-03-26 13:39] nicolargo commented on #1065
Can not reproduce on my system:

![image](https://cloud.githubusercontent.com/assets/776747/24331713/5afb6b7c-123a-11e7-89e5-01aa79b9edd5.png)

Test on both Python 2.7 and 3.5 version.

[2017-03-26 18:11] SailorMax commented on #1063
@nicolargo
Uninstall batinfo helped. Now work as expected.
Can you output some warning instead of crash? Or make workaround?

[2017-03-26 21:45] GabLeRoux commented on #1062
I managed to reproduce this today, still hard to tell what's causing this tho.

I first tried to stress test my mac while running glances and it kept running smoothly even with 4cpus at 100% and ran smoothly for a few minutes so unrelated to actual performance I suppose.

Friday I was playing with some docker images so I was monitoring my computer a little at the same time just in case. Turns out

[2017-03-27 06:57] nicolargo opened #1066 "glances-version.db Permission denied"
#### Description

I just tried with python2.7 and I do have some stacktrace while its running, but glances keeps running (doesn't crash like in python3.6). Gives something a bit ugly like this:

![image](https://cloud.githubusercontent.com/assets/1264761/24335367/7cf3a7d0-1249-11e7-9090-f0c0822861d8.png)

Here's in plain text (I cleaned output a little):

[code]

in case it's useful:

[code]

####

[2017-03-27 06:58] nicolargo commented on #1062
@GabLeRoux / @giampaolo : concerning the initial issue i can not reproduce it on my Linux system. A Docker-compose command line:

    docker-compose stop && docker-compose rm && docker-compose up

do not make Glances crash...

===

The second issue happens because you have started Glances with sudo the first time. The glances-version.db file has been created with root rights. When you start Glance

[2017-03-27 07:09] nicolargo commented on #1066
Corrected in the latest commit (4825f2e) in the DEVELOP branch.

Will be release in Glances 2.9.

[2017-03-27 07:09] #1066 closed

[2017-03-27 12:46] GabLeRoux commented on #1066
Thanks for the fix. Also, deleting the file manually and running the `glances` again did fix the problem by setting the right owner on the file. 👍

[2017-03-27 14:11] IanTAtWork opened #1067 "On Windows --export-statsd terminates immediately and does not export."
#### Description
- When executing --export-statsd on Windows; glances terminates immediately and does not export stats
- Based on the below; assuming this is an issue with the --export in general, as standalone mode cannot be started on Windows
- It appears this is a regression from 2.8.6 related to the fix of "Global name standalone not defined (#1030)" which reverted the fix from #1038 in __init

[2017-03-27 15:13] nicolargo commented on #1063
Should be corrected in the future 2.9 version.

[2017-03-27 15:13] #1063 closed

[2017-03-27 15:13] #858 closed

[2017-03-27 15:14] nicolargo commented on #1067
Corrected in the latest commit of the DEVELOP branch.

To be release in Glances 2.9.

[2017-03-27 15:14] #1067 closed

[2017-03-27 15:15] #997 closed

[2017-03-27 15:39] nicolargo commented on #1053
@ybudimirov Glances 2.9 is out. Can you test it on your device ? A screenshot will be welcome ;)

[2017-03-27 15:51] IanTAtWork opened #1068 "Some FS and LAN metrics fail to export correctly to StatsD"
#### Description
When running with --export-statsd; some metrics are not translating over correctly and throw exceptions in StatsD.

- FS metrics are sent with special characters in the stats name (On windows, so filesystem = C:\\, which then fails in StatsD)
-- 27 Mar 11:01:29 - DEBUG: Bad line: **\\.free** in msg "glances.fs.**C:\\**.free:3366996787
- LAN Metrics send boolean True/False instead

[2017-03-27 18:42] notFloran commented on #1065
In the debug file, I have this :

[code]

I think the problem is the non breaking space in the mount point name: `Time\xc2\xa0Machine`

[2017-03-28 09:39] ybudimirov commented on #1053
@nicolargo  **Thank you! :)**
Main window works without issues:
![screenshot_2017-03-28-12-25-59](https://cloud.githubusercontent.com/assets/12114831/24398809/81b9ab1e-13b3-11e7-933f-b2c7d8e1bd17.png)

Sorry for bothering, but if you open per CPU statistics(press 1), same(or similar) issue exist:
![screenshot_2017-03-28-12-26-08](https://cloud.githubusercontent.com/assets/12114831/24398823/8618ca5

[2017-03-28 14:42] ei-grad opened #1069 "Disable docker by default, pls"
It doesnt work.

[2017-03-28 15:38] VirtualYG opened #1070 "Add Disk I/O Latency stats"
Would it be possible to add IOstat "await" counter to the Disk portion of glances? This would add latency stats on the fly on the console which is very helpful.

![screenshot-wide](https://cloud.githubusercontent.com/assets/26744981/24413920/e23241e4-13aa-11e7-9521-0e6c9b45f13d.png)

[2017-03-28 18:26] nicolargo opened #1071 "Glances PerCPU issues with Curses UI on Android"
#### Description

Child of https://github.com/nicolargo/glances/issues/1053

If you open per CPU statistics(press 1), same(or similar) issue exist:
![screenshot_2017-03-28-12-26-08](https://cloud.githubusercontent.com/assets/12114831/24398823/8618ca50-13b3-11e7-8c76-28d23a754369.png)

#### Versions

* Glances (glances -V): 2.9.0
* Operating System (lsb_release -a): Android

[2017-03-28 18:28] nicolargo commented on #1053
@ybudimirov you do no bother me, you help me to improve Glances :)

I just open a news issue to track this problem: issue #1071

[2017-03-28 19:23] nicolargo commented on #1071
Corrected in the latest commit (1b8f955) in the DEVELOP branch.

[2017-03-28 19:23] #1071 closed

[2017-03-28 19:25] nicolargo commented on #1069
Please follow the template when you create your issue.

[2017-03-28 19:25] #1069 closed

[2017-03-28 20:42] nicolargo commented on #1068
The problem came from the metric name convention.

Somme resources:

* http://stackoverflow.com/questions/29674488/whitespace-in-statsd-metric-name
* https://github.com/etsy/statsd/issues/110

Proposal:

* replace ':' by ''
* replace ' ' (space) by '_'
* let StatsD manage non numerical value

What do you think ?

[2017-03-29 00:14] mostafaasadi opened #1072 "Arch package problem with some library"
Hi
the glances package in [Arch repo](https://www.archlinux.org/packages/community/any/glances/) runs with this error :
`➜  ~ glances
Traceback (most recent call last):
  File "/usr/bin/glances", line 11, in <module>
    load_entry_point('Glances==2.8.8', 'console_scripts', 'glances')()
  File "/usr/lib/python3.6/site-packages/glances/__init__.py", line 225, in main
    start_standalone(config=con

[2017-03-29 13:43] IanTAtWork commented on #1068
You're right! I had assumed the \ was the culprit; but filtering out the ':' worked beautifully.  Glances passes it as C\ to StatsD and then the graphite sanitizer works as expected to convert to just "C".

Regarding the value - I would still think it makes sense to coerce the bool to a numeric.  The [StatsD spec docs](https://github.com/b/statsd_spec)  (which are unofficial and 4 years out of dat

[2017-03-29 13:56] ybudimirov commented on #1071
@nicolargo Thank you!
Now all works fine:
![1](https://cloud.githubusercontent.com/assets/12114831/24458075/92c8eee0-14a0-11e7-96f0-9cf8cd39d49d.png)

[2017-03-29 20:18] nicolargo commented on #1072
Please open an issue on the Arch issue tracker.

My two cents, it look like a PsUtil issue...

[2017-03-29 20:18] #1072 closed

[2017-03-29 20:22] nicolargo commented on #1070
Most of the time, Glances uses the PsUtil lib to grab system stats. It is the case for the DiskIO plugin and the current PsUtil version (5.2) did not expose "await" stats: https://pythonhosted.org/psutil/#psutil.disk_io_counters

Another thing: if PsUtil proposes this stats in future version where to display the information ? Space is limited...

[2017-03-30 07:47] Digmarx commented on #815
updated to v 2.9.1 and the error seems to have been resolved

[2017-03-30 11:27] halali commented on #815
For me still dont work, same issue

[2017-03-31 00:23] staticfloat commented on #1064
I ran into this as well, upgrade your `setuptools`, via `pip install --upgrade setuptools`; otherwise python doesn't know how to interpret these dependencies.

[2017-03-31 10:32] aleosd opened #1074 "StatsD export prefix option is ignored"
While initiating statsd client `prefix` option is ignored and `glances` is always used. As i can see from source, prefix from config is not passed to stats cliet, and it uses default value.

[code]

[2017-03-31 20:04] nicolargo commented on #1074
Corrected in commit https://github.com/nicolargo/glances/commit/cc06451cc06e0d1ea42f0d429303caf74a430bdd (DEVELOP branch).

Thanks for the issue report !

[2017-03-31 20:04] #1074 closed

[2017-04-01 19:39] nicolargo commented on #1068
Corrected in the latest commit on the DEVELOP branch.

[2017-04-01 19:39] #1068 closed

[2017-04-01 20:05] nicolargo commented on #1065
Corrected in the latest commit on the DEVELOP branch.

[2017-04-01 20:05] #1065 closed

[2017-04-01 20:07] nicolargo commented on #1064
"Corrected" by @asergi in the commit https://github.com/nicolargo/glances/commit/0adf1392568b10cbbf69ea56771db988e9767b2b

[2017-04-01 20:07] #1064 closed

[2017-04-01 20:19] nicolargo commented on #1052
@notFloran can you have a look ?

[2017-04-01 20:25] nclsHart commented on #1052
@nicolargo I'll take this one.

[2017-04-02 09:23] nicolargo opened #1075 "Use -> and <- arrows keys to switch between processing sort"
#### Description

The goal of this new feature is to enable arrows key to switch between processing sort.

By default processing are sorted automatically. If the the -> key is pressed then Glances switch to manual sort and go from CPU to MEM (as an example).

#### Versions

* Glances (glances -V): 2.9.1

[2017-04-02 09:49] nrapopor opened #1076 "glances --browser on Windows (produces a curses error). Also cannot run --browser -w"
#### Description

##### Issue 1
browser option not working on windows ...

 1.    install on windows according to the instructions
 2.    run glances --browser

[code]

##### Solution
 1.    download latest curses from http://www.lfd.uci.edu/~gohlke/pythonlibs/#curses
 2.    pip install curses‑2.2‑cp36‑cp36m‑win_amd64.whl
 3.    modify `glances_curses.py` comment out the `if not WINDOWS` and adjus

[2017-04-02 12:53] nicolargo commented on #1075
Done in the latest commit on the DEVELOP branch.

[2017-04-02 12:53] #1075 closed

[2017-04-02 17:11] nicolargo opened #1077 "Add trends in the Curses interface"
#### Description

The goal is to add "trend" information for some stats.

For example, if the memory increase (is higher than the mean of the 5 last values), then display a '^' char just after the stats (or 'v' or '-').

before:

MEM    49%

after:

MEM^   49%

#### Versions

* Glances (glances -V): 2.9.2

[2017-04-03 08:24] nicolargo commented on #1077
Done in the latest commit in the DEVELOP branch.

![trend](https://cloud.githubusercontent.com/assets/776747/24601037/ac9a263a-1857-11e7-80bb-c64de08bd408.png)

[2017-04-03 08:24] #1077 closed

[2017-04-03 16:23] nicolargo commented on #722
Done in the dedicated Github repos: https://github.com/nicolargo/glancesautopkg

[2017-04-03 16:23] #722 closed

[2017-04-04 04:18] nrapopor commented on #1076
Sorry -- which part the curses support,  or running --browser as web.

Thanks,

Nick

[2017-04-06 21:35] subodhp commented on #753
I am facing error -

Traceback (most recent call last):
  File "/usr/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.3', 'console_scripts', 'glances')()
  File "/usr/lib/python3/dist-packages/glances/__init__.py", line 119, in main
    args=core.get_args())
  File "/usr/lib/python3/dist-packages/glances/core/glances_standalone.py", line 36, in __init__
    self.stats = GlancesSt

[2017-04-06 21:46] subodhp commented on #753
Since its Python3, I have changed ConfigParser to configparser in file "/usr/lib/python3/dist-packages/glances/exports/glances_influxdb.py", so the ConfigParser error is gone now.
Then I got "AttributeError: 'InfluxDBClient' object has no attribute 'get_database_list'".
I had the Influxdb installed from Aptitude.

Then I followed the sudo pip3 install --upgrade influxdb

still I am getting the sam

[2017-04-06 21:52] subodhp commented on #753
Looks like my Ubuntu Glances package is older version and has some names. I will try with vanilla version.
Thanks.

[2017-04-07 09:59] halfpastfouram opened #1078 "No module named glances_monitor"
#### Description

Trying to run `glances -c x.x.x.x` on my MacBook Pro results in an error saying "No module named glances_monitor".

I have a bunch of Linux servers running `glances -s`. I can use `glances -c x.x.x.x` from any one of those servers to check on the other servers, but when trying the same from my macOS machine i'm getting the error described above.

#### Versions

* Glances (glances

[2017-04-07 19:52] nicolargo commented on #1078
What is your Glances server version ?

[2017-04-07 19:55] halfpastfouram commented on #1078
V2.1.1 with psutil v2.1.1

[2017-04-07 19:58] nicolargo commented on #1078
Can you try to upgrade it ?

[2017-04-08 13:53] nicolargo commented on #981
Done in the latest commit in the DEVELOP branch.

![selection_311](https://cloud.githubusercontent.com/assets/776747/24829512/6f4b91ea-1c73-11e7-9f21-643969b6c6c1.png)

Please test !

[2017-04-09 01:08] nrapopor opened #1079 "Sensors plugin error: IOError: [Errno 5] Input/output error"
#### Description
##### Issue
* This just started happening all of a sudden. I was running glances as a service in the export and quiet mode `glances --export-influxdb -q` and all of a sudden the service failed (after a day or so an could not be brought back up. This looks like some kind of regression since there were already open bugs on this behavior in older versions
[code]
* output of the servi

[2017-04-09 07:59] nicolargo commented on #1079
Hi, can not reproduce on my Ubuntu 16.04 system...

Please can you start Glances in debug mode (-d option) with the sensors plugin enable and [paste/bin](https://pastebin.com/) us the result of the Glances configuration file. I want to focus on the following lines (| grep sensors):

[code]

[2017-04-09 09:49] giampaolo commented on #1079
This (`IOError: [Errno 5] Input/output error`) looks like a bug with the Linux kernel. I think psutil should skip the error so that it can at least show the other sensors. I'll open a bug for that.

[2017-04-09 09:50] giampaolo commented on #1079
https://github.com/giampaolo/psutil/issues/1009

[2017-04-09 15:31] giampaolo commented on #1079
OK, I fixed this in psutil (master branch).
@nicolargo RuntimeWarning is now raised in such a case. There are also other places in psutil code in which RuntimeWarning may be raised. How does Glances deal with warnings? Are they printed on screen?

[2017-04-09 20:14] nicolargo commented on #1079
Hi @giampaolo thanks for the PsUtil patch. Concerning the warnings, Glances use the default behavior (print message on console). I will have a look if it is possible to redirect it to a warning message in the log file.

[2017-04-09 22:55] nrapopor commented on #1079
Sorry for the n00b question (I'm not a python guy) -- I pulled the master from giampaolo/psutil and built it (v5.2.2) however glances is still pointing to 5.2.1 ... What am i doing wrong?

[2017-04-10 10:36] halfpastfouram commented on #1078
After upgrading on one of the servers (now version v2.1.1 with psutil v2.1.1) the problem persists:
[code]

[2017-04-10 11:05] halfpastfouram commented on #1078
That actually worked. Upgrading was a bit of a hassle, though.

[2017-04-10 11:05] #1078 closed

[2017-04-10 11:06] halfpastfouram commented on #1078
It would be great if a more user-friendly error message showed up on the client side.

[2017-04-10 13:28] #981 closed

[2017-04-10 14:45] #1050 closed

[2017-04-10 16:39] nicolargo commented on #952
Implemented through the last commit in the DEVELOP branch.
To be tested !

[2017-04-10 16:40] nicolargo commented on #952
@yuri-ccp can you test the DEVELOP branch ?

[2017-04-10 16:40] #952 closed

[2017-04-10 16:57] nrapopor commented on #1079
Never mind I RTFMed the answer. Like I said not a python guy -- just starting to get used to it.

this was run with:

[code]
[code]

The pastebin of the log : https://pastebin.com/7b0KZ3Xg

Thanks,

Nick

[2017-04-10 17:46] yuri-ccp commented on #952
OK, I will

[2017-04-11 07:27] nicolargo commented on #950
Repeat feature implemented in commit https://github.com/nicolargo/glances/commit/6d0fe0f708bc54ae836e64bd346dc649f84acee6 => See https://github.com/nicolargo/glances/issues/952

[2017-04-11 18:51] nicolargo commented on #1052
@nclsHart Any news ?

[2017-04-11 22:39] seanvree commented on #876
Any updated on getting support for this on the master branch?

[2017-04-15 07:10] nicolargo commented on #1052
Merged thanks to @nclsHart !

[2017-04-15 07:10] #1052 closed

[2017-04-15 16:46] nicolargo commented on #1037
This feature will not be implemented in Glances because it need root rights. Too much risk to run Glances in root mode because of action feature.

Perhaps a new command line should could be created for this feature.

[2017-04-15 16:46] #1037 closed

[2017-04-16 11:41] liud commented on #1033
when run: 'pip install -U pip setuptools',below is error details

Requirement already up-to-date: pip in /Library/Python/2.7/site-packages/pip-9.0.1-py2.7.egg
Collecting setuptools
  Using cached setuptools-35.0.0-py2.py3-none-any.whl
Requirement already up-to-date: appdirs>=1.4.0 in /Library/Python/2.7/site-packages (from setuptools)
Collecting packaging>=16.8 (from setuptools)
  Using cached pac

[2017-04-19 07:35] pawel-lmcb commented on #1054
Alright the issue here is that the array of dictionaries is actually an array of dictionaries + some strings. The assumption that it's an array of all dictionaries is whats causing the exception.

For example locally on my mac, I get:

[{"time_since_update": 3.1493468284606934, "cx": 0, "is_up": false, "key": "interface_name", "speed": 0, "tx": 0, "cumulative_rx": 0, "rx": 0, "cumulative_cx": 0, "

[2017-04-19 08:02] pawel-lmcb commented on #1054
FYI you have a similar bug in glances_percpu.py in self.get_alert(cpu[stat], header=stat)))

For some reason self.stats is also a collection of dictionaries + strings.

I'm pretty new to python, but something like iterating through that list and just appending the dictionaries to a new list and swapping that out appears to stop the crashing.

I'm sure that it's not the most efficient solution thou

[2017-04-19 08:03] pawel-lmcb commented on #1054
Talking about this guy here
https://github.com/nicolargo/glances/blob/master/glances/plugins/glances_percpu.py#L109

[2017-04-21 18:31] arudat opened #1082 "No data in influxdb"
#### Description
I installed fresh influxdb and grafana.
I configured glances like
`[influxdb]
host=localhost
user=root
password=root
port=8086
prefix=devops
db=glances
#tags=foo:bar,spam:eggs
`
created glances db in influxdb and set user/password root/root
For my dashboard I used your grafana json
and I start glances with "glances -t 5 --export-influxdb" get no error and glances starts.. but seem

[2017-04-21 18:43] arudat commented on #1082
the default grafana json definition uses localhost as prefix, than it works :) sorry for my fail

[2017-04-21 18:43] #1082 closed

[2017-04-21 19:14] nrapopor commented on #1079
Hi all,

Sorry for bandwidth – I’ve tried the fixed psutil … no luck – I’ve posted the debug level results to the case.
Any thoughts?

Thanks,

Nick

From: Nicolas Hennion [mailto:notifications@github.com]
Sent: Sunday, April 09, 2017 4:23 PM
To: nicolargo/glances <glances@noreply.github.com>
Cc: Nick Rapoport <nrapopor@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nicolargo/gla

[2017-04-21 19:16] giampaolo commented on #1079
Looks like the latest errors are related to glances, not psutil, so the upgrade of psutil solved at least the first original issue (I/O Error).

[2017-04-21 19:19] nrapopor commented on #1079
Thanks … Will wait for an update from @nicolargo

From: giampaolo [mailto:notifications@github.com]
Sent: Friday, April 21, 2017 3:17 PM
To: nicolargo/glances <glances@noreply.github.com>
Cc: Nick Rapoport <nrapopor@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [nicolargo/glances] Sensors plugin error: IOError: [Errno 5] Input/output error (#1079)

Looks like the latest errors ar

[2017-04-28 04:39] aleosd commented on #1068
Installed glances today from `develop` branch. From `statsd.log`:

[code]

[code]

[2017-04-30 16:35] nicolargo commented on #1054
@pawel-lmcb Should be corrected by the latest commit. Can you please test the DEVELOP branch ?

[2017-04-30 18:29] arudat opened #1083 "Geoip support for influxdb"
Hi, any planings for it?

Thanks

[2017-04-30 21:02] nicolargo commented on #1083
Hi @arudat , for the moment GeoIP are not available inside Glances stats. As a workaround, you can use the tag option in the Glances configuration file to set (statically) the geo information.

[2017-04-30 22:39] alexylem opened #1084 "No Offline status for timeouted ports?"
#### Description

Not sure if this is a bug.
I have defined some ports to watch in the config file.
But when a port is not responding, it keeps displaying a blue "Scanning" (forever).
I was expecting something more like a red "Offline".

![image](https://cloud.githubusercontent.com/assets/11017174/25568567/fbf9c046-2e05-11e7-98a9-71ffd690211f.png)
[code]

#### Versions

* Glances v2.9.1 with psuti

[2017-05-01 08:34] nicolargo commented on #1084
It should but it does not work as expected for ICMP request...
I will have a look on it.

For the bonus question, it is a good idea. Can you submit another issue for this enhancement request ?

[2017-05-01 09:40] arudat commented on #1083
hi @nicolargo,

thanks for your input :) but my idea is to track incomming/outgoing ips where they come from.

[2017-05-01 19:10] nicolargo commented on #1084
@alexylem should be corrected by the latest commit on the DEVELOP branch. Can you test it on your system ?

[2017-05-01 20:39] alexylem commented on #1084
👍

![image](https://cloud.githubusercontent.com/assets/11017174/25593895/d9f2e0d6-2ebe-11e7-893d-527f06d1710f.png)
[code]

[2017-05-01 20:42] #1084 closed

[2017-05-01 22:10] ikzjfr0 opened #1085 "GlancesAutoInstall script is not compliant with your system."
#### Description

Trying to install and got this error:
"Sorry, GlancesAutoInstall script is not compliant with your system."

#### Versions
macOs 10.12.4

[2017-05-02 18:48] nicolargo commented on #1085
The GlancesAutoInstall script is only available for GNU/Linux OS. Please open an issue on the official Github repository (https://github.com/nicolargo/glancesautoinstall) and ask for an enhancement.

[2017-05-02 18:48] #1085 closed

[2017-05-05 10:10] arudat opened #1086 "Using glances.conf for export data"
Hi,

it would be nice to configure export data by the main configuration, so that I don't have to set every export target by parameter or that I have one parameter which says "don't start with exports, now". Alternative, if an export  configuration is set in glances.conf, use it on start or ignore by argument

[2017-05-07 13:39] #1054 closed

[2017-05-08 12:53] alexylem commented on #977
Added +1 on this ticket. I monitor several machines and even if one machine goes critical on CPU or Memory, the whole line remains green.
Another (easier?) option would be to show a Counter(s) of ongoing Careful / Warnings / Critical alerts, as an eye-catcher to drill-down. There could be alerts on metrics not displayed in the browser interface (ex: Network, Ports, ...)

[2017-05-10 11:57] nicolargo commented on #977
@alexylem Sorry but we have to refactor the API to make it work... The patch break the compatibility with previous version.

The change will be implemented in Glances 3.0.

[2017-05-14 03:50] mtebbens opened #1087 "Glances is not showing sensors information."
Glances is not displaying any sensor information, although sensors is correctly installed and working.

Glances v2.3 with psutil v3.4.2

$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.2 LTS
Release:        16.04
Codename:       xenial

$ sensors
iwlwifi-virtual-0
Adapter: Virtual device
temp1:        +43.0°C

coretemp-isa-0000
Adapter: ISA adapte

[2017-05-14 08:52] nicolargo commented on #1087
Hi @mtebbens ,

Glances 2.3 is an old version. Best way to solve the issue is uninstall it and reinstall the latest one ([following this procedure](https://github.com/nicolargo/glances#installation)).

Nevertheless, if you do not want to upgrade it, it should work if you have installed the Python Sensors libs:

    pip install https://bitbucket.org/gleb_zhulik/py3sensors/get/tip.tar.gz

[2017-05-14 19:22] nicolargo commented on #1086
Hi @arudat , i do not understand your needs... What the goal of this enhancement request ?

Why don't you create an alias to run glances as you want ?

    alias myglances='glances --export-influxdb'

[2017-05-15 06:39] arudat commented on #1086
Hi Nicolargo,

yes I can do that, but I thought it would be nice to set that if you need many export types, but  perhaps, yes it is too much ;)

[2017-05-15 07:48] vmiimu opened #1088 "unable to install with pip"
works: (sort of)
[code]
doesn't work:
[code]
any ideas?
[code]

[2017-05-17 04:51] mudtoe opened #1089 "Memory Leak"
Recent versions of glances seem to suffer from a memory leak.  Leaving it running for a couple of days will show, on the glances screen itself, glances using more and more memory.

[2017-05-17 15:01] COLABORATI opened #1090 "Easy bash install script fails on Debian 8"
The auto install script ```curl -L http://bit.ly/glances | /bin/bash``` fails on debian 8 - yes, I know one does not use auto-install bash scripts from the internetz - this is just a test system and usually I NEVER use auto install bash scripts because they might not work and leave the system in a f*d state without giving any hint about how to roll back the action, I just needed a quick glance on

[2017-05-17 15:02] COLABORATI opened #1091 "bash auto install script offers no rollback"
it seems like the bash auto install script does not offer any ROLLBACK - something that is really VITAL to any bash installation script. Please add some rollback option, thank you very much!

[2017-05-18 07:53] nicolargo commented on #1089
By default, Glances manages an history of the stats. By default this history is limited to 1 day thanks to the Glances configuration file (see: https://github.com/nicolargo/glances/blob/master/conf/glances.conf#L8). So during one day, the memory will grow up and this is not a memory leak.

Nevertheless, if the memory continue to increase after one day it's a bug...

Can you confirm this last point

[2017-05-18 07:55] nicolargo commented on #1090
Please open this issue on the autoinstallscript Github repo: https://github.com/nicolargo/glancesautoinstall

[2017-05-18 07:55] #1090 closed

[2017-05-18 07:56] nicolargo commented on #1091
Please asks this enhancement request to the autoinstall script repos: https://github.com/nicolargo/glancesautoinstall

[2017-05-18 07:56] #1091 closed

[2017-05-18 10:29] giampaolo commented on #1089
What platform is this on? The most probable candidates for a memory leak are third party deps using a C extension, amongst which psutil. psutil has a suite for checking memory leaks which you may wanna try (GIT clone psutil repo then run `make setup-dev-env && make test-memleaks`)

[2017-05-18 21:20] IanTAtWork opened #1092 "When exporting, uptime values loop after 1 day"
#### Description

When exporting to StatsD/Graphite, the Uptime values being returned by Glances do not reflect the ones in the UI.  Instead they reset to 0 every 24 hours.

I believe this is caused by the use of the seconds property on the timedelta.  In glances_uptime.py, in the  "get_export" function self.uptime.seconds is returned. For timedelta this the seconds part of the difference, but I b

[2017-05-20 09:02] nicolargo commented on #1092
Corrected in the latest commit in the DEVELOP branch.

Thanks for the issue report and solution :)

[2017-05-20 09:02] #1092 closed

[2017-05-21 11:06] CorrectHorseBatteryStapple opened #1093 "Windows standalone mode"
#### Description
Is it possible to run glances in standalone (console) mode on Windows machines?
It seems glances command always defaults to web server mode.

#### Versions

* Glances (glances -V): v2.9.1
* PSutil (glances -V): v5.2.2
* Operating System (lsb_release -a): Windows 7

[2017-05-21 11:15] CorrectHorseBatteryStapple opened #1094 "UnicodeEncodeError when opening page in web browser mode"
#### Description
In windows running glances defaults to web server mode
When web page tries to load nothing shows and console outputs

#### Versions

* Glances (glances -V): v2.9.1
* PSutil (glances -V): v5.2.2
* Operating System (lsb_release -a): Windows 7

#### Logs

  File "c:\program files (x86)\python35\lib\wsgiref\handlers.py", line 138, in run
    self.finish_response()
  File "c:\program f

[2017-05-21 11:15] nicolargo commented on #1093
The respond is no...

... as soon as Microsoft will not deliver a fully Curse's compliant console/terminal with it operating system (like GNU/Linux, BSD, Mac OS and all others OS of the galaxy...), Glances standalone mode will not be available on Windows.

[2017-05-21 11:15] #1093 closed

[2017-05-21 11:18] nicolargo commented on #1094
@notFloran Can you have a look ? (another encoding issue...)

[2017-05-21 11:18] CorrectHorseBatteryStapple commented on #1093
Would it be possible to run it from cmder then? (https://github.com/cmderdev/cmder)

[2017-05-22 21:30] nrapopor commented on #1079
Any thoughts, I did provide the additional info you were asking for (see above comment from from April 10th )

[2017-05-23 18:37] piozylka commented on #1078
problem still exists
i can run glances on localhost but when i try to connect to remote server with glances
`No module named glances_monitor` pops out.
`Traceback (most recent call last):
  File "/usr/bin/glances", line 11, in <module>
    load_entry_point('Glances==2.9.1', 'console_scripts', 'glances')()
  File "/usr/lib/python3.6/site-packages/glances/__init__.py", line 134, in main
    start(co

[2017-05-23 19:17] nicolargo commented on #1078
@piozylka What is your remote Glances version ? (the server)

[2017-05-24 07:33] piozylka commented on #1078
I see what's ur point....
the server is `Glances v2.1.1 with psutil v2.1.1`
and the client `Glances v2.9.1 with psutil v5.2.2`
unfortunetly i cant upgrade glances on all 70 servers (Debian 8 Jessie) because the latest Glances needs python 3.5 or higher
for now latest version of python for jessie is 3.4
so i'll wait for upgrade from  repos
thx for ur help

[2017-05-25 16:34] contactmat85 opened #1096 "Unable to parse ... invalid field format"
Hi everybody!
I have a problem with influxDB and curl. I want new entries stored in a file. I am using something like: `std::string uri = "write?db=" + _database + "&consistancy=all&u=" + _username + "&p=" + _password;

	std::ifstream ifs(file_path);
	std::string concat_data((std::istreambuf_iterator<char>(ifs)),
		(std::istreambuf_iterator<char>()));

	HTTPResponse http_res;
	RemoteEndpoint::send

[2017-05-25 21:41] mholt opened #1097 "Error while initializing the gpu plugin: missing parentheses in pynvml.py"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

We want to use glances in our lab as a system monitor. Our machines have multiple GPUs and we'd really like to see that usage alongside everything else, and I was pleased to see #1

[2017-05-25 22:08] mholt commented on #1097
Reading more closely, I just saw the same error in the middle of that (long) issue I linked to.

Seems that it's just not updated on pip... :confused: https://github.com/jonsafari/nvidia-ml-py/issues/1

Sorry for the noise.

[2017-05-25 22:08] #1097 closed

[2017-05-26 01:18] senorsmile commented on #1033
This exact same bug is happening to me on any newly updated ubuntu 14.04.5 install.  Installing 2.8.0 works fine.  Shall I open a new bug with the same name?

[2017-05-26 08:48] nicolargo commented on #1096
It's Glances issue tracker, not InfluxDB...

[2017-05-26 08:48] #1096 closed

[2017-05-26 09:35] kevintraver commented on #1088
Try escaping the argument with quotes:

`pip install pip install 'glances[action,browser,cloud,cpuinfo,chart,docker,export,folders,gpu,ip,raid,snmp,web,wifi]' --user`

[2017-05-26 13:50] nicolargo commented on #854
First step implemented in the DEVELOP branch

[2017-05-26 13:50] #854 closed

[2017-05-26 21:16] nicolargo commented on #993
Also have a look on https://github.com/asornoso/AMD-GPU-INFO

[2017-05-27 19:10] BirkhoffLee commented on #693
How do I use this if I use the Docker image?

[2017-05-28 15:14] #1086 closed

[2017-05-28 15:15] nicolargo commented on #1088
@vmiimu Any feedback ?

[2017-05-28 16:07] nicolargo commented on #1048
Man page for vcgencmd: http://www.elinux.org/RPI_vcgencmd_usage

Measure clock:

[code]

Memory:
[code]

Temperature (to be added to the sensor module ?)

[code]

[2017-05-31 07:50] nicolargo commented on #1088
@vmiimu Please update your pip version and start again...

    pip install --upgrade pip
    pip install glances[action,browser,cloud,cpuinfo,chart,docker,export,folders,gpu,ip,raid,snmp,web,wifi] --user

[2017-05-31 14:48] nicolargo opened #1101 "Create a Snap of Glances"
#### Description

Snap is an universal package manager for GNU/Linux system: https://snapcraft.io/

The goal is to create a snapcraft.yaml file. Glances is already register and the Glances Snap will be automatically created when the snapcraft.yaml will be pushed on the master branch.

How to create Snap package for Python programs ?

* https://blog.simos.info/how-to-create-a-snap-for-a-python-app-

[2017-06-02 21:32] mackeyja92 opened #1102 "Installing GPU plugin crashes entire glances"
#### Description

after installing the gpu plugin with `sudo pip3 install glances[gpu]` I am no longer able to open glances without it crashing with a `KeyError`. I can however run glances with `glances --disable-gpu` and it works fine.

#### Versions

$ glances -V
Glances v2.10 with psutil v5.2.2
$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.2 LTS

[2017-06-03 07:10] nicolargo commented on #1102
As said in the documentation, the nvidia-ml-py library used by the GPU plugin is only compatible with Python 2. Nevertheless, Glances should not crash and only display a warning message if the plugin is installed and used with Python 3.

I take the action to publish a patch.

[2017-06-03 07:25] #1102 closed

[2017-06-03 07:49] nicolargo commented on #1102
Additionnaly, i just patch the official NVIDIA binding. As NVIDIA do not have a public repository, i create my own one (https://github.com/nicolargo/nvidia-ml-py3) and publish it to Pypi (https://pypi.python.org/pypi/nvidia-ml-py3).

You can try:

   # pip3 install nvidia-ml-py3

The plugin should work...

[2017-06-05 18:25] #1056 closed

[2017-06-05 18:25] nicolargo commented on #876
Is anyone can test the DEVELOP branch. The latest commit should solve the issue...

[2017-06-05 20:24] nicolargo opened #1105 "Take advantage of the PSUtil issue #1025 (Add process_iter(attrs, ad_value))"
The PsUtil issue https://github.com/giampaolo/psutil/issues/1025 (available in PsUtil 5.3 and higher) will simplify the way that Glances iters through the process.

See __get_process_stats function in glances/processes.py

[2017-06-05 21:01] mackeyja92 commented on #1102
Sorry, I must've missed that piece in the documentation about it not being compatible with python3.

I have installed the nvidia-ml-py3 library and it is working now. Looks like some byte data is being stringified instead of decoded. The name is showing as `GPU b'GeForce GTX`.

[2017-06-07 04:13] furkanmustafa commented on #819
I still have the same issue. 10 servers configured, shows up in the list, but I cannot go up/down. Pressing <Enter> works and I can open the first server only.

[code]

[2017-06-07 04:28] furkanmustafa commented on #819
I figured out uppercase `A` and `B` keys do the navigation :/ is this intentional?

In `output/glances_curses_browser.py`, I have imported `curses`, and changed conditions like below, and it worked;

[code]

[code]

[2017-06-12 10:14] ledroide commented on #1087
Same problem here, running Glances v2.10 with psutil v5.2.2 : glances displays no sensors except "battery".
Hddtemp libs are installed, pysensors also, and the utility "sensors" displays correct information about cpu temperature and fan speed.
I have tried "pip install https://bitbucket.org/gleb_zhulik/py3sensors/get/tip.tar.gz" but it makes glances fail at launch, I had to remove it.

[2017-06-13 11:59] grst opened #1106 "glances_network `OSError: [Errno 19] No such device`"
#### Description

Since some time ago glances regularly fails with
[code]

glances runs as usual, then gets aborted with the above error. Once the error occured, I cannot restart the program, it will immediately fail with the above error. I have not observed a clear pattern yet, but the only device that I have been plugging in and out are (1) my charger (2) a USB drive (3) a USB mouse.

#### Versi

[2017-06-13 12:35] nicolargo commented on #1087
@ledroide Glances 2.10 do not use anymore the Py3sensors plugin. It uses the PsUtil sensors functions available in the version 5.2 or higher.

So you need to upgrade youe PSUtil lib:

    sudo pip install --upgrade psutil

It should solve your issue.

[2017-06-13 12:45] ledroide commented on #1087
@nicolargo : psutil is the latest version, already checked :
`Requirement already up-to-date: psutil`
[code]
![image](https://user-images.githubusercontent.com/22596052/27082899-d82e1df2-5046-11e7-9341-e0d209cadb95.png)

[2017-06-13 13:06] nicolargo commented on #1087
@ledroide : can you send me the result of the following command line:

    $ python

Thanks

[2017-06-13 13:28] ledroide commented on #1087
@nicolargo : tried  with python 2.7 and python 3.5, I get the same **No such device** error regarding function _sensors_temperatures_
[code]
Meanwhile, believing the _sensors_ utility :
[code]

[2017-06-13 13:30] grst commented on #1106
I nailed it down: it's the charger.

[2017-06-13 13:32] nicolargo commented on #1087
Looks like a PsUtil issue... @giampaolo what do you think ?

[2017-06-13 18:22] nicolargo commented on #1106
Corrected in the latest commit.

Can you test the DEVELOP branch ?

[2017-06-13 18:22] #1106 closed

[2017-06-13 18:28] grst commented on #1106
works :)
Thank you!

[2017-06-13 18:52] GoMapur commented on #939
Hi the simple Python client to subscribe to the Glances stats does not print out anything. I'm trying to find out why now.

[2017-06-13 19:02] giampaolo commented on #1087
OK, I should have fixed this:
https://github.com/giampaolo/psutil/issues/1101

[2017-06-13 19:07] nicolargo commented on #1087
Thanks @giampaolo !

[2017-06-13 19:07] #1087 closed

[2017-06-13 20:13] GoMapur commented on #939
Hi I solved the issue and created a pull request.

[2017-06-14 22:21] mudtoe commented on #1089
Sorry for taking so long to respond.  I'm using Arch Linux, and it's happened on several kernel versions.  I'll have to check to see if it grows beyond 24 hours, but it's using about 100mb of memory after a couple of days.  Would stats history ever use that much?   I'll make some screen shots and post the results.   I'm running glances 2.10 with version 5.2.2 of PSutil.

[2017-06-15 06:05] aftabnaveed opened #1109 "Submit data to a webhook"
Sorry, this is not a bug, but a question about a feature which I am not sure if it exists or not. I want to use glances as an agent like Newrelic which sends data to a webhook periodically. Is it something it can be used for? I reckon it is something which can be achieved through Actions.

A command collects all the stats in real time, and then post that to a webhook. I found this here http://glan

[2017-06-15 16:56] jamesacoughlin commented on #1109
You can use those action lines to call curl, and use that to send the data to a webhook. I do this to get alerts sent to slack channels.

However, this will only send data if the pre-defined events mapped to those actions are triggered (i.e. if memory utilization crosses the critical threshold, then the [mem] critical_action line will be run). If you're hoping to send data periodically a la an exp

[2017-06-15 18:40] aftabnaveed commented on #1109
CSV sounds like an option. I may use a cron to collect data from CSV and post it to the webhook. How huge the file gets?  Is it even a better idea to do it like every 2 to 5 minutes?

[2017-06-16 11:32] soliverprofesional opened #1110 "ImportError: No module named influxdb"
Fedora release 25 (Twenty Five)
Linux atsoliver.atsistemas 4.11.3-200.fc25.x86_64 #1 SMP Thu May 25 19:03:07 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

Glances v2.5.1 with psutil v4.3.0

[root@atsoliver etc]# glances --export-influxdb
Traceback (most recent call last):
  File "/usr/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.5.1', 'console_scripts', 'glances')()
  File "/usr/l

[2017-06-16 20:01] nicolargo commented on #1109
@aftabnaveed i do not understand your need. You said that ou want to export Glances stats to a "webhook". What is it ? What format is accepted by this "webhook" ? What protocol ?

[2017-06-16 20:04] nicolargo commented on #1110
@soliverprofesional as said in the documentation, you need the Python InfluxdDB lib to export Glances stats to an InfluxDB database.

    # sudo pip install influxdb

Note: you Glances version (2.5.1) is old and deprecated... Please install the new version... by reading the doc ==> https://github.com/nicolargo/glances#glances---an-eye-on-your-system

[2017-06-16 20:04] #1110 closed

[2017-06-16 21:13] aftabnaveed commented on #1109
@nicolargo I figured out, let me try to explain what I wanted to achieve and how I did it.

We have about 20 EC2 instances running at a time on AWS, with auto scale enabled. Every time when a new instance is rolled out running glances in Server/Client mode would require us to register that.

Instead, I want when the new server is provisioned from a template it already has glances configured and st

[2017-06-17 20:28] roessland commented on #985
I had the same problem using --export-prometheus, and fixed it using --disable-ip.

[2017-06-18 09:13] hflamboauto1 commented on #750
Having same problem here
[code]

Errors on logs

[code]

Errors show up even with
[code]
I will investigate on my own but would like to keep track on this and ask for any advice.

Thanks for this nice tool. Cheers

[2017-06-18 09:17] hflamboauto1 opened #1111 "glances influxdb export issues (docker + sensor stats)"
[code]
Errors on logs
[code]
Errors show up even with
[code]

On influx side i can see:

[code]

all other are 204
[code]
this makes me believe that there's a problem with the format written to influxdb for those metrics.

I will investigate on my own but would like to keep track on this and ask for any advice.

Thanks for this nice tool. Cheers

[2017-06-18 09:31] hflamboauto1 commented on #1111
docker error solved by **upgrading docker-py** .

[code]

Now only sensors problem persist .. but maybe is it not osx related ? I will try on laster linux.

[code]

[2017-06-18 09:36] hflamboauto1 commented on #1111
Yup that's it. Thanks. Maybe this output could be disabled based on platform.

http://glances.readthedocs.io/en/stable/aoa/sensors.html[

[2017-06-18 09:36] #1111 closed

[2017-06-19 02:31] mudtoe commented on #1089
OK, I've completed my tests on glances.  nicolargo, you are correct in that glances only increases memory usage for 24 hours, and then it stabilizes.  That's the good news.  The bad news is that the increase in memory usage is "reserved" memory, which I believe means it can't be swapped.   In my test glances starts out with about 34mb of reserved memory, and after a day it's about 180mb of reserve

[2017-06-20 21:00] redjoe opened #1112 "GPU plugin. <class 'TypeError'>:b'GeForce GTX 1070' is not JSON serializable">"
Bug: Try get all the stats from API. Glances run as server side. I have gpu nvidia 1070.
[code]
And in standalone mode, see:
[code]
#### Steps

- Install glances.
sudo pip3 install glances

- Update psutil.
sudo pip3 install --upgrade psutil

- Add support GPU plugin.
sudo pip3 install nvidia-ml-py3

- start:
glances -s

- run python3
[code]

#### Versions

- Glances (glances -V):
`Glances v2.10 w

[2017-06-21 15:59] Wilkolicious commented on #1089
This is glances (Glances v2.1.1 with psutil v5.0.1) running since about 5pm yesterday on a production server:
![screen shot 2017-06-21 at 16 54 06](https://user-images.githubusercontent.com/16191979/27394008-ab367fee-56a2-11e7-9391-004224c4864d.png)
with `history_size=400` in `/etc/glances/glances.conf`

[2017-06-21 19:48] nicolargo commented on #1112
Another boring encoding issue with Python 3...

In Python 2:

[code]

In Python 3:

[code]

[2017-06-21 19:55] nicolargo commented on #1112
Should be corrected by the latest commit. @redjoe please can you test the DEVELOP branch ?

Thanks !

[2017-06-21 22:08] redjoe commented on #1112
Now all works fine.
@nicolargo Thank you!

[2017-06-21 22:08] #1112 closed

[2017-06-22 08:07] Wilkolicious commented on #1089
Hmm, found glances stopped in my tmux session with "Killed", so must've died last night...

[2017-06-22 14:27] Wilkolicious commented on #1089
Glances v2.10 with psutil v5.2.2 with `history_size=400` (ran from `glances -w -C /etc/glances/glances.conf`) running for the past 6h18m:
![screen shot 2017-06-22 at 15 25 07](https://user-images.githubusercontent.com/16191979/27439141-170e46f4-575f-11e7-93fe-e1b98ad402f6.png)

You have a memory leak laddie.

[2017-06-22 14:35] mrmcox opened #1113 "Cant move up or down in glances --browser"
Hi All,

I am running the latest release of Glances on Ubuntu 16 and all is working great expect that in browser mode I cannot move the cursor down the list of servers meaning I can only expand the details of the first one in the list.

Setup overview
WIndows Server 2012R2 --->Hyper V UbuntuVM---->Glances install.

My access is via the Hyper V remote console window.

Any help would be great.

[2017-06-23 19:40] nicolargo commented on #1113
Hi @mrmcox ,

first of all thanks for the issue report.

Please can you run glances in debug mode (glances -d --browser) and [paste/bin](https://pastebin.com/) us the /tmp/glances-<user>.log file ?

[2017-06-24 16:55] nicolargo commented on #1101
First step done with basic lib: PsUtil and Bottle

[2017-06-25 07:49] redjoe commented on #1094
Versions
Glances (glances -V):
`Glances v2.10.1_DEVELOP with psutil v5.2.2`

Operating System (lsb_release -a):
`No LSB modules are available. Distributor ID: Ubuntu Description: Ubuntu 16.04.2 LTS Release: 16.04 Codename: xenial`

Browser:
Firefox 54.0

GET Request:
[code]

Log:
[code]

[2017-06-25 08:12] nicolargo commented on #1101
Solved by removing the PsUtil parts (already included by the Glances requirements.txt file).

[2017-06-25 08:25] nicolargo commented on #1094
@redjoe Thanks for this complete issue report on the DEVELOP branch ! @notFloran Can you have a look, the issue is still existing after your WebUI refactoring.

[2017-06-25 14:58] nicolargo commented on #1089
@mudtoe You can use the history_size in the configuration file to reduce the memory used by Glances.

[code]

Note: the history_size value *do not* set the maximum memory size but the number of values stored in the memory -used by the graph output plugin) ?

[2017-06-26 01:30] mudtoe commented on #1089
Yes, from your previous post I got that.  My only remaining point was wondering why keeping stats would require reserved memory that couldn't be swapped.  If the memory glances was using for that wasn't non-swappable, then there would be no issue on low memory systems, as it could be swapped as needed.

I'm not a Linux programmer, but I was for many years an IBM mainframe developer (I worked in as

[2017-06-26 05:06] ghost opened #1116 "Enable/disable per plugin alert from the command line"
#### Description
Load on Linux and BSD are different things, high load on BSD does not means high CPU load.
I found an article describes the load in detail.
http://undeadly.org/cgi?action=article&sid=20090715034920

The picture below is glances running on my vps, the load looks high, but it does not run anything heavy.
There is a system overloaded warning at the bottom, maybe it's good to disable

[2017-06-26 14:52] kyle-mccarthy commented on #1097
I get the same error when installing with `wget -O- https://bit.ly/glances | /bin/bash`

[2017-06-26 21:14] nicolargo commented on #1101
Glances snap is published: https://dashboard.snapcraft.io/dev/snaps/7881/

[2017-06-26 23:36] rozenshtein opened #1117 "not installing to macOS via pip"
#### Description

Pip installation fails on macOS
#### Versions

* Operating System (lsb_release -a): OS X 10.12 and up

[2017-06-27 13:37] mrmcox commented on #1113
[glances-ubuntuadmin.txt](https://github.com/nicolargo/glances/files/1105426/glances-ubuntuadmin.txt)
Please find requested log attached as .txt file.

Thanks all.

[2017-06-27 19:09] nicolargo commented on #1116
Hi @outoftheloopxa , first of all thanks for this information about how load is computed on BSD systems. If i understand your need, i see two solutions:

1) the first one without any patch on the Glances code by configuring load's thresholds to "very" high values in the Glances configuration file:

[code]

2) Wait for the development of a new Glances function to disable alert for a specific plugin

[2017-06-27 19:14] nicolargo commented on #1117
Not easy to investigate with this kind of issue report...

Please copy/paste the error message.

[2017-06-27 19:19] nicolargo commented on #1113
Two additional questions:

- what is the version of your Glances running on servers 10.14.2.4 and 10.14.2.7 ?
- Is the Glances TCP/61209 port open between your client and yours servers ?

[2017-06-27 23:05] rozenshtein commented on #1117
Its likely to be  caused by system integrity protection. Same with or without sudo

     creating /System/Library/Frameworks/Python.framework/Versions/2.7/share
    error: could not create '/System/Library/Frameworks/Python.framework/Versions/2.7/share': Operation not permitted

    ----------------------------------------
Command "/usr/bin/python -u -c "import setuptools, tokenize;__file__='/priv

[2017-06-28 04:00] outoftheloopxa commented on #1116
1. Thank you for the tip, I didn't notice there is a configuration file, this is useful.

2. This one is also convenient for those who don't want to change the configuration file.

[2017-06-28 08:48] mrmcox commented on #1113
Hi,

Below is the version output of both the servers. All ports are open internally between the boxes.
10.14.2.7
Package: glances
Status: install ok installed
Priority: extra
Section: utils
Installed-Size: 800
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Architecture: all
Version: 2.6.2-2
Depends: adduser, libjs-angularjs, libjs-lodash, lsb-base, python3-pkg-resources, pyt

[2017-06-28 10:08] Akrasia opened #1118 "[Bug]: fs data not exporting to influxdb"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

When running C:\Python27\python.exe -m glances --export-influxdb
No data is ever exported to influxdb regarding fs.

The measurements and fields are created however just never popu

[2017-06-28 10:21] Akrasia commented on #1118
Okay, found out data _IS_ being exported.. HOWEVER due to the way drives are named its very hard to get any data from them due to special characters.

[2017-06-28 19:53] nicolargo commented on #1118
Hi @Akrasia , thanks for the issue report.

Glances can not change the key name, the FS key is the drive letter (C:\ for Windows). Have you tried to add quote to your API request: "C:\" ? (have a look on the InfluxDB issue comment: https://github.com/influxdata/influxdb/issues/6011#issuecomment-196547163)

[2017-06-28 20:42] karlbateman opened #1119 "Fedora 25 docker issues"
#### Description

I am trying to launch `glances` on Fedora 25 amd64 but I'm getting the following error.

[code]
Docker has been installed with `curl -sSL 'https://get.docker.com' | sh`.

#### Versions

[code]

[2017-06-29 06:18] Akrasia commented on #1118
Influxdb seems to have a lot of issues if slashes or other non-word characters are in the key ([a-zA-Z0-9_]).

The proper command should be:

`influx -execute 'select "C:\\.used" FROM fs'` <--returns nothing

However the character for "ALL" works.

`influx -execute 'select * FROM fs'` <---returns all keys, showing that data is saved... just not accessible individually

Solution?:
Refrain from usin

[2017-06-29 08:59] mrmcox commented on #1076
running browser as a web server would be awesome. then Glances could be accessed from an office windows PC and provide an over view of many other boxes.

[2017-06-30 05:49] aftabnaveed commented on #1109
@nicolargo does that description help or you think I should add some more description and be clear about my requirements?

[2017-06-30 16:28] nicolargo commented on #1119
Please upgrade your Glances and Docker-Py version.

If you have install Glances through Pipy, just enter the following command:

    pip install --upgrade docker
    pip install --upgrade glances

[2017-06-30 16:28] #1119 closed

[2017-07-01 13:33] nicolargo commented on #1109
@aftabnaveed  Let me summarize. You want a kind of proxy between your Glances servers (hosted on AWS) and backend such as NoSQL database.

For the moment, Glances browser mode only accept new client coming from Zeroconf (local network only) and static configuration file. To do what you want, Glances browser mode as to be modify to accept incoming requests from external Glances server (pushed by Gl

[2017-07-02 19:38] nicolargo commented on #867
@nicolasvilchez Can you try the latest Glances release ?

[2017-07-03 15:50] desbma commented on #1089
@mudtoe: Reserved memory **can be swapped**.

"reserved" in this context only means theses are private memory pages for a process, and not shared pages like dynamic libraries than can be used by other processes.

[2017-07-03 15:53] desbma commented on #1089
If you care about memory use, you might want to try the [Pypy interpreter](https://pypy.org/) (which glances supports), which is known to be both faster and having a smaller memory footprint than Cpython for long running processes.

[2017-07-04 03:01] MichaelMa2014 opened #1120 "PermissionError on macOS"
#### Description

After running for a while, glances will crash on a PermissionError. This is different from issue [#885](https://github.com/nicolargo/glances/issues/885) because it does not crash immediately when starting.

#### Versions

* Glances (glances -V): Glances v2.10
* PSutil (glances -V): psutil v5.2.2
* Operating System (lsb_release -a): macOS Sierra 10.12.5 (16F73)

#### Logs

[code]

[2017-07-04 05:21] aftabnaveed commented on #1109
Sorry for not been very clear about my requirements. I think I now know what I am looking for. Let me explain...

I understand Glances have a few modes (web server, and standalone etc), but I want it to work like a monitoring agent such as Newrelic. I also see there are quite many glances export plugins such as Elasticsearch, InfluxDB, and CSV etc.

Therefore, I would like to replace Newrelic agen

[2017-07-04 12:41] Simplenuity commented on #1037
Thanks for taking the time to consider and respond.

[2017-07-05 08:18] mrmcox commented on #1113
Hi @nicolargo any further thoughts on this one?

Thanks for the help so far!

[2017-07-06 15:59] mrmcox opened #1121 "New Feature - Web Based browser function"
To be able to view the glances --browser window via a web page like when using glances -w. This would allow for a central point, web based, to monitor all  glances servers from a single point eg I can see all my servers from my windows desktop in a remote office via a web browser page.

Thanks

[2017-07-07 18:35] nicolargo commented on #1120
@giampaolo: what do you think ?

[2017-07-07 18:44] nicolargo commented on #1121
For developers, two actions to implement this new feature:

- Glances core: add a new --browser for the -w mode (add to wait the refactor of the code ==> Glances 3.x)
- Glances core (API): add a new entry point in the Web API to be able to retrieve server list
- Glances Web GUI: add a new page to display server list + link

[2017-07-07 18:50] mrmcox commented on #1121
Thanks @nicolargo

Not a developer myself unfortunately but hopefully one of the more skilled than me can get this going. I reckon it will be a popular feature for sure!

[2017-07-07 23:12] rozenshtein commented on #1117
#1117 is the same issue, but with better info

[2017-07-07 23:12] #1117 closed

[2017-07-07 23:16] rozenshtein commented on #1120
I found a workaround. **you need to install brew version of python to have no problems.** But at the same time most pip packages are successfully installed under built-in python, and supporting unofficial version isn't right way. Also **pip install glances --user ** works due to reports I found online. At least documentation needs to be updated, but its a workarounds

[2017-07-08 03:00] giampaolo commented on #1120
I remember I've seen a similar issue already. I am not sure why it happens but it's a psutil bug, because I would expect `psutil.AccessDenied`, not `PermissionError`.

[2017-07-08 08:58] nicolargo commented on #1121
@mrmcox You are not the first one asking this feature.

I will try to implement it in the next release (aka Glances 2.11) without waiting for the code refactoring. Is @nclsHart or @notFloran available to implement the Web GUI parts ?

[2017-07-08 09:01] nicolargo commented on #1120
@giampaolo  Ok waiting for the PSUtil patch. I will add a psutil.AccessDenied catch on my side.

Thanks for the report.

[2017-07-08 09:06] nicolargo commented on #1120
Done in the DEVELOP branch.

PS: Need the PsUtil version correcting the issue.

[2017-07-08 09:06] #1120 closed

[2017-07-08 09:09] MichaelMa2014 commented on #1120
Thanks a lot for the quick response. You guys are amazing!

[2017-07-08 11:03] nicolargo commented on #1121
@notFloran / @nclsHart : I just push a new branch (https://github.com/nicolargo/glances/tree/issue1121) with the Glances core update. The API now give the servers list:

$ glances -w --browser

$  curl http://0.0.0.0:61208/api/2/serverslist
[{"username": "glances", "status": "ONLINE", "mem_percent": 50.6, "name": "localhost", "cpu_percent": "3.9", "ip": "127.0.0.1", "load_min5": "0.17", "alias": "

[2017-07-09 16:11] rollenwiese commented on #1113
I have this issue as well. Arch Linux, Glances v 2.10. Client/Server communication works fine, no other issues. The cursor keys don't function in browser mode. I tried in both rxvt-unicode and termite. It seems to register the cursor keystroke, but no action is taken. Only Enter and 'q' seem to do anything.

    2017-07-09 12:09:10,404 -- DEBUG -- Keypressed (code: [259, -1])
    2017-07-09 12:09:

[2017-07-09 16:31] nicolargo commented on #1113
Bug reproduced.

Try to work on it as soon as possible.

@ all : thanks for the report !

[2017-07-09 16:37] rollenwiese commented on #1113
You can still use browser mode, but the keys it's listening for are 'A' (65) and 'B' (66) instead of the cursor keys. In glances_curses_browser.py:

    elif self.pressedkey == 65:
    # 'UP' > Up in the server list
    self.cursor_up(servers_list)
    elif self.pressedkey == 66:
    # 'DOWN' > Down in the server list
    self.cursor_down(servers_list)

[2017-07-09 16:45] nicolargo commented on #1113
@rollenwiese Thanks for the workarround !

[2017-07-09 16:50] nicolargo commented on #1113
Ok corrected by the latest commit on the DEVELOP branch.

Will be available in Glances 2.11.

Thanks again.

[2017-07-09 16:50] #1113 closed

[2017-07-09 16:53] rollenwiese commented on #1113
@nicolargo no problem, thank you!

[2017-07-10 08:37] mrmcox opened #1122 "CPU Usage, what should I expect?"
Hi All,

Just a quick one. When I am running glances in server mode ( --glances -s -B 111.111.111.111) what sort of CPU usage should I see from the local box? Currently I am running at between 10-20% but tend to hover around 13-16%.

Any tips to get this reduced but maintain getting useful perf data out? No point turning everything of and saying, great, less CPU but no data!

Thanks.

[2017-07-12 09:29] unixbhaskar opened #1123 "Fedora 26 and getting this error ..installing glances"
#### Versions

* Glances (glances -V): Glances v2.7.1 with psutil v5.0.1
* PSutil (glances -V): Glances v2.7.1 with psutil v5.0.1
* Operating System (lsb_release -a):
bhaskar@Fedora_14:57:57_Wed Jul 12:~>lsb_release -a
LSB Version:    :core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-noarch:languages-4.1-amd64:languages-4.1-noarch:printing-4.1-amd64:printin

[2017-07-12 21:31] nicolargo commented on #1122
You have two configuration key.

One for the client side where you can set the refresh time to 10 seconds (for example, default is 3 seconds) using the '-t 10' option.

Another one on the server side to set the cache delay (the stats will not be refreshed during this delay). The default value is 1 second. To set it to 10 seconds, use the '--cached-time 10' option.

[2017-07-12 21:34] nicolargo commented on #1123
Hello,

as said in the documentation:

*Note: Python headers are required to install psutil. For example, on Debian/Ubuntu you need to install first the python-dev package. For Fedora/CentOS/RHEL install first python-devel package. For Windows, just install psutil from the binary installation file.*

REJECTED cause: RTFM

[2017-07-12 21:34] #1123 closed

[2017-07-14 11:47] JacobMMiller opened #1124 "Creating Export Files."
I need a way to export all of the information to a CSV file when I need the info. Can someone help me out?

[2017-07-14 16:58] nicolargo commented on #1124
Read the ... manual: http://glances.readthedocs.io/en/stable/gw/csv.html

[2017-07-14 16:58] #1124 closed

[2017-07-14 16:59] nicolargo commented on #1124
REJECTED: not a bug.

[2017-07-14 21:51] nicolargo commented on #1048
No current consumption...

[2017-07-14 21:52] nicolargo commented on #867
@nicolasvilchez Any head up ?

[2017-07-15 08:09] #1101 closed

[2017-07-15 08:13] nicolargo commented on #1121
@notFloran Do you have some availability to work on this new feature ?

[2017-07-15 08:35] notFloran commented on #1121
@nicolargo I will try to do it at the beginning of next week

[2017-07-15 17:27] paranoicogm commented on #1101
KDE Neon 5.10.3 Kernel 4.8.0-58-generic

`sudo snap install glances
` OK

`sudo glances` or `sudo snap run glances` FAIL

`Warning: Unable to set locale. Expect encoding problems.
/snap/glances/1/lib/python3.5/site-packages/psutil/_pslinux.py:502: RuntimeWarning: 'sin' and 'sout' swap memory stats couldn't be determined and were set to 0 ([Errno 13] Permission denied: '/proc/vmstat')
  warnings.wa

[2017-07-17 13:34] notFloran commented on #1121
@nicolargo I made a first draft of the feature if you want to test: https://github.com/notFloran/glances/tree/issue1121-webui

[2017-07-17 13:58] notFloran commented on #867
No changes with PsUtil 5.2.0  and the develop branch.

And when I try to get data manually:

[code]

[2017-07-18 09:07] mrmcox commented on #1121
@notFloran HI, I have updated my glances code with your first draft, how do I now set glances and then access the browser page?

[2017-07-18 14:05] notFloran commented on #1121
I use the following command: `LANGUAGE=en_US.utf8 ~/glances-venv/bin/python -m glances -w --browser -C ~/glances.conf`

You must change the args to match your needs.

And the browser page is available at the following URL: http://0.0.0.0:61208/browser

[2017-07-18 15:06] mrmcox commented on #1121
Thanks.
Whats the -m switch doing?

When I run the following command "glances -w --browser" and go to the url you quoted from a browser on the local glances box I get unable to connect message. Any tips?

[2017-07-18 16:45] notFloran commented on #1121
No idea, I get the command from the wiki: https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version#run-the-glances-develop-version

[2017-07-18 18:09] hjgarron commented on #1058
My glances docker instances stopped showing the containers info. Upgrading the docker-py lib as stated above fixed it. I am running on Ubuntu 16.04 with all updates and the latest ubuntu package of docker.io (ubuntu version, not the docker-engine from Docker)

This is how I did it:

[code]

[2017-07-19 06:04] nicolargo commented on #1121
Hi all,

@notFloran your implementation should work:

![selection_334](https://user-images.githubusercontent.com/776747/28352599-b9b2bcac-6c57-11e7-832c-70e62a1d2e77.png)

but i made a mistake on my side...

The result returned by the API give the list of XML-RPC server, not the list of WEB Server, so when i click on the connected server (green one), i have this message:

![selection_335](https://

[2017-07-21 08:08] JMY1000 commented on #953
@nicolargo Has a dedicated AMP been implemented yet? On my DL580 G5, I'm not showing any sensors (including the CPU temps or fans), despite `sensors` showing the temps of the ISA adapters.

[2017-07-22 00:39] jcz14 opened #1126 "Unable to give aliases to or hide network interfaces and disks"
#### Description
I am unable to give aliases to or hide network interfaces using the global configuration file due to their names being truncated in the sidebar. In addition, I am unable to give aliases to network interfaces with spaces in their name.
![glances-sidebar](https://user-images.githubusercontent.com/14078374/28486824-7018a8aa-6e3b-11e7-851e-62dc16e032c2.png)
#### Versions
* Glances: 2.

[2017-07-22 13:46] nicolargo commented on #1126
Have you try to backslash the space or use the \s.
Glances use regular expression: https://stackoverflow.com/questions/559363/matching-a-space-in-regex

[2017-07-22 13:54] nicolargo commented on #1121
Another issue... The current version of Glances generate the server list with both static and dynamic RPC server but not dynamic Web server. So i have to change the way the list is build and add a dynamic message (different from the RPC one) when the Web server is started. Last but not list i have to change the way that stats are updated in the web server list (replace XML RPC request by Restful A

[2017-07-22 16:40] jcz14 commented on #1126
I was able to get the full name of the network interfaces and disks through PSutil. Using `\s` in place of spaces allows me to match network interfaces to be hidden but does not allow me to give them aliases. For example `Ethernet\s1_alias=Eth1` does not take effect.

[2017-07-23 13:25] nicolargo commented on #1126
@jcz14 In Glances configuration file regexp are only available for the value. The following configuration should work (hide Ethernet 2 and alias Ethernet 1):

    [network]
    Ethernet 1_alias=Eth1
    hide=Ethernet\s2

Perhaps the problem cam from the case sensitive.

Please can you start Glances in debug mode (-d) and send us back [the log file](http://glances.readthedocs.io/en/stable/config.ht

[2017-07-23 16:23] jcz14 commented on #1126
Adding the directives you provided doesn't hide Ethernet 2 or alias Ethernet 1. [Here](https://pastebin.com/pKZ1YbY5) is the log file.

[2017-07-24 06:49] nicolargo commented on #1126
Ok reproduce and solve in the dev branch !

Can you test it ?

[2017-07-24 09:08] mrmcox commented on #1121
Ah, very sad times. I was looking forward to seeing this sooner rather than later. IT would be great for our current environment.

Hopefully glaces 3.0 wont be too far off?

Thanks to @nicolargo and @notFloran for all the work so far, great job guys.

[2017-07-24 15:27] jcz14 commented on #1126
The disk alias takes effect but network interface aliasing still does not work. In addition, network interface hiding stopped working when I installed the scripts under the dev branch. No changes were made to the configuration file.

[2017-07-25 16:52] nicolargo commented on #1126
@jcz14 Can you copy the contain of your Glances conf file ?

[2017-07-25 20:46] mark9064 opened #1127 "InfluxDB Exporting giving cannot export errors"
Running glances exporting to an InfluxDB and I think that no data is being written to the database. The DB definitely exists but glances produces lots of errors and Grafana says the data source is working but then complains about no data points on the glances dashboard. Glances is being run with "glances --export-influxdb -C ~/glances.conf -q" and the configuration file consists of:

[influxdb]
ho

[2017-07-25 20:54] badgamernl commented on #1127
@mark9064 Just use [netdata](https://github.com/firehol/netdata)

[2017-07-26 08:39] mark9064 commented on #1127
I started glances today with -d and here is the log for that:
2017-07-26 08:37:07,808 -- INFO -- Start Glances 2.5.1
2017-07-26 08:37:07,808 -- INFO -- CPython 2.7.3 and PSutil 3.3.0 detected
2017-07-26 08:37:07,811 -- INFO -- Read configuration file '/root/glances.conf'
2017-07-26 08:37:07,811 -- INFO -- Start standalone mode
2017-07-26 08:37:07,877 -- DEBUG -- Available plugins list: ['load', 'h

[2017-07-26 13:59] mark9064 commented on #1127
Do I need any other of the influx products such as telegraf or kapacitor? I feel that some compatibility/transfer layer is missing. I have opened all of the necessary ports that I can see such as 8086 but the machine will block all requests unless I have opened the port manually which could be causing these errors.

[2017-07-26 14:06] nicolargo commented on #1127
Hi @mark9064 ,

Glances 2.5.1 will never works with InfluxDB 1.3.1 (the InfluxDB has been change).

Please upgrade your Glances version (to the latest one Glances 2.10) AND update your influxDB lib (https://pypi.python.org/pypi/influxdb to 4.1 or higher).

Nicolas

[2017-07-26 16:29] LGD-Fr opened #1128 "`UnicodeDecodeError` on mountpoints with non-breaking spaces"
#### Description

While an external HDD of mine, with a NTFS partition named `HDD TOURO LGD` (with non-breaking spaces, of course non-ASCII) is connected to my PC (running Fedora 25 on x86_64) and its filesystem automatically mounted on `/run/media/lgd/HDD TOURO LGD`, when I run `glances`, I only see the traceback written lower (`UnicodeDecodeError…`), and the software exits with the status `1`.

[2017-07-26 17:14] kentonbmax opened #1129 "New export plugin: standard and configurable Restfull exporter"
Provide the ability to post glances json data to restful endpoint.

[2017-07-26 20:10] mark9064 commented on #1127
Thank you for the reply @nicolargo
There is now data in the database (checked with "influx" "use glances" and "select * from cpu") :smile:
However grafana complains about no data points
![screenshot from 2017-07-26 21 08 50](https://user-images.githubusercontent.com/30447455/28641310-a910ebf4-7246-11e7-880e-a5d962b84e5f.png)
![screenshot from 2017-07-26 21 09 24](https://user-images.githubusercont

[2017-07-26 20:11] mark9064 commented on #1127
Sorry i was useing the wrong time period XD

[2017-07-26 20:18] nicolargo commented on #1129
Post to what kind of endpoint, which API ?

[2017-07-26 20:40] mark9064 commented on #1127
I though the issue was fixed, but it has returned. I re-made the database to start fresh and now grafana still says no data even when there is data in the db! This is using the glances dashboard you created

[2017-07-26 20:48] nicolargo commented on #1127
Check the Grafana log, but it is not a Glances issue...

[2017-07-26 20:48] #1127 closed

[2017-07-26 20:54] mark9064 commented on #1127
ok thank you for the help

[2017-07-27 13:00] nicolargo commented on #1128
Simple question, how can i set the name of an USB key with non-breaking spaces on my Ubuntu system ?

[2017-07-27 13:02] nicolargo commented on #1128
Nevermind, it's alt Gr + space...

[2017-07-27 13:09] nicolargo commented on #1128
@LGD-Fr Should be corrected in the latest commit (on the DEVELOP branch).

Correction will be merged in the master branch for the next version (Glances 2.11).

Thanks for the issue report.

[2017-07-27 13:09] #1128 closed

[2017-07-27 13:26] #1122 closed

[2017-07-27 13:30] nicolargo commented on #1116
The second solution will be implemented in Glances 3.0.

I just rename the issue.

[2017-07-27 13:33] nicolargo commented on #1129
@kentonbmax is your need the same that the one describe in issue https://github.com/nicolargo/glances/issues/1109 ?

[2017-07-27 13:40] kentonbmax commented on #1129
Yes it looks to be the same.

On Thu, Jul 27, 2017 at 9:34 AM, Nicolas Hennion <notifications@github.com>
wrote:

[2017-07-27 13:51] nicolargo commented on #1109
Implementation of a standard and configurable restful exporter will be done in issue https://github.com/nicolargo/glances/issues/1129

[2017-07-27 13:51] #1109 closed

[2017-07-27 13:53] nicolargo commented on #1129
Example:

[code]

[2017-07-27 14:01] nicolargo commented on #1129
Will try to implement it for the next release (Glances 2.11).

@kentonbmax / @aftabnaveed  can you test it when the development will be ready ?

[2017-07-27 15:32] kentonbmax commented on #1129
yes

On Thu, Jul 27, 2017 at 10:01 AM, Nicolas Hennion <notifications@github.com>
wrote:

[2017-07-27 15:50] aftabnaveed commented on #1129
Yes

[2017-07-27 16:07] LGD-Fr commented on #1128
Thanks!

[2017-07-27 21:17] nicolargo commented on #1129
I have made a first implementation, nevertheless i am not sure that the way data are exported by Glances fill yours needs. For the moment, each plugins(CPU, MEM, DISK, NETWORK...) export the stats individually. So, for the new Restful exporter, you will have one POST message per plugin. I can not change the global Glances architecture only for this exporter, so i can not export all the stats in on

[2017-07-27 22:16] jcz14 commented on #1126
[Here it is.](https://pastebin.com/ty0wjRHD)

[2017-07-30 09:13] nicolargo commented on #1129
@kentonbmax / @aftabnaveed The feature is available in the DEVELOP branch, it implement a single JSON POST to an endpoint define in the configuration file.

All the explanations are in the export module documentation: http://glances.readthedocs.io/en/develop/gw/restful.html

For the validation, i use this simple Python Restful server: https://github.com/nicolargo/pythonarena/blob/master/bottle/bot

[2017-07-30 11:46] nicolargo commented on #1126
@jcz14 Can you try this for the network configuration:

[code]

[2017-07-30 11:56] nicolargo commented on #1121
Note a sad new, just an hope for the version 3.0 (not scheduled but perhaps in beginning of 2018).

[2017-08-01 03:44] aftabnaveed commented on #1129
@nicolargo  Looks good! However, one thing seems to be missing which I use the most in my application and that is the QuickLook plugin http://glances.readthedocs.io/en/develop/aoa/quicklook.html. Unless I am missing something here?.  Anyway, this is my restful API endpoint output

https://pastebin.com/vLMLj3sD

[2017-08-01 21:01] nicolargo commented on #1129
@aftabnaveed Quickview is a "meta plugin" and did not grab any stats. It just merge stats from others plugins (cpu, mem and swap). It's why it is not exported.

[2017-08-01 23:26] aftabnaveed commented on #1129
OK cool. I would need to adjust my app I guess. When do you think it will merge with the master branch?

[2017-08-02 05:47] nicolargo commented on #1129
Before the end of august.

[2017-08-03 18:10] waldyd commented on #1087
Hello,

Glances is not showing sensors informations on Fedora 26:

![image](https://user-images.githubusercontent.com/1531796/28936156-7108a75e-784c-11e7-94e6-f273cb6dcb6e.png)

The log file is prompting:
[code]

The sensors and hddtemp utils are OK:

[code]
Would you please give me any ideas to solve this issue?

Beforehand thanks.

[2017-08-04 06:22] jcz14 commented on #1126
Using the above for network configuration does not produce the desired result. The hidden interfaces are still hidden but the ethernet adapters are still not aliased.

[2017-08-04 18:39] muhahacz opened #1131 "What to mount in docker to see FILE SYS from host, not from container?"
What to mount in docker to see FILE SYS from host, not from container?
Thanks

[2017-08-04 19:39] nicolargo commented on #1131
Read this: https://docs.docker.com/engine/tutorials/dockervolumes/#locate-a-volume

[2017-08-04 19:39] #1131 closed

[2017-08-04 19:39] nicolargo commented on #1131
REJECTED: not a Glances issue

[2017-08-04 20:07] nicolargo commented on #1126
Can you try this ?

[code]

[2017-08-05 00:28] waldyd opened #1132 "Glances not showing sensors information on Fedora 26"
Hello,

Glances is not showing sensors informations on Fedora 26:

![image](https://user-images.githubusercontent.com/1531796/28936156-7108a75e-784c-11e7-94e6-f273cb6dcb6e.png)

The log file is prompting:
[code]

The sensors and hddtemp utils are OK:

[code]
PSutil is also OK:

[code]
Finally:

![image](https://user-images.githubusercontent.com/1531796/28991208-09e5746c-794b-11e7-83ab-e201a8ee5215

[2017-08-05 05:15] nicolargo commented on #1132
As said in the Glances 2.7.1 documentation (https://github.com/nicolargo/glances/tree/v2.7.1), you need the following Python lib to make the sensors works: py3sensors (for hardware monitoring support) [Linux-only]

The PsUtil sensors lib is only use with Glances >= 2.8.3.

Two solutions:

- install the Py3sensors lib
- upgrade Glances

[2017-08-05 05:15] #1132 closed

[2017-08-05 05:16] nicolargo commented on #1132
REJECTED cause: RTFM

[2017-08-05 15:48] muhahacz commented on #1131
@nicolargo  I know how docker mounting works. I need to know what directory from host system mount in docker container to FILE SYS group? For example /proc:ro for processes... I dont know from what are you reading stats about partitions and theirs size in os.
Thanks

[2017-08-07 17:25] kentonbmax opened #1133 "add support for Windows 10 IoT Core as a uwp"
Currently I am not finding an easy solution for running this on Windows 10 IoT.

[2017-08-07 20:09] nicolargo commented on #1133
@giampaolo is PsUtil works on Windows IOT (or does it plan to work) ?

[2017-08-07 20:48] kentonbmax commented on #1133
Actually the sysperf end point works out of box. We can close this.

On Aug 7, 2017 4:09 PM, "Nicolas Hennion" <notifications@github.com> wrote:

[2017-08-08 12:59] #1129 closed

[2017-08-11 05:46] kaihongdu opened #1134 "How to stop the glances service in windows OS via openssh command?"
#### Description
I installed Python and Glances service in windows 2016 along with Openssh. Now I'm sending glances command to windows via ssh from another linux host, but I am unable to stop the service via ssh command unless end the glances task in windows task manager.  any suggestion on it?

#### Versions
* Glances (glances -V):   v2.10
* PSutil (glances -V):   v5.2.2
* Operating System (lsb_r

[2017-08-11 07:44] nicolargo commented on #1134
Not realy a Glances issue... Nevertheless, you can use the Taskkill
command.

https://technet.microsoft.com/fr-fr/library/cc725602(v=ws.11).aspx

Le 11 août 2017 7:46 AM, "kaihongdu" <notifications@github.com> a écrit :

[2017-08-11 10:28] kaihongdu commented on #1134
ok, thanks!

[2017-08-11 10:28] #1134 closed

[2017-08-12 12:32] nicolargo commented on #876
@gavinws Have you tested the DEVELOP branch ?

[2017-08-12 12:34] nicolargo commented on #794
Will be implemented in Glances version 3.0 (after the complete code refactor and change of the software architecture).

[2017-08-12 12:46] nicolargo commented on #506
With Glances 2.8.3 and higher, it uses PsUtil to grab the sensors stats. I think that this error/enhancement should be reported to PsUtil (cc: @giampaolo).

[2017-08-12 12:46] #506 closed

[2017-08-12 12:48] nicolargo commented on #867
This enhancement request should be reported to PsUtil.

[2017-08-12 12:48] #867 closed

[2017-08-12 12:51] nicolargo commented on #1105
PsUtil 5.3 is not available for the moment. Will be implemented in Glances 3.0.

[2017-08-12 12:58] #1126 closed

[2017-08-13 23:26] waldyd commented on #1132
Hello,

After RTFM i installed py3sensors lib

[code]
Nevertheless, the problem still persists... The sensors module is not shown...

![image](https://user-images.githubusercontent.com/1531796/29254069-e619fff8-8052-11e7-8894-ad159fb140b8.png)

Also, i tried to upgrade glances... But i am using the latest version of glances that pip provides.

[code]

I also noted the following post [glances-users

[2017-08-14 14:02] nicolargo commented on #1132
@waldyd Pip provides the latest Glances version (currently 2.10). The https://bit.ly/glances script uses Pip to install Glances and the deps.

Can you show me the version currently installed on your system:

    # glances -h

There is an error message in your installation log:

[code]

Perhaps this error on setuptools-36.2.0: https://github.com/pypa/setuptools/pull/1089

[2017-08-14 18:08] waldyd commented on #1132
Hello,

Here it is my version information:

[code]
After installing glances using (`wget -O- https://bit.ly/glances | /bin/bash`). Glances seems working quite well:

![image](https://user-images.githubusercontent.com/1531796/29284743-85e1d346-80f1-11e7-9e49-2f02e7472eaf.png)

But it is showing the following warning after execution:

[code]
Best regards,

Néstor Waldyd

[2017-08-17 19:56] AnderssonPeter opened #1135 "Docker image for arm?"
Im using docker on a raspberry pi 3, any chance there is a docker image for arm32v6 or arm32v7?

[2017-08-20 02:28] Kabouik commented on #867
I have the exact same issue as notFloran with psutil on Linux. `sensors` in terminal does show the temperatures correctly, and `ls /sys/class/hwmon/hwmon*/temp*_*` returns lots of results.

I'm not familiar with `pip` though, and I'm seriously considering that I may just have not installed psutil correctly (I did `sudo pip install psutil` after getting a permission denied without `sudo`?). I am gu

[2017-08-20 14:56] stevens-r opened #1136 "help wanted with reverse proxy base url"
code is from /etc/apache2/sites-available/default-ssl.conf
`<Location /glances>`
`ProxyPass http://localhost:61208/`
 `ProxyPassReverse http://localhost:61208/`
`</Location>`

 does anyone know how to get this working if i set it up like that ^ it doesnt work cause there no base url setting in glances
`<Location />`
`ProxyPass http://localhost:61208/`
 `ProxyPassReverse http://localhost:61208/`
 `

[2017-08-23 16:46] vinnu5064 commented on #1097
simply add the Missing parentheses in pynvml.py, it works for me.

[2017-08-24 19:00] nicolargo commented on #1136
Hi, did you try this https://github.com/nicolargo/glances/wiki/Reverse-proxy-to-the-Glances-Web-UI ?

[2017-08-24 19:02] #876 closed

[2017-08-26 18:53] AnderssonPeter opened #1137 "error when starting glances with gpu plugin"
#### Versions
Glances v2.10 with psutil v5.2.2
Docker container based on arm32v7/python:3.6

#### Logs
[code]

[2017-08-26 19:01] nicolargo commented on #1137
As said in the documentation:

nvidia-ml-py (for the GPU plugin) [Python 2-only]

As a work arround, you can use my own implementation of NVidia-ml for Python 3 available here:

https://pypi.python.org/pypi/nvidia-ml-py3

[2017-08-26 19:01] #1137 closed

[2017-08-26 19:39] AnderssonPeter commented on #1137
thanks for the fast reply i guess i missed the information in the documentation, sorry for wasting your time.

[2017-08-29 10:11] bzazzera commented on #915
Settings for NSSM that work fine with Windows 2012 R2 and no Unicode error :

Path: c;\python36\Scripts\glances.exe
startup dir: c:\python36\scripts
Augments: Glances.exe -C c;\python36\Scripts\glances.conf --export-influxdb --quiet

[2017-08-29 10:12] bzazzera commented on #915
Sorry little mistake :
Augments: -C c;\python36\Scripts\glances.conf --export-influxdb --quiet

[2017-08-30 13:25] norac89 opened #1138 "Docker library not found since glances 2.11 update"
#### Description

I just updated to Glances 2.11 and since the update, I cannot see my docker stats. AS you will see in the log, the Docker librairy is not found.
-- DEBUG -- Docker library not found (No module named 'docker'). Glances cannot grab Docker info.
Everything was working fine before the update.

#### Versions

* Glances (glances -V): 2.11
* PSutil (glances -V): 5.2.2
* Operating System

[2017-08-30 19:06] nicolargo commented on #1138
Is Docker lib installer ?

[code]

[2017-08-30 19:27] norac89 commented on #1138
It seems glances was previously install with python 2.7 with docker lib.
While updating glances, it installed glances with python 3 without the docker lib.

For some strange reason it looks like pip is pointing to pip3 instead of pip2.
Seems like a problem on my side.

[2017-08-30 19:28] nicolargo commented on #1138
Ok thanks !

[2017-08-30 19:28] #1138 closed

[2017-08-31 07:03] Stringers opened #1139 "Client and Quiet mode don't work together"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

Running glances in client mode prevents you from disabling the curses interface using the quiet option.

 `glances -q -c @hostname` - in this cases, the curses interface will still

[2017-09-01 22:09] stevens-r commented on #1136
yes i tried that and it worked for a couple days now it redirects to http://host/glances

[2017-09-03 03:59] altek86 opened #1140 "Can you add qnap support?"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

For an enhancement or new feature: Describe your needs.

#### Versions

* Glances (glances -V):
*

[2017-09-04 19:17] wayofthefuture opened #1141 "Server bug with Ubuntu 16.04.3?"
I have a recently fresh install of Ubuntu 16.04.3 and when I run the wget script located on the home page i the following error. I've used localhost, 0.0.0.0, and 192.168.1.X and none of them work.

See pic.

Thank you.
![screenshot from 2017-09-04 14-15-00](https://user-images.githubusercontent.com/5134107/30036770-bfd42988-917b-11e7-908e-978734bba4ae.png)

[2017-09-05 20:50] ngandhy opened #1142 "[WebUI] Sensors not showing on Web"
#### Description

Sensors shows up when I run glances via console but **not** when I use the WebUI (glances -w). I referred to #687 to make sure I sent information useful to you

**WebUI:** https://www.dropbox.com/s/epejf5tko4zp4w2/Screenshot%202017-09-05%2013.47.36.png?dl=0

**Console** https://www.dropbox.com/s/sfasmyhafrpi09n/Screenshot%202017-09-05%2013.48.22.png?dl=0

#### Versions

* Glances

[2017-09-05 20:54] ngandhy commented on #1141
Just installed on 16.04 myself with no issues.

Are you doing a reverse proxy or hitting the port directly? If you're using a reverse proxy try adding a "/" to the end of the URL to get things working.

[2017-09-06 06:40] nicolargo commented on #1142
Also reproduced on my Ubuntu 16.04 configuration.

@nclsHart / @notFloran Can you have a look on it ?

[2017-09-06 09:42] mrmcox opened #1143 "Whats the "S" column in browser?"
Hi All,

Quick question - In the browser view when looking at the details of a machine what is the "S" column to the left of "Time" and what do the letters in that column mean?

Thanks all.

[2017-09-06 13:34] nicolargo commented on #1143
As said in the documentation (http://glances.readthedocs.io/en/stable/aoa/ps.html#columns-display), it's the process status.

[2017-09-06 13:34] #1143 closed

[2017-09-06 13:34] nicolargo commented on #1143
Rejected cause: #RTFM

[2017-09-06 13:57] nicolargo commented on #1140
What do you expect ? A compatibility with the Qnap SNMP ? Or a way to run Glances on the Qnap support ?

Please fill the issue correctly.

[2017-09-06 15:25] altek86 commented on #1140
Im sorry I was looking for a way to run glances on qnap.

On Wed, Sep 6, 2017 at 9:57 AM, Nicolas Hennion <notifications@github.com>
wrote:

[2017-09-06 18:17] nicolargo commented on #1140
@altek86 Did you try to install Python and Pip and install Glances with:

    pip install glances

???

See: http://rdkevinchien.blogspot.fr/2013/08/how-to-setup-my-python-developing.html

[2017-09-07 00:17] Webysther opened #1145 "Question: Aggregate process group by memory is possible?"
#### Description

I would like to know if there is a way to aggregate the amount of memory used by a parent process and its children, for example, chrome, nginx, php-fpm, and so on.

#### Versions

Glances v2.3 with psutil v3.4.2
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial

#### Logs

N/A

[2017-09-07 19:26] altek86 commented on #1140
[~] # pip install glances
-sh: pip: command not found
[~] #

On Wed, Sep 6, 2017 at 2:18 PM, Nicolas Hennion <notifications@github.com>
wrote:

[2017-09-07 19:32] mjbrowns opened #1146 "Please provide mechanism to use Docker stats module via TLS"
#### Description

The docker config documentation at http://glances.readthedocs.io/en/latest/aoa/docker.html seems to indicate that there are many variables available in the docker plugin; but I can not find a list of these variables to determine if it is possible to configure TLS mode.

Skimming through the docker plugin code, it seems that the use of the local docker socket is hardcoded.  As any

[2017-09-09 07:57] nicolargo commented on #1145
I see two solutions:

1) Use AMP: http://glances.readthedocs.io/en/stable/aoa/amps.html
2) Use the filter function (filtered view): http://glances.readthedocs.io/en/stable/aoa/ps.html

[2017-09-09 07:59] #1142 closed

[2017-09-09 08:20] nicolargo commented on #1139
Corrected in the latest commit.
Will be release in Glances 2.11.1 and higher.

Thanks for the report.

[2017-09-09 08:20] #1139 closed

[2017-09-09 08:55] nicolargo commented on #1146
Hi @mjbrowns ,

Glances uses the docker.from_env() method (from the Docker Python lib: https://docker-py.readthedocs.io/en/stable/client.html#docker.client.from_env), so Glances should be compatible with your TLS configuration.

Just be sure that you have installed the Docker Python lib with the TLS support:

    pip install docker[tls]

Let me know...

[2017-09-09 14:03] nicolargo commented on #1140
Follow all the procedure (http://rdkevinchien.blogspot.fr/2013/08/how-to-setup-my-python-developing.html). It explains how to install pip...

[2017-09-10 21:30] mjbrowns commented on #1146
ok, so.  I had most of the docker environment varialbles already set up.  I did not have DOCKER_CERT_PATH as I rely on the default being $HOME/.docker.  I do have the docker[tls] module installed.

My docker variables are set as follows:
DOCKER_CERT_PATH=/root/.docker/
DOCKER_HOST=tcp://127.0.0.1:2376
DOCKER_TLS_VERIFY=1

running glances -d generates a log file with the following:

[code]

I don't

[2017-09-11 23:08] #1145 closed

[2017-09-13 19:47] stevens-r commented on #1141
my reverse proxy started redirecting to https://host/glances the other day adding / to end fixed it up

[2017-09-13 19:48] stevens-r commented on #1136
found the answer in #1141

[2017-09-13 19:48] #1136 closed

[2017-09-14 09:37] Constantin07 opened #1148 "Memory usage reported via WEB GUI doesn't match top value in container"
#### Description

The RAM used reported via WEB GUI and in the glances container do not match.
Glances WEB - 487 MB
Inside container - 132 MB
The difference is almost 3x times which is very suspicious.

#### Versions

* Glances (glances -V): Glances v2.11.1 with psutil v5.3.0
* Operating System (lsb_release -a): Ubuntu 16.04.3 LTS (Xenial Xerus)
* Used the stable version of [glances](https://hub.d

[2017-09-14 09:46] Constantin07 opened #1149 "A way to have only REST API available and disable WEB GUI access"
#### Description

Just wondering is there is a way to turn off the WEB GUI and leave only REST API access.
I need a very lightweight and as much as possible minimal footprint of the process so that I can consume only the API. I know that they both are listening on 61208.

At the same time disabling WEB can reduce possible security/vulnerability radius.

PS: I'm planning to centrally poll the API f

[2017-09-15 00:26] wayofthefuture commented on #1141
I was using the wrong switch... server instead of webserver... Thanks.

[2017-09-16 08:48] nicolargo commented on #1148
Hi,

can you run a docker stats <container ID> command ?
Glances uses the standard API to retrieve the stats.

Thk

[2017-09-16 08:55] nicolargo commented on #1149
Hi @Constantin07 ,

first of all, thanks for the enhancement request. Split between API and WebUI is scheduled in Glances version 3 (with a big refactor). Nevertheless i think that it could also be implemented in the version 2 branch. I will have a look.

When i read your "PS:" i understand that you need a Glances server with only the Restful API implemented. In // of Glances 3 i want to develop a

[2017-09-18 07:18] dhoomakethu commented on #1101
on Ubunut snappy 16.04,  I am having the same error , Permission denied on `/etc/mtab`

[2017-09-18 12:10] Constantin07 commented on #1149
@nicolargo Thanks for getting back so quickly.

I'm planning to use as a central server Nagios or other tool (haven't decided which one yet) which allows easily to write custom plugins and integrate them.

My scope is to have a simple dashboard with possibility to check the docker containers states on remote hosts.

[2017-09-18 12:13] Constantin07 commented on #1148
@nicolargo here is the output:

[code]

[2017-09-19 09:23] Constantin07 opened #1150 "System uptime reported from container and not from host"
#### Description

At the moment glances runs as a Docker container and returns the uptime from container itself.
I need to monitor the uptime of the host system on which container runs.

Is there any way to pull out the host system uptime ?

#### Versions

* Glances (glances -V): Glances v2.11.1 with psutil v5.3.0
* Operating System (lsb_release -a): Ubuntu 16.04.3 LTS (Xenial Xerus)
* Used the st

[2017-09-19 15:02] kalgecin opened #1151 "Crash in the Wifi plugin on my Laptop"
Traceback (most recent call last):
                                    File "/usr/local/bin/glances", line 11, in <module>
                                                                                           sys.exit(main())
                                                                                                             File "/usr/local/lib/python2.7/dist-packages/glances/__init_

[2017-09-19 17:29] Constantin07 opened #1152 "Docker module doesn't export details about stopped containers"
#### Description

The docker module at the moment doesn't show details about `stopped` containers.
It would be good to have this information included as well to monitor them when they go down.

#### Versions

* Glances (glances -V): Glances v2.11.1 with psutil v5.3.0
* Operating System (lsb_release -a): Ubuntu 16.04.3 LTS (Xenial Xerus)
* Used the stable version of [glances](https://hub.docker.com

[2017-09-19 19:03] nicolargo commented on #1150
Hi @Constantin07,

try to add thefollowing option to your docker run command line:

    -v /proc/uptime:/proc/uptime:ro

Not tested and not sure it is working...

[2017-09-19 19:04] nicolargo commented on #1151
Please fill the issue with all mandatories information:

#### Versions

* Glances (glances -V):
* PSutil (glances -V):
* Operating System (lsb_release -a):

#### Logs

You can also pastebin the Glances logs file (https://glances.readthedocs.io/en/latest/config.html#logging)

[2017-09-20 08:18] kalgecin commented on #1151
Glances v2.11.1 with psutil v5.2.2

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 17.04
Release:	17.04
Codename:	zesty

[2017-09-20 18:04] nicolargo commented on #1151
Ok, i will had a check on the Glances Wifi in order to catch the error.

[2017-09-20 18:27] nicolargo commented on #1148
Glances computes the free memory based on PsUtil stats and the Htop algorithm (free=available+buffer+cached and used=total-free). Top uses a different method.

Also read:
* https://stackoverflow.com/questions/41224738/how-to-calculate-system-memory-usage-from-proc-meminfo-like-htop
* http://hisham.hm/htop/index.php?page=faq

[2017-09-20 18:38] #1089 closed

[2017-09-20 18:42] #1062 closed

[2017-09-20 19:59] Constantin07 commented on #1150
Thanks @nicolargo  Your suggestion worked fine.

[2017-09-20 19:59] #1150 closed

[2017-09-20 20:13] Constantin07 commented on #1148
@nicolargo  I've run the docker with the `-v /proc/meminfo:/proc/meminfo:ro` and the values now are correct (match `free -m`).

[2017-09-20 20:13] #1148 closed

[2017-09-21 10:09] gdanov commented on #1087
Same problem here, psutils are ok

`~$ python
Python 2.7.12 (default, Nov 19 2016, 06:48:10)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

{'coretemp': [shwtemp(label='Core 0', current=49.0, high=100.0, critical=100.0), shwtemp(label='Core 1', current=46.0, high=100.0, critical=100.0)], 'nct6776': [shwtemp(label='SYSTIN', current=45.0, high=

[2017-09-22 09:06] wernight opened #1155 "Disk usage not accurate"
#### Description

Glances reports and marks in color depending on used space but not actual disk used space. For example here it **should be marked as a critical** issue but it only marks it in red currently:

    $ df -h
    Filesystem      Size  Used Avail Use% Mounted on
    foo              85G   81G     0 100% /foo

    FILE SYS    Used  Total
    _l/foo     80.2G  84.5G

#### Versions

* Gla

[2017-09-22 19:25] nicolargo commented on #1155
Hi @wernight ,

do not understand the issue...

The used space is drawn in RED because the used disk space is > CRITICAL threshold (default value 90%) as define in the Glances configuration file.

[code]

[2017-09-26 09:01] ledroide commented on #1087
Just upgraded to glances 2.11.1 and psutil 5.3.1 (on ubuntu zesty) : sensors working now. Thanks guys.
![image](https://user-images.githubusercontent.com/22596052/30851837-17d0b072-a2aa-11e7-967c-995c5cf47e3a.png)

[2017-09-28 14:20] Webysther opened #1156 "Failed to connect to bus: No such file or directory"
#### Description

Just running glances, installed using bash.

#### Versions

* Glances: 2.11.1
* PSutil: 5.3.1
* Operating System: Ubuntu 16.04.3 LTS

#### Logs

[code]

[2017-09-29 13:02] wernight commented on #1155
Ah sorry I mixed up violet and red. I wonder if reporting disk usage would be better, as there it was really 100% which isn't the same at all compared to 4G free.

[2017-09-29 16:07] ohadbenita opened #1157 "Glances won't start on Windows Server 2012R2"
I run Glances using glances -c server_ip

  File "C:\Python27\Scripts\glances-script.py", line 11, in <module>
    load_entry_point('Glances==2.11.1', 'console_scripts', 'glances')()
  File "c:\python27\lib\site-packages\glances\__init__.py", line 134, in main
    start(config=config, args=args)
  File "c:\python27\lib\site-packages\glances\__init__.py", line 103, in start
    mode.serve_forever()

[2017-09-30 07:42] nicolargo commented on #1156
Workaround, disable (enable=false) the AMP plugin in the Glances configuration file:

[code]

[2017-09-30 07:50] nicolargo commented on #1156
Catch added in the latest commit in the DEVELOP branch.

[2017-09-30 07:50] #1156 closed

[2017-09-30 07:54] nicolargo commented on #1157
The Curses interface is not available in Windows OS (shame on Microsoft).

Two workarounds:
1) use a Glances client in a GNU/Linux terminal
2) Use the Web server instead of the RCP Server and monitor your Windows OS from a remote Web browser.

[2017-09-30 08:10] ohadbenita commented on #1157
Thanks for that,

Can you elaborate (in a newbie) level how can this be done ?
1. Are you referring to using Glances client on a Linux VM running on this Windows machine ?
2. Would I still be able to connect from home assistant based Glances server to the client's glances instance ?

Thanks for the info

[2017-09-30 17:06] nicolargo commented on #1157
If you are a newbie, the second solution is the simple.

So start the Glances server on the machine you want to monitor:

    glances -w

On the client machine, start your Web browser and enter the following URL: http://<@ipserver>:61208/

[2017-10-01 08:29] #1155 closed

[2017-10-03 20:11] nicolargo commented on #1152
Hi @Constantin07 ,

i have made a test on a specific branch and i am not sure that it is a good idea to add stopped (exited) containers because the list is too long:

![selection_338](https://user-images.githubusercontent.com/776747/31146590-8bb2643a-a887-11e7-8f35-221477a97c12.png)

For your point of view, what is the information needed ?

[2017-10-04 19:37] Constantin07 commented on #1152
Hi @nicolargo,
 I think the container `name` and `Status` should be enough.

What I suggest is to have an option in config file for docker so that reporting of stopped containers can be turned on/off depending on needs.

Does it make sense ?

[2017-10-09 20:27] ajj commented on #985
Same problem using --export-influxdb, fixed using --disable-ip.

* Glances 2.11.1
* psutil v5.3.1
* OS
  * Debian 8 32 bit on arm (raspberry pi)
  * Kernel 4.9.35

[2017-10-10 20:08] muhahacz opened #1160 "glances_plugin.py has a problem with specific docker output"
#### Description

Seems that /usr/lib/python3.6/site-packages/glances/plugins/glances_plugin.py has a problem with specific docker output (maybe .State). I did not look at code.

#### Versions

* Glances (glances -V): 2.11.1
* PSutil (glances -V): 5.3.1
* Operating System (lsb_release -a): Alpine 3.6

#### Logs
[code]

[2017-10-10 21:11] muhahacz opened #1161 "Underscores in File sys and Network section"
#### Description

I have some weird underscores in File Sys section. It is also in Network section, ( First one should be br-b3b112008c9c

Maybe another bug:
There is also suspicious cpu value in docker section.
Docker stats output on host:
[code]
Image:
https://imgur.com/a/AAAZw

P.S. I have same problem with your docker image.

#### Versions

* Glances (glances -V): 2.11.1
* PSutil (glances -V):

[2017-10-11 10:28] mivale opened #1162 "It is not possible to return API data for a particular mount point (FS plugin)"
Hi,

Couldn't find this is in the docs. Since the fs plugin returns its API data as an array, is it possible to retrieve only the data for a certain mount point?

I have two mount points, / and /boot and want to check them both separately using the API.

The docs are unclear on this point. Browsing the code wasn't very helpful either, but that's on me!

Is it possible? If not, it just as easy to r

[2017-10-11 16:47] APalau82 commented on #132
Hi
I would like to cumulate action script with cron to be alerted when fs size is in warning status.
But while running glances with cron (* * * * * /usr/bin/glances) the {{mustaches}} values are not replaced by the real values. 'fs.alert' file litterally prints : "{{mnt_point}} {{used}}/{{size}}".
While running manually glances, the output is correct : / 1571274752/3102470144

By the way if glance

[2017-10-12 06:55] nicolargo commented on #1161
It is not a bug, it is a feature...

When the length of the File system name or network interface is too long to be displayed in the user interface, Glances truncates it and add a '_' caracter to the begin of the line.

[2017-10-12 06:55] nicolargo commented on #1161
REJECTED: not a bug

[2017-10-12 06:55] #1161 closed

[2017-10-12 07:11] nicolargo commented on #1162
Yes you can use the API to retrieve a specific item.

See: https://github.com/nicolargo/glances/wiki/The-Glances-RESTFULL-JSON-API#get-api2pluginitem

[2017-10-12 07:18] mivale commented on #1162
Hi,

I read this and tried it, but got an error : http://host:61208/api/2/fs/size

[code]

Might this be because the fs plugin returns its values in an array rather than as an object?

[2017-10-12 07:23] nicolargo commented on #1162
Sorry, the Fs plugin return a list of dict, so you need to use: https://github.com/nicolargo/glances/wiki/The-Glances-RESTFULL-JSON-API#get-api2pluginitem

[2017-10-12 07:25] mivale commented on #1162
Please see my edit to the previous comment :-)

[2017-10-12 07:27] nicolargo commented on #1162
Also see my edit to my previous comment :)

[2017-10-12 07:28] muhahacz commented on #1161
@nicolargo

Thanks

ad1: I guess its not possible to override this behaviour, right? I dont even know, what _olv.conf, hostanem, tc/hosts mean....  (/etc/resolv.conf, /etc/hostname, /etc/hosts ?) Why is it there?

ad2: There should be a consistency between docker stats command (output above, docker api, =  0.10% ) and glances output (541%). It was measured in the same time.

[2017-10-12 07:37] mivale commented on #1162
I see. But I don't see how to retrieve the values for mnt_point == /

Can you help me please by providing an example? /api/2/fs/mnt_point// gives me an error

[2017-10-12 07:38] nicolargo commented on #1160
Corrected in the latest commit.

Target release: Glances 3.0

[2017-10-12 07:38] #1160 closed

[2017-10-12 07:38] #1157 closed

[2017-10-12 07:41] nicolargo commented on #1162
Sorry, but do not have the answer... You need to encode the "/" in the request (perhaps try to replace it by the %2F code).

[2017-10-12 07:55] mivale commented on #1162
Tried that already.

I will give up for now since I have no time to look into the source.

Thanks for your time :-)

[2017-10-12 07:58] nicolargo commented on #1162
Ok, keep us inform if you find a solution. I am interested.

[2017-10-12 08:36] nicolargo commented on #1152
Done  in the latest commit.

A new configuration key has been added (default value is False). Set it to True to display all the containers

[code]

Result:

![selection_339](https://user-images.githubusercontent.com/776747/31486860-1c60ba06-af39-11e7-9246-6bad47946bba.png)

Available in the DEVELOP branch and will be release in Glances 3.0.

[2017-10-12 08:36] #1152 closed

[2017-10-12 08:47] nicolargo commented on #1151
Patch done in the latest commit.

Available in the DEVELOP branch and will be release in Glances 3.0.

Thanks for the issue report !

[2017-10-12 08:47] #1151 closed

[2017-10-12 09:34] nicolargo commented on #1149
Implementation done in the latest commit.

Current mode:

    # glances -w
    Glances Web User Interface started on http://0.0.0.0:61208/

New mode

    # glances -w --disable-webui
    Glances Restful API Server started on http://0.0.0.0:61208/api/2/

Available in the DEVELOP branch and will be release in Glances 3.0.

Thanks for your proposal !

[2017-10-12 09:34] #1149 closed

[2017-10-12 09:43] nicolargo commented on #1146
Hi @mjbrowns , can you try with the Glances DEVELOP branch ?

==> https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version

[2017-10-12 09:55] #1141 closed

[2017-10-12 13:17] muhahacz opened #1163 "Feature request: Mount proc and sys from host, run glances with prefix to look for stats"
Netdata does something like this: --cap-add SYS_PTRACE -v /proc:/host/proc:ro -v /sys:/host/sys:ro
Then you can start netdata with  -s /host  parameter
Same ability to mount volumes from hosts for glances would be much more consistent in glances behaviour.
Thanks

[2017-10-12 17:48] mjbrowns commented on #1146
I’ll take a look at this in the next couple of days, thanks!

Mitch Brown
 <http://maps.yahoo.com/py/maps.py?Pyt=Tmap&addr=7725+Spieth+Rd&csz=Medina%2C+OH+44256&country=us> 7725 Spieth Rd
Medina, OH 44256
mobile:  <http://www.plaxo.com/click_to_call?lang=en&src=jj_signature&To=330%2D391%2D0447&Email=mwb06@mjbrowns.com> 330-391-0447

mitch@mjbrowns.com <mailto:mitch@mjbrowns.com>

From: Nicolas Hen

[2017-10-13 04:49] chuanconggao opened #1164 "Wrong total disk size on large size disk on macOS using APFS format"
#### Description

Glances report wrong total disk size on my large 20TB disk on macOS 10.13 using APFS format. The total usage size is correct and disk size is in green color.
[code]
When switching to showing available size, the disk size is also in green color.
[code]
There is no error on computing the usage size and usage percentage. It seems it is just a bug for formatting the total disk size.

[2017-10-13 06:19] Constantin07 commented on #1152
Many Thanks @nicolargo I will give it a go in my environment.

[2017-10-13 06:21] Constantin07 commented on #1149
Much appreciated @nicolargo

[2017-10-13 15:43] mjbrowns commented on #1146
Well, the develop branch has different issues.  Now i'm getting:

ERROR -- docker plugin - Cannot get containers list ('function' object has no attribute 'list')

[glances-log.tar.gz](https://github.com/nicolargo/glances/files/1383138/glances-log.tar.gz)

[2017-10-13 16:42] nicolargo commented on #1146
What is your Docker Python lib version ?

Can you try to update it:

    pip install --upgrade docker[tls]

[2017-10-13 17:27] mjbrowns commented on #1146
Ok, so in setting this up I followed your instructions on the virtualenv (which I hadn't been using before).  Turns out that doesn't fully install docker[tls] when installing docker-py.

Now I'm not seeing the errors, but neither do I actually get anything showing on the screen.  Instead of using virtualenv I fully upgraded my components on the system using pip and am using the command line:

LANG

[2017-10-13 18:04] mreinhardt commented on #991
For anyone not wanting to hunt down the rabbit trail, this was fixed for me with:

[code]

[2017-10-13 18:24] nicolargo commented on #1163
Do not understand... Can you (re)explain ?

[2017-10-13 18:28] nicolargo commented on #1164
Strange...

Can you enter the following commands in a terminal and show us the result:

    # python

[2017-10-13 18:31] nicolargo commented on #1146
Same result in console mode ?

LANGUAGE=en_US.utf8 python -m glances -C ~/tmp/glances-develop/conf/glances.conf -d

[2017-10-13 18:36] chuanconggao commented on #1164
The output from psutil is even more weird. All my four disks have the same output on both Python 2 (with psutil 5.3.1) and Python 3 (with psutil: 5.4.0).

[code]

[2017-10-13 18:40] nicolargo commented on #1164
@giampaolo Any idea ?

[2017-10-13 19:07] giampaolo commented on #1164
`disk_usage` relies on `os.statvfs`, that's where those numbers come from. Same goes for stdlib `shutil.disk_usage` so this problem is not related to psutil per se. I wonder what `df` cmdline utility uses on Mac.

[2017-10-13 19:20] mjbrowns commented on #1146
That's borked.

clears screen, then I get this:
![glances-screenshot-console](https://user-images.githubusercontent.com/26187698/31562509-b6a2f4f8-b029-11e7-88ef-d889702bd9b9.jpg)

[glances-log.tar.gz](https://github.com/nicolargo/glances/files/1383753/glances-log.tar.gz)

Docker error via grep:
2017-10-13 15:19:17,540 -- ERROR -- docker plugin - Cannot get containers list ('function' object has n

[2017-10-13 19:22] mjbrowns commented on #1146
Thanks for looking at this by the way, I love glances and with docker support working it will simplify my managment of these systems a LOT!

[2017-10-14 16:45] chuanconggao commented on #1164
After I pour some data on my disk, the output looks like this now.

The usage size is negative now, and in blue color.
[code]
The available size is correct now, also in blue color.
[code]

My current `df -h` output is:
[code]

[2017-10-15 07:55] nicolargo opened #1165 "Add a light mode for the console UI"
#### Description

Add a light (--light) mode to the curse UI:
- disable left panel
- disable processes
- others: AMPS, Docker...

[2017-10-15 08:15] nicolargo commented on #1165
Done in the latest commit.

![selection_340](https://user-images.githubusercontent.com/776747/31582945-8109a4cc-b191-11e7-9854-43385491f71f.png)

Available in the DEVELOP branch and in Glances 3.0 or higher.

[2017-10-15 08:15] #1165 closed

[2017-10-15 08:31] nicolargo commented on #1164
@chuanconggao what is the output of:

python
Python 2.7.12 (default, Nov 19 2016, 06:48:10)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

If it is a os.statvfs() issue, need to track it on the official Python repository ==> https://github.com/python/cpython

[2017-10-15 09:27] giampaolo commented on #1164
Right, but I doubt it's a Python issue. Most likely it's gonna be a OSX kernel issue. It wouldn't be the first time (e.g. I remember all sorts of bad things with poll() sysctl on OSX).

[2017-10-15 15:27] chuanconggao commented on #1164
@nicolargo The output is:
[code]

[2017-10-17 15:59] nicolargo commented on #1140
@altek86 Any news about this issue ?

[2017-10-17 16:03] nicolargo commented on #1146
@mjbrowns Sorry for the delay.

What is your Docker version ?

Here is my version where Glances works fine:

[code]

Be aware that the Glances 3.0 DEVELOP branch breaks the compatibility with API < 1.12.

[2017-10-17 16:04] #1133 closed

[2017-10-17 16:23] nicolargo opened #1166 "Refactor InfluxDB (API is now stable)"
#### Description

InfluxDB is a time/serie NoSQL database. The API is now stable and the Glances export plugin should be refactore to only manage satble version (InfluxDB >= 1.0).

**Warning: Deprecate InfluxDB < 1.0**

[2017-10-17 16:37] altek86 commented on #1140
Nope it doesnt work I give up.

On Tue, Oct 17, 2017 at 12:33 PM, Nicolas Hennion <notifications@github.com>
wrote:

[2017-10-17 19:33] nicolargo commented on #1166
Done in the latest commit.

Available in the DEVELOP branch and will be release in Glances 3.0.

[2017-10-17 19:33] #1166 closed

[2017-10-18 19:53] jakirkham opened #1167 "Hard requirement on bottle for Windows?"
Sorry for the rather basic question. Why is `bottle` needed for Windows?

https://github.com/nicolargo/glances/blob/0adf1392568b10cbbf69ea56771db988e9767b2b/setup.py#L40-L45

[2017-10-18 19:59] nicolargo commented on #1167
Because there is no more Curses interface. Web UI is the default one for Windows OS.

Please only use Github to fill issue or enhancement request, there is a forum for this kind of question https://groups.google.com/forum/?hl=en#!forum/glances-users

[2017-10-18 19:59] #1167 closed

[2017-10-18 20:06] nicolargo opened #1168 "Add a new output mode to stdout"
#### Description

Request from the forum: https://groups.google.com/forum/?hl=en#!topic/glances-users/eFFwLDhhHOU

Hi,

in 'top' I can do this to pipe one iteration into a text file:

top -n 1 -b > top-output.txt

Is this possible with glances too?

If it it would be very nice if this feature could be added.

Regards,

Christian

[2017-10-18 20:06] jakirkham commented on #1167
I see. Thanks. Should `requests` be a hard requirement for Windows too since it seems to be needed for the web interface as well?

[2017-10-19 14:10] joe307bad opened #1169 "Docker plugin - Implement Rancher Python Lib"
#### Description

After running the following command from the docker image documentation:

`docker run -d --restart="always" -p 61208-61209:61208-61209 -e GLANCES_OPT="-w" -v /var/run/docker.sock:/var/run/docker.sock:ro --pid host docker.io/nicolargo/glances`

The docker container spins up and is the web UI accessible within my local network via port number 61208

The issue is that I have other c

[2017-10-20 00:31] joe307bad commented on #1169
After doing more research, this may have to do with RancherOS not exposing the docker remote API. Does the glances docker container rely on the docker remote api of the host server being exposed?

[2017-10-20 18:37] nicolargo commented on #1169
Yes, Glances uses the standard Python Docker lib to retrieve containers stats through the API. To do this, Glances uses the /var/run/docker.sock host file (thanks to the -v /var/run/docker.sock:/var/run/docker.sock:ro option).

If you found how to correct this issue, please feel free to add a new comment !

[2017-10-22 20:57] JobbeDeluxe opened #1170 "Crash on startup: KeyError: 'hz_actual_raw' on Raspbian 9.1"
#### Description
i installed glances from apt-get. but it was told me every time after colse that is out of date. so i tried many ways of install from here. but aufter houers of install, it won't start at all.
i get all the time Traceback (most recent call last):
  File "/usr/local/bin/glances", line 11, in <module>
    sys.exit(main())
  File "/home/jobbe/.local/lib/python2.7/site-packages/glance

[2017-10-23 09:40] jesjimher opened #1171 "Adding new parameter for web server base path"
It would be nice if a parameter existed to specify a web context for glances when it's running as a web server (-w), so that listening URL would be http://localhost:port/context. Something like:
[code]

It would make Apache or Nginx configuration much easier when glances must be executed behind a proxy. Right now it's possible to make it work, but it's pretty tricky and doesn't work for everyone.

[2017-10-23 14:00] nicolargo commented on #1170
I don't know what version is ran...

Please clean your system:

    # apt-get remove glances

Then install it with the standard way:

    # pip install glances

[2017-10-23 14:02] nicolargo commented on #1171
@notFloran : What is the impact of such enhancement in the Web UI code ?

[2017-10-23 15:49] nicolargo opened #1173 "Make plugins disable and export CLI option dynamical"
#### Description

In Glances < 3.0, if you want to disable one or more plugin you should enter the following command line:

     glances --disable-network --disable-load

The current enhancement request proposes replace it by:

    glances --disable-plugin network,load

The new syntax will bring some dynamic function for the developer. When a new plugin is added, no more need to declare it in the

[2017-10-23 17:25] notFloran commented on #1171
@nicolargo I don't know, I will try to make a POC and see if that broke something

[2017-10-23 17:49] JobbeDeluxe commented on #1170
jobbe@Rserver:~ $ sudo apt-get remove glances
[sudo] Passwort für jobbe:
Paketlisten werden gelesen... Fertig
Abhängigkeitsbaum wird aufgebaut.
Statusinformationen werden eingelesen.... Fertig
Paket »glances« ist nicht installiert, wird also auch nicht entfernt.
0 aktualisiert, 0 neu installiert, 0 zu entfernen und 0 nicht aktualisiert.
jobbe@Rserver:~ $ pip install glances
Collecting glances
Coll

[2017-10-23 17:53] JobbeDeluxe commented on #1170
Even after uninstall over pip it will still able to "start":
[code]

it seams to be somthing is still on my system

[2017-10-23 20:09] bounty1342 opened #1174 "Docker plugin WebUI is broken in the latest DEVELOP branch"
#### Description
Update the the "nicolargo/glances:latest"

#### Versions
* Operating System (lsb_release -a):
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 17.04
Release:        17.04
Codename:       zesty

#### Logs
Failed to connect to bus: No such file or directory

The issue is not present on the "nicolargo/glances:stable"

[2017-10-25 07:22] nicolargo commented on #1174
What is your Docker version ?

As said in the [release note](https://github.com/nicolargo/glances/blob/develop/NEWS#L23): Support for Docker API < 2.0 is deprecated (Docker plugins)

[2017-10-25 08:16] nicolargo commented on #1174
Forget my last comment. Also reproduced on my side. It came from the default glances.conf file where the systemd AMP is enable. I just commit a new version with all AMP plugins disable by default.

Wait the generation of the Glances's Docker image and please test it.

[2017-10-25 14:53] bounty1342 commented on #1174
Hi @nicolargo, I got the following error :

`Traceback (most recent call last):
  File "/usr/lib/python2.7/wsgiref/handlers.py", line 86, in run
    self.finish_response()
  File "/usr/lib/python2.7/wsgiref/handlers.py", line 128, in finish_response
    self.write(data)
  File "/usr/lib/python2.7/wsgiref/handlers.py", line 212, in write
    self.send_headers()
  File "/usr/lib/python2.7/wsgiref/ha

[2017-10-25 15:51] nicolargo commented on #1174
Can not reproduce on my PC:

    # docker run -v /var/run/docker.sock:/var/run/docker.sock:ro --pid host -it docker.io/nicolargo/glances

With 4 running containers (+ Glances container):

[code]

Give me :

![selection_344](https://user-images.githubusercontent.com/776747/32008608-ed1a7056-b9ac-11e7-9203-0a3a2340a67f.png)

[2017-10-25 16:07] languitar opened #1175 "NameError: name 'mode' is not defined in case of interrupt shortly after starting the server mode"
#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

A `NameError` can be triggered in case the server mode (`-s` option) is interrupted with Ctrl+C shortly after starting the process:

[code]

#### Versions

Glances v2.11.1 with psutil v5.4.0

Archlinux 64 bit

[2017-10-25 16:23] nicolargo commented on #1175
Also reproduced o the DEVELOP branch.

[2017-10-25 17:40] bounty1342 commented on #1174
[code]
![image](https://user-images.githubusercontent.com/6307253/32013284-e16841b2-b9ba-11e7-844b-5f9af2b67877.png)

I ran the following commands :
[code]
[code]
![image](https://user-images.githubusercontent.com/6307253/32013574-d1e9d326-b9bb-11e7-9a9a-5c6d6b898164.png)

The docker plugin vanished.
Maybe is just hidden by default ? Is there a shortcut to enable it ?

[2017-10-26 07:26] taohex commented on #1088
I tried pip3.

Doesn't work:

[code]

Works:

[code]

[2017-10-26 09:05] aftabnaveed opened #1176 "Key error 'address' in the IP plugin"
#### Description

When trying to --export-restful glances throws this error

[code]
Here is my configuration /etc/glances/glances.conf
[code]
#### Versions

* Version:   Glances v2.11.1
* PSutil (glances -V): psutil v5.4.0
* Operating System (lsb_release -a): Ubuntu 14.04

[2017-10-26 09:19] aftabnaveed commented on #1176
When I tried it with `glances --export-restful --disable-ip`  I started getting a new error which was

```request() got an unexpected keyword argument 'json'```

I went and upgraded `sudo pip install --upgrade requests` which fixed the issue.

But why is the IP module not working for me here?

[2017-10-26 21:42] nicolargo commented on #1088
Thanks @taohex, i will add it to the documentation.

[2017-10-27 19:48] nicolargo commented on #1088
Done.

[2017-10-27 19:48] #1088 closed

[2017-10-27 20:00] nicolargo commented on #1176
The issue did not come from the export module but by the IP Plugins.

I will add a try/catch on the 'address' key.

[2017-10-27 20:08] nicolargo commented on #1176
Done

[2017-10-27 20:08] #1176 closed

[2017-10-27 20:18] nicolargo commented on #1175
Done.

[2017-10-27 20:18] #1175 closed

[2017-10-27 20:21] nicolargo commented on #1174
Nope... Can you start Glances in console mode.

    # docker run -v /var/run/docker.sock:/var/run/docker.sock:ro --pid host -it docker.io/nicolargo/glances

Is the Docker plugin displayed ?

[2017-10-27 20:38] nicolargo commented on #1170
Corrected in the DEVELOP branch.

[2017-10-27 20:38] #1170 closed

[2017-10-27 21:39] bounty1342 commented on #1174
Yes, it's working in console mode.

Tried then without success :
docker run -d --restart="always" -p 61211-61212:61208-61209 -e GLANCES_OPT="-w" -v /var/run/docker.sock:/var/run/docker.sock:ro --pid host docker.io/nicolargo/glances

[2017-10-28 07:38] nicolargo commented on #1174
Reproduce on my side !

The WebUI do not display the Docker plugin anymore...

l will have a look.

[2017-10-28 09:27] nicolargo commented on #1174
Should be corrected in the latest commit...

@bounty1342 Please test it.

[2017-10-29 09:26] nicolargo opened #1177 "Make the left side bar width dynamic in the Curse UI"
#### Description

The size of the left sidebar should be dynamic.

[2017-10-30 09:32] y2kbug-hk opened #1178 "TypeError: 'NoneType' object is not iterable"
I have installed Glances on a 8GB-RAM Vultr instance, accessing via SSH.
Sometimes an error shows up after the UI is shown for several seconds.

[code]
Glances v2.11.1 with psutil v5.4.0
Ubuntu 16.04.3 LTS

log:
https://pastebin.com/j0ZjJgKZ

[2017-11-01 17:56] nicolargo commented on #1177
Done in the last commit.

![ipython dev-glances_345](https://user-images.githubusercontent.com/776747/32289219-6ae70a42-bf36-11e7-9049-35e991919341.png)

[2017-11-01 17:56] #1177 closed

[2017-11-02 09:10] mapio commented on #542
@asergi I'm perfectly fine with disabling `--tree`, but I think it should be mentioned in the docs.

[2017-11-02 09:13] mapio opened #1180 "OS specific arguments should be documented and reported"
I agree that is perfectly fine to disable some features according to the OS, but instead of adding options conditionally as in

https://github.com/nicolargo/glances/blob/7fc0f887e450e71772e3f64c913c6e3a132ef8e3/glances/main.py#L246-L251

it should be probably better to emit a specific warning, or at least to note it in the documentation.

[2017-11-03 07:58] nicolargo opened #1181 "Permission denied: '/etc/mtab' with the Glances' Snap version"
#### Description

Install Glances using Snap on Ubuntu.

Snap configuration file: https://github.com/nicolargo/glances/blob/develop/snap/snapcraft.yaml

Run Glances (same issue with or without sudo):

[code]

Note: also reproduced by others users. See https://github.com/nicolargo/glances/issues/1101

#### Versions

* Glances (glances -V): Glances 2.11.1
* PSutil (glances -V): PsUtil 2.5.4
* Operat

[2017-11-03 10:59] nicolargo commented on #1180
Added to the documentation in the last commit (DEVELOP branch).

[2017-11-03 10:59] #1180 closed

[2017-11-03 11:01] nicolargo commented on #1178
Workaround: disable the Docker plugin (--disable-docker).

What is your Docker version ?

[2017-11-03 11:04] nicolargo commented on #1178
REJECTED: cause duplicated

[2017-11-03 11:04] #1178 closed

[2017-11-03 11:06] nicolargo commented on #1174
@bounty1342 Any news concerning this issue ?

[2017-11-03 18:45] bounty1342 commented on #1174
Hi @nicolargo,

Works with the devel branch, .

![image](https://user-images.githubusercontent.com/6307253/32390584-3e5b03ee-c0cf-11e7-9314-e88665393991.png)

but not with the :latest tag.

[2017-11-03 21:00] nicolargo commented on #1174
Ok, so i close the issue.

Thanks for the report !

[2017-11-03 21:00] #1174 closed

[2017-11-03 21:19] nicolargo commented on #1169
One clean solution will be to use the official Rancher Python Lib to get stats from Rancher API.

==> https://github.com/hivesolutions/rancher_api

Need contributors to implement this feature...

[2017-11-03 21:23] #1058 closed

[2017-11-04 08:19] notFloran commented on #1171
@nicolargo We need to update the wiki https://github.com/nicolargo/glances/wiki/Reverse-proxy-to-the-Glances-Web-UI

Since the 2.11  :

[code]

and

[code]

are useless

[2017-11-04 08:39] nicolargo commented on #1171
Done ! Can you have a look on the Wiki and check that the configuration is fine ?

[2017-11-04 09:10] notFloran commented on #1171
For the issue I see the following problem:

* with a `web-base-path` argument all routes of bottle (webui and API) will be prefixed
* in the 3.0 roadmap I see that client/server mode will use the REST API

So we can have the following setup:

* server 1:
  * no `web-base-path`-> API available at `IP:61208/api`
* server 2:
  * `web-base-path` on -> API available at `IP:61208/my-base-web-path/api`

[2017-11-04 09:13] notFloran commented on #1171
nginx config is ok, for apache I have not tested but it seems ok

[2017-11-04 10:07] nicolargo commented on #1171
@notFloran completely agree with your [last comment](https://github.com/nicolargo/glances/issues/1171#issuecomment-341882693). Concerning the Glances 3.0 roadmap, i am not sure that the Restful API will replace the XML/RPC. The bandwidth consumption between a server and a client is *10 between the RPC and the Restful. Before switching, i have to find a way to optimize and reduce the bitrate.

[2017-11-05 14:51] nicolargo opened #1182 "Add deflate compression support to the RestAPI"
#### Description

For the moment, Glances did not compress data in client/server mode (XML/RPC or REST/JSON). The goal of this enhancement is to (optionally) support Gzip compression for the RestAPI. If the client sent a request with 'Accept-Encoding: gzip' in the Header then Glances should compress the respond and set the 'Content-Encoding' to 'gzip'.

Two actions related to this issue:
* the Gla

[2017-11-05 15:08] nicolargo commented on #1182
First test without compression:

[code]

and with compression (Gzip):

[code]
==> Compression: 85%

Had to do a real test (grab all stats every 3 seconds) to check the CPU consumption.

[2017-11-05 16:23] nicolargo commented on #1182
@notFloran I just push the branch with the implementation on the server side.

Works like a charm with the Curl command (see previous comment), but...

1) the Web UI did not work anymore.. (blocked to the Glances splash screen)
2) the Web UI requests should be change to force the Gzip compression (in the Header request) and uncompress the result returned by the server

Can you have a look ?

[2017-11-06 05:02] FindHao commented on #1094
Same problem.

Versions

Glances v2.11.1 with psutil v5.3.0
Operating System (lsb_release -a): Debian GNU/Linux 8.9 (jessie)

[2017-11-07 08:50] halolah opened #1183 "Glances stopped When it ran after a period of time"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

For an enhancement or new feature: Describe your needs.

#### Versions

* Glances (glances -V):mas

[2017-11-09 03:24] heylenz commented on #1094
Same Problem.

Versions

Glances v2.11.1 with psutil v5.2.2

Window 10

[2017-11-09 19:57] nicolargo commented on #1183
What is your Glances version 2.11.1 ?

Look like a PsUtil issue...

[2017-11-11 09:34] nicolargo commented on #1182
Note for me: have a look on https://github.com/requests/requests/issues/1753#issuecomment-29274517

[2017-11-11 10:50] notFloran commented on #1182
@nicolargo All the work is made by the browser, I can't do nothing in the webui code to handle the gzip compression.

I think the problem came from the gzip handling in the python code, may be the length of the response is invalid or a header is missing.

Example with httpie:

[code]

[2017-11-11 17:06] nicolargo commented on #1182
Strange, it works with Curl but not Httpie...

I will have a look on the server side...

[2017-11-12 15:50] nicolargo commented on #1182
Solved thanks to Guillaume: https://stackoverflow.com/questions/47240972/httpie-can-not-decode-my-bottle-api-gzipped-respond

### Advanced tests with results

Without compression: 812 Kbps / CPU consumption 2.7% on my laptop (server side)
With compression (default compression level ~ 6): 36 Kbps  / CPU consumption 2.9% on my laptop (server side)

[2017-11-12 16:26] nicolargo commented on #1182
Ok pushed on the #issue1182 branch.

Current status:
- GZip compression and WebUI OK with Python 2.7
- Internal Server Error with Python 3.5 (no other error displayed, nothing in the log file...)

@asergi if you can have a look on it...

[2017-11-12 20:34] uSpike commented on #1135
It may be a lot easier to simply use the `multiarch/ubuntu-debootstrap` images already available.  You can run them on your x86 machine because they include static qemu binaries.

AFACT, it should be as simple as changing the `FROM ubuntu` line to `FROM multiarch/ubuntu-debootstrap:armhf-xenial` and making sure you have binutils set up on your host, or just run

[code]

[2017-11-14 04:22] jkleve opened #1185 "'ascii' codec can't encode character u'\U0001f4a9' in position 4: ordinal not in range(128)"
With the wifi module enabled, I get an uncaught exception due to a neighbor's weird wifi name.

The exact exception I get is:
`UnicodeEncodeError: 'ascii' codec can't encode character u'\U0001f4a9' in position 4: ordinal not in range(128)`

The issue is caused from the following line of code (glances_wifi.py:200)
`msg = '{:{width}}'.format(hotspotname, width=ifname_max_width)`

The cause being tha

[2017-11-14 20:43] nicolargo commented on #1185
Corrected in the latest commit. Use the standard u() function of the glances.compat script.

[2017-11-15 02:06] thorsummoner opened #1187 "Speedometer (network histogram) sidebar ((and in-terminal graphic capabilities))"
#### Description

[speedometer <sup>pypi [↗]</sup>](https://pypi.python.org/pypi/Speedometer) integration (for active network interfaces)

Speedometer does an excellent job of drawing time-series bargraphs via utf-8 character in a terminal, screenshot:
![speedometer-256.png](https://excess.org/media/speedometer-256.png)

I noticed I tend to tmux speedometer together with glances, and also speedome

[2017-11-15 02:20] jkleve commented on #1185
This change did not fix this issue. I updated to commit 9c3c4ba on the develop branch and I now get the same exception again.

[2017-11-15 20:45] yhcharles opened #1188 "KeyError: 'memory_info' on stats sum"
[code]

[2017-11-15 21:14] nicolargo commented on #1185
@jkleve The update to test is the following: https://github.com/nicolargo/glances/commit/a47bf1a76b948c8ffdf60fcbc0ba1693847beb1b

[2017-11-15 21:15] nicolargo commented on #1188
Please can you fill the issue with the following information:

#### Versions

* Glances (glances -V):
* PSutil (glances -V):
* Operating System (lsb_release -a):

[2017-11-15 22:10] yhcharles commented on #1188
$ glances -V
Glances v2.11.1 with psutil v5.4.0
$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.3 LTS
Release:        16.04
Codename:       xenial

[2017-11-16 03:13] jkleve commented on #1185
@nicolargo commit 9c3c4ba is after a47bf1a so I have your fix. Either way, I'm now testing with a47bf1a. Do you mean to encode the ssid? I'm using python 2.7.13.

[2017-11-16 19:54] nicolargo commented on #1188
Corrected in the latest commit.

Will be release in Glances 3.0.

[2017-11-16 19:54] #1188 closed

[2017-11-16 19:56] nicolargo commented on #1185
Strange, can you show me the result of the following command:

[code]

[2017-11-17 04:11] jkleve commented on #1185
The result of the above python code gives
`'UTF-8'`

Commit d367cc0 works and solves my issue. Thank you.

Do note that the wifi strength is now about one tab closer to the ssid & encryption. This is only for the ssid that is giving us issues here. It seems the `u'\U0001f4a9'` character is slightly messing up the format of the line.

[2017-11-17 07:38] halolah commented on #1183
The Glances version is 2.11.0,the PsUtil version is 5.4.0

[2017-11-17 14:29] waredsystems opened #1189 "How to set Docker Web Password ?"
Hi, my question is quite simple... How to set a docker web password ?

I saw the ticket #1040 but for me it's really not convenient. I don't want to install glances on my server, I just want to use the Docker image (what is the interest of Docker otherwise?). I tried to mount the configuration with -v /home/glances/glances.conf:/glances/conf/glances.conf -v with just these lines

[code]

The confi

[2017-11-17 17:31] jkleve commented on #1185
See [this link](https://i.imgur.com/L5hezUI.png) to better understand what I'm saying.

Feel free to close this issue. I just wanted to bring this to your attention. I could look into this formatting issue too when I have some time.

[2017-11-18 08:46] nicolargo commented on #1189
Hi,
creating the glances.pwd file inside the container is for my point of view the best solution.

The problem is that CTRL+C sends a signal to the top-level process inside the container (bash in your case). You can try CTRL+\ (mercilessly kill the process that is currently in the foreground instead).

Nicolas

[2017-11-19 23:00] Matteofalafel opened #1190 "Update problem - Fedora 27"
Good evening,

I tried to update glances from 2.7.1 version to 2.11.1 but didn't' work, this is the problem that occurred.
As I said before I am using Fedora 27 as the operating system.

![screenshot from 2017-11-19 16-39-45](https://user-images.githubusercontent.com/33809495/32996642-480c7494-cd7d-11e7-9f53-5d06f6982145.png)

Thanks in advance

[2017-11-23 22:26] davimello28 opened #1191 "Just want to thank you. Glances is awesome!"
Just want to take some time to thank you guys for doing this. This tool became extremely useful for me and my team.

Thanks a lot!

[2017-11-24 14:52] towo opened #1192 "Electron/Atom processes displayed wrong in process list"
#### Description

Process list shows a shortened/partial string for electron apps like Discord, and misidentifies the process name.

Actual ps output:
[code]

What `glances` shows:
[code]

(The rest of the line is there, just not easily copypastable due to terminal size limits)

Similar things happen with spotify:
[code]

vs. glances command column:
[code]

The removed tokens are of course hex str

[2017-11-25 08:17] nicolargo commented on #1192
Also reproduced with the atom editor processes...

[2017-11-25 08:51] nicolargo commented on #1192
Corrected in the latest commit: 42ee99e62e52e47e0dcdcb5a842016a683b26bab
Will be available in Glances 3.0.

@towo Thanks for the issue report !

[2017-11-25 19:46] wernight commented on #1155
Color was correct but usage was wrong. My disk usage was 100% and glances reported 80.2G out of 84.5G. It's not wrong in term of size but wrong in term of disk usage meaning that I actually couldn't add 4 GB.

[2017-11-26 00:35] senorsmile opened #1193 "display info for second battery"
#### Description

enhancement: On T & X series thinkpads (and some P), there are two batteries.  On my p51s, only BAT0 is displayed.

#### Versions

- Glances v2.11.1 with psutil v5.4.1
- Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial

[2017-11-26 09:20] nicolargo commented on #1190
The pip command needs root account. Use sudo:

    sudo pip install --upgrade glances

All is explain in the manual...
So RTFM...

[2017-11-26 09:20] #1190 closed

[2017-11-26 09:29] nicolargo commented on #1193
Need additional information:

1. Is Batinfo installed on your system ?

    pip list | grep batinfo

2. if yes, please show us the result of:

    # python
    import batinfo
    print(batinfo.batteries())

3. if not:

    # python
    import psutil
    psutil.sensors_battery()

Thanks !

[2017-11-26 16:46] nicolargo commented on #1192
I re-open it because the issue did not solve all the cases...

In fact the problem is in the cmdline() method of the Psutil Process class ==> https://github.com/giampaolo/psutil/issues/1179#issuecomment-347021757

I revert my commit.

[2017-11-26 17:00] nicolargo commented on #1192
Solved by a dirty workarround.
It will be removed when the PSutil bug will be solved.

Available on the DEVELOP branch.

Please test it ;)

[2017-11-26 19:12] towo commented on #1192
Looks good :+1:

[2017-11-26 19:55] #1192 closed

[2017-11-27 18:00] senorsmile commented on #1193
Greetings!

[code]

[code]

I also did the psutil version... why not?
[code]

[2017-11-27 21:11] senorsmile commented on #1193
I take it back.. after comparing the output in glances with ```acpi```
I realize that it's simply combining the two batteries and presenting a single total.  This wasn't clear at first but makes sense.

[2017-11-27 21:11] #1193 closed

[2017-11-28 02:16] aftabnaveed commented on #1176
@nicolargo looks like this fix is still sitting in the develop branch, when is it expected to be merged?

[2017-11-29 07:44] aftabnaveed opened #1194 "Run Glances in Background through Supervisord"
#### Description

I am trying to run glances in backround through Supervisord process management service, but it's failing due to the curses library being used and I get the below error:

```_curses.error: setupterm: could not find terminal```

Is there a way to run glances in background with export flags such as glances --restful-export?

#### Versions

* Glances v2.11.1
* PSutil: v5.3.1
* Operat

[2017-12-01 03:15] jtpavlock opened #1195 "HDD Temps inside docker container?"
#### Description

Is there anyway currently to get hdd temps while glances is running inside of a docker container?

Maybe I'm bad at searching, but I couldn't find anything / could use some help if this is possible.

#### Versions

* Glances (glances -V): current docker container image
* PSutil (glances -V):
* Operating System (lsb_release -a): Debian 9.2

[2017-12-01 21:20] phairplay opened #1196 "windows 10 stuck on landing page"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

For an enhancement or new feature: Describe your needs.

#### Versions

* Glances v2.11.1
* psutil

[2017-12-02 06:12] notFloran commented on #1196
Can you go to `http://localhost:61208/`, open the web console (for [Firefox](https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console) , for [Chrome](https://developer.chrome.com/devtools/docs/console)) and paste me back the result.

[2017-12-02 08:58] nicolargo commented on #1194
If you want to run Glances in background, you should use:

glances -s

or

glances -w

Please read the manual: http://glances.readthedocs.io/en/stable/quickstart.html

[2017-12-02 08:58] #1194 closed

[2017-12-02 09:30] nicolargo commented on #1195
Not an easy trick...

Glances uses a socket connection to the HDDTemp daemon running on the host (by default on 127.0.0.1:7634). So you had to :
1) configure your HDDTemp daemon to listen to all interfaces
2) find a way to map this host local port inside the Glances container

If a contributor has an idea...

[2017-12-02 11:15] nicolargo opened #1197 "Another encoding issue... With both Python 2 and Python 3"
#### Description

Add the following line to the glances.conf file:

[code]

Start Glances with Python 2:

[code]

Start Glances with Python 3:

[code]

#### Versions

* Glances (glances -V): Glances 3.0 (DEVELOP BRANCH)

[2017-12-02 11:16] nicolargo commented on #1197
@asergi Encoding... Can you have a look on this issue and more generally refactor the encoding of string in Glances for the future version 3.0 ? (please !!!)

[2017-12-04 20:54] phairplay commented on #1196
After rebooting a few times while installing a few other programs it’s now working. Many thanks for the quick response.

[2017-12-04 20:54] #1196 closed

[2017-12-07 11:19] raushanjha146 opened #1198 "Web browser is not working with Glances 2.11.1 in Debian stretch"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

I am using glances 2.7.1.1-2  on our debian-stretch system.
when running glances -w or glances -s, got the error "ssl.SSLError: ("bad handshake: Error([('SSL routines', 'tls_proces

[2017-12-09 10:09] nicolargo commented on #1198
No idea... Perhaps have a look on https://github.com/requests/requests/issues/4247#issuecomment-323440886

[2017-12-09 10:10] nicolargo commented on #1198
Try with the latest stable version (Glances 2.11.1).

[2017-12-10 11:25] raushanjha146 commented on #1198
I download the Glances 2.11.1(from debian sid repo). OpenSSL problem was not found in that version.
glances version: Glances v2.11.1 with psutil v5.0.1

run : glances -w

console:
raushan@raushan:~$ glances -w
Glances web server started on http://0.0.0.0:61208/

hitting the IP:port from browser:
http://<IP>:61208/

in this case glances UI doesn't show any details.

**Glances Logs are given below:*

[2017-12-10 11:40] raushanjha146 opened #1199 "Web browser is not working with Glances 2.11.1 in Debian stretch"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: I download the Glances 2.11.1(from debian sid repo). OpenSSL problem was not found in that version.
glances version: Glances v2.11.1 with psutil v5.0.1s.

step:
install

[2017-12-10 12:45] nicolargo commented on #1198
@notFloran Any idea ?

[2017-12-10 12:46] nicolargo commented on #1199
Please do not duplicate issue. Already traced by https://github.com/nicolargo/glances/issues/1198#issuecomment-350541455

[2017-12-10 12:46] #1199 closed

[2017-12-10 12:46] nicolargo commented on #1199
REJECTED cause: duplicated

[2017-12-10 12:49] raushanjha146 commented on #1199
Ok thanks.

I thought it would be the separate issue.
No problem. Please provide the comments on the previous issues.

Thanks,
Raushan

On Sun, 10 Dec 2017 at 6:16 PM, Nicolas Hennion <notifications@github.com>
wrote:

--

Thanks & Regards
Raushan

[2017-12-10 13:58] notFloran commented on #1198
@raushanjha146 Can you try to clear the cache ? or open glances in a incognito window

[2017-12-10 15:05] raushanjha146 commented on #1198
@notFloran I tried and check the browser console log. the same log is showing.

[2017-12-11 06:43] notFloran commented on #1198
@raushanjha146 Can you open http://0.0.0.0:61208/js/vendor.min.js and try to search `angular.module('cfp.hotkeys'` ?

[2017-12-11 06:51] raushanjha146 commented on #1198
[vendor.min.js.zip](https://github.com/nicolargo/glances/files/1546794/vendor.min.js.zip)
@notFloran angular.module('cfp.hotkeys' is not found in vendor.main.js file.
file is attached.

[2017-12-11 20:41] notFloran commented on #1198
I think it's a cache error : the v2.11 version use AngularJS v1.6.6 (see [vendor.min.js](https://raw.githubusercontent.com/nicolargo/glances/v2.11.1/glances/outputs/static/public/js/vendor.min.js)) but the file uploaded by @raushanjha146 indicate AngularJS 1.5.10.

Can you try the WebUi in a different browser to be sure that's a cache issue ?

Or download the "http://0.0.0.0:61208/js/vendor.min.js

[2017-12-12 05:40] raushanjha146 commented on #1198
I checked the  vendor.min.js file, it is showing v1.5.10.
I checked the file in "/usr/share/javascript/angular.js/angular.js" and "/usr/lib/python3/dist-packages/glances/outputs/static/public/js/vendor.min.js", the version is the same( v1.5.10).

Again i tried to identify the issue. the complete workaround is given below:

- I removed and purge the glances package.
- check the AngularJS version in

[2017-12-12 06:19] notFloran commented on #1198
@raushanjha146 Thanks for this detailed report !

With your report I understand the issue: the debian package replace `vendor.min.js` with the angularjs version provided by Debian but the `vendor.min.js` contains angulars + others dependencies (like  `cfp.hotkeys`).

So the debian package breaks two things :

* the version of angular : 1.6 -> 1.5 (
* the dependancies included in vendor.min.js

Any

[2017-12-12 06:24] nicolargo commented on #1198
Nope. I will send an email to the Glances'Debian packet manager.

[2017-12-12 11:56] sbadia commented on #1198
Hi, indeed, it's a issue packaging side, I take a look

[2017-12-12 17:52] sbadia commented on #1198
It should be ok, with 2.11.1-2 ( https://tracker.debian.org/news/893294 ).
Thanks for your help!

[2017-12-13 19:46] nicolargo opened #1200 "[WebUI] --fahrenheit option do not take into account"
#### Description

Start Glances with the --fahrenheit option (to switch sensor temperature in fahrenheit).

On the Curses UI (OK):

![selection_348](https://user-images.githubusercontent.com/776747/33959008-781564a8-e046-11e7-9a25-78f1b3468449.png)

On the Web UI (Not OK):

![selection_347](https://user-images.githubusercontent.com/776747/33959013-7a3a662a-e046-11e7-862f-712b7f4cc0f8.png)

#### Ve

[2017-12-13 19:46] nicolargo commented on #1200
@notFloran Can you have a look?

[2017-12-14 20:16] IIIMADDINIII opened #1201 "Glances crashes when mountpoint with non ASCII characters exists"
#### Description
If a mountpoint with an non ASCII character exists or is created, glances craches with the Tracheback below.

#### Versions
Glances v2.11.1 with psutil v5.4.2
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.3 LTS
Release:        16.04
Codename:       xenial

#### Logs

[code]

[2017-12-14 23:47] tpynak opened #1202 "FreeBSD blackhole bug"
Hi all.
Using Glances on FreeBSD but during optimizing my server I found a problem with glances and system option like blackhole.

So, glances works well, until I will execute commands (or add to sysctl) the following:
sysctl -w net.inet.tcp.blackhole=2
sysctl -w net.inet.udp.blackhole=1

After doing it, glances just loading, and nothing more happens. Until I press ctrl+c. I waited for about 5 min

[2017-12-15 02:09] netlexer opened #1203 "Arch linux package (2.11.1-2) psutil (v5.4.1): RuntimeWarning: ignoring OSError"
After the last glances package update on an up to date Arch linux system, glances now outputs the following lines to standard error:

These lines are repeated during the program run, messing up the display. Redirecting the output

solves the immediate display problem, though this is obviously not ideal.

As stated, this has only started happening after glances was upgraded (2.11.1-1 -> 2.11.1-2) a

[2017-12-15 14:26] nicolargo commented on #1202
Strange behavior... Can you disable all the optional plugins and test again:

    glances --disable-alert --disable-amps --disable-cloud --disable-diskio --disable-docker --disable-folders --disable-fs --disable-gpu --disable-hddtemp --disable-ip  --disable-network --disable-now --disable-ports --disable-process --disable-raid --disable-sensors --disable-wifi --disable-history

[2017-12-16 00:09] tpynak commented on #1202
Hi, I have tried, and it works. Than I started to disable one by one, and found that it works well with: --disable-sensors, without it glances does not loading.

[2017-12-16 01:50] mbirth commented on #1197
I have the `TypeError: decoding str is not supported` even without any foreign characters, like:

[code]

and

[code]

These are the only two AMPs that have a `command` parameter.

[2017-12-16 13:01] nicolargo commented on #1197
@mbirth can you pastebin the Glances log file ?

[2017-12-16 13:04] nicolargo commented on #1185
Ok thanks @jkleve !

[2017-12-16 13:04] #1185 closed

[2017-12-16 13:25] nicolargo commented on #1202
@tpynak Can you test the following command lines:

[code]

Thanks !

[2017-12-16 13:28] nicolargo commented on #1203
@giampaolo any idea where this PsUtil warning message came from ?

[2017-12-16 13:34] nicolargo commented on #1197
More or less relative issue: https://github.com/nicolargo/glances/issues/1201

[2017-12-16 13:52] mbirth commented on #1197
@nicolargo Here it is: https://hastebin.com/ugalanisav.scala

The exceptions thrown are:

[code]

[2017-12-16 14:06] nicolargo commented on #1197
@mbirth Can you try with the latest commit (eef4fd7) in the DEVELOP branch ?

[2017-12-16 14:13] tpynak commented on #1202
root@blogs2:~ # python
Python 2.7.13 (default, Aug 15 2017, 01:13:21)
[GCC 4.2.1 Compatible FreeBSD Clang 3.4.1 (tags/RELEASE_34/dot1-final 208032)] on freebsd10
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
AttributeError: 'module' object has no attribute 'sensors_temperatures'

Traceback (most rece

[2017-12-16 14:23] nicolargo commented on #1202
Ok look like a PSUtil issue. Just open it: https://github.com/giampaolo/psutil/issues/1195

[2017-12-16 14:28] tpynak commented on #1202
Yes, probably. But the strangest thing is - blackhole setting. Glances loads well (without disabling third-party plugins) if blackhole turned off. But if it turns on, as I stated before - glances is not loading, just getting stuck. How it is connected?

[2017-12-16 15:03] mbirth commented on #1197
@nicolargo Now the original problem seems to be fixed, but it's giving this:

[code]

Which seems to come from this section of my config:

[code]

(I run it like: `python3 -m glances -C /opt/mbirth/glances.conf -1 -t 5 -d`)

On a sidenote: The docker plugin is not configured in my config, yet it shows this in the glances.log:

[code]

and also gives an exception on launch:

[code]

And glances (de

[2017-12-16 15:18] nicolargo commented on #1197
Ok, the last commit (205bed0) should resolve your encoding issue. Can you try (again) ?

[2017-12-16 15:22] nicolargo commented on #1197
Concerning the Docker issue, you should update your Docker Python lib:

    pip install --upgrade docker

And finally the last line in the log file is a debug message. You can ignore it.

[2017-12-16 15:38] mbirth commented on #1197
@nicolargo Awesome, after upgrading the docker lib, all problems are gone. Tested with python3 and 2.

[2017-12-16 17:34] nicolargo opened #1204 "Add dynamic fields in all sections of the configuration file"
#### Description

Need requested by: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/glances-users/pf5MS7gBJdY/65RTKsmOAgAJ

Add the possibility to use dynamics values in configuration file sections:

Example for current hostname in an InfluxDB export:

[code]

Note: in a first time, i propose to use the {{mustache}} syntax to get stat from Glances as already done in the a

[2017-12-16 21:46] netlexer commented on #1203
Some more information. Looking at the file referenced in the error above

[code]

the first psutil issue quoted (1009) has a comment about disabled wireless devices. The laptop I'm running glances on is usually connected via an ethernet cable, not wifi.  When I enable the wireless device the error messages disappear.

My original comments about this error appearing due to an upgrade are clearly a

[2017-12-17 09:15] notFloran commented on #1200
@nicolargo Do you want the fix for master or develop?

[2017-12-17 09:33] nicolargo commented on #1200
Develop, it is not a critical bug.

[2017-12-17 09:42] nicolargo commented on #1198
@Thanks you @sbadia !

[2017-12-17 09:42] #1198 closed

[2017-12-17 09:46] #1197 closed

[2017-12-18 07:10] raushanjha146 commented on #1198
Thanks @nicolargo @notFloran @sbadia
but when open the web browser in Tablets/mobile(smalss screen), the data is overlapped.
Can any one suggest anything.

[2017-12-20 09:47] hunasdf commented on #993
Amazing job guys! I miss this AMD/ATI GPU monitoring plugin only. This may can help. Old code, but I hope to you can use it :)
https://github.com/bitshiftio/pyADL

[2017-12-21 09:16] nicolargo commented on #993
@hunasdf Nice ! I will have a look on it and came back to you for the testing step because i do not have any AMD/ATI device...

[2017-12-21 10:05] hunasdf commented on #993
@nicolargo Of course, I help for you! I am a programer too with a little Python knowledge (i am learning it). And I have 5 RX 460 4GB in a single machine and 1 R9 380X 2GB card in another one. On both machine running Win 10 now. Just write to me to what I should do :)

[2017-12-21 20:09] nicolargo commented on #993
@hunasdf Just have a quick look on the ADL3 lib (available in Pypi). No documentation and the code is very old...

Can you just try this on your machine (from a console) and copy/paste the result:

[code]

Thanks

[2017-12-22 08:23] hunasdf commented on #993
@nicolargo On Win 10, with R9 380x
But I can add access for you for this machine if it is help :)

[adl3.txt](https://github.com/nicolargo/glances/files/1581881/adl3.txt)

[2017-12-22 08:58] nicolargo commented on #993
@hunasdf Yes it will be nice but without any documentation it will not be easy...

[2017-12-22 20:00] hunasdf commented on #993
@nicolargo I check this lib and I do not know... Maybe we can use a part of it.
 I tried to use "atitweak -l" for simple list the adapters and I got an error. No problem, I started to debug the issue.  I found the mistake at ADL_Adapter_ID_Get (ADL_Adapter_NumberOfAdapters_Get and ADL_Adapter_AdapterInfo_Get maybe OK). I started to search any reference or something about it, and I found this page:

[2017-12-22 20:40] nicolargo commented on #993
@hunasdf thanks for your time and do not worry about your English ;)

I want to let specific plugin  code outside the Glances source project. So i prefer to have an external ATI/AMD Python Lib. If you want i can initialize a "Git repository skeleton" for this new lib where you test your development. What do you think ?

[2017-12-22 21:27] hunasdf commented on #993
It is a great idea, lets try it!

[2017-12-23 08:36] hunasdf commented on #993
@nicolargo Good news: something happened!
I updated the ATI/AMD driver to 17.12 (block chain driver), and restarted the machine. And use ADL2_Adapter_ID_Get instead of ADL_Adapter_ID_Get. Now, here the output:

[2017-12-24 09:41] nicolargo commented on #993
@hunasdf As already done for NVidia (see http://glances.readthedocs.io/en/stable/aoa/gpu.html) the Glances GPU plugin should display the following information for the AMD/ATI GPU:

1. **GPU name** ==> Look like the information is available ("0. AMD Radeon (TM) R9 380 Series (\.\DISPLAY4)). I think that the "0." is the GPU number ?
2. GPU process load in %. I do not see this stat in the output of t

[2017-12-24 10:47] hunasdf commented on #993
@nicolargo I think, this informations is available in the ADL. I seen somewhere. Next step will be grab there. (The infos in my last comment were the same output what atitweak generated. I just was happy to we can use this “old” adl3 lib :))
And thanks the invitation, I accepted it!

[2017-12-26 12:19] hunasdf commented on #993
I commited the first alpha version. With this, you can grab the described infos except Memory consumption. If something not okay with the code, the license, anything, just write to me! :)

[2017-12-26 15:24] nicolargo commented on #993
Hi @hunasdf

My comments here: https://github.com/nicolargo/pyadl/issues/1

Thanks !

[2017-12-26 16:05] nicolargo commented on #1204
Available in the DEVELOP branch. Please test !

[2017-12-27 09:11] #1200 closed

[2017-12-27 09:27] atriwidada commented on #1126
I got the same bug. Can't hide interfaces like veth0UEVHH from lxc with explicit hide=veth0UEVHH in [network], but it works (can be hidden) if I put hide=veth* instead. glances v2.11.1

[2017-12-27 09:30] nicolargo commented on #1126
@atriwidada It should be solved in the develop branch (future Glances 3.0).

[2017-12-27 19:03] giampaolo commented on #1203
Looks like it comes from `sensors_temperatures`.

[2017-12-27 19:08] nicolargo commented on #1202
As analyzed by @giampaolo PsUtilis only compatible with sensors_battery() on FreeBSD OS.

Had to limit the sensor plugin to Linux and Windows OS.

[2017-12-27 19:25] tpynak commented on #1202
Thanks for your reply, so - waiting for an update than?

[2017-12-27 19:47] nicolargo commented on #1202
Yes. Will be corrected in Glances 3.0. As a workaround you can use the
--disable-sensors option on the command line.

Le 27 déc. 2017 20:25, "tpynak" <notifications@github.com> a écrit :

[2017-12-28 10:44] nicolargo opened #1206 "Remove graph export from Glances"
#### Description

With all the exports modules available, it is no more necessary to have an embedded chart generator.

Dependency to Matplotlib will be removed and code will be simplify.

[2017-12-28 10:49] nicolargo commented on #1173
Todo:

- [ ] Test with --disable-process

[2017-12-28 12:08] nicolargo commented on #1206
Todo:

- [ ] Have a look on how the history function can be extracted from the current graph.py script

[2017-12-29 17:43] nicolargo commented on #1173
Available in the DEVELOP branch.

Will be release in Glances 3.0.

[2017-12-29 17:43] #1173 closed

[2017-12-29 17:43] #1204 closed

[2017-12-29 17:51] nicolargo opened #1207 "Glances do not exit when eating 'q'"
#### Description

In the DEVELOP branch (Glances 3.0_DEVELOP) Glances do not exit.

    $ python -m glances

Had to make a CTRL-Z + kill...

#### Versions

* Glances (glances -V): Glances 3.0_DEVELOP
* Operating System (lsb_release -a): Ubuntu 16.06

[2017-12-29 18:11] nicolargo commented on #1206
Done in the DEVELOP branch.

Will be release in Glances 3.0.

[2017-12-29 18:11] #1206 closed

[2017-12-29 21:25] nicolargo commented on #1207
Corrected in the latest commit in the DEVELOP branch.

[2017-12-29 21:25] #1207 closed

[2017-12-29 21:45] nicolargo opened #1210 "Unitaries tests are broken after merge of issue#1204"
#### Description

Units test broken.

#### Versions

* Glances (glances -V): Glances 3.0_DEVELOP

#### Logs

[code]

[2017-12-30 09:12] nicolargo opened #1211 "Add a code of conduct for Glances project's participants"
#### Description

Add a standard code of conduct.

Read https://opensource.guide/code-of-conduct/ for more information.

[2017-12-30 09:15] nicolargo commented on #1211
Done: https://github.com/nicolargo/glances/blob/develop/CODE-OF-CONDUCT.md

[2017-12-30 09:15] #1211 closed

[2017-12-30 09:38] #1202 closed

[2017-12-30 10:50] realies opened #1212 "Context switches bottleneck identification"
Running kernel 4.14.9 on Ryzen 1700 and Glances in a container. `ctx_sw` is constantly displayed in red despite values in the `10000-20000` range. Noticed there's a [bottleneck value](https://github.com/nicolargo/glances/blob/4dd873ac0e269b6597d2de26cd2fe104e4f11437/glances/config.py#L170) defined with an index of `56000`. Why would that value be critical to a system?

[2017-12-30 16:37] nicolargo commented on #1212
Hi @realies ,

by default the Context Switch bottleneck value is set to 56000/<number of CPU core> (read this article http://old.koetzingit.de/index.php?option=com_content&task=view&id=196&Itemid=260).

Nevertheless, you can set the threshold to others values using the glances.conf file:

[code]

[2017-12-30 16:39] #1210 closed

[2017-12-30 16:44] nicolargo commented on #1203
@netlexer can you try to run Glances with the --disable-sensors option and tell us if the error message is stil displayed ?

[2017-12-30 21:47] netlexer commented on #1203
With the --disable-sensors option the error message is still displayed, but only once, before the main glances screen is displayed; i.e. it doesn't repeat like before.

[2017-12-30 22:50] realies commented on #1212
Thanks for the reply. This article is from 2006, CPUs have gone a long way since then. It states that a value of `56000` would be alerting for a quad CPU system. This alone does not translate correctly in the `ctx_switches_bottleneck` value calculation.

Since multi-core CPUs were introduced around 2005, it seems fair to assume the values taken from Citrix Resource Manager by the time the article

[2017-12-31 09:33] nicolargo commented on #1212
@realies Agree with you. The current threshold formula is not correct. I read others posts on context switch monitoring and i found this interesting article: https://www.percona.com/blog/2017/11/09/mysql-linux-context-switches/

On my 4-Core system, if i generate a lot of threads:

    sysbench --num-threads=1024 --test=threads run

the context switch go up to 2M (so 500K per logical CPU). I propo