[2016-05-07 20:49] #698 closed

[2016-05-08 10:18] asergi commented on #844
Yes, sir :-)

[2016-05-09 14:20] nicolargo commented on #844
@asergi can you test the following path:

[code]

[2016-05-09 15:50] nicolargo commented on #862
Implemented in the DEVELOP branch. Will be available in the 2.7 release.

@dwt : Thanks for the enhancement request making Glances better ;)

[2016-05-09 15:50] #862 closed

[2016-05-09 16:11] nicolargo commented on #810
@nclsHart can you enter the following command on a terminal and copy/paste the result ?

[code]

[2016-05-09 16:18] nclsHart commented on #810
@nicolargo Yep, I got the following result:

[code]

[2016-05-09 16:20] asergi commented on #844
Works. Thanks.

[2016-05-09 16:22] nicolargo commented on #810
Clearly a PsUtil issue...

The cpu_stats() method should return the number of stats since boot (http://pythonhosted.org/psutil/#psutil.cpu_stats). So it is not possible to have 465588 and 465294 ctx_switches...

Can you open an issue on the PsUtil tracker (and add the link in the Glances issue): https://github.com/giampaolo/psutil/issues ?

[2016-05-09 16:27] nicolargo commented on #844
Ok merged into the DEVELOP branch.

[2016-05-09 16:27] #844 closed

[2016-05-10 14:02] nicolargo commented on #820
Already done:
- commit https://github.com/nicolargo/glances/commit/8a3d7e49a37afe50a17f765bb46c115ae372fb75
- commit https://github.com/nicolargo/glances/commit/ef1dbb3fefe48361ec320e4f91eee3d6f05b954d
- commit https://github.com/nicolargo/glances/commit/7dfe1f41390389f0d0a42d1da1d3ce3f745ff538
- commit https://github.com/nicolargo/glances/commit/aaf1eebbcd797c8b05c09708cb5cc82012430857

To be con

[2016-05-11 08:03] dwt commented on #862
Sure. :)

[2016-05-11 22:18] lawre commented on #794
I think that would work, good suggestion.

[2016-05-12 08:17] oppianmatt opened #864 "TypeError: 'NoneType' object has no attribute '__getitem__'"
#### Description

Looks like a race condition with docker containers. Sometimes it will throw this exception with stack trace:

[code]

#### Versions

* Glances (glances -V): Glances v2.6.1 with psutil v4.1.0
* PSutil (glances -V): Glances v2.6.1 with psutil v4.1.0
* Operating System (lsb_release -a):

[code]

[2016-05-12 08:28] nicolargo commented on #864
The Docker API has change between the version 1.0 and 1.1. Glances 2.6.1 is not compatible with Docker 1.1. Please use the latest DEVELOP branch (2.7 beta) or disable the Docker plugin using --disable-docker.

Thanks for the issue report.

[2016-05-12 08:28] #864 closed

[2016-05-12 08:41] oppianmatt commented on #864
using the latest from pip, and using glances especially to monitor docker because glances is awesome at it.

But if anyone else sees this and wants to know a workaround, use the docker glances as described.

[2016-05-12 08:41] nicolargo commented on #864
REJECTED: cause duplicated =>https://github.com/nicolargo/glances/issues/848

[2016-05-12 09:01] nicolargo commented on #864
Note: i just release a official patch (Glances 2.6.2) for this issue. Please upgrade your Glances software using Pipy.

[2016-05-12 09:01] nicolargo commented on #848
Note: i just release a official patch (Glances 2.6.2) for this issue. Please upgrade your Glances software using Pipy.

[2016-05-12 09:11] nicolargo opened #865 "Display a warning message when Glances is outdated"
#### Description

When Glances starts (or ends), a warning message should be displayed if the version is outdated.

### Developer corner

* Pip message: https://github.com/pypa/pip/blob/8c62156580a8a21a47f361db6d866fff122df4e2/pip/utils/outdated.py
* Pypi API: https://wiki.python.org/moin/PyPIJSON
* Pypi Glances JSON: https://pypi.python.org/pypi/Glances/json
* compare version function: http://sta

[2016-05-13 07:32] SharpLu opened #866 "No influxdb configuration found"
Hello guys, I'm first time use the glances ,trying to deploy with Influxdb and Grafana but seems have some issues below.
![capture](https://cloud.githubusercontent.com/assets/8836246/15240932/23e2f228-18ed-11e6-8a31-4f8ec890f6ce.PNG)

I have checked with my glances.conf and influxDB seems is correct

glances.conf below
![glance conf](https://cloud.githubusercontent.com/assets/8836246/15240995/6934

[2016-05-13 12:53] nicolargo commented on #866
I think that Glances uses a wrong configuration file.

Press 'h' in the Curse interface to check the loaded configuration file.

[2016-05-13 19:49] SharpLu commented on #866
![a](https://cloud.githubusercontent.com/assets/8836246/15259943/49ffc6e0-1954-11e6-9296-0a7b02592148.png)

Hi nicolargo,

I have checked the glances  with h,  seems here dont have any configuration files.

I used ubuntu 14 desktop version
and i have installed by
pip install glances
sudo apt-get install glances
and also try to download glances and installed
i try all method above respectively. but

[2016-05-13 21:27] nicolargo commented on #866
As said in the documentation (http://glances.readthedocs.io/en/latest/config.html), the configuration file should be on one of the following folder: ~/.config/glances, /etc/glances

f not, create a new one (based on the default conf file: https://github.com/nicolargo/glances/blob/master/conf/glances.conf) and put it wherever you want.

and run glances with -C path/to/conf/file

[2016-05-14 10:15] SharpLu commented on #866
I have try to glances -C /home/ubuntu/documents/glances.conf  but seems like this execution only temporary,and after close the glances and open again,  still old problem.
but the way i try to use  glances -C /home/ubuntu/documents/glances.conf  --export-influxdb
seems still not work.

[2016-05-14 21:18] nicolargo commented on #866
Can you:

1) paste/bin the glances.conf file (http://pastebin.com/)
2) Start Glances with the goods options and past/bin us the /tmp/glances.log file

[2016-05-15 16:45] SharpLu commented on #866
Hi Nicolargo,

The glances.log file
http://pastebin.com/6t9JC2Sp

The glances conf file
http://pastebin.com/CRLX2uhe

[2016-05-15 19:53] nicolargo commented on #866
Try to put your glances.conf file in the ~/.config/glances folder (create it if it did not exist).

Restart Glances. It should solve this issue.

[2016-05-16 07:33] SharpLu commented on #866
Hi Nicolargo ,
Thank you so much for the help,  now it works,

I just wondering can you tell me where to modify the time period? because I need changed to only show the past hours performances they are separated by each 10 minutes.

![01](https://cloud.githubusercontent.com/assets/8836246/15283220/1b239f8a-1b49-11e6-81bd-79863ac10e4b.PNG)

[2016-05-16 07:57] SharpLu commented on #866
I have changed the time range,  now it works. Thanks again.

[2016-05-16 08:21] SharpLu commented on #866
Everything works perfect now.
seems like have some issues with the Disk IO matrix dosnt work.

![03](https://cloud.githubusercontent.com/assets/8836246/15284127/cd3588b8-1b4f-11e6-9b6d-351e0d30f0b8.PNG)
![04](https://cloud.githubusercontent.com/assets/8836246/15284131/d00cbc50-1b4f-11e6-8419-d5a00ee201e4.PNG)

[2016-05-16 08:50] nicolargo commented on #866
The default Grafana dashboard is given for a machine where the hard drive
is mapped to sda2. Are you sure that your system is ok with that ?
Run Glances in cosole mode and check that you have a sda2 disk...

___________________________________________________
*Avant donc que d'écrire, apprenez à penser. -+- Nicolas Boileau, Art
poétique -+-*

2016-05-16 10:21 GMT+02:00 L <notifications@github.com>

[2016-05-16 10:54] nicolasvilchez opened #867 "Temperature sensors fiels for Mac OSX Yosemite (10.10.x)"
#### Description

I installed on our Mac server, it works perfectly.

Unfortunately (for us), We would like to have temperature sensors too (In practice we are VERY interested about our CPU temperatures).
Glances uses hddtemp for temperature sensors. But unfortunately it is available only on Linux. (I tried to install it on Mac without success)

Do you know a way to get also temperature sensors on

[2016-05-16 12:38] SharpLu commented on #866
Yes, you are right.  now it works correctly.

[2016-05-16 14:06] #866 closed

[2016-05-16 14:07] nicolargo commented on #866
REJECTED cause: not an issue.

[2016-05-16 14:17] nicolargo commented on #867
HDDTemp is only used to grab HDD température. Glances uses the following libraries to get sensors stats:

* Py3Sensors (https://bitbucket.org/gleb_zhulik/py3sensors) for CPU and core temperature
* Batinfo (https://github.com/nicolargo/batinfo) for batteries %
* hddtemp (linux only) for hard disk temperature

Solution to respond to the current issue:

* Contribute to the Py3Sensors lib and add the

[2016-05-16 17:00] animehunter commented on #867
Maybe this could help https://github.com/lavoiesl/osx-cpu-temp ?

[2016-05-19 17:19] morpheus65535 commented on #652
For a unknown reason, when I add this to my proxy.conf file, it doesn't work. The result is a blank page. I'm using Apache 2.4 on Ubuntu 14.04. Mod_rewrite is already enabled. You've got an idea?

Thank you!

[2016-05-21 13:04] Kami-no commented on #765
Can't find how to do it. 2 Gentoo machines: one shows all interfaces another only active...

[2016-05-22 08:40] stumueller commented on #815
Hi I have python 2.7 installed as I'm running program that aren't compatible with python 3.5. Can I still install python 3.5 and get just glances to use 3.5 and none of my other programs? maybe by setting my path to only use python 2.7?

Stuart

[2016-05-22 14:00] #865 closed

[2016-05-22 14:00] nicolargo commented on #865
Implemented in Glances 2.7.

[2016-05-23 12:33] nicolargo commented on #748
Done on the develop  branch.

Only the following syntax as been implemented: https://github.com/nicolargo/glances/blob/develop/docs/aoa/ps.rst#process-filtering

To be tested

[2016-05-23 13:54] nicolargo commented on #300
First part of the job is done in the latest commit: https://github.com/nicolargo/glances/commit/830caf970355d8115dc686556987cad78f9f4cfe

Had to check if there is no specific 2.6 code inside the sources...

[2016-05-23 14:05] maxpower47 opened #868 "Expose glances config file when running in docker"
It would be nice to have an easy way to provide a custom glances config when running in docker, i.e. expose a config volume that can be mapped to the host where a glances.conf file is kept persistent.

[2016-05-23 14:14] nicolargo commented on #868
@maxpower47 Agree, but all should be done in the DockerFile. The Glances code should not be Docker specific.

[2016-05-26 12:34] nicolargo opened #869 "Create an universal GUI based on Electron"
#### Description

The goal is to create an universal (Linux/BSD/Mac/Win) GUI based on the Electron framework: http://electron.atom.io/

[2016-05-26 12:35] nicolargo commented on #869
@nclsHart / @notFloran : any glue on it ?

[2016-05-27 11:30] nicolargo commented on #868
Done in the latest commit.

Alternatively, if you want to use your own glances.conf file, you can create your
own Dockerfile:

    FROM nicolargo/glances
    COPY glances.conf /glances/conf/glances.conf
    CMD python -m glances -C /glances/conf/glances.conf $GLANCES_OPT

[2016-05-27 11:31] #868 closed

[2016-05-30 15:10] beyonddev opened #870 "Adding TCPTrack like funtionality"
Awesome project, but Glances does seem to lack the ability to track, display, and/or notify of network activity. Integrating this functionality would make Glances complete!

[2016-05-31 11:55] nicolargo commented on #870
It could be done by using the net_connections method of the PsUtil lib:

[code]

To be discussed:
- new plugins ?
- include the information inside the process list
- !!! CPU consumption ?

[2016-06-02 19:26] asergi commented on #300
Done.

[2016-06-02 19:26] #300 closed

[2016-06-03 20:47] LastStarFighter commented on #779
Has anyone tried to get glances to reverse proxy with caddy server? Was thinking of trying to use caddy instead of nginx since caddy can handle the https certs automatically.

[2016-06-04 08:45] #696 closed

[2016-06-04 09:17] nicolargo commented on #695
Gist code not compliant with the data structure. History now stores data in list of tuple [(timestamp, value), ...]

[2016-06-04 13:38] nicolargo commented on #697
Note: Pygal needs following libs (cairosvg, tinycss, cssselect) to render png

[2016-06-04 22:42] tidusjar opened #871 "Exception when exporting Glances to influxdb"
#### Description

Hello,

I am trying to set up Glances with InfluxDb.

Config:

[code]

I have created the DB called `glances` in InfluxDb

I am running the following: `glances --export-influxdb --config glances.conf`

It shows me the "status" screen in the console (where all the stats are, refreshes once or twice) and then I get the following:
![Error](http://i.imgur.com/dWTMwqW.png)

#### Versi

[2016-06-05 19:45] nicolargo opened #872 "Improve documentation"
#### Description

Improve documentation:

- [x] --browser option and its section in the conf file
- [x] add option for the IRQ plugin

[2016-06-05 19:48] nicolargo commented on #871
Load did not exist on Windows.

Waiting a official patch, try the following work around:

    glances --export-influxdb --config glances.conf **--disable-load**

[2016-06-05 20:07] tidusjar commented on #871
That seems to fix it!

[2016-06-05 20:26] tidusjar commented on #871
@nicolargo Any change you could help with setting up Grafana? Glances is importing successfully into InfluxDB now, i've imported the Grafana dashboard, configured the datasource. No errors on the dashboard, but it's showing no data.

[2016-06-05 20:31] tidusjar commented on #871
nevermind, got it. Edited the row and the series was no correct

[2016-06-09 12:55] nicolargo commented on #857
Implementation started in a dedicated branch.

[code]

The data model is the following:

[code]

[2016-06-10 14:17] nicolargo commented on #857
Done in the latest commit (DEVELOP BRANCH)

[2016-06-10 14:17] #857 closed

[2016-06-13 13:15] nicolargo commented on #734
![selection_033](https://cloud.githubusercontent.com/assets/776747/16008747/ae62daf4-3179-11e6-96bb-6eaf48555978.png)

[2016-06-13 16:08] nicolargo commented on #734
Nice proposal from Twitter:

Maxime Carron @mxcarron
@nicolargo it would be nice to get "default gateway” from system config (and keep the ip updated), and have tested by default ;-)

[2016-06-14 17:56] hndrewaall opened #873 "ZFS Monitoring"
It would be great to have monitoring/alerting for ZFS pools. Set alerts for degraded state, watch scrub/repair status, etc.

[2016-06-17 02:17] lpn520 opened #874 "Will affect the performance of the machine？"
Will affect the performance of the machine?

[2016-06-17 05:39] nicolargo commented on #874
Please follow the template to describe mire precisely the issue.
Le 17 juin 2016 04:17, "lpn520" <notifications@github.com> a écrit :

[2016-06-23 01:47] gmiotto opened #875 "Docker limits and actions"
It would be interesting if the docker plugin could have alerts related to the containers metrics, like CPU,  memory and network usage. With these functionalities, actions related to alerts could be triggered for a specific container, so it would be nice if these alerts/actions could be specified with a list (container name, id, etc) just like the monitor list.

Gustavo.

[2016-06-25 13:21] nicolargo commented on #875
Hi Gustavo, big thanks for this nice enhancement request.

First of all, you should know that the monitor list will be replaced by the Application Monitoring Process (AMP) in the release 2.7 of Glances (see https://github.com/nicolargo/glances/issues/780). Nevertheless, i propose to implement the alert/action inside the Docker plugins.

I propose the following features, feel free to comment, add o

[2016-06-25 13:37] nicolargo commented on #873
Testbed (for developer without a ZFS pool):

[code]

[2016-06-25 13:42] nicolargo commented on #873
First issue, only root could grab ZFS pools status:

[code]

[code]

[2016-06-25 14:31] #748 closed

[2016-06-25 14:31] #780 closed

[2016-06-25 14:31] #797 closed

[2016-06-25 14:40] #842 closed

[2016-06-25 14:40] #847 closed

[2016-06-25 14:41] #810 closed

[2016-06-25 14:48] nicolargo commented on #734
Implemented in the latest HEAD version (develop branch).

Please test !

[2016-06-26 06:51] gavinws opened #876 "Web app not working correctly behind HTTPS nginx reverse proxy"
#### Description

I followed the instructions here for setting up a reverse proxy for glances: https://github.com/nicolargo/glances/wiki/Reverse-proxy-to-the-Glances-Web-UI

I actually have 2 nginx servers involved here:
1.  public, internet-facing server with HTTPS and authentication services (oauth2_proxy). It proxies requests to the following server over a VPN:
2. private, internal server which

[2016-06-26 09:12] gavinws commented on #876
I took another try at nginx rewrites and solved my issue. Here is my updated config on the private/internal server (which is not running HTTPS):

[code]
The trick that did it was adding `https://$http_host/` in the root location's rewrite.

This does mean that glances can only be accessed via the public/external nginx server which is using HTTPS. That's fine for my needs, but it would be nice if a

[2016-06-26 09:15] nicolargo commented on #876
Hi Gavin, thanks for the report and the workaround.

@nclsHart Can you have a look on this issue and implement a correct patch ?

[2016-06-27 09:53] nicolargo commented on #734
@notFloran or @nclsHart : Can you update the Web UI with this new plugin ? Thanks !

[2016-06-27 11:16] nclsHart commented on #734
@nicolargo I'll do it.

[2016-06-27 12:06] nicolargo commented on #734
Thks in advance @nclsHart !!!

[2016-06-29 15:22] nicolargo opened #878 "Highlight max stats in the processes list"
#### Description

In the processes list, max stat should be highlighted.

[2016-06-29 17:12] notFloran opened #879 "Crash at startup on macOs"
#### Description

Glances crash at startup on macOs.

#### Versions

* Glances: develop
* PSutil : psutil v3.2.2
* Operating System : macOs 10.11.5

#### Logs

[code]

[2016-06-30 07:43] nicolargo commented on #879
Strange, it means that s is None but s should contains the process stats:

            s = self.__get_process_stats(proc,
                                         mandatory_stats=True,
                                         standard_stats=self.max_processes is None)

I just add a check (s is None) in the latest HEAD version (develop branch), can you test it ?

[2016-06-30 11:11] notFloran commented on #879
@nicolargo That fix the bug, thanks !

[2016-06-30 11:11] #879 closed

[2016-06-30 13:45] Drewster727 opened #880 "Auto-start on Ubuntu"
Hello,

I'm having an issue getting glances to autostart on my system. Here are my system specs and details:

**Ubuntu 15.10 Server
Glances 2.6.2**

Here's what I've tried so far:
- I have created an init script in /etc/init that simply calls **"glances --export-influxdb"** and it simply doesn't do anything on startup...
- I have added **"glances --export-influxdb"** to my /etc/rc.local startup sc

[2016-07-03 09:32] nicolargo commented on #880
Hi @Drewster727 first of all you need the latest version to export stats to InfluxDB (the apt one did not have this feature).

When you start the Glances daemon, can you have a look on the Glances log file (/tmp/glances.log) and double check that Glances read the correct glances.conf file (/etc/glances/glances.conf). Also have a look if there is other warning or error.

[2016-07-04 23:02] vena commented on #752
fwiw - the reason that workaround wasn't working appears to be that monitor lists need a description or they won't display.  the description can be empty, it just has to exist.  this worked for me:

[code]

[2016-07-05 02:26] vena opened #882 "Aliases not supported in web UI?"
Using a fresh docker pull, attempting to use aliases in diskio and sensors, the aliases only apply in console mode.  The web UI always shows the real device names.

Glances v2.7_BETA with psutil v4.1.0

used a minimal conf to test:
[code]

[2016-07-05 07:18] egyptianbman opened #883 "influxdb logging net fails with docker"
#### Description

Exporting net data to influxdb seems to fail after starting too many docker containers. I'm not sure exactly when the failure happens but I currently have 16 containers running and glances has stopped logging net data.

I'm using the following query in grafana:
[code]

#### Versions

* Glances (glances -V): 2.6.2
* PSutil (glances -V): 4.3.0
* Operating System (lsb_release -a): F

[2016-07-05 08:35] nicolargo commented on #882
@nclsHart / @nclsHart : Can you have a look ?

[2016-07-05 08:55] nicolargo commented on #883
Also reproduce on my laptop with Glances 2.7BETA / Docker 1.11.1 and 18 containers.

Perhaps linked to this InfluxDB issue: https://github.com/influxdata/influxdb/issues/5831

[2016-07-05 10:30] nicolargo commented on #883
@egyptianbman Can you try to force the engine database to TSM1 (engine = “tsm1”) in your InfluxDB configuration. (i think that you should recreate the DB).

Have a look on: https://docs.influxdata.com/influxdb/v0.13/administration/config/

[2016-07-05 12:42] nicolargo commented on #883
Confirmed, *you had to use* the tsm1 engine for the Glances database.

Works fine with my testbed: https://github.com/nicolargo/docker-influxdb-grafana

I will add a new section in the documentation.

[2016-07-05 12:42] #883 closed

[2016-07-06 03:55] Drewster727 commented on #880
hey @nicolargo thanks for the reply.

I followed the systemd service setup via this post: https://groups.google.com/forum/#!topic/glances-users/KrszowyWt8w

Here it is:
[code]

It appears to start properly, but I get no data rolling into influxdb. However, running it manually via command line "glances --export-influxdb" works just fine.

And here is what I see in the glances.log file (cleared it r

[2016-07-06 07:47] nicolargo commented on #880
Hi @Drewster727 , i confirm that the HDDtemp error is not related to this issue (it's not an error, just a warning).

Concerning your issue, no idea for the moment, i am going to build a testbed to reproduce it on my side.

[2016-07-06 07:53] nicolargo commented on #880
@Drewster727 perhaps Glances did not work because it try to display the Curses (CLI) interface can you try the following configuration:

[code]

[2016-07-06 08:40] nicolargo commented on #794
My proposal to use the PID as primary key and store the process name, command line in tags only work for InfluxDB, the current architecture of the Glances export module is not related to the storage database (for example, same function are used to store in CSV, InfluxDB or Cassandra...). Tags only exist in the InfluxDB ecosystem.

Two others points to keep in mind:
- for the moment, the Glances pr

[2016-07-06 13:07] Drewster727 commented on #880
I think you just solved it @nicolargo, the --quiet must be needed to run in the background. Thank you sir!

[2016-07-06 14:17] nicolargo commented on #880
Done my lord: https://github.com/nicolargo/glances/wiki/Start-Glances-through-Systemd

[2016-07-08 08:52] geekrohit opened #884 "Inappropriate ioctl for device"
Getting this error when trying to run glances, or even with ALL the disable parameters. Any pointers ?

Version :
glances --version
Glances v2.6.2 with psutil v4.3.0

lsb_release -a :
<pre>
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 14.04.3 LTS
Release:	14.04
Codename:	trusty
</pre>

<pre>
glances
/usr/local/lib/python2.7/dist-packages/psutil/_pslinux.py:364: RuntimeW

[2016-07-08 12:22] nicolargo commented on #884
Looks like a PSUtil issue, can you update it using:

    pip install --upgrade psutil

Use sudo if needed...

[2016-07-08 19:21] Drewster727 commented on #880
@nicolargo well I have bad news... I thought this was working, but it's not quite.

running **sudo systemctl start glances.service** works great. The data starts flowing into influxdb with no problems. However, after a reboot, I get nothing. The service should start automatically at boot, but it doesn't work. I have to run the systemctl start command again manually for it to kick off again.

[2016-07-08 19:27] Drewster727 commented on #880
more info... Here's what I see when I run **sudo systemctl status glances.service** right after a reboot:

[code]

[2016-07-08 21:02] nicolargo commented on #880
You should configure systemd to start InfluxDB before Glances...
Le 8 juil. 2016 21:27, "Drew" <notifications@github.com> a écrit :

[2016-07-10 11:14] #874 closed

[2016-07-10 13:34] wdhif commented on #299
Hi,

The -P arg doesn't seems to be working.
This command doesn't work :

glances -w -P myPassword

Any idea @nicolargo @asergi ?

Thanks

[2016-07-10 16:25] nicolargo commented on #299
Hi @wdhif.

First of all i think that you use an "old" Glances version. The -P option is deprecated and as been replaced by --password.

Nevertheless, the login/password feature for the Web UI is only available in 2.5 or higher. What is you glances version ?

[2016-07-11 09:01] wdhif commented on #299
I'm using Glances 2.6.2

The problem is that I want to put my password in the command (for a script), with --password, I only get a prompt.

[2016-07-11 09:56] nicolargo commented on #299
Nope, it was a security issue.

Nevertheless, if you use the --password tag, the login/password (hash) is saved in a file and the client is not prompted anymore.

Server side:

    glances -s --password

Client side:

    glances -c <@server> --password

    CTRL-C
    glances -c <@server> --password

[2016-07-11 09:58] wdhif commented on #299
Ok I see
Actually it was more to use ansible for glances, but I'll figure it out.

Thanks for your time :)

[2016-07-11 13:45] Drewster727 commented on #880
Good call. Unfortunately, that did not get it working on startup. Using the following service file:

[code]

Not much in the logs telling me what happened. Still works when I start the service manually.

[2016-07-11 15:02] nicolargo commented on #880
Try this:

[code]

[2016-07-11 15:04] Drewster727 commented on #880
@nicolargo tried that already. Didn't work :(

[2016-07-11 15:06] nicolargo commented on #880
No idea.. Sorry.
Le 11 juil. 2016 5:05 PM, "Drew" <notifications@github.com> a écrit :

[2016-07-11 15:06] Drewster727 commented on #880
[code]

[2016-07-11 15:13] Drewster727 commented on #880
Figured it out. Had to set the service to restart on failure and set a delay between restarts, in addition to the dependency requirements:

[code]

This may only be necessary for influxdb (or other exporting options). Can you update the wiki @nicolargo? Thanks for your help!

[2016-07-11 15:17] nicolargo commented on #880
Done thanks you !

[2016-07-11 15:18] #880 closed

[2016-07-12 01:02] jakirkham opened #885 "PermissionError/OSError when starting glances"
When trying to start up `glances`, it crashes due to a `PermissionError` or `OSError` (on Python 2.x). Traceback is shown below. I have tried a few different versions of `glances` and `psutil`. If I revert back to `psutil` version `2.2.1`, the issue goes away. Though my guess is that is only because this code path is not present there. It is probably possible to get around this issue by running wi

[2016-07-12 13:39] alpern95 opened #886 "Install Glance v2.6.2 on windows server 2008 french"
#### Description
hello i have this error when using glances in Windows.

    'msgdict': self.msg_curse(args),
  File "c:\python27\lib\site-packages\glances\plugins\glances_processlist.py", l
ine 412, in msg_curse
    ret.extend(self.get_process_curses_data(p, first, args))
  **File "c:\python27\lib\site-packages\glances\plugins\glances_processlist.py", l
ine 216, in get_process_curses_data**
    m

[2016-07-12 15:25] nicolargo commented on #886
Yes, it is already corrected in the develop branch: https://github.com/nicolargo/glances/blob/develop/glances/plugins/glances_processlist.py#L232

Nevertheless, thanks for your time to complete this issue.

[2016-07-12 15:25] #886 closed

[2016-07-12 15:52] nicolargo commented on #885
I think that the bug should be reported to the PsUtil community. Nevertheless, i just code a work around on the DEVELOP branch.

I don't know if you can test it on your system... (i do not use Anaconda). Or you can try to patch the /groups/dudman/home/kirkhamj/miniconda/envs/nanshenv3/lib/python3.5/site-packages/glances/plugins/glances_network.py file by changing the except line:

            try:

[2016-07-12 15:58] jakirkham commented on #885
Happy to try any proposed fixes. Also, if this needs to be referred upstream, happy to do that as well. Though I'm not exactly sure what we want to ask to have changed at this point.

[2016-07-12 16:16] nicolargo commented on #885
@jakirkham just open an issue on the PsUtil Github and copy/paste the result of the following command line on your system:

[code]

Also add a link to the current Glances issue.

Thanks !

[2016-07-12 16:22] jakirkham commented on #885
Sorry running into some issues with things not getting update correctly in the GitHub interface.

[2016-07-12 16:44] jakirkham commented on #885
So, you are using Docker to test, correct? Are you `root` in your test Docker container? If so, you may be able to reproduce this by creating a new user that has ordinary permissions and switching to it first. Just a thought.

[2016-07-12 16:46] nicolargo commented on #885
Nope, i do not use Docker to test Glances.

[2016-07-12 17:06] jakirkham commented on #885
Sorry, I thought I saw a reference to Docker in the snippet above.

[2016-07-14 14:57] stephane-martin opened #887 "Improper bytes/unicode in glances_hddtemp.py"
Hello,

with python3.4 and hddtemp enabled, i can't get access to the web interface.

Digging in the HTTP traffic shows an API call to api/2/all that fails, with a JSON encoding error (choking on bytes data).

Indeed `glances_hddtemp.py` seems to have an encoding problem with the temperature value.

In `GlancesGrabHDDTemp.__update__`:

`temperature = fields[offset + 3]` means that temperature has

[2016-07-14 15:03] stephane-martin opened #888 "zeroconf problem with zeroconf_type = "_%s._tcp." % __appname__"
Recent versions of the zeroconf python package doesnt like a zeroconf type that ends with '._tcp.'.

It triggers an exception when trying `glances --browser`.

I had to patch this way:
[code]

[2016-07-14 15:05] stephane-martin opened #889 "zeroconf problem with zeroconf service name"
On my server `socket.gethostname()` returns a real FQDN like `server.domain.com`.

Recent version of zeroconf doesn't like a service name with dots.

It triggers an exception when trying `glances -s`.

I had to patch this way:

[code]

[2016-07-14 20:21] Drewster727 opened #890 "System uptime in export"
Is it possible to get the system uptime information in the export? I'm currently exporting system info to influxdb via **glances --quiet --export-influxdb** and I don't see that information anywhere. Thanks!

#### Versions

* Glances (glances -V):  2.6.2
* PSutil (glances -V): 4.3.0
* Operating System (lsb_release -a): Ubuntu Server 15.10

[2016-07-15 13:01] alpern95 opened #891 "Error Unicode Windows 2008 R2"
#### Description
Error  Unicode
#### Versions
Glances v2.6.2 with psutil v4.3.0
#### Logs
c:\python27\lib\site-packages\psutil\_pswindows.py:295: UnicodeWarning: Unicode equal comparison failed to convert both
arguments to Unicode - interpreting them as being unequal
  ret[name] = _common.snicstats(isup, duplex, speed, mtu)
Glances server is running on 0.0.0.0:61209

###
Glances works but display

[2016-07-15 15:27] nicolargo commented on #887
@notFloran / @nclsHart : Can you have a llok on this encoding issue in the Web UI ?

[2016-07-15 15:29] nicolargo commented on #888
Confirmed with ZeroConf 0.17.4:

[code]

[2016-07-15 15:40] nicolargo commented on #889
Corrected in the develop branch, will be available in Glances 2.7.

Thanks for the patch !

[2016-07-15 15:40] #889 closed

[2016-07-15 15:40] nicolargo commented on #888
Corrected in the develop branch, will be available in Glances 2.7.

Thanks for the patch (again) !

[2016-07-15 15:40] #888 closed

[2016-07-15 15:45] nicolargo commented on #890
For the moment (Glances 2.6.2 and probably 2.7), Glances only export float because InfluxDB did not accept other types. One work around is to export a timestamp. Should be discussed...

[2016-07-15 15:50] nicolargo commented on #891
The unicode issue is just a warning (UnicodeWarning). I do not think that it is the cause of the service error. Can you have a look on the Glances log file (http://glances.readthedocs.io/en/latest/config.html#logging)?

[2016-07-15 16:02] stephane-martin commented on #890
Much more ease with influxdb v0.13:

https://docs.influxdata.com/influxdb/v0.13/write_protocols/line/

"Field values can be one of four types. The first value written for a given field on a given measurement defines the type of that field for all series under that measurement."

Integers, floats, booleans, strings

[2016-07-15 16:25] stephane-martin opened #892 "/tmp/glances.log not writeable when different users run glances"
How to reproduce:
- run glances with some user: `sudo -u user1 glances`
- stop it
- run glances with another user: `sudo -u user2 glances`

On the first run, `/tmp/glances.log` is created, owned by user1
On the second run, `/tmp/glances.log` is not writeable by user2.

Suggestions:

- add the current user name in the log filename.

In `glances/logger.py` replace:
[code]
with:
[code]
(with a `impor

[2016-07-15 17:01] alpern95 commented on #891
I have this error (1053) when starting glances service in windows.

![2016-07-15 18_57_57-192 168 112 169 - connexion bureau a distance](https://cloud.githubusercontent.com/assets/1835110/16882256/5cb7b824-4abe-11e6-840b-8382e95d84af.png)

[2016-07-15 18:17] nicolargo commented on #892
Already done since Glances 2.3. See issue https://github.com/nicolargo/glances/issues/474.

[2016-07-15 18:17] #892 closed

[2016-07-17 13:27] nclsHart commented on #807
Not a good idea, the result is unaesthetic during loading.

[2016-07-17 13:27] #807 closed

[2016-07-17 14:16] nclsHart commented on #882
@nicolargo Aliases are not availables through the API.

[2016-07-18 19:20] nicolargo commented on #815
@nclsHart / @asergi : i try to make a quick test and can not reproduce the error on my side.

Here it is:

[code]

@jjbrunton : Can you try the previous command (replace ipython by python if needed).

[2016-07-18 19:25] nicolargo commented on #890
Postpone until InfluxDB 0.13 or higher will be installed on all system.

[2016-07-18 19:31] nicolargo commented on #794
@lawre : Any head up concerning my last proposal ?

[2016-07-18 19:38] nicolargo commented on #840
Are you sure that you use the latest develop branch ? In your first comment, Glances 2.6 seems to be used (/home/argus/venv/lib/python2.7/site-packages/Glances-2.6-py2.7.egg).

[2016-07-18 19:43] nclsHart commented on #815
On my windows I get the following error:

[code]

[2016-07-18 19:49] nicolargo commented on #815
@nclsHart : Nice !

Can you try this:

    j = json.dumps(d, ensure_ascii=False)

[2016-07-18 20:03] nclsHart commented on #815
@nicolargo This is fixing error on dump but now it's failing on step 4:

[code]

[2016-07-18 20:12] nicolargo commented on #815
And with:

    dec = json.loads(j.decode("utf-8", "ignore"))

[2016-07-18 20:18] nclsHart commented on #815
I get the following result:

[code]

[2016-07-18 20:19] nicolargo commented on #815
@nclsHart Better...

[2016-07-18 20:22] nicolargo commented on #815
If you want i can write the following patch:

- try the default method
- If an UnicodeDecodeError occur on dumps or loads use the alternative encoding option

Is it ok for you @nclsHart ?

[2016-07-18 20:28] nclsHart commented on #815
@nicolargo Yes, it seems to be the best option we have.

Thank you :).

[2016-07-18 22:02] lawre commented on #794
Sorry, I didn't see the alert for your question before.

collectd's processes plugin already allows for regex match of processes, so in our case we would just continue to use that.  Is there a possibility for this just to be an "InfluxDB only" feature as it is probably the only uniquely qualified database for this type of data?  I'm not sure any other fixed key DB would even be able to handle this

[2016-07-19 19:03] Drewster727 opened #894 "glances + hddtemp install"
Well I've got glances up and running on my UnRaid system via a docker container. The stats are exporting properly and it's working great.

**The one thing I'm trying to accomplish is getting hddtemp installed so glances can start pulling disk temps**. Problem is that unraid is slackware based, and doesn't have access to apt-get or yum to installs build-essentials (i.e. a C compiler, gcc, etc...) w

[2016-07-19 21:00] #894 closed

[2016-07-19 22:11] Drewster727 opened #895 "Disk Temps not exporting to influxdb"
I've finally got hddtemp installed and working on my system. Had to setup a docker container and I have tested that it works via:
```telnet localhost 7634```
![image](https://cloud.githubusercontent.com/assets/4528753/16968360/f2007142-4dd3-11e6-9ffc-401ddfb38b49.png)

I get a list of all the disks, pipe delimmited, with temps.

I checked influxdb and it appears that there are columns that were cr

[2016-07-19 22:17] Drewster727 commented on #895
Just found a bunch of these in the glances logs:

[code]

[2016-07-19 22:19] Drewster727 commented on #895
aaaaand ignore me. I dropped the measurement and it got auto-added back in and it's working...

[2016-07-19 22:19] #895 closed

[2016-07-20 12:45] nicolargo commented on #882
@nclsHart : Done.

Disk with alias:

[code]

and without:

[code]

Idem for sensors...

[2016-07-20 21:22] nclsHart commented on #734
@nicolargo There is no shortcut for hiding/displaying this plugin?

[2016-07-21 09:51] nicolargo commented on #734
@nclsHart The shortcut for hidding.dislaying this plugin is the same thanfor the Network plugin.

[2016-07-21 09:59] #734 closed

[2016-07-21 11:49] ngergo commented on #840
Hm... I do. `Glances v2.7_BETA` is the version string printed by glances.

[2016-07-21 12:10] nicolargo commented on #840
Do you reproduce with the latest HEAD version (develop branch) ?

[2016-07-21 12:12] ngergo commented on #840
Yes. After some hours I have the same issue. I'll try to investigate the problem further and give a short description here... maybe a fix.

[2016-07-21 12:13] nicolargo commented on #840
Ok thanks @ngergo !

[2016-07-21 13:38] nclsHart commented on #734
@nicolargo After some investigations I found this: https://github.com/nicolargo/glances/blob/develop/glances/outputs/glances_curses.py#L417, which seems to be not listed on the help page.

Should I use the same shortcut and add it to the help page or change it in order to use the network plugin shortcut?

[2016-07-21 13:58] nicolargo commented on #734
Yes please!

[2016-07-21 14:34] nclsHart commented on #734
Yes for the first or the second option :p ?

[2016-07-21 14:56] nicolargo commented on #734
First one, i forgot it :(

[2016-07-21 21:08] boppy opened #898 "Wiki: Systemd entry"
What about adding some information on how to auto-start the unit? :) [Since the wiki is read-only I attached a possible markdown (as txt file because github doesn't allow md)](https://github.com/nicolargo/glances/files/376967/wiki-systemd.txt):

---

## Create unit
Create a new unit by creating a file called `glances.service` in the `/etc/systemd/system/` folder.

### Example: Start a Glances serv

[2016-07-22 17:00] nicolargo commented on #898
Wiki updated: https://github.com/nicolargo/glances/wiki/Start-Glances-through-Systemd

Thanks for the contribution !

[2016-07-22 17:00] #898 closed

[2016-07-25 19:06] nicolargo opened #900 "Make the logger configurable"
#### Description

Mail from eirich:

#### Versions

* Glances (glances -V): 2.6

[2016-07-28 09:11] nicolargo opened #901 "Configure server cache time from the command line (--cached-time)"
#### Description

        cached_time is the minimum time interval between stats updates
        i.e. XML/RPC and HTTP/Restful calls will not retrieve updated info until the time
        since last update is passed (will retrieve old cached info instead)

It should be possible to configure the cached_time value from the command line and/or conf file

#### Versions

* Glances (glances -V): 2.6.2

[2016-07-30 14:41] thorian93 opened #902 "Glances installation via install.sh script fails on VPS"
#### Description
When installing glances via the install.sh script on a VPS hosted by Strato the installation fails with the following messages:
Server 1:
`Detected system: strato`
Server 2:
`Detected system: plesk`

The scripts seems to be unable to use the `lsb_release` tool on the servers although it is installed. When using the workaround:
`find /etc -type f -maxdepth 1 \( ! -wholename /etc/os

[2016-08-02 03:49] Kami-no opened #903 "Ability to disable swap"
Option --disable-swap do not hide swap bar under MEM bar. I've 4 cores (soon up to 8) and don't use swap at all. Extra line there without any usable info makes it worse.

BTW it would be nice to disable swap using config file (aliases are boring).

[2016-08-19 17:35] angelopoerio opened #905 "IRQ monitoring plugin"
I have been using glances since few months and I find it to be very useful. I think it could be useful to monitor the IRQs that happen on a system to have a better understanding of what it is happening. I wrote a plugin that parses /proc/interrupts and show the top 5 (by rate/s).
I hope it can help.
Regards,
Angelo

[2016-08-19 19:41] nicolargo commented on #903
Already corrected in the DEVELOP branch (using the boring --disable-swap option).

I note the idea to configure the enable/disable status from the conf file.

[2016-08-19 19:41] #903 closed

[2016-08-19 19:45] nicolargo commented on #905
Hi Angelo,

thanks for the proposal. It will be a great feature. But i think that your pull request should be done on the PSUtil lib (https://github.com/giampaolo/psutil/issues). Glances uses PsUtil to grab the system stats. PSUtil is multi-plateform (Linux, BSD, Unix, Mac OS, Windows).

What do you think ?

Nicolas

[2016-08-19 19:49] nicolargo commented on #902
Hi,

first of all thanks for your proposal. A pull request on the auto install script will be welcome.

Please, can you open an issue (just a copy/paste) on the Glances auto installation script repository: https://github.com/nicolargo/glancesautoinstall

You can also make the pull request to this repo.

Thanks.

Nicolas

[2016-08-19 20:05] angelopoerio commented on #905
Hi Nicolas,

I agree with you, it would be better to add this feature to psutil (a great
lib!). But before doing this it would be better if you could take a look to
my code (and run glances with my plugin).

P.S: I tried to publish my feature branch (called "irq_monitoring") but I
get an access denied error.
Regards,
Angelo

2016-08-19 21:45 GMT+02:00 Nicolas Hennion <notifications@github.com>:

[2016-08-19 20:09] nicolargo commented on #905
Use the Pull request feature https://github.com/nicolargo/glances/pulls from the DEVELOP branch.

You can also read the following Wiki page: https://github.com/nicolargo/glances/wiki/How-to-contribute-to-Glances-%3F

[2016-08-19 20:27] angelopoerio commented on #905
Can't push my code, still getting access denied.

2016-08-19 22:09 GMT+02:00 Nicolas Hennion <notifications@github.com>:

[2016-08-20 10:17] nicolargo commented on #905
Can you send me the patch by mail ? contact@nicolargo.com

[2016-08-20 10:26] nicolargo commented on #905
Additionnal information about the /proc/interrupts file:

- https://www.centos.org/docs/5/html/5.2/Deployment_Guide/s2-proc-interrupts.html

- http://www.thegeekstuff.com/2014/01/linux-interrupts/
- http://www.crashcourse.ca/wiki/index.php/Proc_interrupts

[2016-08-20 12:33] angelopoerio commented on #905
Hi Nicolas,

I send you the patch files for my plugin. Your link are very useful! An other useful metric is also monitoring softirqs. It is a kind of mechanism of the linux kernel to execute deferred jobs (such as processing a network packet in the TCP/IP stack).
Take a look at this: https://0xax.gitbooks.io/linux-insides/content/interrupts/interrupts-9.html

[2016-08-20 13:30] nicolargo commented on #905
Great jobs !

Some remarks on your code:

1. the code is not PEP 8 compliant (indentations issues, mix tab and space...)
2. in the Curses interface, the plugin is not align:

![selection_039](https://cloud.githubusercontent.com/assets/776747/17831460/79c643a8-66e9-11e6-811b-496c99e93a99.png)

3. if the /proc/interrupts file is not found (for exemple on BSD, Mac OS or Windows OS, then Glances crach

[2016-08-20 13:34] angelopoerio commented on #905
git patch fucked up the indentation of the code (I will re-run pylint). Thanks for feedback!

[2016-08-20 16:02] nicolargo commented on #905
@angelopoerio I just push a big PR (https://github.com/nicolargo/glances/pull/906) concerning the WebUI. Do not forget to make a pull on your repository before applying your change.

[2016-08-20 17:05] thorian93 commented on #902
I have not been aware of the dedicated repo, my apologies.

I opened an issue there and will work on the improvement soon.

[2016-08-20 17:14] angelopoerio commented on #905
ok

[2016-08-20 20:59] ky0ncheng opened #910 "PSutil library not found. Glances cannot start."
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

PSutil library not found. Glances cannot start.

#### Versions

* Glances (glances -V): 2.62
* PSutil (glances -V):PSutil library not found. Glances cannot start. but `pip freeze`

[2016-08-22 12:58] nicolargo commented on #902
REJECTED: cause, not a Glances issue. Reported to https://github.com/nicolargo/glancesautoinstall/issues/8

[2016-08-22 12:58] #902 closed

[2016-08-22 12:59] #885 closed

[2016-08-22 12:59] #882 closed

[2016-08-22 17:28] #905 closed

[2016-08-23 13:52] minj opened #912 "[Linux] Chrome process names are incorrectly parsed again"
#### Description

![glances](https://cloud.githubusercontent.com/assets/1035523/17894324/a60b1c76-6951-11e6-8c49-e040315db0ce.png)

see #826

Chromium devs are out of their freaking minds:
[code]

#### Versions
* Glances v2.6.2 with psutil v4.3.0
* Manjaro Linux 16.06.1 Daniella
* Python 3.5.2

[2016-08-23 14:14] nicolargo commented on #912
The problem is solved in the HEAD version (future 2.7 release).

If your Glances version is 2.6.2, this issue is duplicated (#826).

[2016-08-23 14:16] minj commented on #912
having read the comments on that issue I made the impression that it was cherry-picked into v2.6.2

[2016-08-23 14:21] nicolargo commented on #912
Nope, had to wait for Glances 2.7 (in september).

[2016-08-23 14:21] #912 closed

[2016-08-25 21:06] COLABORATI opened #913 "Error: Curses module not found. Glances cannot start in standalone mode."
Following the instructions I did a `pip install glances` but glances does not work after that:
[code]

Please add information to the installation docs about what shold be done when hitting that error.
Also if there is any dependency to run glances, please add that dependency to setup script, thanks!

[2016-08-25 21:14] COLABORATI commented on #913
Forget it, just the usual Python Package MumboJumbo.
Fix: https://github.com/yyuu/pyenv/issues/240

[2016-08-25 21:14] #913 closed

[2016-08-26 11:20] nicolargo commented on #815
@jjbrunton and @nclsHart : Can you test the latest HEAD version on the develop branch ? It should correct the issue...

[2016-08-26 12:06] nicolargo commented on #872
Done

[2016-08-26 12:06] #872 closed

[2016-08-28 21:32] stephane-martin commented on #887
ping ?

[2016-09-02 12:35] nicolargo commented on #887
@stephane-martin What is **nativestr** ?

[2016-09-02 13:12] stephane-martin commented on #887
a function defined in `glances/compat.py`, i didn't invent it :)

[2016-09-02 13:26] nicolargo commented on #887
Corrected in the latest HEAD DEVELOp version (will be included in the 2.7 release)

[2016-09-02 13:26] #887 closed

[2016-09-03 21:12] seanvree opened #915 "How to keep Glances running as a servce/script on Windows Server?"
This is great man. Thanks a lot

Wondering how I can keep glances running on a windows server when no user is logged in?

I tried creating a bat file to run with -w switch, but as soon as the user logs off, glances closes.

Thoughts?

[2016-09-04 06:46] nicolargo commented on #915
You should run Glances as a service.

Have a look on this procedure: http://www.howtogeek.com/50786/using-srvstart-to-run-any-application-as-a-windows-service/

If you test it, can you tell us if th procedure is OK. I will add it to the documentation...

[2016-09-04 20:03] seanvree commented on #915
Yeah, I've done this with most of my python based programs. I'm a huge MS guy, and a noob when it comes to py.

The problem I see with Glances is you can't do this if there is no .PY or .exe .

[2016-09-04 20:42] nicolargo commented on #915
You had to run the program through the following command line:

[2016-09-04 21:01] seanvree commented on #915
Perfect! Works!

Download:

https://nssm.cc/

Settings for NSSM:

Path: c;\python27\python.exe
startup dir: c:\python27\scripts
Augments: Glances.exe -w

[2016-09-04 21:03] #915 closed

[2016-09-07 20:35] kdbanman commented on #170
This feature would make Glances better for sure.  It's already amazing, so this would be icing on an already iced cake 🍰

[2016-09-07 20:56] nicolargo commented on #170
Could be possible to do a first version for Nvidia GPU because a Python lib already exist (https://pypi.python.org/pypi/nvidia-ml-py/). For AMD and INTEL, i am looking for existing Python Lib.

[2016-09-07 23:15] kdbanman commented on #170
@nicolargo Keen observation - I was just doing that!  I actually have a half-implemented version that uses that library.  The stats collection works, but I just can't quite find all the places to tell Glances about it.

There's the `GlancesPlugin` to override, the webapp angular plugin and view, the REST API, and some others.  I could just `grep -nr "cpu"` and make my gpu plugin fill all the same

[2016-09-08 07:43] nicolargo commented on #170
@kdbanman Happy to heard that you have started to work on this enhancement.

For the moment there is no official documentation / check-list about plugin addition. You can have a look on this pull request which is a good example: https://github.com/nicolargo/glances/pull/911

Or, if you want, you can write a first version of the plugin (only the plugin script) and i will create a branch will all th

[2016-09-08 17:20] kdbanman commented on #170
@nicolargo That PR is exactly what I needed.  I can work from there.  3 questions:

1. Do you want me to branch off `develop` like that PR did?
2. If I have questions about that PR specifically, can I ask on that PR's conversation thread?
3. I can test it on an EC2 GPU instance running a RHEL variant, and on a bare metal Ubuntu 14 box.  I can't do OS X and Windows.  Will that be sufficient?

[2016-09-08 18:44] drschwabe commented on #170
When the plugin is ready for testing I would be happy to try it on my GTX970m running Ubuntu 16.

[2016-09-08 19:55] nicolargo commented on #170
@kdbanman My answers:

1. Yes, all the dev (enhancement and bug) should be done on a branch off develop. We are currently in RC for the version 2.7 of Glances. The current issue will be implemented in the next release (2.8).
2. If you have any question regarding the PR, please use the current thread.
3. Yes ! And @drschwabe is welcome to test on it GTX970m conf.

I have another question. Where do

[2016-09-09 00:02] kdbanman commented on #170
Good question.  The accessible stats people might care about, in rough order of priority:

Top priority:
- GPU processor utilization %  (not sure if there is a distinction between `user` and `system` here)
- VRAM utilization %
- VRAM total
- VRAM used
- VRAM free

Mid priority:
- VRAM bandwidth
- process list
- temperature

I'm really not sure what to show where though:

![screenshot-wide_png__848

[2016-09-09 08:50] nicolargo commented on #170
@kdbanman : first off all we have to identify the mandatories stats for the GPU (do not forget that Glances aims at providong a "as quick as possible" monitoring of all the system). To my point of view we need to focus on:

- GPU identification
- GPU processor utilization in %
- Memory utilisation in %

Perhaps something like that (width limited to 14 chars and height to 4 lines):

    GPU Nvidia

[2016-09-09 20:19] dflock commented on #845
https://github.com/giampaolo/psutil/issues/547

[2016-09-10 08:28] #815 closed

[2016-09-11 07:19] mitzkia opened #916 "Installation fails because of cassandra dependency"
#### Description
Can not install glances with the suggested installation step: `curl -L https://bit.ly/glances | /bin/bash`
Error message:
[code]

(Of course the `pip install glances` works, so I can use it)

#### Versions

* Glances (glances -V):
* PSutil (glances -V):
* Operating System (lsb_release -a):
[code]

* pip version:
[code]

[2016-09-11 07:52] nicolargo commented on #916
I just correct the glances auto install script: https://github.com/nicolargo/glancesautoinstall/issues/10

[2016-09-11 07:52] #916 closed

[2016-09-11 08:01] nicolargo commented on #910
REJECTED: can not reproduce.

Workaround: use the Glances auto installation script.

[2016-09-11 08:01] #910 closed

[2016-09-11 08:03] nicolargo commented on #891
REJECTED cause: can not reproduce.

@alpern95  Have a look on this related issue: https://github.com/nicolargo/glances/issues/915

[2016-09-11 08:03] #891 closed

[2016-09-11 08:04] nicolargo commented on #884
REJECTED: can not reproduce + no news...

[2016-09-11 08:04] #884 closed

[2016-09-11 08:33] nicolargo commented on #861
@sungmok Can you check if Glances 2.7 correct this issue ?

[2016-09-11 08:36] nicolargo commented on #845
Corrected in PsUtil 2.2.0 or higher

[2016-09-11 08:36] #845 closed

[2016-09-11 08:37] nicolargo commented on #840
Any head up ? Can you try on the stable Glances 2.7 version ?

[2016-09-11 08:38] nicolargo commented on #837
REJECTED: No news... Not reproduce.

[2016-09-11 08:38] #837 closed

[2016-09-11 08:39] nicolargo commented on #767
REJECTED: use the AMP module in Glances 2.7.

[2016-09-11 08:39] #767 closed

[2016-09-11 08:42] nicolargo commented on #752
Workaround OK. Need to be migrated to the [AMP module](http://glances.readthedocs.io/en/stable/aoa/amps.html) in Glances 2.7 or higher:

[amp_monitor]
enable=true
regex=.*glances.*
refresh=60
one_line=false
command=if [ -f /var/run/reboot-required ]; then echo 'Restart required'; fi
countmin=1

[2016-09-11 08:42] #752 closed

[2016-09-11 08:50] nicolargo opened #917 "AMP plugin crashs on start with Python 3"
#### Description

Configure an AMP item in the configuration file.

Start Glances...

Boom...

[code]

#### Versions

* Glances (glances -V): Glances 2.7
* PSutil (glances -V): 4.3.1
* Operating System (lsb_release -a): Ubuntu 14.04 LTS

[2016-09-11 08:52] nicolargo opened #918 "Ports plugin crashs on start with Python 3"
#### Description

Configure the ports plugin in the configuration file.

Start Glances...

Boom...

[code]

#### Versions

* Glances (glances -V): Glances 2.7
* PSutil (glances -V): 4.3.1
* Operating System (lsb_release -a): Ubuntu 14.04 LTS

[2016-09-11 09:07] #918 closed

[2016-09-11 09:07] #917 closed

[2016-09-11 09:23] #675 closed

[2016-09-11 09:23] nicolargo commented on #675
No more loading page...

[2016-09-11 09:23] nicolargo commented on #684
No more Monitoring process list. To be report in AMP ?

[2016-09-11 09:23] #684 closed

[2016-09-11 09:24] nicolargo commented on #823
Done https://github.com/nicolargo/glances/commit/ba9db27bf6cb2f285ed873072cfdb79bf65e78ee

[2016-09-11 09:24] #823 closed

[2016-09-11 09:25] nicolargo commented on #598
To be reported on the AMP plugins

[2016-09-11 09:25] #598 closed

[2016-09-11 14:01] nicolargo commented on #878
Development note:

1) Compute the max (for example CPU max) in msg_curse (before the loop)
2) Add a max_tag in the get_process_curses_data(self, p, first, max_tag, args) function: True if max = current cpu
3) Change the way CPU is displayed if max_tag = True (bold for example)

[2016-09-11 14:19] nicolargo commented on #836
@nclsHart : Any head up ? What do you think of https://github.com/nicolargo/glances/issues/836#issuecomment-205691627

[2016-09-11 14:32] nclsHart commented on #836
I already made some tests and this is not an acceptable solution. Each trick brings more complexity than any real performance gain.

I think most of our problems are due to how angularjs 1.x works. I'll try an upgrade to angularjs 2 during the 2.8 milestone, and I hope it'll solve our performance problems.

[2016-09-11 14:35] nicolargo commented on #820
- commit 2b624cd

[2016-09-11 14:42] nicolargo commented on #836
Ok, looking forward the AngularJS 2 optimisation...

[2016-09-12 19:56] kdbanman commented on #170
The top priority stats you suggest are perfect.  A couple questions about them:

[code]

1.  Should we identify the GPU by its size (EX: 2GB), device id, UUID, or model (EX: GTX 560 Ti)

   I prefer identifying by size, because id and UUID are not informative or human readable, and model could be a very long string.

2. Memory bandwidth is an important stat, but is [not currently supported on virt

[2016-09-12 20:16] nicolargo commented on #170
My remarks:

1. Should we identify the GPU by its size (EX: 2GB), device id, UUID, or model (EX: GTX 560 Ti) ?

Model should be great but, as you said, very long. Another alternative: If the device name string is lower than 14 then use it, else display GPU Nvidia 2GB....

2. N/A is good for me.

For multiple GPU, i think that the combined %  is confused. We do not use it for the CPU plugin. I thin

[2016-09-13 16:06] kdbanman commented on #170
This is all sounds really good.  Before we move on to advanced/detailed stats, I'd like to get the basic stats implemented as a proof of concept so you can review it.  Just one last clarification:

When there are multiple GPUs, displaying the average stats by default makes sense.  Using the <kbd>1</kbd> hotkey to expand it also makes sense.  But each GPU will have separate processors, memory, and

[2016-09-13 18:55] nicolargo commented on #170
Only one level of optional stats can be set in the update_view method (see https://github.com/nicolargo/glances/blob/develop/glances/plugins/glances_cpu.py#L197-L218 as an example).

You said that when the stats are displayed with the '1' hotkey pressed that all the stats should be expanded to make sense. To my point of view, only the processor % should be expanded. The memory is share around the

[2016-09-13 18:57] nicolargo opened #919 "Issues with vendored minified javascript files (again)"
#### Description

Issue https://github.com/nicolargo/glances/issues/788 is coming back...

#### Versions

* Glances (glances -V): 2.7.1

[2016-09-13 18:57] nicolargo commented on #919
@nclsHart Can you have a look ?

[2016-09-13 20:35] nclsHart commented on #919
Is this issue blocking for packaging or is just a warning?

I ask you this question because I don't see any acceptable way to solve this.

We could easily remove minify step in build workflow but you'll have the following counterparts:

1. lower perf
2. git nightmare with the built files (each edit twice in diff, thousands of added/removed lines, etc)

Furthermore we'll have the same issue again w

[2016-09-13 21:58] kdbanman commented on #170
Alright!  For now I will just do averaged stats to keep it simple.  Thanks very much for the guidance.

----------------------

And just some bonus information to maybe consider when the basic stats are implemented:

I can help understanding here :)  Each GPU has its own memory.  Also, the PCIe bandwidth is per-device as well.  With common graphics rendering tasks (EX: games, professional renderin

[2016-09-14 07:13] nicolargo commented on #170
Thanks for the bonus information ! (would be great to put this in the GPU plugin documentation ;))

[2016-09-14 14:53] superservidor opened #920 "problem when installing glances under ubuntu 14.04 64 bits"
When I try to install glances using:

#  curl -L http://bit.ly/glances | /bin/bash

I get the following messages on console and nothing more happens:

Running setup.py install for cassandra-driver
    warning: no files found matching '*.pyx' under directory 'Cython/Debugger/Tests'
    warning: no files found matching '*.pxd' under directory 'Cython/Debugger/Tests'
    warning: no files found match

[2016-09-15 08:13] nicolargo commented on #920
Please open the issue on the cassandra-driver issue tracker (https://github.com/datastax/python-driver)

[2016-09-15 08:13] #920 closed

[2016-09-15 22:03] epsilon77 commented on #919
Hi
yes, unfortunately,  this issue is blocking include the new version in Debian because it violates Debian Policy https://wiki.debian.org/EmbeddedCodeCopies

Thank you very much!

[2016-09-16 19:24] nicolargo commented on #919
@notFloran Can you make a patch for the 2.7.3 relase ?

[2016-09-17 09:21] renat2985 opened #921 "Hdd view not correct"
What's the problem. Look please:
![Image](http://storage8.static.itmages.com/i/16/0917/h_1474103925_5541687_7ddc39103e.png)

[2016-09-17 09:24] nicolargo commented on #921
REJECTED: already corrected in https://github.com/nicolargo/glances/issues/714
Please update your Glances software.

[2016-09-17 09:24] #921 closed

[2016-09-17 09:50] renat2985 commented on #921
How can I upgrade to the new version?

[code]

[2016-09-18 13:45] nicolargo opened #922 "High CPU consumption with py3sensors on Ubuntu 16.04"
#### Description

On my Ubuntu 16.04, if i install Py3sensor (https://bitbucket.org/gleb_zhulik/py3sensors/get/tip.tar.gz), the Glances CPU consumption increases from 3% to 30%.

WORKAROUND: uninstall Py3Sensor...

[code]

Note: No problem on my CentOS test bed...
#### Versions
- Glances (glances -V): 2.7.1
- PSutil (glances -V): 4.3.1
- Operating System (lsb_release -a): Ubuntu 16.04

[2016-09-18 19:06] #919 closed

[2016-09-18 19:36] nicolargo commented on #919
@epsilon77 I just release a "Debian" special tag for you: https://github.com/nicolargo/glances/releases/tag/v2.7.1_1

Please can you test it ?

[2016-09-19 12:03] nicolargo commented on #878
Implemented in the DEVELOP branch.

[2016-09-19 12:03] #878 closed

[2016-09-19 12:10] nicolargo commented on #922
Note: PySensors is available in Pypi: https://pypi.python.org/pypi/PySensors/

[2016-09-19 15:55] epsilon77 commented on #919
Hi!!

Really, thank you very much!! for your help, Unfortunately I'll be offline for 15 days (holidays), when I return I'll look this :).. perhaps @sbadia  can take a look before

thanks again!

[2016-09-19 18:49] thbkrkr opened #925 "/bin/sh: 1: python: not found in the latest Docker image"
Hi,

Thank you for this great tool.

Today I started glances in Docker on a new machine and got a fresh image built automatically after the last merge https://github.com/nicolargo/glances/pull/924 that fixes the 'docker build'.

When I run the latest image, Python is not installed:
[code]

On my machine I tagged the image before to pull it to see the difference:
[code]

The problem comes from the

[2016-09-19 18:57] nicolargo commented on #925
Done: https://github.com/nicolargo/glancesautoinstall/commit/e11e53007add3daea25c5f059335c4464a1b7cfe !

[2016-09-19 18:57] #925 closed

[2016-09-19 19:05] thebwt commented on #925
In addition, can we get you to rerun the latest dockerhub build so it can fetch the updated script?

https://hub.docker.com/r/nicolargo/glances/builds/bd7qrcvzfem7fx3hyucs7fj is the last run.

Then I can kick it out to my environments! The docker build worked locally so we should be all green from here.

[2016-09-19 20:56] thebwt commented on #925
Looks like it is online! Thanks for your hard work @nicolargo !!

[2016-09-20 08:32] jorge-cardoso opened #926 "Glances API returns the processes PPID"
#### Description
For an enhancement or new feature:
The Glances python API should also return the PPID as shown with 'ps -ef'

#### Versions
* Glances (glances -V): Glances v2.6.2
* PSutil (glances -V): psutil v2.2.1
* Operating System (lsb_release -a): CentOS 7.2

#### Logs
No logs

[2016-09-20 14:56] Lanvin2219 opened #927 "Glances RAID plugin Traceback"
Hi everyone,

I don't know why but I got this error since I upgraded Ubuntu.

#### Description

When I type 'glances', I get this error :

Traceback (most recent call last):
  File "/usr/local/bin/glances", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.5/dist-packages/glances/__init__.py", line 130, in main
    standalone.serve_forever()
  File "/usr/local/lib/python3.5/

[2016-09-20 15:26] nicolargo commented on #927
Strange... As a workaround disable the raid plugin from the command line (--disable-raid).

[2016-09-20 16:01] nicolargo commented on #927
@Lanvin2219 Please can you execute the following code on a terminal and copy/paste the result:

[code]

[2016-09-21 07:19] Lanvin2219 commented on #927
Sorry for the late answer.

--disable-raid option works.
root@SERV-TAL-JT2:~# python
Python 2.7.12 (default, Jul  1 2016, 15:12:24)
[GCC 5.4.0 20160609] on linux2
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named pymdstat

[2016-09-21 07:31] nicolargo commented on #927
Try this before:

   pip install pymdstat

(or sudo pip install pymdstat)

[2016-09-21 07:34] Lanvin2219 commented on #927
root@SERV-TAL-JT2:~# pip install pymdstat
Requirement already satisfied (use --upgrade to upgrade): pymdstat in /usr/local/lib/python3.5/dist-packages
root@SERV-TAL-JT2:~# pip install pymdstat --upgrade
Requirement already up-to-date: pymdstat in /usr/local/lib/python3.5/dist-packages

[2016-09-21 07:40] nicolargo commented on #927
You use Python 2.7 but install it for Python 3.5...

Please retry this:

[code]

[2016-09-21 07:46] Lanvin2219 commented on #927
Yeah sorry :(

{'md2': {'status': 'active', 'available': None, 'config': None, 'components': {'sdb2': '1', 'sda2': '0'}, 'used': None, 'type': 'raid0'}}

[2016-09-21 09:16] nicolargo commented on #927
Ok, the problem came from the  'available': None and 'used': None values...

I will write a patch to manage the None value.

[2016-09-21 09:36] Lanvin2219 commented on #927
Thanks for being so responsive !

[2016-09-21 09:42] nicolargo commented on #927
Should be corrected in the DEVELOP branch.

[2016-09-21 09:55] Lanvin2219 commented on #927
lanvin@SERV-TAL:~/glances-develop# python3 setup.py
/usr/local/lib/python3.5/dist-packages/setuptools/dist.py:340: UserWarning: The version specified ('2.8_DEVELOP') is an invalid version, this may not work as expected with newer versions of setuptools, pip, and PyPI. Please see PEP 440 for more details.
  "details." % self.metadata.version

[2016-09-21 09:58] nicolargo commented on #927
Please read this page: https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version

[2016-09-21 10:14] Lanvin2219 commented on #927
The standalone mode works.

[2016-09-21 12:55] nicolargo opened #928 "Add a CouchDB exporter"
#### Description

CouchDB is a JSON oriented NoSQL Database. This issue aims at providing a CouchDB export module for Glances.

#### Infos...

- Official Web site: https://couchdb.apache.org/
- For testbed, a CouchDB container: https://hub.docker.com/_/couchdb/
- Python API: https://pypi.python.org/pypi/CouchDB

Note: CouchDB v2 is available (https://blog.couchdb.org/2016/09/20/2-0/)

[2016-09-21 19:34] #927 closed

[2016-09-23 02:15] superservidor opened #929 "Error received after run install script under a clean ubuntu 14.04 64 bits"
Under a just installed Ubuntu Server 14.04 64 bits:

I run:

apt-get update && apt-get install curl -y

and then:

curl -L https://bit.ly/glances | /bin/bash

And I get:

*********************************************************************************************
  Running setup.py install for pymdstat

  Running setup.py install for potsdb
    warning: pypandoc module not found, could not conver

[2016-09-23 20:33] nicolargo commented on #929
The Cassandra lib installation could be very long. Please wait until the installation finish...

[2016-09-24 15:03] nicolargo commented on #928
Done in the DEVELOP branch.

To be tested !

[2016-09-24 16:19] nicolargo commented on #926
Done in the DEVELOP branch.

Example:

[code]

[2016-09-24 16:19] #926 closed

[2016-09-25 20:13] nicolargo commented on #901
Done in the HEAD version of the DEVELOP branch.

[2016-09-25 20:13] #901 closed

[2016-09-26 11:26] nicolargo opened #930 "Add a Prometheus export module"
#### Description

Prometheus server scrapes and stores time series data.
The goal is to add an export module for this NoSQL DB.
#### Sources

Main site: https://prometheus.io/docs/introduction/overview/
Docker container (for testbed): https://hub.docker.com/r/prom/prometheus/
Python API: https://github.com/prometheus/client_python#gauge

**Testbed**

Running Prometheus on Docker is as simple as:

[2016-09-27 10:00] Coriou opened #931 "Glances crash when exporting to InfluxDB"
I seem to have a problem when I'm trying to run Glances to export data to InfluxDB. There seems to be a few issues very similar to mine, however all closed and apparently fixed.

Am I missing something here ?

**EDIT :** Problem happens even if I use the `--disable-docker` flag.

#### Description

I'm getting this error shortly after running `glances --export-influxdb -C /etc/glances/glances.conf`

[2016-09-27 12:04] mbirth opened #932 "Default AMP ignores `enable` setting"
#### Description

The default AMP ignores the `enabled` configuration setting. So even with:

[code]

an entry *Dropbox*  is still showing up for me.

#### Versions

[code]

and

[code]

[2016-09-27 12:37] mbirth opened #933 "Default AMP crashes when `command` given"
#### Description

As soon as I define a `command=` line (empty or with an actual command) in a `[amp_xxx]` section, the entry is missing from the task list and on startup, glances throws this error (one for each AMP section with a `command` line):

[code]

#### Versions

[code]

and

[code]

[2016-09-27 14:02] nicolargo commented on #933
Please can you provide your glances.conf file as an example?

[2016-09-27 14:29] mbirth commented on #933
http://pastebin.com/MBVbL2Wk

[2016-09-27 18:51] nicolargo commented on #932
Not reproduce on my configuration.

[code]

![selection_255](https://cloud.githubusercontent.com/assets/776747/18887389/2b5a4bdc-84f4-11e6-98fb-203ad5067085.png)

[code]

![selection_256](https://cloud.githubusercontent.com/assets/776747/18887395/3380e7f8-84f4-11e6-8af1-fcd5643d40bb.png)

[2016-09-27 19:03] nicolargo commented on #933
Problem reproduced but only with the Python 3.5 interpreter.

I do not understand your log. The crash shows that you uses Python 3:

[code]

But the glances -V shows:

[code]

As a work around, use Python 2.7 instead of Python 3.x...

[2016-09-27 19:32] nicolargo commented on #933
Corrected in the latest DEVELOP branch (HEAD).

Workarround for the current Glances version (2.7.1): use Python 2.7.

[2016-09-27 19:32] #933 closed

[2016-09-27 19:41] nicolargo commented on #931
Hi @Coriou .

I can not reproduce the bug on my system (more or less the same configuration).

My conf file:

[code]

My command line:

[code]

and the log file (/tmp/glances.log):

[code]

The result:

![selection_257](https://cloud.githubusercontent.com/assets/776747/18888987/151c27e4-84fb-11e6-9351-7c8b3e47f826.png)

Is your Docker plugin displayed correctly in the user interface ?
Can we have

[2016-09-28 07:45] Coriou commented on #931
Hello !

Thanks for trying to reproduce my issue. I thought it would work though (I mean that I thought you'd be able to reproduce easily). Are you also using Influx 1.0 ? Other than that my config is quite standard.

Anyway, I've been trying again this morning without any luck. Same thing happens.

Here's my InfluxDB (empty, of course) :

![influxDB Web Admin](https://i.imgur.com/oh0CYLs.png)

An

[2016-09-28 07:45] Coriou commented on #931
^ closed by accident..

[2016-09-28 08:05] mbirth commented on #932
For me, with this conf (this is the complete conf):

[code]

And running it like:

[code]

![glances](https://cloud.githubusercontent.com/assets/130302/18905283/a9b4ef64-8562-11e6-8e48-aac1671094e0.png)

This is with glances running on Python 3.5:

[code]

[2016-09-29 13:55] wblondel opened #934 "WebUI - Infinite loading"
Hi,

When I open the WebUI, it never loads. I only see the 3 dots.

The Chrome console shows

[code]

every 2 seconds.

#### Versions

* Glances (glances -V): 2.7.1
* PSutil (glances -V): 4.3.1
* Operating System (lsb_release -a): Debian GNU/Linux 8.6 (jessie)

[2016-09-29 20:08] nicolargo commented on #934
Can you try hit *CTRL-F5* to clear your Chrome cache ?

[2016-09-29 20:18] nicolargo commented on #932
Reproduce !

Work like a charm with Python 2.7 but *NOT* with Python 3.5 !

[2016-09-29 20:23] nicolargo commented on #931
Yes i have InfluxDB version 1.0.0 runniing inside a container (Docker).

Have you try to delete and recreate your glances database ?

[2016-09-29 21:32] mbirth commented on #932
Looking forward to the next _"Correct another fucking issue about Python 3"_ commit... :wink:

[2016-09-30 09:02] MrPom commented on #934
Same problem for me (with same config), clearing Chrome cache didn’t help btw.

[2016-09-30 09:23] wblondel commented on #934
Clearing the cache didn't help. However if I restart the server there is a
chance that it works again.

Le 30 sept. 2016 11:02, "Mr_Pom" <notifications@github.com> a écrit :

[2016-09-30 09:25] nicolargo commented on #934
Can **not** reproduce on my system:

- Ubuntu 16.04 or CentOS 7.2
- Chrome 53.0.2785.116 (64-bit)
- Firefox 45.1.0
- Glances 2.7

[2016-09-30 09:28] wblondel commented on #934
Chrome was 53.0.2785.116 (64-bit), now it's 53.0.2785.143 (64-bit) because it updated.

I'll try with Firefox when I'm back home :)

Thanks for the help

[2016-09-30 09:40] MrPom commented on #934
Config :

- Debian GNU/Linux 8.6 (jessie)
- Chrome 53.0.2785.143 (64-bit)
- Firefox 49.0

Chrome error :

[code]

Firefox error :

[code]

[2016-09-30 13:44] Coriou commented on #931
Hey !

Yes, I have recreated my glances database.

I have attached the [glances.log](https://github.com/nicolargo/glances/files/503077/glances.log.zip) file to this post, here's [a Pastebin too](http://pastebin.com/wa6kAzU2).

Thanks !

[2016-09-30 16:36] notFloran commented on #934
I confirm the bug, the problem appears when there are alerts.

I will fix this.

[2016-09-30 19:06] nclsHart commented on #934
This bug should be already fixed in develop by this commit 82b05c35f83fe8a43a91647a653aab9e98eadbb4.

[2016-10-01 07:29] nicolargo commented on #934
@wblondel / @MrPom : can you test the DEVELOP branch ?

[2016-10-01 07:58] nicolargo commented on #932
@mbirth : the last commit on the DEVELOP branch should solve the issue.

Can you try it ?

[2016-10-02 19:28] #929 closed

[2016-10-02 19:29] #861 closed

[2016-10-04 04:14] marcwaz commented on #934
Hello,
I have used your docker container (so the latest develop branch I suppose..) and I encounter the same issue (stay on loading page). The chrome error is different for me:
vendor.js:13920 TypeError: Cannot read property 'push' of undefined
    at main.js:1202
    at vendor.js:37576
    at Function.forIn (vendor.js:45444)
    at setData (main.js:1182)
    at getPlugin (main.js:492)
    at Glan

[2016-10-04 04:33] marcwaz commented on #934
[glances.zip](https://github.com/nicolargo/glances/files/507696/glances.zip)

You will also find in attachment my glances.log file (generated in debug mode). You will noticed several issues inside. Hope it helps !

[2016-10-04 09:33] nicolargo commented on #934
@nclsHart Another look ?

[2016-10-04 11:00] marcwaz commented on #934
No. It's exactly the same under Chrome and IE.
I see the logo and the 3 dots. I'm waiting but nothing is coming.. Even if I refresh with Ctrl+F5.

[2016-10-04 19:52] nclsHart commented on #934
This is not the same bug, this one seems to come from the raid plugin.

@marcwaz Could you send us the result of `curl http://localhost:61208/api/2/raid`.

Meanwhile the bug fix, you should be able to bypass this issue by running glances with the `--disable-raid` argument.

[2016-10-04 23:44] marcwaz commented on #934
Here is the result of the API call:
{"md2": {"status": "active", "available": "2", "used": "2", "components": {"sdb2": "1", "sda2": "0"}, "config": "UU", "type": "raid1"}, "md1": {"status": "active", "available": "2", "used": "2", "components": {"sdb1": "1", "sda1": "0"}, "config": "UU", "type": "raid1"}}

The option --disable-raid doesn't fix the issue.

Did you notice the 4 following relevant er

[2016-10-05 00:52] marcwaz commented on #934
My conclusion is that indeed the pb comes from the disk information, even if the --disable-raid doesn't fix it.
In order that you understand my hard disk config, here is the result of the lsblk command:
NAME    MAJ:MIN RM   SIZE RO TYPE  MOUNTPOINT
sda       8:0    0 447.1G  0 disk
├─sda1    8:1    0  19.5G  0 part
│ └─md1   9:1    0  19.5G  0 raid1 /
├─sda2    8:2    0 426.6G  0 part
│ └─md2   9:

[2016-10-05 08:02] tuwid commented on #931
Hi,
i'm having this issue too :

[code]

I do have the data on flux but this will crash after a while ( 20 seconds or more )

[2016-10-05 08:15] tuwid opened #935 "Glances to collect data for X seconds and exit"
Hi,
i'm using Glances v2.7.1 with psutil v4.3.1 and it looks really promising. My current issue is related to an already addressed issue here ( the export to influxdb bug ,  glances crashes after a few seconds )
so i thought of running glances in an interval like every minute or so via cron but I didnt find it possible since glances doesnt have such option to run for X seconds end then exit

Is it

[2016-10-05 09:24] nicolargo commented on #935
You can use the timeout command directly from your shell:

    timeout 60 glances

will execute glances and exit after 60 seconds.

Is it what you want ?

[2016-10-05 16:59] denru01 commented on #170
Can I get this function from any branch now? Thanks.

[2016-10-06 19:45] nicolargo commented on #931
@tuwid : i just commit a workaround on the DEVELOP branch. The --disable-docker tag should work ok now. Can you try this ?

[2016-10-07 15:24] kdbanman commented on #170
Not yet, @denru01.  Sorry!  I had to rebuild my GPU machine, so dev time on the GPU plugin halted for a while.  Back on track now, though.

[2016-10-07 19:16] vladimirprieto commented on #428
i have the same problem here.  i already install matplotlib but the problem persist.

Glances v2.3 with psutil v3.4.2

this is the last output from debug mode:

[code]

[2016-10-07 22:08] denru01 commented on #170
Thanks for your reply, @kdbanman. Glances is the best tool I have ever seen. However, because it lacks the GPU monitoring functionality, I still need to use nvidia-smi + top. Look forward to having the GPU function in Glances. I am glad to try it even when it is still in the beta stage.

[2016-10-08 06:26] nicolargo commented on #170
@denru01 Thanks for your proposal. Can you said us what kinds of stats is important for you concerning the GPU ? What is your user story concerning the nvidia-smi + top ?

[2016-10-08 20:46] denru01 commented on #170
The most important things for me are the index and name of a GPU and the corresponding memory usage. The information regarding what processes are using GPUs is helpful if there is still a place for it.

top is not that easy to use and well-organized comparing to Glances and I only need partial information from nvidia-smi. Now I need to use two terminal windows to monitor the machine and switch bet

[2016-10-09 16:29] carlba commented on #780
Where do you put these amps files are they read from the config directory or do they have to be in the source?

[2016-10-09 17:56] thomasbl commented on #931
Heya,

I had had the same issue with same error/debug messages and almost same config for influxdb. After playing around a bit I found out that it still works if you use python3 instead of python2. Here is what I was doing:

`
$ virtualenv --python=python3 venv_py3
$ venv_py3/bin/pip install glances influxdb
$ venv_py3/bin/glances --debug -t 5 --export-influxdb --config `pwd`/glances.conf
`

cheer

[2016-10-09 20:15] thomasbl commented on #890
collectd is exporting the uptime as a unix timestamp... maybe it can be done this way in glances, too?

[2016-10-10 08:03] tuwid commented on #935
looks like it, thanks
testing it right away

[2016-10-10 08:39] nicolargo commented on #780
@carlba the embeded AMP Python files (https://glances.readthedocs.io/en/stable/aoa/amps.html#embeded-amp) should be hosted in the glances/amps/ source folder. The script should be named glances_foo.py (replace foo by your AMP name).

[2016-10-10 13:50] nicolargo commented on #170
@kdbanman the memory consumption per GPU seems to be interresting...

[2016-10-10 19:12] nicolargo commented on #875
Implemented in the HEAD of the DEVELOP branch.

@gmiotto : Please test ;)

[2016-10-10 19:59] nicolargo commented on #718
Implementation partially done in the last commit (stat is grabbed but not displayed in the UI).

[2016-10-10 20:01] nicolargo commented on #932
@mbirth: Any head up ? Can i close the issue ?

[2016-10-10 21:10] mbirth commented on #932
Just tested it. Seems to work now. :+1:  Thanks!

[2016-10-10 21:10] #932 closed

[2016-10-11 15:53] kdbanman commented on #170
@nicolargo You're right.  I'm glad you asked @denru01 what information he needs.  Here's what I think, please correct me where I'm wrong:

- The basic stats should still be all GPUs combined because Glances is about a lot more than GPU.
- Expanded stats should include processor and memory stats for each GPU.

   It might seem like giving those stats for each GPU is giving the GPUs too much focus.

[2016-10-11 16:02] nicolargo commented on #170
@kdbanman Agree with you.

Just to summarize:

By default, display the average %.

    2x GPU Nvidia 2GB
    Processor: 85%
    Memory:    75%
    IO:   2.9 GB/s

If the user click on the existing '1' shortkey then display 1 lines per GPU:

    2x GPU Nvidia 2GB
    GPU 1: 80%     Mem: 75%
    GPU 2: 10%     Mem: 5%
    IO:   2.9 GB/s

@denru01 : Is it ok for you ?

[2016-10-11 18:37] denru01 commented on #170
@kdbanman Your explanation is totally reasonable. However, there are more and more servers equipped with one or more GPUs because of its ability for fast computation, especially for AI-related tasks.

@nicolargo It is a good idea for making the interface concise, but there is a potential problem that the "total" memory (or computational power) remaining is not that useful. For example, assuming th

[2016-10-11 19:05] nicolargo commented on #170
@denru01 : thanks for your comment. Yours needs are clear for me. I propose the following implementation for the UI:

1) If only one GPU is detected:

    GPU Nvidia 2GB
    Processor: 85%
    Memory:    75%
    IO:   2.9 GB/s

2) If more than one GPU is detected:

    8x GPUs
    0: 80% Mem: 75%
    1: 10% Mem: 5%
    IO:   2.9 GB/s

3) If more than one GPU is detected and a special hotkey ('G')

[2016-10-11 19:27] denru01 commented on #170
@nicolargo Thanks. Awesome organization! Elegant and useful.

One minor suggestion is that for 5), it can be good to put the corresponding GPU index because it does not make a lot of sense if you don't know the "percentage" given is from which GPU.
For example, 40% (0, 1). I admit that it does not look elegant enough, so I am still thinking about this.

[2016-10-11 23:13] marcwaz commented on #934
Hello, any news about this issue ? Do you need more information in order to solve it ?

[2016-10-12 15:18] bocharsky-bw opened #936 "What about improve project description?"
Now it sounds like:

What about to add a bit more description? It's difficult to find it even when I've starred it on GitHub. Sometimes I forget about its name :) . I think it would be nice to use some keywords like "`top`/`htop` analog" in the project description.

[2016-10-12 20:26] nicolargo commented on #936
@all Any proposal ?

[2016-10-12 21:17] nicolargo opened #937 "Add hotspot Wifi informations"
#### Description

Thanks to the Wifi lib (https://wifi.readthedocs.io/en/latest/scanning.html), grab and display Wifi hotspot information.

This returns a list of Cell objects. Under the hood, this calls iwlist scan and parses the unfriendly output.

Each cell object should have the following attributes:

[code]

For cells that have encrypted as True, there will also be the following attributes:

[2016-10-12 21:20] nicolargo commented on #937
Oopsss...

In [4]: w = wifi.Cell.all('wlan0')
---------------------------------------------------------------------------
InterfaceError                            Traceback (most recent call last)
<ipython-input-4-d03dc42953ac> in <module>()
----> 1 w = wifi.Cell.all('wlan0')

/usr/local/lib/python2.7/dist-packages/wifi/scan.pyc in all(cls, interface)
     39

[2016-10-12 21:28] nicolargo commented on #937
̀``
In [4]: w = wifi.Cell.all('wlp2s0')

In [5]: w
Out[5]:
[Cell(ssid=Freebox-40A258),
 Cell(ssid=FreeWifi),
 Cell(ssid=FreeWifi_secure),
 Cell(ssid=FREEBOX_ALENA_R3),
 Cell(ssid=FreeWifi),
 Cell(ssid=FreeWifi_secure),
 Cell(ssid=)]

In [6]: w['Freebox-40A258']
---------------------------------------------------------------------------
TypeError                                 Traceback (most rece

[2016-10-13 22:35] kdbanman commented on #170
Quick question about when the stats are split (cases 2 and 3), is the displayed IO average across the cards?

<kbd>
<img width="429" alt="gpu_monitoring_ _issue__170_ _nicolargo_glances" src="https://cloud.githubusercontent.com/assets/1323521/19369317/da82fe6e-9161-11e6-9647-53d205a66e79.png">

The IO is the PCIe bus throughput, which is actually [queryable for each device](http://docs.nvidia.com/

[2016-10-14 00:53] mannibis opened #938 "AMP Plugin/Stats not visible in webserver mode?"
#### Description

Would it be possible to get the AMP plugin to display when in webserver mode (-w)? I've just upgraded to 2.7 and I'm loving the new AMP plugin that replaces the process monitor, but I noticed that there is no AMP information available when using webserver mode, which I use almost exclusively to remotely monitor my OSX server from work and other locations. The old process monitor

[2016-10-14 09:54] nicolargo commented on #938
Not reproduced on my site (with Glances 2.7.1)...

Console interface:

![selection_261](https://cloud.githubusercontent.com/assets/776747/19383489/e0a2d230-9204-11e6-90d5-653986154bdd.png)

Web interface:

![selection_262](https://cloud.githubusercontent.com/assets/776747/19383491/e53d5ee6-9204-11e6-83bb-1f32dbf85219.png)

Both show the AMP plugin...

Any log file ? Debug mode (-d).

[2016-10-14 15:45] nicolargo opened #939 "Add a ZeroMQ export module"
#### Description

With this request, Glances will be able to export the stats to a ZeroMQ publisher.

### Info....

ZeroMQ web site: http://zeromq.org/
Python API (Pypi):  https://pypi.python.org/pypi/pyzmq
Python API (Doc): https://pyzmq.readthedocs.io/en/latest/
API examples:
* https://www.digitalocean.com/community/tutorials/how-to-work-with-the-zeromq-messaging-library
* For send_json and recv

[2016-10-15 13:27] nicolargo commented on #939
Done => See the documentation here: https://github.com/nicolargo/glances/blob/develop/docs/gw/zeromq.rst

Please test !

[2016-10-16 20:37] maxpower47 commented on #934
I'm getting the same error as @marcwaz.  It looks like it traces back to https://github.com/nicolargo/glances/commit/483fa29cfa9cec0ffa0adc746dfd097a9e1e7089, which upgraded lodash from 3.10.1 to 4.13.1.  The `forIn` method apparently changed from taking a third argument to specify the "this" context (https://lodash.com/docs/3.10.1#forIn) to not being able to (https://lodash.com/docs/4.16.4#forIn)

[2016-10-17 07:54] denru01 commented on #170
@kdbanman One possible way is removing it from this view. After pushing a hotkey (like "G"), show other details like the names of GPUs, IO values, etc.
However, I don't know whether space is large enough to show all the information.

[2016-10-17 15:30] kdbanman commented on #170
That's my concern.  My initial PR probably won't include IO measurement for that reason.  Once people have had a chance to play with the basic stats, and we actually see how much room is left, then we can add stuff!

[2016-10-18 08:47] nicolargo opened #940 "Docstring convention"
#### Description

This enhancement aims at uniformizing the docstings.

Docstrings
- Docstrings should not start with a space.
- Multi line docstrings should end on a new line.
- Multi line docstrings should start without a leading new line.
- Multi line docstrings should start with a one line summary followed by an empty line.

Example:

[code]

[2016-10-20 09:10] tuwid commented on #931
@nicolargo I tried the --disable-docker tag but it didnt work. I'll try to switch to the dev branch and retry

[2016-10-20 10:55] nicolargo commented on #931
@tuwid For the moment, it should only work on the DEVELOP branch.

Keep us inform.

[2016-10-20 23:38] mannibis commented on #938
So, after a few days and several restarts, it is finally showing AMP stats in webserver mode. I wish I could explain it...

Thanks for the great software that is only getting better and better

[2016-10-20 23:38] #938 closed

[2016-10-21 14:52] nicolargo commented on #937
Preview:

![selection_263](https://cloud.githubusercontent.com/assets/776747/19602742/b592e274-97ae-11e6-8cf0-81ad865effc2.png)

[2016-10-21 20:03] nicolargo commented on #934
@nclsHart / @notFloran : Can you have a look on this issue and propose a patch. @maxpower47 has identified the problem in its lastest comment (https://github.com/nicolargo/glances/issues/934#issuecomment-254072988). Thanks in advance !

[2016-10-21 20:27] nicolargo commented on #937
Implementation available in the DEVELOP branch.

Please test it.

@nclsHart / @notFloran : Can you implement it on the WebUI ?

[2016-10-22 07:36] notFloran commented on #934
I have made a PR to fix the bug : #941

[2016-10-22 08:48] nicolargo commented on #934
Merged ! Thanks @notFloran :)

@marcwaz / @maxpower47 : Please can you test the DEVELOP branch ?

[2016-10-22 11:01] marcwaz commented on #934
Test done. I confirm that now it works ;-). Thx!

[2016-10-22 11:29] nicolargo commented on #934
Perfect ! Thanks to all !

[2016-10-22 11:29] #934 closed

[2016-10-22 11:40] nicolargo commented on #900
Implemented in the HEAD version in the DEVELOP branch.

Please read the doc: https://github.com/nicolargo/glances/blob/develop/docs/config.rst#logging

[2016-10-22 11:40] #900 closed

[2016-10-22 11:43] nicolargo commented on #836
@nclsHart Any head up ?

[2016-10-22 12:14] #939 closed

[2016-10-22 12:14] nicolargo commented on #931
@tuwid Any head up ?

[2016-10-22 12:14] #928 closed

[2016-10-22 12:15] nicolargo commented on #875
@gmiotto : Any head up ?

[2016-10-23 10:53] nicolargo commented on #890
Done in the latest HEAD version of the DEVELOP branch (will be available in the 2.8 version).

Uptime is exported in seconds.

![selection_265](https://cloud.githubusercontent.com/assets/776747/19625686/ada19138-991f-11e6-8fe9-6b320a18ec97.png)

[2016-10-23 10:53] #890 closed

[2016-10-23 17:44] nicolargo commented on #712
Implementation done through the issue #900 .

Read the doc https://github.com/nicolargo/glances/blob/develop/docs/config.rst#logging to configure your own logger.

[2016-10-23 17:44] #712 closed

[2016-10-23 19:17] nicolargo commented on #718
Done in the HEAD version of the DEVELOP branch.

Note that the network speed interface is not available on all systems.

[2016-10-23 19:17] #718 closed

[2016-10-24 07:29] thomasbl commented on #890
thx

[2016-10-24 09:42] themalkolm commented on #712
Thanks!

[2016-10-24 18:09] notFloran commented on #937
@nicolargo I don't have a computer with linux and wifi, can you send me a json of the api results ?

[2016-10-24 18:31] nicolargo commented on #937
@notFloran : Here it is:

**curl http://0.0.0.0:61208/api/2/wifi**

    [{"ssid": "Freebox-40A258", "encrypted": true, "signal": -45, "key": "ssid", "encryption_type": "wpa2", "quality": "65/70"}]

**curl http://0.0.0.0:61208/api/2/wifi/views**

    {"Freebox-40A258": {"ssid": {"decoration": "DEFAULT", "optional": false, "additional": false, "splittable": false}, "encrypted": {"decoration": "DEFAU

[2016-10-25 09:51] nicolargo opened #943 "Use PureSNMP instead of PySNMP"
#### Description

Replace PySNMP by https://github.com/exhuma/puresnmp

Note: Python 3.3+ only ???

[2016-10-26 16:01] RocKordier opened #944 "latest DockerHub Version and latest pip Version doesn't match"
Hey @nicolargo

in my environment i have some servers with docker installed and some without.
So i 've tried to setup a client-server glances infrastructure.

The connection to a glance server (latest docker hub image)  in a pip environment (Glances v2.7.1 with psutil v4.4.2) fails with this error:
[code]

The problem is that you have no tags on docker hub which corresponds with a stable glance re

[2016-10-26 18:26] nicolargo commented on #944
Hi @RocKordier ,

the Glances Docker container available in the purpose is to simplify the test of the DEVELOP branch.

[2016-10-26 18:26] #944 closed

[2016-10-26 19:26] nicolargo commented on #944
Done !

I just add a 'stable' tag based on the master branch.

[2016-10-26 19:51] nicolargo opened #945 "Deprecated platform.linux_distribution() in Python 3.5"
#### Description

Warning message returned by CircleCI (https://circleci.com/gh/nicolargo/glances/417):

/home/ubuntu/glances/glances/plugins/glances_system.py:115: PendingDeprecationWarning: dist() and linux_distribution() functions are deprecated in Python 3.5 and will be removed in Python 3.7
  linux_distro = platform.linux_distribution()

One solution: Use the distro Pypi lib => https://pypi.p

[2016-10-26 20:23] nicolargo commented on #945
Done in the latest commit.

Please test.

[2016-10-27 09:20] nicolargo opened #946 "Deprecate Windows Curse UI: automaticaly open Web Browser for the standalone mode"
#### Description

The Windows Curses interface is a mess. On Windows, Glances standalone mode should start the Web server mode and open automatically the Web browser on the Glances Web UI.

On others systems, an option (--open-web-browser) should be available to have the same behavor.

#### How ?

Use the webbrowser standard lib (https://docs.python.org/2/library/webbrowser.html).

[code]

[2016-10-27 19:39] nicolargo commented on #946
Done in the latest commit in the DEVELOP branch.

[2016-10-27 19:39] #946 closed

[2016-10-27 21:41] yuri-ccp opened #947 "/proc/interrupts not found when running Glances in an OpenVZ container"
First, the Versions!:
Glances v2.7.1 with psutil v2.2.1
LSB Version:	:core-4.1-amd64:core-4.1-noarch
Distributor ID:	CentOS
Description:	CentOS Linux release 7.2.1511 (Core)
Release:	7.2.1511
Codename:	Core
This is an OpenVZ container!

This version of Glances don't run inside a container because it don't have access to /proc/interrupts from inside:

`Traceback (most recent call last):
  File "/us

[2016-10-28 07:10] nicolargo commented on #947
Hello @yuri-ccp

First of all, thanks for your issue and the workaround witch can be used by another users.

A know bug will be corrected in the current DEVELOP branch (next 2.8 release) and the --disable-irq (and all other disables tags) will work.

Nevertheless, i let your issue open because a check should also be done on the /proc/interrupts file before reading it.

[2016-10-28 07:14] nicolargo opened #948 "Refactor the --disable-* options"
#### Description

For the moment, each plugin should manage the --disable-<plugin> option. This option should be managed outside the plugin and should:

* disable the update (return an empty self.stats by calling the reset method)
* disable the msg_curse

#### Versions

* Glances (glances -V): 2.7.1

[2016-10-28 09:21] mbleichner opened #949 "JS error in web frontend"
The web frontend sometimes fails to load, giving a JS error about not being able to find _.padLeft(). In fact, this function has been renamed to _.padStart() in lodash 4.0.0.

Replacing the function call in my local main.js solved the issue for me.

For reference: https://github.com/lodash/lodash/wiki/Changelog
(search for "Method renames")

[2016-10-28 11:59] nicolargo commented on #949
I think that this issue is the same than https://github.com/nicolargo/glances/issues/934#issuecomment-254072988

Should be corrected in the DEVEL branch.

Can you test it ?

[2016-10-28 18:34] yuri-ccp opened #950 "(Terminal) BELLs for critical errors"
**Description**

One of the more interesting functions of the Glances is the ability to detect and show a critical status (when some value is too high or not working correctly), this helps a lot! But sometimes we are not seeing the terminal where the Glances is opened and cannot able to see a critical problem in time.

So I was thinking is could be interesting add some audio support to it. But the

[2016-10-28 19:47] yuri-ccp opened #951 "Enhancements for "glances --browser""
**Description:**

I was testing "glances --browser" and I found it a great feature to help to fast monitor a couple of servers. But theres some things that could be enhanced, I will list my suggestions bellow:
- A auto-connect support:

- A auto-reconnect support:

- A text color and highlight per item per server:

[2016-10-28 20:01] nicolargo commented on #950
Hi @yuri-ccp

Thinks for your proposal.

Did you know that you can implement action on alert ([click here for the Glances action documentation](glances.readthedocs.io/en/latest/aoa/actions.html)) ?

For example, if you want to add a call to a specific program or command line when the load is critical you just have to edit your Glances configuration file:

[code]

You can add _action to all the car

[2016-10-28 20:25] nicolargo commented on #951
Happy to learn that users use this feature ! :)

Some questions/remarks regarding your enhancement request:

- auto-connect support: the default behavior is to connect to the available Glances server, grab the stats and display it, without any human action. If Glances server is protected by a password, this last one should be entered through the user interface or the configuration file ([documenta

[2016-10-28 21:36] yuri-ccp commented on #951
I'm using Glances 2.7.1, currently my servers keep in this state all the time until I try to access each of them:

5 Glances servers available

 Servidor-01           ?        ?       ?       UNKNOWN     127.0.0.1         ?
    Servidor-02          ?        ?       ?       UNKNOWN     x.x.x.x          ?
    Servidor-03          ?        ?       ?       UNKNOWN     x.x.x.x          ?
    Servidor-0

[2016-10-29 21:14] jlsjonas commented on #867
I'd say bind to https://github.com/lavoiesl/osx-cpu-temp?

[2016-10-30 12:37] nicolargo commented on #950
@yuri-ccp the main issue is that on modern systems this may not make a noise, it may instead make a visual indication such as flashing the screen, or do nothing at all. I prefer to change this enhancement request for the implementation of a action_repeat feature.

[2016-10-30 12:47] nicolargo opened #952 "Add new repeat function to the action"
#### Description

The goal of this new feature is to be able to run:

* action repeatedly on threshold. For the moment an action is called only when the threshold is reached.

For example (related to enhancement request https://github.com/nicolargo/glances/issues/950), with the following configuration:

[code]

The bipper.sh script will be called once when the load will be detected as critical.

T

[2016-10-30 12:48] nicolargo commented on #950
REJECTED: will be implemented through the action repeat feature (see https://github.com/nicolargo/glances/issues/952).

[2016-10-30 12:48] #950 closed

[2016-10-30 12:57] #931 closed

[2016-10-30 12:57] #875 closed

[2016-10-30 13:08] nicolargo commented on #947
Done in the DEVELOP branch (will be release in Glances 2.8).

[2016-10-30 13:08] #947 closed

[2016-10-30 15:30] nicolargo commented on #948
Done in the DEVELOP branch.

[2016-10-30 15:30] #948 closed

[2016-10-31 15:00] asergi commented on #922
PySensors != Py3Sensors.
The first doesn't have Python 3 support yet.
The latter is a fork of the first that adds Python 3 support.

[2016-10-31 16:18] asergi commented on #945
@nicolargo
Hi, can we revert this change, please? There really is no need to make `distro` mandatory for Python < 3.7. There really is no need to depend on that library even on Python >= 3.7, imo.

I already addressed the issue in af67cfc. We just need to make use of that function by default on Python >= 3.5.

[2016-10-31 16:50] nicolargo commented on #945
No problem @asergi . Can you make a pull request ?

[2016-10-31 18:51] asergi commented on #945
I can't test at the moment... develop is borked :)
[code]

[2016-10-31 22:39] nicolargo commented on #945
@asergi Can not reproduce on my Python 3.5 virtenv. What is your Docker and Docker-py version ?

[2016-11-01 00:57] SpiGAndromeda opened #953 "hp-health integration"
Hi,

this is a feature request. I am using an HPE Server. HPE provides an linux tool for monitoring different health data of the server. It's called hp-health. For exmaple it provides the fan speed and in some servers also the power consumption. I wanted to know if there could be an hp-health integration for monitoring the fan speed in glances. I guess this could be interesting for all users of an

[2016-11-01 08:20] nicolargo commented on #953
Hi @SpiGAndromeda

if i understand your need, you want to monitor your HP server. What kind of stats are not already available in Glances. When i read the [HP Health command line documentation](https://oitibs.com/hp-health-command-line-ref/), i see:

* FANS => already available through the [sensor plugin](http://glances.readthedocs.io/en/stable/aoa/sensors.html)
*  TEMP => already available throug

[2016-11-01 08:22] nicolargo commented on #170
@kdbanman any head up concerning your implementation ?

[2016-11-01 08:47] asergi commented on #945
None. Just a fresh venv with glances + psutil and nothing more.

[2016-11-01 08:49] nicolargo commented on #210
Installation of the RRD-Python lib is a mess....

[code]

[2016-11-01 08:56] nicolargo commented on #945
@asergi the last commit (0d634d0) on the DEVELOP branch should resolv this issue....

[2016-11-01 09:54] SpiGAndromeda commented on #953
The Fans cannot be recognized by py3sensors, There are only some temp sensors reckognized by glances.
hp-health is used with the hpasmcli command. You could use that by calling the hpasm command line interface and then typing the commands or using the commands directly from the shell:

The following lines shows and example output:
[code]

[code]

[2016-11-01 13:32] nicolargo commented on #951
**Note: There is a technical reason (see https://github.com/nicolargo/glances/blob/develop/glances/client_browser.py#L103-L105)**

[2016-11-02 08:35] Coriou commented on #931
Sorry for late reply !

I have installed latest develop release (v2.7.1_1) and I still have the same error :

[code]

My log file (using `glances -t 5 --export-influxdb -d`) :

[code]

[2016-11-02 10:48] asergi commented on #945
[code]
We can avoid using `platform.linux_distribution()` on Python 3.5-3.6 too, but I think the above solution is better since we don't need to add check for them. Anyway, DeprecationWarning is ignored by default in Python 2.7+. To see them you need to change the warnings filter on purpose (like CircleCI).

[2016-11-03 13:58] jan-schulz-k24 commented on #862
It would be nice if the "theme white" example could be added to the docs :-)

[2016-11-03 15:45] hastinbe opened #954 "IRQ module IOErro"
#### Description

Contrary to expectations, the --disable-irq option doesn't disable the IRQ module and seems to only prohibit its output.  In my case this Linux system doesn't have a /proc/interrupts because of OpenVZ, so the IRQ module throws an IOError.  But I think the bigger question is why are disabled plugin modules being loaded at all?

#### Versions

* Glances (glances -V): v2.7.1
* PSuti

[2016-11-03 21:53] hastinbe commented on #954
Closing. I searched this issue but not on the develop branch. https://github.com/nicolargo/glances/commit/540e840bbb07762275c3ac3a8987cc10651f6c06

[2016-11-03 21:53] #954 closed

[2016-11-03 21:53] nicolargo commented on #954
Duplicated: https://github.com/nicolargo/glances/issues/948

[2016-11-04 16:40] hastinbe opened #956 "Ambiguous args & options after --disable-* refactor"
#### Description

Renaming of arguments and option variables introduced by 634f8fb29b7de7325e657f182b18b7b06c6e8d94 is incomplete for the following:

disable_swap -> disable_memswap
disable_log -> disable_alert

#### Versions

* Glances: 2.8_DEVELOP

[2016-11-05 08:57] nicolargo commented on #956
Thanks for the patch @hastinbe !

[2016-11-05 08:57] #956 closed

[2016-11-05 09:04] #945 closed

[2016-11-05 10:33] nicolargo commented on #519
For information, the next PsUtil release will implement a new oneshot function (used by default through the as_dict process method) to speed up process' stats grab. See https://github.com/giampaolo/psutil/issues/799

[2016-11-05 14:59] nicolargo commented on #937
@notFloran Any news concerning the implementation inside the WebUI ?

[2016-11-05 15:44] nicolargo commented on #858
Postpone, waiting user request...

[2016-11-06 20:21] nicolargo opened #958 "Optimise CPU consumption"
#### Description

PSUtil add a new enhancement request for the as_dict method ([see this post](http://grodola.blogspot.com/2016/11/psutil-500-is-around-twice-as-fast.html))).

Glances should be optimized according to the stats location in the /proc files.

Current status (Glances 2.7.x):

__get_mandatory_stats (called for all processes):
            procstat.update(proc.as_dict(
                at

[2016-11-07 20:58] yuri-ccp commented on #951
So the problem is that as the Glances browser is mono-threaded, if I have for example 10 off-line servers, it will wait all the 10 servers to timeout (the sum of them) before refresh, is it?

This is not a case to open a new thread for each server instead and them populate a list that will be read by the browser (main process) in each refresh process?

[2016-11-08 20:43] shartge opened #959 "PID column too small if kernel.pid_max is > 99999"
I run several systems with kernel.pid_max set to 4194303.

With this setting a PID column of only 6 characters (5 for the numbers and 1 for the spacing) is too small and causes the display to look ugly.

A quick fix would be to increase the size from 6 to 8, but this would waste space on systems with the normal pid_max setting.

The optimal way would be to read kernel.pid_max and adjust automatica

[2016-11-08 21:10] nicolargo commented on #959
Hi @shartge thnaks for the enhancement proposal.

**Note for the implementation**

The maximum PID number is available through the /proc/sys/kernel/pid_max system file (on a Linux OS).

For example on my system:

    $ cat /proc/sys/kernel/pid_max
    32768

The following code on top of the(process list plugin should do the trick:

    len(open('/proc/sys/kernel/pid_max').readline()) - 1

The Curs

[2016-11-09 14:26] Drewster727 opened #961 "Public IP Address"
I'm happy to see the public IP address making it's way into these releases (especially in the export for v2.8).
However, I have an external ipv6 AND ipv4 address. Can we show both of these or allow us to choose which one displayed and exported?

* Glances (glances -V): 2.7
* PSutil (glances -V): 5.0.0
* Operating System (lsb_release -a): Ubuntu Server 14.04 / 16.04

Thanks!

[2016-11-09 20:59] nicolargo commented on #958
Done, no gain...

[2016-11-09 21:00] #958 closed

[2016-11-09 21:02] nicolargo commented on #961
Glances uses online services to grab the external IP address:

[code]

Can you try this on your system and check if one of them return the IPv6 address ?

[2016-11-09 21:08] Drewster727 commented on #961
Sure, here are the results:

- http://ip.42.pl/raw -- IPv4
- http://httpbin.org/ip -- IPv4
- http://jsonip.com -- IPv6
- https://api.ipify.org/?format=json -- IPv4

Looks like jsonip is the only one returning IPv6.

[2016-11-09 21:13] nicolargo commented on #961
Can you copy/paste the result of the http://jsonip.com/ site ?

[2016-11-09 21:15] Drewster727 commented on #961
`{
"ip": "2705:b601:403:1401:80z3:8cx6:de6a:x42x",
"about": "/about",
"Pro!": "http://getjsonip.com"
}`

Here ya go, masked the address a bit tho :)

[2016-11-09 21:19] nicolargo commented on #961
Ok i will have a look but for the moment Glances use the first (fastest) public IP address returned by one of the online services. I can add a tag (and an option in the configuration file) to force the use of jsonip but if the service is not available, no public IP addresses will be displayed...

[2016-11-09 21:23] Drewster727 commented on #961
Perhaps a config option to only display ipv4? You can regex check the reply of each, and if you don't get a match, you don't return a value.

I imagine this will become a more and more relevant issue as public ipv6 addresses become more common.

Thanks!

[2016-11-10 08:50] nicolargo commented on #959
Implementation done in the HEAD version of the DEVELOP branch.

Additionally, the max_pid value is available through the API:

[code]

Note for later: Only available on Linux OS (waiting for PSUtil team -  https://github.com/giampaolo/psutil/issues/720).

[2016-11-10 08:50] #959 closed

[2016-11-10 09:05] #949 closed

[2016-11-10 09:25] nicolargo commented on #820
- commit 4e3ce5e

[2016-11-10 10:00] shartge commented on #959
I think you missed the alignment of the PID header, line 487 in https://github.com/nicolargo/glances/blob/develop/glances/plugins/glances_processlist.py#L487

[2016-11-10 15:52] asergi opened #962 "Glances 2.7 fails to start on Alpine Linux"
Running Glances 2.7 as an unprivileged user fails due to the IRQ plugin:
[code]
Reason: Alpine Linux uses a Linux kernel with grsecurity/PaX patchset by default.

[2016-11-10 16:11] #962 closed

[2016-11-11 15:22] nicolargo commented on #836
Another proposal: in the [outputs] section of the Glances configuration file, add an optional key which define the maximum number of processes to display. This value will be applied on both Web and Curses interface. The default behavior (if the key is not defined) is the same than today:
* Curse UI: the number is dynamically adapted to the terminal height
* Web UI: display all the processes

@aser

[2016-11-12 23:09] kdbanman commented on #170
@nicolargo I'm making progress on the plugin.  I'm rewriting the hack that I had almost working a while ago.  I want to match the style and patterns in the glances codebase as much as possible.

It took me a while to figure out exactly how to structure the `self.stats` field for the new plugin, but I think I figured it out.

For now I am simply ignoring snmp:

[code]

and I am also not providing a

[2016-11-13 08:29] nicolargo commented on #170
Perfect! If you want me to review the current code, just send me the URL of
your branch.

[2016-11-13 10:32] towo opened #965 "Processes showing up as "Con" and others."
#### Description

Not sure what exactly is happening, but it seems like there's some issues with name canonicalization for glances. Process names are shortened in very weird fashions.

This is not the short process mode, FWIW - I can still toggle that and have firefox loose the path, etc.

Process 18694 from the below output has a 2341 character long process name, maybe the issue might be located

[2016-11-13 11:01] asergi commented on #965
Can you test with the latest Glances, please? I think this issue has already been resolved in 2.7.

[2016-11-13 12:01] towo commented on #965
Correct, I'll pester Ubuntu on launchpad, then. Thanks.

[2016-11-13 12:01] #965 closed

[2016-11-13 16:17] asergi commented on #965
Also duplicate of #826.

[2016-11-13 17:37] #937 closed

[2016-11-14 11:31] asergi opened #967 "[develop] Hotkeys broken"
- `'3'` does nothing
- `'5'` doesn't hide top menu
- if you hit the `'g'` key Glances crashes:
[code]

[2016-11-17 20:23] nicolargo commented on #967
Corrected !

Thanks for the head up @asergi

[2016-11-23 12:13] nangong opened #970 "Type Error when export to influxdb"
I am exporting glances into infludb, but the following error happens and meanwhile glances crashed:

[code]

Both of my glances service and influxdb service are managed by docker , here is my docker-compose.yml:

[code]

I print several logs in glances_ports.py, and I found the code in the method "_port_scan" ,
[code]
 in which the logger print the following message:

[code]
the first line shows t

[2016-11-23 17:49] arwhiz123 opened #971 "Exporting CSV : Mismatching Data in columns"
#### Description

when we generate csv using **glances -t 1  --export-csv /home/eddi/glances/GlancesLog100User.csv**

![image](https://cloud.githubusercontent.com/assets/23705299/20572586/db48e7c8-b1cd-11e6-9f81-ac6a432902ab.png)

[2016-11-23 20:17] nicolargo commented on #970
Strange... I will have a look.

As a workaround you can try to disable the port plugin:

     - "GLANCES_OPT=--export-influxdb -q --disable-port"

[2016-11-23 20:22] nicolargo commented on #971
I think that this issue is duplicated and solved in Glances 2.7 or higher => https://github.com/nicolargo/glances/issues/847

What is your Glances version ?

[2016-11-24 03:03] nangong commented on #970
With --disable-port flag, here is another problem:
[code]
I add a log line into glances/exports/glances_export.py line 141:
[code]
and I found the problem is caused by the following dict:
[code]

[2016-11-24 08:11] nicolargo commented on #970
On my testbed, i have the following configuration:
- One container for InfluxDB
- One container for Grafana
- Glances DEVELOP branch running on the host

Everything works.

So perhaps the problem came from the Glances Docker version. On the Docker hub, you have to tags:
- stable: for Glances 2.7.1 (Git master branch)
- latest: for Glances 2.8_BETA (Git develop branch)

Can you try with both contai

[2016-11-24 10:03] arwhiz123 commented on #971
I'm Using Glances v2.7.1 with psutil v5.0.0

![image](https://cloud.githubusercontent.com/assets/23705299/20594213/1e1cf916-b257-11e6-8643-7bb0bb58126a.png)

[2016-11-24 10:18] arwhiz123 commented on #847
I'm using latest build of glances .... CSV issue still reproduce

[2016-11-24 11:13] nangong commented on #970
When I tagged the docker version i.e. "stable", everything works fine. I found the problem only appeared with the "latest" version. Here is my glances.log.
Thanks for help

[glances.log.zip](https://github.com/nicolargo/glances/files/611157/glances.log.zip)

[2016-11-24 11:13] #970 closed

[2016-11-24 11:17] nangong commented on #970
When I use the stable version everything works fine, the problem only appears with the "latest" version

[2016-11-24 16:51] dkanejs opened #972 "Web Server Mode doesn't render tasks correctly"
#### Description

On a fresh installation I run `glances -w` and navigate to [http://localhost:61208](http://localhost:61208)

The task list time column looks like the following:

![screenshot_2016-11-24_16-55-20](https://cloud.githubusercontent.com/assets/1489861/20606109/ce5473fe-b266-11e6-8085-a52a89fdd110.png)

#### Versions

* Glances (glances -V): v2.6.2
* PSutil (glances -V):  v4.2.0
* Oper

[2016-11-24 20:18] nicolargo commented on #972
Can you try with the latest stable release Glances 2.7.1 ?

Thanks !

[2016-11-24 20:21] nicolargo commented on #971
Do not know...

Can you try to run Glances in debug mode (option -d) and send us back the /tmp/glances.log file (in a [paste/bin](http://pastebin.com/) link) ?

[2016-11-24 23:27] dkanejs commented on #972
I used `apt-get` to install glances.

After removing and using `pip` to install 2.7.1 it's all working now :+1:

[2016-11-24 23:27] #972 closed

[2016-11-25 12:09] arwhiz123 commented on #971
http://pastebin.com/emiAe1gE

[2016-11-26 11:30] egyptianbman opened #973 "Influxdb via SSL"
#### Description

Is there any way to send influxdb data via SSL? Adding an option for `ssl` might be the most direct route to achieve this.

#### Versions

* Glances (glances -V): develop branch, latest running in docker
* PSutil (glances -V): develop branch, latest running in docker
* Operating System (lsb_release -a): Fedora, running on docker

#### Logs

[code]

[2016-11-26 14:11] nicolargo commented on #973
In the InfluxDB API, the constructor has two options:

* ssl (bool) – use https instead of http to connect to InfluxDB, defaults to False
* verify_ssl (bool) – verify SSL certificates for HTTPS requests, defaults to False

Note for developer: To be tested.

[2016-11-26 14:14] nicolargo commented on #971
and also passte/bin an extract of your CSV output file (more easy to debug...).

[2016-11-26 15:23] nicolargo commented on #951
Hi @yuri-ccp , i just push a commit (468623c) in the DEVELOP branch to use multi-thread instead of mono.
Can you try it on your system ?

[2016-11-26 15:57] nicolargo commented on #170
@kdbanman Hi ! What is the status of the implementation ?

Need some help ?

[2016-11-26 21:32] egyptianbman commented on #973
I'm trying to fix this locally and am finding that even if you pass `verify_ssl=False`, it still throws a warning if the ssl certificate isn't "valid". To get around this, I'm calling it via `python -W ignore -m glances....`.

[2016-11-27 03:32] dkanejs opened #974 "Github Wiki Spelling error"
It's impossible to issue pull requests for a GitHub Wiki, but you might want to fix the spelling of "Server" in the API Docs:

https://github.com/nicolargo/glances/wiki/The-Glances-2.x-API-How-to#serveur-side

[2016-11-27 20:08] nicolargo commented on #974
Corrected !

Thanks ;)

[2016-11-27 20:08] #974 closed

[2016-11-27 21:16] nicolargo commented on #820
Commit 258dbbf

Scrutinizer mean before: 6.38 after: 6.39 (https://scrutinizer-ci.com/g/nicolargo/glances/?branch=develop)

[2016-11-27 21:32] kdbanman commented on #170
Hi @nicolargo!  The most basic of stats are implemented (GPU processor and memory utilization percent).

Can you have a look to make sure I'm returning stats in the right structure?

The plugin file is here:

https://github.com/kdbanman/glances/blob/feature/gpu-nvidia/glances/plugins/glances_nvidia.py

[2016-11-27 21:33] kdbanman commented on #170
Also, how do I "register" the plugin with glances so that it will return stats with:

[code]

Specifically, how do I tell the API about the new `/gpu` url path?

[2016-11-27 21:46] nicolargo commented on #170
Hi @kdbanman

Your plugin looks great. If i understand, it return a list of dict (each dict contains the GPU stats).
The structure is OK for me.

You do not have to "register" the plugin. The API (both Restful or XML/RCP) load dynamically all the plugins hosted into the plugin folder. So the curl http://localhost:61209/api/2/gpu should work out of the box.

Nicolas

[2016-11-27 21:49] nicolargo commented on #170
Oh, i understand !

Your plugin is called glances_nvidia, so you have to use the following URL:

    curl http://localhost:61209/api/2/nvidia

But it is better to call it gpu ;)

[2016-11-28 16:51] kdbanman commented on #170
I agree with you on the naming.  I'll rename the plugin.

For the future, if/when AMD GPU support is being added, some code will have
to be shuffled around so that `glances_gpu` can read from both card types.
But it shouldn't be hard to have both gpu monitoring classes expose the
same interface to be consumed by the existing gpu plugin.  Future problem!

On Sun, Nov 27, 2016 at 2:49 PM Nicolas Hen

[2016-11-28 16:57] kdbanman commented on #170
Two specific questions:

1. What does the `key` field do in the stats?  Each dict in the list has a `key`, and I'm just wondering how that's consumed and where.
2. This adds a pip requirement `nvidia-ml-py`.  Should I just add that to the `requirements.txt`?  Or is there something special you want to do, since not all machines will have nvidia hardware?  I'm currently not sure how pip behaves when

[2016-11-28 17:16] nicolargo commented on #170
@kdbanman my answers:

1. the 'key' is used to parse the dict in the display and export module
2. the requirement should be added to the optional-requirements.txt https://github.com/nicolargo/glances/blob/develop/optional-requirements.txt file

Nicolas

[2016-11-29 09:29] nangong opened #975 "Is that possible to know what happens in specific time?"
I use Grafana + influxdb + glances to monitor my server. Is that possible to save the top cost processes into influxdb by glances?

[2016-11-29 19:23] chris-martin opened #976 "Coloring is difficult to read on a white background"
I just tried glances-2.6.2 in Gnome Terminal with the default black-on-white color scheme, and the primary gray text color is fairly unreadable.

![screenshot from 2016-11-29 14-18-32](https://cloud.githubusercontent.com/assets/399718/20725299/4f33a1bc-b63f-11e6-8417-1f402460ac90.png)

If glances is intended only for a dark background, then perhaps it should set a background color explicitly?

[2016-11-29 19:27] chris-martin commented on #976
Oh, I just found the `--theme-white` option, which is nice, but - It would be great to have a single command that's usable regardless of which terminal emulator I'm using at the moment.

[2016-11-29 20:11] nicolargo commented on #975
Not for the moment but the proposal is interesting.

Related to the issue: https://github.com/nicolargo/glances/issues/794.

[2016-11-29 20:31] nicolargo commented on #976
Goog idea but the get background color of the Curses API do not work as excepted:

![image](https://cloud.githubusercontent.com/assets/776747/20727686/ccd9cd72-b67a-11e6-8ffb-d454cdb8df5e.png)

[2016-12-03 13:14] nicolargo opened #977 "Enhance Glances browser color"
#### Description

Enhancement related to issue https://github.com/nicolargo/glances/issues/951

Currently the "glances --browser" colorizes the entire line of the server based on status. But the ideal is that each item have their own color/highlight independently based on careful/warning/critical configs for each server (and if my #950 suggestion be accept with bells too).

[2016-12-03 13:21] nicolargo commented on #870
Postpone, had to resolve (or find a workaround) the CPU consumption before any implementation.

[2016-12-03 14:30] nicolargo commented on #836
@notFloran : I just a add a new entry point in the Restful API to retrieve configuration items from the configuration file.

For example, if my configuration file is:

    [outputs]
    # Theme name for the Curses interface: black or white
    curse_theme=black

Then the Restfull api return:

    curl http://0.0.0.0:61208/api/2/config
    {"outputs": {"curse_theme": "black"}}

Can you implement th

[2016-12-04 10:18] nicolargo commented on #869
Test of Pywebview.

Install (on Ubuntu):

Change the glances_bottle.py start function:

    def start(self, stats):
        """Start the bottle."""
        # Init stats
        self.stats = stats

        # Init plugin list
        self.plugins_list = self.stats.getAllPlugins()

        # Bind the Bottle TCP address/port
        bindurl = 'http://{}:{}/'.format(self.args.bind_address,

[2016-12-10 09:25] #951 closed

[2016-12-10 09:33] nicolargo commented on #170
Hi @Katyucha , any progress concerning this issue ?

I want to release Glances 2.8 during Chrismas vacations.Do you think that it is possible to have a first version of the plugin with basics stats before the end of the year ?

[2016-12-11 16:42] nicolargo commented on #794
I just try to code a first version in a local branch. The main problem is that the process stats update is done asynchronously in a specific thread. So when the stats are exported we are not sure that the process stats are completed. One workaround is to force the update before the export. But it cost a lot of CPU consumption...

[2016-12-13 02:01] Mirppc commented on #506
I ran into the same issue.  the only temps i get with glances on any of my distros and machines is the hard drive temps, and that is only some of the time or if there is a Hitachi drive installed.  I get nothing in the sensors panel for any other temperature monitors.

[2016-12-13 02:05] Mirppc commented on #637
This will be very useful on other device like the Odroid or the CHIP.  The Odroid thermal sensor for the SoC is in the thermal_zone and for some reason will not show up in lm-sensors.  Not entirely sure where it is on the CHIP but it is likely the R8 SoC has a tempature monitor.

[2016-12-14 14:36] nicolargo commented on #977
The Windows [getbkgd](https://docs.python.org/2/library/curses.html#curses.window.getbkgd) of the Curses Lib allows return 0 on my system...

[2016-12-15 08:34] towo commented on #811
Need no, interested yes; it would probably be sufficient to just hook into PAM and let that do the heavy lifting.

[2016-12-15 14:41] seanvree opened #978 "Different data displayed when accessing via WAN?"
Running Glances on Windows 10U as a service (NSSM)
Python:  3.5 64 Bit

I've noticed that some data don't show up if I access the box from outside my LAN. Is this by design?  Not a big deal, but it's got me scratching my head.

Box.ip:61028:  http://imgur.com/mxpHMDJ
mysite.com:61208:    http://imgur.com/A2FZJcW

Sick platform. THANKS!

[2016-12-16 05:39] kdbanman commented on #170
@nicolargo The `gpu_plugin.py` is complete, and the additional requirement is in the `optional-requirements.txt` file.  I can make a pull request with that work done if you like.

I was hoping to make a full contribution, with all unit testing and all view implementation done as well, but I just don't have the spare time to do that right now.  So will just the working plugin be enough for now?

[2016-12-16 05:56] kdbanman commented on #170
^^^ The PR is right there.  Please poke it!  An [AWS G2 instance](https://aws.amazon.com/ec2/instance-types/#g2) makes a good test machine.

[2016-12-16 20:07] alebianco opened #980 "[WebUI] Not working when served from iframe"
#### Description

I'm running glances in web server mode inside a docker container.
There's nginx in front of it with the reverse proxy rules as suggested in the wiki.

Glances' web page is then served in an iframe by [muximux](https://github.com/mescon/Muximux) (just my way of managingall the webservices from one place).

The pages loads blank and throws several errors in the console (logs attach

[2016-12-17 09:01] nicolargo commented on #978
Nope, it's strange...

What is the Glances version used on your Windows 10 machine ?

[2016-12-17 09:08] nicolargo commented on #980
Hi @alebianco ,

thanks for the report. Is [the proposed patch](https://github.com/alebianco/glances/commit/52fe3eb85421e0d7953539006a287e0973f0289e) solve your issue ?

[2016-12-17 09:39] nicolargo commented on #170
@kdbanman Please pull the latest HEAD version of the DEVELOP branch. It correct some issue on your Plugin implementation. Can you test it on your AWS G2 instance ?

[2016-12-17 10:17] seanvree commented on #978
@nicolargo  -

Glances v2.7.1 with psutil v5.0.0

[2016-12-17 10:18] nicolargo commented on #978
Can you flush your browser cache and test again ?

___________________________________________________
*Avant donc que d'écrire, apprenez à penser. -+- Nicolas Boileau, Art
poétique -+-*

2016-12-17 11:17 GMT+01:00 seanvree <notifications@github.com>:

[2016-12-17 10:47] alebianco commented on #980
Hi,
I'm trying it, i'll submit a pull request if it does.

Do you know if it will cause other issues?
From what i know that is needed by angular to handle the browser location history, but that feature is not used here.

[2016-12-17 11:04] seanvree commented on #978
@nicolargo  -  That seemed to have worked.

I'll close this for now, if I see it happen again, I'll reopen.

THX

[2016-12-17 11:04] #978 closed

[2016-12-17 13:51] nicolargo opened #981 "New plugin to scan remote Web sites (URL)"
#### Description

Source (mail): http://pastebin.com/s3qUb57p

The goal of this feature request is to be able to monitor remote Web site by using a "Curl" like command and generate alarms and optionals actions regarding the return code.

For example, if a Web site returns a 503 code (Web site not responding), a script should be run to send a SMS to the administrator using the following configurati

[2016-12-17 14:00] nicolargo commented on #981
There are three ways to respond to this need:

1. enhance the existing Ports plugin to be able to send a HTTP request ([using the Request Python lib](http://docs.python-requests.org/en/latest/index.html)), analyse the return code and run alerts if necessary

[code]

2. Create a new AMP ([Glances Application Monitoring Process](http://glances.readthedocs.io/en/stable/aoa/amps.html)) and enhance AMP

[2016-12-17 17:53] kdbanman commented on #170
I can do both of those things later today.  Thank you for fixing that
problem!

On Sat, Dec 17, 2016, 2:39 AM Nicolas Hennion <notifications@github.com>
wrote:

[2016-12-18 06:50] kdbanman commented on #170
@nicolargo There was another error with the GPU plugin that I discovered during testing.  See PR #982.

[2016-12-18 07:34] kdbanman commented on #170
Something important to note about this feature is that it will not work (EX: the API call to retrieve GPU stats will be an empty array) **unless [nvml](https://developer.nvidia.com/nvidia-management-library-nvml) is installed.  This comes with most driver packages, CUDA sdks, and other graphics card tools.  So presumably anyone interested in using glances to monitor their GPUs will already have nv

[2016-12-18 10:26] nicolargo commented on #170
@kdbanman It is not a problem. It's the default behavor for optionals plugins. If the requirement are not avaialble on the system, the plugin return a default value (define in the reset() method). Nothing is displayed in the UI...

You can also update the documentation (in the /docs) folder with a specific chapter about NVML...

[2016-12-18 10:29] nicolargo commented on #170
@kdbanman if you prefer, i can start the development of the plugin Curses interface. It's easy for me. On your side, focus on the extensions of the stats returned by the GPU plugin. Agree ?

[2016-12-18 20:58] kdbanman commented on #170
@nicolargo Yes I can do that.  Just as a preliminary question, does the various views all tolerate `null` values when data is not available?  Or should I report data N/A from the plugin in some other way?

[2016-12-18 21:11] nicolargo commented on #170
Nope, let the plugin return None (converted in null in Json). The UIs
should handle it.

[2016-12-18 21:48] kdbanman commented on #170
Tested with a single GPU ec2 g2 instance.  A small bugfix was required, see #983.

<img width="758" alt="gpu glances" src="https://cloud.githubusercontent.com/assets/1323521/21296798/f4c8c512-c530-11e6-9ce9-ce389f8f142e.PNG">

A multi gpu ec2 instance is very expensive, so I would rather wait to test on that until the feature is ready to release.

[2016-12-18 23:48] denru01 commented on #170
Thanks for your awesome jobs. I run the head of the develop branch on my machine, which has 9 GPUs. The displayed results seem incorrect.

1. The two values before and after the word "mem:" are always the same.
2. The values are different from what I get by using nvidia-smi.

![image](https://cloud.githubusercontent.com/assets/15931850/21297654/0b640a54-c552-11e6-8810-fc2e09e77432.png)
![image](ht

[2016-12-19 03:14] kdbanman commented on #170
That's interesting, @denru01.  What value does it return?  Or does it throw an exception?

[2016-12-19 03:31] denru01 commented on #170
Just a small value. For example, my memory usage is 24%, and the result is just 3% (keep changing). I don't know what the value means.

[2016-12-19 05:04] kdbanman commented on #170
That's surprising! When I wrote the plugin, I was trying to decide on the
best method of grabbing the memory percent. I'll try the alternative you
suggest!
On Sun, Dec 18, 2016 at 8:31 PM denru01 <notifications@github.com> wrote:

[2016-12-19 08:01] denru01 commented on #170
Actually, the working code is a part of the try-catch section:P

[2016-12-19 09:33] seanvree opened #984 "Glances get's stuck on "landing page" after a browser refresh"
Running Glances on Windows 10U as a service (NSSM)
Python: 3.5 64 Bit
Glances v2.7.1 with psutil v5.0.0 (running as a windows source via NSSM)

Problem: Glances get's stuck on "landing page" after a browser refresh.

Have tried firefox and chrome, both do it.

I previously had glances running on python 2.7, but switched to 3.5 64 bit when the issues started.

Nothing is in the logs.

Just wonderin

[2016-12-19 10:46] nicolargo commented on #170
@denru01 the last commit should solve the issue (same value displayed for proc and mem, it was just a display issue... sorry).

[2016-12-19 19:25] nicolargo commented on #984
Can you try to fully reset your browser cache by hitting CTRL-F5.

[2016-12-20 01:59] seanvree commented on #984
@nicolargo   Nope.

[2016-12-20 02:23] denru01 commented on #170
@nicolargo It works, but the memory part is still wrong.

[2016-12-20 07:13] nicolargo commented on #984
Strange... Can you start Glances in debug mode (-d) and pastebin.com us the
log file?

[2016-12-20 07:14] nicolargo commented on #170
Wrong how? Same result than proc?

[2016-12-20 07:37] denru01 commented on #170
Sorry. Let me make it clearer.

The display function is correct. However, just like what I have mentioned, `pynvml.nvmlDeviceGetUtilizationRates(device_handle).memory` does not return the correct memory usage value in my machine for somewhat reasons. After I fixed this problem, everything works correctly.

[2016-12-20 09:59] seanvree commented on #984
@nicolargo

Heres's the debug log file:

http://pastebin.com/8qRf4kpc

I also included a screenshot below.  You'll see the console is reporting data (on the left), but for some reason, it's just not displaying on the browser.

http://imgur.com/oMLxxxF

[2016-12-20 10:15] asergi commented on #946
Actually, it's no longer possible to use console mode on Windows, so it's much more than deprecated. What about removing the `glances/outputs/glances_colorconsole.py` at all?

[2016-12-20 15:50] ucoria-itexico opened #985 "Glances stops after a few minutes when using --export-statsd"
#### Description

Set glances config file to:
[code]
Run:
`sudo glances --export-statsd`

Everything works fine, Interface in terminal appears to be working fine, but after a few minutes it stops and displays:

[code]

~~While trying to extract logs using `sudo glances -d --export-statsd` couldn't replicate~~
Edit: Got the logs

#### Versions

* Glances: Glances v2.7.1
* PSutil: psutil v5.0.0
* Op

[2016-12-20 18:19] nicolargo commented on #984
@notFloran : Can you have a look on this issue ? No idea...

[2016-12-20 18:23] nicolargo commented on #985
The error is not in the export method but in the generation of the display for the IP plugin. Have you the same issue when you do not use the --export-statsd option ?

You can also test those two workarounds:
1. Disable the ip plugin using the --disable-ip option
2. Run Glances in quiet mode (nothing is displayed but the export is done) using the --quiet option

[2016-12-20 21:44] Mirppc opened #986 "Abnormaly high cpu usage using Glances"
#### Description
In idle Glances uses an unsual percentage of one core/thread when running.  This might not be too horrible on a 6950K with over 20 cores or the upcomming Ryzen but on small embedded systems that are being monitored like a MIPS based router, rasberrypi and clones it can  be an issue.  The issue is not distro or OS specific.  I ran across the same issue on Debian, Opensuse, android,

[2016-12-20 22:29] ucoria-itexico commented on #985
Testing workarounds, will let you know results.

[2016-12-21 05:51] seanvree commented on #984
@nicolargo  @notFloran  -  Do you guys KNOW that this works on Windows 10 using py3.5 64 bit?  Like I said, I had it working great using py27 32 bit, this only started working when I changed to 35 64 bit.

[2016-12-22 18:57] ucoria-itexico commented on #985
`--quiet` still stops, gatherling logs and trying with `--disable-ip` after that.

[2016-12-22 19:10] seanvree opened #987 "Can't run Glances as a service in export mode? [windows]"
Running Glances on Windows 10U as a service (NSSM)
Python: 3.5 64 Bit
Glances v2.7.1 with psutil v5.0.0 (running as a windows source via NSSM)

So, I'm using NSSM to run glances on my headless windows 10E server.

Trying to get glances to run as a service while exporting data to influxdb.  I've got glances running as a service fine, the problem is that you have to use the -W switch to get the serv

[2016-12-23 17:21] nicolargo commented on #170
@denru01 Can you send us the result of the following command:

[code]

Thanks !

[2016-12-23 17:34] nicolargo commented on #986
Hi @Mirppc ,

the problem is already know and we try to reduce the CPU consumption in next versions:

* https://github.com/nicolargo/glances/issues/958
* https://github.com/nicolargo/glances/issues/519
* https://github.com/nicolargo/glances/issues/922

Nevertheless, the core issue came from the PSUtil lib used in the processes list plugin. If you do not use the process list, you can disable it and

[2016-12-23 17:53] nicolargo commented on #946
+1 @asergi

[2016-12-24 16:06] nicolargo commented on #836
@notFloran or @nclsHart : Can you implement the proposed solution (https://github.com/nicolargo/glances/issues/836#issuecomment-259980417) in the Web UI ?

[2016-12-25 20:19] nicolargo commented on #170
@denru01 Sorry... here it is:

[code]

[2016-12-25 20:54] denru01 commented on #170
Still get the same error. I feel that get_device_handles() is not a function provided by pynvml, and is implemented in the glances plugin. I guess what you want to get and modify the code, and the result is put below:

`

0

...     print(pynvml.nvmlDeviceGetUtilizationRates(device_handle).memory)
...     mi = pynvml.nvmlDeviceGetMemoryInfo(device_handle)
...     print(mi.used)
...     print(mi.to

[2016-12-26 01:58] wapiflapi opened #988 "cosmetic bug in webUI when 0% swap"
#### Description

After a fresh install on a new PC I noticed a small bug in the webUI (`glances -w`) using chrome. When SWAP usage is at 0% the color red is used but green would make more sense.

![snapshot](https://cloud.githubusercontent.com/assets/1619783/21473795/5be19612-cb16-11e6-9810-2a773b16c0e9.png)

#### Versions

Glances v2.7.1 with psutil v5.0.1
Ubuntu 16.10

[2016-12-26 08:38] nicolargo commented on #170
Ok thanks @denru01 . Looks like  nvmlDeviceGetUtilizationRates did not work as expected on your system...

The last HEAD version of the DEVELOP branch has been modified to only used the nvmlDeviceGetMemoryInfo method.

Can you try it ?

[2016-12-26 08:45] nicolargo commented on #988
Not reproduce on my system, do you have a specific glances.conf file ?

![selection_272](https://cloud.githubusercontent.com/assets/776747/21478856/fe6300ea-cb4f-11e6-99b6-4ba9609ef2e8.png)

[2016-12-26 08:59] #840 closed

[2016-12-26 15:13] wapiflapi commented on #988
Okay. weird. Trying again today everything is perfect. I don't think I changed _anything_ on the system that could possibly affect this. I have no clue what more info I could give now... I guess we can close it for now and I'll report back if it happens again in a reproductible manner.

[2016-12-26 17:50] asergi commented on #946
cefa8b06cefbe3ab3a62bdaa58b2d4ca94a85ddb

[2016-12-26 18:19] asergi commented on #170
If you got `nvidia-ml-py` installed, Glances won't start with python3:
[code]
It's almost 2017 and is a shame we imported a new plugin that depends on a python2-only library. -1.

[2016-12-27 10:23] notFloran commented on #984
@seanvree Can you give me the console log of your browser ?

[2016-12-27 10:43] seanvree commented on #984
@notFloran - not familiar.  Can you give me where to go to find that?

[2016-12-27 10:51] notFloran commented on #984
Go to `http://localhost:61208/`, open the web console (for [Firefox](https://developer.mozilla.org/en-US/docs/Tools/Web_Console/Opening_the_Web_Console) , for [Chrome](https://developer.chrome.com/devtools/docs/console)) and paste me back the result.

[2016-12-27 11:31] nicolargo commented on #836
Solved by the latest commit (thanks @notFloran ):

Before:
![selection_273](https://cloud.githubusercontent.com/assets/776747/21498818/64050bb0-cc30-11e6-8f92-0fa3fd83bf86.png)

After (with max_processes_display=30):
![selection_274](https://cloud.githubusercontent.com/assets/776747/21498819/68655e8a-cc30-11e6-980b-19ad12f8cdf3.png)

[2016-12-27 11:31] #836 closed

[2016-12-27 12:42] seanvree commented on #984
@notFloran , well this is weird, it won't even launch in W mode now, however will launch from a the CLI in non-W mode.

http://imgur.com/CN3D6dk

[2016-12-27 20:30] denru01 commented on #170
Hi,
It works great now. However, it would be better to reduce the number of digits for display (mem).
![image](https://cloud.githubusercontent.com/assets/15931850/21507779/4eb9dc5e-cc49-11e6-93d9-fdb70dc1ea8f.png)

[2016-12-27 20:55] nicolargo commented on #170
@denru01 Perfect. The digit issue is corrected in the HEAD version of the DEVELOP branch.

[2016-12-28 05:41] denru01 commented on #170
Here you go:P
![image](https://cloud.githubusercontent.com/assets/15931850/21514716/4a05eb9c-cc96-11e6-8281-cc5207963f59.png)

[2016-12-28 23:43] mrangryoven commented on #984
Having the same issue, i have to keep restarting glances either using the command or the way i currently have it set up using NSSM. As soon as I restart glances it starts working but for about 5-10 mins before it freezes again and then when you refresh it goes to the loading screen.

[2016-12-29 00:43] seanvree commented on #984
Yup. Glad to know it's not only me.

[2016-12-29 14:45] nicolargo commented on #820
- 53fc7271f10b0d10c0f2ed78169e23069760a6fb
- 6711da190709af6a16dc38fb78c97069972b2469
- 27aa7371fc5b29a398eb44d07b7321bb47b251a0
- 42356c45b371c82268fd994b1acfe3a061a58608
- 657c5f8e896b1e0397115a6ce86d3756aad09d2e
- 1b41b676470ee2c48cc7a15ee1bb5f2a6a810d91

[2016-12-29 16:26] nicolargo commented on #170
Just improve the display (GPU name) and add plugin documentation: https://github.com/nicolargo/glances/blob/develop/docs/aoa/gpu.rst

@denru01 : A last test please ?

[2016-12-30 18:40] kdbanman commented on #170
@asergi Thank you for reporting that python3 crash.  The [`nvidia-ml-py`](https://pypi.python.org/pypi/nvidia-ml-py/4.304.04) library is supposed to support python 3.  It was apparently ported long ago:

And we are now at 4.304.3, so I'm quite confident you found a bug in that library!  I'm unsure where to report it though.

[2016-12-30 21:24] denru01 commented on #170
@nicolargo Do you mean the HEAD of the develop branch? I did not see any difference in the GPU section, at least no GPU names.
I can try as many times as you want. However, because I am traveling, I cannot reply too fast.
Thanks.

[2016-12-30 21:29] nicolargo commented on #170
@denru01 Yes. The last commit of the HEAD version of the DEVELOP branch is 8add69f75e651745e0a692255efff8ec8678f2b0 . Check if you see it using the 'git log' command line.

[2016-12-31 16:57] asergi commented on #967
After the recent refactoring, the following hotkeys don't work: `4`, `5`, `r`, `s`, `d`, `f`, `l`, `n`.

[2016-12-31 17:05] nicolargo commented on #967
Work on it...

[2016-12-31 17:44] nicolargo commented on #967
Hotkeys corrected in the latest commit.

Thanks for the headup and good new year's eve !

[2016-12-31 18:15] asergi commented on #967
Happy New Year's Eve you too!

[2016-12-31 19:49] seanvree commented on #984
@notFloran  -

Update. so I completely ripped out my python installation and all dependencies and reinstalled. Issue is still there.

I'm running both Py27 32b and Py37 32b, and it SEEMS to be happening on both?

i don't think the actual python script is crashing. I think it's the web server aspect. Just an assumption tho.

[2017-01-02 07:56] nicolargo commented on #873
Nope, Sensors did not need root rights...

One workaround is to configure the sudoers file to not ask for password when the 'sudo zpool status zsfpool' command line is asked. Not fan...

[2017-01-02 07:59] nicolargo commented on #985
So ?

[2017-01-02 08:04] nicolargo commented on #984
@seanvree Can you show us the Web console ? It is the only way to investigate...

On Firefox: https://developer.mozilla.org/en-US/docs/Tools/Browser_Console
On Chrome: https://developers.google.com/web/tools/chrome-devtools/shortcuts

[2017-01-02 19:39] notFloran commented on #170
@nicolargo can you give me screenshots of the curse interface for the 2 examples ?

[2017-01-02 19:51] notFloran commented on #984
@nicolargo @seanvree give us a screen of firefox with the console https://i.imgur.com/CN3D6dk.jpg

But I don't understand the problem, it seems that the Glances web server doesn't respond to requests.

@seanvree be careful your glances webui is not protected, anyone can access it

[2017-01-02 19:57] denru01 commented on #170
@nicolargo yes. The version is correct.

[2017-01-02 20:01] nicolargo commented on #170
Here it is:

[{"key": "gpu_id", "mem": None, "proc": 60, "gpu_id": 0, "name": "GeForce GTX 560 Ti"}]

Same interface with and without the 'meangpu' args:

![selection_277](https://cloud.githubusercontent.com/assets/776747/21595388/b86cb8b8-d12d-11e6-80e9-1cd0730e0ba1.png)

[{"key": "gpu_id", "mem": 10, "proc": 60, "gpu_id": 0, "name": "GeForce GTX 560 Ti"}]

Same interface with and without the 'me

[2017-01-02 22:01] mrangryoven commented on #984
@nicolargo https://puu.sh/t93zQ/9847187b41.png Heres what i see, its very much a random time frame, not a set 5 mins and then it will die. It seems to be random but thats what the console says when i try to load glances.

[2017-01-03 13:08] seanvree commented on #984
@nicolargo  - Roger, I'm switching to a reverse proxy, just doing some testing right now.

Here's my screen shot:

http://imgur.com/m4PRuEj

It seems to happen if you close out of the browser then try to go back in.

Does Glances support multiple instances?  Can I have two browsers connecting to the -w server at one time?

thanks,

[2017-01-05 17:15] ky0ncheng opened #991 "AttributeError: 'module' object has no attribute 'connection'"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

For an enhancement or new feature: Describe your needs.

#### Versions

* Glances (glances -V):
Gl

[2017-01-07 08:30] nicolargo commented on #991
Hi @ky0ncheng

the problem seems to come from the Docker lib. Please can you show me your Docker and Docker lib version:

    # pip list | grep docker
    ...
    # docker info
    ...

Thanks

PS: as a workarround please use the --disable-docker option in the glances command line

[2017-01-07 20:10] marzliak commented on #984
Same here with ubuntu 16.

in my case it always start after reboot but after 10 seconds it hangs.

[2017-01-07 21:03] seanvree commented on #984
I think I figured it out.

Are you guys hosting this behind an Apache / IIS server, or otherwise?  @marzliak @mrangryoven ?

[2017-01-07 21:34] marzliak commented on #984
Hey @seanvree thanks for the quick reply. I am using nginx

[2017-01-07 21:37] mrangryoven commented on #984
@seanvree There is Apache running on the server but its running for PlexPy so its not technically "installed" but is active on the server.

[2017-01-07 21:41] seanvree commented on #984
@marzliak @mrangryoven yeah, I'm not familiar with either, but there is no doubt that changing this on my server worked.

[2017-01-08 02:32] marzliak commented on #984
@seanvree can you give us more details please?

[2017-01-08 03:21] seanvree commented on #984
Honestly, unless you're running IIS, I can't.  I'm good at IIS (which is the MS version of Apache, etc), this was even a bit over my head.  What I gather is that essentially the server doesn't have enough resources to keep sending the data.

So, in my case, I have A LOT of applications that are being served by my web server (IIS), and I"m assuming those starved Glances WebUI and therefore it crash

[2017-01-08 07:49] ky0ncheng commented on #991
# pip list | grep docker
docker-py (1.10.6)
docker-pycreds (0.2.1)

------

# glances -w
Traceback (most recent call last):
  File "/usr/local/bin/glances", line 9, in <module>
    load_entry_point('Glances==2.7.1', 'console_scripts', 'glances')()
  File "/usr/local/lib/python2.7/dist-packages/glances/__init__.py", line 195, in main
    args=core.get_args())
  File "/usr/local/lib/python2.7/dist-p

[2017-01-08 09:16] nicolargo commented on #991
@ky0ncheng Ok but we also need your Docker version:

    # docker info

Thanks

[2017-01-08 09:25] #170 closed

[2017-01-08 09:30] nicolargo opened #993 "GPU monitoring (AMD / ATI)"
#### Description

As implemented in the issue https://github.com/nicolargo/glances/issues/170 for the NVidia GPUs, the goal is to enhance the GPU plugin for AMD / ATI GPUs.

First of all, we have to find a Python Lib to grab stats, then change the current plugin to be able to monitor AMD / ATI GPU.

[2017-01-08 09:31] nicolargo opened #994 "GPU monitoring (INTEL)"
Description

As implemented in the issue #170 for the NVidia GPUs, the goal is to enhance the GPU plugin for Intel GPUs.

First of all, we have to find a Python Lib to grab stats, then change the current plugin to be able to monitor Intel GPU.

[2017-01-08 17:39] kdbanman commented on #993
I don't know of any python libraries that do this out of the box.  But [RadeonTop](https://github.com/clbr/radeontop) and [aticonfig](http://man.cx/aticonfig\(1\)) are command line tools that both grab stats.

They can be used like [this](https://github.com/syntaxsugar/aticonfig-indicator/blob/master/aticonfig_indicator/utils.py) to get stats.  That code spawns a subprocess running `aticonfig` and

[2017-01-08 18:28] kdbanman commented on #994
*As shared in #993, [this](http://askubuntu.com/a/387600/355433) and [this](http://askubuntu.com/a/387600/355433) were the starting points of my research*

-----------------------------------------

The [intel-gpu-tools](https://cgit.freedesktop.org/xorg/app/intel-gpu-tools/) library is usually used through a command line tool called [`intel_gpu_top`](https://linux.die.net/man/1/intel_gpu_top) to

[2017-01-10 13:45] Amxx opened #995 "Running both server and webserver at the same time"
Hello,

I'd like to run both glances server (-s) and webserver (-w) on the same machine.
As the server option run on port 61209 (default) and webserver on port 61208 (default) I guessed it would not cause issues.

The idea is to use the same subdomain for both (nginx reverse proxy) so that
system.MYDOMAIN.com:80 → redirection to localhost:61209 for "glances -c" connection
system.MYDOMAIN.com:443 →

[2017-01-10 13:48] Amxx opened #996 "Port in the -c URI"
Hello,

I'm accessing glances on a distance server using `glances -c system.mydomain.com -p 80`.
I'm wondering why it is not possible (and if it could be implemented) to include the port in the domain

The resulting command would be:
`glances -c system.mydomain.com:80`

Thank you

------
Glances v2.7.1 with psutil v5.0.1
Linux Maia 4.9.0-1-ARCH #1 SMP Mon Dec 12 20:18:28 MST 2016 armv7l GNU/Linux

[2017-01-10 19:18] nicolargo commented on #995
Hi @Amxx , if i understand your need, you want to serve both XML/RCP and HTTP/Restful API from one Glances server. It is not possible for the current version (and will not be possible with the next 2.8 release). Nevertheless, it is an interesting enhance request. We need to refactor the server to do that.

As a workaround you can run two Glances server one with the -s and another one with the -w..

[2017-01-10 19:23] nicolargo commented on #996
Chalenge accepted !
![image](https://cloud.githubusercontent.com/assets/776747/21820980/0e1d1eb6-d772-11e6-8c35-9e0f67d43f47.png)

We need to analyse the value of the -c option. If it contains ':', the string should be splitted:

    host, port = value.split(':')

[2017-01-12 15:02] Amxx commented on #996
in one line, no need to check for the existence of ":"

`host, port = (x if x else y for (x,y) in zip(value.partition(':')[::2], (host, port)))`

[2017-01-12 21:03] yuri-ccp commented on #951
Sorry for the delay.

I tested the browser from develop branch for a week (while i'm keeping it opened during about 10 hours) and with 10 remote servers without any problems.

The refresh stays fast and working fine.

[2017-01-14 10:29] carlba commented on #749
I get exactly this error with both the stable(2.7.1) and development (2.8) branches of glances. It happens with both the Elasticsearch and InfluxDB exports.

# Stacktrace
[code]

[glances-root.log.zip](https://github.com/nicolargo/glances/files/705865/glances-root.log.zip)

[2017-01-14 17:20] nicolargo commented on #749
@carlba I do not think that the problem came from the export module. The error is in the network plugin. Can you please then us back the results of the following commands:

On a first terminal, enter:

    # glances  -w

On a second one:

   # http://0.0.0.0:61208/api/2/network

Thanks !

[2017-01-14 22:22] carlba commented on #749
[results.json.zip](https://github.com/nicolargo/glances/files/706247/results.json.zip)

[2017-01-16 09:17] SvenBrunk commented on #931
I would like to mention that I have the very same issue currently with the rabbitmq export. It seems to be a problem on a higher level. Could you post a reference to the commit on develop that is supposed to fix this?

[2017-01-16 10:40] nicolargo commented on #931
The issue 2.7.1 is not the development branch.
The current development branch is 2.8_DEVELOP and can be installed with the following procedure: https://github.com/nicolargo/glances/wiki/Install-and-test-Glances-DEVELOP-version

[2017-01-16 13:08] SvenBrunk commented on #931
I was more after a small patch for this, but I will try the development branch, thanks

[2017-01-16 13:21] SvenBrunk commented on #931
AHA! Now I can at least see the root cause of the problem:

/home/vagrant/glances-venv/local/lib/python2.7/site-packages/requests/packages/urllib3/util/ssl_.py:334: SNIMissingWarning: An HTTPS request has been made, but the SNI (Subject Name Indication) extension to TLS is not available on this platform. This may cause the server to present an incorrect TLS certificate, which can cause validation

[2017-01-16 14:10] tidusjar commented on #985
Had the same problem, but exporting it to InfluxDB.

Running it with `--disable-ip` it works fine.

Full command: `--export-influxdb --config glances.conf --disable-load --disable-ip`

[2017-01-16 14:58] tidusjar opened #997 ""String indicies must be integers, not str" error"
#### Description
After running Glances for some time I am getting the following error (this could be after 3 minutes or 20):

[code]
Running it via: `Glances glances --export-influxdb --config glances.conf --disable-load --disable-ip`

#### Versions

* Glances (glances -V): Glances v2.7.1
* PSutil (glances -V): psutil v5.0.1
* Operating System (lsb_release -a): Windows 10 64bit

#### Logs

http://

[2017-01-16 16:20] tidusjar commented on #997
Further information, added `--disable-network` and I got the same error back but in `glances_disk.py`

[2017-01-17 09:00] SvenBrunk commented on #931
@nicolargo could you please check if that KeyError is still due to the same refactoring please? It seems to me that the data structure just changed or something like that. Everything but the pure curses interface seems not to work properly anymore

[2017-01-17 13:02] SvenBrunk commented on #997
yes... have similar things with --export-rabbitmq... (maybe have a look at #931 )
Using the develop branch gives me another error. Now in glances_export.py

[2017-01-17 13:06] SvenBrunk commented on #985
yep... all related --disable-ip also helps me with #931 #997 and my current problem with --export-rabbitmq

[2017-01-17 17:10] redno2 opened #998 "'Process' object has no attribute 'io_counters' on Solaris"
#### Description
Installed glances with pip install glances on solaris 10.
Python 2.7 and pip installed by pkgutil from source of https://www.opencsw.org

When I run : /opt/csw/bin/glances I've got this error :
Traceback (most recent call last):
  File "/opt/csw/bin/glances", line 11, in <module>
    load_entry_point('Glances==2.7.1', 'console_scripts', 'glances')()
  File "/opt/csw/lib/python2.7/

[2017-01-17 18:59] nicolargo commented on #997
Hi @tidusjar

Can you please start Glances in debug mode --d) and send us back the glances.log file when it bugs ?

Thanks

[2017-01-17 19:02] nicolargo commented on #931
Hi @SvenBrunk , can you double check your Glances version.

It should display:

    glances -V
    Glances v2.8_DEVELOP with psutil v5.0.0

[2017-01-17 19:05] nicolargo commented on #985
@ucoria-itexico Any head up with the --disable-ip test ?

[2017-01-17 19:12] nicolargo commented on #998
Bug confirmed...

Reason ? As said in the PsUtil documentation:

[code]

@redno2 can you send us the result of the following commands:

[code]

Thanks in advance !

[code]

[2017-01-17 19:24] giampaolo commented on #998
@nicolargo `psutil.SUNOS` will be `True` if you're on Solaris

[2017-01-18 08:43] redno2 commented on #998
'sunos5'

Thanks !

[2017-01-18 09:12] tidusjar commented on #997
I'll post it tonight! 😄
Thanks for the assistance

[2017-01-18 09:32] SvenBrunk commented on #931
@nicolargo yes, it does. See the tickets I referenced. You already found that the base error is in ip module. It does no longer occur if I also add --disable-ip
Using glances develop only changed one error to another.
It would of course be better if glances would fail with a bit more helpful error message if there is such a bug in a plugin :)

[2017-01-18 09:54] dayuoba opened #999 "Crash when press e at shell for interactive command on MacOS"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

start glances by type glances at shell
then press `e` for interactive command
then it crashes
![image](https://cloud.githubusercontent.com/assets/9914235/22059231/e7b6d4f2-dda6-11e

[2017-01-18 09:57] cuiweiqiang commented on #999
I have same issue.

[2017-01-18 11:40] asergi commented on #999
This is probably fixed in develop now. Please test it again.

[2017-01-18 16:35] ucoria-itexico commented on #985
--disable-ip doesn't has been working fine too for me

[2017-01-18 17:38] nicolargo commented on #985
Do not understand why the plugin crashs on your system. The stat dictionary should alway have the 'address' key...

I am going to add a check inside the msg_curses but it's a only a patch to hide the source error...

[2017-01-18 19:34] nicolargo commented on #998
@redno2 Should be corrected by the @asergi patch: https://github.com/nicolargo/glances/commit/7740f588dea865534754e8f0177ab4af9a2f49a0

[2017-01-19 07:57] SvenBrunk commented on #985
Hm. Strangely when I start without --disable-ip, but use the webserver, it works today. So the plugin seems to return proper data (also get data from it via JSON API)
I would say the real root cause is still unknown.

[2017-01-19 09:21] cuiweiqiang commented on #999
@asergi it worked ! God job !

[2017-01-19 11:22] tidusjar commented on #997
It's not crashed yet... Strange, before it was crashing pretty consistent, since then the only thing that has changed is that I have restarted my server!

[2017-01-19 16:49] #999 closed

[2017-01-19 18:34] asergi commented on #967
3rd (final?) round: `l` (again), `D`, `I`.

[2017-01-19 18:52] nicolargo commented on #967
Corrected in the last commit 9c0e27c

Thanks for the head up @asergi  !

[2017-01-19 18:52] #967 closed

[2017-01-19 18:53] nicolargo commented on #997
Let the bug open. Stay in tune.
Please came back if needed...

[2017-01-19 20:14] carbolymer commented on #652
For me this solution also does not work. :/

Errors from chrome developer tools:
[code]

[2017-01-21 01:46] bacondropped opened #1000 "Glances is not compatible with the new Docker API 2.0 (Docker 1.13)"
#### Description

After updating Docker client API to 2.0, `glances` reliably crashes with or without
`--disable-docker` with the following traceback:

[code]

Apparently, it happens due to a breaking change in the Python API (`docker` now has the old-style `APIClient` and newer `DockerClient`). If you try to run something like
[code]
.., you'll get an error message that sort of explains what to d

[2017-01-21 08:15] nicolargo commented on #1000
Thanks @bacondropped for this 1000 issue ;)

Your patch also work for older Docker API. Patch will be integrated to the next 2.8 Glances release.

[2017-01-21 08:48] nicolargo commented on #1000
@bacondropped Pushed on DELOP branch, can you test it ?

[2017-01-21 09:04] nicolargo commented on #985
Let the issue open...

[2017-01-21 10:26] bacondropped commented on #1000
@138cb2d seems to work well on my setup.

[2017-01-21 11:15] nicolargo commented on #1000
Thanks for all @bacondropped  !

[2017-01-21 11:15] #1000 closed

[2017-01-21 13:41] nicolargo commented on #998
Test done: https://github.com/nicolargo/glances/commit/7740f588dea865534754e8f0177ab4af9a2f49a0#commitcomment-20563296

[2017-01-21 13:41] #998 closed

[2017-01-21 17:26] #986 closed

[2017-01-21 17:27] nicolargo commented on #986
Already traced in others issues

[2017-01-21 17:29] #980 closed

[2017-01-21 17:32] #971 closed

[2017-01-21 17:35] nicolargo commented on #936
Done but only for the Github repository description.

[2017-01-21 17:35] #936 closed

[2017-01-21 17:36] #935 closed

[2017-01-21 19:38] brianlinuxing commented on #916
The web page at https://pypi.python.org/pypi/Glances as of 21st Jan 2017, still shows the old "cassandra" not "cassandra-driver" in the installation instructions.

[2017-01-21 20:09] bocharsky-bw commented on #936
Much better now! Thanks!

[2017-01-21 23:00] Yamakaky opened #1001 "Dual-stack localhost binding"
Currently, `glances --bind localhost` only listen on ipv4. It should also listen on ipv6.

[2017-01-22 08:54] nicolargo commented on #1001
Nope, you can make it bind to IPv6:

    # glances -s --disable-autodiscover -B '::'
    Glances server is running on :::61209

Check:

    # netstat -an | grep 61209
    tcp6       0      0 :::61209                :::*                    LISTEN

[2017-01-22 08:59] nicolargo opened #1002 "Autodiscover error while binding on IPv6 addresses"
#### Description

While testing the https://github.com/nicolargo/glances/issues/1001 issue.

[code]

Note: Glances works fine if i add the --disable-autodiscovery option

#### Versions

* Glances (glances -V): 2.8
* PSutil (glances -V): 6.0.1
* Operating System (lsb_release -a): Ubuntu 16.04

[2017-01-22 09:28] nicolargo commented on #1002
Done in the HEAD version of the DEVELOP branch.

[2017-01-22 09:28] #1002 closed

[2017-01-22 09:36] nicolargo commented on #916
Just release the Glances 2.8 version and the  https://pypi.python.org/pypi/Glances is up to date with the new cassandra-driver dep.

[2017-01-22 16:40] Yamakaky commented on #1001
Yes, but will it also listen on ipv4? Also, the output should be `Glances server is running on [::]:61209`.

[2017-01-22 17:26] nicolargo commented on #1001
Nope, only IPv6...
With multi platform software, dual stack is a mess:

* http://code.activestate.com/recipes/578504-server-supporting-ipv4-and-ipv6/
* http://stackoverflow.com/questions/16762939/use-of-in6addr-setv4mapped-and-dual-stack-sockets

I will have a look on it for the next release.

Nicolas

[2017-01-22 17:29] nicolargo commented on #936
@bocharsky-bw thanks you for the proposal :)

[2017-01-23 01:51] onedr0p opened #1003 "Docker - Error"
Hi,

I am trying to run glances with docker-compose. I am using your docker container.

Docker version: 1.12.6

docker-compose.yaml
[code]

I get this errors in the console:
[code]

I get the same error when running:
`docker run -v /var/run/docker.sock:/var/run/docker.sock:ro --pid host -it docker.io/nicolargo/glances`

Thanks for all your help!

[2017-01-23 08:58] EwyynTomato commented on #1003
I also have this issue. This is caused by [wifi](https://pypi.python.org/pypi/wifi) library, see [this issue](https://github.com/rockymeza/wifi/issues/93).

My own fix is to create a Dockerfile and install ```wireless-tools``` package:

[code]

and edit docker-compose.yml to build using the Dockerfile:

[code]

[2017-01-23 14:40] thebwt commented on #1003
For those using this from a headless server, add `--disable-wifi` to the GLANCES_OPT section

[2017-01-23 16:44] onedr0p commented on #1003
`--disable-wifi` did the trick thanks!

[2017-01-23 16:44] #1003 closed

[2017-01-23 16:51] nicolargo commented on #1003
I just add the wireless-tools package inside the top level Dockerfile.

It should work out-of-the-box now...

Just wait on or two hours before testing (the Docker build process is long...).

[2017-01-23 22:25] jaxxstorm opened #1004 "Error running glances (no such file or directory)"
#### Description

Clean install on CentOS 7:

#### Versions

* Glances (glances -V): v2.8
* PSutil (glances -V): v5.0.1
* Operating System (lsb_release -a):  lsb_release -a
LSB Version:	:core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-noarch:languages-4.1-amd64:languages-4.1-noarch:printing-4.1-amd64:printing-4.1-noarch
Distributor ID:	CentOS
Description:

[2017-01-24 09:14] karibuTW commented on #1004
Same issue here, on Debian Stretch using the Curl installation process.

[2017-01-24 09:20] nicolargo commented on #1004
Should be solved in the latest version of the glancesautoinstall script.

Please test and report.

[2017-01-24 09:29] karibuTW commented on #1004
Good for me now.

Thanks !

[2017-01-24 09:35] #1004 closed

[2017-01-25 10:11] DJJo14 opened #1007 "interrupts and usb_fiq"
Glances v2.8 with psutil v5.0.1
Distributor ID: Raspbian
Description:    Raspbian GNU/Linux 8.0 (jessie)
Release:        8.0
Codename:       jessie
i get

ValueError: invalid literal for int() with base 10: 'usb_fiq'

because " cat /proc/interrupts" looks like

possible solution, add tease lines of code in File "/usr/local/lib/python2.7/dist-packages/glances/plugins/glances_irq.py", line 181

[2017-01-26 08:56] vorobievalex commented on #991
Could it be a dup of #1054

[2017-01-26 18:13] fraoustin opened #1009 "Enable docker plugin on Windows"
Add docker information on glance run on windows

#### Versions

Glances v2.8 with psutil v5.0.1
Distributor ID: Windows 10
Description:  Microsoft Windows 10 Professional 64bits
Release: 10

Docker 1.13

#### Logs
On windows, we have not information on docker container
It's possible that get information on windows. On Docker for Windows, clients can connect to the Docker Engine through a named pip

[2017-01-26 18:24] fraoustin commented on #1009
add pull request https://github.com/nicolargo/glances/pull/1011

[2017-01-26 19:26] nicolargo commented on #1009
Thanks @fraoustin

Merged in the DEVELOP branch.

Did you test it ?
Can we have a screenshot of the Web UI ?

[2017-01-26 19:26] #1009 closed

[2017-01-27 08:29] fraoustin commented on #1009
Yes I did a test on
Versions

Glances v2.8 with psutil v5.0.1
Distributor ID: Windows 10
Description: Microsoft Windows 10 Professional 64bits
Release: 10
Docker 1.12.13

The result is same that other platform (linux debian jessie)

[2017-01-28 14:56] nicolargo opened #1012 "GPU plugin is display when hitting '4' or '5' shortkeys"
#### Description

The GPU plugin is not hide when hitting '5' (or '4' key). It shall not...

#### Versions

* Glances (glances -V): 2.8

[2017-01-28 15:05] #1012 closed

[2017-01-29 13:55] escproxy commented on #1007
Experienced the same problem. Used supplied fix and it worked. +1

[2017-01-29 16:16] nicolargo commented on #1007
Corrected in the develop branch.

Thanks for the patch @DJJo14

[2017-01-29 16:16] #1007 closed

[2017-01-29 16:19] nicolargo opened #1013 "IRQ plugin is not display anymore"
#### Description

After Curses refactoring (version 2.8), the IRQ plugin is not displayed anymore.

The problem is here: https://github.com/nicolargo/glances/blob/v2.8/glances/outputs/glances_curses.py#L728

#### Versions

* Glances (glances -V): 2.8

[2017-01-29 16:32] nicolargo commented on #1013
Corrected in latest commit on the DEVELOP branch

[2017-01-29 16:32] #1013 closed

[2017-01-29 17:45] ryanborstelmann opened #1014 "Glances in Docker - Docker Stats Missing"
Running latest Docker image using the following `docker run` command:
`docker run -d --name=glances -p 61208:61208 -e GLANCES_OPT="-w" -v /var/run/docker.sock:/var/run/docker.sock:ro --pid host nicolargo/glances`

The Docker stats that usually appear above system processes appears to be missing. I've tried pulling a new image, but that hasn't solved it. This has been running smoothly for a very lo

[2017-01-29 18:03] nicolargo commented on #1014
Not reproduce on my system.

![selection_291](https://cloud.githubusercontent.com/assets/776747/22406548/66efd244-e655-11e6-8f3a-4a1797a77281.png)

with:

[code]

[2017-01-29 23:36] ryanborstelmann commented on #1014
Okay anything I can check to get this working? Running on the latest unRAID install. Let me know if I can provide you with any info you may need.

[2017-01-30 09:09] nicolargo commented on #1014
@ryanborstelmann Yes, try to add the debug option -d in the GLANCES_OPT="-w -d" and paste/bin us the contents of the log file (/tmp/glances*.log - inside the container)

[2017-01-30 19:13] ryanborstelmann commented on #1014
http://pastebin.com/SUPeLaXV

This jumps out at me near the bottom:

[2017-01-30 19:30] ryanborstelmann commented on #1014
Solved :)

unRAID just needed to update their Docker version. All is well now. Thanks for the help @nicolargo, and keep up the great work!

[2017-01-30 19:30] #1014 closed

[2017-01-31 18:06] clounie opened #1015 "How to: Run Glances in subshell?"
#### Description

Goal: Run a glances client (exporting data) via a shell script, then kill the process after an interval of time.

Problem: Glances won't export data when run from another script.

If I use:
[code]
it spits out the errors below...but if I pass the environment when running it, like so:
[code]
...it runs, but doesn't flush any output to the csv file.

#### Versions

* Glances (glanc

[2017-01-31 19:57] nicolargo commented on #1015
Just have a test with the latest Glances release (2.8).

It works with both:

    bash ./test.sh

or

    . ./test.sh

Be aware that Glances may not work if t < 1...

[2017-01-31 20:41] clounie commented on #1015
I upgraded glances on both machines:
[code]
And also changed the time (on server and both clients) to `-t=1` to rule that out. Did not get any results.

[2017-01-31 20:44] nicolargo commented on #1015
Just a (stupid) question. Does the following command line works as expected ?

    glances -t 1 -c <ip-address> --quiet --export-csv ./tmp/raw_data/results.csv

[2017-01-31 20:50] clounie commented on #1015
Nope. Odd, the command no longer works at all...

[2017-02-01 05:49] SpiGAndromeda opened #1016 "Glances crashes in client mode on windows silently"
#### Description

Glances crashes in client mode immediately on Windows 10. Server is running on an Ubuntu Server machine. There are no logs on the server. Firewall is disabled and removed. Same problem. Ports are opened via ufw on ubuntu. Glances is able to start in server mode and web-server mode on windows. Starting server mode and connecting via another cmd in client mode to the local server r

[2017-02-01 09:29] victornoel opened #1017 "Docker image does not work in web server mode!"
Hi,

I ran the following on my system:
[code]

(notice I used the image tagged stable)

and now I see this in the container's log:
[code]

[2017-02-02 12:09] nicolargo commented on #1016
Can you try Glances in debug mode (-d) and paste/bin us the log file.

Thanks.

[2017-02-02 12:10] nicolargo commented on #1017
How do you install your Glances container ?
It seams that the Bootle lib client is not install inside your container.

[2017-02-02 12:13] SpiGAndromeda commented on #1016
This already was debug mode.

[2017-02-02 12:16] nicolargo commented on #1016
You said that Glances crash. What is the error message ?

[2017-02-02 12:29] victornoel commented on #1017
@nicolargo exactly my point :)

I just run the command line you provide in the README which uses your image:
[code]

[2017-02-02 12:37] asergi opened #1018 "[ENH] Use new sensors-related APIs of Psutil 5.1.0"
See https://grodola.blogspot.com/2017/02/psutil-510-temperatures-batteries-and.html.

We could get rid of `batinfo` and `py3sensors`.

[2017-02-02 12:42] nicolargo commented on #1017
Just found an issue on the stable:

    Glances 2.8 does not provide the extra 'WEB'

Try the build latest build instead of the stable one.

    docker.io/nicolargo/glances:**latest**

[2017-02-02 13:47] victornoel commented on #1017
@nicolargo ok, thanks!

[2017-02-02 19:55] nicolargo commented on #1018
Note: on my system (Dell XPS 13)

[code]

[2017-02-03 10:12] SpiGAndromeda commented on #1016
There was no. I starts, you can see that the name of the window in the title bar changes for a second to "python -m glances -c ...". The it returns to the original state and cmd jumps to the next line for input.

[2017-02-03 11:49] Crazybob2 opened #1020 "glances crashes on Raspberry Pi3/Pi2 on archlinuxarm."
#### Description

glances crashes on Raspberry Pi3/Pi2 on archlinuxarm.

Step to reproduce:
Up to date archlinux on RaspberryPi Version 3 or Raspberry Pi Version2.
Start glances without Arguments, just 'glances'.

Expected:
glances will start wirh the general overwiew.

What happend:
After a few seconds glances produces a traceback withot coming up.

Additional information:
glances on Archlinux wi

[2017-02-03 12:05] nicolargo commented on #1020
Rejected: cause duplicated https://github.com/nicolargo/glances/issues/1007

[2017-02-03 12:05] #1020 closed

[2017-02-03 12:06] giampaolo commented on #1018
OK, new psutil version fixing this issue is out.

[2017-02-03 15:17] WarriusBird opened #1021 "Unable to launch Glances on Windows"
#### Description

After successfully installing Glances via pip, the program errors out when attempting to launch.

#### Versions

* Glances (glances -V): v2.8
* PSutil (glances -V): v5.1.1
* Operating System (lsb_release -a): Windows 7
* Python: 2.7.9

#### Logs

In CMD post install:
[code]

I've attempted getting glances to work on my other Windows desktops to similar issues. I wouldn't be surpr

[2017-02-04 04:35] seanvree commented on #984
Any further development on this?  My problems are back. Such a great tool, but so frustrating to have to restart the server every hour or so.

[2017-02-04 15:07] nicolargo commented on #1021
Look like a PsUtil issue...

cc: @giampaolo

[2017-02-04 21:41] nicolargo commented on #1018
Waiting for this issue (encounter on CentOS): https://github.com/giampaolo/psutil/issues/971

[2017-02-04 22:08] quonic commented on #987
I have it running as a scheduled task.
Settings of task:

User: LOCAL SERVICE
Run whether user is logged on or not
Trigger: At log on
Action: Start a program
 - Program: C:\Python27\Scripts\glances.exe
 - Add arguments: -w
Conditions: I toggle everything off
Settings: What I have checked
 - Allow task to be run on demand
 - Stop the task if it runs longer than 3 days
 - In the running task does no

[2017-02-05 07:34] seanvree commented on #987
@quonic  - THere's a better way to do this.

Called NSSM:

path:  C:\Python36\python.exe
Start Dir:  c:\<python path.exe>
Arguments:  -m glances -w

[2017-02-05 13:34] nicolargo commented on #1018
With PsUtil 5.1.2 on Ubuntu:

[code]

[2017-02-05 14:20] nicolargo commented on #1018
Development started in the branch: https://github.com/nicolargo/glances/tree/issue1018

[x] Replace Py3sensors by PsUtil (only temperature, no fan)
[ ] Replace batinfo by PsUtil

[2017-02-05 16:22] seanvree opened #1022 "Glances won't run after updating PIP Packages (The system cannot find the file specified)"
#### Description

After updating all my python packages via PIP, glances will no longer run.  I've tried it on both python2.7 and 3.6

#### Versions

* Glances (glances -V): 2.8
* PSutil (glances -V): 5.1.2
* Operating System (lsb_release -a): Windows 10E

#### Logs

C:\WINDOWS\system32>glances
Traceback (most recent call last):
  File "c:\python27\lib\runpy.py", line 174, in _run_module_as_main

[2017-02-06 15:34] F4b1an opened #1023 "Can't export data to a CSV file in Client/Server mode"
#### Description

I start the glances server successfully with the line:

`glances -s`

And when I try to connect to it and generate a CSV file on the client PC with the information of the server, the system crash. I'm using the following command:

`glances -c IP_SERVER --export-csv /path/to/file/name.csv`

Is it possible to do what I want to do? Am I doing something wrong?

Thanks in advance!

##

[2017-02-06 16:00] nicolargo opened #1024 "Glances export issue with CPU and SENSORS"
#### Description

Glances do not export CPU and SENSORS modules

#### Versions

* Glances (glances -V): 2.8
* PSutil (glances -V): 5.1.2
* Operating System (lsb_release -a): Linux

[2017-02-06 16:03] nicolargo commented on #1022
It should be solved in the next 2.8.1 release.

As a workaround: glances --disable-wifi

[2017-02-06 16:06] nicolargo commented on #1024
Done in DEVELOP branch

[2017-02-06 16:06] #1024 closed

[2017-02-06 16:32] nicolargo commented on #1023
Corrected in the DEVELOP branch. Can you test it on your side ?

[2017-02-06 16:47] nicolargo commented on #1017
Dockerfile change.

[2017-02-06 16:47] #1017 closed

[2017-02-06 16:47] nicolargo commented on #1023
Tested.

[2017-02-06 16:47] #1023 closed

[2017-02-06 16:48] #1022 closed

[2017-02-06 17:11] nicolargo opened #1025 "Security audit - B411"
#### Description

    bandit -r glances/

--------------------------------------------------

   Severity: High   Confidence: High
   Location: glances/compat.py:91
90	    from SimpleXMLRPCServer import SimpleXMLRPCRequestHandler, SimpleXMLRPCServer
91	    from xmlrpclib import Fault, ProtocolError, ServerProxy, Transport
92	    from urllib2 import urlopen, URLError

#### Versions

* Glances (glan

[2017-02-06 17:12] F4b1an commented on #1023
I upgraded Glances and tried again, but I didn't succeed.

Versions:
Glances (glances -V): 2.8
PSutil (glances -V): 5.1.2

[2017-02-06 17:37] nicolargo commented on #1023
It's in the develop branch, please read the Wiki to test and install it

[2017-02-06 18:11] F4b1an commented on #1023
Many thanks. It works!

[2017-02-06 18:12] F4b1an commented on #1023
Many thanks. It worked!

[2017-02-06 18:18] nicolargo commented on #1023
Perfect. Thanks for your support.

[2017-02-06 18:37] nicolargo commented on #1023
Ok Glances 2.8.1 is available !

[2017-02-06 19:28] seanvree commented on #1022
@nicolargo - I've disabled wifi, doesn't work.

[2017-02-06 19:40] F4b1an commented on #1023
Great! I've just tried to upgraded it and I had a problem with python's version. So, I installed python 3.5 and tried again, but I couldn't. When you install Python 3.5 the command's name that appear is "python3.5" instead of "python", I believe the problem is there. Thanks!

[2017-02-07 05:39] seanvree commented on #1022
@nicolargo: hey this works if I run from a prompt, but I'm trying to make it work as I did before as a windows server, but when I call python.exe, I get this error:

Microsoft Windows [Version 10.0.14393]
(c) 2016 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32>cd C:\Python36\

C:\Python36>python.exe -m glances --disable-wifi
Traceback (most recent call last):
  File "C:\Python36\

[2017-02-07 08:42] nicolargo commented on #1022
@seanvree It is a PyNVML error. The lib is not compliant with Python 3. Please uninstall it (pip uninstall nvidia-ml-py).

[2017-02-07 09:16] seanvree commented on #1022
Perfect!

@nicolargo - do you recommend running glances with py3 or py2?

[2017-02-07 09:58] lgromb opened #1026 "InfluxDB export in 2.8.1 is broken"
Hi,

Just tried to export data to InfluxDB with

 `glances --export-influxdb --quiet -d --disable-now` (v2.8.1)

Throws this

` File "/usr/lib/python2.7/threading.py", line 810, in __bootstrap_inner
    self.run()
  File "/usr/lib/python2.7/threading.py", line 763, in run
    self.__target(*self.__args, **self.__kwargs)
  File "/usr/local/lib/python2.7/dist-packages/glances/exports/glances_export.

[2017-02-07 11:38] asergi commented on #1022
@seanvree it was a known [issue](https://github.com/nicolargo/glances/issues/170#issuecomment-269232405) now fixed in f468367522c567ea6badac91cce80092244bb7a5.

It's 2017, use Python 3. My two cents.

[2017-02-07 12:21] nicolargo commented on #1026
Corrected.

Version 2.8.2 will be available soon.

[2017-02-07 12:21] #1026 closed

[2017-02-07 13:46] nicolargo commented on #1021
Add the WindowsError exception to the catched list.

Available into the DEVELOP branch.

[2017-02-07 13:46] #1021 closed

[2017-02-07 14:23] nicolargo commented on #922
Closed: no more useful, future Glances version will use PsUtil. See https://github.com/nicolargo/glances/issues/1018

[2017-02-07 14:23] #922 closed

[2017-02-07 14:58] nicolargo opened #1027 "TypeError: string indices must be integers (glances_percpu.py)"
#### Description

See once:

[code]

#### Versions

* Glances (glances -V): 2.8.2
* PSutil (glances -V): 5.1.2
* Operating System (lsb_release -a): CentOS 7.1

#### Logs

You can also pastebin the Glances logs file (https://glances.readthedocs.io/en/latest/config.html#logging)

[2017-02-07 20:09] jakesherman opened #1028 "Pip install not working for latest version of Glances (>= 2.8.1) on Ubuntu for Python v2.7.6"
Apologies if this issue is known, I searched recent open/closed issues for this and didn't find anything.

I often install `glances` on Ubuntu 14.04.2 LTS EC2 instances running Python 2.7.6. I have never run into this issue before, even though I last installed `glances` successfully only a few days ago. See the error below:

[code]

I have confirmed that this is an issue with the latest version of

[2017-02-07 20:16] nicolargo commented on #1028
Upgrading pip solves the issue:

    pip install --upgrade pip

[2017-02-07 21:28] jakesherman commented on #1028
Thank you!

[2017-02-07 21:28] #1028 closed

[2017-02-07 23:00] angelopoerio opened #1029 "Detect if the current instance is an AWS EC2 instance."
Hi guys,
I would like to propose a new feature I was thinking about. I use glances on several Linux systems (bare metal and cloud ones), it would be very nice if the software could detect if the server I am monitoring is an EC2 instance or not.
It could be implemented in few lines of code: http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html.
This would add a very great va

[2017-02-08 04:27] seanvree commented on #984
This has been fixed with the latest Glances version.

Thx for the hard work!

[2017-02-08 04:27] #984 closed

[2017-02-08 09:01] nicolargo commented on #1027
Analyse: see a second time. The error message happens when the variable cpu is not a dict but a string.

[2017-02-08 09:57] nicolargo commented on #1027
Corrected in the DEVELOP branch.

[2017-02-08 09:57] #1027 closed

[2017-02-08 10:36] nicolargo commented on #1029
Interesting...

Can you be more precise concerning the information (and the corresponding Restful URL) useful for your need ?

Nicolas

[2017-02-08 10:52] angelopoerio commented on #1029
Yes,

I mean these informations. This is very useful if you work with multiple servers spanning in different AWS regions and availability zones.
They could be showed in a box in the main screen of glances

[2017-02-08 16:03] angelopoerio commented on #1029
Do you agree ?

[2017-02-08 16:10] nicolargo commented on #1029
Yes. I propose to display it in a line just bellow the system information:

Before:
[code]

After:
[code]

[2017-02-08 16:13] angelopoerio commented on #1029
So cool!
Be ready to receice a pool request :)

[2017-02-08 19:11] notFloran commented on #876
To manage the following url `http://@server:61208/10` for the refresh time we enabled the html5 mode in AngularJs (see https://docs.angularjs.org/guide/$location for explanation) and with this mode we have to hard code the base url (`<base href="/">` in `index.html`).

Without this mode, the web ui works without problem behind a reverse proxy.

We can disable the html5 mode but the url of the webu

[2017-02-09 16:00] WarriusBird commented on #1021
Quick update:

After upgrading to glances 2.8.2 and reinstalling psutil from the biniary on python.org I'm getting the following:

[code]

This doesn't include the commits towards 2.8.3, but it might be of some interest.

[2017-02-10 01:02] WarriusBird opened #1030 "Global name standalone not defined"
To be clear, this is a different machine and install from #1021

#### Description

When launched, glances appears to start a webserver and launches a webpage that does not load to anything. When Ctrl + C is invoked, an error is called. This persists when launching with the -d flag. API is nonresponsive (going off of recommendations in #745 ) as well.

#### Versions

* Glances (glances -V): 2.8.2
*

[2017-02-10 21:26] nicolargo commented on #1030
Just push a patch on the DEVELOP branch to resolve the error message when Glances is ended. Nevertheless, the main cause of the current issue (webpage that does not load to anything) is not take into account.

[2017-02-10 21:26] nicolargo commented on #1030
@WarriusBird Can you paste/bin us the Glances logs file (debug mode). Thanks !

[2017-02-10 23:28] WarriusBird commented on #1030
Here you go:
http://pastebin.com/hfH81qyR

[2017-02-11 07:23] madvtak opened #1031 "Drives showing up weird - Screenshot attached"
Hi,

Something odd has happened, my drives show up...well odd. Take a look below. I tried to stop and start glances again but it still shows up weird. Any idea how to fix this?

![filesys](https://cloud.githubusercontent.com/assets/18261123/22851996/6f838db0-efe7-11e6-80e4-e0eb0431cb11.png)

I've attached a screenshot to my other server that is working correctly.

![workingfilsys](https://cloud.gi

[2017-02-11 08:45] nicolargo commented on #1030
Nothing wrong on the Glances logs file. Can you show us a screenshot of your browser web console (raccourci clavier Ctrl-Maj-K) ?

[2017-02-11 08:48] nicolargo commented on #1031
Please [follow the template](https://github.com/nicolargo/glances/blob/master/.github/ISSUE_TEMPLATE.md) when you add an issue... We need more information about your configuration.

[2017-02-11 09:08] nicolargo commented on #1018
Done. Waiting for pull request on PsUtil for fans stats.

[2017-02-11 09:08] #1018 closed

[2017-02-11 18:06] fraoustin opened #1032 "Can't install with python 3.4"
installation of glances by pip with python 3.4 is not possible

#### Description

I run pip3 install glances and the result is

[code]

#### Versions

* Glances (glances -V): 2.8.2
* PSutil (glances -V): 5.0.1
* Operating System (lsb_release -a):

- Distributor ID:	Debian
- Description:	Debian GNU/Linux 8.6 (jessie)
- Release:	8.6
- Codename:	jessie

[2017-02-11 18:11] fraoustin commented on #1032
the problem is in setup.py

` 'folders:python_version<"3.5"': ['scandir'],`

If I comment the line, the install is ok and glances work

[2017-02-11 18:21] madvtak commented on #1031
Sorry

`Glances v2.8.2 with psutil v5.1.3`

OS: macOS 10.12.3

[2017-02-12 18:27] nicolargo commented on #1029
@angelopoerio Just implement a first version of the new "cloud" plugin in the latest commit of the DEVELOP branch:

- [x] collect the stats (threaded)
- [x] display the stats in the Curses interface
- [ ] display the stats in the web UI

@notFloran : Can you implement the Web UI ?

![selection_293](https://cloud.githubusercontent.com/assets/776747/22864859/457c0952-f159-11e6-8b76-16281b644c77.png)

[2017-02-12 18:29] nicolargo commented on #1032
Nope the problem is not the setup.py file, the problem is your Pip version.

Please upgrade it:

    sudo pip install --upgrade pip

Then:

    sudo pip install glances

[2017-02-12 18:30] #1032 closed

[2017-02-12 19:10] notFloran commented on #1031
I think I reproduced the bug : when I plug my iPhone, I have the same bug in the webUI.

<img width="793" alt="capture d ecran 2017-02-12 a 20 04 25" src="https://cloud.githubusercontent.com/assets/523981/22865187/2787541e-f15f-11e6-9aaf-4b7b117c2e8b.png">

 In the curse interface the mount point name is cut when is too long, we forgot that in the web UI.

[2017-02-12 19:12] notFloran commented on #1029
@nicolargo I'm on it

[2017-02-12 21:35] WarriusBird commented on #1030
![glances](https://cloud.githubusercontent.com/assets/10179709/22866255/3c7a7e5a-f141-11e6-9097-3196ac77cfb6.PNG)

Not a whole lot to see I'm afraid.

[2017-02-13 06:27] SalvorinFex opened #1033 "error in Glances setup command: Invalid environment marker: python_version<"3.5""
This is similar to issue #1028

#### Description

After updating the PIP install I am receiving this message:
[code]

#### Versions

* Glances (glances -V): 2.6.2
* PSutil (glances -V): 4.2.0
* Operating System (lsb_release -a): OSX 10.9.5

Might have something to where it was installed in my OSX, but not sure how to change that to re-test.

[2017-02-13 08:13] asergi commented on #1033
`pip install -U pip setuptools`

[2017-02-13 08:13] #1033 closed

[2017-02-13 08:17] angelopoerio commented on #1029
@nicolargo cool! I will try it on some EC2 instances

[2017-02-13 16:21] hawkeyej opened #1034 "Can't install on 3.5.x or 2.7.12"
Before filling this issue, please read the manual (https://glances.readthedocs.io/en/latest/) and search if the bug do not already exists in the database (https://github.com/nicolargo/glances/issues).

#### Description

For a bug: Describe the bug and list the steps you used when the issue occurred.

Can't install glances due to this failure:

[code]
Same results with pip versions 6.1.1 and 9.01

[2017-02-13 16:57] asergi commented on #1034
`pip install -U pip setuptools`

[2017-02-13 16:57] #1034 closed

[2017-02-13 21:26] angelopoerio commented on #1029
I run it on a test EC2, it looks great!
Just some suggestions:
* I would show instance-id rather than ami-id (instance-id is the id of the server, ami-id is the image used to boot up the machine)
* I would show instance-type too

@nicolargo what do you think?

[2017-02-14 10:52] nicolargo commented on #1029
@angelopoerio Ok, i will have a look on it.

[2017-02-15 06:19] PaulReiber opened #1035 "OSError: [Errno 1] Operation not permitted"
#### Description

When I run glances as a regular user in a terminal, it works great for a while but eventually crashes. When I run this with sudo it doesn't seem to crash.

[code]
#### Versions

[code]

[2017-02-15 17:00] giampaolo opened #1036 "Speedup glances by using psutil's oneshot() ctx manager"
...in order to get a considerable speedup and hence less CPU consumption, see my blogpost here:
http://grodola.blogspot.com/2016/11/psutil-500-is-around-twice-as-fast.
On Linux with around 300 running process CPU consumption is around 7%.

[2017-02-15 17:03] giampaolo commented on #1036
Nevermind, I just realized that Glances uses `as_dict()`, which internally relies on `oneshot()`, so we're already good.

[2017-02-15 17:03] #1036 closed

[2017-02-15 17:06] giampaolo commented on #1035
This looks like a psutil bug as that exception should have been `AccessDenied`, not `OSError`. `AccessDenied` wouldn't have bubbled up.

[2017-02-15 17:25] giampaolo commented on #1035
I tried to replicate this bug by modifying the C code and make it raise `EACCES` and the `wrap_exceptions` decorator correctly translates `OSError(EACCES)` to `AccessDenied` as dictated here:
https://github.com/giampaolo/psutil/blob/8113eadf7861becfd52dffb634695e93970fdaee/psutil/_psosx.py#L297
...so I'm really not sure why this happens.

[2017-02-15 18:09] PaulReiber commented on #1035
It takes quite some time for the error to happen.

I'll switch away from the tab in iterm and be working elsewhere, then come back to the shell session some time in the future, expecting to see a lovely display, only to find the traceback I shared. In the interim the mac might also get suspended, resumed, or have its networking change out from under it (wifi, vpn).

If there are any special comman

[2017-02-15 18:14] giampaolo commented on #1035
Maybe it's not related but... do you know if the PID being inspected was PID 0?

[2017-02-16 21:55] rmenessec opened #1037 "Sort process list by network I/O"
#### Description

Please add the ability to sort by network I/O. This is an important requirement for me. Having the ability to apply at least simple pcap filters (ex: 'tcp && ! port 22') would also be appreciated.

#### Versions

N/A; feature request

#### Logs

N/A; feature request

[2017-02-16 22:03] giampaolo commented on #1037
I'm not aware of any OS which provides this info. You can get IO counters but that includes both network and disk I/O, which is not what you want.

[2017-02-16 23:23] rmenessec commented on #1037
First: Windows—or [Process Hacker](http://processhacker.sourceforge.net/), at least—**can** do this, at least as of Win7SP1 (what I'm using). However this works, it doesn't seem to even use much CPU time on heavily-loaded systems.

Second, if Linux doesn't provide a way to get network statistics for a process directly, then that just means handling two steps: iftop can certainly provide per-sessio

[2017-02-17 00:20] giampaolo commented on #1037
By "not possible" I meant not possible natively. AFAIK tools like nethogs on Linux (UNIX?) use libpcap which has 2 limitations: 1) requires root access 2) it's an extra dependency requiring additional headers (`apt-get install libpcap-dev`).
With py-libpcap (or whatever it's called) + psutil it would technically be possible though.
I expect libpcap to listen on the network interface, call a callba

[2017-02-17 00:24] giampaolo commented on #1037
I can't find it. Where is this information shown?

[2017-02-17 02:02] rmenessec commented on #1037
@giampaolo I don't know where it's documented, if that's what you're asking. Here's a screenshot of Process Hacker from a Windows VM. Some of these columns, including the network, bitness, and DEP / CF Guard / ASLR columns are not shown by default; they must be selected from a list of available columns.

![virtualbox microsoft puppy puncher](https://cloud.githubusercontent.com/assets/425616/230492

[2017-02-17 14:25] seanvree opened #1038 "glances --export-influxdb starts webserver?"
#### Description

Trying to export to influxdb, however, it starts the webserver instead?

CMD output:

C:\WINDOWS\system32>python3.6 -m glances --export-influxdb
Glances web server started on http://0.0.0.0:61209/

#### Versions

Glances v2.8.2
psutil v5.1.3
Python 3.6
Windows 10P

[2017-02-17 22:00] nicolargo commented on #1038
Bug confirmed. On Windows OS, the Web mode is used by default. Actually the Web mode is not compatible with the --export-<foo> options.

Proposal, on Windows OS, when a --export-<foo> function is detected, Glances will be ran in "quiet" mode.

[2017-02-18 05:29] seanvree commented on #1038
@nicolargo  - Right, that's what I thought.

Any other way to run the --export-influxdb then?

[2017-02-18 10:38] archusr commented on #501
Thanks! On Arch this currently needs https://aur.archlinux.org/packages/python-py3sensors-hg/

[2017-02-22 08:27] nicolargo commented on #1038
Corrected in the HEAD of the DEVELOP branch.

Will be release in Glances 2.8.3.

[2017-02-22 08:27] #1038 closed

[2017-02-22 08:38] nicolargo commented on #1037
Related to issues:

* Adding TCPTrack like funtionality #870
* Add process network connection information #529

All tests i have done conclude with the same result: "too much CPU consumption for the value added by the feature."

[2017-02-23 09:59] angelopoerio commented on #1029
Other useful informations: the provisioning script used to boot up a new instance in AWS (but it can be applied to other provider too) is cloudinit (https://cloudinit.readthedocs.io/en/latest/).
If you check /var/log/cloud-init.log on any EC2 instance you can find a lot of useful informations

[2017-02-24 16:07] kikaida opened #1040 "Docker Web Password"
Does --password work with the docker version? I've tried running:

`docker run -d --name=dookie --restart="always" -p 61208-61209:61208-61209 -e GLANCES_OPT="-w --password" -v /home/dookie/glances/glances.conf:/glances/conf/glances.conf -v /var/run/docker.sock:/var/run/docker.sock:ro --pid host docker.io/nicolargo/glances`

But I'm just getting these errors:

`EOFError /usr/lib/python2.7/getpass.p

[2017-02-25 17:39] nicolargo commented on #1037
Hi @rmenessec / @giampaolo

i just write a peace of Python code:

https://github.com/nicolargo/pythonarena/blob/master/psnettop/psnettop.py

which:

1. listen from all Ethernet packets
2. filter TCP and UDP packets (do not take ARP or ICMP packets into account)
3. check if it is a incoming or outgoing packet (thanks to the psutil.net_connections())
4. add the size (with header) to a dict (the key

[2017-02-26 09:39] nicolargo commented on #1040
Hi @kikaida

the first time Glances server is ran with the --password option, it asks for the password (twice) and if the password should be stored (hash) in a file (~/.config/glances/glances.pwd by default).

If you want to add a password to your Docker Glances server, i propose to try the following procedure:

1) outside the container, run Glances with the following options:

[code]
2) CTRL-C to

[2017-02-26 17:09] kikaida commented on #1040
@nicolargo

Your solution worked. Thanks!

[2017-02-26 17:21] nicolargo commented on #1037
An optimized version of the script is available here:

https://github.com/nicolargo/pythonarena/blob/master/psnettop/psnettop2.py

What's new ?

1) the sniffer is threaded
2) the psutil.net_connections() is only called every refresh (3 seconds)
3) yes we steel need to run it as root...

but the CPU consumption is "acceptable" (on my Laptop: ~ 3% if there is no flow and 5% with some internet flows)

[2017-02-26 17:23] nicolargo commented on #1040
I will add a reference to the procedure in the documentation.

[2017-02-26 19:49] #1040 closed

[2017-02-28 14:53] Nesousx opened #1041 "Glances into Docker and network stats"
Hi,

Not sure if this is the right place to ask, but I'll go.

#### Description

I am running Glances into Docker. I export all the data to influxdb and visualize it vi Grafana. All of them inside docker.

At first, I faced a small issue, where I couldn't get information about all my host filesystems from the Glances container.

Then I found a small trick to fix it. In order to get the missing fil

[2017-02-28 15:07] pokey commented on #1035
I'm seeing this too.  @giampaolo how do I tell if the PID being inspected was PID 0?  I just ran glances with no arguments, waited a while, and came back to see this